Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, check-coredns-versions, golangci-lint, kube-api-linter, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock

schema-chart:
  name: schema-chart
  entry: make schema-chart
  language: system

go-generate:
  name: go-generate
  entry: make go-generate
  language: system
  pass_filenames: false

check-coredns-versions:
  name: check-coredns-versions
  entry: make coredns.sync
  language: system

golangci-lint:
  name: golangci-lint
  entry: make lint
  language: system
  pass_filenames: false

kube-api-linter:
  name: kube-api-linter
  entry: make lint-kube-api
  language: system
  pass_filenames: false

chart-docs:
  name: chart-docs
  entry: make chart-docs
  language: system
  pass_filenames: false

hugo-mod-tidy:
  name: hugo-mod-tidy
  entry: bash -c "cd docs && hugo mod tidy"
  language: system
  pass_filenames: false

examples-sync:
  name: examples-sync
  entry: make examples.sync
  language: system
  pass_filenames: false

apis-sync:
  name: apis-sync
  entry: make apis.sync
  language: system
  pass_filenames: false

addons-sync:
  name: addons-sync
  entry: make addons.sync
  language: system
  pass_filenames: false

addons-repo-yaml:
  name: addons-repo-yaml
  entry: make template-helm-repository
  language: system
  pass_filenames: false

check-devbox-lock:
  name: check-devbox-lock
  entry: devbox install
  language: system
  pass_filenames: false

Removing unnessary values from values template file
  charts/cluster-api-runtime-extensions-nutanix/addons/k8s-registration-agent/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/k8s-registration-agent/kustomization.yaml.tmpl
  pkg/handlers/generic/lifecycle/k8sregistrationagent/handler.go
Due: go-generate, golangci-lint, chart-docs, addons-sync, addons-repo-yaml

added unit testing code
  pkg/handlers/generic/lifecycle/k8sregistrationagent/handler.go
  pkg/handlers/generic/lifecycle/k8sregistrationagent/variables_test.go
Due: go-generate, golangci-lint

fixup! test: Add metadata for CAAPH v0.4.3
  test/e2e/data/shared/v1beta1-caaph/metadata.yaml
Due: none

fixup! build: Sync CAPX APIs and examples
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanix_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixfailuredomain_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixmachine_types.go
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  hack/examples/overlays/clusterclasses/nutanix/kustomization.yaml.tmpl
  hack/examples/patches/nutanix/remove-cluster-and-subnet-from-machinetemplates.yaml
Due: go-generate, golangci-lint, kube-api-linter, chart-docs, examples-sync, apis-sync

fixup! build: Run go mod tidy
  api/go.sum
Due: go-generate, golangci-lint, kube-api-linter

fix: Remove Cilium chainingMode when kubeproxyreplacement is enabled
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/values-template.yaml
Due: chart-docs

fix: Remove Cilium chainingMode when kubeproxyreplacement is enabled (#1340)
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/values-template.yaml
Due: chart-docs

fixup! refactor: move bootstrap provider handlers
  pkg/handlers/generic/mutation/kubeadm/controlplanevirtualip/inject.go
Due: go-generate, golangci-lint

build: include AWS Load Balancer controller in Helm chart
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/addons/aws-load-balancer-controller/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/addons/aws-load-balancer-controller/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/aws-load-balancer-controller/kustomization.yaml.tmpl
  hack/tools/fetch-images/main.go
  make/addons.mk
Due: schema-chart, go-generate, golangci-lint, chart-docs, addons-sync, addons-repo-yaml

feat: deploy AWS Load Balancer controller
  pkg/handlers/lifecycle/awsloadbalancercontroller/doc.go
  pkg/handlers/lifecycle/awsloadbalancercontroller/handler.go
  pkg/handlers/lifecycle/config/cm.go
  pkg/handlers/lifecycle/handlers.go
Due: go-generate, golangci-lint

docs: add AWS Load Balancer controller docs
  docs/content/addons/aws-load-balancer-controller.md
Due: hugo-mod-tidy

fix: Align validation with upstream Kubeadm Bootstrap Provider types
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
Due: go-generate, golangci-lint, kube-api-linter

fix: Align validation with upstream Kubeadm Bootstrap Provider types (#1342)
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
Due: go-generate, golangci-lint, kube-api-linter

release(main): v0.35.1
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

release(main): v0.35.1 (#1343)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

minor changes
  docs/content/addons/k8s-registration-agent.md
  pkg/handlers/generic/lifecycle/k8sregistrationagent/handler.go
  pkg/handlers/generic/lifecycle/k8sregistrationagent/variables_test.go
Due: go-generate, golangci-lint, hugo-mod-tidy

formatting changes
  pkg/handlers/generic/lifecycle/k8sregistrationagent/handler.go
Due: go-generate, golangci-lint

feat: enable Cilium source IP preservation (#1295)
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/values-template.yaml
Due: chart-docs

refactor: Use metallb APIs instead of unstructured (#1317)
  api/external/go.universe.tf/metallb/api/v1beta1/bfdprofile_types.go
  api/external/go.universe.tf/metallb/api/v1beta1/bgpadvertisement_types.go
  api/external/go.universe.tf/metallb/api/v1beta1/bgppeer_conversion.go
  api/external/go.universe.tf/metallb/api/v1beta1/bgppeer_types.go
  api/external/go.universe.tf/metallb/api/v1beta1/community_types.go
  api/external/go.universe.tf/metallb/api/v1beta1/doc.go
  api/external/go.universe.tf/metallb/api/v1beta1/groupversion_info.go
  api/external/go.universe.tf/metallb/api/v1beta1/ipaddresspool_types.go
  api/external/go.universe.tf/metallb/api/v1beta1/l2advertisement_types.go
  api/external/go.universe.tf/metallb/api/v1beta1/servicebgpstatus_types.go
  api/external/go.universe.tf/metallb/api/v1beta1/servicel2status_types.go
  api/external/go.universe.tf/metallb/api/v1beta1/zz_generated.deepcopy.go
  api/external/go.universe.tf/metallb/api/v1beta2/bgppeer_conversion.go
  api/external/go.universe.tf/metallb/api/v1beta2/bgppeer_types.go
  api/external/go.universe.tf/metallb/api/v1beta2/doc.go
  api/external/go.universe.tf/metallb/api/v1beta2/groupversion_info.go
  api/external/go.universe.tf/metallb/api/v1beta2/zz_generated.deepcopy.go
  cmd/main.go
  hack/third-party/metallb/go.mod
  hack/third-party/metallb/go.sum
  hack/third-party/metallb/provider.go
  make/apis.mk
  pkg/handlers/generic/lifecycle/serviceloadbalancer/metallb/configuration.go
  pkg/handlers/generic/lifecycle/serviceloadbalancer/metallb/handler.go
  test/e2e/e2e_suite_test.go
  test/e2e/resource_helpers.go
  test/e2e/serviceloadbalancer_helpers.go
Due: go-generate, golangci-lint, kube-api-linter, apis-sync

feat: cilium configuration overrides for EKS provider (#1316)
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/values-template.yaml
  examples/capi-quick-start/eks-cluster.yaml
  hack/addons/update-cilium-manifests.sh
  hack/examples/additional-resources/eks/cilium-configmap.yaml
  hack/examples/overlays/clusters/eks/kustomization.yaml.tmpl
  hack/examples/patches/eks/cilium-with-custom-values.yaml
  hack/examples/patches/eks/initialize-variables.yaml
  hack/tools/fetch-images/main.go
  pkg/handlers/generic/lifecycle/cni/cilium/template.go
  pkg/handlers/generic/lifecycle/cni/cilium/template_test.go
Due: go-generate, golangci-lint, chart-docs, examples-sync, addons-sync

feat: add volume APIs to AWS and EKS Nodes (#1309)
  api/v1alpha1/aws_node_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksworkernodeconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  docs/content/customization/aws/volumes.md
  pkg/handlers/aws/mutation/metapatch_handler.go
  pkg/handlers/aws/mutation/volumes/inject.go
  pkg/handlers/aws/mutation/volumes/inject_control_plane.go
  pkg/handlers/aws/mutation/volumes/inject_control_plane_test.go
  pkg/handlers/aws/mutation/volumes/inject_suite_test.go
  pkg/handlers/aws/mutation/volumes/inject_worker.go
  pkg/handlers/aws/mutation/volumes/inject_worker_test.go
  pkg/handlers/aws/mutation/volumes/variables_test.go
  pkg/handlers/eks/mutation/metapatch_handler.go
  pkg/handlers/eks/mutation/volumes/inject_suite_test.go
  pkg/handlers/eks/mutation/volumes/inject_worker.go
  pkg/handlers/eks/mutation/volumes/inject_worker_test.go
  pkg/handlers/eks/mutation/volumes/variables_test.go
Due: go-generate, golangci-lint, kube-api-linter, hugo-mod-tidy

build: go1.25.1 to fix CVE (#1314)
  api/go.mod
  common/go.mod
  devbox.json
  devbox.lock
  go.mod
  hack/flakes/flake.lock
  hack/flakes/flake.nix
  make/go.mk
Due: go-generate, golangci-lint, kube-api-linter, check-devbox-lock

refactor: add new kube-proxy mode disable option (#1319)
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_kubeadmclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  api/variables/aggregate_types.go
  api/variables/getters.go
  common/pkg/capi/utils/annotations.go
  docs/content/customization/generic/kube-proxy-mode.md
  examples/capi-quick-start/aws-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/eks-cluster.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-with-failuredomains-cilium-helm-addon.yaml
  hack/examples/patches/skip-kube-proxy.yaml
  make/go.mk
  pkg/handlers/generic/lifecycle/cni/cilium/handler.go
  pkg/handlers/generic/lifecycle/cni/cilium/handler_integration_test.go
  pkg/handlers/generic/lifecycle/cni/cilium/template.go
  pkg/handlers/generic/mutation/kubeproxymode/inject.go
  pkg/handlers/generic/mutation/kubeproxymode/inject_test.go
Due: go-generate, golangci-lint, kube-api-linter, hugo-mod-tidy, examples-sync

fix: Ciliums kube-proxy replacement rollout and wait (#1307)
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/values-template.yaml
  hack/addons/update-cilium-manifests.sh
  hack/tools/fetch-images/main.go
  pkg/handlers/generic/lifecycle/cni/cilium/handler.go
  pkg/handlers/generic/lifecycle/cni/cilium/handler_integration_test.go
  pkg/handlers/generic/lifecycle/cni/cilium/template.go
  test/e2e/serviceloadbalancer_helpers.go
Due: go-generate, golangci-lint, chart-docs, addons-sync

feat: update Cilium to latest version (#1318)
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/cilium-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

feat: Enable configurable parallel image pulls (#1306)
  .pre-commit-config.yaml
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_kubeadmclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  docs/content/customization/generic/parallel-image-pulls.md
  pkg/handlers/generic/mutation/handlers.go
  pkg/handlers/generic/mutation/parallelimagepulls/embedded/kubeletconfigpatch.yaml
  pkg/handlers/generic/mutation/parallelimagepulls/inject.go
  pkg/handlers/generic/mutation/parallelimagepulls/inject_test.go
  pkg/handlers/generic/mutation/parallelimagepulls/variables_test.go
Due: go-generate, golangci-lint, kube-api-linter, hugo-mod-tidy

fix: use nodeadm mutations (#1332)
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/eks-cluster-class.yaml
  hack/examples/bases/eks/clusterclass/clusterclass.yaml
  hack/examples/overlays/clusterclasses/eks/kustomizeconfig.yaml
  pkg/handlers/eks/mutation/testutils/request.go
  pkg/handlers/generic/mutation/ntp/inject.go
  pkg/handlers/generic/mutation/ntp/inject_test.go
  pkg/handlers/generic/mutation/taints/inject_worker.go
  pkg/handlers/generic/mutation/taints/inject_worker_test.go
  pkg/handlers/generic/mutation/users/inject.go
  pkg/handlers/generic/mutation/users/inject_test.go
Due: go-generate, golangci-lint, chart-docs, examples-sync

test: reduce polling frequency on PC API (#1312)
  test/e2e/framework/nutanix/client.go
Due: go-generate, golangci-lint

build: downgrade clusterctl version (#1330)
  devbox.json
  devbox.lock
Due: check-devbox-lock

ci: Upgrade devbox install action and remove custom golangci-lint (#1322)
  .github/workflows/blackduck.yaml
  .github/workflows/checks.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/devbox-update.yml
  .github/workflows/e2e.yml
  .github/workflows/github-pages.yml
  .github/workflows/govulncheck.yml
  .github/workflows/release-tag.yml
  devbox.json
  devbox.lock
  hack/flakes/flake.nix
Due: check-devbox-lock

feat: add identityRef for AWS and EKS clusters (#1311)
  api/v1alpha1/aws_clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksclusterconfigs.yaml
  api/v1alpha1/eks_clusterconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/aws-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/eks-cluster-class.yaml
  docs/content/customization/aws/controlplaneloadbalancer.md
  docs/content/customization/aws/identity-ref.md
  docs/content/customization/aws/network.md
  docs/content/customization/aws/region.md
  docs/content/customization/eks/_index.md
  docs/content/customization/eks/identity-ref.md
  hack/examples/overlays/clusterclasses/aws/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/eks/kustomization.yaml.tmpl
  pkg/handlers/aws/mutation/identityref/inject.go
  pkg/handlers/aws/mutation/identityref/inject_suite_test.go
  pkg/handlers/aws/mutation/identityref/inject_test.go
  pkg/handlers/aws/mutation/metapatch_handler.go
  pkg/handlers/eks/mutation/identityref/inject.go
  pkg/handlers/eks/mutation/identityref/inject_suite_test.go
  pkg/handlers/eks/mutation/identityref/inject_test.go
  pkg/handlers/eks/mutation/metapatch_handler.go
Due: go-generate, golangci-lint, kube-api-linter, chart-docs, hugo-mod-tidy, examples-sync

build: Update Kubernetes patch versions for tests (#1310)
  .github/workflows/checks.yml
  make/kind.mk
  test/e2e/config/caren.yaml
Due: none

release(main): v0.35.0 (#1335)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: hugo-mod-tidy

release(main): v0.34.0 (#1331)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: hugo-mod-tidy

feat: update capa with nutanix fork (#1329)
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/awsmachine_types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/zz_generated.deepcopy.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/bootstrap/eks/api/v1beta2/eksconfig_types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/bootstrap/eks/api/v1beta2/nodeadmconfig_types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/bootstrap/eks/api/v1beta2/nodeadmconfigtemplate_type.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/bootstrap/eks/api/v1beta2/types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/bootstrap/eks/api/v1beta2/zz_generated.deepcopy.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/controlplane/eks/api/v1beta2/types.go
  clusterctl.yaml
  hack/examples/bases/aws/cluster/kustomization.yaml.tmpl
  hack/examples/bases/aws/clusterclass/kustomization.yaml.tmpl
  hack/third-party/capa/go.mod
  hack/third-party/capa/go.sum
  make/clusterctl.mk
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-capa/metadata.yaml
Due: go-generate, golangci-lint, kube-api-linter, examples-sync, apis-sync

build: Update all tools via devbox update (#1328)
  .github/workflows/blackduck.yaml
  .github/workflows/checks.yml
  .github/workflows/e2e.yml
  .github/workflows/release-tag.yml
  .pre-commit-config.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_kubeadmclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  devbox.lock
  hack/flakes/flake.lock
  hack/flakes/flake.nix
  hack/tools/go.mod
  make/helm.mk
Due: go-generate, golangci-lint, chart-docs, check-devbox-lock

docs: Upgrade to docsy 0.12.0 with hugo >= 0.146.0 support (#1315)
  devbox.json
  devbox.lock
  docs/go.mod
  docs/go.sum
  docs/layouts/_default/_markup/render-heading.html
  docs/layouts/_markup/render-heading.html
Due: go-generate, golangci-lint, hugo-mod-tidy, check-devbox-lock

feat: additionalTags handlers for AWS and EKS (#1333)
  api/v1alpha1/aws_clusterconfig_types.go
  api/v1alpha1/aws_node_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksworkernodeconfigs.yaml
  api/v1alpha1/eks_clusterconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  docs/content/customization/aws/tags.md
  docs/content/customization/eks/tags.md
  pkg/handlers/aws/mutation/metapatch_handler.go
  pkg/handlers/aws/mutation/tags/inject.go
  pkg/handlers/aws/mutation/tags/inject_cluster.go
  pkg/handlers/aws/mutation/tags/inject_cluster_test.go
  pkg/handlers/aws/mutation/tags/inject_control_plane.go
  pkg/handlers/aws/mutation/tags/inject_control_plane_test.go
  pkg/handlers/aws/mutation/tags/inject_suite_test.go
  pkg/handlers/aws/mutation/tags/inject_worker.go
  pkg/handlers/aws/mutation/tags/inject_worker_test.go
  pkg/handlers/aws/mutation/tags/variables_test.go
  pkg/handlers/eks/mutation/metapatch_handler.go
  pkg/handlers/eks/mutation/tags/inject_cluster.go
  pkg/handlers/eks/mutation/tags/inject_cluster_test.go
  pkg/handlers/eks/mutation/tags/inject_suite_test.go
  pkg/handlers/eks/mutation/tags/inject_worker.go
  pkg/handlers/eks/mutation/tags/inject_worker_test.go
Due: go-generate, golangci-lint, kube-api-linter, hugo-mod-tidy

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  check-coredns-versions: any of: ^api/versions/coredns.go$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  kube-api-linter: any of: ((^api/(.*\.go|go.mod|go.sum))|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/helm-chart-bundler/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$
