Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, golangci-lint, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock, check-coredns-versions

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/mindthegap-helm-registry/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$
  check-coredns-versions: any of: ^api/versions/coredns.go$

feat: Add context to preflight check messages (#1210)
  pkg/webhook/preflight/generic/registry.go
  pkg/webhook/preflight/generic/registry_test.go
  pkg/webhook/preflight/generic/spec.go
  pkg/webhook/preflight/generic/spec_test.go
  pkg/webhook/preflight/nutanix/credentials.go
  pkg/webhook/preflight/nutanix/credentials_test.go
  pkg/webhook/preflight/nutanix/image.go
  pkg/webhook/preflight/nutanix/image_test.go
  pkg/webhook/preflight/nutanix/specs.go
  pkg/webhook/preflight/nutanix/specs_test.go
  pkg/webhook/preflight/nutanix/storagecontainer.go
  pkg/webhook/preflight/nutanix/storagecontainer_test.go
  pkg/webhook/preflight/preflight.go
  pkg/webhook/preflight/preflight_test.go
Due: go-generate, golangci-lint

feat: Skip FD dependent preflight checks when failureDomain configured (#1213)
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/specs.go
  pkg/webhook/preflight/nutanix/storagecontainer.go
  pkg/webhook/preflight/nutanix/storagecontainer_test.go
Due: go-generate, golangci-lint

fix(test): address review feedback
  pkg/controllers/failuredomainrollout/controller.go
  pkg/controllers/failuredomainrollout/controller_test.go
Due: go-generate, golangci-lint

feat(failuredomains): add failure domain rollout controller (#1207)
  charts/cluster-api-runtime-extensions-nutanix/templates/role.yaml
  cmd/main.go
  pkg/controllers/failuredomainrollout/controller.go
  pkg/controllers/failuredomainrollout/controller_test.go
  pkg/controllers/failuredomainrollout/doc.go
  pkg/controllers/failuredomainrollout/flags.go
Due: go-generate, golangci-lint, chart-docs

fix(helm): add failuredomain rollout controller config to helm chart
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/templates/deployment.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
Due: schema-chart, chart-docs

fix(helm): add failuredomain rollout controller config to helm chart (#1214)
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/templates/deployment.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
Due: schema-chart, chart-docs

NCN-108428: When failureDomain is used, machineDetails "cluster" and "subnets" should be optional instead of required
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  api/v1alpha1/nutanix_node_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  pkg/handlers/generic/mutation/kubeproxymode/variables_test.go
  pkg/handlers/nutanix/mutation/controlplanefailuredomains/variables_test.go
  pkg/handlers/nutanix/mutation/machinedetails/inject.go
  pkg/handlers/nutanix/mutation/machinedetails/inject_control_plane_test.go
  pkg/handlers/nutanix/mutation/machinedetails/variables_test.go
  pkg/webhook/cluster/nutanix_validator.go
  pkg/webhook/preflight/nutanix/failuredomain.go
  pkg/webhook/preflight/nutanix/storagecontainer.go
  pkg/webhook/preflight/nutanix/storagecontainer_test.go
Due: go-generate, golangci-lint

fix: adds 0 as valid value for daysBeforeExpiry
  api/v1alpha1/controlplane_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  pkg/handlers/generic/mutation/autorenewcerts/inject.go
Due: go-generate, golangci-lint

fix: reverted log for no config and added validation unit test
  pkg/handlers/generic/mutation/autorenewcerts/inject.go
  pkg/handlers/generic/mutation/autorenewcerts/inject_test.go
Due: go-generate, golangci-lint

fix(webhook): Update the topology admission webhook logic
  pkg/webhook/cluster/nutanix_validator.go
  pkg/webhook/cluster/nutanix_validator_test.go
Due: go-generate, golangci-lint

feat: Support AWS PlacementGroups
  api/v1alpha1/aws_node_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  pkg/handlers/aws/mutation/metapatch_handler.go
  pkg/handlers/aws/mutation/placementgroup/inject_control_plane.go
  pkg/handlers/aws/mutation/placementgroup/inject_control_plane_test.go
  pkg/handlers/aws/mutation/placementgroup/inject_suite_test.go
  pkg/handlers/aws/mutation/placementgroup/inject_worker.go
  pkg/handlers/aws/mutation/placementgroup/inject_worker_test.go
  pkg/handlers/aws/mutation/placementgroup/variables_test.go
Due: go-generate, golangci-lint

fix(preflight): check storage containers on all failure domains
  pkg/webhook/preflight/nutanix/clients_test.go
  pkg/webhook/preflight/nutanix/storagecontainer.go
  pkg/webhook/preflight/nutanix/storagecontainer_test.go
Due: go-generate, golangci-lint

refactor: reduce cyclomatic complexity
  pkg/webhook/preflight/nutanix/storagecontainer.go
Due: go-generate, golangci-lint

refactor: appease the linter
  pkg/webhook/preflight/nutanix/storagecontainer.go
Due: go-generate, golangci-lint

fix(ccm): Update Nutanix CCM to v0.5.2
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync

WIP
  api/v1alpha1/controlplane_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  pkg/handlers/generic/mutation/autorenewcerts/inject.go
Due: go-generate, golangci-lint

fix(ccm): Update Nutanix CCM to v0.5.2 (#1220)
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync

fix(preflight): check storage containers on all failure domains (#1215)
  pkg/webhook/preflight/nutanix/clients_test.go
  pkg/webhook/preflight/nutanix/storagecontainer.go
  pkg/webhook/preflight/nutanix/storagecontainer_test.go
Due: go-generate, golangci-lint

fix(preflight): ensure MDs without overrides are also checked
  pkg/webhook/preflight/nutanix/specs.go
  pkg/webhook/preflight/nutanix/specs_test.go
Due: go-generate, golangci-lint

fix: Use JSONPath in check result fields
  pkg/webhook/preflight/generic/registry.go
  pkg/webhook/preflight/generic/registry_test.go
  pkg/webhook/preflight/generic/spec.go
  pkg/webhook/preflight/generic/spec_test.go
Due: go-generate, golangci-lint

fix(preflight): ensure MDs without overrides are also checked (#1216)
  pkg/webhook/preflight/nutanix/specs.go
  pkg/webhook/preflight/nutanix/specs_test.go
Due: go-generate, golangci-lint

fix: Use JSONPath in check result fields (#1221)
  pkg/webhook/preflight/generic/registry.go
  pkg/webhook/preflight/generic/registry_test.go
  pkg/webhook/preflight/generic/spec.go
  pkg/webhook/preflight/generic/spec_test.go
Due: go-generate, golangci-lint

fix: machineDetails fields "cluster" and "subnets" should be optional
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  api/v1alpha1/nutanix_node_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  pkg/handlers/generic/mutation/kubeproxymode/variables_test.go
  pkg/handlers/nutanix/mutation/controlplanefailuredomains/variables_test.go
  pkg/handlers/nutanix/mutation/machinedetails/inject.go
  pkg/handlers/nutanix/mutation/machinedetails/inject_control_plane_test.go
  pkg/handlers/nutanix/mutation/machinedetails/variables_test.go
  pkg/webhook/cluster/nutanix_validator.go
  pkg/webhook/cluster/nutanix_validator_test.go
  pkg/webhook/preflight/nutanix/failuredomain.go
  pkg/webhook/preflight/nutanix/storagecontainer.go
  pkg/webhook/preflight/nutanix/storagecontainer_test.go
Due: go-generate, golangci-lint

fix: machineDetails fields "cluster" and "subnets" should be optional (#1217)
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  api/v1alpha1/nutanix_node_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  pkg/handlers/generic/mutation/kubeproxymode/variables_test.go
  pkg/handlers/nutanix/mutation/controlplanefailuredomains/variables_test.go
  pkg/handlers/nutanix/mutation/machinedetails/inject.go
  pkg/handlers/nutanix/mutation/machinedetails/inject_control_plane_test.go
  pkg/handlers/nutanix/mutation/machinedetails/variables_test.go
  pkg/webhook/cluster/nutanix_validator.go
  pkg/webhook/cluster/nutanix_validator_test.go
  pkg/webhook/preflight/nutanix/failuredomain.go
  pkg/webhook/preflight/nutanix/storagecontainer.go
  pkg/webhook/preflight/nutanix/storagecontainer_test.go
Due: go-generate, golangci-lint

test: pass type when unmarshalling
  common/pkg/testutils/capitest/variables.go
  common/pkg/testutils/openapi/validate.go
Due: go-generate, golangci-lint

test: correctly run CEL validator for structs
  common/pkg/testutils/openapi/cel.go
  common/pkg/testutils/openapi/validate.go
Due: go-generate, golangci-lint

test: validation tests for autorenewcerts var
  pkg/handlers/generic/mutation/autorenewcerts/variables_test.go
Due: go-generate, golangci-lint

fix(auto-cert-renewal): adds 0 as valid value for daysBeforeExpiry (#1218)
  api/v1alpha1/controlplane_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  common/pkg/testutils/capitest/variables.go
  common/pkg/testutils/openapi/cel.go
  common/pkg/testutils/openapi/validate.go
  pkg/handlers/generic/mutation/autorenewcerts/inject.go
  pkg/handlers/generic/mutation/autorenewcerts/inject_test.go
  pkg/handlers/generic/mutation/autorenewcerts/variables_test.go
Due: go-generate, golangci-lint

fixup! refactor: Create placementGroup struct
  api/v1alpha1/aws_node_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  pkg/handlers/aws/mutation/placementgroup/inject_control_plane.go
  pkg/handlers/aws/mutation/placementgroup/inject_control_plane_test.go
  pkg/handlers/aws/mutation/placementgroup/inject_worker.go
  pkg/handlers/aws/mutation/placementgroup/inject_worker_test.go
  pkg/handlers/aws/mutation/placementgroup/variables_test.go
Due: go-generate, golangci-lint

feat: Add more context to MetalLB config apply conflict errors
  pkg/handlers/generic/lifecycle/serviceloadbalancer/metallb/handler.go
Due: go-generate, golangci-lint

fix(webhook): Use a XOR for failure domain webhook validation
  pkg/webhook/cluster/nutanix_validator.go
  pkg/webhook/cluster/nutanix_validator_test.go
Due: go-generate, golangci-lint

feat: Add scale from zero cluster-autoscaler support
  charts/cluster-api-runtime-extensions-nutanix/addons/cluster-autoscaler/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cluster-autoscaler/manifests/cluster-autoscaler-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  docs/content/addons/cluster-autoscaler.md
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/update-cluster-autoscaler.sh
  make/addons.mk
Due: chart-docs, hugo-mod-tidy, addons-sync

fixup! docs: Fix up indentation
  docs/content/addons/cluster-autoscaler.md
Due: hugo-mod-tidy

test: Verify namespacesync copies resources after partial copy failure
  pkg/controllers/namespacesync/controller_test.go
  pkg/controllers/namespacesync/copy_test.go
Due: go-generate, golangci-lint

fix: Namespacesync copies resources after partial copy failure
  pkg/controllers/namespacesync/controller.go
  pkg/controllers/namespacesync/copy.go
  pkg/controllers/namespacesync/copy_test.go
Due: go-generate, golangci-lint

fix: Namespacesync copies resources after partial copy failure (#1228)
  pkg/controllers/namespacesync/controller.go
  pkg/controllers/namespacesync/controller_test.go
  pkg/controllers/namespacesync/copy.go
  pkg/controllers/namespacesync/copy_test.go
Due: go-generate, golangci-lint

fixup! refactor: Address review feedback
  pkg/handlers/generic/lifecycle/serviceloadbalancer/metallb/handler.go
Due: go-generate, golangci-lint

fixup! docs: Add details about required labels
  docs/content/addons/cluster-autoscaler.md
Due: hugo-mod-tidy

feat: Add more context to MetalLB config apply conflict errors (#1225)
  pkg/handlers/generic/lifecycle/serviceloadbalancer/metallb/handler.go
Due: go-generate, golangci-lint

feat: Add scale from zero cluster-autoscaler support (#1227)
  charts/cluster-api-runtime-extensions-nutanix/addons/cluster-autoscaler/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cluster-autoscaler/manifests/cluster-autoscaler-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  docs/content/addons/cluster-autoscaler.md
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/update-cluster-autoscaler.sh
  make/addons.mk
Due: chart-docs, hugo-mod-tidy, addons-sync
