Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, golangci-lint, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock, check-coredns-versions

schema-chart:
  name: schema-chart
  entry: make schema-chart
  language: system

go-generate:
  name: go-generate
  entry: make go-generate
  language: system
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  entry: make lint
  language: system
  pass_filenames: false

chart-docs:
  name: chart-docs
  entry: make chart-docs
  language: system
  pass_filenames: false

hugo-mod-tidy:
  name: hugo-mod-tidy
  entry: bash -c "cd docs && hugo mod tidy"
  language: system
  pass_filenames: false

examples-sync:
  name: examples-sync
  entry: make examples.sync
  language: system
  pass_filenames: false

apis-sync:
  name: apis-sync
  entry: make apis.sync
  language: system
  pass_filenames: false

addons-sync:
  name: addons-sync
  entry: make addons.sync
  language: system
  pass_filenames: false

addons-repo-yaml:
  name: addons-repo-yaml
  entry: make template-helm-repository
  language: system
  pass_filenames: false

check-devbox-lock:
  name: check-devbox-lock
  entry: devbox install
  language: system
  pass_filenames: false

check-coredns-versions:
  name: check-coredns-versions
  entry: make coredns.sync
  language: system

feat: CIS benchmark improvements (#1137)
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/aws-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/docker-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  hack/examples/overlays/clusterclasses/aws/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/docker/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/nutanix/kustomization.yaml.tmpl
  hack/examples/patches/cis-admissionconfiguration.yaml
  hack/examples/patches/cis-kubeadmconfigtemplate-kubelet-file-permissions.yaml
  hack/examples/patches/cis-kubeadmconfigtemplate.yaml
  hack/examples/patches/cis-kubeadmcontrolplanetemplate-kubelet-file-permissions.yaml
  hack/examples/patches/cis-kubeadmcontrolplanetemplate.yaml
  hack/examples/patches/disable-kubeadmcontrolplane-profiling.yaml
  hack/examples/patches/initialize-extravolumes.yaml
  hack/examples/patches/initialize-files.yaml
  hack/examples/patches/initialize-kubeadmconfigtemplate-postkubeadmcommands.yaml
  hack/examples/patches/initialize-kubeadmcontrolplanetemplate-postkubeadmcommands.yaml
  pkg/handlers/generic/mutation/auditpolicy/inject.go
  pkg/handlers/generic/mutation/auditpolicy/inject_test.go
Due: go-generate, golangci-lint, chart-docs, examples-sync

feat: remove controlplanevirtualip v2 handler
  pkg/handlers/nutanix/handlers.go
  pkg/handlers/v2/generic/mutation/controlplanevirtualip/inject.go
  pkg/handlers/v2/generic/mutation/controlplanevirtualip/inject_test.go
  pkg/handlers/v2/generic/mutation/controlplanevirtualip/providers/kubevip.go
  pkg/handlers/v2/generic/mutation/controlplanevirtualip/providers/kubevip_test.go
  pkg/handlers/v2/generic/mutation/controlplanevirtualip/providers/providers.go
  pkg/handlers/v2/generic/mutation/controlplanevirtualip/providers/templates/configure-for-kube-vip.sh
  pkg/handlers/v2/nutanix/mutation/controlplanevirtualip/inject.go
  pkg/handlers/v2/nutanix/mutation/metapatch_handler.go
Due: go-generate, golangci-lint

fix: previous worker patch versions
  pkg/handlers/v3/aws/mutation/metapatch_handler.go
  pkg/handlers/v3/docker/mutation/metapatch_handler.go
  pkg/handlers/v3/nutanix/mutation/metapatch_handler.go
Due: go-generate, golangci-lint

feat: rename handlers to v4
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/aws-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/docker-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  docs/content/getting-started/integrating-with-your-clusterclass/_index.md
  hack/examples/overlays/clusterclasses/aws/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/docker/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/nutanix/kustomization.yaml.tmpl
  pkg/handlers/aws/handlers.go
  pkg/handlers/aws/mutation/metapatch_handler.go
  pkg/handlers/docker/handlers.go
  pkg/handlers/docker/mutation/metapatch_handler.go
  pkg/handlers/generic/handlers.go
  pkg/handlers/generic/mutation/metapatch_handler.go
  pkg/handlers/nutanix/handlers.go
  pkg/handlers/nutanix/mutation/metapatch_handler.go
  pkg/handlers/v3/aws/mutation/metapatch_handler.go
  pkg/handlers/v3/docker/mutation/metapatch_handler.go
  pkg/handlers/v3/generic/mutation/handlers.go
  pkg/handlers/v3/generic/mutation/metapatch_handler.go
  pkg/handlers/v3/nutanix/mutation/metapatch_handler.go
Due: go-generate, golangci-lint, chart-docs, hugo-mod-tidy, examples-sync

fix: duplicate flag declarations
  pkg/handlers/nutanix/handlers.go
Due: go-generate, golangci-lint

docs: add some more handler update dev docs
  README.md
Due: none

fixup! feat: Add preflight checks framework
  cmd/main.go
  pkg/webhook/preflight/preflight.go
  pkg/webhook/preflight/preflight_test.go
Due: go-generate, golangci-lint

feat: update handler version (#1144)
  README.md
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/aws-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/docker-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  docs/content/getting-started/integrating-with-your-clusterclass/_index.md
  hack/examples/overlays/clusterclasses/aws/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/docker/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/nutanix/kustomization.yaml.tmpl
  pkg/handlers/aws/handlers.go
  pkg/handlers/aws/mutation/metapatch_handler.go
  pkg/handlers/docker/handlers.go
  pkg/handlers/docker/mutation/metapatch_handler.go
  pkg/handlers/generic/handlers.go
  pkg/handlers/generic/mutation/metapatch_handler.go
  pkg/handlers/nutanix/handlers.go
  pkg/handlers/nutanix/mutation/metapatch_handler.go
  pkg/handlers/v2/generic/mutation/controlplanevirtualip/inject.go
  pkg/handlers/v2/generic/mutation/controlplanevirtualip/inject_test.go
  pkg/handlers/v2/generic/mutation/controlplanevirtualip/providers/kubevip.go
  pkg/handlers/v2/generic/mutation/controlplanevirtualip/providers/kubevip_test.go
  pkg/handlers/v2/generic/mutation/controlplanevirtualip/providers/providers.go
  pkg/handlers/v2/generic/mutation/controlplanevirtualip/providers/templates/configure-for-kube-vip.sh
  pkg/handlers/v2/nutanix/mutation/controlplanevirtualip/inject.go
  pkg/handlers/v3/aws/mutation/metapatch_handler.go
  pkg/handlers/v3/docker/mutation/metapatch_handler.go
  pkg/handlers/v3/generic/mutation/handlers.go
  pkg/handlers/v3/generic/mutation/metapatch_handler.go
  pkg/handlers/v3/nutanix/mutation/metapatch_handler.go
Due: go-generate, golangci-lint, chart-docs, hugo-mod-tidy, examples-sync

feat: Nutanix VM image preflight check
  cmd/main.go
  go.mod
  go.sum
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/credentials.go
  pkg/webhook/preflight/nutanix/image.go
  pkg/webhook/preflight/nutanix/specs.go
Due: go-generate, golangci-lint

fix: Avoid rollout due to updated auditpolicy handler
  pkg/handlers/v3/generic/mutation/auditpolicy/embedded/apiserver-audit-policy.yaml
  pkg/handlers/v3/generic/mutation/auditpolicy/inject.go
  pkg/handlers/v3/generic/mutation/auditpolicy/inject_test.go
  pkg/handlers/v3/generic/mutation/handlers.go
  pkg/handlers/v3/generic/mutation/metapatch_handler.go
Due: go-generate, golangci-lint

fixup! fix: Avoid rollout due to updated auditpolicy handler
  pkg/handlers/v3/generic/mutation/auditpolicy/inject.go
  pkg/handlers/v3/generic/mutation/auditpolicy/inject_test.go
  pkg/handlers/v3/generic/mutation/handlers.go
Due: go-generate, golangci-lint

fix: Avoid rollout due to updated auditpolicy handler (#1147)
  pkg/handlers/v3/generic/mutation/auditpolicy/embedded/apiserver-audit-policy.yaml
  pkg/handlers/v3/generic/mutation/auditpolicy/inject.go
  pkg/handlers/v3/generic/mutation/auditpolicy/inject_test.go
  pkg/handlers/v3/generic/mutation/handlers.go
  pkg/handlers/v3/generic/mutation/metapatch_handler.go
Due: go-generate, golangci-lint

fixup! release: Update metadata for release
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: none

release(main): v0.29.0 (#1145)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: hugo-mod-tidy

fixup! feat: Nutanix VM image preflight check
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/clients.go
  pkg/webhook/preflight/nutanix/credentials.go
  pkg/webhook/preflight/nutanix/image.go
Due: go-generate, golangci-lint

fixup! feat: Nutanix VM image preflight check
  pkg/webhook/preflight/nutanix/credentials_test.go
Due: go-generate, golangci-lint

fixup! feat: Nutanix VM image preflight check
  pkg/webhook/preflight/nutanix/image_test.go
Due: go-generate, golangci-lint

ci: Add CIS benchmark check
  .github/workflows/checks.yml
  .github/workflows/e2e.yml
  devbox.json
  devbox.lock
  test/e2e/quick_start_test.go
Due: go-generate, golangci-lint, check-devbox-lock

fixup! test(e2e): Use trivy-operator for CIS benchmark
  .github/workflows/checks.yml
  .github/workflows/e2e.yml
  .gitignore
  devbox.json
  devbox.lock
  hack/flakes/flake.nix
  test/e2e/quick_start_test.go
Due: go-generate, golangci-lint, check-devbox-lock

fixup! feat: Nutanix VM image preflight check
  pkg/webhook/preflight/nutanix/image.go
Due: go-generate, golangci-lint

build: include regclient/regsync image for registry addon
  hack/tools/fetch-images/main.go
Due: go-generate, golangci-lint

build: include regclient/regsync image for registry addon (#1148)
  hack/tools/fetch-images/main.go
Due: go-generate, golangci-lint

feat(addon): Update CSI version to v3.3.3
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync

feat(infraprovider): Update CAPX to v1.5.4
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanix_types.go
  hack/third-party/capx/go.mod
  hack/third-party/capx/go.sum
Due: go-generate, golangci-lint, apis-sync

fix(coredns): Add coredns versions for k8s 1.33
  api/versions/coredns.go
  api/versions/coredns_test.go
Due: go-generate, golangci-lint, check-coredns-versions

fix: update CNCF registry version to 2.3.4, app version 2.8.3
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/cncf-distribution-registry/kustomization.yaml.tmpl
Due: chart-docs, addons-sync

fix(build): Update kind version to v0.27.0
  devbox.lock
  go.mod
  go.sum
Due: go-generate, golangci-lint, check-devbox-lock

fixup! feat: Nutanix VM image preflight check
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/checker_test.go
  pkg/webhook/preflight/nutanix/clients.go
  pkg/webhook/preflight/nutanix/credentials.go
  pkg/webhook/preflight/nutanix/credentials_test.go
  pkg/webhook/preflight/nutanix/image.go
  pkg/webhook/preflight/nutanix/image_test.go
  pkg/webhook/preflight/nutanix/specs.go
  pkg/webhook/preflight/nutanix/specs_test.go
Due: go-generate, golangci-lint

fixup! feat(preflight): Add a check for storage containers
  pkg/webhook/preflight/nutanix/storagecontainer.go
Due: go-generate, golangci-lint

feat(preflight): Add a check for storage containers
  go.mod
  go.sum
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/storagecontainer.go
Due: go-generate, golangci-lint

fixup! feat(preflight): Add a check for storage containers
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/checker_test.go
  pkg/webhook/preflight/nutanix/clients.go
  pkg/webhook/preflight/nutanix/clients_test.go
  pkg/webhook/preflight/nutanix/credentials_test.go
  pkg/webhook/preflight/nutanix/image_test.go
  pkg/webhook/preflight/nutanix/storagecontainer.go
  pkg/webhook/preflight/nutanix/storagecontainer_test.go
Due: go-generate, golangci-lint

feat(compatibility): Support Cluster deployments on PC v7.3 (#1149)
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanix_types.go
  api/versions/coredns.go
  api/versions/coredns_test.go
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  devbox.lock
  go.mod
  go.sum
  hack/addons/helm-chart-bundler/repos.yaml
  hack/third-party/capx/go.mod
  hack/third-party/capx/go.sum
  make/addons.mk
Due: go-generate, golangci-lint, chart-docs, apis-sync, addons-sync, check-devbox-lock, check-coredns-versions

release(release/v0.27.x): v0.28.0
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

fix(compatibility): Support Cluster deployments on PC v7.3 (#1149)
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanix_types.go
  api/versions/coredns.go
  api/versions/coredns_test.go
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  devbox.lock
  go.mod
  go.sum
  hack/addons/helm-chart-bundler/repos.yaml
  hack/third-party/capx/go.mod
  hack/third-party/capx/go.sum
  make/addons.mk
Due: go-generate, golangci-lint, chart-docs, apis-sync, addons-sync, check-devbox-lock, check-coredns-versions

fix: update CNCF registry version to 2.3.4, app version 2.8.3 (#1150)
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/cncf-distribution-registry/kustomization.yaml.tmpl
Due: chart-docs, addons-sync

release(release/v0.27.x): v0.27.5
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/mindthegap-helm-registry/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$
  check-coredns-versions: any of: ^api/versions/coredns.go$
