Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, check-coredns-versions, golangci-lint, kube-api-linter, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  check-coredns-versions: any of: ^api/versions/coredns.go$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  kube-api-linter: any of: ((^api/(.*\.go|go.mod|go.sum))|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/helm-chart-bundler/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$

test: add broken EKS variables unit tests
  pkg/handlers/generic/mutation/ntp/variables_test.go
  pkg/handlers/generic/mutation/taints/variables_test.go
  pkg/handlers/generic/mutation/users/variables_test.go
Due: go-generate, golangci-lint

fix: add GenericClusterConfigSpec and GenericNodeSpec in EKS API
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_eksclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksworkernodeconfigs.yaml
  api/v1alpha1/nodeconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
Due: go-generate, golangci-lint, kube-api-linter

fix: register EKSClusterConfig in the scheme
  api/v1alpha1/clusterconfig_types.go
Due: go-generate, golangci-lint, kube-api-linter

fix: include Generic config specs in EKS cluster API (#1298)
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_eksclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksworkernodeconfigs.yaml
  api/v1alpha1/nodeconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  pkg/handlers/generic/mutation/ntp/variables_test.go
  pkg/handlers/generic/mutation/taints/variables_test.go
  pkg/handlers/generic/mutation/users/variables_test.go
Due: go-generate, golangci-lint, kube-api-linter

fixup! test: ensure LoadBalancer Service IP is reachable
  test/e2e/quick_start_test.go
Due: go-generate, golangci-lint

feat: EKS ClusterClass and example (#1296)
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/eks-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/clusterclass_eks.yaml
  examples/capi-quick-start/eks-cluster.yaml
  hack/examples/additional-resources/eks/cilium-configmap.yaml
  hack/examples/bases/eks/cluster/cluster.yaml
  hack/examples/bases/eks/cluster/kustomization.yaml.tmpl
  hack/examples/bases/eks/clusterclass/clusterclass.yaml
  hack/examples/bases/eks/clusterclass/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/eks/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/eks/kustomizeconfig.yaml
  hack/examples/overlays/clusters/eks/kustomization.yaml.tmpl
  hack/examples/patches/eks/cilium-with-custom-values.yaml
  hack/examples/patches/eks/config-var.yaml
  hack/examples/patches/eks/csi.yaml
  hack/examples/patches/eks/initialize-variables.yaml
  hack/examples/patches/eks/instance-type.yaml
  hack/examples/patches/eks/start-ssm-kubeadmconfigtemplate.yaml
  hack/examples/sync.sh
Due: chart-docs, examples-sync

test: new LoadBalancer Service e2e test (#1304)
  examples/capi-quick-start/nutanix-cluster-calico-crs.yaml
  examples/capi-quick-start/nutanix-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-with-failuredomains-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-with-failuredomains-cilium-helm-addon.yaml
  hack/examples/bases/docker/cluster/kustomization.yaml.tmpl
  hack/examples/bases/nutanix/cluster/kustomization.yaml.tmpl
  hack/examples/patches/docker/metallb.yaml
  hack/examples/patches/nutanix/metallb.yaml
  test/e2e/config/caren.yaml
  test/e2e/quick_start_test.go
  test/e2e/serviceloadbalancer_helpers.go
Due: go-generate, golangci-lint, examples-sync

feat: enable Cilium source IP preservation
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/values-template.yaml
Due: chart-docs

fixup! feat: enable Cilium source IP preservation
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/values-template.yaml
Due: chart-docs

fix: revert moving k8sServiceHost
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/values-template.yaml
Due: chart-docs

fix: gotemplate Cilium HCP
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/values-template.yaml
  hack/addons/update-cilium-manifests.sh
  hack/tools/fetch-images/main.go
  pkg/handlers/generic/lifecycle/cni/cilium/template.go
Due: go-generate, golangci-lint, chart-docs, addons-sync

fix: rollout and wait for Cilium DaemonSet
  pkg/handlers/generic/lifecycle/cni/cilium/handler.go
  pkg/handlers/generic/lifecycle/cni/cilium/handler_integration_test.go
Due: go-generate, golangci-lint

feat: Enable configurable parallel image pulls
  .pre-commit-config.yaml
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_kubeadmclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  docs/content/customization/generic/parallel-image-pulls.md
  pkg/handlers/generic/mutation/handlers.go
  pkg/handlers/generic/mutation/parallelimagepulls/embedded/kubeletconfigpatch.yaml
  pkg/handlers/generic/mutation/parallelimagepulls/inject.go
  pkg/handlers/generic/mutation/parallelimagepulls/inject_test.go
  pkg/handlers/generic/mutation/parallelimagepulls/variables_test.go
Due: go-generate, golangci-lint, kube-api-linter, hugo-mod-tidy

test: verify source IP is preserved
  test/e2e/serviceloadbalancer_helpers.go
Due: go-generate, golangci-lint

test: log during Service tests
  test-deployment-service.yaml
  test/e2e/serviceloadbalancer_helpers.go
Due: go-generate, golangci-lint

refactor: rename EKS example file to match others
  examples/capi-quick-start/eks-cluster-cilium-helm-addon.yaml
  hack/examples/sync.sh
Due: examples-sync

refactor: quickstart test file to make adding new cases easier
  test/e2e/quick_start_test.go
Due: go-generate, golangci-lint

test: add EKS test
  .github/workflows/checks.yml
  test/e2e/config/caren.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/ownerreference_helpers.go
  test/e2e/quick_start_test.go
Due: go-generate, golangci-lint

feat: add rootVolume API
  api/v1alpha1/aws_node_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksworkernodeconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
Due: go-generate, golangci-lint, kube-api-linter

feat: add rootvolume handlers
  pkg/handlers/aws/mutation/metapatch_handler.go
  pkg/handlers/aws/mutation/rootvolume/inject.go
  pkg/handlers/aws/mutation/rootvolume/inject_control_plane.go
  pkg/handlers/aws/mutation/rootvolume/inject_control_plane_test.go
  pkg/handlers/aws/mutation/rootvolume/inject_suite_test.go
  pkg/handlers/aws/mutation/rootvolume/inject_worker.go
  pkg/handlers/aws/mutation/rootvolume/inject_worker_test.go
  pkg/handlers/aws/mutation/rootvolume/variables_test.go
  pkg/handlers/eks/mutation/metapatch_handler.go
  pkg/handlers/eks/mutation/rootvolume/inject_suite_test.go
  pkg/handlers/eks/mutation/rootvolume/inject_worker.go
  pkg/handlers/eks/mutation/rootvolume/inject_worker_test.go
  pkg/handlers/eks/mutation/rootvolume/variables_test.go
Due: go-generate, golangci-lint

fixup! fix: Prevent unnecessary rollout
  pkg/handlers/generic/mutation/parallelimagepulls/inject.go
  pkg/handlers/generic/mutation/parallelimagepulls/inject_test.go
Due: go-generate, golangci-lint

build: Update Kubernetes patch versions for tests
  .github/workflows/checks.yml
  make/kind.mk
  test/e2e/config/caren.yaml
Due: none

build: Update Kubernetes patch versions for tests (#1310)
  .github/workflows/checks.yml
  make/kind.mk
  test/e2e/config/caren.yaml
Due: none

refactor: extend the API to support both root and additional volumes
  api/v1alpha1/aws_node_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksworkernodeconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  pkg/handlers/aws/mutation/metapatch_handler.go
  pkg/handlers/aws/mutation/rootvolume/inject_control_plane_test.go
  pkg/handlers/aws/mutation/volumes/inject.go
  pkg/handlers/aws/mutation/volumes/inject_control_plane.go
  pkg/handlers/aws/mutation/volumes/inject_control_plane_test.go
  pkg/handlers/aws/mutation/volumes/inject_suite_test.go
  pkg/handlers/aws/mutation/volumes/inject_worker.go
  pkg/handlers/aws/mutation/volumes/inject_worker_test.go
  pkg/handlers/aws/mutation/volumes/variables_test.go
  pkg/handlers/eks/mutation/metapatch_handler.go
  pkg/handlers/eks/mutation/volumes/inject_suite_test.go
  pkg/handlers/eks/mutation/volumes/inject_worker.go
  pkg/handlers/eks/mutation/volumes/inject_worker_test.go
  pkg/handlers/eks/mutation/volumes/variables_test.go
Due: go-generate, golangci-lint, kube-api-linter

docs: add AWS and EKS volumes docs
  docs/content/customization/aws/volumes.md
Due: hugo-mod-tidy

feat: add identityRef to AWS and EKS clusters
  api/v1alpha1/aws_clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksclusterconfigs.yaml
  api/v1alpha1/eks_clusterconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/aws-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/eks-cluster-class.yaml
  docs/content/customization/aws/controlplaneloadbalancer.md
  docs/content/customization/aws/identity-ref.md
  docs/content/customization/aws/network.md
  docs/content/customization/aws/region.md
  docs/content/customization/eks/_index.md
  docs/content/customization/eks/identity-ref.md
  hack/examples/overlays/clusterclasses/aws/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/eks/kustomization.yaml.tmpl
  pkg/handlers/aws/mutation/identityref/inject.go
  pkg/handlers/aws/mutation/identityref/inject_suite_test.go
  pkg/handlers/aws/mutation/identityref/inject_test.go
  pkg/handlers/aws/mutation/metapatch_handler.go
  pkg/handlers/eks/mutation/identityref/inject.go
  pkg/handlers/eks/mutation/identityref/inject_suite_test.go
  pkg/handlers/eks/mutation/identityref/inject_test.go
  pkg/handlers/eks/mutation/metapatch_handler.go
Due: go-generate, golangci-lint, kube-api-linter, chart-docs, hugo-mod-tidy, examples-sync

fix: add CEL validation rule to require one of volume configs
  api/v1alpha1/aws_node_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksworkernodeconfigs.yaml
  pkg/handlers/aws/mutation/volumes/variables_test.go
  pkg/handlers/eks/mutation/volumes/variables_test.go
Due: go-generate, golangci-lint, kube-api-linter

test: reduce polling frequency on PC API
  test/e2e/framework/nutanix/client.go
Due: go-generate, golangci-lint

test: reduce polling frequency on PC API (#1312)
  test/e2e/framework/nutanix/client.go
Due: go-generate, golangci-lint

docs: Upgrade to docsy 0.12.0 with hugo >= 0.146.0 support
  devbox.json
  devbox.lock
  docs/go.mod
  docs/go.sum
  docs/layouts/_default/_markup/render-heading.html
  docs/layouts/_markup/render-heading.html
Due: go-generate, golangci-lint, hugo-mod-tidy, check-devbox-lock

docs: Upgrade to docsy 0.12.0 with hugo >= 0.146.0 support (#1315)
  devbox.json
  devbox.lock
  docs/go.mod
  docs/go.sum
  docs/layouts/_default/_markup/render-heading.html
  docs/layouts/_markup/render-heading.html
Due: go-generate, golangci-lint, hugo-mod-tidy, check-devbox-lock

build: go1.25.1 to fix CVE
  api/go.mod
  common/go.mod
  devbox.json
  devbox.lock
  go.mod
  hack/flakes/flake.lock
  hack/flakes/flake.nix
  make/go.mk
Due: go-generate, golangci-lint, kube-api-linter, check-devbox-lock

fixup! refactor: Remove default max concurrent image pulls tag
  api/v1alpha1/clusterconfig_types.go
Due: go-generate, golangci-lint, kube-api-linter

build: go1.25.1 to fix CVE (#1314)
  api/go.mod
  common/go.mod
  devbox.json
  devbox.lock
  go.mod
  hack/flakes/flake.lock
  hack/flakes/flake.nix
  make/go.mk
Due: go-generate, golangci-lint, kube-api-linter, check-devbox-lock

feat: Enable configurable parallel image pulls (#1306)
  .pre-commit-config.yaml
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_kubeadmclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  docs/content/customization/generic/parallel-image-pulls.md
  pkg/handlers/generic/mutation/handlers.go
  pkg/handlers/generic/mutation/parallelimagepulls/embedded/kubeletconfigpatch.yaml
  pkg/handlers/generic/mutation/parallelimagepulls/inject.go
  pkg/handlers/generic/mutation/parallelimagepulls/inject_test.go
  pkg/handlers/generic/mutation/parallelimagepulls/variables_test.go
Due: go-generate, golangci-lint, kube-api-linter, hugo-mod-tidy
