Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, check-coredns-versions, golangci-lint, kube-api-linter, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  check-coredns-versions: any of: ^api/versions/coredns.go$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  kube-api-linter: any of: ((^api/(.*\.go|go.mod|go.sum))|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/helm-chart-bundler/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$

fix: hack for parsing template using gomplate
  hack/addons/update-cilium-manifests.sh
Due: addons-sync

fix: set kuberentes_host and port explicitly in cilium config
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/values-template.yaml
  hack/addons/update-cilium-manifests.sh
Due: chart-docs, addons-sync

Revert "fix: always use the same tunnel port"
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/values-template.yaml
Due: chart-docs

fix: use ControlPlaneEndpont object directly in template
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/values-template.yaml
  hack/addons/update-cilium-manifests.sh
  pkg/handlers/generic/lifecycle/cni/cilium/template.go
  pkg/handlers/generic/lifecycle/cni/cilium/template_test.go
Due: go-generate, golangci-lint, chart-docs, addons-sync

fix: cilium templating for list-images
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/values-template.yaml
  hack/tools/fetch-images/main.go
Due: go-generate, golangci-lint, chart-docs

ci: Upgrade devbox install action and remove custom golangci-lint (#1322)
  .github/workflows/blackduck.yaml
  .github/workflows/checks.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/devbox-update.yml
  .github/workflows/e2e.yml
  .github/workflows/github-pages.yml
  .github/workflows/govulncheck.yml
  .github/workflows/release-tag.yml
  devbox.json
  devbox.lock
  hack/flakes/flake.nix
Due: check-devbox-lock

refactor: Stricter EKS kube-proxy mode in Go API
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_eksclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  make/go.mk
  pkg/handlers/generic/mutation/kubeproxymode/inject_test.go
Due: go-generate, golangci-lint, kube-api-linter

feat(worker): add explicit labels on worker nodes
  pkg/handlers/generic/mutation/handlers.go
  pkg/handlers/generic/mutation/nodelabels/inject_suite_test.go
  pkg/handlers/generic/mutation/nodelabels/inject_worker.go
  pkg/handlers/generic/mutation/nodelabels/inject_worker_test.go
Due: go-generate, golangci-lint

build: Update all tools via devbox update
  .github/workflows/blackduck.yaml
  .github/workflows/checks.yml
  .github/workflows/e2e.yml
  .github/workflows/release-tag.yml
  .pre-commit-config.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_kubeadmclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  devbox.lock
  hack/flakes/flake.lock
  hack/flakes/flake.nix
  hack/tools/go.mod
  make/helm.mk
Due: go-generate, golangci-lint, chart-docs, check-devbox-lock

feat(worker): add explicit labels on worker nodes
  pkg/handlers/v3/generic/mutation/handlers.go
Due: go-generate, golangci-lint

fix: cilium templating for list-images
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/values-template.yaml
  common/pkg/capi/utils/annotations.go
  hack/tools/fetch-images/main.go
  pkg/handlers/generic/lifecycle/cni/cilium/template_test.go
Due: go-generate, golangci-lint, chart-docs

build: Update all tools via devbox update (#1328)
  .github/workflows/blackduck.yaml
  .github/workflows/checks.yml
  .github/workflows/e2e.yml
  .github/workflows/release-tag.yml
  .pre-commit-config.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_kubeadmclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  devbox.lock
  hack/flakes/flake.lock
  hack/flakes/flake.nix
  hack/tools/go.mod
  make/helm.mk
Due: go-generate, golangci-lint, chart-docs, check-devbox-lock

feat: cilium configuration overrides for EKS provider (#1316)
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/values-template.yaml
  examples/capi-quick-start/eks-cluster.yaml
  hack/addons/update-cilium-manifests.sh
  hack/examples/additional-resources/eks/cilium-configmap.yaml
  hack/examples/overlays/clusters/eks/kustomization.yaml.tmpl
  hack/examples/patches/eks/cilium-with-custom-values.yaml
  hack/examples/patches/eks/initialize-variables.yaml
  hack/tools/fetch-images/main.go
  pkg/handlers/generic/lifecycle/cni/cilium/template.go
  pkg/handlers/generic/lifecycle/cni/cilium/template_test.go
Due: go-generate, golangci-lint, chart-docs, examples-sync, addons-sync

build: downgrade clusterctl version
  devbox.json
  devbox.lock
Due: check-devbox-lock

release(main): v0.31.0
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: none

fixup! release: Update metadata for release
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
  metadata.yaml
  test/e2e/config/caren.yaml
Due: hugo-mod-tidy

release(main): v0.34.0 (#1331)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: hugo-mod-tidy

build: downgrade clusterctl version (#1330)
  devbox.json
  devbox.lock
Due: check-devbox-lock

feat: add additionalTags API for EKS and AWS
  api/v1alpha1/aws_clusterconfig_types.go
  api/v1alpha1/aws_node_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksworkernodeconfigs.yaml
  api/v1alpha1/eks_clusterconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
Due: go-generate, golangci-lint, kube-api-linter

feat: enable Cilium source IP preservation (#1295)
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/values-template.yaml
Due: chart-docs

feat: add additionalTags EKS handlers
  docs/content/customization/eks/tags.md
  pkg/handlers/eks/mutation/metapatch_handler.go
  pkg/handlers/eks/mutation/tags/inject_cluster.go
  pkg/handlers/eks/mutation/tags/inject_cluster_test.go
  pkg/handlers/eks/mutation/tags/inject_suite_test.go
  pkg/handlers/eks/mutation/tags/inject_worker.go
  pkg/handlers/eks/mutation/tags/inject_worker_test.go
Due: go-generate, golangci-lint, hugo-mod-tidy

feat: add additionalTags AWS handlers
  docs/content/customization/aws/tags.md
  pkg/handlers/aws/mutation/metapatch_handler.go
  pkg/handlers/aws/mutation/tags/inject.go
  pkg/handlers/aws/mutation/tags/inject_cluster.go
  pkg/handlers/aws/mutation/tags/inject_cluster_test.go
  pkg/handlers/aws/mutation/tags/inject_control_plane.go
  pkg/handlers/aws/mutation/tags/inject_control_plane_test.go
  pkg/handlers/aws/mutation/tags/inject_suite_test.go
  pkg/handlers/aws/mutation/tags/inject_worker.go
  pkg/handlers/aws/mutation/tags/inject_worker_test.go
  pkg/handlers/aws/mutation/tags/variables_test.go
Due: go-generate, golangci-lint, hugo-mod-tidy

ci: update clusterctl to use fork in tests
  clusterctl.yaml
  hack/examples/bases/aws/cluster/kustomization.yaml.tmpl
  hack/examples/bases/aws/clusterclass/kustomization.yaml.tmpl
  make/clusterctl.mk
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-capa/metadata.yaml
Due: examples-sync

feat: update capa with nutanix fork
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/awsmachine_types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/zz_generated.deepcopy.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/bootstrap/eks/api/v1beta2/eksconfig_types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/bootstrap/eks/api/v1beta2/nodeadmconfig_types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/bootstrap/eks/api/v1beta2/nodeadmconfigtemplate_type.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/bootstrap/eks/api/v1beta2/types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/bootstrap/eks/api/v1beta2/zz_generated.deepcopy.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/controlplane/eks/api/v1beta2/types.go
  hack/third-party/capa/go.mod
  hack/third-party/capa/go.sum
Due: go-generate, golangci-lint, kube-api-linter, apis-sync

feat: update capa with nutanix fork (#1329)
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/awsmachine_types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/zz_generated.deepcopy.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/bootstrap/eks/api/v1beta2/eksconfig_types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/bootstrap/eks/api/v1beta2/nodeadmconfig_types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/bootstrap/eks/api/v1beta2/nodeadmconfigtemplate_type.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/bootstrap/eks/api/v1beta2/types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/bootstrap/eks/api/v1beta2/zz_generated.deepcopy.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/controlplane/eks/api/v1beta2/types.go
  clusterctl.yaml
  hack/examples/bases/aws/cluster/kustomization.yaml.tmpl
  hack/examples/bases/aws/clusterclass/kustomization.yaml.tmpl
  hack/third-party/capa/go.mod
  hack/third-party/capa/go.sum
  make/clusterctl.mk
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-capa/metadata.yaml
Due: go-generate, golangci-lint, kube-api-linter, examples-sync, apis-sync

fix: use nodeadm mutations
  pkg/handlers/eks/mutation/testutils/request.go
  pkg/handlers/generic/mutation/ntp/inject.go
  pkg/handlers/generic/mutation/ntp/inject_test.go
  pkg/handlers/generic/mutation/taints/inject_worker.go
  pkg/handlers/generic/mutation/taints/inject_worker_test.go
  pkg/handlers/generic/mutation/users/inject.go
  pkg/handlers/generic/mutation/users/inject_test.go
Due: go-generate, golangci-lint

fix: register wth taints can be specified multiple times
  pkg/handlers/generic/mutation/taints/inject_worker.go
  pkg/handlers/generic/mutation/taints/inject_worker_test.go
Due: go-generate, golangci-lint

fix: use nodeadm config template
  hack/examples/bases/eks/clusterclass/clusterclass.yaml
Due: examples-sync

fix: adds ami details for nodeadm configs
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/eks-cluster-class.yaml
  hack/examples/bases/eks/clusterclass/clusterclass.yaml
Due: chart-docs, examples-sync

fix: use nodeadm config template
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/eks-cluster-class.yaml
  hack/examples/bases/eks/clusterclass/clusterclass.yaml
Due: chart-docs, examples-sync

fix: adds ami details for nodeadm configs (#1334)
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/eks-cluster-class.yaml
  hack/examples/bases/eks/clusterclass/clusterclass.yaml
  hack/examples/overlays/clusterclasses/eks/kustomizeconfig.yaml
  pkg/handlers/generic/mutation/taints/inject_worker.go
Due: go-generate, golangci-lint, chart-docs, examples-sync

fix: skip insecure secrets manager for eks
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/eks-cluster-class.yaml
  hack/examples/bases/eks/clusterclass/clusterclass.yaml
Due: chart-docs, examples-sync

fix: use nodeadm mutations (#1332)
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/eks-cluster-class.yaml
  hack/examples/bases/eks/clusterclass/clusterclass.yaml
  hack/examples/overlays/clusterclasses/eks/kustomizeconfig.yaml
  pkg/handlers/eks/mutation/testutils/request.go
  pkg/handlers/generic/mutation/ntp/inject.go
  pkg/handlers/generic/mutation/ntp/inject_test.go
  pkg/handlers/generic/mutation/taints/inject_worker.go
  pkg/handlers/generic/mutation/taints/inject_worker_test.go
  pkg/handlers/generic/mutation/users/inject.go
  pkg/handlers/generic/mutation/users/inject_test.go
Due: go-generate, golangci-lint, chart-docs, examples-sync

feat: additionalTags handlers for AWS and EKS (#1333)
  api/v1alpha1/aws_clusterconfig_types.go
  api/v1alpha1/aws_node_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksworkernodeconfigs.yaml
  api/v1alpha1/eks_clusterconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  docs/content/customization/aws/tags.md
  docs/content/customization/eks/tags.md
  pkg/handlers/aws/mutation/metapatch_handler.go
  pkg/handlers/aws/mutation/tags/inject.go
  pkg/handlers/aws/mutation/tags/inject_cluster.go
  pkg/handlers/aws/mutation/tags/inject_cluster_test.go
  pkg/handlers/aws/mutation/tags/inject_control_plane.go
  pkg/handlers/aws/mutation/tags/inject_control_plane_test.go
  pkg/handlers/aws/mutation/tags/inject_suite_test.go
  pkg/handlers/aws/mutation/tags/inject_worker.go
  pkg/handlers/aws/mutation/tags/inject_worker_test.go
  pkg/handlers/aws/mutation/tags/variables_test.go
  pkg/handlers/eks/mutation/metapatch_handler.go
  pkg/handlers/eks/mutation/tags/inject_cluster.go
  pkg/handlers/eks/mutation/tags/inject_cluster_test.go
  pkg/handlers/eks/mutation/tags/inject_suite_test.go
  pkg/handlers/eks/mutation/tags/inject_worker.go
  pkg/handlers/eks/mutation/tags/inject_worker_test.go
Due: go-generate, golangci-lint, kube-api-linter, hugo-mod-tidy

release(main): v0.35.0
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: hugo-mod-tidy

release(main): v0.35.0 (#1335)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: hugo-mod-tidy

Minor changes
  charts/cluster-api-runtime-extensions-nutanix/addons/k8s-registration-agent/values-template.yaml
  pkg/handlers/generic/lifecycle/k8sregistrationagent/handler.go
Due: go-generate, golangci-lint, chart-docs

refactor: move bootstrap provider docs
  docs/content/customization/kubeadm/_index.md
  docs/content/customization/kubeadm/audit-policy.md
  docs/content/customization/kubeadm/auto-renewal-of-control-plane-certs.md
  docs/content/customization/kubeadm/containerd-metrics.md
  docs/content/customization/kubeadm/dns.md
  docs/content/customization/kubeadm/encryption-at-rest.md
  docs/content/customization/kubeadm/etcd.md
  docs/content/customization/kubeadm/extra-apiserver-cert-sans.md
  docs/content/customization/kubeadm/kube-proxy-mode.md
  docs/content/customization/kubeadm/kubernetes-image-repository.md
  docs/content/customization/kubeadm/node-registration.md
  docs/content/customization/kubeadm/parallel-image-pulls.md
  pkg/handlers/generic/mutation/generic/doc.go
  pkg/handlers/generic/mutation/kubeadm/doc.go
Due: go-generate, golangci-lint, hugo-mod-tidy
