Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, check-coredns-versions, golangci-lint, kube-api-linter, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  check-coredns-versions: any of: ^api/versions/coredns.go$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  kube-api-linter: any of: ((^api/(.*\.go|go.mod|go.sum))|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/helm-chart-bundler/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$

fix: removing context timeout config
  pkg/handlers/lifecycle/konnectoragent/handler.go
Due: go-generate, golangci-lint

fix: adding context timeout for pc api call
  pkg/handlers/lifecycle/konnectoragent/handler.go
Due: go-generate, golangci-lint

feat: normalize no_proxy to both CIDR and IP range
  api/go.mod
  api/go.sum
  api/v1alpha1/http_proxy.go
  api/v1alpha1/http_proxy_test.go
  api/v1alpha1/no_proxy_normalize.go
  api/v1alpha1/no_proxy_normalize_test.go
  go.mod
  go.sum
Due: go-generate, golangci-lint, kube-api-linter

fix: removing context timeout config
  api/v1alpha1/constants.go
  pkg/webhook/cluster/konnectoragent_legacy_validator.go
  pkg/webhook/cluster/konnectoragent_legacy_validator_test.go
  pkg/webhook/cluster/validator.go
Due: go-generate, golangci-lint, kube-api-linter

fix: bump mutation handlers to v6 for no_proxy normalization
  api/v1alpha1/http_proxy.go
  api/v1alpha1/http_proxy_test.go
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/docker-cluster-class.yaml
  docs/content/getting-started/integrating-with-your-clusterclass/_index.md
  hack/examples/overlays/clusterclasses/aws/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/docker/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/eks/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/nutanix/kustomization.yaml.tmpl
  pkg/handlers/aws/handlers.go
  pkg/handlers/aws/mutation/metapatch_handler.go
  pkg/handlers/docker/handlers.go
  pkg/handlers/docker/mutation/metapatch_handler.go
  pkg/handlers/eks/handlers.go
  pkg/handlers/generic/handlers.go
  pkg/handlers/generic/mutation/generic/httpproxy/systemd_proxy_config.go
  pkg/handlers/generic/mutation/generic/httpproxy/systemd_proxy_config_test.go
  pkg/handlers/generic/mutation/metapatch_handler.go
  pkg/handlers/nutanix/handlers.go
  pkg/handlers/nutanix/mutation/metapatch_handler.go
  pkg/handlers/v4/generic/mutation/auditpolicy/embedded/apiserver-audit-policy.yaml
  pkg/handlers/v4/generic/mutation/auditpolicy/inject.go
  pkg/handlers/v4/generic/mutation/auditpolicy/inject_test.go
  pkg/handlers/v5/aws/mutation/metapatch_handler.go
  pkg/handlers/v5/docker/mutation/metapatch_handler.go
  pkg/handlers/v5/eks/mutation/metapatch_handler.go
  pkg/handlers/v5/generic/mutation/handlers.go
  pkg/handlers/v5/generic/mutation/httpproxy/inject.go
  pkg/handlers/v5/generic/mutation/httpproxy/inject_test.go
  pkg/handlers/v5/generic/mutation/metapatch_handler.go
  pkg/handlers/v5/nutanix/mutation/metapatch_handler.go
Due: go-generate, golangci-lint, kube-api-linter, chart-docs, hugo-mod-tidy, examples-sync

docs: [NCN-112929] Add KubeletConfiguration spec and plan
  .specify/features/NCN-1234/plan.md
  .specify/features/NCN-1234/spec.md
Due: none

feat: [NCN-112929] Add KubeletConfiguration API type
  api/v1alpha1/kubelet_types.go
  api/v1alpha1/zz_generated.deepcopy.go
Due: go-generate, golangci-lint, kube-api-linter

feat: [NCN-112929] Wire KubeletConfiguration into API
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_kubeadmclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  api/v1alpha1/nodeconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
Due: go-generate, golangci-lint, kube-api-linter

feat: [NCN-112929] Add CP and worker handlers with merge
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_controlplane.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_worker.go
Due: go-generate, golangci-lint

feat: [NCN-112929] Add KubeletConfiguration patch template
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/embedded/kubeletconfigpatch.yaml.tmpl
Due: none

feat: [NCN-112929] Implement KubeletConfiguration handler
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject.go
Due: go-generate, golangci-lint

feat: [NCN-112929] Register KubeletConfiguration handlers
  pkg/handlers/generic/mutation/handlers.go
Due: go-generate, golangci-lint

feat: [NCN-112929] Handle deprecated maxParallelImagePullsPerNode
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_controlplane.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_worker.go
Due: go-generate, golangci-lint

feat: [NCN-112929] Add KubeletConfiguration webhook validation
  pkg/handlers/generic/mutation/handlers.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_controlplane.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_worker.go
  pkg/webhook/cluster/kubeletconfiguration_validator.go
  pkg/webhook/cluster/validator.go
Due: go-generate, golangci-lint

feat: [NCN-112929] Register KubeletConfiguration in v4 handlers
  pkg/handlers/v4/generic/mutation/handlers.go
Due: go-generate, golangci-lint

test: [NCN-112929] Add KubeletConfiguration unit tests
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_test.go
  pkg/webhook/cluster/kubeletconfiguration_validator_test.go
Due: go-generate, golangci-lint

fix: [NCN-112929] Address code review findings
  pkg/webhook/cluster/kubeletconfiguration_validator.go
  pkg/webhook/cluster/kubeletconfiguration_validator_test.go
Due: go-generate, golangci-lint

refactor: [NCN-112929] Use with instead of if in patch template
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/embedded/kubeletconfigpatch.yaml.tmpl
Due: none

fix: [NCN-112929] Restrict maxPods validation bounds to 50-256
  .pre-commit-config.yaml
  .specify/features/NCN-1234/plan.md
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_kubeadmclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  api/v1alpha1/kubelet_types.go
Due: go-generate, golangci-lint, kube-api-linter

refactor: [NCN-112929] Use typed assertions in kubelet config tests
  .specify/features/NCN-1234/plan.md
  .specify/features/NCN-1234/spec.md
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_test.go
Due: go-generate, golangci-lint

refactor: [NCN-112929] Use resource.Quantity for containerLogMaxSize
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_kubeadmclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  api/v1alpha1/kubelet_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_test.go
Due: go-generate, golangci-lint, kube-api-linter

docs: [NCN-112929] Rename spec directory from NCN-1234 to NCN-112929
  .specify/features/NCN-112929/plan.md
  .specify/features/NCN-112929/spec.md
Due: none

refactor: [NCN-112929] Migrate kubelet tests to CAPI v1beta2
  pkg/webhook/cluster/kubeletconfiguration_validator.go
  pkg/webhook/cluster/kubeletconfiguration_validator_test.go
Due: go-generate, golangci-lint

feat(STIG): set tls-min-version for scheduler and controllerManager (#1503)
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/aws-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/docker-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  hack/examples/overlays/clusterclasses/aws/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/docker/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/nutanix/kustomization.yaml.tmpl
  hack/examples/patches/stig/kubeadmcontrolplanetemplate/control-plane-flags.yaml
Due: chart-docs, examples-sync

ci: enforce consistent CAPI package aliases via golangci-lint
  .golangci.yml
Due: none

fix: using cluster resource to check status and conditions
  pkg/handlers/lifecycle/konnectoragent/handler.go
  pkg/handlers/lifecycle/servicelbgc/handler.go
Due: go-generate, golangci-lint

fix: Use apiutils.GVKForObject in namespacesync controller
  pkg/controllers/namespacesync/controller.go
  pkg/controllers/namespacesync/controller_test.go
  pkg/controllers/namespacesync/copy.go
  pkg/controllers/namespacesync/copy_test.go
  pkg/controllers/namespacesync/references.go
Due: go-generate, golangci-lint

test: Use upstream CAPI test builder package
  go.mod
  internal/test/builder/bootstrap.go
  internal/test/builder/builders.go
  internal/test/builder/controlplane.go
  internal/test/builder/crds.go
  internal/test/builder/doc.go
  internal/test/builder/infrastructure.go
  internal/test/builder/remediation.go
  internal/test/builder/zz_generated.deepcopy.go
  internal/test/envtest/environment.go
  pkg/controllers/enforceclusterautoscalerlimits/controller_test.go
  pkg/controllers/namespacesync/controller_test.go
  pkg/controllers/namespacesync/copy_test.go
  pkg/controllers/namespacesync/references_test.go
  pkg/handlers/lifecycle/cni/cilium/template_test.go
Due: go-generate, golangci-lint

fix: retrying on get cluster failures
  pkg/handlers/lifecycle/konnectoragent/handler.go
  pkg/handlers/lifecycle/servicelbgc/handler.go
Due: go-generate, golangci-lint

fix: using capi conditions for comparsion
  pkg/handlers/lifecycle/konnectoragent/handler.go
Due: go-generate, golangci-lint

fix: Skip Konnector Agent BCD workload API when phase is Pending/Provisioning or control plane not initialized (#1515)
  pkg/handlers/lifecycle/konnectoragent/handler.go
  pkg/handlers/lifecycle/servicelbgc/handler.go
Due: go-generate, golangci-lint

fix: Remove Konnector Agent legacy deployment validation webhook (#1512)
  api/v1alpha1/constants.go
  pkg/webhook/cluster/konnectoragent_legacy_validator.go
  pkg/webhook/cluster/konnectoragent_legacy_validator_test.go
  pkg/webhook/cluster/validator.go
Due: go-generate, golangci-lint, kube-api-linter

fix: adding deafult Image if image/imageLookUp is not present
  pkg/handlers/nutanix/mutation/machinedetails/inject.go
Due: go-generate, golangci-lint

fix(fetch-images): template CCM values for addon image collection
  hack/tools/fetch-images/main.go
Due: go-generate, golangci-lint
