Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, golangci-lint, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock, check-coredns-versions

schema-chart:
  name: schema-chart
  entry: make schema-chart
  language: system

go-generate:
  name: go-generate
  entry: make go-generate
  language: system
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  entry: make lint
  language: system
  pass_filenames: false

chart-docs:
  name: chart-docs
  entry: make chart-docs
  language: system
  pass_filenames: false

hugo-mod-tidy:
  name: hugo-mod-tidy
  entry: bash -c "cd docs && hugo mod tidy"
  language: system
  pass_filenames: false

examples-sync:
  name: examples-sync
  entry: make examples.sync
  language: system
  pass_filenames: false

apis-sync:
  name: apis-sync
  entry: make apis.sync
  language: system
  pass_filenames: false

addons-sync:
  name: addons-sync
  entry: make addons.sync
  language: system
  pass_filenames: false

addons-repo-yaml:
  name: addons-repo-yaml
  entry: make template-helm-repository
  language: system
  pass_filenames: false

check-devbox-lock:
  name: check-devbox-lock
  entry: devbox install
  language: system
  pass_filenames: false

check-coredns-versions:
  name: check-coredns-versions
  entry: make coredns.sync
  language: system

release(release/v0.27.x): v0.27.5 (#1152)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

fixup! feat(preflight): Add a check for storage containers
  pkg/webhook/preflight/nutanix/storagecontainer.go
  pkg/webhook/preflight/nutanix/storagecontainer_test.go
Due: go-generate, golangci-lint

simplified hardening for workload + management cluster using ./harden.sh
  examples/capi-quick-start/nutanix-cluster-hardened-clusterclass/control-plane/cis-mitigations-cp-patch.yaml
  examples/capi-quick-start/nutanix-cluster-hardened-clusterclass/control-plane/harden.sh
  examples/capi-quick-start/nutanix-cluster-hardened-clusterclass/control-plane/kustomization.yaml
  examples/capi-quick-start/nutanix-cluster-hardened-clusterclass/worker/cis-mitigations-worker-patch.yaml
  examples/capi-quick-start/nutanix-cluster-hardened-clusterclass/worker/harden.sh
  examples/capi-quick-start/nutanix-cluster-hardened-clusterclass/worker/kustomization.yaml
Due: examples-sync

feat: Enable kube-vip CP load-balancer in masquerade mode
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  hack/addons/update-kube-vip-manifests.sh
  hack/examples/files/kube-vip.yaml
Due: chart-docs, examples-sync, addons-sync

fix: preserve registry addon root CA when moving management cluster
  charts/cluster-api-runtime-extensions-nutanix/templates/certificates.yaml
  common/pkg/capi/utils/utils.go
  pkg/handlers/generic/lifecycle/registry/cncfdistribution/handler.go
  pkg/handlers/generic/lifecycle/registry/utils/tls.go
  pkg/handlers/generic/lifecycle/registry/utils/tls_integration_test.go
  pkg/handlers/utils/secrets.go
Due: go-generate, golangci-lint, chart-docs

test: ensure registry addon CA exists and matches the root CA
  test/e2e/quick_start_test.go
  test/e2e/registry.go
  test/e2e/self_hosted_test.go
Due: go-generate, golangci-lint

fixup! fix: actually use the management cluster
  common/go.mod
  common/pkg/capi/utils/utils.go
  common/pkg/capi/utils/utils_test.go
  pkg/handlers/generic/lifecycle/registry/cncfdistribution/handler.go
  pkg/handlers/generic/lifecycle/registry/utils/tls.go
  pkg/handlers/generic/lifecycle/registry/utils/tls_integration_test.go
  pkg/handlers/utils/secrets.go
Due: go-generate, golangci-lint

fixup! fixup! feat: Nutanix VM image preflight check
  pkg/webhook/preflight/nutanix/specs.go
  pkg/webhook/preflight/nutanix/specs_test.go
Due: go-generate, golangci-lint

feat: Allow opt out of Nutanix preflight checks
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/checker_test.go
  pkg/webhook/preflight/nutanix/image.go
  pkg/webhook/preflight/nutanix/image_test.go
Due: go-generate, golangci-lint

feat: Preflight check opt-out
  pkg/webhook/preflight/optout/optout.go
  pkg/webhook/preflight/optout/optout_test.go
  pkg/webhook/preflight/preflight.go
  pkg/webhook/preflight/preflight_test.go
Due: go-generate, golangci-lint

feat: Build with Go 1.24.4 to fix CVEs
  api/go.mod
  common/go.mod
  go.mod
Due: go-generate, golangci-lint

fixup! feat: Add preflight checks framework
  pkg/webhook/preflight/preflight.go
  pkg/webhook/preflight/preflight_test.go
Due: go-generate, golangci-lint

feat: Build with Go 1.24.4 to fix CVEs (#1157)
  api/go.mod
  common/go.mod
  go.mod
Due: go-generate, golangci-lint

feat: add requests and limits to registry containers
  charts/cluster-api-runtime-extensions-nutanix/addons/registry/cncf-distribution/values-template.yaml
Due: chart-docs

fixup! feat: Add preflight checks framework
  cmd/main.go
  pkg/webhook/preflight/preflight.go
  pkg/webhook/preflight/preflight_test.go
Due: go-generate, golangci-lint

fixup! feat: Preflight check opt-out
  pkg/webhook/preflight/preflight.go
  pkg/webhook/preflight/preflight_test.go
Due: go-generate, golangci-lint

fixup! feat: Preflight check opt-out
  pkg/webhook/preflight/preflight.go
  pkg/webhook/preflight/preflight_test.go
  pkg/webhook/preflight/skip/skip.go
  pkg/webhook/preflight/skip/skip_test.go
Due: go-generate, golangci-lint

fixup! feat: Nutanix VM image preflight check
  pkg/webhook/preflight/nutanix/image.go
Due: go-generate, golangci-lint

fixup! feat: Nutanix VM image preflight check
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/credentials.go
  pkg/webhook/preflight/nutanix/credentials_test.go
  pkg/webhook/preflight/nutanix/image.go
  pkg/webhook/preflight/nutanix/image_test.go
Due: go-generate, golangci-lint

fixup! feat: Nutanix VM image preflight check
  pkg/webhook/preflight/nutanix/credentials_test.go
  pkg/webhook/preflight/nutanix/image_test.go
Due: go-generate, golangci-lint

fixup! feat: Nutanix VM image preflight check
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/clients.go
  pkg/webhook/preflight/nutanix/credentials.go
  pkg/webhook/preflight/nutanix/image.go
Due: go-generate, golangci-lint

feat: Nutanix VM image preflight check
  cmd/main.go
  go.mod
  go.sum
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/credentials.go
  pkg/webhook/preflight/nutanix/image.go
  pkg/webhook/preflight/nutanix/specs.go
Due: go-generate, golangci-lint

fixup! feat: Nutanix VM image preflight check
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/checker_test.go
  pkg/webhook/preflight/nutanix/clients.go
  pkg/webhook/preflight/nutanix/credentials.go
  pkg/webhook/preflight/nutanix/credentials_test.go
  pkg/webhook/preflight/nutanix/image.go
  pkg/webhook/preflight/nutanix/image_test.go
  pkg/webhook/preflight/nutanix/specs.go
  pkg/webhook/preflight/nutanix/specs_test.go
Due: go-generate, golangci-lint

fixup! feat: Nutanix VM image preflight check
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/checker_test.go
  pkg/webhook/preflight/nutanix/credentials.go
  pkg/webhook/preflight/nutanix/credentials_test.go
  pkg/webhook/preflight/nutanix/image.go
  pkg/webhook/preflight/nutanix/image_test.go
  pkg/webhook/preflight/nutanix/specs.go
  pkg/webhook/preflight/nutanix/specs_test.go
Due: go-generate, golangci-lint

fixup! feat: Nutanix VM image preflight check
  cmd/main.go
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/checker_test.go
  pkg/webhook/preflight/nutanix/credentials.go
  pkg/webhook/preflight/nutanix/credentials_test.go
  pkg/webhook/preflight/nutanix/image.go
  pkg/webhook/preflight/nutanix/image_test.go
  pkg/webhook/preflight/nutanix/specs.go
  pkg/webhook/preflight/nutanix/specs_test.go
Due: go-generate, golangci-lint

fixup! feat: Nutanix VM image preflight check
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/clients.go
  pkg/webhook/preflight/nutanix/clients_test.go
  pkg/webhook/preflight/nutanix/credentials.go
  pkg/webhook/preflight/nutanix/credentials_test.go
  pkg/webhook/preflight/nutanix/image.go
  pkg/webhook/preflight/nutanix/image_test.go
Due: go-generate, golangci-lint

fix: registry addon headless service port
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/cncf-distribution-registry/kustomization.yaml.tmpl
Due: chart-docs, addons-sync

feat(preflight): Add a check for storage containers
  go.mod
  go.sum
  pkg/webhook/preflight/nutanix/checker_test.go
  pkg/webhook/preflight/nutanix/clients.go
  pkg/webhook/preflight/nutanix/clients_test.go
  pkg/webhook/preflight/nutanix/storagecontainer.go
  pkg/webhook/preflight/nutanix/storagecontainer_test.go
Due: go-generate, golangci-lint

fixup! feat(preflight): Add a check for storage containers
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/checker_test.go
  pkg/webhook/preflight/nutanix/clients.go
  pkg/webhook/preflight/nutanix/storagecontainer.go
  pkg/webhook/preflight/nutanix/storagecontainer_test.go
Due: go-generate, golangci-lint

feat: add requests and limits to registry containers (#1158)
  charts/cluster-api-runtime-extensions-nutanix/addons/registry/cncf-distribution/values-template.yaml
Due: chart-docs

fix: registry addon headless service port (#1159)
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/cncf-distribution-registry/kustomization.yaml.tmpl
Due: chart-docs, addons-sync

test: Add update test helpers
  common/go.mod
  common/pkg/testutils/capitest/variables.go
  common/pkg/testutils/openapi/convert.go
  common/pkg/testutils/openapi/validate.go
Due: go-generate, golangci-lint

test: Add update test helpers (#1162)
  common/go.mod
  common/pkg/testutils/capitest/variables.go
  common/pkg/testutils/openapi/convert.go
  common/pkg/testutils/openapi/validate.go
Due: go-generate, golangci-lint

feat: Add preflight checks framework (#1129)
  charts/cluster-api-runtime-extensions-nutanix/templates/webhooks.yaml
  cmd/main.go
  hack/update-webhook-configurations.yq
  pkg/webhook/preflight/doc.go
  pkg/webhook/preflight/preflight.go
  pkg/webhook/preflight/preflight_test.go
Due: go-generate, golangci-lint, chart-docs

test(e2e): Nutanix 1.33.1 testing
  .github/workflows/checks.yml
  test/e2e/config/caren.yaml
Due: none

test(e2e): Nutanix 1.33.1 testing (#1164)
  .github/workflows/checks.yml
  test/e2e/config/caren.yaml
Due: none

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/mindthegap-helm-registry/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$
  check-coredns-versions: any of: ^api/versions/coredns.go$
