Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-configmap

golangci-lint:
  name: golangci-lint
  entry: make go-generate lint
  language: system
  pass_filenames: false

hugo-mod-tidy:
  name: hugo-mod-tidy
  entry: bash -c "cd docs && hugo mod tidy"
  language: system
  pass_filenames: false

examples-sync:
  name: examples-sync
  entry: make examples.sync
  language: system
  pass_filenames: false

apis-sync:
  name: apis-sync
  entry: make apis.sync
  language: system
  pass_filenames: false

addons-sync:
  name: addons-sync
  entry: make addons.sync
  language: system
  pass_filenames: false

addons-configmap:
  name: addons-configmap
  entry: make generate-helm-configmap
  language: system
  pass_filenames: false

fixup! refactor: Delete unused code
  api/openapi/patterns/anchored.go
  api/openapi/patterns/distribution.go
  api/openapi/patterns/dns1123.go
  api/openapi/patterns/generic.go
  api/openapi/patterns/net.go
  api/v1alpha1/aws_node_types.go
Due: golangci-lint

docs: Remove additionalCategories from required fields (#543)
  docs/content/customization/nutanix/machine-details.md
Due: hugo-mod-tidy

refactor: provider an entrypoint to the infra provider meta handlers
  cmd/main.go
  pkg/handlers/aws/handlers.go
  pkg/handlers/docker/handlers.go
  pkg/handlers/nutanix/handlers.go
  pkg/handlers/nutanix/mutation/controlplaneendpoint/inject.go
  pkg/handlers/nutanix/mutation/controlplaneendpoint/inject_test.go
  pkg/handlers/nutanix/mutation/metapatch_handler.go
Due: golangci-lint

fixup! refactor: provider an entrypoint to the infra provider meta handlers
  pkg/handlers/nutanix/handlers.go
  pkg/handlers/nutanix/mutation/controlplaneendpoint/inject.go
  pkg/handlers/nutanix/mutation/controlplaneendpoint/inject_test.go
  pkg/handlers/nutanix/mutation/metapatch_handler.go
Due: golangci-lint

refactor: remove kube-vip template from Nutanix's KCP
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/kube-vip/manifests/kube-vip-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  hack/examples/bases/nutanix/clusterclass/kustomization.yaml.tmpl
Due: examples-sync, addons-sync, addons-configmap

feat: Preserve user-managed fields when applying resources
  common/pkg/k8s/client/apply.go
Due: golangci-lint

feat: Preserve user-managed fields when creating namespace
  pkg/handlers/generic/lifecycle/utils/utils.go
  pkg/handlers/generic/lifecycle/utils/utils_suite_test.go
  pkg/handlers/generic/lifecycle/utils/utils_test.go
Due: golangci-lint

fixup! feat: Preserve user-managed fields when creating namespace
  pkg/handlers/generic/lifecycle/utils/utils_integration_test.go
  pkg/handlers/generic/lifecycle/utils/utils_suite_test.go
  pkg/handlers/generic/lifecycle/utils/utils_test.go
Due: golangci-lint

refactor: add kube-vip static Pod to KCP in the handler
  pkg/common/controlplaneendpoint/virtualip/fromreader.go
  pkg/common/controlplaneendpoint/virtualip/kubevip.go
  pkg/common/controlplaneendpoint/virtualip/kubevip_test.go
  pkg/common/controlplaneendpoint/virtualip/providers.go
  pkg/handlers/nutanix/handlers.go
  pkg/handlers/nutanix/mutation/controlplaneendpoint/inject.go
  pkg/handlers/nutanix/mutation/controlplaneendpoint/inject_test.go
  pkg/handlers/nutanix/mutation/metapatch_handler.go
Due: golangci-lint

refactor: better handle nil virtualIPProvider
  pkg/handlers/nutanix/mutation/controlplaneendpoint/inject.go
  pkg/handlers/nutanix/mutation/controlplaneendpoint/inject_test.go
  pkg/handlers/nutanix/mutation/metapatch_handler.go
Due: golangci-lint

feat: Ability to create namespace by specifying namespace object
  pkg/handlers/generic/lifecycle/clusterautoscaler/strategy_crs.go
  pkg/handlers/generic/lifecycle/utils/secrets.go
  pkg/handlers/generic/lifecycle/utils/utils.go
  pkg/handlers/generic/lifecycle/utils/utils_integration_test.go
Due: golangci-lint

feat: CAPI v1.7.1
  api/go.mod
  api/go.sum
  common/go.mod
  common/go.sum
  go.mod
  go.sum
  hack/flakes/flake.nix
Due: golangci-lint

build: Upgrade tooling, notably go to v1.22.2
  .pre-commit-config.yaml
  devbox.lock
  hack/flakes/flake.nix
Due: none

fixup! build: Fix hugo to 0.124.1 for docsy compatibility
  devbox.json
  devbox.lock
Due: none

feat: CAPI v1.7.1 (#560)
  api/go.mod
  api/go.sum
  common/go.mod
  common/go.sum
  go.mod
  go.sum
  hack/flakes/flake.nix
Due: golangci-lint

refactor: add VirtualIPSpec API and a handler
  api/v1alpha1/common_types.go
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  docs/content/customization/nutanix/control-plane-endpoint.md
  examples/capi-quick-start/nutanix-cluster-calico-crs.yaml
  examples/capi-quick-start/nutanix-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  hack/examples/bases/nutanix/clusterclass/kustomization.yaml.tmpl
  hack/examples/patches/nutanix/initialize-variables.yaml
  pkg/common/controlplaneendpoint/virtualip/fromreader.go
  pkg/handlers/generic/mutation/controlplanevirtualip/inject.go
  pkg/handlers/generic/mutation/controlplanevirtualip/inject_test.go
  pkg/handlers/generic/mutation/controlplanevirtualip/providers/kubevip.go
  pkg/handlers/generic/mutation/controlplanevirtualip/providers/kubevip_test.go
  pkg/handlers/generic/mutation/controlplanevirtualip/providers/providers.go
  pkg/handlers/nutanix/handlers.go
  pkg/handlers/nutanix/mutation/controlplaneendpoint/inject.go
  pkg/handlers/nutanix/mutation/controlplaneendpoint/inject_test.go
  pkg/handlers/nutanix/mutation/controlplanevirtualip/inject.go
  pkg/handlers/nutanix/mutation/metapatch_handler.go
  pkg/handlers/options/global.go
Due: golangci-lint, hugo-mod-tidy, examples-sync

fix: kube-vip admin.conf pre/postKubeadmCommands
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  docs/content/customization/nutanix/control-plane-endpoint.md
  hack/examples/bases/nutanix/clusterclass/kustomization.yaml.tmpl
  pkg/handlers/generic/mutation/controlplanevirtualip/inject.go
  pkg/handlers/generic/mutation/controlplanevirtualip/inject_test.go
  pkg/handlers/generic/mutation/controlplanevirtualip/providers/kubevip.go
  pkg/handlers/generic/mutation/controlplanevirtualip/providers/providers.go
Due: golangci-lint, hugo-mod-tidy, examples-sync

build: Upgrade tooling, notably go to v1.22.2 (#561)
  .pre-commit-config.yaml
  devbox.json
  devbox.lock
  hack/flakes/flake.nix
Due: none

build: Add update kube-vip manifests script and use kube-vip 0.8.0
  charts/cluster-api-runtime-extensions-nutanix/templates/kube-vip/manifests/kube-vip-configmap.yaml
  hack/addons/update-kube-vip-manifests.sh
  make/addons.mk
  pkg/handlers/generic/mutation/controlplanevirtualip/inject.go
  pkg/handlers/generic/mutation/controlplanevirtualip/inject_test.go
  pkg/handlers/generic/mutation/controlplanevirtualip/providers/kubevip.go
  pkg/handlers/generic/mutation/controlplanevirtualip/providers/providers.go
  pkg/handlers/options/global.go
Due: golangci-lint, addons-sync, addons-configmap

fixup! feat: Preserve user-managed fields when applying resources
  common/pkg/k8s/client/apply.go
  pkg/handlers/generic/lifecycle/ccm/aws/handler.go
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/strategy_crs.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/cni/calico/strategy_crs.go
  pkg/handlers/generic/lifecycle/cni/calico/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/cni/cilium/strategy_crs.go
  pkg/handlers/generic/lifecycle/cni/cilium/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/csi/aws-ebs/handler.go
  pkg/handlers/generic/lifecycle/csi/nutanix-csi/handler.go
  pkg/handlers/generic/lifecycle/nfd/strategy_crs.go
  pkg/handlers/generic/lifecycle/nfd/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/utils/scs.go
  pkg/handlers/generic/lifecycle/utils/secrets.go
  pkg/handlers/generic/lifecycle/utils/utils.go
  pkg/handlers/generic/mutation/imageregistries/credentials/inject.go
Due: golangci-lint

fixup! feat: Preserve user-managed fields when applying resources
  common/pkg/k8s/client/apply.go
Due: golangci-lint

refactor: provider an entrypoint to the infra provider meta handlers (#554)
  cmd/main.go
  pkg/handlers/aws/handlers.go
  pkg/handlers/docker/handlers.go
  pkg/handlers/nutanix/handlers.go
Due: golangci-lint

feat: Preserve user-managed fields when applying resources (#556)
  common/pkg/k8s/client/apply.go
  pkg/handlers/generic/lifecycle/ccm/aws/handler.go
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/strategy_crs.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/cni/calico/strategy_crs.go
  pkg/handlers/generic/lifecycle/cni/calico/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/cni/cilium/strategy_crs.go
  pkg/handlers/generic/lifecycle/cni/cilium/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/csi/aws-ebs/handler.go
  pkg/handlers/generic/lifecycle/csi/nutanix-csi/handler.go
  pkg/handlers/generic/lifecycle/nfd/strategy_crs.go
  pkg/handlers/generic/lifecycle/nfd/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/utils/scs.go
  pkg/handlers/generic/lifecycle/utils/secrets.go
  pkg/handlers/generic/lifecycle/utils/utils.go
  pkg/handlers/generic/mutation/imageregistries/credentials/inject.go
Due: golangci-lint

feat: Preserve user-managed fields when creating namespace
  pkg/handlers/generic/lifecycle/utils/utils.go
  pkg/handlers/generic/lifecycle/utils/utils_integration_test.go
  pkg/handlers/generic/lifecycle/utils/utils_suite_test.go
Due: golangci-lint

build: default to Kubernetes v1.29.4
  README.md
  make/go.mk
Due: golangci-lint

feat: add AWS CCM support for Kubernetes v1.29
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.29.2-configmap.yaml
  make/addons.mk
  pkg/handlers/generic/lifecycle/ccm/aws/handler.go
Due: golangci-lint, addons-sync, addons-configmap

test(e2e): Add self-hosted e2e test
  test/e2e/addon_helpers.go
  test/e2e/clusterautoscaler_helpers.go
  test/e2e/e2e_suite_test.go
  test/e2e/framework/self_hosted.go
  test/e2e/helmreleaseproxy_helpers.go
  test/e2e/nfd_helpers.go
  test/e2e/self_hosted_test.go
Due: golangci-lint

ci: Add self-hosted test job
  .github/workflows/checks.yml
  .github/workflows/e2e.yml
Due: none

refactor: Reduce some uncessary new lines
  test/e2e/quick_start_test.go
  test/e2e/self_hosted_test.go
Due: golangci-lint

fixup! refactor: Use clusterv1 import alias to satisfy linter
  devbox.lock
  test/e2e/clusterautoscaler_helpers.go
  test/e2e/self_hosted_test.go
Due: golangci-lint

fixup! refactor: Apply review feedback
  .github/workflows/checks.yml
  test/e2e/clusterautoscaler_helpers.go
Due: golangci-lint

fixup! test: Fix check for management cluster
  common/pkg/capi/utils/utils.go
Due: golangci-lint

Path conditions:
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-configmap: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+|make/addons.mk$)
