Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-configmap

golangci-lint:
  name: golangci-lint
  entry: make go-generate lint
  language: system
  pass_filenames: false

hugo-mod-tidy:
  name: hugo-mod-tidy
  entry: bash -c "cd docs && hugo mod tidy"
  language: system
  pass_filenames: false

examples-sync:
  name: examples-sync
  entry: make examples.sync
  language: system
  pass_filenames: false

apis-sync:
  name: apis-sync
  entry: make apis.sync
  language: system
  pass_filenames: false

addons-sync:
  name: addons-sync
  entry: make addons.sync
  language: system
  pass_filenames: false

addons-configmap:
  name: addons-configmap
  entry: make generate-helm-configmap
  language: system
  pass_filenames: false

test: Verify ServiceLoadBalancer in e2e Docker and Nutanix tests
  examples/capi-quick-start/docker-cluster-calico-crs.yaml
  examples/capi-quick-start/docker-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/docker-cluster-cilium-crs.yaml
  examples/capi-quick-start/docker-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-calico-crs.yaml
  examples/capi-quick-start/nutanix-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  hack/examples/bases/docker/cluster/kustomization.yaml.tmpl
  hack/examples/bases/nutanix/cluster/kustomization.yaml.tmpl
  hack/examples/patches/metallb.yaml
  test/e2e/addon_helpers.go
  test/e2e/config/caren.yaml
  test/e2e/quick_start_test.go
  test/e2e/self_hosted_test.go
  test/e2e/serviceloadbalancer_helpers.go
Due: golangci-lint, examples-sync

test: Add helper function to wait for misc. resources to be present
  test/e2e/resource_helpers.go
Due: golangci-lint

feat: Added FailureDomains as mutation in caren
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/nutanix_clusterconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  docs/content/customization/nutanix/failure-domains.md
  pkg/handlers/nutanix/mutation/failuredomains/inject.go
  pkg/handlers/nutanix/mutation/failuredomains/inject_test.go
  pkg/handlers/nutanix/mutation/failuredomains/variables_test.go
  pkg/handlers/nutanix/mutation/metapatch_handler.go
Due: golangci-lint, hugo-mod-tidy

fix: improvemnts for value syncer and components
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/tools/helm-cm/main.go
  hack/tools/mindthegap-helm-reg/main.go
  hack/tools/sync-helm-values/sync-values.go
  pkg/handlers/generic/lifecycle/config/cm.go
Due: golangci-lint, addons-configmap

ci: update pre-commit to ignore potentially bunk helm-values files
  .pre-commit-config.yaml
Due: none

fix: pre-commit issues
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/nutanix/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cluster-autoscaler/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/aws/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/docker/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/nutanix/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/aws-ebs/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/local-path/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/snapshot-controller/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/nfd/manifests/helm-addon-installation.yaml
  hack/addons/kustomize/csi/nutanix/manifests/helm-addon-installation.yaml
  hack/addons/kustomize/serviceloadbalancer/metallb/helm-addons.yaml
  hack/tools/sync-helm-values/sync-values.go
Due: golangci-lint, addons-sync, addons-configmap

fix: remove unused file
  charts/cluster-api-runtime-extensions-nutanix/templates/serviceloadbalancer/metallb/helm-addon-installation.yaml
Due: addons-configmap

ci: fixes and runs update addons
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/cilium-configmap.yaml
  hack/addons/kustomize/ccm/aws/manifests/kustomization.yaml.tmpl
  hack/addons/update-aws-ccm.sh
  hack/addons/update-aws-ebs-csi.sh
  hack/addons/update-calico-manifests.sh
  hack/addons/update-cilium-manifests.sh
  hack/addons/update-cluster-autoscaler.sh
  hack/addons/update-local-path-provisioner-csi.sh
  hack/addons/update-node-feature-discovery-manifests.sh
  hack/addons/update-snapshot-controller.sh
Due: addons-sync, addons-configmap

ci: adds tooling to sync files
  hack/tools/sync-helm-values/sync-values.go
Due: golangci-lint

fix: uses new scheme for helm addons when deploying code
  pkg/handlers/generic/lifecycle/addons/helmaddon.go
  pkg/handlers/generic/lifecycle/ccm/aws/handler.go
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/cni/calico/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/cni/cilium/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/config/cm.go
  pkg/handlers/generic/lifecycle/csi/awsebs/handler.go
  pkg/handlers/generic/lifecycle/csi/localpath/handler.go
  pkg/handlers/generic/lifecycle/csi/nutanix/handler.go
  pkg/handlers/generic/lifecycle/csi/snapshotcontroller/handler.go
  pkg/handlers/generic/lifecycle/nfd/handler.go
  pkg/handlers/generic/lifecycle/serviceloadbalancer/metallb/handler.go
Due: golangci-lint

fix: use correct package name
  pkg/handlers/generic/lifecycle/addons/helmaddon.go
Due: golangci-lint

fixup! build: Use upstream CAPI core providers
  test/e2e/config/caren.yaml
Due: none

refactor: Use CAPI conditions check where possible (#789)
  pkg/handlers/generic/lifecycle/serviceloadbalancer/metallb/handler.go
Due: golangci-lint

fixup! refactor: Make addon strategy a pointer field
  api/v1alpha1/addon_types.go
  api/v1alpha1/zz_generated.deepcopy.go
Due: golangci-lint

fixup! test: Update tests for pointer field
  pkg/handlers/generic/lifecycle/ccm/aws/handler.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/handler.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/variables_test.go
  pkg/handlers/generic/lifecycle/cni/calico/handler.go
  pkg/handlers/generic/lifecycle/cni/cilium/handler.go
  pkg/handlers/generic/lifecycle/cni/variables_test.go
  pkg/handlers/generic/lifecycle/csi/awsebs/handler.go
  pkg/handlers/generic/lifecycle/csi/localpath/handler.go
  pkg/handlers/generic/lifecycle/csi/nutanix/handler.go
  pkg/handlers/generic/lifecycle/csi/snapshotcontroller/handler.go
  pkg/handlers/generic/lifecycle/csi/variables_test.go
  pkg/handlers/generic/lifecycle/nfd/handler.go
  pkg/handlers/generic/lifecycle/nfd/variables_test.go
  test/e2e/ccm_helpers.go
  test/e2e/clusterautoscaler_helpers.go
  test/e2e/cni_helpers.go
  test/e2e/csi_helpers.go
  test/e2e/nfd_helpers.go
Due: golangci-lint

fix: add omitempty to addon strategy (#795)
  api/v1alpha1/addon_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  pkg/handlers/generic/lifecycle/ccm/aws/handler.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/handler.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/variables_test.go
  pkg/handlers/generic/lifecycle/cni/calico/handler.go
  pkg/handlers/generic/lifecycle/cni/cilium/handler.go
  pkg/handlers/generic/lifecycle/cni/variables_test.go
  pkg/handlers/generic/lifecycle/csi/awsebs/handler.go
  pkg/handlers/generic/lifecycle/csi/localpath/handler.go
  pkg/handlers/generic/lifecycle/csi/nutanix/handler.go
  pkg/handlers/generic/lifecycle/csi/snapshotcontroller/handler.go
  pkg/handlers/generic/lifecycle/csi/variables_test.go
  pkg/handlers/generic/lifecycle/nfd/handler.go
  pkg/handlers/generic/lifecycle/nfd/variables_test.go
  test/e2e/ccm_helpers.go
  test/e2e/clusterautoscaler_helpers.go
  test/e2e/cni_helpers.go
  test/e2e/csi_helpers.go
  test/e2e/nfd_helpers.go
Due: golangci-lint

docs: adds readme for sync tool
  hack/tools/sync-helm-values/README.md
Due: none

docs: adds usage to sync tool readme
  hack/tools/sync-helm-values/README.md
Due: none

feat: adds make target to run tool
  charts/cluster-api-runtime-extensions-nutanix/templates/nfd/manifests/helm-addon-installation.yaml
  hack/tools/sync-helm-values/sync-values.go
  make/addons.mk
Due: golangci-lint, addons-sync, addons-configmap

fix: remove license
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/nutanix/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cluster-autoscaler/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/aws/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/docker/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/nutanix/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/aws-ebs/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/local-path/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/snapshot-controller/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/nfd/manifests/helm-addon-installation.yaml
  hack/tools/sync-helm-values/sync-values.go
Due: golangci-lint, addons-sync, addons-configmap

fix: adds license
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/nutanix/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cluster-autoscaler/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/aws/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/docker/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/nutanix/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/aws-ebs/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/local-path/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/snapshot-controller/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/nfd/manifests/helm-addon-installation.yaml
  hack/tools/sync-helm-values/README.md
Due: addons-sync, addons-configmap

fix: adds license to tool and uses different templating for CA
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/nutanix/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cluster-autoscaler/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/aws/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/docker/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/nutanix/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/aws-ebs/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/local-path/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/snapshot-controller/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/nfd/manifests/helm-addon-installation.yaml
  hack/tools/sync-helm-values/sync-values.go
  make/addons.mk
  pkg/handlers/generic/lifecycle/clusterautoscaler/template.go
Due: golangci-lint, addons-sync, addons-configmap

fix: linting issue in tool
  hack/tools/sync-helm-values/sync-values.go
Due: golangci-lint

fix: update CCM to 0.3.4 to fix sweet32 issue
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/mindthegap-helm-registry/repos.yaml
  make/addons.mk
Due: addons-sync, addons-configmap

fix: update CCM to 0.3.4 to fix sweet32 issue (#805)
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/mindthegap-helm-registry/repos.yaml
  make/addons.mk
Due: addons-sync, addons-configmap

test(e2e): Use parallel tests for providers other than Docker
  .github/workflows/checks.yml
  .github/workflows/e2e.yml
  test/e2e/quick_start_test.go
  test/e2e/self_hosted_test.go
Due: golangci-lint

test(e2e): Reserve and unreserve CP endpoint IP per test cluster
  .github/workflows/e2e.yml
  api/go.mod
  api/go.sum
  common/go.mod
  common/go.sum
  go.mod
  go.sum
  test/e2e/config/caren.yaml
  test/e2e/framework/nutanix/client.go
  test/e2e/framework/nutanix/cluster.go
  test/e2e/framework/nutanix/networking.go
  test/e2e/quick_start_test.go
  test/e2e/self_hosted_test.go
Due: golangci-lint

fixup! test(e2e): Fix up e2e tests
  .github/workflows/e2e.yml
  go.mod
Due: golangci-lint

fixup! ci: Remove unnecessary step to get CP endpoint IP
  .github/workflows/e2e.yml
  test/e2e/quick_start_test.go
Due: golangci-lint

fixup! build: Remove now unused make target
  devbox.json
  devbox.lock
  make/dev.mk
Due: none

test(e2e): Use parallel tests for providers other than Docker (#787)
  .github/workflows/checks.yml
  .github/workflows/e2e.yml
  api/go.mod
  api/go.sum
  common/go.mod
  common/go.sum
  devbox.json
  devbox.lock
  go.mod
  go.sum
  make/dev.mk
  test/e2e/config/caren.yaml
  test/e2e/framework/nutanix/client.go
  test/e2e/framework/nutanix/cluster.go
  test/e2e/framework/nutanix/networking.go
  test/e2e/quick_start_test.go
  test/e2e/self_hosted_test.go
Due: golangci-lint

fix: Clean up MetalLB pod security standards labels
  pkg/handlers/generic/lifecycle/serviceloadbalancer/metallb/handler.go
  pkg/handlers/utils/utils.go
Due: golangci-lint

fix: Clean up MetalLB pod security standards labels (#807)
  pkg/handlers/generic/lifecycle/serviceloadbalancer/metallb/handler.go
  pkg/handlers/utils/utils.go
Due: golangci-lint

feat: Secure ciphers, min TLS v1.2, and disable auto TLS for etcd
  pkg/handlers/generic/mutation/etcd/inject.go
  pkg/handlers/generic/mutation/etcd/inject_test.go
Due: golangci-lint

feat: Bump default k8s version for tests to v1.29.6
  README.md
  make/go.mk
  test/e2e/config/caren.yaml
  test/e2e/e2e_suite_test.go
Due: golangci-lint

fixup! ci: Specify Nutanix image in e2e config
  .github/workflows/e2e.yml
  test/e2e/config/caren.yaml
Due: none

fixup! refactor: Add comment to describe extra args
  pkg/handlers/generic/mutation/etcd/inject.go
  pkg/handlers/generic/mutation/etcd/inject_test.go
Due: golangci-lint

feat: Secure ciphers, min TLS v1.2, and disable auto TLS for etcd (#808)
  pkg/handlers/generic/mutation/etcd/inject.go
  pkg/handlers/generic/mutation/etcd/inject_test.go
Due: golangci-lint

feat: Bump default k8s version for tests to v1.29.6 (#784)
  .github/workflows/e2e.yml
  README.md
  make/go.mk
  test/e2e/config/caren.yaml
  test/e2e/e2e_suite_test.go
Due: golangci-lint

Path conditions:
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-configmap: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+|make/addons.mk$)
