Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, check-coredns-versions, golangci-lint, kube-api-linter, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock

schema-chart:
  name: schema-chart
  entry: make schema-chart
  language: system

go-generate:
  name: go-generate
  entry: make go-generate
  language: system
  pass_filenames: false

check-coredns-versions:
  name: check-coredns-versions
  entry: make coredns.sync
  language: system

golangci-lint:
  name: golangci-lint
  entry: make lint
  language: system
  pass_filenames: false

kube-api-linter:
  name: kube-api-linter
  entry: make lint-kube-api
  language: system
  pass_filenames: false

chart-docs:
  name: chart-docs
  entry: make chart-docs
  language: system
  pass_filenames: false

hugo-mod-tidy:
  name: hugo-mod-tidy
  entry: bash -c "cd docs && hugo mod tidy"
  language: system
  pass_filenames: false

examples-sync:
  name: examples-sync
  entry: make examples.sync
  language: system
  pass_filenames: false

apis-sync:
  name: apis-sync
  entry: make apis.sync
  language: system
  pass_filenames: false

addons-sync:
  name: addons-sync
  entry: make addons.sync
  language: system
  pass_filenames: false

addons-repo-yaml:
  name: addons-repo-yaml
  entry: make template-helm-repository
  language: system
  pass_filenames: false

check-devbox-lock:
  name: check-devbox-lock
  entry: devbox install
  language: system
  pass_filenames: false

fix: [NCN-110043] Register Cilium v2 and v2alpha1 types in schemes
  cmd/main.go
  test/e2e/e2e_suite_test.go
Due: go-generate, golangci-lint

release(main): v0.47.0 (#1601)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/caren/metadata.yaml
Due: hugo-mod-tidy

fix: fallback to insecure when trust bundle is not provided
  pkg/handlers/lifecycle/konnectoragent/handler.go
  pkg/handlers/lifecycle/konnectoragent/variables_test.go
Due: go-generate, golangci-lint

fix: Support Trust Bundle for Konnector Agent (#1595)
  charts/cluster-api-runtime-extensions-nutanix/addons/konnector-agent/values-template.yaml
  hack/tools/fetch-images/main.go
  pkg/handlers/lifecycle/konnectoragent/handler.go
  pkg/handlers/lifecycle/konnectoragent/variables_test.go
Due: go-generate, golangci-lint, chart-docs

fix: require Prism Central 7.5 in preflight
  pkg/webhook/preflight/nutanix/prismcentralversion.go
  pkg/webhook/preflight/nutanix/prismcentralversion_test.go
Due: go-generate, golangci-lint

test: cover Prism Central 7.6 preflight acceptance
  pkg/webhook/preflight/nutanix/prismcentralversion_test.go
Due: go-generate, golangci-lint

fix: require Prism Central 7.5 in preflight (#1605)
  pkg/webhook/preflight/nutanix/prismcentralversion.go
  pkg/webhook/preflight/nutanix/prismcentralversion_test.go
Due: go-generate, golangci-lint

fix: Update CoreDNS mapping file
  api/versions/coredns.go
  api/versions/coredns_test.go
Due: go-generate, check-coredns-versions, golangci-lint, kube-api-linter

fix: update CoreDNS mapping file
  api/versions/coredns.go
  api/versions/coredns_test.go
Due: go-generate, check-coredns-versions, golangci-lint, kube-api-linter

test: avoid duplicating generated CoreDNS mapping
  api/versions/coredns_test.go
Due: go-generate, golangci-lint, kube-api-linter

fix: Update CoreDNS mapping file (#1606)
  api/versions/coredns.go
  api/versions/coredns_test.go
Due: go-generate, check-coredns-versions, golangci-lint, kube-api-linter

fix: update CoreDNS mapping file
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

feat: update Nutanix CSI version to 3.7.0-rc1 (#1610)
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

feat: update Nutanix CSI version to 3.7.0
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

feat: update Nutanix CSI version to 3.7.0 (#1612)
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

feat: Configurable audit log backend and policy
  api/v1alpha1/audit.go
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  pkg/handlers/generic/mutation/handlers.go
  pkg/handlers/generic/mutation/kubeadm/auditlog/inject.go
  pkg/handlers/generic/mutation/kubeadm/auditlog/inject_test.go
  pkg/handlers/generic/mutation/kubeadm/auditlog/policy.go
  pkg/handlers/generic/mutation/kubeadm/auditlog/policy_test.go
Due: go-generate, golangci-lint, kube-api-linter

fixup! feat: Configurable audit log backend and policy
  docs/content/customization/kubeadm/audit-policy.md
Due: hugo-mod-tidy

fixup! feat: Configurable audit log backend and policy
  api/v1alpha1/audit.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
Due: go-generate, golangci-lint, kube-api-linter

fixup! feat: Configurable audit log backend and policy
  api/v1alpha1/audit.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  pkg/handlers/generic/mutation/kubeadm/auditlog/embedded/default-audit-policy.yaml
  pkg/handlers/generic/mutation/kubeadm/auditlog/inject.go
Due: go-generate, golangci-lint, kube-api-linter

refactor: Remove auditpolicy handler
  pkg/handlers/generic/mutation/handlers.go
  pkg/handlers/generic/mutation/kubeadm/auditpolicy/embedded/apiserver-audit-policy.yaml
  pkg/handlers/generic/mutation/kubeadm/auditpolicy/inject.go
  pkg/handlers/generic/mutation/kubeadm/auditpolicy/inject_test.go
Due: go-generate, golangci-lint

fixup! feat: Configurable audit log backend and policy
  pkg/handlers/generic/mutation/kubeadm/auditlog/variables_test.go
Due: go-generate, golangci-lint

fixup! feat: Configurable audit log backend and policy
  docs/content/customization/kubeadm/audit-log.md
  docs/static/default-audit-policy.yaml
Due: hugo-mod-tidy

fix: registry mirror configuration for containerd config version 3
  pkg/handlers/generic/mutation/generic/mirrors/containerd_files_test.go
  pkg/handlers/generic/mutation/generic/mirrors/templates/containerd-registry-config-drop-in.toml
Due: go-generate, golangci-lint

fix: registry mirror configuration for containerd config version 3 (#1613)
  pkg/handlers/generic/mutation/generic/mirrors/containerd_files_test.go
  pkg/handlers/generic/mutation/generic/mirrors/templates/containerd-registry-config-drop-in.toml
Due: go-generate, golangci-lint

ci: use rocky-9.7 for e2e tests for kubernetes 1.33.5
  .github/workflows/checks.yml
Due: none

ci: use rocky-9.7 for e2e tests for kubernetes 1.33.5 (#1621)
  .github/workflows/checks.yml
Due: none

feat: [NCN-113989] Add seccompDefault kubelet configuration field
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  api/v1alpha1/kubelet_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  devbox.json
  devbox.lock
  docs/content/customization/kubeadm/kubelet-configuration.md
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/embedded/kubeletconfigpatch.yaml.tmpl
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_controlplane_test.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_worker_test.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/kubelet_config.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/kubelet_config_test.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/variables_test.go
Due: go-generate, golangci-lint, kube-api-linter, hugo-mod-tidy, check-devbox-lock

feat: [NCN-113989] Add seccompDefault kubelet configuration field (#1622)
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  api/v1alpha1/kubelet_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  devbox.json
  devbox.lock
  docs/content/customization/kubeadm/kubelet-configuration.md
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/embedded/kubeletconfigpatch.yaml.tmpl
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_controlplane_test.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_worker_test.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/kubelet_config.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/kubelet_config_test.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/variables_test.go
Due: go-generate, golangci-lint, kube-api-linter, hugo-mod-tidy, check-devbox-lock

fix: [NCN-101538] Default PSA exemptions to kube-system when omitted
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_kubeadmclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/pod_security_admission_types.go
Due: go-generate, golangci-lint, kube-api-linter

fix: Add CoreDNS v1.14.2 mapping for Kubernetes v1.36
  api/versions/coredns.go
Due: go-generate, check-coredns-versions, golangci-lint, kube-api-linter

feat: [NCN-101538] Add Pod Security Admission configuration (#1573)
  .specify/features/NCN-101538/plan.md
  .specify/features/NCN-101538/spec.md
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_kubeadmclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/pod_security_admission_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  docs/content/customization/kubeadm/pod-security-admission.md
  pkg/handlers/generic/mutation/handlers.go
  pkg/handlers/generic/mutation/kubeadm/admissionconfiguration/admission_configuration.go
  pkg/handlers/generic/mutation/kubeadm/admissionconfiguration/admission_configuration_test.go
  pkg/handlers/generic/mutation/kubeadm/podsecurityadmission/inject.go
  pkg/handlers/generic/mutation/kubeadm/podsecurityadmission/inject_test.go
Due: go-generate, golangci-lint, kube-api-linter, hugo-mod-tidy

fix: remove memory limits for multus
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/multus/values-template.yaml
Due: chart-docs

fix: remove memory limits for multus (#1623)
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/multus/values-template.yaml
Due: chart-docs

build: validate and normalize GO_TOOLCHAIN_VERSION
  make/go.mk
Due: go-generate, golangci-lint, kube-api-linter

build: bump go toolchain to 1.26.3
  api/go.mod
  common/go.mod
  go.mod
  hack/tools/go.mod
Due: go-generate, golangci-lint, kube-api-linter

fixup! build(deps): Bump the all-go-mod-patch-and-minor group across 4 directories with 13 updates
  api/go.mod
  api/go.sum
Due: go-generate, golangci-lint, kube-api-linter

build: bump go toolchain to 1.26.3 and harden GO_TOOLCHAIN_VERSION handling (#1624)
  api/go.mod
  common/go.mod
  go.mod
  hack/tools/go.mod
  make/go.mk
Due: go-generate, golangci-lint, kube-api-linter

fixup! release: Update metadata for release
  docs/content/contributing/releasing.md
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/caren/metadata.yaml
Due: hugo-mod-tidy

feat: [NCN-114349] Label addon namespaces with privileged PSA
  .specify/features/NCN-114349/plan.md
  .specify/features/NCN-114349/spec.md
  docs/content/addons/konnector-agent.md
  docs/content/addons/nfd.md
  pkg/handlers/lifecycle/csi/nutanix/handler.go
  pkg/handlers/lifecycle/konnectoragent/handler.go
  pkg/handlers/lifecycle/nfd/handler.go
  pkg/handlers/utils/utils.go
  pkg/handlers/utils/utils_integration_test.go
Due: go-generate, golangci-lint, hugo-mod-tidy

release(main): v0.48.0 (#1614)
  .release-please-manifest.json
  CHANGELOG.md
  docs/content/contributing/releasing.md
  docs/hugo.toml
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/caren/metadata.yaml
Due: hugo-mod-tidy

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  check-coredns-versions: any of: ^api/versions/coredns.go$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  kube-api-linter: any of: ((^api/(.*\.go|go.mod|go.sum))|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/helm-chart-bundler/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$
