Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, check-coredns-versions, golangci-lint, kube-api-linter, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  check-coredns-versions: any of: ^api/versions/coredns.go$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  kube-api-linter: any of: ((^api/(.*\.go|go.mod|go.sum))|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/helm-chart-bundler/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$

e2e: refactor Flow CNI and self-hosted test setup
  test/e2e/quick_start_test.go
  test/e2e/self_hosted_test.go
Due: go-generate, golangci-lint

refactor: Remove AWS Flow addon, update Nutanix Flow addon
  examples/capi-quick-start/aws-cluster-flow-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-flow-helm-addon.yaml
Due: examples-sync

fixup! build: Use CAAPH v0.6.1-d2iq.1
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/third-party/caaph/go.mod
  hack/third-party/caaph/go.sum
Due: go-generate, golangci-lint, chart-docs, apis-sync

fixup! build: bump CAAPH fork to v0.6.1-d2iq.2
  hack/third-party/caaph/go.mod
  hack/third-party/caaph/go.sum
Due: go-generate, golangci-lint, apis-sync

fix(e2e): correct Flow CNI helm release name in e2e helper
  test/e2e/cni_helpers.go
Due: go-generate, golangci-lint

test(e2e): add Nutanix Flow helm addon cluster template to e2e config
  test/e2e/config/caren.yaml
Due: none

build: regenerate CRDs after rebase on main
  api/v1alpha1/crds/caren.nutanix.com_eksclusterconfigs.yaml
Due: none

refactor: consolidate duplicate Flow CNI patches into nutanix-flow.yaml
  hack/examples/overlays/clusters/nutanix/flow/helm-addon/kustomization.yaml.tmpl
  hack/examples/patches/flow.yaml
  hack/examples/patches/nutanix-flow.yaml
Due: examples-sync

ci: pass Nutanix Flow Docker Hub credentials to e2e workflow
  .github/workflows/e2e.yml
Due: none

build: move ExtensionConfig from v1alpha1 to v1beta2 (#1545)
  charts/cluster-api-runtime-extensions-nutanix/templates/extensionconfig.yaml
  internal/test/config/crd/bases/addons.cluster.x-k8s.io_clusterresourcesetbindings.yaml
  internal/test/config/crd/bases/addons.cluster.x-k8s.io_clusterresourcesets.yaml
  internal/test/config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  internal/test/config/crd/bases/cluster.x-k8s.io_clusters.yaml
  internal/test/config/crd/bases/cluster.x-k8s.io_machinedeployments.yaml
  internal/test/config/crd/bases/cluster.x-k8s.io_machinehealthchecks.yaml
  internal/test/config/crd/bases/cluster.x-k8s.io_machinepools.yaml
  internal/test/config/crd/bases/cluster.x-k8s.io_machines.yaml
  internal/test/config/crd/bases/cluster.x-k8s.io_machinesets.yaml
  internal/test/config/crd/bases/ipam.cluster.x-k8s.io_ipaddressclaims.yaml
  internal/test/config/crd/bases/ipam.cluster.x-k8s.io_ipaddresses.yaml
  internal/test/config/crd/bases/runtime.cluster.x-k8s.io_extensionconfigs.yaml
  internal/test/envtest/environment.go
  pkg/controllers/namespacesync/copy_test.go
Due: go-generate, golangci-lint, chart-docs

build(deps): Bump sigs.k8s.io/cluster-api from 1.12.3 to 1.12.4
  api/go.mod
  api/go.sum
  common/go.mod
  common/go.sum
  go.mod
  go.sum
  hack/third-party/caaph/go.mod
  hack/third-party/caaph/go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: go-generate, golangci-lint, kube-api-linter, apis-sync

build(deps): Bump sigs.k8s.io/cluster-api from 1.12.3 to 1.12.4 (#1544)
  api/go.mod
  api/go.sum
  common/go.mod
  common/go.sum
  go.mod
  go.sum
  hack/third-party/caaph/go.mod
  hack/third-party/caaph/go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: go-generate, golangci-lint, kube-api-linter, apis-sync

feat: update addons to latest versions
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cluster-autoscaler/manifests/cluster-autoscaler-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/tigera-operator-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/cilium-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/aws-ebs/manifests/aws-ebs-csi-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/local-path/manifests/local-path-provisioner-csi-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/snapshot-controller/manifests/snapshot-controller-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/nfd/manifests/node-feature-discovery-configmap.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  hack/examples/files/kube-vip.yaml
  make/addons.mk
Due: chart-docs, examples-sync, addons-sync, addons-repo-yaml

fixup! feat: update addons to latest versions
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/snapshot-controller/manifests/snapshot-controller-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

refactor: document where addons come from
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/local-path/manifests/local-path-provisioner-csi-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/snapshot-controller/manifests/snapshot-controller-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

feat: update AWS CCM chart to 0.0.11 and AWS LB Controller to 3.1.0
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/snapshot-controller/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.33.2-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.34.0-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.35.0-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/snapshot-controller/manifests/snapshot-controller-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

feat: split Tigera operator ConfigMap to stay under 1MB limit
  .pre-commit-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/tigera-operator-0-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/tigera-operator-1-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/tigera-operator-configmap.yaml
  hack/addons/split-json-array.py
  hack/addons/update-calico-manifests.sh
  pkg/handlers/lifecycle/cni/calico/strategy_crs.go
Due: go-generate, golangci-lint, chart-docs, addons-sync

docs: upgrade docsy, hugo, and enable sidebar root navigation
  devbox.lock
  docs/content/addons/_index.md
  docs/content/contributing/_index.md
  docs/content/customization/_index.md
  docs/content/getting-started/_index.md
  docs/content/lifecycle/_index.md
  docs/go.mod
  docs/go.sum
  docs/hugo.toml
Due: go-generate, golangci-lint, hugo-mod-tidy, check-devbox-lock

feat: update addons to latest versions (#1526)
  .pre-commit-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/snapshot-controller/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.33.2-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.34.0-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.35.0-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cluster-autoscaler/manifests/cluster-autoscaler-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/tigera-operator-0-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/tigera-operator-1-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/tigera-operator-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/cilium-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/aws-ebs/manifests/aws-ebs-csi-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/local-path/manifests/local-path-provisioner-csi-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/snapshot-controller/manifests/snapshot-controller-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/nfd/manifests/node-feature-discovery-configmap.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/split-json-array.py
  hack/addons/update-calico-manifests.sh
  hack/examples/files/kube-vip.yaml
  make/addons.mk
  pkg/handlers/lifecycle/cni/calico/strategy_crs.go
Due: go-generate, golangci-lint, chart-docs, examples-sync, addons-sync, addons-repo-yaml

fixup! release: Update metadata for release
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: none

release(main): v0.45.0 (#1542)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: hugo-mod-tidy

fix: update contract to v1beta2 for v0.45+ release series
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: none

fix: update contract to v1beta2 for v0.45+ release series (#1547)
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: none

refactor: drop contract version from e2e shared metadata directory names
  docs/content/contributing/releasing.md
  test/e2e/config/caren.yaml
  test/e2e/data/shared/caaph/metadata.yaml
  test/e2e/data/shared/capa/metadata.yaml
  test/e2e/data/shared/capi/metadata.yaml
  test/e2e/data/shared/capx/metadata.yaml
  test/e2e/data/shared/caren/metadata.yaml
Due: hugo-mod-tidy

refactor: drop contract version from e2e shared metadata directory names (#1548)
  docs/content/contributing/releasing.md
  test/e2e/config/caren.yaml
  test/e2e/data/shared/caaph/metadata.yaml
  test/e2e/data/shared/capa/metadata.yaml
  test/e2e/data/shared/capi/metadata.yaml
  test/e2e/data/shared/capx/metadata.yaml
  test/e2e/data/shared/caren/metadata.yaml
Due: hugo-mod-tidy

docs: upgrade docsy, hugo, and enable sidebar root navigation (#1546)
  devbox.lock
  docs/content/addons/_index.md
  docs/content/contributing/_index.md
  docs/content/customization/_index.md
  docs/content/getting-started/_index.md
  docs/content/lifecycle/_index.md
  docs/go.mod
  docs/go.sum
  docs/hugo.toml
Due: go-generate, golangci-lint, hugo-mod-tidy, check-devbox-lock

fix: downgrade cluster-autoscaler to work with v1beta2
  charts/cluster-api-runtime-extensions-nutanix/addons/cluster-autoscaler/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cluster-autoscaler/manifests/cluster-autoscaler-configmap.yaml
  make/addons.mk
Due: chart-docs, addons-sync

feat: [Metro] new topology variable field clusterConfig.nutanix.metros
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/ahvmetrozone_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/conditions.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanix_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixcluster_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixmetro_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixmetrosite_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixvirtualhadomain_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/zz_generated.deepcopy.go
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  api/v1alpha1/nutanix_clusterconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  hack/third-party/capx/go.mod
  hack/third-party/capx/go.sum
  pkg/handlers/nutanix/mutation/metapatch_handler.go
  pkg/handlers/nutanix/mutation/metro/inject.go
  pkg/handlers/nutanix/mutation/metro/inject_test.go
  pkg/handlers/nutanix/mutation/metro/variables_test.go
  pkg/webhook/preflight/nutanix/failuredomain.go
  pkg/webhook/preflight/nutanix/storagecontainer.go
Due: go-generate, golangci-lint, kube-api-linter, apis-sync

fix: downgrade cluster-autoscaler to work with v1beta2 (#1555)
  charts/cluster-api-runtime-extensions-nutanix/addons/cluster-autoscaler/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cluster-autoscaler/manifests/cluster-autoscaler-configmap.yaml
  make/addons.mk
Due: chart-docs, addons-sync

release(main): v0.45.1 (#1554)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

build: install Nix separately in e2e workflow and skip in devbox action
  .github/workflows/e2e.yml
Due: none

feat: [Metro] Cluster topology variable clusterConfig.nutanix "nutanixMetroes" (#1543)
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/ahvmetrozone_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/conditions.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanix_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixcluster_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixmetro_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixmetrosite_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixvirtualhadomain_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/zz_generated.deepcopy.go
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  api/v1alpha1/nutanix_clusterconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  hack/third-party/capx/go.mod
  hack/third-party/capx/go.sum
  pkg/handlers/nutanix/mutation/metapatch_handler.go
  pkg/handlers/nutanix/mutation/metro/inject.go
  pkg/handlers/nutanix/mutation/metro/inject_test.go
  pkg/handlers/nutanix/mutation/metro/variables_test.go
  pkg/webhook/preflight/nutanix/failuredomain.go
  pkg/webhook/preflight/nutanix/storagecontainer.go
Due: go-generate, golangci-lint, kube-api-linter, apis-sync

update the nutanix-ccm helm chart container image version
  charts/cluster-api-runtime-extensions-nutanix/addons/ccm/nutanix/values-template.yaml
  pkg/handlers/lifecycle/ccm/nutanix/handler_test.go
Due: go-generate, golangci-lint, chart-docs

Add 0.46 v1beta2 to metadata.yaml
  metadata.yaml
Due: none

fix: add TakeOwnership to snapshot-controller HelmChartProxy
  pkg/handlers/lifecycle/csi/snapshotcontroller/handler.go
Due: go-generate, golangci-lint

fix: add TakeOwnership to snapshot-controller HelmChartProxy (#1556)
  pkg/handlers/lifecycle/csi/snapshotcontroller/handler.go
Due: go-generate, golangci-lint

release(main): v0.45.2
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

release(main): v0.45.2 (#1557)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy
