Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, check-coredns-versions, golangci-lint, kube-api-linter, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  check-coredns-versions: any of: ^api/versions/coredns.go$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  kube-api-linter: any of: ((^api/(.*\.go|go.mod|go.sum))|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/helm-chart-bundler/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$

fix(caren): use 1.4.0-rc.1 tag for konnector
  charts/cluster-api-runtime-extensions-nutanix/addons/konnector-agent/values-template.yaml
Due: chart-docs

fix(caren): Change helm repo URL from nutanix-scratch to mesosphere repo (#1579)
  charts/cluster-api-runtime-extensions-nutanix/addons/konnector-agent/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/konnector-agent/kustomization.yaml.tmpl
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

release(main): v0.46.1
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

release(main): v0.46.1 (#1590)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

build: [NCN-113496] Upgrade CAAPH to v0.6.2, remove fork
  clusterctl.yaml
  hack/third-party/caaph/go.mod
  hack/third-party/caaph/go.sum
  make/clusterctl.mk
  test/e2e/config/caren.yaml
Due: go-generate, golangci-lint, apis-sync

build: [NCN-113496] Upgrade CAAPH to v0.6.2, remove fork (#1591)
  clusterctl.yaml
  hack/third-party/caaph/go.mod
  hack/third-party/caaph/go.sum
  make/clusterctl.mk
  test/e2e/config/caren.yaml
Due: go-generate, golangci-lint, apis-sync

feat: [Metro] Cluster topology variable clusterConfig.nutanix "nutanixMetroes" (#1543)
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/ahvmetrozone_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/conditions.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanix_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixcluster_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixmetro_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixmetrosite_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixvirtualhadomain_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/zz_generated.deepcopy.go
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  api/v1alpha1/nutanix_clusterconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  hack/third-party/capx/go.mod
  hack/third-party/capx/go.sum
  pkg/handlers/nutanix/mutation/metapatch_handler.go
  pkg/handlers/nutanix/mutation/metro/inject.go
  pkg/handlers/nutanix/mutation/metro/inject_test.go
  pkg/handlers/nutanix/mutation/metro/variables_test.go
  pkg/webhook/preflight/nutanix/failuredomain.go
  pkg/webhook/preflight/nutanix/storagecontainer.go
Due: go-generate, golangci-lint, kube-api-linter, apis-sync

update the nutanix-ccm helm chart container image version
  charts/cluster-api-runtime-extensions-nutanix/addons/ccm/nutanix/values-template.yaml
  pkg/handlers/lifecycle/ccm/nutanix/handler_test.go
Due: go-generate, golangci-lint, chart-docs

update third-party/capx version
  hack/third-party/capx/go.mod
  hack/third-party/capx/go.sum
Due: go-generate, golangci-lint, apis-sync

feat(caren): EnableKubeconfigUpload
  api/v1alpha1/addon_types.go
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  charts/cluster-api-runtime-extensions-nutanix/addons/konnector-agent/values-template.yaml
  docs/content/addons/konnector-agent.md
  hack/tools/fetch-images/main.go
  pkg/handlers/lifecycle/konnectoragent/handler.go
  pkg/handlers/lifecycle/konnectoragent/variables_test.go
Due: go-generate, golangci-lint, kube-api-linter, chart-docs, hugo-mod-tidy

chore(caren): add descriptive comment
  api/v1alpha1/addon_types.go
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  docs/content/addons/konnector-agent.md
Due: go-generate, golangci-lint, kube-api-linter, hugo-mod-tidy

fix(caren): resolve merge conflicts
  hack/tools/fetch-images/main.go
  pkg/handlers/lifecycle/konnectoragent/variables_test.go
Due: go-generate, golangci-lint

fix(caren): fix failures
  api/v1alpha1/addon_types.go
Due: go-generate, golangci-lint, kube-api-linter

fix(caren): add crds
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
Due: none

feat: add EnableKubeconfigUpload API field to KonnectorAgent struct (#1576)
  api/v1alpha1/addon_types.go
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  charts/cluster-api-runtime-extensions-nutanix/addons/konnector-agent/values-template.yaml
  docs/content/addons/konnector-agent.md
  hack/tools/fetch-images/main.go
  pkg/handlers/lifecycle/konnectoragent/handler.go
  pkg/handlers/lifecycle/konnectoragent/variables_test.go
Due: go-generate, golangci-lint, kube-api-linter, chart-docs, hugo-mod-tidy

fix: [OSS-711] Replace busybox cp with uutils coreutils
  hack/addons/helm-chart-bundler/Dockerfile
Due: addons-sync

fix: support trust bundle for konnector-agent
  charts/cluster-api-runtime-extensions-nutanix/addons/konnector-agent/values-template.yaml
  hack/tools/fetch-images/main.go
  pkg/handlers/lifecycle/konnectoragent/handler.go
  pkg/handlers/lifecycle/konnectoragent/variables_test.go
Due: go-generate, golangci-lint, chart-docs

ci: install Nix via devbox action on self-hosted runners
  .github/workflows/e2e.yml
Due: none

feat: Bump up konnector to 1.4.0-rc.2
  charts/cluster-api-runtime-extensions-nutanix/addons/konnector-agent/values-template.yaml
  make/addons.mk
Due: chart-docs, addons-sync

feat: Bump up konnector to 1.4.0-rc.2 (#1597)
  charts/cluster-api-runtime-extensions-nutanix/addons/konnector-agent/values-template.yaml
  make/addons.mk
Due: chart-docs, addons-sync

fix: [OSS-711] Replace busybox cp with uutils coreutils (#1594)
  hack/addons/helm-chart-bundler/Dockerfile
Due: addons-sync

fix: updating required placeholder data
  .release-please-manifest.json
  docs/hugo.toml
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/caren/metadata.yaml
Due: hugo-mod-tidy

docs: [NCN-110043] add spec and plan for Cilium ServiceLoadBalancer
  .specify/features/NCN-110043/plan.md
  .specify/features/NCN-110043/spec.md
Due: none

docs: [NCN-110043] revise vendoring strategy for Cilium types
  .specify/features/NCN-110043/plan.md
Due: none

build: [NCN-110043] vendor minimal Cilium v2/v2alpha1 API types
  api/external/github.com/cilium/cilium/pkg/k8s/apis/cilium.io/v2/doc.go
  api/external/github.com/cilium/cilium/pkg/k8s/apis/cilium.io/v2/lbipam_types.go
  api/external/github.com/cilium/cilium/pkg/k8s/apis/cilium.io/v2/register.go
  api/external/github.com/cilium/cilium/pkg/k8s/apis/cilium.io/v2/types.go
  api/external/github.com/cilium/cilium/pkg/k8s/apis/cilium.io/v2/zz_generated.deepcopy.go
  api/external/github.com/cilium/cilium/pkg/k8s/apis/cilium.io/v2alpha1/doc.go
  api/external/github.com/cilium/cilium/pkg/k8s/apis/cilium.io/v2alpha1/l2announcement_types.go
  api/external/github.com/cilium/cilium/pkg/k8s/apis/cilium.io/v2alpha1/register.go
  api/external/github.com/cilium/cilium/pkg/k8s/apis/cilium.io/v2alpha1/zz_generated.deepcopy.go
  hack/third-party/cilium/go.mod
  hack/third-party/cilium/go.sum
  hack/third-party/cilium/provider.go
  make/apis.mk
Due: go-generate, golangci-lint, kube-api-linter, apis-sync

feat: [NCN-110043] extend ServiceLoadBalancer provider enum with Cilium
  api/v1alpha1/addon_types.go
  api/v1alpha1/addon_types_test.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
Due: go-generate, golangci-lint, kube-api-linter

feat: [NCN-110043] scaffold Cilium ServiceLoadBalancer sub-provider
  pkg/handlers/lifecycle/handlers.go
  pkg/handlers/lifecycle/serviceloadbalancer/cilium/handler.go
  pkg/handlers/lifecycle/serviceloadbalancer/cilium/handler_test.go
Due: go-generate, golangci-lint

feat: [NCN-110043] render Cilium LB IPPool and L2Announcement objects
  pkg/handlers/lifecycle/serviceloadbalancer/cilium/configuration.go
  pkg/handlers/lifecycle/serviceloadbalancer/cilium/configuration_test.go
Due: go-generate, golangci-lint

feat: [NCN-110043] validate Cilium LB prerequisites in Apply
  pkg/handlers/lifecycle/serviceloadbalancer/cilium/handler.go
  pkg/handlers/lifecycle/serviceloadbalancer/cilium/handler_test.go
Due: go-generate, golangci-lint

feat: [NCN-110043] server-side apply Cilium LB pool and policy
  pkg/handlers/lifecycle/serviceloadbalancer/cilium/handler.go
Due: go-generate, golangci-lint

feat: [NCN-110043] Expose SLB-is-Cilium flag to Cilium CNI template
  pkg/handlers/lifecycle/cni/cilium/template.go
  pkg/handlers/lifecycle/cni/cilium/template_test.go
Due: go-generate, golangci-lint

feat: [NCN-110043] Add admission validator for Cilium SLB prerequisites
  pkg/webhook/cluster/cilium_loadbalancer_validator.go
  pkg/webhook/cluster/cilium_loadbalancer_validator_test.go
  pkg/webhook/cluster/validator.go
Due: go-generate, golangci-lint

feat: [NCN-110043] Emit l2announcements in Cilium values when SLB=Cilium
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/values-template.yaml
  hack/addons/update-cilium-manifests.sh
  hack/tools/fetch-images/main.go
  pkg/handlers/lifecycle/cni/cilium/template_test.go
Due: go-generate, golangci-lint, chart-docs, addons-sync

feat: [NCN-110043] Reject ServiceLoadBalancer provider change on update
  pkg/webhook/cluster/cilium_loadbalancer_validator.go
  pkg/webhook/cluster/cilium_loadbalancer_validator_test.go
Due: go-generate, golangci-lint

fix: [NCN-110043] Apply Nutanix PC-in-range check to all SLB providers
  pkg/webhook/cluster/nutanix_validator.go
  pkg/webhook/cluster/nutanix_validator_test.go
Due: go-generate, golangci-lint

docs: [NCN-110043] Document Cilium as a ServiceLoadBalancer provider
  docs/content/addons/serviceloadbalancer.md
Due: hugo-mod-tidy

test: [NCN-110043] e2e waiter for Cilium ServiceLoadBalancer
  test/e2e/serviceloadbalancer_helpers.go
Due: go-generate, golangci-lint

release(main): v0.47.0
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

fix: updating required placeholder data
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/caren/metadata.yaml
Due: none

fix: pre commit failure
  test/e2e/data/shared/caren/metadata.yaml
Due: none
