Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, check-coredns-versions, golangci-lint, kube-api-linter, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock

schema-chart:
  name: schema-chart
  entry: make schema-chart
  language: system

go-generate:
  name: go-generate
  entry: make go-generate
  language: system
  pass_filenames: false

check-coredns-versions:
  name: check-coredns-versions
  entry: make coredns.sync
  language: system

golangci-lint:
  name: golangci-lint
  entry: make lint
  language: system
  pass_filenames: false

kube-api-linter:
  name: kube-api-linter
  entry: make lint-kube-api
  language: system
  pass_filenames: false

chart-docs:
  name: chart-docs
  entry: make chart-docs
  language: system
  pass_filenames: false

hugo-mod-tidy:
  name: hugo-mod-tidy
  entry: bash -c "cd docs && hugo mod tidy"
  language: system
  pass_filenames: false

examples-sync:
  name: examples-sync
  entry: make examples.sync
  language: system
  pass_filenames: false

apis-sync:
  name: apis-sync
  entry: make apis.sync
  language: system
  pass_filenames: false

addons-sync:
  name: addons-sync
  entry: make addons.sync
  language: system
  pass_filenames: false

addons-repo-yaml:
  name: addons-repo-yaml
  entry: make template-helm-repository
  language: system
  pass_filenames: false

check-devbox-lock:
  name: check-devbox-lock
  entry: devbox install
  language: system
  pass_filenames: false

test: add unit tests for Multus CNI integration
  pkg/handlers/lifecycle/cni/multus/deployer_test.go
  pkg/handlers/lifecycle/cni/multus/handler_test.go
  pkg/handlers/lifecycle/cni/multus/template_test.go
  pkg/handlers/lifecycle/cni/socket_test.go
Due: go-generate, golangci-lint

test: add integration tests for Multus handler
  pkg/handlers/lifecycle/cni/multus/handler_integration_test.go
  pkg/handlers/lifecycle/cni/multus/utils_suite_test.go
Due: go-generate, golangci-lint

test: add Multus verification to E2E tests
  pkg/handlers/lifecycle/cni/multus/handler_integration_test.go
  pkg/handlers/lifecycle/cni/multus/utils_suite_test.go
  test/e2e/addon_helpers.go
  test/e2e/multus_helpers.go
Due: go-generate, golangci-lint

feat: adding e2e testcases
  examples/capi-quick-start/nutanix-cluster-calico-crs.yaml
  examples/capi-quick-start/nutanix-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-with-failuredomains-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-with-failuredomains-cilium-helm-addon.yaml
  hack/examples/additional-resources/nutanix/konnector-agent-secret.yaml
  hack/examples/bases/nutanix/cluster/kustomization.yaml.tmpl
  test/e2e/addon_helpers.go
  test/e2e/konnectoragent_helpers.go
Due: go-generate, golangci-lint, examples-sync

feat: updating konnector secret
  examples/capi-quick-start/nutanix-cluster-calico-crs.yaml
  examples/capi-quick-start/nutanix-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-with-failuredomains-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-with-failuredomains-cilium-helm-addon.yaml
  hack/examples/additional-resources/nutanix/konnector-agent-secret.yaml
Due: examples-sync

feat: fixing clustername length
  pkg/handlers/lifecycle/konnectoragent/handler.go
  pkg/handlers/lifecycle/konnectoragent/variables_test.go
Due: go-generate, golangci-lint

feat: adding log collection in workflow file
  .github/workflows/e2e.yml
Due: none

feat: precommit fix
  .github/workflows/e2e.yml
Due: none

feat: collect logs on failure
  .github/workflows/e2e.yml
Due: none

fix: Refactoring to follow smilar patterns as other components
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/multus/values-template.yaml
  hack/addons/helm-chart-bundler/Dockerfile
  pkg/handlers/lifecycle/cni/multus/deployer.go
  pkg/handlers/lifecycle/cni/multus/doc.go
  pkg/handlers/lifecycle/cni/multus/handler.go
  pkg/handlers/lifecycle/cni/multus/template.go
  pkg/handlers/lifecycle/cni/socket.go
Due: go-generate, golangci-lint, chart-docs, addons-sync

fix: PR resolution round 2
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/multus/values-template.yaml
  pkg/handlers/lifecycle/cni/multus/doc.go
  pkg/handlers/lifecycle/cni/multus/handler.go
  pkg/handlers/lifecycle/cni/multus/template.go
  pkg/handlers/lifecycle/cni/socket.go
Due: go-generate, golangci-lint, chart-docs

feat: log collection changes
  .github/workflows/e2e.yml
  test/e2e/config/caren.yaml
Due: none

feat: collecting workload cluster pod logs
  .github/workflows/e2e.yml
Due: none

feat: collecting logs
  .github/workflows/e2e.yml
Due: none

feat: Update caren.yaml for intervals
  test/e2e/config/caren.yaml
Due: none

feat: removing e2e test changes for konnector agent
  .github/workflows/e2e.yml
  examples/capi-quick-start/nutanix-cluster-calico-crs.yaml
  examples/capi-quick-start/nutanix-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-with-failuredomains-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-with-failuredomains-cilium-helm-addon.yaml
  hack/examples/bases/nutanix/cluster/kustomization.yaml.tmpl
  test/e2e/addon_helpers.go
  test/e2e/config/caren.yaml
Due: go-generate, golangci-lint, examples-sync

updating with capx v4 beta and clusterctl image override
  clusterctl.yaml
  hack/third-party/capx/go.mod
  hack/third-party/capx/go.sum
Due: go-generate, golangci-lint, apis-sync

updating with capx v1.8.0-beta1
  hack/third-party/capx/go.mod
  hack/third-party/capx/go.sum
Due: go-generate, golangci-lint, apis-sync

apis.sync changes
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/conditions.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanix_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixfailuredomain_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixmachine_types.go
Due: go-generate, golangci-lint, kube-api-linter, apis-sync

pre-commit changes
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  examples/capi-quick-start/aws-cluster-calico-crs.yaml
  examples/capi-quick-start/aws-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/aws-cluster-cilium-crs.yaml
  examples/capi-quick-start/aws-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/docker-cluster-calico-crs.yaml
  examples/capi-quick-start/docker-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/docker-cluster-cilium-crs.yaml
  examples/capi-quick-start/docker-cluster-cilium-helm-addon.yaml
Due: chart-docs, examples-sync

fix: examples.sync changes
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  examples/capi-quick-start/aws-cluster-calico-crs.yaml
  examples/capi-quick-start/aws-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/aws-cluster-cilium-crs.yaml
  examples/capi-quick-start/aws-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/docker-cluster-calico-crs.yaml
  examples/capi-quick-start/docker-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/docker-cluster-cilium-crs.yaml
  examples/capi-quick-start/docker-cluster-cilium-helm-addon.yaml
  hack/examples/overlays/clusterclasses/nutanix/kustomization.yaml.tmpl
Due: chart-docs, examples-sync

feat: increasing timeout interval
  test/e2e/config/caren.yaml
Due: none

feat: Changing nutanix provider e2e as serial
  test/e2e/quick_start_test.go
  test/e2e/self_hosted_test.go
Due: go-generate, golangci-lint

feat: add Multus CNI integration with socket-based readiness (#1367)
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/multus/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/multus/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/multus/kustomization.yaml.tmpl
  pkg/handlers/lifecycle/cni/multus/doc.go
  pkg/handlers/lifecycle/cni/multus/handler.go
  pkg/handlers/lifecycle/cni/multus/template.go
  pkg/handlers/lifecycle/cni/socket.go
  pkg/handlers/lifecycle/config/cm.go
  pkg/handlers/lifecycle/handlers.go
Due: schema-chart, go-generate, golangci-lint, chart-docs, addons-sync, addons-repo-yaml

feat: Revert- Changing nutanix provider e2e as serial
  test/e2e/quick_start_test.go
  test/e2e/self_hosted_test.go
Due: go-generate, golangci-lint

feat: reverting wait interval
  test/e2e/config/caren.yaml
Due: none

feat: enabling e2e for konnector agent
  examples/capi-quick-start/nutanix-cluster-calico-crs.yaml
  examples/capi-quick-start/nutanix-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-with-failuredomains-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-with-failuredomains-cilium-helm-addon.yaml
  hack/examples/bases/nutanix/cluster/kustomization.yaml.tmpl
  test/e2e/addon_helpers.go
Due: go-generate, golangci-lint, examples-sync

feat: ensure Cilium kube-proxy is enabled when needed
  pkg/webhook/cluster/cilium_configuration_validator.go
  pkg/webhook/cluster/cilium_configuration_validator_test.go
  pkg/webhook/cluster/validator.go
Due: go-generate, golangci-lint

feat: add skip annotation for cilium kube-proxy validator
  api/v1alpha1/constants.go
  pkg/webhook/cluster/cilium_configuration_validator.go
  pkg/webhook/cluster/cilium_configuration_validator_test.go
Due: go-generate, golangci-lint, kube-api-linter

refactor: move existing test file
  pkg/webhook/cluster/clusteruuidlabeler_test.go
Due: go-generate, golangci-lint

fixup! feat: ensure Cilium kube-proxy is enabled when needed
  pkg/webhook/cluster/cilium_configuration_validator.go
Due: go-generate, golangci-lint

fix: webhook panic when management cluster has nil topology
  pkg/webhook/addons/registry/autoenabler.go
  pkg/webhook/addons/registry/webhook_test.go
Due: go-generate, golangci-lint

Vijayr/109585 k8sagent addon 3 backup (#1373)
  api/v1alpha1/addon_types.go
  api/v1alpha1/constants.go
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  api/variables/aggregate_types.go
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/addons/konnector-agent/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/deployment.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/konnector-agent/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  docs/content/addons/konnector-agent.md
  examples/capi-quick-start/nutanix-cluster-calico-crs.yaml
  examples/capi-quick-start/nutanix-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-with-failuredomains-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-with-failuredomains-cilium-helm-addon.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/konnector-agent/kustomization.yaml.tmpl
  hack/examples/additional-resources/nutanix/konnector-agent-secret.yaml
  hack/examples/bases/nutanix/cluster/kustomization.yaml.tmpl
  hack/examples/patches/nutanix/konnector-agent.yaml
  hack/tools/fetch-images/main.go
  make/addons.mk
  pkg/handlers/lifecycle/config/cm.go
  pkg/handlers/lifecycle/handlers.go
  pkg/handlers/lifecycle/konnectoragent/doc.go
  pkg/handlers/lifecycle/konnectoragent/handler.go
  pkg/handlers/lifecycle/konnectoragent/variables_test.go
  test/e2e/addon_helpers.go
  test/e2e/konnectoragent_helpers.go
Due: schema-chart, go-generate, golangci-lint, kube-api-linter, chart-docs, hugo-mod-tidy, examples-sync, addons-sync, addons-repo-yaml

feat: Add support for deploying K8s Agent as Helm Addon during cluster deployment (#1345)
  api/v1alpha1/addon_types.go
  api/v1alpha1/constants.go
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  api/variables/aggregate_types.go
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/addons/konnector-agent/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/deployment.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/konnector-agent/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  docs/content/addons/konnector-agent.md
  examples/capi-quick-start/nutanix-cluster-calico-crs.yaml
  examples/capi-quick-start/nutanix-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-with-failuredomains-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-with-failuredomains-cilium-helm-addon.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/konnector-agent/kustomization.yaml.tmpl
  hack/examples/additional-resources/nutanix/konnector-agent-secret.yaml
  hack/examples/bases/nutanix/cluster/kustomization.yaml.tmpl
  hack/examples/patches/nutanix/konnector-agent.yaml
  hack/tools/fetch-images/main.go
  make/addons.mk
  pkg/handlers/lifecycle/config/cm.go
  pkg/handlers/lifecycle/handlers.go
  pkg/handlers/lifecycle/konnectoragent/doc.go
  pkg/handlers/lifecycle/konnectoragent/handler.go
  pkg/handlers/lifecycle/konnectoragent/variables_test.go
  test/e2e/addon_helpers.go
  test/e2e/konnectoragent_helpers.go
Due: schema-chart, go-generate, golangci-lint, kube-api-linter, chart-docs, hugo-mod-tidy, examples-sync, addons-sync, addons-repo-yaml

fix: self_hosted_test
  test/e2e/self_hosted_test.go
Due: go-generate, golangci-lint

k8s to use 1.11.2 but replace with 1.10.7
  go.mod
  go.sum
Due: go-generate, golangci-lint

fix: set topology webhook matchConditions
  charts/cluster-api-runtime-extensions-nutanix/templates/webhooks.yaml
  hack/update-webhook-configurations.yq
Due: chart-docs

feat: Build with go 1.25.3 to fix CVEs (#1369)
  api/go.mod
  common/go.mod
  devbox.lock
  go.mod
  hack/tools/go.mod
Due: go-generate, golangci-lint, kube-api-linter, check-devbox-lock

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  check-coredns-versions: any of: ^api/versions/coredns.go$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  kube-api-linter: any of: ((^api/(.*\.go|go.mod|go.sum))|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/helm-chart-bundler/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$
