Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, golangci-lint, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock, check-coredns-versions

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/mindthegap-helm-registry/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$
  check-coredns-versions: any of: ^api/versions/coredns.go$

fix: adds previous versions helm charts in this container (#949)
  hack/addons/mindthegap-helm-registry/Dockerfile
Due: addons-sync

release(main): v0.20.0
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: hugo-mod-tidy

release(main): v0.20.0 (#953)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: hugo-mod-tidy

ci: updates devbox deps
  devbox.lock
Due: check-devbox-lock

fix: bundle correct arch for the mindthegap binary
  hack/addons/mindthegap-helm-registry/Dockerfile
Due: addons-sync

feat: update Nutanix CSI to 3.1.0
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/mindthegap-helm-registry/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

fix: bundle correct arch for the mindthegap binary (#954)
  hack/addons/mindthegap-helm-registry/Dockerfile
Due: addons-sync

feat: update Nutanix CSI to 3.1.0 (#956)
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/mindthegap-helm-registry/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

fixup! fix: use correct securityContext for Alpine based helm-repository Pod
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
Due: schema-chart, chart-docs

fix: use correct securityContext for Alpine based helm-repository Pod
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-repository.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
Due: schema-chart, chart-docs

fix: use correct securityContext for Alpine based helm-repository Pod (#955)
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-repository.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
Due: schema-chart, chart-docs

release(main): v0.21.0 (#957)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: hugo-mod-tidy

docs: Update hugo and docsy
  devbox.lock
  docs/go.mod
  docs/go.sum
Due: go-generate, golangci-lint, hugo-mod-tidy, check-devbox-lock

fix: Use correct filename for runtime extensions component YAML
  .gitignore
  .goreleaser.yml
  docs/content/getting-started/deployment/via-clusterctl.md
  test/e2e/config/caren.yaml
Due: hugo-mod-tidy

docs: Update hugo and docsy (#958)
  devbox.lock
  docs/go.mod
  docs/go.sum
Due: go-generate, golangci-lint, hugo-mod-tidy, check-devbox-lock

fixup! refactor: Sync APIs
  api/external/sigs.k8s.io/cluster-api-addon-provider-helm/api/v1alpha1/helmchartproxy_types.go
Due: go-generate, golangci-lint, apis-sync

refactor: Update helm registry initialization
  .envrc
  .github/workflows/checks.yml
  .goreleaser.yml
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-repository.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  hack/addons/mindthegap-helm-registry/Dockerfile
  make/dev.mk
Due: schema-chart, chart-docs, addons-sync

fixup! build(deps): Bump the all-go-mod-patch-and-minor group across 3 directories with 2 updates
  api/go.sum
Due: go-generate, golangci-lint

fix: Use correct filename for runtime extensions component YAML (#960)
  .gitignore
  .goreleaser.yml
  docs/content/getting-started/deployment/via-clusterctl.md
  test/e2e/config/caren.yaml
Due: hugo-mod-tidy

fixup! fix: Sync APIs
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/network_types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/zz_generated.deepcopy.go
  hack/third-party/capa/go.mod
  test/e2e/data/shared/v1beta1-capa/metadata.yaml
Due: go-generate, golangci-lint, apis-sync

fixup! refactor: Address review feedback
  .goreleaser.yml
  .pre-commit-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  hack/addons/add-warning-helm-configmap.sh
  hack/addons/generate-mindthegap-repofile.sh
  hack/addons/helm-chart-bundler/Dockerfile
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/mindthegap-helm-registry/repos.yaml
  make/addons.mk
Due: schema-chart, chart-docs, addons-sync, addons-repo-yaml

test: validate CoreDNS image version in e2e tests
  test/e2e/coredns_helpers.go
  test/e2e/quick_start_test.go
  test/e2e/self_hosted_test.go
Due: go-generate, golangci-lint

fix: error on missing CoreDNS version
  pkg/handlers/generic/mutation/coredns/inject.go
  pkg/handlers/generic/mutation/coredns/inject_test.go
Due: go-generate, golangci-lint

fixup! refactor: Make logic more readable
  pkg/handlers/generic/mutation/coredns/inject.go
Due: go-generate, golangci-lint

fix: automatically set CoreDNS version based on the Kubernetes version
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  pkg/handlers/generic/mutation/coredns/inject.go
  pkg/handlers/generic/mutation/coredns/inject_test.go
Due: go-generate, golangci-lint

feat: add new CoreDNSUpdateStrategy API
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  docs/content/customization/generic/dns.md
  pkg/handlers/generic/mutation/coredns/inject.go
  pkg/handlers/generic/mutation/coredns/inject_test.go
  pkg/handlers/generic/mutation/coredns/variables_test.go
Due: go-generate, golangci-lint, hugo-mod-tidy

fixup! refactor: set CoreDNS based on struct not nil
  docs/content/customization/generic/dns.md
  pkg/handlers/generic/mutation/coredns/inject.go
  pkg/handlers/generic/mutation/coredns/inject_test.go
Due: go-generate, golangci-lint, hugo-mod-tidy

fixup! docs: move default up on the page
  docs/content/customization/generic/dns.md
Due: hugo-mod-tidy

test: set default dns fields in all examples
  examples/capi-quick-start/aws-cluster-calico-crs.yaml
  examples/capi-quick-start/aws-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/aws-cluster-cilium-crs.yaml
  examples/capi-quick-start/aws-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/docker-cluster-calico-crs.yaml
  examples/capi-quick-start/docker-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/docker-cluster-cilium-crs.yaml
  examples/capi-quick-start/docker-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-calico-crs.yaml
  examples/capi-quick-start/nutanix-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  hack/examples/bases/aws/cluster/kustomization.yaml.tmpl
  hack/examples/bases/docker/cluster/kustomization.yaml.tmpl
  hack/examples/bases/nutanix/cluster/kustomization.yaml.tmpl
  hack/examples/patches/coredns.yaml
Due: examples-sync

Revert "feat: add new CoreDNSUpdateStrategy API"
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  docs/content/customization/generic/dns.md
  pkg/handlers/generic/mutation/coredns/inject.go
  pkg/handlers/generic/mutation/coredns/inject_test.go
  pkg/handlers/generic/mutation/coredns/variables_test.go
Due: go-generate, golangci-lint, hugo-mod-tidy

fixup! test: another case when dns is set without coreDNS
  pkg/handlers/generic/mutation/coredns/inject_test.go
Due: go-generate, golangci-lint

feat: set default CoreDNS version (#959)
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  docs/content/customization/generic/dns.md
  examples/capi-quick-start/aws-cluster-calico-crs.yaml
  examples/capi-quick-start/aws-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/aws-cluster-cilium-crs.yaml
  examples/capi-quick-start/aws-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/docker-cluster-calico-crs.yaml
  examples/capi-quick-start/docker-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/docker-cluster-cilium-crs.yaml
  examples/capi-quick-start/docker-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-calico-crs.yaml
  examples/capi-quick-start/nutanix-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  hack/examples/bases/aws/cluster/kustomization.yaml.tmpl
  hack/examples/bases/docker/cluster/kustomization.yaml.tmpl
  hack/examples/bases/nutanix/cluster/kustomization.yaml.tmpl
  hack/examples/patches/coredns.yaml
  pkg/handlers/generic/mutation/coredns/inject.go
  pkg/handlers/generic/mutation/coredns/inject_test.go
  test/e2e/coredns_helpers.go
  test/e2e/quick_start_test.go
  test/e2e/self_hosted_test.go
Due: go-generate, golangci-lint, hugo-mod-tidy, examples-sync

build(e2e): Add back Kind DNS resolver override
  hack/kind/dns-override.yaml
  test/e2e/e2e_suite_test.go
Due: go-generate, golangci-lint

fixup! refactor: Move helm value to helmRepository.enabled
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-repository.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  hack/addons/add-warning-helm-configmap.sh
  hack/addons/helm-chart-bundler/repos.yaml
  hack/tools/helm-cm/main.go
  hack/tools/mindthegap-helm-reg/main.go
  make/addons.mk
Due: schema-chart, go-generate, golangci-lint, chart-docs, addons-sync

refactor: Update helm registry initialization (#961)
  .envrc
  .github/workflows/checks.yml
  .goreleaser.yml
  .pre-commit-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-repository.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  hack/addons/add-warning-helm-configmap.sh
  hack/addons/generate-mindthegap-repofile.sh
  hack/addons/helm-chart-bundler/Dockerfile
  hack/addons/helm-chart-bundler/repos.yaml
  hack/tools/helm-cm/main.go
  hack/tools/mindthegap-helm-reg/main.go
  make/addons.mk
  make/dev.mk
Due: schema-chart, go-generate, golangci-lint, chart-docs, addons-sync

release(main): v0.22.0 (#962)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: hugo-mod-tidy

build: set helmRepository tag in list-images target
  hack/tools/fetch-images/main.go
Due: go-generate, golangci-lint

build: set helmRepository tag in list-images target (#968)
  hack/tools/fetch-images/main.go
Due: go-generate, golangci-lint

feat: Build with go 1.23.3 and upgrade all tools
  .github/workflows/checks.yml
  .pre-commit-config.yaml
  api/go.mod
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixnodeconfigs.yaml
  common/go.mod
  devbox.json
  devbox.lock
  go.mod
  hack/flakes/flake.lock
  hack/flakes/flake.nix
  make/kind.mk
Due: go-generate, golangci-lint, check-devbox-lock

feat: Build with go 1.23.3 and upgrade all tools (#967)
  .github/workflows/checks.yml
  .pre-commit-config.yaml
  api/go.mod
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixnodeconfigs.yaml
  common/go.mod
  devbox.json
  devbox.lock
  go.mod
  hack/flakes/flake.lock
  hack/flakes/flake.nix
  make/kind.mk
Due: go-generate, golangci-lint, check-devbox-lock
