Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, golangci-lint, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock, check-coredns-versions

schema-chart:
  name: schema-chart
  entry: make schema-chart
  language: system

go-generate:
  name: go-generate
  entry: make go-generate
  language: system
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  entry: make lint
  language: system
  pass_filenames: false

chart-docs:
  name: chart-docs
  entry: make chart-docs
  language: system
  pass_filenames: false

hugo-mod-tidy:
  name: hugo-mod-tidy
  entry: bash -c "cd docs && hugo mod tidy"
  language: system
  pass_filenames: false

examples-sync:
  name: examples-sync
  entry: make examples.sync
  language: system
  pass_filenames: false

apis-sync:
  name: apis-sync
  entry: make apis.sync
  language: system
  pass_filenames: false

addons-sync:
  name: addons-sync
  entry: make addons.sync
  language: system
  pass_filenames: false

addons-repo-yaml:
  name: addons-repo-yaml
  entry: make template-helm-repository
  language: system
  pass_filenames: false

check-devbox-lock:
  name: check-devbox-lock
  entry: devbox install
  language: system
  pass_filenames: false

check-coredns-versions:
  name: check-coredns-versions
  entry: make coredns.sync
  language: system

refactor: new waiter functionality in helmAddonApplier (#988)
  pkg/handlers/generic/lifecycle/addons/helmaddon.go
  pkg/handlers/generic/lifecycle/serviceloadbalancer/metallb/handler.go
Due: go-generate, golangci-lint

fix: check HelmReleaseReadyCondition when status is up-to-date
  pkg/handlers/generic/lifecycle/addons/helmaddon.go
Due: go-generate, golangci-lint

fixup! address comments in API
  api/v1alpha1/common_types.go
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
Due: go-generate, golangci-lint

fixup! use better code from suggestion
  pkg/handlers/generic/mutation/controlplanevirtualip/providers/providers.go
Due: go-generate, golangci-lint

ci: enable running nutanix self hosted e2e tests
  .github/workflows/checks.yml
  .github/workflows/e2e.yml
Due: none

test: create helm-chart-bundle-initializer image for e2e test
  .github/workflows/checks.yml
  .goreleaser.yml
  test/e2e/config/caren.yaml
  test/e2e/self_hosted_test.go
Due: go-generate, golangci-lint

ci: allow pushing caren image for e2e tests to an external registry
  .goreleaser.yml
  make/go.mk
  test/e2e/config/caren.yaml
Due: go-generate, golangci-lint

test: set control plane ip for nutanix e2e tests
  .github/workflows/e2e.yml
  test/e2e/framework/self_hosted.go
Due: go-generate, golangci-lint

fix: check HelmReleaseReadyCondition when status is up-to-date (#989)
  pkg/handlers/generic/lifecycle/addons/helmaddon.go
Due: go-generate, golangci-lint

fix: validates CONTROL_PLANE_ENDPOINT_IP and NUTANIX_ENDPOINT are distinct
  pkg/webhook/cluster/nutanix_validator.go
  pkg/webhook/cluster/validator.go
Due: go-generate, golangci-lint

build: Properly ignore ntnx API client from dependabot
  .github/dependabot.yml
Due: none

build: Properly ignore ntnx API client from dependabot (#995)
  .github/dependabot.yml
Due: none

fix: also ignore VirtualIP in Nutanix CCM
  charts/cluster-api-runtime-extensions-nutanix/addons/ccm/nutanix/values-template.yaml
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler.go
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler_test.go
Due: go-generate, golangci-lint, chart-docs

fix: uses CEL instead of webhook validation
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/nutanix_clusterconfig_types.go
  pkg/webhook/cluster/nutanix_validator.go
  pkg/webhook/cluster/validator.go
Due: go-generate, golangci-lint

feat: Virtual IP configuration to set different address/port (#986)
  api/v1alpha1/common_types.go
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  charts/cluster-api-runtime-extensions-nutanix/addons/ccm/nutanix/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/virtual-ip/kube-vip/manifests/kube-vip-configmap.yaml
  docs/content/customization/nutanix/control-plane-endpoint.md
  hack/addons/update-kube-vip-manifests.sh
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler.go
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler_test.go
  pkg/handlers/generic/mutation/controlplanevirtualip/inject_test.go
  pkg/handlers/generic/mutation/controlplanevirtualip/providers/kubevip_test.go
  pkg/handlers/generic/mutation/controlplanevirtualip/providers/providers.go
Due: go-generate, golangci-lint, chart-docs, hugo-mod-tidy, addons-sync

fix: update CoreDNS mapping file
  api/versions/coredns.go
  api/versions/coredns_test.go
Due: go-generate, golangci-lint, check-coredns-versions

fix: validates NUTANIX_ENDPOINT is outside the Load Balancer IP Range
  api/v1alpha1/nutanix_clusterconfig_types.go
  pkg/helpers/helpers.go
  pkg/helpers/helpers_test.go
  pkg/webhook/cluster/nutanix_validator.go
  pkg/webhook/cluster/nutanix_validator_test.go
  pkg/webhook/cluster/validator.go
Due: go-generate, golangci-lint

refactor: func IsIPInRange updated to use net/netip pkg
  pkg/helpers/helpers.go
  pkg/helpers/helpers_test.go
Due: go-generate, golangci-lint

ci: automated changes from pre-commit hook
  api/versions/coredns.go
Due: go-generate, golangci-lint, check-coredns-versions

fix: NCN-104634: First-found ip autodetection seems to break w/ kube-vip on upgrade
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/nutanix/crs-installation.yaml
Due: chart-docs, addons-sync

fix: update CoreDNS mapping file (#998)
  api/versions/coredns.go
  api/versions/coredns_test.go
Due: go-generate, golangci-lint, check-coredns-versions

feat: update addon versions
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.31.1-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cluster-autoscaler/manifests/cluster-autoscaler-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/tigera-operator-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/cilium-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/aws-ebs/manifests/aws-ebs-csi-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/local-path/manifests/local-path-provisioner-csi-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/nfd/manifests/node-feature-discovery-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: schema-chart, chart-docs, addons-sync

refactor: renames func and error messages
  pkg/webhook/cluster/nutanix_validator.go
  pkg/webhook/cluster/nutanix_validator_test.go
Due: go-generate, golangci-lint

fix: do not error out if control plane endpoint is hostname
  pkg/webhook/cluster/nutanix_validator.go
  pkg/webhook/cluster/nutanix_validator_test.go
Due: go-generate, golangci-lint

refactor: renames func to VirtualIPAddress
  api/v1alpha1/common_types.go
  api/v1alpha1/common_types_test.go
  pkg/webhook/cluster/nutanix_validator.go
Due: go-generate, golangci-lint

fix: validates control plane and prism central IP are distinct
  api/v1alpha1/common_types.go
  api/v1alpha1/common_types_test.go
  pkg/webhook/cluster/nutanix_validator.go
  pkg/webhook/cluster/nutanix_validator_test.go
Due: go-generate, golangci-lint

refactor: incorporates review comments
  api/v1alpha1/common_types_test.go
  api/v1alpha1/nutanix_clusterconfig_types.go
  api/v1alpha1/nutanix_clusterconfig_types_test.go
  pkg/webhook/cluster/nutanix_validator.go
  pkg/webhook/cluster/nutanix_validator_test.go
Due: go-generate, golangci-lint

fix: validates control plane and prism central IP are distinct
  api/v1alpha1/common_types.go
  api/v1alpha1/common_types_test.go
  api/v1alpha1/nutanix_clusterconfig_types.go
  api/v1alpha1/nutanix_clusterconfig_types_test.go
  pkg/webhook/cluster/nutanix_validator.go
  pkg/webhook/cluster/nutanix_validator_test.go
Due: go-generate, golangci-lint

fix: validates PC IP is outside Load Balancer IP Range (#1001)
  api/v1alpha1/common_types.go
  api/v1alpha1/common_types_test.go
  api/v1alpha1/nutanix_clusterconfig_types.go
  api/v1alpha1/nutanix_clusterconfig_types_test.go
  pkg/helpers/helpers.go
  pkg/helpers/helpers_test.go
  pkg/webhook/cluster/nutanix_validator.go
  pkg/webhook/cluster/nutanix_validator_test.go
  pkg/webhook/cluster/validator.go
Due: go-generate, golangci-lint

fixup! fix: external.Get signature change
  pkg/controllers/namespacesync/references.go
Due: go-generate, golangci-lint

feat: update addon versions (#997)
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.31.1-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cluster-autoscaler/manifests/cluster-autoscaler-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/tigera-operator-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/cilium-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/aws-ebs/manifests/aws-ebs-csi-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/local-path/manifests/local-path-provisioner-csi-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/nfd/manifests/node-feature-discovery-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: schema-chart, chart-docs, addons-sync

fix: update example Docker ClusterClass
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/docker-cluster-class.yaml
Due: chart-docs

fixup! release: Update metadata for release
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: none

refactor: updates func IsIPInRange to handle IP range, CIDR, single IP
  go.mod
  go.sum
  pkg/helpers/helpers.go
  pkg/helpers/helpers_test.go
  pkg/webhook/cluster/nutanix_validator.go
Due: go-generate, golangci-lint

feat: add COSI controller API
  api/v1alpha1/addon_types.go
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  api/variables/aggregate_types.go
Due: go-generate, golangci-lint

build: include COSI image
  hack/tools/fetch-images/main.go
Due: go-generate, golangci-lint

feat: add COSI controller handler
  api/v1alpha1/constants.go
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/addons/cosi/controller/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cosi/controller/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/deployment.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  docs/content/addons/cosi.md
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/cosi-controller/kustomization.yaml.tmpl
  make/addons.mk
  pkg/handlers/generic/lifecycle/config/cm.go
  pkg/handlers/generic/lifecycle/cosi/doc.go
  pkg/handlers/generic/lifecycle/cosi/handler.go
  pkg/handlers/generic/lifecycle/cosi/variables_test.go
  pkg/handlers/generic/lifecycle/handlers.go
Due: schema-chart, go-generate, golangci-lint, chart-docs, hugo-mod-tidy, addons-sync

test: enable COSI controller in example files
  examples/capi-quick-start/docker-cluster-calico-crs.yaml
  examples/capi-quick-start/docker-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/docker-cluster-cilium-crs.yaml
  examples/capi-quick-start/docker-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-calico-crs.yaml
  examples/capi-quick-start/nutanix-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  hack/examples/bases/docker/cluster/kustomization.yaml.tmpl
  hack/examples/bases/nutanix/cluster/kustomization.yaml.tmpl
  hack/examples/patches/docker/cosi.yaml
  hack/examples/patches/nutanix/cosi.yaml
Due: examples-sync

fixup! feat: add COSI controller handler
  charts/cluster-api-runtime-extensions-nutanix/templates/cosi/controller/manifests/helm-addon-installation.yaml
  docs/content/addons/cosi.md
  hack/addons/kustomize/cosi-controller/kustomization.yaml.tmpl
  pkg/handlers/generic/lifecycle/cosi/doc.go
Due: go-generate, golangci-lint, chart-docs, hugo-mod-tidy, addons-sync

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/mindthegap-helm-registry/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$
  check-coredns-versions: any of: ^api/versions/coredns.go$
