Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, check-coredns-versions, golangci-lint, kube-api-linter, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  check-coredns-versions: any of: ^api/versions/coredns.go$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  kube-api-linter: any of: ((^api/(.*\.go|go.mod|go.sum))|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/helm-chart-bundler/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$

release(main): v0.35.1 (#1343)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

fix: Align validation with upstream Kubeadm Bootstrap Provider types (#1342)
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
Due: go-generate, golangci-lint, kube-api-linter

K8s agent as addon
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  docs/content/addons/k8s-registration-agent.md
  hack/addons/kustomize/k8s-registration-agent/kustomization.yaml.tmpl
  pkg/handlers/lifecycle/handlers.go
Due: go-generate, golangci-lint, chart-docs, hugo-mod-tidy, addons-sync

K8s agent as addon
  api/v1alpha1/addon_types.go
  api/v1alpha1/constants.go
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  api/variables/aggregate_types.go
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/addons/k8s-registration-agent/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/deployment.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/k8s-registration-agent/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  docs/content/addons/k8s-registration-agent.md
  examples/capi-quick-start/nutanix-cluster-calico-crs.yaml
  examples/capi-quick-start/nutanix-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-with-failuredomains-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-with-failuredomains-cilium-helm-addon.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/k8s-registration-agent/kustomization.yaml.tmpl
  hack/examples/bases/nutanix/cluster/kustomization.yaml.tmpl
  hack/examples/patches/nutanix/k8s-registration-agent.yaml
  hack/tools/fetch-images/main.go
  make/addons.mk
  pkg/handlers/generic/lifecycle/k8sregistrationagent/doc.go
  pkg/handlers/generic/lifecycle/k8sregistrationagent/handler.go
  pkg/handlers/generic/lifecycle/k8sregistrationagent/variables_test.go
  pkg/handlers/lifecycle/config/cm.go
  pkg/handlers/lifecycle/handlers.go
Due: schema-chart, go-generate, golangci-lint, kube-api-linter, chart-docs, hugo-mod-tidy, examples-sync, addons-sync, addons-repo-yaml

Minor changes
  charts/cluster-api-runtime-extensions-nutanix/addons/k8s-registration-agent/values-template.yaml
  pkg/handlers/generic/lifecycle/k8sregistrationagent/handler.go
Due: go-generate, golangci-lint, chart-docs

Removing unnessary values from values template file
  charts/cluster-api-runtime-extensions-nutanix/addons/k8s-registration-agent/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/k8s-registration-agent/kustomization.yaml.tmpl
  pkg/handlers/generic/lifecycle/k8sregistrationagent/handler.go
Due: go-generate, golangci-lint, chart-docs, addons-sync, addons-repo-yaml

added unit testing code
  pkg/handlers/generic/lifecycle/k8sregistrationagent/handler.go
  pkg/handlers/generic/lifecycle/k8sregistrationagent/variables_test.go
Due: go-generate, golangci-lint

minor changes
  docs/content/addons/k8s-registration-agent.md
  pkg/handlers/generic/lifecycle/k8sregistrationagent/handler.go
  pkg/handlers/generic/lifecycle/k8sregistrationagent/variables_test.go
Due: go-generate, golangci-lint, hugo-mod-tidy

formatting changes
  pkg/handlers/generic/lifecycle/k8sregistrationagent/handler.go
Due: go-generate, golangci-lint

directory changes
  pkg/handlers/generic/lifecycle/k8sregistrationagent/doc.go
  pkg/handlers/generic/lifecycle/k8sregistrationagent/handler.go
  pkg/handlers/generic/lifecycle/k8sregistrationagent/variables_test.go
  pkg/handlers/lifecycle/handlers.go
Due: go-generate, golangci-lint

directory changes
  pkg/handlers/lifecycle/handlers.go
  pkg/handlers/lifecycle/k8sregistrationagent/doc.go
  pkg/handlers/lifecycle/k8sregistrationagent/handler.go
  pkg/handlers/lifecycle/k8sregistrationagent/variables_test.go
Due: go-generate, golangci-lint

pre commit changes
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/addons/k8s-registration-agent/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  examples/capi-quick-start/nutanix-cluster-calico-crs.yaml
  examples/capi-quick-start/nutanix-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-with-failuredomains-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-with-failuredomains-cilium-helm-addon.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/k8s-registration-agent/kustomization.yaml.tmpl
  pkg/handlers/lifecycle/k8sregistrationagent/variables_test.go
Due: go-generate, golangci-lint, chart-docs, examples-sync, addons-sync, addons-repo-yaml

feat: Multus config
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/multus/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/multus/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/multus/kustomization.yaml.tmpl
  pkg/handlers/lifecycle/cni/multus/handler.go
  pkg/handlers/lifecycle/cni/multus/template.go
  pkg/handlers/lifecycle/config/cm.go
  pkg/handlers/lifecycle/handlers.go
Due: schema-chart, go-generate, golangci-lint, chart-docs, addons-sync, addons-repo-yaml

fix: updates k8s-agent chart URL
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
Due: chart-docs

fix: updates k8s-agent chart URL
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/k8s-registration-agent/kustomization.yaml.tmpl
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

feat: adds failure domain api for AWS and EKS
  api/v1alpha1/aws_node_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksworkernodeconfigs.yaml
  common/pkg/testutils/capitest/request/items.go
  pkg/handlers/aws/mutation/failuredomain/inject_suite_test.go
  pkg/handlers/aws/mutation/failuredomain/inject_worker.go
  pkg/handlers/aws/mutation/failuredomain/inject_worker_test.go
  pkg/handlers/aws/mutation/failuredomain/variables_test.go
  pkg/handlers/aws/mutation/metapatch_handler.go
  pkg/handlers/eks/mutation/failuredomain/inject_suite_test.go
  pkg/handlers/eks/mutation/failuredomain/inject_worker.go
  pkg/handlers/eks/mutation/failuredomain/inject_worker_test.go
  pkg/handlers/eks/mutation/metapatch_handler.go
Due: go-generate, golangci-lint, kube-api-linter

docs: adds failure domain docs
  docs/content/customization/aws/failure-domain.md
  docs/content/customization/eks/failure-domain.md
Due: hugo-mod-tidy

feat: updating k8s registration agent chat versions
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/k8s-registration-agent/kustomization.yaml.tmpl
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

docs: add AWS Load Balancer controller docs
  docs/content/addons/aws-load-balancer-controller.md
Due: hugo-mod-tidy

feat: deploy AWS Load Balancer controller
  pkg/handlers/lifecycle/awsloadbalancercontroller/doc.go
  pkg/handlers/lifecycle/awsloadbalancercontroller/handler.go
  pkg/handlers/lifecycle/config/cm.go
  pkg/handlers/lifecycle/handlers.go
Due: go-generate, golangci-lint

build: include AWS Load Balancer controller in Helm chart
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/addons/aws-load-balancer-controller/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/addons/aws-load-balancer-controller/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/aws-load-balancer-controller/kustomization.yaml.tmpl
  hack/tools/fetch-images/main.go
  make/addons.mk
Due: schema-chart, go-generate, golangci-lint, chart-docs, addons-sync, addons-repo-yaml

fix: support AWS clusters in AWS LB Controller
  charts/cluster-api-runtime-extensions-nutanix/addons/aws-load-balancer-controller/values-template.yaml
  pkg/handlers/lifecycle/awsloadbalancercontroller/handler.go
Due: go-generate, golangci-lint, chart-docs

feat:Adding before cluster delete hook
  pkg/handlers/lifecycle/k8sregistrationagent/handler.go
Due: go-generate, golangci-lint

Apply suggestions from code review
  api/v1alpha1/addon_types.go
  charts/cluster-api-runtime-extensions-nutanix/addons/k8s-registration-agent/values-template.yaml
  pkg/handlers/lifecycle/handlers.go
  pkg/handlers/lifecycle/k8sregistrationagent/handler.go
Due: go-generate, golangci-lint, kube-api-linter, chart-docs

fix: comment on field
  api/v1alpha1/aws_node_types.go
Due: go-generate, golangci-lint, kube-api-linter

renaming k8s registration agent to konnector agent
  api/v1alpha1/addon_types.go
  api/v1alpha1/constants.go
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  api/variables/aggregate_types.go
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/addons/konnector-agent/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/deployment.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/k8s-registration-agent/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/konnector-agent/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  docs/content/addons/k8s-registration-agent.md
  examples/capi-quick-start/nutanix-cluster-calico-crs.yaml
  examples/capi-quick-start/nutanix-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-with-failuredomains-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-with-failuredomains-cilium-helm-addon.yaml
  hack/addons/kustomize/k8s-registration-agent/kustomization.yaml.tmpl
  hack/examples/bases/nutanix/cluster/kustomization.yaml.tmpl
  hack/examples/patches/nutanix/konnector-agent.yaml
  hack/tools/fetch-images/main.go
  pkg/handlers/lifecycle/config/cm.go
  pkg/handlers/lifecycle/handlers.go
  pkg/handlers/lifecycle/konnectoragent/doc.go
  pkg/handlers/lifecycle/konnectoragent/handler.go
  pkg/handlers/lifecycle/konnectoragent/variables_test.go
Due: schema-chart, go-generate, golangci-lint, kube-api-linter, chart-docs, hugo-mod-tidy, examples-sync, addons-sync

feat: variable name updates
  hack/addons/kustomize/k8s-registration-agent/kustomization.yaml.tmpl
  make/addons.mk
Due: addons-sync

feat: changin chart name
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/k8s-registration-agent/kustomization.yaml.tmpl
Due: addons-sync, addons-repo-yaml

feat: put AWS LB Controller behind an API
  api/v1alpha1/addon_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  docs/content/addons/aws-load-balancer-controller.md
  eks.yaml
  examples/capi-quick-start/eks-cluster.yaml
  hack/examples/patches/eks/initialize-variables.yaml
  pkg/handlers/lifecycle/awsloadbalancercontroller/handler.go
Due: go-generate, golangci-lint, kube-api-linter, hugo-mod-tidy, examples-sync

refactor: move to ingress folder
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/templates/addons/aws-load-balancer-controller/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  pkg/handlers/lifecycle/handlers.go
  pkg/handlers/lifecycle/ingress/awsloadbalancercontroller/doc.go
  pkg/handlers/lifecycle/ingress/awsloadbalancercontroller/handler.go
Due: schema-chart, go-generate, golangci-lint, chart-docs

feat: konnector agent name change
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/konnector-agent/kustomization.yaml.tmpl
Due: chart-docs, addons-sync, addons-repo-yaml

feat: updating konnector agent doc
  docs/content/addons/k8s-registration-agent.md
  docs/content/addons/konnector-agent.md
  examples/capi-quick-start/nutanix-cluster-calico-crs.yaml
  examples/capi-quick-start/nutanix-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-with-failuredomains-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-with-failuredomains-cilium-helm-addon.yaml
  pkg/handlers/lifecycle/konnectoragent/handler.go
Due: go-generate, golangci-lint, hugo-mod-tidy, examples-sync

feat: updating values template
  charts/cluster-api-runtime-extensions-nutanix/addons/konnector-agent/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/konnector-agent/kustomization.yaml.tmpl
Due: chart-docs, addons-sync, addons-repo-yaml
