Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, check-coredns-versions, golangci-lint, kube-api-linter, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  check-coredns-versions: any of: ^api/versions/coredns.go$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  kube-api-linter: any of: ((^api/(.*\.go|go.mod|go.sum))|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/helm-chart-bundler/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$

refactor: Move preflight test to test case
  pkg/webhook/preflight/preflight_test.go
Due: go-generate, golangci-lint

refactor: Move preflight test to test case (#1457)
  pkg/webhook/preflight/preflight_test.go
Due: go-generate, golangci-lint

feat: include credentials in cache key for Prism Central clients
  pkg/webhook/preflight/nutanix/cache.go
Due: go-generate, golangci-lint

refactor: migration nutanix API to v4
  pkg/webhook/preflight/nutanix/cache.go
  pkg/webhook/preflight/nutanix/clients.go
Due: go-generate, golangci-lint

feat: migrate from V3 to V4 converged client for credentials and Prism Central version
  pkg/webhook/preflight/nutanix/clients.go
  pkg/webhook/preflight/nutanix/credentials.go
  pkg/webhook/preflight/nutanix/credentials_test.go
Due: go-generate, golangci-lint

refactor: use cluster namespaced name for cache key
  pkg/webhook/preflight/nutanix/cache.go
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/clients.go
  pkg/webhook/preflight/nutanix/credentials_test.go
Due: go-generate, golangci-lint

refactor(e2e): migrate to converged V4 client and remove redundant code
  pkg/webhook/preflight/nutanix/credentials_test.go
  test/e2e/framework/nutanix/client.go
  test/e2e/framework/nutanix/cluster.go
  test/e2e/framework/nutanix/networking.go
  test/e2e/quick_start_test.go
Due: go-generate, golangci-lint

style: fix formatting for e2e tests and credentials test
  pkg/webhook/preflight/nutanix/credentials_test.go
  test/e2e/framework/nutanix/cluster.go
Due: go-generate, golangci-lint

refactor: pass context to all client wrapper functions
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/clients.go
  pkg/webhook/preflight/nutanix/failuredomain_test.go
  pkg/webhook/preflight/nutanix/image_test.go
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck_test.go
  pkg/webhook/preflight/nutanix/storagecontainer_test.go
  test/e2e/framework/nutanix/client.go
  test/e2e/quick_start_test.go
Due: go-generate, golangci-lint

chore: update prism-go-client to v0.6.2 and remove local replace directive
  go.mod
  go.sum
Due: go-generate, golangci-lint

fix: add copyright header and fix import ordering
  pkg/webhook/preflight/nutanix/cache.go
  pkg/webhook/preflight/nutanix/credentials_test.go
Due: go-generate, golangci-lint

refactor: migration nutanix API to v4 (#1444)
  go.mod
  go.sum
  pkg/webhook/preflight/nutanix/cache.go
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/clients.go
  pkg/webhook/preflight/nutanix/credentials.go
  pkg/webhook/preflight/nutanix/credentials_test.go
  pkg/webhook/preflight/nutanix/failuredomain_test.go
  pkg/webhook/preflight/nutanix/image_test.go
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck_test.go
  pkg/webhook/preflight/nutanix/storagecontainer_test.go
  test/e2e/framework/nutanix/client.go
  test/e2e/framework/nutanix/cluster.go
  test/e2e/framework/nutanix/networking.go
  test/e2e/quick_start_test.go
Due: go-generate, golangci-lint

fix: Note skipped preflight checks in verbose log
  pkg/webhook/preflight/preflight.go
Due: go-generate, golangci-lint

fix: update cilium version to 1.18.6
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/cilium-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

fix: update cilium version to 1.18.6 (#1458)
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/cilium-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

chore: update root config and dependencies for CAPI 1.12.1
  .golangci.yml
  go.mod
  go.sum
  make/addons.mk
Due: go-generate, golangci-lint, addons-sync

feat: pre-pull cilium images before upgrade
  pkg/handlers/lifecycle/cni/cilium/handler.go
  pkg/handlers/lifecycle/cni/cilium/template.go
  pkg/handlers/lifecycle/cni/cilium/template_test.go
Due: go-generate, golangci-lint

fix: Nutanix CCM to use Environment varibles instead of dynamic identification from config
  charts/cluster-api-runtime-extensions-nutanix/addons/ccm/nutanix/values-template.yaml
  pkg/handlers/lifecycle/ccm/nutanix/handler.go
Due: go-generate, golangci-lint, chart-docs

feat: Run Preflight Checks on Cluster update
  charts/cluster-api-runtime-extensions-nutanix/templates/webhooks.yaml
  pkg/webhook/preflight/doc.go
  pkg/webhook/preflight/preflight.go
  pkg/webhook/preflight/preflight_test.go
Due: go-generate, golangci-lint, chart-docs

refactor: update common variables for CAPI 1.12.1
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/zz_generated.deepcopy.go
  common/pkg/capi/clustertopology/variables/variable.go
Due: go-generate, golangci-lint, kube-api-linter, apis-sync

refactor: update test utilities for CAPI 1.12.1
  internal/test/builder/builders.go
  internal/test/builder/zz_generated.deepcopy.go
  internal/test/request/capa.go
Due: go-generate, golangci-lint

refactor: update controllers for CAPI 1.12.1
  pkg/controllers/enforceclusterautoscalerlimits/controller.go
  pkg/controllers/enforceclusterautoscalerlimits/controller_test.go
  pkg/controllers/enforceclusterautoscalerlimits/suite_test.go
  pkg/controllers/failuredomainrollout/controller.go
  pkg/controllers/failuredomainrollout/controller_test.go
  pkg/controllers/namespacesync/controller.go
  pkg/controllers/namespacesync/controller_test.go
  pkg/controllers/namespacesync/copy.go
  pkg/controllers/namespacesync/copy_test.go
  pkg/controllers/namespacesync/references.go
  pkg/controllers/namespacesync/references_test.go
  pkg/controllers/namespacesync/suite_test.go
Due: go-generate, golangci-lint

fix: Nutanix CCM to use k8s varibles instead of dynamic identification
  charts/cluster-api-runtime-extensions-nutanix/addons/ccm/nutanix/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
  pkg/handlers/lifecycle/ccm/nutanix/handler.go
  pkg/handlers/lifecycle/ccm/nutanix/handler_test.go
Due: go-generate, golangci-lint, chart-docs, addons-sync, addons-repo-yaml

fix: Nutanix CCM to use variables instead of dynamic identification from config (#1460)
  charts/cluster-api-runtime-extensions-nutanix/addons/ccm/nutanix/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
  pkg/handlers/lifecycle/ccm/nutanix/handler.go
  pkg/handlers/lifecycle/ccm/nutanix/handler_test.go
Due: go-generate, golangci-lint, chart-docs, addons-sync, addons-repo-yaml

fix: Nutanix CCM use variables for API
  charts/cluster-api-runtime-extensions-nutanix/addons/ccm/nutanix/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
  pkg/handlers/lifecycle/ccm/nutanix/handler.go
  pkg/handlers/lifecycle/ccm/nutanix/handler_test.go
Due: go-generate, golangci-lint, chart-docs, addons-sync, addons-repo-yaml

fix: Nutanix CCM to use variables instead of dynamic identification (#1464)
  charts/cluster-api-runtime-extensions-nutanix/addons/ccm/nutanix/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
  pkg/handlers/lifecycle/ccm/nutanix/handler.go
  pkg/handlers/lifecycle/ccm/nutanix/handler_test.go
Due: go-generate, golangci-lint, chart-docs, addons-sync, addons-repo-yaml

fix: Log whenever preflight checks are skipped
  pkg/webhook/preflight/preflight.go
Due: go-generate, golangci-lint

fix: Log preflight check response when verbosity is high
  pkg/webhook/preflight/preflight.go
Due: go-generate, golangci-lint

fixup! feat: Run Preflight Checks on Cluster update
  pkg/webhook/preflight/preflight.go
  pkg/webhook/preflight/preflight_test.go
Due: go-generate, golangci-lint

feat: Run Preflight Checks on Cluster update (#1459)
  charts/cluster-api-runtime-extensions-nutanix/templates/webhooks.yaml
  pkg/webhook/preflight/doc.go
  pkg/webhook/preflight/preflight.go
  pkg/webhook/preflight/preflight_test.go
Due: go-generate, golangci-lint, chart-docs

feat: pre-pull cilium images before upgrade
  api/v1alpha1/constants.go
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/preflight-values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/helm-addon-installation.yaml
  pkg/handlers/lifecycle/addons/helmaddon.go
  pkg/handlers/lifecycle/addons/interfaces.go
  pkg/handlers/lifecycle/cni/cilium/handler.go
  pkg/handlers/lifecycle/cni/cilium/template.go
  pkg/handlers/lifecycle/cni/cilium/template_test.go
  pkg/handlers/utils/utils.go
Due: go-generate, golangci-lint, kube-api-linter, chart-docs, addons-sync

feat: pre-pull cilium images before upgrade (#1456)
  api/v1alpha1/constants.go
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/preflight-values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/helm-addon-installation.yaml
  pkg/handlers/lifecycle/addons/helmaddon.go
  pkg/handlers/lifecycle/addons/interfaces.go
  pkg/handlers/lifecycle/cni/cilium/handler.go
  pkg/handlers/lifecycle/cni/cilium/template.go
  pkg/handlers/lifecycle/cni/cilium/template_test.go
  pkg/handlers/utils/utils.go
Due: go-generate, golangci-lint, kube-api-linter, chart-docs, addons-sync

fix: Bump CCM version to v0.6.2
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

feat: Metro support milestone-1 - update the nutanix-ccm image tag
  charts/cluster-api-runtime-extensions-nutanix/addons/ccm/nutanix/values-template.yaml
  pkg/handlers/lifecycle/ccm/nutanix/handler_test.go
Due: go-generate, golangci-lint, chart-docs

fix: examples.sync failure with nutanix-cluster-class
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  hack/examples/overlays/clusterclasses/nutanix/kustomization.yaml.tmpl
Due: chart-docs, examples-sync
