Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, golangci-lint, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock, check-coredns-versions

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/mindthegap-helm-registry/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$
  check-coredns-versions: any of: ^api/versions/coredns.go$

fix(webhook): Update cluster webhook to validate failure domains
  pkg/webhook/cluster/nutanix_validator.go
  pkg/webhook/cluster/nutanix_validator_test.go
Due: go-generate, golangci-lint

fix(handler): remove extraneous injection for nutanix
  pkg/handlers/nutanix/mutation/machinedetails/inject.go
Due: go-generate, golangci-lint

fixup! release: Update metadata for release
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: none

release(main): v0.32.0 (#1222)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: hugo-mod-tidy

fix: Namespacesync copies resources after partial copy failure (#1228)
  pkg/controllers/namespacesync/controller.go
  pkg/controllers/namespacesync/controller_test.go
  pkg/controllers/namespacesync/copy.go
  pkg/controllers/namespacesync/copy_test.go
Due: go-generate, golangci-lint

fix(deps): Update CAPX to v1.7.0-beta.4
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixmachine_types.go
  hack/third-party/capx/go.mod
  hack/third-party/capx/go.sum
Due: go-generate, golangci-lint, apis-sync

fix(log): update failure domain config not found log
  pkg/handlers/nutanix/mutation/controlplanefailuredomains/inject.go
Due: go-generate, golangci-lint

fix(log): instrument logging for mutation/meta.go
  common/pkg/capi/clustertopology/handlers/mutation/meta.go
Due: go-generate, golangci-lint

fix(test): update the patches for machinedetails test
  pkg/handlers/nutanix/mutation/machinedetails/inject_control_plane_test.go
Due: go-generate, golangci-lint

fix(clusterclass): update NutanixMachineTemplate in clusterclass
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  hack/examples/overlays/clusterclasses/nutanix/kustomization.yaml.tmpl
  hack/examples/patches/nutanix/remove-cluster-and-subnet-from-machinetemplates.yaml
Due: chart-docs, examples-sync

feat: Add more context to MetalLB config apply conflict errors (#1225)
  pkg/handlers/generic/lifecycle/serviceloadbalancer/metallb/handler.go
Due: go-generate, golangci-lint

refactor: reduce duplicate code and reuse common functions
  api/v1alpha1/nutanix_node_types.go
  pkg/webhook/cluster/nutanix_validator.go
Due: go-generate, golangci-lint

fix(log): instrument better debug logging
  common/pkg/capi/clustertopology/handlers/mutation/meta.go
  pkg/handlers/nutanix/mutation/controlplanefailuredomains/inject.go
Due: go-generate, golangci-lint

fix: Namespacesync copies resources after partial copy failure (#1230)
  pkg/controllers/namespacesync/controller.go
  pkg/controllers/namespacesync/controller_test.go
  pkg/controllers/namespacesync/copy.go
  pkg/controllers/namespacesync/copy_test.go
Due: go-generate, golangci-lint

feat: Support context for all Nutanix client calls
  pkg/webhook/preflight/nutanix/clients.go
  pkg/webhook/preflight/nutanix/clients_test.go
  pkg/webhook/preflight/nutanix/failuredomain.go
  pkg/webhook/preflight/nutanix/failuredomain_test.go
  pkg/webhook/preflight/nutanix/image.go
  pkg/webhook/preflight/nutanix/image_test.go
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck.go
  pkg/webhook/preflight/nutanix/storagecontainer.go
  pkg/webhook/preflight/nutanix/storagecontainer_test.go
Due: go-generate, golangci-lint

refactor: Allow wrapping of individual nutanix client functions
  pkg/webhook/preflight/nutanix/clients.go
  pkg/webhook/preflight/nutanix/clients_test.go
  pkg/webhook/preflight/nutanix/credentials_test.go
  pkg/webhook/preflight/nutanix/failuredomain_test.go
  pkg/webhook/preflight/nutanix/image_test.go
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck_test.go
  pkg/webhook/preflight/nutanix/storagecontainer_test.go
Due: go-generate, golangci-lint

feat: Reserve time to return preflight results before webhook timeout
  pkg/webhook/preflight/doc.go
  pkg/webhook/preflight/preflight.go
Due: go-generate, golangci-lint

fix: Namespacesync copies resources after partial copy failure (#1229)
  pkg/controllers/namespacesync/controller.go
  pkg/controllers/namespacesync/controller_test.go
  pkg/controllers/namespacesync/copy.go
  pkg/controllers/namespacesync/copy_test.go
Due: go-generate, golangci-lint

feat: Add more context to MetalLB config apply conflict errors (#1232)
  pkg/handlers/generic/lifecycle/serviceloadbalancer/metallb/handler.go
Due: go-generate, golangci-lint

feat: Add more context to MetalLB config apply conflict errors (#1231)
  pkg/handlers/generic/lifecycle/serviceloadbalancer/metallb/handler.go
Due: go-generate, golangci-lint

fix(webhook): Update cluster webhook to validate failure domains
  api/v1alpha1/nutanix_node_types.go
  pkg/webhook/cluster/nutanix_validator.go
  pkg/webhook/cluster/nutanix_validator_test.go
Due: go-generate, golangci-lint

fix(patches): Ensure resulting NutanixMachineTemplate patches are clean
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixmachine_types.go
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  common/pkg/capi/clustertopology/handlers/mutation/meta.go
  hack/examples/overlays/clusterclasses/nutanix/kustomization.yaml.tmpl
  hack/examples/patches/nutanix/remove-cluster-and-subnet-from-machinetemplates.yaml
  hack/third-party/capx/go.mod
  hack/third-party/capx/go.sum
  pkg/handlers/nutanix/mutation/controlplanefailuredomains/inject.go
  pkg/handlers/nutanix/mutation/machinedetails/inject.go
  pkg/handlers/nutanix/mutation/machinedetails/inject_control_plane_test.go
Due: go-generate, golangci-lint, chart-docs, examples-sync, apis-sync

fix(webhook): Update cluster webhook to validate failure domains (#1233)
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixmachine_types.go
  api/v1alpha1/nutanix_node_types.go
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  common/pkg/capi/clustertopology/handlers/mutation/meta.go
  hack/examples/overlays/clusterclasses/nutanix/kustomization.yaml.tmpl
  hack/examples/patches/nutanix/remove-cluster-and-subnet-from-machinetemplates.yaml
  hack/third-party/capx/go.mod
  hack/third-party/capx/go.sum
  pkg/handlers/nutanix/mutation/controlplanefailuredomains/inject.go
  pkg/handlers/nutanix/mutation/machinedetails/inject.go
  pkg/handlers/nutanix/mutation/machinedetails/inject_control_plane_test.go
  pkg/webhook/cluster/nutanix_validator.go
  pkg/webhook/cluster/nutanix_validator_test.go
Due: go-generate, golangci-lint, chart-docs, examples-sync, apis-sync

build: Use GH client and token for coredns version mapping
  .github/workflows/checks.yml
  .pre-commit-config.yaml
  api/versions/coredns.go
  hack/tools/coredns-versions/main.go
  hack/tools/go.mod
  hack/tools/go.sum
  make/apis.mk
Due: go-generate, golangci-lint, apis-sync, check-coredns-versions

fixup! refactor: Copilot feedback
  hack/tools/coredns-versions/main.go
Due: go-generate, golangci-lint

build: Use GH client and token for coredns version mapping (#1238)
  .github/workflows/checks.yml
  .pre-commit-config.yaml
  api/versions/coredns.go
  hack/tools/coredns-versions/main.go
  hack/tools/go.mod
  hack/tools/go.sum
  make/apis.mk
Due: go-generate, golangci-lint, apis-sync, check-coredns-versions

build: Update all tools
  api/go.mod
  common/go.mod
  common/pkg/capi/utils/utils.go
  common/pkg/capi/utils/utils_test.go
  common/pkg/testutils/capitest/variables.go
  common/pkg/testutils/openapi/cel.go
  devbox.lock
  go.mod
  hack/flakes/flake.lock
  hack/flakes/flake.nix
  make/helm.mk
Due: go-generate, golangci-lint, check-devbox-lock

fixup! refactor: Fix indentation
  make/helm.mk
Due: none

build: Update all tools (#1237)
  api/go.mod
  common/go.mod
  common/pkg/capi/utils/utils.go
  common/pkg/capi/utils/utils_test.go
  common/pkg/testutils/capitest/variables.go
  common/pkg/testutils/openapi/cel.go
  devbox.lock
  go.mod
  hack/flakes/flake.lock
  hack/flakes/flake.nix
  make/helm.mk
Due: go-generate, golangci-lint, check-devbox-lock

build: Add kube-api-linter
  .github/workflows/checks.yml
  .gitignore
  .golangci-kal.yml
  .pre-commit-config.yaml
  devbox.json
  devbox.lock
  hack/tools/.custom-gcl.yml
  make/go.mk
Due: go-generate, golangci-lint, check-devbox-lock

fixup! build: Integrate with vscode
  .golangci-kal.yml
  .golangci.yml
  .pre-commit-config.yaml
  api/v1alpha1/addon_types.go
  api/v1alpha1/nutanix_clusterconfig_types.go
  docs/content/contributing/linting.md
  hack/tools/.custom-gcl.yml
  make/go.mk
  pkg/handlers/generic/mutation/externalcloudprovider/inject.go
Due: go-generate, golangci-lint, hugo-mod-tidy
