Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, golangci-lint, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock, check-coredns-versions

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/mindthegap-helm-registry/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$
  check-coredns-versions: any of: ^api/versions/coredns.go$

release(main): v0.31.0 (#1197)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: hugo-mod-tidy

fix(preflight): sanitize kubernetes version for image name preflight check
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck.go
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck_test.go
Due: go-generate, golangci-lint

fix(preflight): use FinalizeVersion instead of recreating version
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck.go
Due: go-generate, golangci-lint

fix(preflight): sanitize kubernetes version for image name preflight check (#1198)
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck.go
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck_test.go
Due: go-generate, golangci-lint

fix: Use leaf "image" field in preflight check results
  pkg/webhook/preflight/nutanix/image.go
  pkg/webhook/preflight/nutanix/image_test.go
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck.go
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck_test.go
Due: go-generate, golangci-lint

fix: Use valid JSONPath to reference fields in preflight results
  pkg/webhook/preflight/nutanix/credentials.go
  pkg/webhook/preflight/nutanix/image.go
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck.go
  pkg/webhook/preflight/nutanix/specs.go
  pkg/webhook/preflight/nutanix/specs_test.go
  pkg/webhook/preflight/nutanix/storagecontainer.go
Due: go-generate, golangci-lint

fix: Do not treat invalid credentials as an internal error
  pkg/webhook/preflight/nutanix/credentials.go
  pkg/webhook/preflight/nutanix/credentials_test.go
Due: go-generate, golangci-lint

fix: Remove code that is expected to never run
  pkg/webhook/preflight/nutanix/storagecontainer.go
  pkg/webhook/preflight/nutanix/storagecontainer_test.go
Due: go-generate, golangci-lint

fix: Capitalize messages in preflight check results
  pkg/webhook/preflight/generic/registry.go
  pkg/webhook/preflight/generic/registry_test.go
  pkg/webhook/preflight/nutanix/credentials.go
  pkg/webhook/preflight/nutanix/credentials_test.go
  pkg/webhook/preflight/nutanix/image.go
  pkg/webhook/preflight/nutanix/image_test.go
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck.go
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck_test.go
  pkg/webhook/preflight/nutanix/storagecontainer.go
  pkg/webhook/preflight/nutanix/storagecontainer_test.go
Due: go-generate, golangci-lint

fix: allow http registries by disabling TLS check
  pkg/webhook/preflight/generic/registry.go
  pkg/webhook/preflight/generic/registry_test.go
Due: go-generate, golangci-lint

fixup! fix: allow http registries by disabling TLS check
  pkg/webhook/preflight/generic/registry.go
  pkg/webhook/preflight/generic/registry_test.go
Due: go-generate, golangci-lint

fix: allow http registries by disabling TLS check (#1203)
  pkg/webhook/preflight/generic/registry.go
  pkg/webhook/preflight/generic/registry_test.go
Due: go-generate, golangci-lint

fix: use a better name for registry check
  pkg/webhook/preflight/generic/registry.go
Due: go-generate, golangci-lint

fix: use a better name for registry check (#1204)
  pkg/webhook/preflight/generic/registry.go
Due: go-generate, golangci-lint

fix: Misc. fixes to preflight check results (#1202)
  pkg/webhook/preflight/generic/registry.go
  pkg/webhook/preflight/generic/registry_test.go
  pkg/webhook/preflight/nutanix/credentials.go
  pkg/webhook/preflight/nutanix/credentials_test.go
  pkg/webhook/preflight/nutanix/image.go
  pkg/webhook/preflight/nutanix/image_test.go
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck.go
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck_test.go
  pkg/webhook/preflight/nutanix/specs.go
  pkg/webhook/preflight/nutanix/specs_test.go
  pkg/webhook/preflight/nutanix/storagecontainer.go
  pkg/webhook/preflight/nutanix/storagecontainer_test.go
Due: go-generate, golangci-lint

release(main): v0.31.1 (#1205)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

feat(controllers): add failure domain rollout controller
  charts/cluster-api-runtime-extensions-nutanix/templates/role.yaml
  cmd/main.go
  pkg/controllers/failuredomainrollout/controller.go
  pkg/controllers/failuredomainrollout/controller_test.go
  pkg/controllers/failuredomainrollout/doc.go
  pkg/controllers/failuredomainrollout/flags.go
Due: go-generate, golangci-lint, chart-docs

fix: Fix typo in field; use one-line strings to prevent future typos
  pkg/webhook/preflight/generic/registry_test.go
  pkg/webhook/preflight/generic/spec_test.go
  pkg/webhook/preflight/nutanix/credentials.go
  pkg/webhook/preflight/nutanix/image.go
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck.go
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck_test.go
  pkg/webhook/preflight/nutanix/specs.go
  pkg/webhook/preflight/nutanix/specs_test.go
  pkg/webhook/preflight/nutanix/storagecontainer.go
  pkg/webhook/preflight/nutanix/storagecontainer_test.go
Due: go-generate, golangci-lint

feat: Validate the configured failure domain(s) exist and valid
  cmd/main.go
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/checker_test.go
  pkg/webhook/preflight/nutanix/clients.go
  pkg/webhook/preflight/nutanix/clients_test.go
  pkg/webhook/preflight/nutanix/failuredomain.go
  pkg/webhook/preflight/nutanix/failuredomain_test.go
Due: go-generate, golangci-lint

build: Add kube-api-linter
  .github/workflows/checks.yml
  .gitignore
  .golangci-kal.yml
  .pre-commit-config.yaml
  common/pkg/capi/utils/utils.go
  common/pkg/capi/utils/utils_test.go
  devbox.json
  devbox.lock
  hack/tools/.custom-gcl.yml
  make/go.mk
Due: go-generate, golangci-lint, check-devbox-lock

feat(failuredomains): add failure domain rollout controller
  charts/cluster-api-runtime-extensions-nutanix/templates/role.yaml
  cmd/main.go
  pkg/controllers/failuredomainrollout/controller.go
  pkg/controllers/failuredomainrollout/controller_test.go
  pkg/controllers/failuredomainrollout/doc.go
  pkg/controllers/failuredomainrollout/flags.go
Due: go-generate, golangci-lint, chart-docs

fix: Fix typo in field name; use one-line strings to prevent future typos (#1206)
  pkg/webhook/preflight/generic/registry_test.go
  pkg/webhook/preflight/generic/spec_test.go
  pkg/webhook/preflight/nutanix/credentials.go
  pkg/webhook/preflight/nutanix/image.go
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck.go
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck_test.go
  pkg/webhook/preflight/nutanix/specs.go
  pkg/webhook/preflight/nutanix/specs_test.go
  pkg/webhook/preflight/nutanix/storagecontainer.go
  pkg/webhook/preflight/nutanix/storagecontainer_test.go
Due: go-generate, golangci-lint

feat: Add context to preflight check messages
  pkg/webhook/preflight/generic/registry.go
  pkg/webhook/preflight/generic/registry_test.go
  pkg/webhook/preflight/generic/spec.go
  pkg/webhook/preflight/generic/spec_test.go
  pkg/webhook/preflight/nutanix/credentials.go
  pkg/webhook/preflight/nutanix/credentials_test.go
  pkg/webhook/preflight/nutanix/image.go
  pkg/webhook/preflight/nutanix/image_test.go
  pkg/webhook/preflight/nutanix/specs.go
  pkg/webhook/preflight/nutanix/specs_test.go
  pkg/webhook/preflight/nutanix/storagecontainer.go
  pkg/webhook/preflight/nutanix/storagecontainer_test.go
  pkg/webhook/preflight/preflight.go
  pkg/webhook/preflight/preflight_test.go
Due: go-generate, golangci-lint

fix: Nuanced image Kubernetes version check errors
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck.go
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck_test.go
Due: go-generate, golangci-lint

build: update mindthegap version
  hack/addons/helm-chart-bundler/Dockerfile
Due: addons-sync

fixup! feat: Add context to preflight check messages
  pkg/webhook/preflight/nutanix/credentials.go
  pkg/webhook/preflight/nutanix/credentials_test.go
Due: go-generate, golangci-lint

build: actually update helm repository mindthegap version
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
Due: schema-chart, chart-docs

build: update mindthegap version (#1212)
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  hack/addons/helm-chart-bundler/Dockerfile
Due: schema-chart, chart-docs, addons-sync

fix(failuredomain): account for cluster & KCP under reconciliation
  pkg/controllers/failuredomainrollout/controller.go
  pkg/controllers/failuredomainrollout/controller_test.go
Due: go-generate, golangci-lint

fixup! fix: Nuanced image Kubernetes version check errors
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck.go
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck_test.go
Due: go-generate, golangci-lint

fixup! feat: Add context to preflight check messages
  pkg/webhook/preflight/nutanix/credentials.go
  pkg/webhook/preflight/nutanix/credentials_test.go
  pkg/webhook/preflight/nutanix/specs.go
  pkg/webhook/preflight/nutanix/specs_test.go
  pkg/webhook/preflight/nutanix/storagecontainer.go
Due: go-generate, golangci-lint

fixup! feat: Add context to preflight check messages
  pkg/webhook/preflight/generic/registry.go
  pkg/webhook/preflight/generic/registry_test.go
  pkg/webhook/preflight/generic/spec.go
  pkg/webhook/preflight/generic/spec_test.go
Due: go-generate, golangci-lint

fixup! feat: Add context to preflight check messages
  pkg/webhook/preflight/nutanix/image.go
  pkg/webhook/preflight/nutanix/image_test.go
Due: go-generate, golangci-lint

feat: Preflight check the configured failure domain(s) exist and valid
  cmd/main.go
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/checker_test.go
  pkg/webhook/preflight/nutanix/clients.go
  pkg/webhook/preflight/nutanix/clients_test.go
  pkg/webhook/preflight/nutanix/failuredomain.go
  pkg/webhook/preflight/nutanix/failuredomain_test.go
Due: go-generate, golangci-lint

fix: Storage container names are unique in a PC Cluster
  pkg/webhook/preflight/nutanix/storagecontainer.go
  pkg/webhook/preflight/nutanix/storagecontainer_test.go
Due: go-generate, golangci-lint

feat: Validate the configured failure domain(s) exist and valid (#1208)
  cmd/main.go
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/checker_test.go
  pkg/webhook/preflight/nutanix/clients.go
  pkg/webhook/preflight/nutanix/clients_test.go
  pkg/webhook/preflight/nutanix/failuredomain.go
  pkg/webhook/preflight/nutanix/failuredomain_test.go
Due: go-generate, golangci-lint

fix: Nuanced image Kubernetes version check errors (#1211)
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck.go
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck_test.go
Due: go-generate, golangci-lint

feat: Skip FD dependent preflight checks when failureDomain configured
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/specs.go
  pkg/webhook/preflight/nutanix/storagecontainer.go
  pkg/webhook/preflight/nutanix/storagecontainer_test.go
Due: go-generate, golangci-lint
