Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, golangci-lint, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock, check-coredns-versions

schema-chart:
  name: schema-chart
  entry: make schema-chart
  language: system

go-generate:
  name: go-generate
  entry: make go-generate
  language: system
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  entry: make lint
  language: system
  pass_filenames: false

chart-docs:
  name: chart-docs
  entry: make chart-docs
  language: system
  pass_filenames: false

hugo-mod-tidy:
  name: hugo-mod-tidy
  entry: bash -c "cd docs && hugo mod tidy"
  language: system
  pass_filenames: false

examples-sync:
  name: examples-sync
  entry: make examples.sync
  language: system
  pass_filenames: false

apis-sync:
  name: apis-sync
  entry: make apis.sync
  language: system
  pass_filenames: false

addons-sync:
  name: addons-sync
  entry: make addons.sync
  language: system
  pass_filenames: false

addons-repo-yaml:
  name: addons-repo-yaml
  entry: make template-helm-repository
  language: system
  pass_filenames: false

check-devbox-lock:
  name: check-devbox-lock
  entry: devbox install
  language: system
  pass_filenames: false

check-coredns-versions:
  name: check-coredns-versions
  entry: make coredns.sync
  language: system

fix(deps): update devbox.lock
  devbox.lock
Due: check-devbox-lock

fix(deps): update devbox.lock (#1091)
  devbox.lock
Due: check-devbox-lock

release(release/v0.23.x): v0.23.3
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

release(release/v0.23.x): v0.23.3 (#1092)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

fix: lookup root secret using labels
  api/v1alpha1/crds/caren.nutanix.com_credentialsrequests.yaml
  api/v1alpha1/credentialsrequest_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/cluster-api-runtime-extensions-nutanix/crds/caren.nutanix.com_credentialsrequests.yaml
  pkg/controllers/credentials/controller.go
  pkg/controllers/credentials/nutanix_ccm_creds.go
  pkg/controllers/credentials/nutanix_cluster_creds.go
  pkg/handlers/generic/lifecycle/ccm/nutanix/credentials.go
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler.go
  pkg/handlers/nutanix/mutation/prismcentralendpoint/credentials.go
  pkg/handlers/nutanix/mutation/prismcentralendpoint/inject.go
  pkg/handlers/utils/credentials.go
  pkg/handlers/utils/secrets.go
Due: go-generate, golangci-lint, chart-docs

fixup! build: Run go mod tidy
  hack/tools/go.mod
Due: go-generate, golangci-lint

feat: POC for rotating nutanix credentials
  PROJECT
  api/v1alpha1/crds/caren.nutanix.com_credentialsrequests.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/credentialsrequest_types.go
  api/v1alpha1/nutanix_clusterconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/cluster-api-runtime-extensions-nutanix/crds/caren.nutanix.com_credentialsrequests.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/clusterrolebinding-credentialsrequest.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/credentialsrequest_admin_role.yaml
  cmd/main.go
  go.mod
  pkg/controllers/credentials/controller.go
  pkg/controllers/credentials/controller_test.go
  pkg/controllers/credentials/nutanix_ccm_creds.go
  pkg/controllers/credentials/nutanix_cluster_creds.go
  pkg/controllers/credentials/suite_test.go
  pkg/handlers/nutanix/mutation/metapatch_handler.go
  pkg/handlers/nutanix/mutation/prismcentralendpoint/credentials.go
  pkg/handlers/nutanix/mutation/prismcentralendpoint/inject.go
  pkg/handlers/nutanix/mutation/prismcentralendpoint/inject_test.go
  pkg/handlers/utils/secrets.go
  pkg/handlers/v2/nutanix/mutation/metapatch_handler.go
Due: go-generate, golangci-lint, chart-docs

WIP: add lifecycle handler to create and seed a registry
  api/v1alpha1/addon_types.go
  api/v1alpha1/constants.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/role.yaml
  pkg/handlers/generic/lifecycle/handlers.go
  pkg/handlers/generic/lifecycle/inclusterregistry/handler.go
  pkg/handlers/generic/lifecycle/inclusterregistry/mindthegap/configuration.go
  pkg/handlers/generic/lifecycle/inclusterregistry/mindthegap/doc.go
  pkg/handlers/generic/lifecycle/inclusterregistry/mindthegap/embedded/mindthegap.yaml.gotmpl
  pkg/handlers/generic/lifecycle/inclusterregistry/mindthegap/embedded/seeder.yaml.gotmpl
  pkg/handlers/generic/lifecycle/inclusterregistry/mindthegap/handler.go
  pkg/handlers/utils/unstructured.go
Due: go-generate, golangci-lint, chart-docs

WIP: demo
  examples/capi-quick-start/docker-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  hack/kind/kind-base-config.yaml
  pkg/handlers/generic/mutation/mirrors/templates/hosts.toml.gotmpl
Due: examples-sync

feat: bumps capx to v1.6.0
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanix_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixmachine_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/zz_generated.deepcopy.go
  hack/third-party/capx/go.mod
  hack/third-party/capx/go.sum
Due: go-generate, golangci-lint, apis-sync

feat: adds image tempalte to nutanix
  api/v1alpha1/nutanix_node_types.go
  docs/content/customization/nutanix/machine-details.md
  pkg/handlers/nutanix/mutation/machinedetails/inject.go
Due: go-generate, golangci-lint, hugo-mod-tidy

feat: support setting kubeadm ignorePreflightErrors
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  api/v1alpha1/nodeconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  docs/content/customization/generic/node-registration.md
  pkg/handlers/generic/mutation/handlers.go
  pkg/handlers/generic/mutation/noderegistration/inject_controlplane.go
  pkg/handlers/generic/mutation/noderegistration/inject_controlplane_test.go
  pkg/handlers/generic/mutation/noderegistration/inject_suite_test.go
  pkg/handlers/generic/mutation/noderegistration/inject_worker.go
  pkg/handlers/generic/mutation/noderegistration/inject_worker_test.go
  pkg/handlers/generic/mutation/noderegistration/variables_test.go
Due: go-generate, golangci-lint, hugo-mod-tidy

fix: crd generation
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
Due: go-generate, golangci-lint

ci: adds unit test for imagelookup feature
  pkg/handlers/nutanix/mutation/machinedetails/inject.go
  pkg/handlers/nutanix/mutation/machinedetails/inject_control_plane_test.go
  pkg/handlers/nutanix/mutation/machinedetails/variables_test.go
Due: go-generate, golangci-lint

fix: adds missing release series
  test/e2e/data/shared/v1beta1-capx/metadata.yaml
Due: none

fix: add vsphere machine details in api
  api/v1alpha1/constants.go
  api/v1alpha1/crds/caren.nutanix.com_vsphereclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_vsphereworkernodeconfigs.yaml
  api/v1alpha1/vsphere_clusterconfig_types.go
  api/v1alpha1/vsphere_node_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/vsphere-cluster-class.yaml
  cmd/main.go
  pkg/handlers/vsphere/handlers.go
Due: go-generate, golangci-lint, chart-docs

fix: nits from review
  docs/content/customization/nutanix/machine-details.md
  pkg/handlers/nutanix/mutation/machinedetails/inject.go
  test/e2e/data/shared/v1beta1-capx/metadata.yaml
Due: go-generate, golangci-lint, hugo-mod-tidy

feat: adds image tempalting for capx (#1096)
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanix_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixmachine_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/zz_generated.deepcopy.go
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  api/v1alpha1/nutanix_node_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  docs/content/customization/nutanix/machine-details.md
  hack/third-party/capx/go.mod
  hack/third-party/capx/go.sum
  pkg/handlers/nutanix/mutation/machinedetails/inject.go
  pkg/handlers/nutanix/mutation/machinedetails/inject_control_plane_test.go
  pkg/handlers/nutanix/mutation/machinedetails/variables_test.go
  test/e2e/data/shared/v1beta1-capx/metadata.yaml
Due: go-generate, golangci-lint, hugo-mod-tidy, apis-sync

fixup! feat: support setting kubeadm ignorePreflightErrors
  docs/content/customization/generic/node-registration.md
  pkg/handlers/generic/mutation/noderegistration/inject_controlplane.go
  pkg/handlers/generic/mutation/noderegistration/inject_worker.go
Due: go-generate, golangci-lint, hugo-mod-tidy

fixup! feat: support setting kubeadm ignorePreflightErrors
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  api/v1alpha1/nodeconfig_types.go
  docs/content/customization/generic/node-registration.md
  examples/capi-quick-start/docker-cluster-calico-crs.yaml
  examples/capi-quick-start/docker-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/docker-cluster-cilium-crs.yaml
  examples/capi-quick-start/docker-cluster-cilium-helm-addon.yaml
  hack/examples/patches/initialize-variables.yaml
Due: go-generate, golangci-lint, hugo-mod-tidy, examples-sync

fixup! feat: support setting kubeadm ignorePreflightErrors
  docs/content/customization/generic/node-registration.md
Due: hugo-mod-tidy

feat: support setting kubeadm ignorePreflightErrors (#1097)
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  api/v1alpha1/nodeconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  docs/content/customization/generic/node-registration.md
  examples/capi-quick-start/docker-cluster-calico-crs.yaml
  examples/capi-quick-start/docker-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/docker-cluster-cilium-crs.yaml
  examples/capi-quick-start/docker-cluster-cilium-helm-addon.yaml
  hack/examples/patches/initialize-variables.yaml
  pkg/handlers/generic/mutation/handlers.go
  pkg/handlers/generic/mutation/noderegistration/inject_controlplane.go
  pkg/handlers/generic/mutation/noderegistration/inject_controlplane_test.go
  pkg/handlers/generic/mutation/noderegistration/inject_suite_test.go
  pkg/handlers/generic/mutation/noderegistration/inject_worker.go
  pkg/handlers/generic/mutation/noderegistration/inject_worker_test.go
  pkg/handlers/generic/mutation/noderegistration/variables_test.go
Due: go-generate, golangci-lint, hugo-mod-tidy, examples-sync

feat: go 1.24.2 to fix CVE
  api/go.mod
  common/go.mod
  go.mod
Due: go-generate, golangci-lint

feat: go 1.24.2 to fix CVE (#1100)
  api/go.mod
  common/go.mod
  go.mod
Due: go-generate, golangci-lint

feat: update Calico to v3.29.3
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/tigera-operator-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync

feat: update Calico to v3.29.3 (#1101)
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/tigera-operator-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync

fixup! release: Update metadata for release
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: none

release(main): v0.28.0 (#1071)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: hugo-mod-tidy

build: use correct frr image for metallb
  hack/tools/fetch-images/main.go
Due: go-generate, golangci-lint

fix: use a new version for control-plane and worker mutation handlers
  README.md
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/aws-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/docker-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  docs/content/getting-started/integrating-with-your-clusterclass/_index.md
  hack/examples/overlays/clusterclasses/aws/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/docker/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/nutanix/kustomization.yaml.tmpl
  pkg/handlers/aws/handlers.go
  pkg/handlers/aws/mutation/metapatch_handler.go
  pkg/handlers/docker/handlers.go
  pkg/handlers/docker/mutation/metapatch_handler.go
  pkg/handlers/generic/handlers.go
  pkg/handlers/generic/mutation/metapatch_handler.go
  pkg/handlers/nutanix/handlers.go
  pkg/handlers/nutanix/mutation/metapatch_handler.go
  pkg/handlers/v2/aws/mutation/metapatch_handler.go
  pkg/handlers/v2/docker/mutation/metapatch_handler.go
  pkg/handlers/v2/generic/mutation/handlers.go
  pkg/handlers/v2/generic/mutation/metapatch_handler.go
  pkg/handlers/v2/nutanix/mutation/metapatch_handler.go
Due: go-generate, golangci-lint, chart-docs, hugo-mod-tidy, examples-sync

fix: use a new version for control-plane and worker mutation handlers (#1104)
  README.md
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/aws-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/docker-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  docs/content/getting-started/integrating-with-your-clusterclass/_index.md
  hack/examples/overlays/clusterclasses/aws/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/docker/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/nutanix/kustomization.yaml.tmpl
  pkg/handlers/aws/handlers.go
  pkg/handlers/aws/mutation/metapatch_handler.go
  pkg/handlers/docker/handlers.go
  pkg/handlers/docker/mutation/metapatch_handler.go
  pkg/handlers/generic/handlers.go
  pkg/handlers/generic/mutation/metapatch_handler.go
  pkg/handlers/nutanix/handlers.go
  pkg/handlers/nutanix/mutation/metapatch_handler.go
  pkg/handlers/v2/aws/mutation/metapatch_handler.go
  pkg/handlers/v2/docker/mutation/metapatch_handler.go
  pkg/handlers/v2/generic/mutation/handlers.go
  pkg/handlers/v2/generic/mutation/metapatch_handler.go
  pkg/handlers/v2/nutanix/mutation/metapatch_handler.go
Due: go-generate, golangci-lint, chart-docs, hugo-mod-tidy, examples-sync

build: use correct frr image for metallb (#1102)
  hack/tools/fetch-images/main.go
Due: go-generate, golangci-lint

release(main): v0.28.1 (#1105)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

build: support OCI charts in mindthegap image
  hack/addons/helm-chart-bundler/Dockerfile
  hack/tools/mindthegap-helm-reg/main.go
Due: go-generate, golangci-lint, addons-sync

WIP: support distribution registry addon provider
  api/v1alpha1/addon_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/addons/registry/distribution/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/registry/distribution/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  examples/capi-quick-start/docker-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/registry-distribution/kustomization.yaml.tmpl
  pkg/handlers/generic/lifecycle/config/cm.go
  pkg/handlers/generic/lifecycle/handlers.go
  pkg/handlers/generic/lifecycle/inclusterregistry/distribution/embedded/copier.yaml.gotmpl
  pkg/handlers/generic/lifecycle/inclusterregistry/distribution/embedded/loader.yaml.gotmpl
  pkg/handlers/generic/lifecycle/inclusterregistry/distribution/handler.go
  pkg/handlers/generic/lifecycle/inclusterregistry/distribution/loader.go
Due: schema-chart, go-generate, golangci-lint, chart-docs, examples-sync, addons-sync

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/mindthegap-helm-registry/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$
  check-coredns-versions: any of: ^api/versions/coredns.go$
