Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-configmap

golangci-lint:
  name: golangci-lint
  entry: make go-generate lint
  language: system
  pass_filenames: false

hugo-mod-tidy:
  name: hugo-mod-tidy
  entry: bash -c "cd docs && hugo mod tidy"
  language: system
  pass_filenames: false

examples-sync:
  name: examples-sync
  entry: make examples.sync
  language: system
  pass_filenames: false

apis-sync:
  name: apis-sync
  entry: make apis.sync
  language: system
  pass_filenames: false

addons-sync:
  name: addons-sync
  entry: make addons.sync
  language: system
  pass_filenames: false

addons-configmap:
  name: addons-configmap
  entry: make generate-helm-configmap
  language: system
  pass_filenames: false

fixup! add provider field in ControlPlaneVirtualIPSpec
  api/v1alpha1/common_types.go
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  examples/capi-quick-start/nutanix-cluster-calico-crs.yaml
  examples/capi-quick-start/nutanix-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  hack/examples/patches/nutanix/initialize-variables.yaml
  pkg/handlers/generic/mutation/controlplanevirtualip/inject.go
  pkg/handlers/generic/mutation/controlplanevirtualip/inject_test.go
Due: golangci-lint, examples-sync

fix: use KubeVIP capitalization more consistently
  pkg/handlers/generic/mutation/controlplanevirtualip/inject.go
  pkg/handlers/generic/mutation/controlplanevirtualip/inject_test.go
  pkg/handlers/generic/mutation/controlplanevirtualip/providers/kubevip.go
Due: golangci-lint

fix: copy and paste
  pkg/handlers/generic/mutation/controlplanevirtualip/inject.go
Due: golangci-lint

fixup! fixup! fix linter
  pkg/handlers/generic/mutation/controlplanevirtualip/inject.go
Due: golangci-lint

feat: Added e2e test for capx cluster
  .github/workflows/e2e.yml
  pkg/handlers/generic/lifecycle/csi/nutanix-csi/handler.go
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-capx/metadata.yaml
  test/e2e/ownerreference_helpers.go
  test/e2e/quick_start_test.go
Due: golangci-lint

fixup! better comment
  test/e2e/clusterautoscaler_helpers.go
Due: golangci-lint

feat: Added e2e test for capx cluster (#523)
  .github/workflows/e2e.yml
  pkg/handlers/generic/lifecycle/csi/nutanix-csi/handler.go
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-capx/metadata.yaml
  test/e2e/ownerreference_helpers.go
  test/e2e/quick_start_test.go
Due: golangci-lint

fixup! refactor: add kube-vip static Pod to KCP in the handler
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/templates/virtual-ip/kube-vip/manifests/kube-vip-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  hack/addons/update-kube-vip-manifests.sh
Due: addons-sync, addons-configmap

feat: add kube-vip static Pod in a Nutanix handler (#558)
  api/v1alpha1/common_types.go
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/virtual-ip/kube-vip/manifests/kube-vip-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  docs/content/customization/nutanix/control-plane-endpoint.md
  examples/capi-quick-start/nutanix-cluster-calico-crs.yaml
  examples/capi-quick-start/nutanix-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  hack/addons/update-kube-vip-manifests.sh
  hack/examples/bases/nutanix/clusterclass/kustomization.yaml.tmpl
  hack/examples/patches/nutanix/initialize-variables.yaml
  make/addons.mk
  pkg/handlers/generic/mutation/controlplanevirtualip/inject.go
  pkg/handlers/generic/mutation/controlplanevirtualip/inject_test.go
  pkg/handlers/generic/mutation/controlplanevirtualip/providers/kubevip.go
  pkg/handlers/generic/mutation/controlplanevirtualip/providers/kubevip_test.go
  pkg/handlers/generic/mutation/controlplanevirtualip/providers/providers.go
  pkg/handlers/nutanix/handlers.go
  pkg/handlers/nutanix/mutation/controlplaneendpoint/inject.go
  pkg/handlers/nutanix/mutation/controlplanevirtualip/inject.go
  pkg/handlers/nutanix/mutation/metapatch_handler.go
  pkg/handlers/options/global.go
Due: golangci-lint, hugo-mod-tidy, examples-sync, addons-sync, addons-configmap

feat: add AWS CCM support for Kubernetes v1.29
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.29.2-configmap.yaml
  make/addons.mk
  pkg/handlers/generic/lifecycle/ccm/aws/handler.go
Due: golangci-lint, addons-sync, addons-configmap

fix: AWS CCM after upstream v1.29 change with temporary addresses
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.27.1-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.28.1-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.29.2-configmap.yaml
  hack/addons/kustomize/aws-ccm/helm-values.yaml
  hack/addons/kustomize/aws-ccm/kustomization.yaml.tmpl
  hack/addons/update-aws-ccm.sh
Due: addons-sync, addons-configmap

feat: AWS CCM for Kubernetes v1.29 (#564)
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.28.1-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.29.2-configmap.yaml
  hack/addons/kustomize/aws-ccm/helm-values.yaml
  hack/addons/kustomize/aws-ccm/kustomization.yaml.tmpl
  hack/addons/update-aws-ccm.sh
  make/addons.mk
  pkg/handlers/generic/lifecycle/ccm/aws/handler.go
Due: golangci-lint, addons-sync, addons-configmap

fixup! refactor: Remove copy/paste error
  test/e2e/framework/self_hosted.go
Due: golangci-lint

test(e2e): Add self-hosted e2e test (#439)
  .github/workflows/checks.yml
  .github/workflows/e2e.yml
  common/pkg/capi/utils/utils.go
  devbox.lock
  test/e2e/addon_helpers.go
  test/e2e/clusterautoscaler_helpers.go
  test/e2e/e2e_suite_test.go
  test/e2e/framework/self_hosted.go
  test/e2e/helmreleaseproxy_helpers.go
  test/e2e/quick_start_test.go
  test/e2e/self_hosted_test.go
Due: golangci-lint

fix: Set ownership reference for Nutanix CSI Snapshot Helm Chart Proxy
  pkg/handlers/generic/lifecycle/csi/nutanix-csi/handler.go
Due: golangci-lint

fixup! refactor: Apply review suggestions
  pkg/handlers/generic/lifecycle/csi/nutanix-csi/handler.go
Due: golangci-lint

fixup! build: Run go mod tidy
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/zz_generated.defaults.go
  api/go.mod
  common/go.mod
  common/go.sum
  go.mod
  go.sum
  make/apis.mk
  make/go.mk
Due: golangci-lint, apis-sync

fixup! build: Sync up CAPA APIs
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/awscluster_types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/awsmachine_types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/conditions_consts.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/network_types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/zz_generated.deepcopy.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/zz_generated.defaults.go
  api/go.mod
  api/go.sum
  common/go.mod
  common/go.sum
  go.mod
  go.sum
  make/apis.mk
  make/go.mk
  test/e2e/data/shared/v1beta1-capa/metadata.yaml
Due: golangci-lint, apis-sync

build: Bundle k8s.io/* back in with sigs.k8s.io/* dependencies
  .github/dependabot.yml
Due: none

refactor: setting ownership references to Nutanix CSI Helm Chart Proxies (#565)
  pkg/handlers/generic/lifecycle/csi/nutanix-csi/handler.go
Due: golangci-lint

fixup! build: Run go mod tidy
  api/go.sum
  go.mod
  go.sum
Due: golangci-lint

build: Ignore minor k8s.io/* dep upgrades (#583)
  .github/dependabot.yml
Due: none

build: Add envtest setup to e2e envrc
  Makefile
  make/dev.mk
Due: none

build: Add envtest setup to e2e envrc (#563)
  Makefile
  make/dev.mk
Due: none

release(main): v0.8.0 (#527)
  .release-please-manifest.json
  CHANGELOG.md
Due: none

refactor: Clean up API constants, and explain usage
  api/v1alpha1/addon_types.go
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/common_types.go
  pkg/handlers/generic/lifecycle/ccm/handler.go
  pkg/handlers/generic/lifecycle/csi/handler.go
Due: golangci-lint

build: fix outdated devbox.lock file
  devbox.lock
Due: none

build: fix outdated devbox.lock file (#590)
  devbox.lock
Due: none

ci: check git status
  .github/workflows/checks.yml
  make/repo.mk
Due: none

ci: use changed-files GHA to check for dirty git state
  .github/workflows/checks.yml
  make/repo.mk
Due: none

fixup! build: Add pre-commit hook for devbox.lock file
  .github/workflows/checks.yml
  .pre-commit-config.yaml
  devbox.lock
Due: none

build: Ensure devbox.lock file is always kept up to date (#589)
  .pre-commit-config.yaml
  devbox.lock
Due: none

release(main): v0.8.1 (#593)
  .release-please-manifest.json
  CHANGELOG.md
Due: none

feat: expose GenerateNoProxy func
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/http_proxy.go
  api/v1alpha1/http_proxy_test.go
  pkg/handlers/generic/mutation/httpproxy/inject.go
  pkg/handlers/generic/mutation/httpproxy/inject_test.go
  pkg/handlers/generic/mutation/httpproxy/systemd_proxy_config.go
  pkg/handlers/generic/mutation/httpproxy/systemd_proxy_config_test.go
Due: golangci-lint

feat: expose GenerateNoProxy func (#594)
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/http_proxy.go
  api/v1alpha1/http_proxy_test.go
  pkg/handlers/generic/mutation/httpproxy/inject.go
  pkg/handlers/generic/mutation/httpproxy/inject_test.go
  pkg/handlers/generic/mutation/httpproxy/systemd_proxy_config.go
  pkg/handlers/generic/mutation/httpproxy/systemd_proxy_config_test.go
Due: golangci-lint

build: Add v0.8 release metadata
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: none

build: Add v0.8 release metadata (#595)
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: none

docs: Add icons to menu
  docs/content/addons/cluster-autoscaler.md
  docs/content/contributing/_index.md
  docs/content/contributing/e2e_tests.md
  docs/content/contributing/releasing.md
  docs/content/customization/nutanix/_index.md
Due: hugo-mod-tidy

refactor: Clean up API constants, and explain usage (#588)
  api/v1alpha1/addon_types.go
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/common_types.go
  pkg/handlers/generic/lifecycle/ccm/handler.go
  pkg/handlers/generic/lifecycle/csi/handler.go
Due: golangci-lint

fix: Fix error messages returned by HelmChartGetter
  pkg/handlers/generic/lifecycle/config/cm.go
Due: golangci-lint

Path conditions:
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-configmap: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+|make/addons.mk$)
