Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-configmap

Path conditions:
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-configmap: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+|make/addons.mk$)

build: update aws credentials on kind bootstrap cluster
  make/dev.mk
Due: none

build: generate aws token in makefile target
  make/dev.mk
Due: none

fix: use copy to stop linter
  pkg/handlers/generic/mutation/extraapiservercertsans/inject.go
Due: golangci-lint

fix: add omitempty to CCM Credentials struct
  api/v1alpha1/addon_types.go
Due: golangci-lint

fix: use slices package
  pkg/handlers/generic/mutation/extraapiservercertsans/inject.go
Due: golangci-lint

build: update aws credentials on kind bootstrap cluster (#507)
  make/dev.mk
Due: none

fix: sort before compact
  pkg/handlers/generic/mutation/extraapiservercertsans/inject.go
  pkg/handlers/generic/mutation/extraapiservercertsans/inject_test.go
Due: golangci-lint

refactor: template NFD image with .Chart.Version
  charts/cluster-api-runtime-extensions-nutanix/templates/nfd/manifests/helm-addon-installation.yaml
  pkg/handlers/generic/lifecycle/nfd/strategy_helmaddon.go
Due: golangci-lint, addons-sync, addons-configmap

refactor: standardize the code for getting Helm values
  pkg/handlers/generic/lifecycle/ccm/aws/handler.go
  pkg/handlers/generic/lifecycle/ccm/handler.go
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/strategy_crs.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/cni/calico/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/cni/cilium/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/csi/aws-ebs/handler.go
  pkg/handlers/generic/lifecycle/csi/handler.go
  pkg/handlers/generic/lifecycle/csi/nutanix-csi/handler.go
  pkg/handlers/generic/lifecycle/nfd/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/utils/utils.go
Due: golangci-lint

fix: use strings.Join for readability
  api/v1alpha1/clusterconfig_types.go
Due: golangci-lint

Revert "refactor: template NFD image with .Chart.Version"
  charts/cluster-api-runtime-extensions-nutanix/templates/nfd/manifests/helm-addon-installation.yaml
  pkg/handlers/generic/lifecycle/nfd/strategy_helmaddon.go
Due: golangci-lint, addons-sync, addons-configmap

fix: add omitempty to CCM Credentials struct (#524)
  api/v1alpha1/addon_types.go
Due: golangci-lint

build: Use latest k8s for dev and test management cluster
  make/examples.mk
  make/go.mk
  make/kind.mk
  test/e2e/config/caren.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/quick_start_test.go
Due: golangci-lint

ci: Allow release as a PR type
  .github/workflows/conventional-pr-title.yml
Due: none

ci: Remove ASL header from pull request template
  .github/pull_request_template.md
  .pre-commit-config.yaml
Due: none

refactor: standardize the code for getting Helm values (#500)
  pkg/handlers/generic/lifecycle/ccm/aws/handler.go
  pkg/handlers/generic/lifecycle/ccm/handler.go
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/strategy_crs.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/cni/calico/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/cni/cilium/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/csi/aws-ebs/handler.go
  pkg/handlers/generic/lifecycle/csi/handler.go
  pkg/handlers/generic/lifecycle/csi/nutanix-csi/handler.go
  pkg/handlers/generic/lifecycle/nfd/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/utils/utils.go
Due: golangci-lint

ci: Allow release as a PR type (#528)
  .github/workflows/conventional-pr-title.yml
Due: none

fix: use slices.Concat
  pkg/handlers/generic/mutation/extraapiservercertsans/inject.go
Due: golangci-lint

ci: Remove ASL header from pull request template (#529)
  .github/pull_request_template.md
  .pre-commit-config.yaml
Due: none

feat: get default sans via cluster object in patch handler for docker (#519)
  api/v1alpha1/clusterconfig_types.go
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/docker-cluster-class.yaml
  common/pkg/capi/utils/utils.go
  hack/examples/bases/docker/clusterclass/kustomization.yaml.tmpl
  pkg/handlers/generic/mutation/extraapiservercertsans/inject.go
  pkg/handlers/generic/mutation/extraapiservercertsans/inject_test.go
Due: golangci-lint, examples-sync

build: remove certSANs
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  hack/examples/bases/nutanix/clusterclass/kustomization.yaml.tmpl
Due: examples-sync

feat: insert nutanix cert sans
  api/v1alpha1/clusterconfig_types.go
  pkg/handlers/generic/mutation/extraapiservercertsans/inject.go
  pkg/handlers/generic/mutation/extraapiservercertsans/inject_test.go
Due: golangci-lint

fix: apply suggestions from review
  api/v1alpha1/clusterconfig_types.go
  pkg/handlers/generic/mutation/extraapiservercertsans/inject.go
Due: golangci-lint

build: Use latest k8s for dev and test management cluster (#526)
  make/examples.mk
  make/go.mk
  make/kind.mk
  test/e2e/config/caren.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/quick_start_test.go
Due: golangci-lint

build: updates scripts to pull in nutanix csi 3.0
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/nutanix/manifests/nutanix-storage-csi-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/kustomize/nutanix-storage-csi/helm-values.yaml
  hack/addons/kustomize/nutanix-storage-csi/kustomization.yaml.tmpl
  make/addons.mk
Due: addons-sync, addons-configmap

docs: Add how to release doc
  devbox.json
  docs/content/contributing/releasing.md
  hack/flakes/flake.nix
  make/dev.mk
Due: hugo-mod-tidy

feat: adds nutanix SANs via patchHandler (#522)
  api/v1alpha1/clusterconfig_types.go
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  hack/examples/bases/nutanix/clusterclass/kustomization.yaml.tmpl
  pkg/handlers/generic/mutation/extraapiservercertsans/inject.go
  pkg/handlers/generic/mutation/extraapiservercertsans/inject_test.go
Due: golangci-lint, examples-sync

docs: Add how to release doc (#530)
  devbox.json
  docs/content/contributing/releasing.md
  hack/flakes/flake.nix
  make/dev.mk
Due: hugo-mod-tidy

feat: updates to secrets to support nutanix-csi-3
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/nutanix/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/nutanix/manifests/nutanix-storage-csi-configmap.yaml
  examples/capi-quick-start/nutanix-cluster-calico-crs.yaml
  examples/capi-quick-start/nutanix-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  hack/addons/update-nutanix-csi.sh
  hack/examples/additional-resources/nutanix/csi-secret.yaml
  hack/examples/patches/nutanix/csi.yaml
  make/addons.mk
  pkg/handlers/generic/lifecycle/csi/nutanix-csi/handler.go
Due: golangci-lint, examples-sync, addons-sync, addons-configmap

fix: linter issue
  hack/addons/kustomize/nutanix-storage-csi/helm-values.yaml
Due: addons-sync, addons-configmap

fix: Add specific descriptions to Nutanix machine details fields
  api/v1alpha1/nutanix_node_types.go
  api/v1alpha1/zz_generated.deepcopy.go
Due: golangci-lint

fix: apply suggestions from review
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/nutanix/manifests/helm-addon-installation.yaml
  hack/addons/kustomize/nutanix-storage-csi/helm-values.yaml
  pkg/handlers/generic/lifecycle/csi/nutanix-csi/handler.go
Due: golangci-lint, addons-sync, addons-configmap

fix: Add specific descriptions to Nutanix machine details fields (#532)
  api/v1alpha1/nutanix_node_types.go
  api/v1alpha1/zz_generated.deepcopy.go
Due: golangci-lint

fixup! refactor: Add more kubebuilder annotations
  .golangci.yml
  api/v1alpha1/addon_types.go
  api/v1alpha1/aws_clusterconfig_types.go
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/common_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsnodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixnodeconfigs.yaml
  api/v1alpha1/docker_node_types.go
  api/v1alpha1/nodeconfig_types.go
  api/v1alpha1/nutanix_clusterconfig_types.go
  api/v1alpha1/nutanix_node_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  devbox.json
  devbox.lock
  hack/flakes/flake.nix
  pkg/handlers/docker/mutation/customimage/inject_control_plane.go
  pkg/handlers/docker/mutation/customimage/inject_worker.go
  pkg/handlers/docker/mutation/customimage/variables_test.go
  pkg/handlers/generic/clusterconfig/variables_test.go
  pkg/handlers/generic/mutation/extraapiservercertsans/inject.go
  pkg/handlers/generic/mutation/extraapiservercertsans/inject_test.go
  pkg/handlers/generic/mutation/extraapiservercertsans/variables_test.go
  pkg/handlers/generic/mutation/imageregistries/credentials/inject.go
  pkg/handlers/generic/mutation/imageregistries/credentials/inject_test.go
  pkg/handlers/generic/mutation/kubernetesimagerepository/inject.go
  pkg/handlers/generic/mutation/kubernetesimagerepository/inject_test.go
  pkg/handlers/generic/mutation/kubernetesimagerepository/variables_test.go
  pkg/handlers/generic/mutation/users/inject.go
  pkg/handlers/nutanix/mutation/controlplaneendpoint/inject_test.go
  pkg/handlers/nutanix/mutation/controlplaneendpoint/variables_test.go
  pkg/handlers/nutanix/mutation/prismcentralendpoint/inject_test.go
  pkg/handlers/nutanix/mutation/prismcentralendpoint/variables_test.go
Due: golangci-lint

refactor: Move API to caren.nutanix.com group
  PROJECT
  api/v1alpha1/doc.go
  api/v1alpha1/groupversion_info.go
  docs/content/lifecycle/service-loadbalancer-gc.md
  pkg/handlers/generic/lifecycle/ccm/doc.go
  pkg/handlers/generic/lifecycle/csi/doc.go
Due: golangci-lint, hugo-mod-tidy

feat: nutanix csi driver 3.0 (#531)
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/nutanix/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/nutanix/manifests/nutanix-storage-csi-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  examples/capi-quick-start/nutanix-cluster-calico-crs.yaml
  examples/capi-quick-start/nutanix-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  hack/addons/kustomize/nutanix-storage-csi/helm-values.yaml
  hack/addons/kustomize/nutanix-storage-csi/kustomization.yaml.tmpl
  hack/addons/update-nutanix-csi.sh
  hack/examples/additional-resources/nutanix/csi-secret.yaml
  hack/examples/patches/nutanix/csi.yaml
  make/addons.mk
Due: examples-sync, addons-sync, addons-configmap

build: adds a .envrc.local file for local development
  .envrc
  .gitignore
Due: none

build: adds a .envrc.local file for local development for dotenv (#538)
  .envrc
  .gitignore
Due: none

refactor: create storage classes directly instead of using CRS
  pkg/handlers/generic/lifecycle/csi/aws-ebs/handler.go
  pkg/handlers/generic/lifecycle/csi/nutanix-csi/handler.go
  pkg/handlers/generic/lifecycle/utils/scs.go
Due: golangci-lint
