Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, golangci-lint, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock, check-coredns-versions

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/mindthegap-helm-registry/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$
  check-coredns-versions: any of: ^api/versions/coredns.go$

feat: Allow configuration of kube-proxy mode on cluster creation
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  docs/content/customization/generic/kube-proxy-mode.md
  pkg/handlers/generic/mutation/handlers.go
  pkg/handlers/generic/mutation/kubeproxymode/inject.go
  pkg/handlers/generic/mutation/kubeproxymode/inject_test.go
  pkg/handlers/generic/mutation/kubeproxymode/variables_test.go
Due: go-generate, golangci-lint, hugo-mod-tidy

fixup! feat: Support nftables kube-proxy mode
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  docs/content/customization/generic/kube-proxy-mode.md
  pkg/handlers/generic/mutation/kubeproxymode/inject.go
  pkg/handlers/generic/mutation/kubeproxymode/inject_test.go
  pkg/handlers/generic/mutation/kubeproxymode/variables_test.go
Due: go-generate, golangci-lint, hugo-mod-tidy

fixup! refactor: Fix comment as per review
  api/v1alpha1/clusterconfig_types.go
Due: go-generate, golangci-lint

build: Update all tools
  devbox.lock
Due: check-devbox-lock

feat: Enable kube-vip CP load-balancer in masquerade mode
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  hack/addons/update-kube-vip-manifests.sh
  hack/examples/files/kube-vip.yaml
Due: chart-docs, examples-sync, addons-sync

fixup! feat: Nutanix VM image preflight check
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/clients.go
  pkg/webhook/preflight/nutanix/clients_test.go
  pkg/webhook/preflight/nutanix/credentials.go
  pkg/webhook/preflight/nutanix/credentials_test.go
  pkg/webhook/preflight/nutanix/image.go
  pkg/webhook/preflight/nutanix/image_test.go
Due: go-generate, golangci-lint

fixup! feat: Nutanix VM image preflight check
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/clients.go
  pkg/webhook/preflight/nutanix/credentials.go
  pkg/webhook/preflight/nutanix/image.go
Due: go-generate, golangci-lint

feat: Nutanix VM image preflight check
  cmd/main.go
  go.mod
  go.sum
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/credentials.go
  pkg/webhook/preflight/nutanix/image.go
  pkg/webhook/preflight/nutanix/specs.go
Due: go-generate, golangci-lint

fixup! feat: Nutanix VM image preflight check
  pkg/webhook/preflight/nutanix/image.go
Due: go-generate, golangci-lint

fixup! feat: Nutanix VM image preflight check
  pkg/webhook/preflight/nutanix/credentials_test.go
  pkg/webhook/preflight/nutanix/image_test.go
Due: go-generate, golangci-lint

fixup! feat: Nutanix VM image preflight check
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/checker_test.go
  pkg/webhook/preflight/nutanix/clients.go
  pkg/webhook/preflight/nutanix/credentials.go
  pkg/webhook/preflight/nutanix/credentials_test.go
  pkg/webhook/preflight/nutanix/image.go
  pkg/webhook/preflight/nutanix/image_test.go
  pkg/webhook/preflight/nutanix/specs.go
  pkg/webhook/preflight/nutanix/specs_test.go
Due: go-generate, golangci-lint

fixup! feat: Nutanix VM image preflight check
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/credentials.go
  pkg/webhook/preflight/nutanix/credentials_test.go
  pkg/webhook/preflight/nutanix/image.go
  pkg/webhook/preflight/nutanix/image_test.go
Due: go-generate, golangci-lint

fixup! fixup! feat: Nutanix VM image preflight check
  pkg/webhook/preflight/nutanix/specs.go
  pkg/webhook/preflight/nutanix/specs_test.go
Due: go-generate, golangci-lint

fixup! feat: Nutanix VM image preflight check
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/checker_test.go
  pkg/webhook/preflight/nutanix/credentials.go
  pkg/webhook/preflight/nutanix/credentials_test.go
  pkg/webhook/preflight/nutanix/image.go
  pkg/webhook/preflight/nutanix/image_test.go
  pkg/webhook/preflight/nutanix/specs.go
  pkg/webhook/preflight/nutanix/specs_test.go
Due: go-generate, golangci-lint

fixup! feat: Nutanix VM image preflight check
  cmd/main.go
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/checker_test.go
  pkg/webhook/preflight/nutanix/credentials.go
  pkg/webhook/preflight/nutanix/credentials_test.go
  pkg/webhook/preflight/nutanix/image.go
  pkg/webhook/preflight/nutanix/image_test.go
  pkg/webhook/preflight/nutanix/specs.go
  pkg/webhook/preflight/nutanix/specs_test.go
Due: go-generate, golangci-lint

fixup! feat: Nutanix VM image preflight check
  pkg/webhook/preflight/nutanix/specs.go
Due: go-generate, golangci-lint

feat: Preflight check opt-out
  pkg/webhook/preflight/preflight.go
  pkg/webhook/preflight/preflight_test.go
  pkg/webhook/preflight/skip/skip.go
  pkg/webhook/preflight/skip/skip_test.go
Due: go-generate, golangci-lint

feat: Preflight check opt-out (#1156)
  pkg/webhook/preflight/preflight.go
  pkg/webhook/preflight/preflight_test.go
  pkg/webhook/preflight/skip/skip.go
  pkg/webhook/preflight/skip/skip_test.go
Due: go-generate, golangci-lint

feat: Nutanix VM image preflight check (#1130)
  cmd/main.go
  go.mod
  go.sum
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/checker_test.go
  pkg/webhook/preflight/nutanix/clients.go
  pkg/webhook/preflight/nutanix/clients_test.go
  pkg/webhook/preflight/nutanix/credentials.go
  pkg/webhook/preflight/nutanix/credentials_test.go
  pkg/webhook/preflight/nutanix/image.go
  pkg/webhook/preflight/nutanix/image_test.go
  pkg/webhook/preflight/nutanix/specs.go
  pkg/webhook/preflight/nutanix/specs_test.go
Due: go-generate, golangci-lint

ci: new env variable to set --feature-gates
  make/dev.mk
Due: none

refactor: add global feature.Gates variable
  cmd/main.go
  pkg/feature/feature.go
  pkg/feature/gates.go
Due: go-generate, golangci-lint

feat: update addons
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/tigera-operator-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync

fixup! fix: Fix nftables template for Docker provider
  pkg/handlers/generic/mutation/extraapiservercertsans/inject_test.go
  pkg/handlers/generic/mutation/kubeproxymode/inject.go
  pkg/handlers/generic/mutation/kubeproxymode/inject_test.go
Due: go-generate, golangci-lint

feat: Enforce MD replicas within cluster autoscaler bounds
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/templates/deployment.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/role.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  cmd/main.go
  internal/test/builder/builders.go
  pkg/controllers/enforceclusterautoscalerlimits/controller.go
  pkg/controllers/enforceclusterautoscalerlimits/controller_test.go
  pkg/controllers/enforceclusterautoscalerlimits/doc.go
  pkg/controllers/enforceclusterautoscalerlimits/flags.go
  pkg/controllers/enforceclusterautoscalerlimits/suite_test.go
  pkg/controllers/namespacesync/controller.go
Due: schema-chart, go-generate, golangci-lint, chart-docs

build: Update all tools (#1165)
  devbox.lock
Due: check-devbox-lock

refactor: add global feature.Gates variable (#1167)
  cmd/main.go
  pkg/feature/feature.go
  pkg/feature/gates.go
Due: go-generate, golangci-lint

feat: update addons (#1168)
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/tigera-operator-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync

ci: new env variable to set --feature-gates (#1166)
  make/dev.mk
Due: none

build: github.com/hashicorp/go-retryablehttp@v0.7.8 to fix CVE
  go.mod
  go.sum
Due: go-generate, golangci-lint

build: github.com/hashicorp/go-retryablehttp@v0.7.8 to fix CVE (#1170)
  go.mod
  go.sum
Due: go-generate, golangci-lint

test: ensure registry addon CA exists and matches the root CA
  test/e2e/quick_start_test.go
  test/e2e/registry.go
  test/e2e/self_hosted_test.go
Due: go-generate, golangci-lint

fix: preserve registry addon root CA when moving management cluster
  charts/cluster-api-runtime-extensions-nutanix/templates/certificates.yaml
  common/pkg/capi/utils/utils.go
  pkg/handlers/generic/lifecycle/registry/cncfdistribution/handler.go
  pkg/handlers/generic/lifecycle/registry/utils/tls.go
  pkg/handlers/generic/lifecycle/registry/utils/tls_integration_test.go
  pkg/handlers/utils/secrets.go
Due: go-generate, golangci-lint, chart-docs

fixup! fix: actually use the management cluster
  common/go.mod
  common/pkg/capi/utils/utils.go
  common/pkg/capi/utils/utils_test.go
  pkg/handlers/generic/lifecycle/registry/cncfdistribution/handler.go
  pkg/handlers/generic/lifecycle/registry/utils/tls.go
  pkg/handlers/generic/lifecycle/registry/utils/tls_integration_test.go
  pkg/handlers/utils/secrets.go
Due: go-generate, golangci-lint

fixup! docs: Add skip kube-proxy annotation information
  docs/content/customization/generic/kube-proxy-mode.md
Due: hugo-mod-tidy

fixup! refactor: Rely on skip-kube-proxy annotation
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  docs/content/customization/generic/kube-proxy-mode.md
  pkg/handlers/generic/mutation/kubeproxymode/inject.go
  pkg/handlers/generic/mutation/kubeproxymode/inject_test.go
  pkg/handlers/generic/mutation/kubeproxymode/variables_test.go
Due: go-generate, golangci-lint, hugo-mod-tidy

feat: Enforce MD replicas within cluster autoscaler bounds (#1169)
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/templates/deployment.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/role.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  cmd/main.go
  internal/test/builder/builders.go
  pkg/controllers/enforceclusterautoscalerlimits/controller.go
  pkg/controllers/enforceclusterautoscalerlimits/controller_test.go
  pkg/controllers/enforceclusterautoscalerlimits/doc.go
  pkg/controllers/enforceclusterautoscalerlimits/flags.go
  pkg/controllers/enforceclusterautoscalerlimits/suite_test.go
  pkg/controllers/namespacesync/controller.go
Due: schema-chart, go-generate, golangci-lint, chart-docs

feat(preflight): Add VM Image kubernetes version check
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/checker_test.go
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck.go
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck_test.go
Due: go-generate, golangci-lint

feat(preflight): Add a check for storage containers
  go.mod
  go.sum
  pkg/webhook/preflight/nutanix/checker_test.go
  pkg/webhook/preflight/nutanix/clients.go
  pkg/webhook/preflight/nutanix/clients_test.go
  pkg/webhook/preflight/nutanix/storagecontainer.go
  pkg/webhook/preflight/nutanix/storagecontainer_test.go
Due: go-generate, golangci-lint

fixup! feat(preflight): Add a check for storage containers
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/checker_test.go
  pkg/webhook/preflight/nutanix/clients.go
  pkg/webhook/preflight/nutanix/storagecontainer.go
  pkg/webhook/preflight/nutanix/storagecontainer_test.go
Due: go-generate, golangci-lint
