Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, check-coredns-versions, golangci-lint, kube-api-linter, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock

schema-chart:
  name: schema-chart
  entry: make schema-chart
  language: system

go-generate:
  name: go-generate
  entry: make go-generate
  language: system
  pass_filenames: false

check-coredns-versions:
  name: check-coredns-versions
  entry: make coredns.sync
  language: system

golangci-lint:
  name: golangci-lint
  entry: make lint
  language: system
  pass_filenames: false

kube-api-linter:
  name: kube-api-linter
  entry: make lint-kube-api
  language: system
  pass_filenames: false

chart-docs:
  name: chart-docs
  entry: make chart-docs
  language: system
  pass_filenames: false

hugo-mod-tidy:
  name: hugo-mod-tidy
  entry: bash -c "cd docs && hugo mod tidy"
  language: system
  pass_filenames: false

examples-sync:
  name: examples-sync
  entry: make examples.sync
  language: system
  pass_filenames: false

apis-sync:
  name: apis-sync
  entry: make apis.sync
  language: system
  pass_filenames: false

addons-sync:
  name: addons-sync
  entry: make addons.sync
  language: system
  pass_filenames: false

addons-repo-yaml:
  name: addons-repo-yaml
  entry: make template-helm-repository
  language: system
  pass_filenames: false

check-devbox-lock:
  name: check-devbox-lock
  entry: devbox install
  language: system
  pass_filenames: false

fix: metro preflights
  pkg/webhook/preflight/nutanix/metro.go
  pkg/webhook/preflight/nutanix/metro_test.go
Due: go-generate, golangci-lint

fix: metro preflights (#1712)
  pkg/webhook/preflight/nutanix/metro.go
  pkg/webhook/preflight/nutanix/metro_test.go
Due: go-generate, golangci-lint

fix: bump up konnector to 1.4.2
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  docs/content/addons/konnector-agent.md
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, hugo-mod-tidy, addons-sync, addons-repo-yaml

fix: bump up konnector to 1.4.2 (#1713)
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  docs/content/addons/konnector-agent.md
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, hugo-mod-tidy, addons-sync, addons-repo-yaml

feat: [NCN-115862] Upgrade Flow CNI to 1.1.0
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  docs/content/addons/cni.md
  examples/capi-quick-start/nutanix-cluster-flow-helm-addon.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  hack/examples/patches/nutanix-flow.yaml
  make/addons.mk
  pkg/handlers/lifecycle/cni/nutanixflow/handler.go
  pkg/handlers/lifecycle/cni/nutanixflow/handler_test.go
  test/e2e/addon_helpers.go
  test/e2e/cni_helpers.go
Due: go-generate, golangci-lint, chart-docs, hugo-mod-tidy, examples-sync, addons-sync, addons-repo-yaml

feat: [NCN-115862] Upgrade Flow CNI to 1.1.0 (#1709)
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  docs/content/addons/cni.md
  examples/capi-quick-start/nutanix-cluster-flow-helm-addon.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  hack/examples/patches/nutanix-flow.yaml
  make/addons.mk
  pkg/handlers/lifecycle/cni/nutanixflow/handler.go
  pkg/handlers/lifecycle/cni/nutanixflow/handler_test.go
  test/e2e/addon_helpers.go
  test/e2e/cni_helpers.go
Due: go-generate, golangci-lint, chart-docs, hugo-mod-tidy, examples-sync, addons-sync, addons-repo-yaml

fix: metro categoryName check inline with CAPX
  pkg/webhook/preflight/nutanix/metro.go
  pkg/webhook/preflight/nutanix/metro_test.go
Due: go-generate, golangci-lint

fix: metro categoryName check inline with CAPX (#1714)
  pkg/webhook/preflight/nutanix/metro.go
  pkg/webhook/preflight/nutanix/metro_test.go
Due: go-generate, golangci-lint

feat: Update cluster addons to latest stable versions
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.33.4-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.34.3-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.35.2-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.36.1-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.37.0-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cluster-autoscaler/manifests/cluster-autoscaler-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/tigera-operator-0-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/tigera-operator-1-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/cilium-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/aws-ebs/manifests/aws-ebs-csi-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/local-path/manifests/local-path-provisioner-csi-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/snapshot-controller/manifests/snapshot-controller-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/nfd/manifests/node-feature-discovery-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  hack/examples/files/kube-vip.yaml
  make/addons.mk
  pkg/handlers/generic/mutation/kubeadm/controlplanevirtualip/inject_test.go
  pkg/handlers/generic/mutation/kubeadm/controlplanevirtualip/providers/kubevip_test.go
Due: schema-chart, go-generate, golangci-lint, chart-docs, examples-sync, addons-sync, addons-repo-yaml

build: Add AWS CCM 1.36/1.37 entries to values schema
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
Due: chart-docs

fix: Reverted Konnector to 1.4.2
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

feat: update calico version upto v3.32.2
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

fix: calico 3.32 CRD packaging fix
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/tigera-operator-0-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/tigera-operator-1-configmap.yaml
  hack/addons/kustomize/tigera-operator/kustomization.yaml.tmpl
  hack/tools/helm-cm/main.go
  make/addons.mk
Due: go-generate, golangci-lint, chart-docs, addons-sync

test: Add e2e coverage for Kubernetes 1.36 and 1.37
  .github/workflows/checks.yml
  .github/workflows/e2e.yml
  make/go.mk
  make/kind.mk
  pkg/handlers/docker/mutation/customimage/image.go
  pkg/handlers/docker/mutation/customimage/image_test.go
  pkg/handlers/docker/mutation/customimage/inject_control_plane.go
  pkg/handlers/docker/mutation/customimage/inject_control_plane_test.go
  pkg/handlers/docker/mutation/customimage/inject_worker.go
  pkg/handlers/docker/mutation/customimage/inject_worker_test.go
Due: go-generate, golangci-lint, kube-api-linter

fix: corrected rocky version and k8s version for nutanix
  .github/workflows/checks.yml
Due: none

fix: correct the kind-image repo for 1.36 and 1.37
  .github/workflows/checks.yml
  .github/workflows/e2e.yml
  make/kind.mk
  pkg/handlers/docker/mutation/customimage/image.go
  pkg/handlers/docker/mutation/customimage/image_test.go
  pkg/handlers/docker/mutation/customimage/inject_control_plane_test.go
  pkg/handlers/docker/mutation/customimage/inject_worker_test.go
Due: go-generate, golangci-lint

fix: guardrailing rhel 8.10 for metro
  docs/content/customization/nutanix/machine-details.md
  pkg/webhook/preflight/nutanix/metro.go
  pkg/webhook/preflight/nutanix/metroimage_test.go
Due: go-generate, golangci-lint, hugo-mod-tidy

fix: precommit fixes
  pkg/webhook/preflight/nutanix/metro.go
  pkg/webhook/preflight/nutanix/metroimage_test.go
Due: go-generate, golangci-lint

fix: unit test case
  pkg/webhook/preflight/nutanix/metro_test.go
Due: go-generate, golangci-lint

fix: updating unsupported os version - rhel 8.*
  docs/content/customization/nutanix/machine-details.md
  pkg/webhook/preflight/nutanix/metro.go
  pkg/webhook/preflight/nutanix/metroimage_test.go
Due: go-generate, golangci-lint, hugo-mod-tidy

fix: Reject RHEL 8.10 VM images on metro clusters (#1717)
  docs/content/customization/nutanix/machine-details.md
  pkg/webhook/preflight/nutanix/metro.go
  pkg/webhook/preflight/nutanix/metro_test.go
  pkg/webhook/preflight/nutanix/metroimage_test.go
Due: go-generate, golangci-lint, hugo-mod-tidy

test: Add e2e coverage for Kubernetes 1.36 and 1.37 (#1716)
  .github/workflows/checks.yml
  .github/workflows/e2e.yml
  make/go.mk
  make/kind.mk
  pkg/handlers/docker/mutation/customimage/image.go
  pkg/handlers/docker/mutation/customimage/image_test.go
  pkg/handlers/docker/mutation/customimage/inject_control_plane.go
  pkg/handlers/docker/mutation/customimage/inject_control_plane_test.go
  pkg/handlers/docker/mutation/customimage/inject_worker.go
  pkg/handlers/docker/mutation/customimage/inject_worker_test.go
Due: go-generate, golangci-lint, kube-api-linter

feat: Update cluster addons to latest stable versions for 2.20 (#1715)
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.33.4-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.34.3-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.35.2-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.36.1-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.37.0-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cluster-autoscaler/manifests/cluster-autoscaler-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/tigera-operator-0-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/tigera-operator-1-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/cilium-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/aws-ebs/manifests/aws-ebs-csi-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/local-path/manifests/local-path-provisioner-csi-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/snapshot-controller/manifests/snapshot-controller-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/nfd/manifests/node-feature-discovery-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/tigera-operator/kustomization.yaml.tmpl
  hack/examples/files/kube-vip.yaml
  hack/tools/helm-cm/main.go
  make/addons.mk
  pkg/handlers/generic/mutation/kubeadm/controlplanevirtualip/inject_test.go
  pkg/handlers/generic/mutation/kubeadm/controlplanevirtualip/providers/kubevip_test.go
Due: schema-chart, go-generate, golangci-lint, chart-docs, examples-sync, addons-sync, addons-repo-yaml

test: Drop e2e coverage for Kubernetes 1.33 and 1.34
  .github/workflows/checks.yml
  make/kind.mk
Due: none

test: Drop e2e coverage for Kubernetes 1.33 and 1.34 (#1718)
  .github/workflows/checks.yml
  make/kind.mk
Due: none

NCN-117406: Add Nutanix Files NFSv4 preflight check
  go.mod
  go.sum
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/checker_test.go
  pkg/webhook/preflight/nutanix/credentials.go
  pkg/webhook/preflight/nutanix/filesnfsv4.go
  pkg/webhook/preflight/nutanix/filesnfsv4_test.go
Due: go-generate, golangci-lint

build: Fix actionlint errors in devbox-update and github-pages workflows
  .github/workflows/devbox-update.yml
  .github/workflows/github-pages.yml
Due: none

fixup! ci: Update reviewdog
  devbox.lock
Due: check-devbox-lock

fixup! build: Revert kube-cip manifest
  hack/examples/files/kube-vip.yaml
Due: examples-sync

fixup! build: Fix formatting
  pkg/handlers/lifecycle/registry/utils/tls.go
Due: go-generate, golangci-lint

fixup! refactor: More constants
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/http_proxy.go
  pkg/webhook/preflight/nutanix/credentials.go
Due: go-generate, golangci-lint, kube-api-linter

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  check-coredns-versions: any of: ^api/versions/coredns.go$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  kube-api-linter: any of: ((^api/(.*\.go|go.mod|go.sum))|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/helm-chart-bundler/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$
