Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-configmap

golangci-lint:
  name: golangci-lint
  entry: make go-generate lint
  language: system
  pass_filenames: false

hugo-mod-tidy:
  name: hugo-mod-tidy
  entry: bash -c "cd docs && hugo mod tidy"
  language: system
  pass_filenames: false

examples-sync:
  name: examples-sync
  entry: make examples.sync
  language: system
  pass_filenames: false

apis-sync:
  name: apis-sync
  entry: make apis.sync
  language: system
  pass_filenames: false

addons-sync:
  name: addons-sync
  entry: make addons.sync
  language: system
  pass_filenames: false

addons-configmap:
  name: addons-configmap
  entry: make generate-helm-configmap
  language: system
  pass_filenames: false

fix: no need for redirect in goreleaser
  .goreleaser.yml
Due: none

fix: minimal image is not needed bc default
  charts/cluster-api-runtime-extensions-nutanix/templates/nfd/manifests/node-feature-discovery-configmap.yaml
Due: addons-sync, addons-configmap

fix: compact must be used with sort to remove dups
  hack/tools/fetch-images/main.go
Due: golangci-lint

build: Include Calico images in image list
  .goreleaser.yml
  hack/tools/fetch-images/main.go
  make/addons.mk
Due: golangci-lint, addons-sync, addons-configmap

ci: images tool (#822)
  .gitignore
  .goreleaser.yml
  hack/tools/fetch-images/main.go
  hack/tools/go.mod
  hack/tools/go.sum
  make/addons.mk
Due: golangci-lint, addons-sync, addons-configmap

build: Include Calico images in image list (#903)
  .goreleaser.yml
  hack/tools/fetch-images/main.go
  make/addons.mk
Due: golangci-lint, addons-sync, addons-configmap

fix: Do not use digests for Cilium images
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/cilium-configmap.yaml
Due: addons-sync, addons-configmap

fix: Do not use digests for Cilium images (#901)
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/cilium-configmap.yaml
Due: addons-sync, addons-configmap

fix: upgrade metallb to 0.14.8
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/serviceloadbalancer/metallb/helm-addon-installation.yaml
  hack/addons/mindthegap-helm-registry/repos.yaml
  make/addons.mk
Due: addons-sync, addons-configmap

fix: upgrade metallb to 0.14.8 (#904)
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/serviceloadbalancer/metallb/helm-addon-installation.yaml
  hack/addons/mindthegap-helm-registry/repos.yaml
  make/addons.mk
Due: addons-sync, addons-configmap

build: Use upstream packages again from upstream
  api/v1alpha1/nutanix_clusterconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  devbox.json
  devbox.lock
  hack/flakes/flake.lock
  hack/flakes/flake.nix
  make/go.mk
Due: golangci-lint

feat: Support node taints per nodepool and control plane
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixnodeconfigs.yaml
  api/v1alpha1/nodeconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  docs/content/customization/generic/taints.md
  pkg/handlers/aws/mutation/metapatch_handler.go
  pkg/handlers/docker/mutation/metapatch_handler.go
  pkg/handlers/generic/handlers.go
  pkg/handlers/generic/mutation/handlers.go
  pkg/handlers/generic/mutation/metapatch_handler.go
  pkg/handlers/generic/mutation/taints/inject_controlplane.go
  pkg/handlers/generic/mutation/taints/inject_controlplane_test.go
  pkg/handlers/generic/mutation/taints/inject_suite_test.go
  pkg/handlers/generic/mutation/taints/inject_worker.go
  pkg/handlers/generic/mutation/taints/inject_worker_test.go
  pkg/handlers/generic/mutation/taints/variables_test.go
  pkg/handlers/nutanix/mutation/metapatch_handler.go
Due: golangci-lint, hugo-mod-tidy

ci: enable createing release-please PR from release branches
  make/dev.mk
Due: none

test: update CAREN provider version to 0.14 in e2e config
  test/e2e/config/caren.yaml
Due: none

build: Use upstream packages again from upstream (#908)
  api/v1alpha1/nutanix_clusterconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  devbox.json
  devbox.lock
  hack/flakes/flake.lock
  hack/flakes/flake.nix
  make/go.mk
Due: golangci-lint

feat: Build with go 1.23.1
  api/go.mod
  common/go.mod
  go.mod
Due: golangci-lint

release(release/v0.14.x): v0.14.8
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

feat: Build with go 1.23.1 (#913)
  api/go.mod
  common/go.mod
  go.mod
Due: golangci-lint

ci: use filter to exclued non release branches
  make/dev.mk
Due: none

test: update CAREN provider version to 0.15 in e2e config
  test/e2e/config/caren.yaml
Due: none

docs: update dev doc for creating release-please branch for releases
  docs/content/contributing/releasing.md
Due: hugo-mod-tidy

release(release/v0.14.x): v0.14.8 (#910)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

ci(main): enable creating release-please PR from release branches (#912)
  docs/content/contributing/releasing.md
  make/dev.mk
  test/e2e/config/caren.yaml
Due: hugo-mod-tidy

ci(release/v0.14.x): enable creating release-please PR from release branches (#911)
  docs/content/contributing/releasing.md
  make/dev.mk
  test/e2e/config/caren.yaml
Due: hugo-mod-tidy

fixup! build: Run go mod tidy
  api/go.sum
Due: golangci-lint

fixup! docs: Add default taints doc
  docs/content/addons/serviceloadbalancer.md
  docs/content/customization/generic/taints.md
  pkg/handlers/generic/mutation/taints/inject_suite_test.go
Due: golangci-lint, hugo-mod-tidy

fixup! feat: Support removing all taints
  docs/content/customization/generic/taints.md
  pkg/handlers/generic/mutation/taints/inject_controlplane.go
  pkg/handlers/generic/mutation/taints/inject_controlplane_test.go
  pkg/handlers/generic/mutation/taints/inject_worker.go
Due: golangci-lint, hugo-mod-tidy

fixup! test: Add test for taints utility
  pkg/handlers/generic/mutation/taints/inject_worker_test.go
Due: golangci-lint

fixup! docs: Update for apply config
  docs/content/customization/generic/taints.md
Due: hugo-mod-tidy

feat: Support node taints per nodepool and control plane (#909)
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixnodeconfigs.yaml
  api/v1alpha1/nodeconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  docs/content/addons/serviceloadbalancer.md
  docs/content/customization/generic/taints.md
  pkg/handlers/aws/mutation/metapatch_handler.go
  pkg/handlers/docker/mutation/metapatch_handler.go
  pkg/handlers/generic/handlers.go
  pkg/handlers/generic/mutation/handlers.go
  pkg/handlers/generic/mutation/metapatch_handler.go
  pkg/handlers/generic/mutation/taints/inject_controlplane.go
  pkg/handlers/generic/mutation/taints/inject_controlplane_test.go
  pkg/handlers/generic/mutation/taints/inject_suite_test.go
  pkg/handlers/generic/mutation/taints/inject_worker.go
  pkg/handlers/generic/mutation/taints/inject_worker_test.go
  pkg/handlers/generic/mutation/taints/variables_test.go
  pkg/handlers/nutanix/mutation/metapatch_handler.go
Due: golangci-lint, hugo-mod-tidy

docs: Enable dark mode, add Nutanix color, and header links
  docs/assets/scss/_styles_project.scss
  docs/assets/scss/_variables_project.scss
  docs/hugo.toml
  docs/layouts/_default/_markup/render-heading.html
Due: hugo-mod-tidy

feat: Support XValidations (CEL) for CC variables
  common/pkg/capi/clustertopology/variables/fromcrdyaml.go
Due: golangci-lint

docs: Enable dark mode, add Nutanix color, and header links (#915)
  docs/assets/scss/_styles_project.scss
  docs/assets/scss/_variables_project.scss
  docs/hugo.toml
  docs/layouts/_default/_markup/render-heading.html
Due: hugo-mod-tidy

release(main): v0.16.0 (#891)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

feat: Support XValidations (CEL) for CC variables (#916)
  common/pkg/capi/clustertopology/variables/fromcrdyaml.go
Due: golangci-lint

feat: Update addon versions
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.30.3-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cluster-autoscaler/manifests/cluster-autoscaler-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/tigera-operator-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/cilium-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/aws-ebs/manifests/aws-ebs-csi-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/snapshot-controller/manifests/snapshot-controller-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/virtual-ip/kube-vip/manifests/kube-vip-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  hack/addons/mindthegap-helm-registry/repos.yaml
  make/addons.mk
Due: addons-sync, addons-configmap

Path conditions:
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-configmap: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+|make/addons.mk$)
