Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-configmap

golangci-lint:
  name: golangci-lint
  entry: make go-generate lint
  language: system
  pass_filenames: false

hugo-mod-tidy:
  name: hugo-mod-tidy
  entry: bash -c "cd docs && hugo mod tidy"
  language: system
  pass_filenames: false

examples-sync:
  name: examples-sync
  entry: make examples.sync
  language: system
  pass_filenames: false

apis-sync:
  name: apis-sync
  entry: make apis.sync
  language: system
  pass_filenames: false

addons-sync:
  name: addons-sync
  entry: make addons.sync
  language: system
  pass_filenames: false

addons-configmap:
  name: addons-configmap
  entry: make generate-helm-configmap
  language: system
  pass_filenames: false

test(e2e): Set empty env vars for Nutanix e2e vars
  test/e2e/config/caren.yaml
Due: none

refactor: Tidy up Nutanix CSI with consistent apply strategy (#733)
  charts/cluster-api-runtime-extensions-nutanix/templates/deployment.yaml
  hack/addons/kustomize/nutanix-snapshot-csi/kustomization.yaml.tmpl
  hack/addons/kustomize/nutanix-storage-csi/kustomization.yaml.tmpl
  pkg/handlers/generic/lifecycle/csi/awsebs/handler.go
  pkg/handlers/generic/lifecycle/csi/localpath/handler.go
  pkg/handlers/generic/lifecycle/csi/nutanix-csi/handler.go
  pkg/handlers/generic/lifecycle/csi/nutanix/handler.go
  pkg/handlers/generic/lifecycle/csi/nutanix/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/handlers.go
  test/e2e/csi_helpers.go
Due: golangci-lint, addons-sync, addons-configmap

refactor: Use recommended "default" function syntax in helm templates
  charts/cluster-api-runtime-extensions-nutanix/templates/deployment.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-repository.yaml
Due: addons-configmap

test(e2e): Set empty env vars for Nutanix e2e vars (#749)
  test/e2e/config/caren.yaml
Due: none

test: add failing tests when Mirror Secret is missing CA key
  pkg/handlers/generic/mutation/mirrors/inject_test.go
Due: golangci-lint

fix: skip adding image registry CA file when not set
  pkg/handlers/generic/mutation/mirrors/containerd_files.go
  pkg/handlers/generic/mutation/mirrors/inject.go
Due: golangci-lint

test: additional cases for image registry CA
  pkg/handlers/generic/mutation/mirrors/inject_test.go
Due: golangci-lint

refactor: Use recommended "default" function syntax in helm templates (#750)
  charts/cluster-api-runtime-extensions-nutanix/templates/deployment.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-repository.yaml
Due: addons-configmap

fix: Temporarily hard-code supported PC version for Nutanix CSI
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/nutanix/manifests/helm-addon-installation.yaml
Due: addons-sync, addons-configmap

refactor: Reusable HelmAddon strategy
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/local-path/manifests/local-path-provisioner-csi-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  hack/addons/kustomize/local-path-provisioner-csi/kustomization.yaml.tmpl
  hack/addons/kustomize/nutanix-storage-csi/kustomization.yaml.tmpl
  hack/addons/kustomize/snapshot-controller/helm-values.yaml
  pkg/handlers/generic/lifecycle/addons/helmaddon.go
  pkg/handlers/generic/lifecycle/addons/interfaces.go
  pkg/handlers/generic/lifecycle/cni/calico/handler.go
  pkg/handlers/generic/lifecycle/cni/cilium/handler.go
  pkg/handlers/generic/lifecycle/csi/awsebs/handler.go
  pkg/handlers/generic/lifecycle/csi/awsebs/strategy_crs.go
  pkg/handlers/generic/lifecycle/csi/awsebs/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/csi/localpath/handler.go
  pkg/handlers/generic/lifecycle/csi/localpath/strategy_crs.go
  pkg/handlers/generic/lifecycle/csi/localpath/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/csi/nutanix/handler.go
  pkg/handlers/generic/lifecycle/csi/nutanix/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/csi/snapshotcontroller/handler.go
  pkg/handlers/generic/lifecycle/csi/snapshotcontroller/strategy_crs.go
  pkg/handlers/generic/lifecycle/csi/snapshotcontroller/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/handlers.go
  pkg/handlers/generic/lifecycle/nfd/handler.go
  pkg/handlers/generic/lifecycle/nfd/strategy_crs.go
  pkg/handlers/generic/lifecycle/nfd/strategy_helmaddon.go
  test/e2e/csi_helpers.go
Due: golangci-lint, addons-sync, addons-configmap

Add another e2e workflow that gets run on self-hosted-github runner
  .github/actionlint.yaml
  .github/workflows/checks.yml
  .github/workflows/e2e-custom-runner.yml
  api/v1alpha1/zz_generated.deepcopy.go
  devbox.json
  devbox.lock
Due: golangci-lint

fix: Temporarily hard-code supported PC version for Nutanix CSI (#751)
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/nutanix/manifests/helm-addon-installation.yaml
Due: addons-sync, addons-configmap

test(e2e): Fix up e2e tests wrt Kubernetes versions
  README.md
  go.mod
  go.sum
  make/go.mk
  make/kind.mk
  test/e2e/config/caren.yaml
  test/e2e/csi_helpers.go
  test/e2e/e2e_suite_test.go
  test/e2e/ownerreference_helpers.go
  test/e2e/quick_start_test.go
Due: golangci-lint

refactor: Reusable HelmAddon strategy (#735)
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/local-path/manifests/local-path-provisioner-csi-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  hack/addons/kustomize/local-path-provisioner-csi/kustomization.yaml.tmpl
  hack/addons/kustomize/nutanix-storage-csi/kustomization.yaml.tmpl
  hack/addons/kustomize/snapshot-controller/helm-values.yaml
  pkg/handlers/generic/lifecycle/addons/helmaddon.go
  pkg/handlers/generic/lifecycle/addons/interfaces.go
  pkg/handlers/generic/lifecycle/cni/calico/handler.go
  pkg/handlers/generic/lifecycle/cni/cilium/handler.go
  pkg/handlers/generic/lifecycle/csi/awsebs/handler.go
  pkg/handlers/generic/lifecycle/csi/awsebs/strategy_crs.go
  pkg/handlers/generic/lifecycle/csi/awsebs/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/csi/localpath/handler.go
  pkg/handlers/generic/lifecycle/csi/localpath/strategy_crs.go
  pkg/handlers/generic/lifecycle/csi/localpath/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/csi/nutanix/handler.go
  pkg/handlers/generic/lifecycle/csi/nutanix/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/csi/snapshotcontroller/handler.go
  pkg/handlers/generic/lifecycle/csi/snapshotcontroller/strategy_crs.go
  pkg/handlers/generic/lifecycle/csi/snapshotcontroller/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/handlers.go
  pkg/handlers/generic/lifecycle/nfd/handler.go
  pkg/handlers/generic/lifecycle/nfd/strategy_crs.go
  pkg/handlers/generic/lifecycle/nfd/strategy_helmaddon.go
  test/e2e/csi_helpers.go
Due: golangci-lint, addons-sync, addons-configmap

test(e2e): Various e2e tests fixes (#754)
  README.md
  go.mod
  go.sum
  make/go.mk
  make/kind.mk
  test/e2e/config/caren.yaml
  test/e2e/csi_helpers.go
  test/e2e/e2e_suite_test.go
  test/e2e/ownerreference_helpers.go
  test/e2e/quick_start_test.go
Due: golangci-lint

fix: skip kubeadm CA file when Secret doesn't have a CA (#752)
  pkg/handlers/generic/mutation/mirrors/containerd_files.go
  pkg/handlers/generic/mutation/mirrors/inject.go
  pkg/handlers/generic/mutation/mirrors/inject_test.go
Due: golangci-lint

test(e2e): Correct default helm release names for AWS CCM and EBS CSI
  test/e2e/ccm_helpers.go
  test/e2e/csi_helpers.go
Due: golangci-lint

[WIP] Add a workflow to debug kind cluster on self-hosted-runners
  .github/workflows/kind.yaml
Due: none

fix: Correctly report failed deploy of ServiceLoadBalancer
  pkg/handlers/generic/lifecycle/serviceloadbalancer/handler.go
Due: golangci-lint

test: Add ServiceLoadBalancer handler test
  pkg/handlers/generic/lifecycle/serviceloadbalancer/handler_test.go
Due: golangci-lint

fix: Correctly report failed deploy of ServiceLoadBalancer (#759)
  pkg/handlers/generic/lifecycle/serviceloadbalancer/handler.go
  pkg/handlers/generic/lifecycle/serviceloadbalancer/handler_test.go
Due: golangci-lint

test(e2e): Correct default helm release names for AWS CCM and EBS CSI (#756)
  test/e2e/ccm_helpers.go
  test/e2e/csi_helpers.go
Due: golangci-lint

release(main): v0.11.0 (#747)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

build: bring back v prefix in releases
  .goreleaser.yml
Due: none

build: bring back v prefix in releases (#760)
  .goreleaser.yml
Due: none

release(main): v0.11.1 (#761)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

feat: Define ServiceLoadBalancer Configuration API
  api/v1alpha1/addon_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
Due: golangci-lint

feat: Add waiter for object
  pkg/wait/wait.go
  pkg/wait/wait_test.go
Due: golangci-lint

feat: Apply MetalLB configuration to remote cluster
  pkg/handlers/generic/lifecycle/serviceloadbalancer/handler.go
  pkg/handlers/generic/lifecycle/serviceloadbalancer/handler_test.go
  pkg/handlers/generic/lifecycle/serviceloadbalancer/metallb/configuration.go
  pkg/handlers/generic/lifecycle/serviceloadbalancer/metallb/handler.go
Due: golangci-lint

fixup! feat: Define ServiceLoadBalancer Configuration API
  api/v1alpha1/addon_types.go
Due: golangci-lint

fix: Add strategy to Nutanix CCM addon in examples
  examples/capi-quick-start/nutanix-cluster-calico-crs.yaml
  examples/capi-quick-start/nutanix-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  hack/addons/kustomize/nutanix-ccm/kustomization.yaml.tmpl
  hack/examples/patches/nutanix/ccm.yaml
  test/e2e/ccm_helpers.go
Due: golangci-lint, examples-sync, addons-sync, addons-configmap

fix: Add strategy to Nutanix CCM addon in examples (#765)
  examples/capi-quick-start/nutanix-cluster-calico-crs.yaml
  examples/capi-quick-start/nutanix-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  hack/addons/kustomize/nutanix-ccm/kustomization.yaml.tmpl
  hack/examples/patches/nutanix/ccm.yaml
  test/e2e/ccm_helpers.go
Due: golangci-lint, examples-sync, addons-sync, addons-configmap

release(main): v0.11.2
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

release(main): v0.11.2 (#767)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

build: Update releae metadata.yaml
  docs/content/contributing/releasing.md
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
  test/e2e/e2e_suite_test.go
  test/framework/clusterctl/e2e_config.go
Due: golangci-lint, hugo-mod-tidy

Path conditions:
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-configmap: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+|make/addons.mk$)
