Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, golangci-lint, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock, check-coredns-versions

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/mindthegap-helm-registry/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$
  check-coredns-versions: any of: ^api/versions/coredns.go$

fixup! tests: add more unit tests
  pkg/handlers/generic/mutation/mirrors/inject_test.go
Due: go-generate, golangci-lint

WIP
  charts/cluster-api-runtime-extensions-nutanix/addons/registry/cncf-distribution/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/role.yaml
  go.mod
  go.sum
  pkg/handlers/generic/lifecycle/registry/cncfdistribution/handler.go
  pkg/handlers/generic/lifecycle/registry/doc.go
  pkg/handlers/generic/lifecycle/registry/handler.go
  pkg/handlers/generic/lifecycle/registry/utils/certificate.go
  pkg/handlers/generic/lifecycle/registry/utils/embedded/certificate-issuer.yaml
  pkg/handlers/generic/lifecycle/registry/utils/embedded/certificate.yaml.gotmpl
  pkg/handlers/generic/mutation/mirrors/inject.go
  pkg/handlers/utils/secrets.go
  pkg/handlers/utils/unstructured.go
Due: go-generate, golangci-lint, chart-docs

feat: use registryMirror addon as Containerd mirror (#1117)
  pkg/handlers/generic/mutation/mirrors/inject.go
  pkg/handlers/generic/mutation/mirrors/inject_test.go
Due: go-generate, golangci-lint

build: update cncf-distribution-registry chart to 2.3.2
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/cncf-distribution-registry/kustomization.yaml.tmpl
Due: chart-docs, addons-sync

refactor: move unrelated functions out of secrets.go
  pkg/handlers/utils/owner_reference.go
  pkg/handlers/utils/owner_reference_test.go
  pkg/handlers/utils/secrets.go
Due: go-generate, golangci-lint

feat: generate a self-signed cert for registry addon
  charts/cluster-api-runtime-extensions-nutanix/addons/registry/cncf-distribution/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/certificates.yaml
  pkg/handlers/generic/lifecycle/registry/cncfdistribution/handler.go
  pkg/handlers/generic/lifecycle/registry/cncfdistribution/handler_test.go
  pkg/handlers/generic/lifecycle/registry/handler.go
  pkg/handlers/generic/lifecycle/registry/utils/tls.go
  pkg/handlers/generic/lifecycle/registry/utils/tls_integration_test.go
  pkg/handlers/generic/lifecycle/registry/utils/tls_test.go
  pkg/handlers/generic/lifecycle/registry/utils/utils_suite_test.go
  pkg/handlers/generic/mutation/mirrors/inject.go
  pkg/handlers/generic/mutation/mirrors/inject_test.go
  pkg/handlers/utils/secrets.go
  pkg/handlers/utils/secrets_integration_test.go
  pkg/handlers/utils/utils.go
  test/helpers/envtest.go
Due: go-generate, golangci-lint, chart-docs

fix: Use helm variables for all webhook configurations
  hack/update-webhook-configurations.yq
Due: none

feat: Add preflight checks framework
  charts/cluster-api-runtime-extensions-nutanix/templates/webhooks.yaml
  cmd/main.go
  pkg/webhook/preflight/doc.go
  pkg/webhook/preflight/preflight.go
Due: go-generate, golangci-lint, chart-docs

feat: Nutanix VM image preflight check
  cmd/main.go
  pkg/webhook/preflight/nutanix/client.go
  pkg/webhook/preflight/nutanix/image.go
  pkg/webhook/preflight/nutanix/nutanix.go
Due: go-generate, golangci-lint

fixup! feat: Add preflight checks framework
  charts/cluster-api-runtime-extensions-nutanix/templates/webhooks.yaml
  pkg/webhook/preflight/doc.go
Due: go-generate, golangci-lint, chart-docs

fixup! feat: Add preflight checks framework
  pkg/webhook/preflight/preflight.go
Due: go-generate, golangci-lint

fixup! feat: Add preflight checks framework
  pkg/webhook/preflight/preflight_test.go
Due: go-generate, golangci-lint

fixup! feat: Add preflight checks framework
  pkg/webhook/preflight/preflight.go
  pkg/webhook/preflight/preflight_test.go
Due: go-generate, golangci-lint

fixup! feat: Nutanix VM image preflight check
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/client.go
  pkg/webhook/preflight/nutanix/image.go
Due: go-generate, golangci-lint

fixup! test(e2e): Use trivy-operator for CIS benchmark
  .github/workflows/checks.yml
  .github/workflows/e2e.yml
  .gitignore
  devbox.json
  devbox.lock
  hack/flakes/flake.nix
  test/e2e/quick_start_test.go
Due: go-generate, golangci-lint, check-devbox-lock

Included hardening steps
  examples/capi-quick-start/nutanix-cluster-hardened-clusterclass/control-plane/README.md
  examples/capi-quick-start/nutanix-cluster-hardened-clusterclass/control-plane/cis-mitigations-cp-patch.yaml
  examples/capi-quick-start/nutanix-cluster-hardened-clusterclass/control-plane/kustomization.yaml
  examples/capi-quick-start/nutanix-cluster-hardened-clusterclass/worker/README.md
  examples/capi-quick-start/nutanix-cluster-hardened-clusterclass/worker/cis-mitigations-worker-patch.yaml
  examples/capi-quick-start/nutanix-cluster-hardened-clusterclass/worker/kustomization.yaml
Due: examples-sync

removed upgrade stuff as caren will take care of it
  examples/capi-quick-start/nutanix-cluster-hardened-clusterclass/worker/README.md
Due: examples-sync

build: Update Docker k8s versions
  .github/workflows/checks.yml
  make/kind.mk
Due: none

build: Update Docker k8s versions (#1133)
  .github/workflows/checks.yml
  make/kind.mk
Due: none

fixup! use a better name for root CA Secret
  charts/cluster-api-runtime-extensions-nutanix/templates/certificates.yaml
  pkg/handlers/generic/lifecycle/registry/utils/tls_integration_test.go
  pkg/handlers/utils/secrets.go
Due: go-generate, golangci-lint, chart-docs

feat: Add k8s version logic for external cloud-provider flag
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/aws-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  common/pkg/capi/clustertopology/variables/variable.go
  common/pkg/testutils/capitest/patches.go
  common/pkg/testutils/capitest/request/items.go
  hack/examples/bases/aws/clusterclass/kustomization.yaml.tmpl
  hack/examples/bases/nutanix/clusterclass/kustomization.yaml.tmpl
  pkg/handlers/generic/mutation/externalcloudprovider/inject.go
  pkg/handlers/generic/mutation/externalcloudprovider/inject_test.go
  pkg/handlers/generic/mutation/handlers.go
Due: go-generate, golangci-lint, chart-docs, examples-sync

fixup! feat: Add preflight checks framework
  charts/cluster-api-runtime-extensions-nutanix/templates/webhooks.yaml
  cmd/main.go
  pkg/webhook/preflight/doc.go
Due: go-generate, golangci-lint, chart-docs

simplified hardening + support for 2.14.0 and 2.15.0
  examples/capi-quick-start/nutanix-cluster-hardened-clusterclass/control-plane/README.md
  examples/capi-quick-start/nutanix-cluster-hardened-clusterclass/control-plane/cis-mitigations-cp-patch.yaml
  examples/capi-quick-start/nutanix-cluster-hardened-clusterclass/control-plane/harden.sh
  examples/capi-quick-start/nutanix-cluster-hardened-clusterclass/control-plane/kustomization.yaml
  examples/capi-quick-start/nutanix-cluster-hardened-clusterclass/worker/README.md
  examples/capi-quick-start/nutanix-cluster-hardened-clusterclass/worker/cis-mitigations-worker-patch.yaml
  examples/capi-quick-start/nutanix-cluster-hardened-clusterclass/worker/harden.sh
  examples/capi-quick-start/nutanix-cluster-hardened-clusterclass/worker/kustomization.yaml
Due: examples-sync

Return preflight.Cause instead of metav1.StatusCause
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/image.go
Due: go-generate, golangci-lint

feat: Nutanix VM image preflight check
  cmd/main.go
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/client.go
  pkg/webhook/preflight/nutanix/image.go
Due: go-generate, golangci-lint

Factor helpers out of checker
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/client.go
  pkg/webhook/preflight/nutanix/image.go
  pkg/webhook/preflight/nutanix/variables.go
  pkg/webhook/preflight/util/variables.go
Due: go-generate, golangci-lint

Efficient, threadsafe data initialization
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/client.go
  pkg/webhook/preflight/nutanix/image.go
  pkg/webhook/preflight/nutanix/variables.go
Due: go-generate, golangci-lint

Implement single VM image check for control plane and workers
  go.mod
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/client.go
  pkg/webhook/preflight/nutanix/image.go
Due: go-generate, golangci-lint

fixup! use better variable and function names
  pkg/handlers/generic/lifecycle/registry/utils/tls.go
  pkg/handlers/generic/lifecycle/registry/utils/tls_integration_test.go
  pkg/handlers/utils/secrets.go
Due: go-generate, golangci-lint

fixup! only call setup function in BeforeClusterCreate
  pkg/handlers/generic/lifecycle/registry/cncfdistribution/handler.go
  pkg/handlers/generic/lifecycle/registry/handler.go
Due: go-generate, golangci-lint
