Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, check-coredns-versions, golangci-lint, kube-api-linter, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock

schema-chart:
  name: schema-chart
  entry: make schema-chart
  language: system

go-generate:
  name: go-generate
  entry: make go-generate
  language: system
  pass_filenames: false

check-coredns-versions:
  name: check-coredns-versions
  entry: make coredns.sync
  language: system

golangci-lint:
  name: golangci-lint
  entry: make lint
  language: system
  pass_filenames: false

kube-api-linter:
  name: kube-api-linter
  entry: make lint-kube-api
  language: system
  pass_filenames: false

chart-docs:
  name: chart-docs
  entry: make chart-docs
  language: system
  pass_filenames: false

hugo-mod-tidy:
  name: hugo-mod-tidy
  entry: bash -c "cd docs && hugo mod tidy"
  language: system
  pass_filenames: false

examples-sync:
  name: examples-sync
  entry: make examples.sync
  language: system
  pass_filenames: false

apis-sync:
  name: apis-sync
  entry: make apis.sync
  language: system
  pass_filenames: false

addons-sync:
  name: addons-sync
  entry: make addons.sync
  language: system
  pass_filenames: false

addons-repo-yaml:
  name: addons-repo-yaml
  entry: make template-helm-repository
  language: system
  pass_filenames: false

check-devbox-lock:
  name: check-devbox-lock
  entry: devbox install
  language: system
  pass_filenames: false

fix: CAPX bumpup to v1.8.2 (#1425)
  hack/third-party/capx/go.mod
  hack/third-party/capx/go.sum
Due: go-generate, golangci-lint, apis-sync

fix: bumping konnector-agent chart version fix
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

fix: updating chart version
  docs/content/addons/konnector-agent.md
Due: hugo-mod-tidy

fix: bumping konnector-agent chart version (#1426)
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  docs/content/addons/konnector-agent.md
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, hugo-mod-tidy, addons-sync, addons-repo-yaml

fixup! release: Update metadata for release
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: none

release(main): v0.41.1
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

release(main): v0.41.1 (#1428)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

release(release/v0.28.x): v0.29.0
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

release(release/v0.28.x): v0.28.3
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

fix: moving konnector agent to docker from quay
  charts/cluster-api-runtime-extensions-nutanix/addons/konnector-agent/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/konnector-agent/kustomization.yaml.tmpl
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

fix: adding private registry false for docker repo
  charts/cluster-api-runtime-extensions-nutanix/addons/konnector-agent/values-template.yaml
Due: chart-docs

fix: moving konnector agent(docker, helm) to nutanix repo (#1433)
  charts/cluster-api-runtime-extensions-nutanix/addons/konnector-agent/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/konnector-agent/kustomization.yaml.tmpl
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

release(main): v0.41.2 (#1435)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

chore: bump cosi to 0.2.2
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  make/addons.mk
Due: chart-docs, addons-sync

fix: update repos.yaml
  hack/addons/helm-chart-bundler/repos.yaml
Due: addons-sync, addons-repo-yaml

test: failing tests with templated cilium values
  pkg/webhook/cluster/cilium_configuration_validator_test.go
Due: go-generate, golangci-lint

fix: cilium webhook with templated values
  pkg/webhook/cluster/cilium_configuration_validator.go
Due: go-generate, golangci-lint

fix: adding predelete check in konnector agent delete webhook
  pkg/handlers/lifecycle/konnectoragent/handler.go
Due: go-generate, golangci-lint

fix: adding trustbundle
  pkg/handlers/lifecycle/konnectoragent/handler.go
  pkg/handlers/lifecycle/konnectoragent/variables_test.go
  pkg/handlers/lifecycle/utils/konnector_client.go
  pkg/handlers/lifecycle/utils/konnector_client_test.go
Due: go-generate, golangci-lint

fix: formatting changes
  pkg/handlers/lifecycle/konnectoragent/handler.go
  pkg/handlers/lifecycle/utils/konnector_client.go
Due: go-generate, golangci-lint

fix: Apply suggestions from code review
  pkg/handlers/lifecycle/konnectoragent/handler.go
  pkg/handlers/lifecycle/utils/konnector_client.go
Due: go-generate, golangci-lint

fix: updating variable names
  pkg/handlers/lifecycle/utils/konnector_client.go
Due: go-generate, golangci-lint

fix: fixing unit test
  pkg/handlers/lifecycle/utils/konnector_client_test.go
Due: go-generate, golangci-lint

fixup! fix: cilium webhook with templated values
  pkg/webhook/cluster/cilium_configuration_validator_test.go
Due: go-generate, golangci-lint

fix: adding predelete check in konnector agent delete webhook (#1438)
  pkg/handlers/lifecycle/konnectoragent/handler.go
  pkg/handlers/lifecycle/konnectoragent/variables_test.go
  pkg/handlers/lifecycle/utils/konnector_client.go
  pkg/handlers/lifecycle/utils/konnector_client_test.go
Due: go-generate, golangci-lint

fix: cilium webhook with templated values (#1437)
  pkg/webhook/cluster/cilium_configuration_validator.go
  pkg/webhook/cluster/cilium_configuration_validator_test.go
Due: go-generate, golangci-lint

release(main): v0.41.3
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

release(main): v0.41.3 (#1442)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

fix: copy util functions for v1beta1
  common/pkg/capi/clustertopology/handlers/helpers.go
  common/pkg/capi/utils/annotations/helpers.go
  common/pkg/capi/utils/conditions/getter.go
  pkg/controllers/failuredomainrollout/controller.go
  pkg/handlers/lifecycle/addons/helmaddon.go
  pkg/handlers/lifecycle/servicelbgc/deleter.go
  test/e2e/helmreleaseproxy_helpers.go
Due: go-generate, golangci-lint

fix: add v1beta2 to scheme
  cmd/main.go
Due: go-generate, golangci-lint

fix: webhooks decoding v1beta2 clusters
  pkg/webhook/addons/registry/autoenabler.go
  pkg/webhook/cluster/cilium_configuration_validator.go
  pkg/webhook/cluster/clusteruuidlabeler.go
  pkg/webhook/cluster/konnectoragent_legacy_validator.go
  pkg/webhook/cluster/nutanix_validator.go
  pkg/webhook/decoder.go
  pkg/webhook/preflight/preflight.go
Due: go-generate, golangci-lint

test: fix unit tests
  internal/test/envtest/environment.go
  internal/test/kubeconfig/kubeconfig.go
  internal/test/kubeconfig/testing.go
  test/helpers/envtest.go
Due: go-generate, golangci-lint

refactor: migration nutanix API to v4
  pkg/webhook/preflight/nutanix/cache.go
  pkg/webhook/preflight/nutanix/clients.go
Due: go-generate, golangci-lint

feat: enable multus for Nutanix infra
  pkg/handlers/lifecycle/cni/multus/doc.go
  pkg/handlers/lifecycle/cni/multus/handler.go
Due: go-generate, golangci-lint

fetch csi from self hosted helm repo
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

fix: update CoreDNS mapping file
  api/versions/coredns.go
  api/versions/coredns_test.go
Due: go-generate, check-coredns-versions, golangci-lint, kube-api-linter

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  check-coredns-versions: any of: ^api/versions/coredns.go$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  kube-api-linter: any of: ((^api/(.*\.go|go.mod|go.sum))|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/helm-chart-bundler/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$
