Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-configmap

golangci-lint:
  name: golangci-lint
  entry: make go-generate lint
  language: system
  pass_filenames: false

hugo-mod-tidy:
  name: hugo-mod-tidy
  entry: bash -c "cd docs && hugo mod tidy"
  language: system
  pass_filenames: false

examples-sync:
  name: examples-sync
  entry: make examples.sync
  language: system
  pass_filenames: false

apis-sync:
  name: apis-sync
  entry: make apis.sync
  language: system
  pass_filenames: false

addons-sync:
  name: addons-sync
  entry: make addons.sync
  language: system
  pass_filenames: false

addons-configmap:
  name: addons-configmap
  entry: make generate-helm-configmap
  language: system
  pass_filenames: false

fix: run systemctl daemon-reload before Containerd restart (#842)
  pkg/handlers/generic/mutation/containerdapplypatchesandrestart/templates/containerd-restart.sh
Due: none

release(main): v0.13.6
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

release(main): v0.13.6 (#844)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

fix: Ensure MetalLB lifecycle handler is independent of other handlers
  pkg/handlers/generic/lifecycle/serviceloadbalancer/metallb/configuration.go
  pkg/handlers/generic/lifecycle/serviceloadbalancer/metallb/handler.go
  test/e2e/serviceloadbalancer_helpers.go
Due: golangci-lint

fix: Deterministic ordering of lifecycle hooks
  common/go.mod
  common/pkg/capi/clustertopology/handlers/lifecycle/interfaces.go
  common/pkg/capi/clustertopology/handlers/lifecycle/ordered.go
  pkg/handlers/generic/lifecycle/handlers.go
Due: golangci-lint

fix: Reduce time to wait for MetalLB to apply configuration
  pkg/handlers/generic/lifecycle/serviceloadbalancer/metallb/handler.go
Due: golangci-lint

fix: Handle long cluster names
  charts/cluster-api-runtime-extensions-nutanix/templates/cluster-autoscaler/manifests/helm-addon-installation.yaml
  pkg/handlers/generic/lifecycle/addons/helmaddon.go
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler.go
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler_test.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/template.go
  pkg/handlers/generic/lifecycle/cni/calico/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/cni/cilium/handler.go
  pkg/handlers/generic/lifecycle/cni/cilium/strategy_crs.go
  pkg/handlers/generic/lifecycle/cni/cilium/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/serviceloadbalancer/metallb/handler.go
  test/e2e/addon_helpers.go
  test/e2e/ccm_helpers.go
  test/e2e/clusterautoscaler_helpers.go
  test/e2e/cni_helpers.go
  test/e2e/csi_helpers.go
  test/e2e/helmreleaseproxy_helpers.go
  test/e2e/nfd_helpers.go
  test/e2e/serviceloadbalancer_helpers.go
Due: golangci-lint, addons-sync, addons-configmap

fix: reorder lifecycle handlers with serviceloadbalancer being last
  pkg/handlers/generic/lifecycle/handlers.go
Due: golangci-lint

fix: Deterministic ordering of lifecycle hooks (#847)
  common/go.mod
  common/pkg/capi/clustertopology/handlers/lifecycle/interfaces.go
  common/pkg/capi/clustertopology/handlers/lifecycle/ordered.go
  pkg/handlers/generic/lifecycle/handlers.go
  pkg/handlers/generic/lifecycle/serviceloadbalancer/metallb/handler.go
Due: golangci-lint

Add contextual comment.
  test/e2e/helmreleaseproxy_helpers.go
Due: golangci-lint

Fixes bad indentation caused by GitHub suggestion
  test/e2e/helmreleaseproxy_helpers.go
Due: golangci-lint

fix: reorder lifecycle handlers with serviceloadbalancer being last (#848)
  pkg/handlers/generic/lifecycle/handlers.go
Due: golangci-lint

fix: update mindthegap
  hack/addons/mindthegap-helm-registry/Dockerfile
Due: addons-sync, addons-configmap

fix: update mindthegap (#852)
  hack/addons/mindthegap-helm-registry/Dockerfile
Due: addons-sync, addons-configmap

build(deps): Upgrade CAPX Version to v1.5.0
  hack/third-party/capx/go.mod
  hack/third-party/capx/go.sum
Due: golangci-lint, apis-sync

fix: Add contextual comment
  test/e2e/helmreleaseproxy_helpers.go
Due: golangci-lint

fix: Fix indentation
  test/e2e/helmreleaseproxy_helpers.go
Due: golangci-lint

fixup! feat: Add stable cluster UUID annotation
  .golangci.yml
  api/v1alpha1/constants.go
  charts/cluster-api-runtime-extensions-nutanix/templates/admission-service.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/certificates.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cluster-autoscaler/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/deployment.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/role.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/runtimehooks-service.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/webhooks.yaml
  cmd/main.go
  devbox.json
  devbox.lock
  hack/update-webhook-configurations.yq
  internal/test/envtest/environment.go
  make/go.mk
  pkg/handlers/generic/lifecycle/addons/helmaddon.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/handler.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/strategy_crs.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/template.go
  pkg/handlers/generic/lifecycle/serviceloadbalancer/metallb/handler.go
  pkg/webhook/cluster/clusteruuidlabeler.go
  pkg/webhook/cluster/defaulter.go
  pkg/webhook/cluster/doc.go
  pkg/webhook/cluster/vaiidator.go
  pkg/webhook/cluster/webhook_suite_test.go
  pkg/webhook/cluster/webhook_test.go
  test/e2e/clusterautoscaler_helpers.go
  test/e2e/helmreleaseproxy_helpers.go
Due: golangci-lint, addons-sync, addons-configmap

fixup! refactor: Pass nutanix spec into CCM templating func
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler.go
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler_test.go
  pkg/webhook/cluster/webhook_suite_test.go
  test/e2e/clusterautoscaler_helpers.go
Due: golangci-lint

fixup! fix: Properly specify release name for CA addon
  pkg/handlers/generic/lifecycle/addons/helmaddon.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/handler.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/strategy_helmaddon.go
  test/e2e/clusterautoscaler_helpers.go
Due: golangci-lint

fixup! test(e2e): Use long cluster names
  test/e2e/clusterautoscaler_helpers.go
  test/e2e/framework/self_hosted.go
  test/e2e/quick_start_test.go
  test/e2e/self_hosted_test.go
Due: golangci-lint

fixup! refactor: Add comment to YQ filter
  hack/update-webhook-configurations.yq
Due: none

fixup! refactor: Use same templating for CA CRS strategy
  charts/cluster-api-runtime-extensions-nutanix/templates/cluster-autoscaler/manifests/cluster-autoscaler-configmap.yaml
  hack/addons/kustomize/cluster-autoscaler/helm-values.yaml
  hack/addons/kustomize/cluster-autoscaler/kustomization.yaml.tmpl
  hack/addons/update-cluster-autoscaler.sh
  pkg/handlers/generic/lifecycle/clusterautoscaler/strategy_crs.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/template.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/template_test.go
  test/e2e/clusterautoscaler_helpers.go
Due: golangci-lint, addons-sync, addons-configmap

fixup! build: Run go mod tidy
  api/go.mod
  api/go.sum
Due: golangci-lint

fixup! build: Sync new CAPA APIs
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/awsmachine_types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/network_types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/zz_generated.deepcopy.go
Due: golangci-lint, apis-sync

fixup! test(e2e): Add metadata for CAPA 2.6 release series
  test/e2e/data/shared/v1beta1-capa/metadata.yaml
Due: none

release(main): v0.13.7 (#854)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

fix: set cni.exclusive=false in Cilium
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/cilium-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/helm-addon-installation.yaml
  hack/addons/kustomize/cilium/helm-values.yaml
Due: addons-sync, addons-configmap

build: Latest devbox update
  charts/cluster-api-runtime-extensions-nutanix/templates/role.yaml
  devbox.lock
  hack/flakes/flake.lock
  hack/flakes/flake.nix
Due: addons-configmap

feat: Run hooks in parallel with aggregated responses
  api/go.mod
  common/go.mod
  common/go.sum
  common/pkg/capi/clustertopology/handlers/lifecycle/ordered.go
  common/pkg/capi/clustertopology/handlers/lifecycle/parallel.go
  common/pkg/capi/clustertopology/handlers/lifecycle/parallel_test.go
  go.mod
  go.sum
  hack/third-party/caaph/go.mod
  hack/third-party/capa/go.mod
  pkg/handlers/generic/lifecycle/handlers.go
Due: golangci-lint, apis-sync

fix: Set cilium socketLB.hostNamespaceOnly to true
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/cilium-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/helm-addon-installation.yaml
  hack/addons/kustomize/cilium/helm-values.yaml
Due: addons-sync, addons-configmap

fix: Cilium-Istio compatibility fixes (#856)
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/cilium-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/helm-addon-installation.yaml
  hack/addons/kustomize/cilium/helm-values.yaml
Due: addons-sync, addons-configmap

build: Latest devbox update (#857)
  charts/cluster-api-runtime-extensions-nutanix/templates/role.yaml
  devbox.lock
  hack/flakes/flake.lock
  hack/flakes/flake.nix
Due: addons-configmap

feat: Run hooks in parallel with aggregated responses (#855)
  api/go.mod
  common/go.mod
  common/go.sum
  common/pkg/capi/clustertopology/handlers/lifecycle/ordered.go
  common/pkg/capi/clustertopology/handlers/lifecycle/parallel.go
  common/pkg/capi/clustertopology/handlers/lifecycle/parallel_test.go
  go.mod
  go.sum
  hack/third-party/caaph/go.mod
  hack/third-party/capa/go.mod
  pkg/handlers/generic/lifecycle/handlers.go
Due: golangci-lint, apis-sync

fixup! build: Update release metadata
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: none

release(main): v0.14.0 (#858)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: hugo-mod-tidy

fix: delete correct cluster-autoscaler HCP
  pkg/handlers/generic/lifecycle/clusterautoscaler/strategy_helmaddon.go
Due: golangci-lint

fix: skip UUID annotation webhook for clusters with nil topology
  pkg/webhook/cluster/clusteruuidlabeler.go
  pkg/webhook/cluster/webhook_test.go
Due: golangci-lint

Path conditions:
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-configmap: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+|make/addons.mk$)
