Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-configmap

Path conditions:
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-configmap: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+|make/addons.mk$)

fix: use external Nutanix API types directly
  api/v1alpha1/nutanix_node_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  pkg/handlers/nutanix/mutation/machinedetails/inject_control_plane_test.go
  pkg/handlers/nutanix/mutation/machinedetails/variables_test.go
Due: golangci-lint

fix: use external Nutanix API types directly (#698)
  api/v1alpha1/nutanix_node_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  pkg/handlers/nutanix/mutation/machinedetails/inject_control_plane_test.go
  pkg/handlers/nutanix/mutation/machinedetails/variables_test.go
Due: golangci-lint

build: update Go to 1.22.4
  api/go.mod
  common/go.mod
  go.mod
Due: golangci-lint

build: update Go to 1.22.4 (#700)
  api/go.mod
  common/go.mod
  go.mod
Due: golangci-lint

fix: Post-process clusterconfig CRDs for supported CSI providers (#695)
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  make/addons.mk
  make/go.mk
Due: golangci-lint, addons-sync, addons-configmap

build: Move CSI supported provider logic to script
  hack/addons/configure-supported-csi-providers.sh
  make/addons.mk
  make/dev.mk
  make/go.mk
Due: golangci-lint, addons-sync, addons-configmap

build: Update all tools
  .goreleaser.yml
  .pre-commit-config.yaml
  devbox.lock
  hack/addons/kustomize/cilium/kustomization.yaml.tmpl
  hack/flakes/flake.nix
  make/goreleaser.mk
Due: addons-sync, addons-configmap

refactor: Fix up linter errors
  api/v1alpha1/zz_generated.deepcopy.go
  pkg/handlers/nutanix/mutation/machinedetails/inject.go
  pkg/handlers/nutanix/mutation/machinedetails/variables_test.go
Due: golangci-lint

build: Add testifylint linter
  .golangci.yml
  pkg/handlers/generic/lifecycle/clusterautoscaler/template_test.go
  pkg/handlers/generic/lifecycle/cni/cluster_test.go
  pkg/handlers/generic/lifecycle/servicelbgc/deleter_test.go
  pkg/handlers/generic/mutation/imageregistries/credentials/credential_provider_config_files_test.go
  pkg/handlers/generic/mutation/imageregistries/credentials/inject_test.go
  pkg/handlers/generic/mutation/mirrors/mirror_test.go
Due: golangci-lint

build(deps): Upgrade CAPX version to v1.4.0
  docs/content/getting-started/deployment/via-clusterctl.md
  docs/content/getting-started/deployment/via-helm.md
  hack/third-party/capx/go.mod
  hack/third-party/capx/go.sum
Due: golangci-lint, hugo-mod-tidy, apis-sync

fix: fixes suggested from failing `make pre-commit` run
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/conditions.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixcluster_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixmachine_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  pkg/handlers/nutanix/mutation/machinedetails/inject.go
  pkg/handlers/nutanix/mutation/machinedetails/variables_test.go
Due: golangci-lint, apis-sync

ci: Properly pass golangci-lint output
  .github/workflows/checks.yml
Due: none

build(deps): Upgrade CAPX version to v1.4.0 (#707)
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/conditions.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixcluster_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixmachine_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  docs/content/getting-started/deployment/via-clusterctl.md
  docs/content/getting-started/deployment/via-helm.md
  hack/third-party/capx/go.mod
  hack/third-party/capx/go.sum
  pkg/handlers/nutanix/mutation/machinedetails/inject.go
  pkg/handlers/nutanix/mutation/machinedetails/variables_test.go
Due: golangci-lint, hugo-mod-tidy, apis-sync

build: Move CSI supported provider logic to script (#703)
  hack/addons/configure-supported-csi-providers.sh
  make/addons.mk
  make/dev.mk
  make/go.mk
Due: golangci-lint, addons-sync, addons-configmap

refactor: rename credential provider response secret
  pkg/handlers/generic/mutation/imageregistries/credentials/credentials_secret.go
  pkg/handlers/generic/mutation/imageregistries/credentials/inject_test.go
Due: golangci-lint

fix: set ownerRef on Nutanix CSI Secret
  pkg/handlers/generic/lifecycle/csi/nutanix-csi/handler.go
  pkg/handlers/generic/lifecycle/utils/secrets.go
  pkg/handlers/generic/lifecycle/utils/secrets_test.go
Due: golangci-lint

fix: set ownerRef on Nutanix CCM Secret
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler.go
Due: golangci-lint

build: Add testifylint linter (#706)
  .golangci.yml
  pkg/handlers/generic/lifecycle/clusterautoscaler/template_test.go
  pkg/handlers/generic/lifecycle/cni/cluster_test.go
  pkg/handlers/generic/lifecycle/servicelbgc/deleter_test.go
  pkg/handlers/generic/mutation/imageregistries/credentials/credential_provider_config_files_test.go
  pkg/handlers/generic/mutation/imageregistries/credentials/inject_test.go
  pkg/handlers/generic/mutation/mirrors/mirror_test.go
Due: golangci-lint

build: Update all tools (#704)
  .goreleaser.yml
  .pre-commit-config.yaml
  devbox.lock
  hack/addons/kustomize/cilium/kustomization.yaml.tmpl
  hack/flakes/flake.nix
  make/goreleaser.mk
Due: addons-sync, addons-configmap

refactor: rename credential provider response secret (#710)
  pkg/handlers/generic/mutation/imageregistries/credentials/credentials_secret.go
  pkg/handlers/generic/mutation/imageregistries/credentials/inject_test.go
Due: golangci-lint

fix: nutanix credentials Secrets owner refs (#711)
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler.go
  pkg/handlers/generic/lifecycle/csi/nutanix-csi/handler.go
  pkg/handlers/generic/lifecycle/utils/secrets.go
  pkg/handlers/generic/lifecycle/utils/secrets_test.go
Due: golangci-lint

refactor: Simplify code by using slices.Clone
  pkg/handlers/generic/lifecycle/utils/secrets_test.go
  pkg/handlers/nutanix/mutation/machinedetails/inject.go
Due: golangci-lint

refactor: Simplify code by using slices.Clone (#712)
  pkg/handlers/generic/lifecycle/utils/secrets_test.go
  pkg/handlers/nutanix/mutation/machinedetails/inject.go
Due: golangci-lint

refactor: consistently use the same SetOwnerReference function
  pkg/handlers/generic/lifecycle/utils/secrets.go
Due: golangci-lint

refactor: consistently use the same SetOwnerReference function (#713)
  pkg/handlers/generic/lifecycle/utils/secrets.go
Due: golangci-lint

feat: cluster-api v1.7.3
  api/go.mod
  api/go.sum
  api/v1alpha1/zz_generated.deepcopy.go
  common/go.mod
  common/go.sum
  go.mod
  go.sum
  hack/flakes/flake.nix
Due: golangci-lint

fixup! refactor: run a script to configure kube-vip
  pkg/handlers/generic/mutation/controlplanevirtualip/inject.go
  pkg/handlers/generic/mutation/controlplanevirtualip/providers/kubevip.go
  pkg/handlers/generic/mutation/controlplanevirtualip/providers/kubevip_test.go
Due: golangci-lint

refactor: run a script to configure kube-vip
  pkg/handlers/generic/mutation/controlplanevirtualip/inject.go
  pkg/handlers/generic/mutation/controlplanevirtualip/inject_test.go
  pkg/handlers/generic/mutation/controlplanevirtualip/providers/kubevip.go
  pkg/handlers/generic/mutation/controlplanevirtualip/providers/kubevip_test.go
  pkg/handlers/generic/mutation/controlplanevirtualip/providers/providers.go
  pkg/handlers/generic/mutation/controlplanevirtualip/providers/templates/configure-kube-vip.sh
  pkg/handlers/generic/mutation/encryptionatrest/inject.go
Due: golangci-lint

refactor: set kubernetes host alias in preKubeadmCommand
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  hack/examples/bases/nutanix/clusterclass/kustomization.yaml.tmpl
  pkg/handlers/generic/mutation/controlplanevirtualip/inject_test.go
  pkg/handlers/generic/mutation/controlplanevirtualip/providers/kubevip.go
  pkg/handlers/generic/mutation/controlplanevirtualip/providers/kubevip_test.go
  pkg/handlers/generic/mutation/controlplanevirtualip/providers/templates/configure-for-kube-vip.sh
Due: golangci-lint, examples-sync

refactor: use a single preKubeadmCommand
  pkg/handlers/generic/mutation/controlplanevirtualip/inject_test.go
  pkg/handlers/generic/mutation/controlplanevirtualip/providers/kubevip.go
  pkg/handlers/generic/mutation/controlplanevirtualip/providers/kubevip_test.go
  pkg/handlers/generic/mutation/controlplanevirtualip/providers/templates/configure-for-kube-vip.sh
Due: golangci-lint

fix: correctly set credential provider response secret ownership
  pkg/handlers/generic/mutation/imageregistries/credentials/inject.go
Due: golangci-lint

feat: Deploy controller that copies ClusterClasses to namespaces
  api/v1alpha1/constants.go
  charts/cluster-api-runtime-extensions-nutanix/templates/role.yaml
  cmd/main.go
  pkg/controllers/namespacesync/flags.go
Due: golangci-lint, addons-configmap

test: Add envtest for controllers that work with clusterclass and templates
  .pre-commit-config.yaml
  go.mod
  internal/test/README.md
  internal/test/bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigs.yaml
  internal/test/bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml
  internal/test/builder/bootstrap.go
  internal/test/builder/builders.go
  internal/test/builder/controlplane.go
  internal/test/builder/crds.go
  internal/test/builder/doc.go
  internal/test/builder/infrastructure.go
  internal/test/builder/remediation.go
  internal/test/builder/zz_generated.deepcopy.go
  internal/test/config/crd/bases/addons.cluster.x-k8s.io_clusterresourcesetbindings.yaml
  internal/test/config/crd/bases/addons.cluster.x-k8s.io_clusterresourcesets.yaml
  internal/test/config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  internal/test/config/crd/bases/cluster.x-k8s.io_clusters.yaml
  internal/test/config/crd/bases/cluster.x-k8s.io_machinedeployments.yaml
  internal/test/config/crd/bases/cluster.x-k8s.io_machinehealthchecks.yaml
  internal/test/config/crd/bases/cluster.x-k8s.io_machinepools.yaml
  internal/test/config/crd/bases/cluster.x-k8s.io_machines.yaml
  internal/test/config/crd/bases/cluster.x-k8s.io_machinesets.yaml
  internal/test/config/crd/bases/ipam.cluster.x-k8s.io_ipaddressclaims.yaml
  internal/test/config/crd/bases/ipam.cluster.x-k8s.io_ipaddresses.yaml
  internal/test/config/crd/bases/runtime.cluster.x-k8s.io_extensionconfigs.yaml
  internal/test/controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanes.yaml
  internal/test/controlplane/kubeadm/config/crd/bases/controlplane.cluster.x-k8s.io_kubeadmcontrolplanetemplates.yaml
  internal/test/envtest/environment.go
  internal/test/envtest/external.go
Due: golangci-lint

feat: Controller that copies ClusterClasses to namespaces
  pkg/controllers/namespacesync/controller.go
  pkg/controllers/namespacesync/controller_test.go
  pkg/controllers/namespacesync/copy.go
  pkg/controllers/namespacesync/copy_test.go
  pkg/controllers/namespacesync/doc.go
  pkg/controllers/namespacesync/references.go
  pkg/controllers/namespacesync/suite_test.go
Due: golangci-lint

WIP
  pkg/handlers/generic/mutation/imageregistries/credentials/inject_test.go
Due: golangci-lint

build: Fix an incorrect make variable passed to goreleaser
  make/goreleaser.mk
Due: none

test: add failing tests Secret getting generated for all registries
  pkg/handlers/generic/mutation/imageregistries/credentials/credentials_secret.go
  pkg/handlers/generic/mutation/imageregistries/credentials/credentials_secret_test.go
  pkg/handlers/generic/mutation/imageregistries/credentials/inject.go
Due: golangci-lint

refactor: rename Secret again
  pkg/handlers/generic/mutation/imageregistries/credentials/credentials_secret.go
  pkg/handlers/generic/mutation/imageregistries/credentials/credentials_secret_test.go
Due: golangci-lint

fix: correctly handle registries without credentials
  pkg/handlers/generic/mutation/imageregistries/credentials/credentials_secret.go
  pkg/handlers/generic/mutation/imageregistries/credentials/templates/static-credential-provider.json.gotmpl
Due: golangci-lint

fixup! build: Rename variable to GORELEASER_VERBOSE
  make/goreleaser.mk
Due: none
