Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, check-coredns-versions, golangci-lint, kube-api-linter, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  check-coredns-versions: any of: ^api/versions/coredns.go$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  kube-api-linter: any of: ((^api/(.*\.go|go.mod|go.sum))|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/helm-chart-bundler/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$

update third-party/capx version
  hack/third-party/capx/go.mod
  hack/third-party/capx/go.sum
Due: go-generate, golangci-lint, apis-sync

fix: Use v1beta1 selectors for certain v5 handlers
  common/pkg/capi/clustertopology/patches/selectors/selectors.go
  common/pkg/testutils/capitest/request/items.go
  pkg/handlers/v5/generic/mutation/coredns/inject.go
  pkg/handlers/v5/generic/mutation/coredns/inject_test.go
  pkg/handlers/v5/generic/mutation/etcd/inject.go
  pkg/handlers/v5/generic/mutation/etcd/inject_test.go
  pkg/handlers/v5/generic/mutation/handlers.go
Due: go-generate, golangci-lint

build: fix versions in ClusterClass sync script
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/aws-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/eks-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  hack/examples/sync.sh
  hack/tools/clusterclass-v1beta2/main.go
Due: go-generate, golangci-lint, chart-docs, examples-sync

fix: remove incorrect handlers from v5/eks
  pkg/handlers/v5/eks/mutation/metapatch_handler.go
Due: go-generate, golangci-lint

fix: remove unused imports
  pkg/handlers/v5/eks/mutation/metapatch_handler.go
Due: go-generate, golangci-lint

build: fix versions in ClusterClass sync script (#1559)
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/aws-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/eks-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  hack/examples/sync.sh
  hack/tools/clusterclass-v1beta2/main.go
Due: go-generate, golangci-lint, chart-docs, examples-sync

fix: remove incorrect handlers from v5/eks (#1561)
  pkg/handlers/v5/eks/mutation/metapatch_handler.go
Due: go-generate, golangci-lint

release(main): v0.45.3 (#1562)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

fix: preserve extraAgs alphabetic sorting
  common/pkg/testutils/capitest/request/items.go
  common/pkg/testutils/capitest/request/items_v1beta1.go
  pkg/handlers/generic/mutation/handlers.go
  pkg/handlers/generic/mutation/kubeadm/externalcloudprovider/inject_test.go
  pkg/handlers/generic/mutation/kubeadm/sortextraargs/inject.go
  pkg/handlers/generic/mutation/kubeadm/sortextraargs/inject_test.go
Due: go-generate, golangci-lint

fix: preserve extraAgs alphabetic sorting (#1563)
  common/pkg/testutils/capitest/request/items.go
  common/pkg/testutils/capitest/request/items_v1beta1.go
  pkg/handlers/generic/mutation/handlers.go
  pkg/handlers/generic/mutation/kubeadm/externalcloudprovider/inject_test.go
  pkg/handlers/generic/mutation/kubeadm/sortextraargs/inject.go
  pkg/handlers/generic/mutation/kubeadm/sortextraargs/inject_test.go
Due: go-generate, golangci-lint

release(main): v0.45.4
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

release(main): v0.45.4 (#1565)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

fix: bump multus to v4.2.4
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/multus/kustomization.yaml.tmpl
Due: chart-docs, addons-sync, addons-repo-yaml

fix: have the chart version defined in addons makefile
  hack/addons/kustomize/multus/kustomization.yaml.tmpl
  make/addons.mk
Due: addons-sync

fix: bump multus to v4.2.4 (#1569)
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/multus/kustomization.yaml.tmpl
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

feat(caren): enable kubeconfig upload and render konnector Helm values
  api/go.mod
  api/go.sum
  api/v1alpha1/addon_types.go
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  charts/cluster-api-runtime-extensions-nutanix/addons/konnector-agent/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  go.mod
  go.sum
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/multus/kustomization.yaml.tmpl
  hack/tools/fetch-images/main.go
  make/addons.mk
  pkg/handlers/lifecycle/konnectoragent/handler.go
  pkg/handlers/lifecycle/konnectoragent/variables_test.go
Due: go-generate, golangci-lint, kube-api-linter, chart-docs, addons-sync, addons-repo-yaml

fix(caren): revert multus chart version changes
  charts/cluster-api-runtime-extensions-nutanix/addons/konnector-agent/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

fix(caren): revert unecessayr go mod changes
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: go-generate, golangci-lint, kube-api-linter

fix(caren): fix
  hack/addons/kustomize/multus/kustomization.yaml.tmpl
Due: addons-sync

fix(caren): fix tests
  charts/cluster-api-runtime-extensions-nutanix/addons/konnector-agent/values-template.yaml
Due: chart-docs

fix(caren): make konnector-agent handler non-blocking
  pkg/handlers/lifecycle/konnectoragent/handler.go
Due: go-generate, golangci-lint

fix(caren): fix unit tests
  pkg/handlers/lifecycle/konnectoragent/variables_test.go
Due: go-generate, golangci-lint

build: Add .worktrees/ to gitignore
  .gitignore
Due: none

build: Add Cursor IDE rules and spec-driven development config
  .cursor/commands/speckit.analyze.md
  .cursor/commands/speckit.checklist.md
  .cursor/commands/speckit.clarify.md
  .cursor/commands/speckit.constitution.md
  .cursor/commands/speckit.implement.md
  .cursor/commands/speckit.plan.md
  .cursor/commands/speckit.specify.md
  .cursor/commands/speckit.tasks.md
  .cursor/commands/speckit.taskstoissues.md
  .cursor/rules/copyright-header.mdc
  .cursor/rules/fast-track.mdc
  .cursor/rules/feature-specs.mdc
  .cursor/rules/git-conventions.mdc
  .cursor/rules/markdown-quality.mdc
  .cursor/rules/spec-driven-development.mdc
  .cursor/rules/tone-and-interaction.mdc
  .gitignore
  .pre-commit-config.yaml
  .specify/memory/constitution.md
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  .specify/templates/agent-file-template.md
  .specify/templates/checklist-template.md
  .specify/templates/constitution-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
Due: none

build: Simplify markdownlint exclude for .specify directory
  .pre-commit-config.yaml
Due: none

docs: Add handler documentation requirement to constitution and rules
  .cursor/rules/handler-documentation.mdc
  .specify/memory/constitution.md
Due: none

build: Add handler version safety rule and constitution amendment
  .cursor/rules/handler-version-safety.mdc
  .specify/memory/constitution.md
Due: none

build: Add Jira creation offer to feature spec rules
  .cursor/rules/feature-specs.mdc
  .cursor/rules/spec-driven-development.mdc
Due: none

build: Update speckit commands and add integration config
  .cursor/commands/speckit.analyze.md
  .cursor/commands/speckit.checklist.md
  .cursor/commands/speckit.clarify.md
  .cursor/commands/speckit.constitution.md
  .cursor/commands/speckit.implement.md
  .cursor/commands/speckit.plan.md
  .cursor/commands/speckit.specify.md
  .cursor/commands/speckit.tasks.md
  .cursor/commands/speckit.taskstoissues.md
  .pre-commit-config.yaml
  .specify/init-options.json
  .specify/integration.json
  .specify/integrations/cursor-agent.manifest.json
  .specify/integrations/cursor-agent/scripts/update-context.ps1
  .specify/integrations/cursor-agent/scripts/update-context.sh
  .specify/integrations/speckit.manifest.json
Due: none

fix: fixing client in test
  pkg/handlers/lifecycle/konnectoragent/variables_test.go
Due: go-generate, golangci-lint

docs: [NCN-101538] Add spec and plan for Pod Security Admission
  .specify/features/NCN-101538/plan.md
  .specify/features/NCN-101538/spec.md
Due: none

feat: [NCN-101538] Add shared admissionconfiguration package
  pkg/handlers/generic/mutation/kubeadm/admissionconfiguration/admission_configuration.go
  pkg/handlers/generic/mutation/kubeadm/admissionconfiguration/admission_configuration_test.go
Due: go-generate, golangci-lint
