Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-configmap

golangci-lint:
  name: golangci-lint
  entry: make go-generate lint
  language: system
  pass_filenames: false

hugo-mod-tidy:
  name: hugo-mod-tidy
  entry: bash -c "cd docs && hugo mod tidy"
  language: system
  pass_filenames: false

examples-sync:
  name: examples-sync
  entry: make examples.sync
  language: system
  pass_filenames: false

apis-sync:
  name: apis-sync
  entry: make apis.sync
  language: system
  pass_filenames: false

addons-sync:
  name: addons-sync
  entry: make addons.sync
  language: system
  pass_filenames: false

addons-configmap:
  name: addons-configmap
  entry: make generate-helm-configmap
  language: system
  pass_filenames: false

ci: Run Nutanix E2E on Self Hosted runners
  .github/actionlint.yaml
  .github/workflows/checks.yml
  .github/workflows/e2e.yml
  api/v1alpha1/zz_generated.deepcopy.go
  devbox.json
  devbox.lock
  examples/capi-quick-start/nutanix-cluster-calico-crs.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-crs.yaml
  hack/examples/overlays/clusters/nutanix/calico/crs/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/nutanix/calico/helm-addon/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/nutanix/cilium/crs/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/nutanix/cilium/helm-addon/kustomization.yaml.tmpl
  hack/examples/patches/nutanix/ccm-crs-strategy.yaml
  hack/examples/patches/nutanix/ccm-helm-addon-strategy.yaml
  hack/kind/dns-override.yaml
  hack/tools/redact-artifacts/main.go
  make/all.mk
  make/redact.mk
  test/e2e/config/caren.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/self_hosted_test.go
Due: golangci-lint, examples-sync

ci: update redact-artifacts workflow to always run
  .github/workflows/e2e.yml
Due: none

ci: Add step to validate control plane endpoint is not empty
  .github/workflows/e2e.yml
Due: none

ci: Remove upload artifacts until we have more robust mechanism
  .github/workflows/e2e.yml
  hack/tools/redact-artifacts/main.go
  make/all.mk
  make/redact.mk
Due: golangci-lint

ci: Skip nutanix self-hosted tests until we fix image upload
  .github/workflows/checks.yml
Due: none

build: Update release metadata.yaml (#768)
  docs/content/contributing/releasing.md
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
  test/e2e/e2e_suite_test.go
  test/framework/clusterctl/e2e_config.go
Due: golangci-lint, hugo-mod-tidy

ci: Address review comments
  .github/workflows/e2e.yml
  api/v1alpha1/zz_generated.deepcopy.go
  examples/capi-quick-start/nutanix-cluster-calico-crs.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-crs.yaml
  hack/examples/overlays/clusters/nutanix/calico/crs/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/nutanix/calico/helm-addon/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/nutanix/cilium/crs/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/nutanix/cilium/helm-addon/kustomization.yaml.tmpl
  test/e2e/config/caren.yaml
Due: golangci-lint, examples-sync

ci: Remove redundant strategy patches from nutanix
  hack/examples/patches/nutanix/ccm-crs-strategy.yaml
  hack/examples/patches/nutanix/ccm-helm-addon-strategy.yaml
Due: examples-sync

ci: use matrix to spawn e2e tests in parallel
  .github/workflows/checks.yml
  .github/workflows/e2e.yml
Due: none

ci: Change conditional for cachix action
  .github/workflows/e2e.yml
Due: none

ci: Add name for cachix/install-nix-action
  .github/workflows/e2e.yml
Due: none

ci: uncomment NUTANIX_USER and NUTANIX_PASSWORD in e2e config
  test/e2e/config/caren.yaml
Due: none

ci: Run Nutanix provider e2e tests on self-hosted runner (#755)
  .github/actionlint.yaml
  .github/workflows/checks.yml
  .github/workflows/e2e.yml
  devbox.json
  devbox.lock
  hack/kind/dns-override.yaml
  test/e2e/config/caren.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/self_hosted_test.go
Due: golangci-lint

build: Add images list make target
  .goreleaser.yml
  hack/addons/kustomize/nutanix-storage-csi/kustomization.yaml.tmpl
  hack/addons/list-images.sh
  hack/addons/update-aws-ccm.sh
  hack/addons/update-calico-manifests.sh
  hack/addons/update-cilium-manifests.sh
  hack/addons/update-cluster-autoscaler.sh
  hack/addons/update-node-feature-discovery-manifests.sh
  hack/flakes/flake.nix
  make/addons.mk
Due: addons-sync, addons-configmap

ci: Use coreutils shuf instead of devbox shuf
  .github/workflows/e2e.yml
Due: none

build: Fix devbox run errors due to piped commands
  .github/workflows/checks.yml
  .github/workflows/e2e.yml
  .github/workflows/github-pages.yml
  make/dev.mk
  make/goreleaser.mk
Due: none

build: Fix devbox run errors due to piped commands (#773)
  .github/workflows/checks.yml
  .github/workflows/e2e.yml
  .github/workflows/github-pages.yml
  make/dev.mk
  make/goreleaser.mk
Due: none

feat: Use HelmAddon as default addon strategy
  api/v1alpha1/addon_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  examples/capi-quick-start/aws-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/aws-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/docker-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/docker-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  hack/examples/overlays/clusters/aws/calico/helm-addon/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/aws/cilium/helm-addon/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/docker/calico/helm-addon/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/docker/cilium/helm-addon/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/nutanix/calico/helm-addon/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/nutanix/cilium/helm-addon/kustomization.yaml.tmpl
  hack/examples/patches/aws/helm-addon-strategy.yaml
  hack/examples/patches/docker/csi-helm-addon-strategy.yaml
  hack/examples/patches/helm-addon-strategy.yaml
Due: golangci-lint, examples-sync

fixup! feat: Add waiter for object
  pkg/wait/wait.go
  pkg/wait/wait_test.go
Due: golangci-lint

build: tooling for multiple versions of charts for addon
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/tools/helm-cm/main.go
  hack/tools/mindthegap-helm-reg/main.go
Due: golangci-lint, addons-configmap

test: Verify that namespacesync reconciles updated namespace
  pkg/controllers/namespacesync/controller_test.go
Due: golangci-lint

fix: Namespacesync controller should reconcile an updated namespace
  pkg/controllers/namespacesync/controller.go
Due: golangci-lint

refactor: Reflect purpose of function in its name
  cmd/main.go
  pkg/controllers/namespacesync/controller.go
  pkg/controllers/namespacesync/suite_test.go
Due: golangci-lint

fix: Copy ClusterClasses and Templates without their owner references
  pkg/controllers/namespacesync/copy.go
Due: golangci-lint

fixup! refactor: Reflect purpose of function in its name
  pkg/controllers/namespacesync/controller.go
Due: golangci-lint

fixup! feat: Define ServiceLoadBalancer Configuration API
  api/v1alpha1/addon_types.go
Due: golangci-lint

ci: Fix ct check
  .github/workflows/checks.yml
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/README.md.gotmpl
Due: none

build: Use go 1.22.5 toolchain to fix CVE
  api/go.mod
  common/go.mod
  go.mod
  make/go.mk
Due: golangci-lint

ci: Fix ct check (#779)
  .github/workflows/checks.yml
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/README.md.gotmpl
Due: none

build: Use go 1.22.5 toolchain to fix CVE (#780)
  api/go.mod
  common/go.mod
  go.mod
  make/go.mk
Due: golangci-lint

Path conditions:
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-configmap: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+|make/addons.mk$)
