Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, golangci-lint, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock, check-coredns-versions

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/mindthegap-helm-registry/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$
  check-coredns-versions: any of: ^api/versions/coredns.go$

fixup! build: Revert language compatibility to 1.23
  .golangci.yml
  api/go.mod
  common/go.mod
  common/pkg/capi/clustertopology/handlers/lifecycle/parallel_test.go
  common/pkg/capi/clustertopology/handlers/mutation/meta_test.go
  common/pkg/testutils/capitest/variables.go
  go.mod
  pkg/handlers/generic/lifecycle/csi/handler_test.go
  pkg/handlers/generic/lifecycle/servicelbgc/deleter_test.go
  pkg/handlers/generic/lifecycle/serviceloadbalancer/handler_test.go
  pkg/handlers/generic/mutation/controlplanevirtualip/providers/kubevip_test.go
  pkg/handlers/utils/secrets_test.go
  pkg/wait/wait_test.go
Due: go-generate, golangci-lint

feat: go 1.24.1 and update all other tools (#1066)
  .golangci.yml
  api/go.mod
  common/go.mod
  devbox.json
  devbox.lock
  go.mod
  go.sum
  hack/flakes/flake.lock
  hack/flakes/flake.nix
  pkg/handlers/generic/lifecycle/servicelbgc/deleter_test.go
  pkg/handlers/generic/mutation/controlplanevirtualip/providers/kubevip_test.go
Due: go-generate, golangci-lint, check-devbox-lock

feat: bumped frr-routing to 9.1.3
  charts/cluster-api-runtime-extensions-nutanix/addons/serviceloadbalancer/metallb/values-template.yaml
Due: chart-docs

fixup! build: Run go mod tidy
  api/go.mod
  api/go.sum
  common/go.mod
  go.mod
Due: go-generate, golangci-lint

feat: bumped frr-routing to 9.1.3 (#1067)
  charts/cluster-api-runtime-extensions-nutanix/addons/serviceloadbalancer/metallb/values-template.yaml
Due: chart-docs

build: include kube-vip Pod template in KubeadmControlPlaneTemplate
  .pre-commit-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  hack/addons/update-kube-vip-manifests.sh
  hack/examples/bases/nutanix/clusterclass/kustomization.yaml.tmpl
  hack/examples/files/kube-vip.yaml
  hack/examples/sync.sh
  make/examples.mk
Due: chart-docs, examples-sync, addons-sync

feat: read kube-vip template from KCPTemplate
  common/pkg/testutils/capitest/request/items.go
  pkg/handlers/generic/mutation/controlplanevirtualip/inject.go
  pkg/handlers/generic/mutation/controlplanevirtualip/inject_test.go
  pkg/handlers/generic/mutation/controlplanevirtualip/providers/kubevip.go
  pkg/handlers/generic/mutation/controlplanevirtualip/providers/kubevip_test.go
  pkg/handlers/generic/mutation/controlplanevirtualip/providers/providers.go
  pkg/handlers/generic/mutation/imageregistries/credentials/inject_test.go
  pkg/handlers/nutanix/handlers.go
  pkg/handlers/nutanix/mutation/controlplanevirtualip/inject.go
  pkg/handlers/nutanix/mutation/metapatch_handler.go
Due: go-generate, golangci-lint

fixup! feat: read kube-vip template from KCPTemplate
  pkg/handlers/generic/mutation/controlplanevirtualip/providers/kubevip.go
Due: go-generate, golangci-lint

fixup! feat: read kube-vip template from KCPTemplate
  pkg/handlers/generic/mutation/controlplanevirtualip/inject.go
  pkg/handlers/generic/mutation/controlplanevirtualip/inject_test.go
  pkg/handlers/generic/mutation/controlplanevirtualip/providers/providers.go
Due: go-generate, golangci-lint

ci: Replace deprecated blackduck scan action
  .github/workflows/blackduck.yaml
Due: none

ci: Replace deprecated blackduck scan action (#1070)
  .github/workflows/blackduck.yaml
Due: none

feat: update addons
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.30.8-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.31.5-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.32.1-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cluster-autoscaler/manifests/cluster-autoscaler-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/aws-ebs/manifests/aws-ebs-csi-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/nfd/manifests/node-feature-discovery-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: schema-chart, chart-docs, addons-sync

fix: Tolerate all NoSchedule taints for NFD and CSI deployments
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/aws-ebs/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/local-path/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/nutanix/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/nfd/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/aws-ebs/manifests/aws-ebs-csi-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/local-path/manifests/local-path-provisioner-csi-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/nfd/manifests/node-feature-discovery-configmap.yaml
Due: chart-docs, addons-sync

fix: Retain existing join and init kubeadm config when adding taints
  common/pkg/testutils/capitest/request/items.go
  pkg/handlers/generic/mutation/imageregistries/credentials/inject_test.go
  pkg/handlers/generic/mutation/taints/inject_controlplane.go
  pkg/handlers/generic/mutation/taints/inject_worker.go
Due: go-generate, golangci-lint

feat: update addons (#1072)
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.30.8-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.31.5-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.32.1-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cluster-autoscaler/manifests/cluster-autoscaler-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/aws-ebs/manifests/aws-ebs-csi-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/nfd/manifests/node-feature-discovery-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: schema-chart, chart-docs, addons-sync

fix: Tolerate all NoSchedule taints for NFD and CSI deployments (#1074)
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/aws-ebs/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/local-path/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/nutanix/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/nfd/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/aws-ebs/manifests/aws-ebs-csi-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/local-path/manifests/local-path-provisioner-csi-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/nfd/manifests/node-feature-discovery-configmap.yaml
Due: chart-docs, addons-sync

fix: Retain existing join and init kubeadm config when adding taints (#1073)
  common/pkg/testutils/capitest/request/items.go
  pkg/handlers/generic/mutation/imageregistries/credentials/inject_test.go
  pkg/handlers/generic/mutation/taints/inject_controlplane.go
  pkg/handlers/generic/mutation/taints/inject_worker.go
Due: go-generate, golangci-lint

build: Make dependabot ignores more targeted
  .github/dependabot.yml
Due: none

build: Update k8s.io/{kubelet,utils} deps (#1078)
  .github/dependabot.yml
Due: none

Revert "build: Update k8s.io/{kubelet,utils} deps (#1078)"
  .github/dependabot.yml
Due: none

build: Update k8s.io/kubelet dep
  go.mod
  go.sum
Due: go-generate, golangci-lint

ci: Enable dependabot for hack/tools module
  .github/dependabot.yml
Due: none

revert: "build: Update k8s.io/{kubelet,utils} deps" (#1080)
  .github/dependabot.yml
Due: none

ci: Enable dependabot for hack/tools module (#1082)
  .github/dependabot.yml
Due: none

build: Update k8s.io/kubelet dep (#1081)
  go.mod
  go.sum
Due: go-generate, golangci-lint

fixup! build: Run go mod tidy
  api/go.sum
Due: go-generate, golangci-lint

feat: use latest sidecar images for Nutanix CSI
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/nutanix/values-template.yaml
Due: chart-docs

feat: enable Cilium's hubble relay mTLS
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/values-template.yaml
Due: chart-docs

fixup! ci: Allow blackduck to comment on PR
  .github/workflows/blackduck.yaml
Due: none

ci: Use Kubernetes minor in e2e check name
  .github/workflows/checks.yml
Due: none

ci: Use Kubernetes minor in e2e check name (#1090)
  .github/workflows/checks.yml
Due: none

fixup! build: Sync API and examples
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/awsmachine_types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/awsmanagedcluster_types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/zz_generated.deepcopy.go
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/aws-cluster-class.yaml
  test/e2e/data/shared/v1beta1-capa/metadata.yaml
Due: go-generate, golangci-lint, chart-docs, apis-sync

feat: enable Cilium's hubble relay mTLS (#1086)
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/values-template.yaml
Due: chart-docs

WIP
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/values-template.yaml
  pkg/handlers/generic/lifecycle/cni/cilium/handler.go
  pkg/handlers/generic/lifecycle/cni/cilium/template.go
Due: go-generate, golangci-lint, chart-docs

feat: POC for rotating nutanix credentials
  PROJECT
  api/v1alpha1/crds/caren.nutanix.com_credentialsrequests.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/credentialsrequest_types.go
  api/v1alpha1/nutanix_clusterconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/cluster-api-runtime-extensions-nutanix/crds/caren.nutanix.com_credentialsrequests.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/clusterrolebinding-credentialsrequest.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/credentialsrequest_admin_role.yaml
  cmd/main.go
  go.mod
  pkg/controllers/credentials/controller.go
  pkg/controllers/credentials/controller_test.go
  pkg/controllers/credentials/nutanix_ccm_creds.go
  pkg/controllers/credentials/nutanix_cluster_creds.go
  pkg/controllers/credentials/suite_test.go
  pkg/handlers/nutanix/mutation/metapatch_handler.go
  pkg/handlers/nutanix/mutation/prismcentralendpoint/credentials.go
  pkg/handlers/nutanix/mutation/prismcentralendpoint/inject.go
  pkg/handlers/nutanix/mutation/prismcentralendpoint/inject_test.go
  pkg/handlers/utils/secrets.go
  pkg/handlers/v2/nutanix/mutation/metapatch_handler.go
Due: go-generate, golangci-lint, chart-docs
