Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, check-coredns-versions, golangci-lint, kube-api-linter, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock

schema-chart:
  name: schema-chart
  entry: make schema-chart
  language: system

go-generate:
  name: go-generate
  entry: make go-generate
  language: system
  pass_filenames: false

check-coredns-versions:
  name: check-coredns-versions
  entry: make coredns.sync
  language: system

golangci-lint:
  name: golangci-lint
  entry: make lint
  language: system
  pass_filenames: false

kube-api-linter:
  name: kube-api-linter
  entry: make lint-kube-api
  language: system
  pass_filenames: false

chart-docs:
  name: chart-docs
  entry: make chart-docs
  language: system
  pass_filenames: false

hugo-mod-tidy:
  name: hugo-mod-tidy
  entry: bash -c "cd docs && hugo mod tidy"
  language: system
  pass_filenames: false

examples-sync:
  name: examples-sync
  entry: make examples.sync
  language: system
  pass_filenames: false

apis-sync:
  name: apis-sync
  entry: make apis.sync
  language: system
  pass_filenames: false

addons-sync:
  name: addons-sync
  entry: make addons.sync
  language: system
  pass_filenames: false

addons-repo-yaml:
  name: addons-repo-yaml
  entry: make template-helm-repository
  language: system
  pass_filenames: false

check-devbox-lock:
  name: check-devbox-lock
  entry: devbox install
  language: system
  pass_filenames: false

feat: Metro support milestone-1 QA drop - update CAPX version
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/ahvmetrozone_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanix_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixfailuredomain_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixmachine_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/zz_generated.deepcopy.go
  hack/third-party/capx/go.mod
  hack/third-party/capx/go.sum
Due: go-generate, golangci-lint, kube-api-linter, apis-sync

fix: update crds nutanixclusterconfigs and nutanixworkernodeconfigs
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
Due: none

fix: Bump CCM version to v0.6.2 (#1468)
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

feat: pre-pull cilium images before upgrade (#1456)
  api/v1alpha1/constants.go
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/preflight-values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/helm-addon-installation.yaml
  pkg/handlers/lifecycle/addons/helmaddon.go
  pkg/handlers/lifecycle/addons/interfaces.go
  pkg/handlers/lifecycle/cni/cilium/handler.go
  pkg/handlers/lifecycle/cni/cilium/template.go
  pkg/handlers/lifecycle/cni/cilium/template_test.go
  pkg/handlers/utils/utils.go
Due: go-generate, golangci-lint, kube-api-linter, chart-docs, addons-sync

fix: Bump CCM version to v0.6.2 (#1469)
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

feat: pre-pull cilium images before upgrade (backport) (#1456) (#1470)
  api/v1alpha1/constants.go
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/preflight-values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/helm-addon-installation.yaml
  pkg/handlers/lifecycle/addons/helmaddon.go
  pkg/handlers/lifecycle/addons/interfaces.go
  pkg/handlers/lifecycle/cni/cilium/handler.go
  pkg/handlers/lifecycle/cni/cilium/template.go
  pkg/handlers/lifecycle/cni/cilium/template_test.go
  pkg/handlers/utils/utils.go
Due: go-generate, golangci-lint, kube-api-linter, chart-docs, addons-sync

fix: e2e test failures with the capx version in metadata.yaml
  test/e2e/data/shared/v1beta1-capx/metadata.yaml
Due: none

release(release/v0.41.x): v0.42.0
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

release(release/v0.41.x): v0.41.4
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

fix: release-please generated files
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

release(release/v0.41.x): v0.41.4 (#1473)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

fix: update kubectl betterwait image
  charts/cluster-api-runtime-extensions-nutanix/addons/registry-syncer/values-template.yaml
Due: chart-docs

fix: update cilium version to 1.18.6 (#1458)
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/cilium-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

fix: update cilium version to 1.18.6 [release/v0.41.x] (#1475)
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/cilium-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

release(release/v0.41.x): v0.41.5 (#1476)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

fix: don't use image digests in Cilium preflight
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/preflight-values-template.yaml
  pkg/handlers/lifecycle/cni/cilium/template.go
  pkg/handlers/lifecycle/cni/cilium/template_test.go
Due: go-generate, golangci-lint, chart-docs

fix(release/v0.41.x): don't use image digests in Cilium preflight (#1478)
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/preflight-values-template.yaml
  pkg/handlers/lifecycle/cni/cilium/template.go
  pkg/handlers/lifecycle/cni/cilium/template_test.go
Due: go-generate, golangci-lint, chart-docs

fix: don't use image digests in Cilium preflight (#1477)
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/preflight-values-template.yaml
  pkg/handlers/lifecycle/cni/cilium/template.go
  pkg/handlers/lifecycle/cni/cilium/template_test.go
Due: go-generate, golangci-lint, chart-docs

release(release/v0.41.x): v0.41.6
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

release(release/v0.41.x): v0.41.6 (#1479)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

fix: use image tag instead of digest for cilium preflight
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/preflight-values-template.yaml
  pkg/handlers/lifecycle/cni/cilium/template_test.go
Due: go-generate, golangci-lint, chart-docs

fix: use image tag instead of digest for cilium preflight (#1480)
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/preflight-values-template.yaml
  pkg/handlers/lifecycle/cni/cilium/template_test.go
Due: go-generate, golangci-lint, chart-docs

fix(release/v0.41.x): use image tag instead of digest for cilium preflight (#1480) (#1481)
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/preflight-values-template.yaml
  pkg/handlers/lifecycle/cni/cilium/template_test.go
Due: go-generate, golangci-lint, chart-docs

release(release/v0.41.x): v0.41.7
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

release(release/v0.41.x): v0.41.7 (#1482)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

release(main): v0.43.0
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

fixup! release: Update metadata for release
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: none

release(main): v0.43.0 (#1483)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: hugo-mod-tidy

fix: copy util functions for v1beta1
  common/pkg/capi/clustertopology/handlers/helpers.go
  common/pkg/capi/utils/annotations/helpers.go
  common/pkg/capi/utils/conditions/getter.go
  pkg/controllers/failuredomainrollout/controller.go
  pkg/handlers/lifecycle/addons/helmaddon.go
  pkg/handlers/lifecycle/servicelbgc/deleter.go
  test/e2e/helmreleaseproxy_helpers.go
Due: go-generate, golangci-lint

fix: add v1beta2 to scheme
  cmd/main.go
Due: go-generate, golangci-lint

fix: webhooks decoding v1beta2 clusters
  pkg/webhook/addons/registry/autoenabler.go
  pkg/webhook/cluster/cilium_configuration_validator.go
  pkg/webhook/cluster/clusteruuidlabeler.go
  pkg/webhook/cluster/konnectoragent_legacy_validator.go
  pkg/webhook/cluster/nutanix_validator.go
  pkg/webhook/decoder.go
  pkg/webhook/preflight/preflight.go
Due: go-generate, golangci-lint

test: fix unit tests
  internal/test/envtest/environment.go
  internal/test/kubeconfig/kubeconfig.go
  internal/test/kubeconfig/testing.go
  test/helpers/envtest.go
Due: go-generate, golangci-lint

WIP
  api/external/github.com/nutanix-cloud-native/node-manager/api/v1alpha1/groupversion_info.go
  api/external/github.com/nutanix-cloud-native/node-manager/api/v1alpha1/nodetask_types.go
  api/external/github.com/nutanix-cloud-native/node-manager/api/v1alpha1/zz_generated.deepcopy.go
  api/v1alpha1/constants.go
  cmd/main.go
  common/pkg/capi/clustertopology/handlers/lifecycle/interfaces.go
  common/pkg/server/server.go
  dk-in-place-update-demo.conf
  examples/capi-quick-start/docker-cluster-cilium-helm-addon.yaml
  go.mod
  go.sum
  make/clusterctl.mk
  pkg/handlers/lifecycle/handlers.go
  pkg/handlers/lifecycle/inplaceupdate/artifacts/FINDINGS.md
  pkg/handlers/lifecycle/inplaceupdate/artifacts/capi-post.yaml
  pkg/handlers/lifecycle/inplaceupdate/artifacts/capi-pre.yaml
  pkg/handlers/lifecycle/inplaceupdate/artifacts/capi-pre2.yaml
  pkg/handlers/lifecycle/inplaceupdate/artifacts/cluster-original.yaml
  pkg/handlers/lifecycle/inplaceupdate/artifacts/cluster.yaml
  pkg/handlers/lifecycle/inplaceupdate/artifacts/full-log.log
  pkg/handlers/lifecycle/inplaceupdate/artifacts/logs.log
  pkg/handlers/lifecycle/inplaceupdate/handler.go
  pkg/handlers/lifecycle/inplaceupdate/handler_test.go
Due: go-generate, golangci-lint, kube-api-linter, examples-sync, apis-sync

test harbor csi integration
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/nutanix/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/nutanix-storage-csi/kustomization.yaml.tmpl
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  check-coredns-versions: any of: ^api/versions/coredns.go$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  kube-api-linter: any of: ((^api/(.*\.go|go.mod|go.sum))|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/helm-chart-bundler/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$
