Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, golangci-lint, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock, check-coredns-versions

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/mindthegap-helm-registry/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$
  check-coredns-versions: any of: ^api/versions/coredns.go$

docs: new registryMirror page
  docs/content/addons/registry-mirror.md
Due: hugo-mod-tidy

test: add registryMirror e2e test
  test/e2e/addon_helpers.go
  test/e2e/config/caren.yaml
  test/e2e/quick_start_test.go
  test/e2e/registry_mirror_helpers.go
  test/e2e/self_hosted_test.go
  test/e2e/statefulset_helpers.go
Due: go-generate, golangci-lint

fixup! fix: remove unnecessary code to pre-create the namespace
  pkg/handlers/generic/lifecycle/registrymirror/distribution/handler.go
Due: go-generate, golangci-lint

fixup! docs: package level comment
  pkg/handlers/generic/lifecycle/registrymirror/doc.go
Due: go-generate, golangci-lint

fixup! increase PVC disk size
  charts/cluster-api-runtime-extensions-nutanix/addons/registry-mirror/distribution/values-template.yaml
Due: chart-docs

feat: Fix up Kubelet file permissions
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/aws-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/docker-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  hack/examples/overlays/clusterclasses/aws/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/docker/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/nutanix/kustomization.yaml.tmpl
  hack/examples/patches/initialize-postkubeadmcommands.yaml
  hack/examples/patches/kubelet-file-permissions.yaml
Due: chart-docs, examples-sync

test(e2e): Update Nutanix images
  .github/workflows/checks.yml
  test/e2e/config/caren.yaml
Due: none

fixup! ci: Fix up Nutanix k8s version for e2e
  .github/workflows/e2e.yml
Due: none

ci: Remove Docker k8s v1.30 e2e test in GHA
  .github/workflows/checks.yml
Due: none

fixup! correct log
  test/e2e/statefulset_helpers.go
Due: go-generate, golangci-lint

refactor: rename variable to just registry
  api/v1alpha1/addon_types.go
  api/v1alpha1/constants.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/addons/registry/cncf-distribution/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/registry-mirror/distribution/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/registry/distribution/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  docs/content/addons/registry-mirror.md
  docs/content/addons/registry.md
  examples/capi-quick-start/docker-cluster-calico-crs.yaml
  examples/capi-quick-start/docker-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/docker-cluster-cilium-crs.yaml
  examples/capi-quick-start/docker-cluster-cilium-helm-addon.yaml
  hack/addons/kustomize/cncf-distribution-registry/kustomization.yaml.tmpl
  hack/examples/bases/docker/cluster/kustomization.yaml.tmpl
  hack/examples/patches/docker/registry.yaml
  pkg/handlers/generic/lifecycle/config/cm.go
  pkg/handlers/generic/lifecycle/handlers.go
  pkg/handlers/generic/lifecycle/registry/cncfdistribution/handler.go
  pkg/handlers/generic/lifecycle/registry/doc.go
  pkg/handlers/generic/lifecycle/registry/handler.go
  pkg/handlers/generic/lifecycle/registry/utils/ip.go
  pkg/handlers/generic/lifecycle/registry/utils/ip_test.go
  test/e2e/addon_helpers.go
  test/e2e/registry.go
Due: schema-chart, go-generate, golangci-lint, chart-docs, hugo-mod-tidy, examples-sync, addons-sync

fixup! fix: remove unused function args
  pkg/handlers/generic/mutation/mirrors/inject.go
Due: go-generate, golangci-lint

feat: use registryMirror addon as Containerd mirror
  pkg/handlers/generic/mutation/mirrors/inject.go
  pkg/handlers/generic/mutation/mirrors/inject_test.go
Due: go-generate, golangci-lint

fixup! after rebase
  pkg/handlers/generic/mutation/mirrors/inject.go
  pkg/handlers/generic/mutation/mirrors/inject_test.go
Due: go-generate, golangci-lint

ci: use templating for capx tests
  examples/capi-quick-start/nutanix-cluster-calico-crs.yaml
  examples/capi-quick-start/nutanix-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  hack/examples/patches/nutanix/initialize-variables.yaml
  test/e2e/config/caren.yaml
Due: examples-sync

ci: changes image name to base os
  .github/workflows/e2e.yml
  test/e2e/config/caren.yaml
Due: none

docs: changes quick start docs to use templating
  docs/content/getting-started/create-cluster/nutanix.md
Due: hugo-mod-tidy

refactor: Move Cluster admission webhooks for Nutanix to their own package
  charts/cluster-api-runtime-extensions-nutanix/templates/webhooks.yaml
  hack/update-webhook-configurations.yq
  pkg/webhook/cluster/defaulter.go
  pkg/webhook/cluster/doc.go
  pkg/webhook/cluster/nutanix/doc.go
  pkg/webhook/cluster/nutanix/nutanix_validator.go
  pkg/webhook/cluster/nutanix/nutanix_validator_test.go
  pkg/webhook/cluster/validator.go
  pkg/webhook/cluster/webhook_suite_test.go
Due: go-generate, golangci-lint, chart-docs

test: Return root module root dir when using go.work
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler_test.go
Due: go-generate, golangci-lint

refactor: Register types with scheme using pattern from Cluster API
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/groupversion_info.go
  api/v1alpha1/nodeconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
Due: go-generate, golangci-lint

ci: Remove Docker k8s v1.30 e2e test in GHA (#1122)
  .github/workflows/checks.yml
Due: none

test(e2e): Update Nutanix images (#1121)
  .github/workflows/checks.yml
  .github/workflows/e2e.yml
  test/e2e/config/caren.yaml
Due: none

fixup! fix: rename to CNCFDistribution
  pkg/handlers/generic/lifecycle/registry/cncfdistribution/handler.go
Due: go-generate, golangci-lint

fixup! test: Return root module root dir when using go.work
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler_test.go
Due: go-generate, golangci-lint

fixup! test(e2e): Disable Calico tests (#1120)
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler_test.go
Due: go-generate, golangci-lint

fixup! fix: let CAPI default Service CIDR
  api/v1alpha1/constants.go
  pkg/handlers/generic/lifecycle/registry/utils/ip.go
  pkg/handlers/generic/lifecycle/registry/utils/ip_test.go
Due: go-generate, golangci-lint

fixup! ci: Update e2e baseOS input in checks.yaml
  .github/workflows/checks.yml
Due: none

refactor: Register types with scheme using pattern from Cluster API (#1124)
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/groupversion_info.go
  api/v1alpha1/nodeconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
Due: go-generate, golangci-lint

feat: Admission handler that merges validating handler responses
  pkg/webhook/multi/validating.go
Due: go-generate, golangci-lint

fix: sets image or lookup to nil if the other is set
  pkg/handlers/nutanix/mutation/machinedetails/inject.go
Due: go-generate, golangci-lint

ci: use templating for capx tests (#1123)
  .github/workflows/checks.yml
  .github/workflows/e2e.yml
  docs/content/getting-started/create-cluster/nutanix.md
  examples/capi-quick-start/nutanix-cluster-calico-crs.yaml
  examples/capi-quick-start/nutanix-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  hack/examples/patches/nutanix/initialize-variables.yaml
  pkg/handlers/nutanix/mutation/machinedetails/inject.go
  test/e2e/config/caren.yaml
Due: go-generate, golangci-lint, hugo-mod-tidy, examples-sync

feat: add registry addon (#1116)
  api/v1alpha1/addon_types.go
  api/v1alpha1/constants.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/addons/registry/cncf-distribution/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/registry/distribution/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  docs/content/addons/registry.md
  examples/capi-quick-start/docker-cluster-calico-crs.yaml
  examples/capi-quick-start/docker-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/docker-cluster-cilium-crs.yaml
  examples/capi-quick-start/docker-cluster-cilium-helm-addon.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/cncf-distribution-registry/kustomization.yaml.tmpl
  hack/examples/bases/docker/cluster/kustomization.yaml.tmpl
  hack/examples/patches/docker/registry.yaml
  pkg/handlers/generic/lifecycle/config/cm.go
  pkg/handlers/generic/lifecycle/handlers.go
  pkg/handlers/generic/lifecycle/registry/cncfdistribution/handler.go
  pkg/handlers/generic/lifecycle/registry/doc.go
  pkg/handlers/generic/lifecycle/registry/handler.go
  pkg/handlers/generic/lifecycle/registry/utils/ip.go
  pkg/handlers/generic/lifecycle/registry/utils/ip_test.go
  test/e2e/addon_helpers.go
  test/e2e/config/caren.yaml
  test/e2e/quick_start_test.go
  test/e2e/registry.go
  test/e2e/self_hosted_test.go
  test/e2e/statefulset_helpers.go
Due: schema-chart, go-generate, golangci-lint, chart-docs, hugo-mod-tidy, examples-sync, addons-sync

test: Return root module root dir when using go.work (#1125)
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler_test.go
Due: go-generate, golangci-lint

ci: Add CIS benchmark check
  .github/workflows/checks.yml
  .github/workflows/e2e.yml
  devbox.json
  devbox.lock
  test/e2e/quick_start_test.go
Due: go-generate, golangci-lint, check-devbox-lock
