Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, golangci-lint, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock, check-coredns-versions

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/mindthegap-helm-registry/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$
  check-coredns-versions: any of: ^api/versions/coredns.go$

Initialize Nutanix client in Init
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/client.go
  pkg/webhook/preflight/nutanix/image.go
Due: go-generate, golangci-lint

fixup! refactor: Address review feedback
  common/pkg/testutils/capitest/patches.go
  pkg/handlers/generic/mutation/externalcloudprovider/inject.go
Due: go-generate, golangci-lint

feat(preflight): Storage container checks for Nutanix
  go.mod
  go.sum
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/storagecontainer.go
Due: go-generate, golangci-lint

ci: Add CIS benchmark check
  .github/workflows/checks.yml
  .github/workflows/e2e.yml
  devbox.json
  devbox.lock
  test/e2e/quick_start_test.go
Due: go-generate, golangci-lint, check-devbox-lock

fixup! test(e2e): Use trivy-operator for CIS benchmark
  .github/workflows/checks.yml
  .github/workflows/e2e.yml
  .gitignore
  devbox.json
  devbox.lock
  hack/flakes/flake.nix
  test/e2e/quick_start_test.go
Due: go-generate, golangci-lint, check-devbox-lock

fixup! refactor: Address review feedback
  common/pkg/testutils/capitest/request/items.go
  pkg/handlers/generic/mutation/externalcloudprovider/inject.go
  pkg/handlers/generic/mutation/externalcloudprovider/inject_test.go
Due: go-generate, golangci-lint

fix: Ensure metallb speaker runs on tainted nodepools
  charts/cluster-api-runtime-extensions-nutanix/addons/serviceloadbalancer/metallb/values-template.yaml
Due: chart-docs

feat: CIS benchmark improvements
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/aws-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/docker-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  hack/examples/overlays/clusterclasses/aws/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/docker/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/nutanix/kustomization.yaml.tmpl
  hack/examples/patches/cis-admissionconfiguration.yaml
  hack/examples/patches/cis-kubeadmconfigtemplate.yaml
  hack/examples/patches/cis-kubeadmcontrolplanetemplate.yaml
  hack/examples/patches/cis-kubelet-file-permissions.yaml
  hack/examples/patches/disable-kubeadmcontrolplane-profiling.yaml
  hack/examples/patches/initialize-extravolumes.yaml
  hack/examples/patches/initialize-files.yaml
  hack/examples/patches/initialize-postkubeadmcommands.yaml
  pkg/handlers/generic/mutation/auditpolicy/inject.go
  pkg/handlers/generic/mutation/auditpolicy/inject_test.go
Due: go-generate, golangci-lint, chart-docs, examples-sync

feat: Update all addon versions
  .goreleaser.yml
  .pre-commit-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.33.0-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cluster-autoscaler/manifests/cluster-autoscaler-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/tigera-operator-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/cilium-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/aws-ebs/manifests/aws-ebs-csi-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/snapshot-controller/manifests/snapshot-controller-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/nfd/manifests/node-feature-discovery-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  devbox.lock
  hack/addons/helm-chart-bundler/repos.yaml
  hack/examples/files/kube-vip.yaml
  hack/flakes/flake.lock
  hack/flakes/flake.nix
  make/addons.mk
Due: schema-chart, chart-docs, examples-sync, addons-sync, check-devbox-lock

Factor credentials out from client initialization
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/client.go
  pkg/webhook/preflight/nutanix/credentials.go
  pkg/webhook/preflight/nutanix/image.go
Due: go-generate, golangci-lint

fixup! build: Regenerate CRDs with latest tooling
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
Due: none

fixup! ci: Run on latest GH runner
  .github/workflows/backport.yml
  .github/workflows/blackduck.yaml
  .github/workflows/checks.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/conventional-label.yml
  .github/workflows/conventional-pr-title.yml
  .github/workflows/dependabot-automation.yml
  .github/workflows/devbox-update.yml
  .github/workflows/github-pages.yml
  .github/workflows/govulncheck.yml
  .github/workflows/release-please.yml
  .github/workflows/release-tag.yml
  .github/workflows/stacked-prs.yml
  docs/content/addons/cni.md
Due: hugo-mod-tidy

fixup! revert: Calico 3.29.3
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/tigera-operator-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync

Refactor error handling to report relevant fields
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/client.go
  pkg/webhook/preflight/nutanix/credentials.go
  pkg/webhook/preflight/nutanix/image.go
  pkg/webhook/preflight/nutanix/specs.go
Due: go-generate, golangci-lint

Remove unused preflight util package
  pkg/webhook/preflight/util/variables.go
Due: go-generate, golangci-lint

Get credentials as part of create client function
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/credentials.go
  pkg/webhook/preflight/nutanix/image.go
  pkg/webhook/preflight/nutanix/specs.go
Due: go-generate, golangci-lint

fix: Ensure metallb speaker runs on tainted nodepools (#1138)
  charts/cluster-api-runtime-extensions-nutanix/addons/serviceloadbalancer/metallb/values-template.yaml
Due: chart-docs

fixup! better function name
  pkg/handlers/generic/lifecycle/registry/cncfdistribution/handler.go
  pkg/handlers/generic/lifecycle/registry/utils/tls.go
  pkg/handlers/generic/lifecycle/registry/utils/tls_integration_test.go
Due: go-generate, golangci-lint

Fix formatting, precommit and linter errors
  pkg/webhook/preflight/nutanix/credentials.go
  pkg/webhook/preflight/nutanix/image.go
  pkg/webhook/preflight/nutanix/specs.go
Due: go-generate, golangci-lint

docs: document how the certificate is handled
  docs/content/addons/registry-certificate.png
  docs/content/addons/registry.md
Due: hugo-mod-tidy

fixup! feat: Add preflight checks framework
  pkg/webhook/preflight/preflight.go
  pkg/webhook/preflight/preflight_test.go
Due: go-generate, golangci-lint

feat: Add k8s version logic for external cloud-provider flag (#1134)
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/aws-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  common/pkg/capi/clustertopology/variables/variable.go
  common/pkg/testutils/capitest/patches.go
  common/pkg/testutils/capitest/request/items.go
  hack/examples/bases/aws/clusterclass/kustomization.yaml.tmpl
  hack/examples/bases/nutanix/clusterclass/kustomization.yaml.tmpl
  pkg/handlers/generic/mutation/externalcloudprovider/inject.go
  pkg/handlers/generic/mutation/externalcloudprovider/inject_test.go
  pkg/handlers/generic/mutation/handlers.go
Due: go-generate, golangci-lint, chart-docs, examples-sync

feat: Update all addon versions (#1139)
  .github/workflows/backport.yml
  .github/workflows/blackduck.yaml
  .github/workflows/checks.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/conventional-label.yml
  .github/workflows/conventional-pr-title.yml
  .github/workflows/dependabot-automation.yml
  .github/workflows/devbox-update.yml
  .github/workflows/github-pages.yml
  .github/workflows/govulncheck.yml
  .github/workflows/release-please.yml
  .github/workflows/release-tag.yml
  .github/workflows/stacked-prs.yml
  .goreleaser.yml
  .pre-commit-config.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.33.0-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cluster-autoscaler/manifests/cluster-autoscaler-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/cilium-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/aws-ebs/manifests/aws-ebs-csi-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/snapshot-controller/manifests/snapshot-controller-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/nfd/manifests/node-feature-discovery-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  devbox.lock
  docs/content/addons/cni.md
  hack/addons/helm-chart-bundler/repos.yaml
  hack/examples/files/kube-vip.yaml
  hack/flakes/flake.lock
  hack/flakes/flake.nix
  make/addons.mk
Due: schema-chart, chart-docs, hugo-mod-tidy, examples-sync, addons-sync, check-devbox-lock

feat: Nutanix VM image preflight check
  cmd/main.go
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/client.go
  pkg/webhook/preflight/nutanix/image.go
Due: go-generate, golangci-lint

fixup! feat: Nutanix VM image preflight check
  go.mod
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/client.go
  pkg/webhook/preflight/nutanix/image.go
Due: go-generate, golangci-lint

fixup! feat: Nutanix VM image preflight check
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/client.go
  pkg/webhook/preflight/nutanix/image.go
  pkg/webhook/preflight/nutanix/variables.go
Due: go-generate, golangci-lint

fixup! feat: Nutanix VM image preflight check
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/client.go
  pkg/webhook/preflight/nutanix/image.go
  pkg/webhook/preflight/nutanix/variables.go
  pkg/webhook/preflight/util/variables.go
Due: go-generate, golangci-lint

fixup! feat: Nutanix VM image preflight check
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/image.go
Due: go-generate, golangci-lint

fixup! feat: Nutanix VM image preflight check
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/client.go
  pkg/webhook/preflight/nutanix/image.go
Due: go-generate, golangci-lint

fixup! feat: Nutanix VM image preflight check
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/client.go
  pkg/webhook/preflight/nutanix/credentials.go
  pkg/webhook/preflight/nutanix/image.go
Due: go-generate, golangci-lint

fixup! feat: Nutanix VM image preflight check
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/client.go
  pkg/webhook/preflight/nutanix/credentials.go
  pkg/webhook/preflight/nutanix/image.go
  pkg/webhook/preflight/nutanix/specs.go
Due: go-generate, golangci-lint

fixup! feat: Nutanix VM image preflight check
  pkg/webhook/preflight/util/variables.go
Due: go-generate, golangci-lint

fixup! feat: Nutanix VM image preflight check
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/credentials.go
  pkg/webhook/preflight/nutanix/image.go
  pkg/webhook/preflight/nutanix/specs.go
Due: go-generate, golangci-lint

fixup! feat: Nutanix VM image preflight check
  pkg/webhook/preflight/nutanix/credentials.go
  pkg/webhook/preflight/nutanix/image.go
  pkg/webhook/preflight/nutanix/specs.go
Due: go-generate, golangci-lint

fixup! feat: Nutanix VM image preflight check
  pkg/webhook/preflight/nutanix/image.go
Due: go-generate, golangci-lint

feat: generate a self-signed cert for registry addon (#1127)
  charts/cluster-api-runtime-extensions-nutanix/addons/registry/cncf-distribution/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/certificates.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  docs/content/addons/registry-certificate.png
  docs/content/addons/registry.md
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/cncf-distribution-registry/kustomization.yaml.tmpl
  pkg/handlers/generic/lifecycle/registry/cncfdistribution/handler.go
  pkg/handlers/generic/lifecycle/registry/cncfdistribution/handler_test.go
  pkg/handlers/generic/lifecycle/registry/handler.go
  pkg/handlers/generic/lifecycle/registry/utils/tls.go
  pkg/handlers/generic/lifecycle/registry/utils/tls_integration_test.go
  pkg/handlers/generic/lifecycle/registry/utils/tls_test.go
  pkg/handlers/generic/lifecycle/registry/utils/utils_suite_test.go
  pkg/handlers/generic/mutation/mirrors/inject.go
  pkg/handlers/generic/mutation/mirrors/inject_test.go
  pkg/handlers/utils/owner_reference.go
  pkg/handlers/utils/owner_reference_test.go
  pkg/handlers/utils/secrets.go
  pkg/handlers/utils/secrets_integration_test.go
  pkg/handlers/utils/utils.go
  test/helpers/envtest.go
Due: go-generate, golangci-lint, chart-docs, hugo-mod-tidy, addons-sync

feat: CIS benchmark improvements
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/aws-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/docker-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  hack/examples/overlays/clusterclasses/aws/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/docker/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/nutanix/kustomization.yaml.tmpl
  hack/examples/patches/cis-admissionconfiguration.yaml
  hack/examples/patches/cis-kubeadmconfigtemplate-kubelet-file-permissions.yaml
  hack/examples/patches/cis-kubeadmconfigtemplate.yaml
  hack/examples/patches/cis-kubeadmcontrolplanetemplate-kubelet-file-permissions.yaml
  hack/examples/patches/cis-kubeadmcontrolplanetemplate.yaml
  hack/examples/patches/disable-kubeadmcontrolplane-profiling.yaml
  hack/examples/patches/initialize-extravolumes.yaml
  hack/examples/patches/initialize-files.yaml
  hack/examples/patches/initialize-kubeadmconfigtemplate-postkubeadmcommands.yaml
  hack/examples/patches/initialize-kubeadmcontrolplanetemplate-postkubeadmcommands.yaml
  pkg/handlers/generic/mutation/auditpolicy/inject.go
  pkg/handlers/generic/mutation/auditpolicy/inject_test.go
Due: go-generate, golangci-lint, chart-docs, examples-sync

fixup! refactor: Update kubelet TLS ciphers
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/aws-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/docker-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  hack/examples/patches/cis-kubeadmconfigtemplate.yaml
  hack/examples/patches/cis-kubeadmcontrolplanetemplate.yaml
Due: chart-docs, examples-sync

fixup! refactor: Update for CAPI 1.10 APIs
  cmd/main.go
  hack/examples/bases/docker/cluster/kustomization.yaml.tmpl
  internal/test/envtest/environment.go
  make/clusterctl.mk
  pkg/controllers/namespacesync/references.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/strategy_crs.go
  pkg/handlers/generic/lifecycle/csi/handler_test.go
  pkg/handlers/generic/lifecycle/servicelbgc/deleter_test.go
  pkg/handlers/generic/lifecycle/serviceloadbalancer/handler_test.go
  pkg/handlers/generic/mutation/controlplanevirtualip/inject_test.go
  pkg/handlers/generic/mutation/controlplanevirtualip/providers/kubevip_test.go
  pkg/handlers/generic/mutation/coredns/inject_test.go
  pkg/handlers/utils/utils.go
  pkg/handlers/v2/generic/mutation/controlplanevirtualip/inject_test.go
  pkg/handlers/v2/generic/mutation/controlplanevirtualip/providers/kubevip_test.go
  pkg/webhook/cluster/webhook_suite_test.go
  pkg/webhook/cluster/webhook_test.go
  test/e2e/ccm_helpers.go
  test/e2e/clusterautoscaler_helpers.go
  test/e2e/cni_helpers.go
  test/e2e/csi_helpers.go
  test/e2e/data/shared/v1beta1/metadata.yaml
  test/e2e/framework/nutanix/client.go
  test/e2e/framework/self_hosted.go
  test/e2e/nfd_helpers.go
  test/e2e/ownerreference_helpers.go
  test/e2e/quick_start_test.go
Due: go-generate, golangci-lint, examples-sync
