Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, check-coredns-versions, golangci-lint, kube-api-linter, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock

schema-chart:
  name: schema-chart
  entry: make schema-chart
  language: system

go-generate:
  name: go-generate
  entry: make go-generate
  language: system
  pass_filenames: false

check-coredns-versions:
  name: check-coredns-versions
  entry: make coredns.sync
  language: system

golangci-lint:
  name: golangci-lint
  entry: make lint
  language: system
  pass_filenames: false

kube-api-linter:
  name: kube-api-linter
  entry: make lint-kube-api
  language: system
  pass_filenames: false

chart-docs:
  name: chart-docs
  entry: make chart-docs
  language: system
  pass_filenames: false

hugo-mod-tidy:
  name: hugo-mod-tidy
  entry: bash -c "cd docs && hugo mod tidy"
  language: system
  pass_filenames: false

examples-sync:
  name: examples-sync
  entry: make examples.sync
  language: system
  pass_filenames: false

apis-sync:
  name: apis-sync
  entry: make apis.sync
  language: system
  pass_filenames: false

addons-sync:
  name: addons-sync
  entry: make addons.sync
  language: system
  pass_filenames: false

addons-repo-yaml:
  name: addons-repo-yaml
  entry: make template-helm-repository
  language: system
  pass_filenames: false

check-devbox-lock:
  name: check-devbox-lock
  entry: devbox install
  language: system
  pass_filenames: false

feat: updating konnector-agent chart version (#1388)
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  docs/content/addons/konnector-agent.md
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, hugo-mod-tidy, addons-sync, addons-repo-yaml

release(main): v0.38.0
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

fixup! release: Update metadata for release
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: none

release(main): v0.38.0 (#1389)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: hugo-mod-tidy

fix(bumpup): CAPX, Prism-Go-Client, CCM version bumup
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/conditions.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanix_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixfailuredomain_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixmachine_types.go
  api/go.mod
  api/go.sum
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  examples/capi-quick-start/aws-cluster-calico-crs.yaml
  examples/capi-quick-start/aws-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/aws-cluster-cilium-crs.yaml
  examples/capi-quick-start/aws-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/docker-cluster-calico-crs.yaml
  examples/capi-quick-start/docker-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/docker-cluster-cilium-crs.yaml
  examples/capi-quick-start/docker-cluster-cilium-helm-addon.yaml
  go.mod
  go.sum
  hack/addons/helm-chart-bundler/repos.yaml
  hack/third-party/capx/go.mod
  hack/third-party/capx/go.sum
  make/addons.mk
  make/apis.mk
  pkg/webhook/preflight/nutanix/clients.go
  test/e2e/framework/nutanix/client.go
  test/e2e/framework/nutanix/cluster.go
Due: go-generate, golangci-lint, kube-api-linter, chart-docs, examples-sync, apis-sync, addons-sync, addons-repo-yaml

refactor: rename old handler to v4
  pkg/handlers/aws/handlers.go
  pkg/handlers/docker/handlers.go
  pkg/handlers/generic/handlers.go
  pkg/handlers/nutanix/handlers.go
  pkg/handlers/v4/aws/mutation/metapatch_handler.go
  pkg/handlers/v4/docker/mutation/metapatch_handler.go
  pkg/handlers/v4/generic/mutation/auditpolicy/embedded/apiserver-audit-policy.yaml
  pkg/handlers/v4/generic/mutation/auditpolicy/inject.go
  pkg/handlers/v4/generic/mutation/auditpolicy/inject_test.go
  pkg/handlers/v4/generic/mutation/handlers.go
  pkg/handlers/v4/generic/mutation/metapatch_handler.go
  pkg/handlers/v4/nutanix/mutation/metapatch_handler.go
Due: go-generate, golangci-lint

fix: move older version of the auditpolicy handler to v4
  pkg/handlers/v4/generic/mutation/auditpolicy/inject.go
  pkg/handlers/v4/generic/mutation/auditpolicy/inject_test.go
Due: go-generate, golangci-lint

refactor: rename handler to v5
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/aws-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/docker-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/eks-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  docs/content/getting-started/integrating-with-your-clusterclass/_index.md
  hack/examples/overlays/clusterclasses/aws/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/docker/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/eks/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/nutanix/kustomization.yaml.tmpl
  pkg/handlers/aws/mutation/metapatch_handler.go
  pkg/handlers/docker/mutation/metapatch_handler.go
  pkg/handlers/eks/mutation/metapatch_handler.go
  pkg/handlers/generic/mutation/metapatch_handler.go
  pkg/handlers/nutanix/mutation/metapatch_handler.go
  pkg/handlers/v4/aws/mutation/metapatch_handler.go
  pkg/handlers/v4/docker/mutation/metapatch_handler.go
  pkg/handlers/v4/generic/mutation/metapatch_handler.go
  pkg/handlers/v4/nutanix/mutation/metapatch_handler.go
Due: go-generate, golangci-lint, chart-docs, hugo-mod-tidy, examples-sync

fix: Update CAPX API types to v1.8.0
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/conditions.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanix_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixfailuredomain_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixmachine_types.go
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  hack/third-party/capx/go.mod
  hack/third-party/capx/go.sum
Due: go-generate, golangci-lint, kube-api-linter, apis-sync

fix: use placeholder image name for capx
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  hack/examples/overlays/clusterclasses/nutanix/kustomization.yaml.tmpl
  hack/examples/patches/nutanix/remove-cluster-and-subnet-from-machinetemplates.yaml
Due: chart-docs, examples-sync

fix(bumpup): CAPX, Prism-Go-Client, CCM version bumup
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/conditions.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanix_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixfailuredomain_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixmachine_types.go
  api/go.mod
  api/go.sum
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  go.mod
  go.sum
  hack/examples/overlays/clusterclasses/nutanix/kustomization.yaml.tmpl
  hack/third-party/capx/go.mod
  hack/third-party/capx/go.sum
  pkg/webhook/preflight/nutanix/clients.go
  test/e2e/framework/nutanix/client.go
  test/e2e/framework/nutanix/cluster.go
Due: go-generate, golangci-lint, kube-api-linter, chart-docs, examples-sync, apis-sync

fix: removing invalid kustomization based on new template
  hack/examples/overlays/clusterclasses/nutanix/kustomization.yaml.tmpl
Due: examples-sync

fix: bump up the version metadata
  test/e2e/data/shared/v1beta1-capx/metadata.yaml
Due: none

fix(bumpup): CAPX, Prism-Go-Client, CCM version bumup (#1393)
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/conditions.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanix_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixfailuredomain_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixmachine_types.go
  api/go.mod
  api/go.sum
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  go.mod
  go.sum
  hack/examples/overlays/clusterclasses/nutanix/kustomization.yaml.tmpl
  hack/third-party/capx/go.mod
  hack/third-party/capx/go.sum
  pkg/webhook/preflight/nutanix/clients.go
  test/e2e/data/shared/v1beta1-capx/metadata.yaml
  test/e2e/framework/nutanix/client.go
  test/e2e/framework/nutanix/cluster.go
Due: go-generate, golangci-lint, kube-api-linter, chart-docs, examples-sync, apis-sync

release(main): v0.39.0
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: hugo-mod-tidy

release(main): v0.39.0
  test/e2e/config/caren.yaml
Due: none

release(main): v0.39.0 (#1395)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: hugo-mod-tidy

refactor: Stricter EKS kube-proxy mode in Go API
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_eksclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  make/go.mk
  pkg/handlers/generic/mutation/generic/kubeproxymode/inject_test.go
Due: go-generate, golangci-lint, kube-api-linter

Revert "release(main): v0.39.0 (#1395)"
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: hugo-mod-tidy

fix: Revert "release(main): v0.39.0 (#1395)" (#1396)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: hugo-mod-tidy

fix: auditpolicy handler causing unwanted rollout (#1391)
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/aws-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/docker-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/eks-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  docs/content/getting-started/integrating-with-your-clusterclass/_index.md
  hack/examples/overlays/clusterclasses/aws/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/docker/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/eks/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/nutanix/kustomization.yaml.tmpl
  pkg/handlers/aws/handlers.go
  pkg/handlers/aws/mutation/metapatch_handler.go
  pkg/handlers/docker/handlers.go
  pkg/handlers/docker/mutation/metapatch_handler.go
  pkg/handlers/eks/mutation/metapatch_handler.go
  pkg/handlers/generic/handlers.go
  pkg/handlers/generic/mutation/metapatch_handler.go
  pkg/handlers/nutanix/handlers.go
  pkg/handlers/nutanix/mutation/metapatch_handler.go
  pkg/handlers/v4/aws/mutation/metapatch_handler.go
  pkg/handlers/v4/docker/mutation/metapatch_handler.go
  pkg/handlers/v4/generic/mutation/auditpolicy/embedded/apiserver-audit-policy.yaml
  pkg/handlers/v4/generic/mutation/auditpolicy/inject.go
  pkg/handlers/v4/generic/mutation/auditpolicy/inject_test.go
  pkg/handlers/v4/generic/mutation/handlers.go
  pkg/handlers/v4/generic/mutation/metapatch_handler.go
  pkg/handlers/v4/nutanix/mutation/metapatch_handler.go
Due: go-generate, golangci-lint, chart-docs, hugo-mod-tidy, examples-sync

fix: Bump Helm dependency to fix CVEs
  go.mod
  go.sum
Due: go-generate, golangci-lint

release(main): v0.38.1
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

build: allow for shorter commit body
  .gitlint
Due: none

fix: Bump Helm dependency to fix CVEs
  go.mod
  go.sum
  hack/flakes/flake.lock
  hack/tools/go.mod
  hack/tools/go.sum
Due: go-generate, golangci-lint

build: release as 0.39.0 (#1399)
  .gitlint
Due: none

fix: Bump Helm dependency to fix CVEs (#1398)
  go.mod
  go.sum
  hack/flakes/flake.lock
  hack/tools/go.mod
  hack/tools/go.sum
Due: go-generate, golangci-lint

fixup! build: release as 0.39.0 (#1399)
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: none

release(main): v0.39.0 (#1400)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: hugo-mod-tidy

fix: updating nutanix-cloud-provider to v0.6.0
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

fix: updating nutanix-cloud-provider to v0.6.0 (#1401)
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

release(main): v0.39.1
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

release(main): v0.39.1 (#1402)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

build(deps): Bump cluster-api-provider-nutanix
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanix_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixfailuredomain_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixmachine_types.go
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
Due: go-generate, golangci-lint, kube-api-linter, chart-docs, apis-sync

fixup! build: Sync APIs and examples
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanix_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixfailuredomain_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixmachine_types.go
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
Due: go-generate, golangci-lint, kube-api-linter, chart-docs, apis-sync

refactor: update namespace sync configuration to use label selector
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/templates/deployment.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  cmd/main.go
  pkg/controllers/namespacesync/controller.go
  pkg/controllers/namespacesync/copy.go
  pkg/controllers/namespacesync/flags.go
  pkg/controllers/namespacesync/label.go
  pkg/controllers/namespacesync/label_test.go
  pkg/controllers/namespacesync/references.go
  pkg/controllers/namespacesync/suite_test.go
Due: schema-chart, go-generate, golangci-lint, chart-docs

build(deps): Bump cluster-api-provider-nutanix (#1407)
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanix_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixfailuredomain_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixmachine_types.go
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  hack/third-party/capx/go.mod
  hack/third-party/capx/go.sum
Due: go-generate, golangci-lint, kube-api-linter, chart-docs, apis-sync

fix: avoid using Helm for legacy agent webhook
  go.mod
  go.sum
  pkg/webhook/cluster/konnectoragent_legacy_validator.go
  pkg/webhook/cluster/konnectoragent_legacy_validator_test.go
Due: go-generate, golangci-lint

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  check-coredns-versions: any of: ^api/versions/coredns.go$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  kube-api-linter: any of: ((^api/(.*\.go|go.mod|go.sum))|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/helm-chart-bundler/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$
