Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, golangci-lint, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock, check-coredns-versions

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/mindthegap-helm-registry/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$
  check-coredns-versions: any of: ^api/versions/coredns.go$

fix: Include correct field name in registry preflight check results (#1194)
  pkg/webhook/preflight/generic/registry.go
  pkg/webhook/preflight/generic/registry_test.go
Due: go-generate, golangci-lint

feat: deploy registry syncer for workload clusters (#1189)
  .pre-commit-config.yaml
  api/v1alpha1/constants.go
  api/variables/getters.go
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/addons/registry-syncer/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/registry-syncer/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  docs/content/addons/registry.md
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/registry-syncer/kustomization.yaml.tmpl
  pkg/feature/feature.go
  pkg/handlers/generic/lifecycle/config/cm.go
  pkg/handlers/generic/lifecycle/registry/cncfdistribution/handler.go
  pkg/handlers/generic/lifecycle/registry/handler.go
  pkg/handlers/generic/lifecycle/registry/syncer/syncer.go
  pkg/handlers/generic/lifecycle/registry/syncer/syncer_integration_test.go
  pkg/handlers/generic/lifecycle/registry/syncer/syncer_suite_test.go
  pkg/handlers/generic/lifecycle/registry/syncer/syncer_test.go
  pkg/handlers/generic/lifecycle/registry/syncer/testdata/registry-syncer-template.yaml.tmpl
  pkg/handlers/generic/lifecycle/registry/syncer/testdata/registry-syncer-values.yaml
  pkg/handlers/generic/lifecycle/registry/utils/registry_metadata.go
  pkg/handlers/generic/lifecycle/registry/utils/registry_metadata_test.go
  pkg/webhook/addons/registry/autoenabler.go
Due: schema-chart, go-generate, golangci-lint, chart-docs, hugo-mod-tidy, addons-sync

test: Verify preflight skipped on cluster update
  pkg/webhook/preflight/preflight_test.go
Due: go-generate, golangci-lint

fix: add tolerations and nodeAffinity overrides for registry addon
  charts/cluster-api-runtime-extensions-nutanix/addons/registry/cncf-distribution/values-template.yaml
Due: chart-docs

fix: add AntiAffinity rules for registry addon
  charts/cluster-api-runtime-extensions-nutanix/addons/registry/cncf-distribution/values-template.yaml
Due: chart-docs

test: unit test to verify if anti affinity is set
  charts/cluster-api-runtime-extensions-nutanix/addons/registry/cncf-distribution/values-template.yaml
  test/e2e/quick_start_test.go
  test/e2e/registry.go
  test/e2e/self_hosted_test.go
  test/e2e/statefulset_helpers.go
Due: go-generate, golangci-lint, chart-docs

fix: use fixed pod affinity label
  charts/cluster-api-runtime-extensions-nutanix/addons/registry/cncf-distribution/values-template.yaml
  test/e2e/registry.go
Due: go-generate, golangci-lint, chart-docs

fix: add tolerations and nodeAffinity overrides for registry addon (#1183)
  charts/cluster-api-runtime-extensions-nutanix/addons/registry/cncf-distribution/values-template.yaml
  test/e2e/quick_start_test.go
  test/e2e/registry.go
  test/e2e/self_hosted_test.go
  test/e2e/statefulset_helpers.go
Due: go-generate, golangci-lint, chart-docs

fix(preflight): Loosen up the regex for checking vm image name
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck.go
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck_test.go
Due: go-generate, golangci-lint

feat(preflight): Add VM Image kubernetes version check
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/checker_test.go
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck.go
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck_test.go
Due: go-generate, golangci-lint

fix(preflight): remove 'nkp' mentions in examples and tests
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck.go
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck_test.go
Due: go-generate, golangci-lint

fix(preflight): remove warnings when no image found
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck.go
Due: go-generate, golangci-lint

fix(preflight): fix unit tests
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck_test.go
Due: go-generate, golangci-lint

fix(preflight): change error boolean for checkKubernetesVersion error
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck.go
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck_test.go
Due: go-generate, golangci-lint

fix(preflight): simplify the check to substring match k8s version in image name
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck.go
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck_test.go
Due: go-generate, golangci-lint

fix(preflight): Add unit test for imageLookup not supported
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck_test.go
Due: go-generate, golangci-lint

fix(preflight): Add unit test for client not initialized
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck_test.go
Due: go-generate, golangci-lint

fix(preflight): Expand unit test coverage to worker configuration
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck_test.go
Due: go-generate, golangci-lint

fix(preflight): Unit tests for no image found by uuid, or error
  pkg/webhook/preflight/nutanix/image.go
  pkg/webhook/preflight/nutanix/image_test.go
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck_test.go
Due: go-generate, golangci-lint

fix(preflight): Update the field to image
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck.go
Due: go-generate, golangci-lint

feat(preflight): Add VM Image kubernetes version check (#1172)
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/checker_test.go
  pkg/webhook/preflight/nutanix/image.go
  pkg/webhook/preflight/nutanix/image_test.go
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck.go
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck_test.go
Due: go-generate, golangci-lint

fix: include GenericNodeSpec in aggregate type (#1182)
  api/variables/aggregate_types.go
Due: go-generate, golangci-lint

feat: update CAPX for NuanixFailureDomain support
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/conditions.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixcluster_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixfailuredomain_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixmachine_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/zz_generated.deepcopy.go
  hack/examples/bases/nutanix/clusterclass/kustomization.yaml.tmpl
  hack/third-party/capx/go.mod
  hack/third-party/capx/go.sum
Due: go-generate, golangci-lint, examples-sync, apis-sync

fix(test): upgate test/e2e/data/shared/v1beta1-capx/metadata.yaml
  test/e2e/data/shared/v1beta1-capx/metadata.yaml
Due: none

feat: CAREN support for NutanixFailureDomain
  api/v1alpha1/controlplane_types.go
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  api/v1alpha1/nodeconfig_types.go
  api/v1alpha1/nutanix_node_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/variables/aggregate_types.go
  pkg/handlers/generic/mutation/kubeproxymode/variables_test.go
  pkg/handlers/nutanix/mutation/controlplanefailuredomains/inject.go
  pkg/handlers/nutanix/mutation/controlplanefailuredomains/inject_test.go
  pkg/handlers/nutanix/mutation/controlplanefailuredomains/variables_test.go
  pkg/handlers/nutanix/mutation/machinedetails/variables_test.go
  pkg/handlers/nutanix/mutation/metapatch_handler.go
  pkg/webhook/preflight/nutanix/checker_test.go
  pkg/webhook/preflight/nutanix/image_test.go
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck_test.go
  pkg/webhook/preflight/nutanix/storagecontainer.go
  pkg/webhook/preflight/nutanix/storagecontainer_test.go
Due: go-generate, golangci-lint

feat: CAREN support for NutanixFailureDomain (#1192)
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/conditions.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixcluster_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixfailuredomain_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixmachine_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/zz_generated.deepcopy.go
  api/v1alpha1/controlplane_types.go
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  api/v1alpha1/nodeconfig_types.go
  api/v1alpha1/nutanix_node_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/variables/aggregate_types.go
  hack/examples/bases/nutanix/clusterclass/kustomization.yaml.tmpl
  hack/third-party/capx/go.mod
  hack/third-party/capx/go.sum
  pkg/handlers/generic/mutation/kubeproxymode/variables_test.go
  pkg/handlers/nutanix/mutation/controlplanefailuredomains/inject.go
  pkg/handlers/nutanix/mutation/controlplanefailuredomains/inject_test.go
  pkg/handlers/nutanix/mutation/controlplanefailuredomains/variables_test.go
  pkg/handlers/nutanix/mutation/machinedetails/variables_test.go
  pkg/handlers/nutanix/mutation/metapatch_handler.go
  pkg/webhook/preflight/nutanix/checker_test.go
  pkg/webhook/preflight/nutanix/image_test.go
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck_test.go
  pkg/webhook/preflight/nutanix/storagecontainer.go
  pkg/webhook/preflight/nutanix/storagecontainer_test.go
  test/e2e/data/shared/v1beta1-capx/metadata.yaml
Due: go-generate, golangci-lint, examples-sync, apis-sync

fix: Limit Nutanix credentials check internal errors
  pkg/webhook/preflight/nutanix/credentials.go
  pkg/webhook/preflight/nutanix/credentials_test.go
Due: go-generate, golangci-lint

refactor: Improve documentation of preflight types
  pkg/webhook/preflight/preflight.go
Due: go-generate, golangci-lint

fix: Registry preflight check missing secret is not an internal error
  pkg/webhook/preflight/generic/registry.go
  pkg/webhook/preflight/generic/registry_test.go
Due: go-generate, golangci-lint

fixup! fix: Limit Nutanix credentials check internal errors
  pkg/webhook/preflight/nutanix/credentials_test.go
Due: go-generate, golangci-lint

refactor: Rename CheckResult Error to InternalError
  pkg/webhook/preflight/generic/registry.go
  pkg/webhook/preflight/generic/registry_test.go
  pkg/webhook/preflight/generic/spec.go
  pkg/webhook/preflight/generic/spec_test.go
  pkg/webhook/preflight/nutanix/credentials.go
  pkg/webhook/preflight/nutanix/credentials_test.go
  pkg/webhook/preflight/nutanix/image.go
  pkg/webhook/preflight/nutanix/image_test.go
  pkg/webhook/preflight/nutanix/specs.go
  pkg/webhook/preflight/nutanix/specs_test.go
  pkg/webhook/preflight/nutanix/storagecontainer.go
  pkg/webhook/preflight/nutanix/storagecontainer_test.go
  pkg/webhook/preflight/preflight.go
  pkg/webhook/preflight/preflight_test.go
Due: go-generate, golangci-lint

fixup! fix: Limit Nutanix credentials check internal errors
  pkg/webhook/preflight/nutanix/storagecontainer.go
  pkg/webhook/preflight/nutanix/storagecontainer_test.go
Due: go-generate, golangci-lint

fix: Registry preflight check URL parse error is not an internal error
  pkg/webhook/preflight/generic/registry.go
  pkg/webhook/preflight/generic/registry_test.go
Due: go-generate, golangci-lint

fix: Change error messages to correctly reflect cause
  pkg/webhook/preflight/nutanix/storagecontainer.go
  pkg/webhook/preflight/nutanix/storagecontainer_test.go
Due: go-generate, golangci-lint

fixup! refactor: Rename CheckResult Error to InternalError
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck.go
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck_test.go
Due: go-generate, golangci-lint

fixup! fixup! fix: Limit Nutanix credentials check internal errors
  pkg/webhook/preflight/nutanix/storagecontainer_test.go
Due: go-generate, golangci-lint

fix: Do not treat expected preflight check failures as internal errors (#1195)
  pkg/webhook/preflight/generic/registry.go
  pkg/webhook/preflight/generic/registry_test.go
  pkg/webhook/preflight/generic/spec.go
  pkg/webhook/preflight/generic/spec_test.go
  pkg/webhook/preflight/nutanix/credentials.go
  pkg/webhook/preflight/nutanix/credentials_test.go
  pkg/webhook/preflight/nutanix/image.go
  pkg/webhook/preflight/nutanix/image_test.go
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck.go
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck_test.go
  pkg/webhook/preflight/nutanix/specs.go
  pkg/webhook/preflight/nutanix/specs_test.go
  pkg/webhook/preflight/nutanix/storagecontainer.go
  pkg/webhook/preflight/nutanix/storagecontainer_test.go
  pkg/webhook/preflight/preflight.go
  pkg/webhook/preflight/preflight_test.go
Due: go-generate, golangci-lint

fixup! release: Update metadata for release
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: none

release(main): v0.31.0
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy
