Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, check-coredns-versions, golangci-lint, kube-api-linter, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  check-coredns-versions: any of: ^api/versions/coredns.go$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  kube-api-linter: any of: ((^api/(.*\.go|go.mod|go.sum))|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/helm-chart-bundler/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$

fix: webhook panic when management cluster has nil topology (#1372)
  pkg/webhook/addons/registry/autoenabler.go
  pkg/webhook/addons/registry/webhook_test.go
Due: go-generate, golangci-lint

feat: ensure Cilium kube-proxy is enabled when kube-proxy is disabled (#1371)
  api/v1alpha1/constants.go
  pkg/webhook/cluster/cilium_configuration_validator.go
  pkg/webhook/cluster/cilium_configuration_validator_test.go
  pkg/webhook/cluster/clusteruuidlabeler_test.go
  pkg/webhook/cluster/validator.go
Due: go-generate, golangci-lint, kube-api-linter

fixup! release(main): v0.37.0
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: none

test: add integration tests for Multus handler
  pkg/handlers/lifecycle/cni/multus/handler_integration_test.go
  pkg/handlers/lifecycle/cni/multus/utils_suite_test.go
Due: go-generate, golangci-lint

test: add unit tests for Multus CNI integration
  pkg/handlers/lifecycle/cni/multus/deployer_test.go
  pkg/handlers/lifecycle/cni/multus/handler_test.go
  pkg/handlers/lifecycle/cni/multus/template_test.go
  pkg/handlers/lifecycle/cni/socket_test.go
Due: go-generate, golangci-lint

fix: webhook panic when management cluster has nil topology
  pkg/webhook/addons/registry/autoenabler.go
  pkg/webhook/addons/registry/webhook_test.go
Due: go-generate, golangci-lint

test: log reserved IPs
  test/e2e/quick_start_test.go
Due: go-generate, golangci-lint

release(main): v0.37.0 (#1380)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: hugo-mod-tidy

test: add Multus verification to E2E tests
  pkg/handlers/lifecycle/cni/multus/deployer_test.go
  pkg/handlers/lifecycle/cni/multus/handler_integration_test.go
  pkg/handlers/lifecycle/cni/multus/handler_test.go
  pkg/handlers/lifecycle/cni/multus/template_test.go
  pkg/handlers/lifecycle/cni/multus/utils_suite_test.go
  test/e2e/addon_helpers.go
  test/e2e/multus_helpers.go
Due: go-generate, golangci-lint

fix: verifying only with EKS
  .github/workflows/checks.yml
  docs/content/contributing/e2e_tests.md
  examples/capi-quick-start/eks-cluster-cilium-helm-addon.yaml
  test/e2e/config/caren.yaml
  test/e2e/multus_helpers.go
  test/e2e/quick_start_test.go
Due: go-generate, golangci-lint, hugo-mod-tidy, examples-sync

fix(release/v0.33.x): webhook panic when management cluster has nil topology (#1381)
  pkg/webhook/addons/registry/autoenabler.go
  pkg/webhook/addons/registry/webhook_test.go
Due: go-generate, golangci-lint

fix: set topology webhook matchConditions (#1375)
  charts/cluster-api-runtime-extensions-nutanix/templates/webhooks.yaml
  hack/update-webhook-configurations.yq
Due: chart-docs

feat: Automating legacy konnector agent removal
  pkg/handlers/lifecycle/konnectoragent/handler.go
  pkg/handlers/lifecycle/konnectoragent/helmreleasesecret.yaml
  pkg/handlers/lifecycle/konnectoragent/islegacyhelmrelease_test.go
Due: go-generate, golangci-lint

feat: pre-commit fix
  pkg/handlers/lifecycle/konnectoragent/islegacyhelmrelease_test.go
Due: go-generate, golangci-lint

feat: precommit fix
  pkg/handlers/lifecycle/konnectoragent/helmreleasesecret.yaml
Due: none

feat: automatting helm uninstallation
  go.mod
  go.sum
  pkg/handlers/lifecycle/konnectoragent/handler.go
Due: go-generate, golangci-lint

feat: removing legacy k8s agent installation
  pkg/handlers/lifecycle/konnectoragent/handler.go
  pkg/handlers/lifecycle/konnectoragent/helmreleasesecret.yaml
  pkg/handlers/lifecycle/konnectoragent/islegacyhelmrelease_test.go
  pkg/handlers/lifecycle/konnectoragent/variables_test.go
Due: go-generate, golangci-lint

feat: addressing review comments
  pkg/handlers/lifecycle/konnectoragent/handler.go
  pkg/handlers/lifecycle/konnectoragent/variables_test.go
Due: go-generate, golangci-lint

feat: updating chart name checking field
  pkg/handlers/lifecycle/konnectoragent/handler.go
Due: go-generate, golangci-lint

feat: setting catagory mapping in konnector agent helm chart
  charts/cluster-api-runtime-extensions-nutanix/addons/konnector-agent/values-template.yaml
  hack/tools/fetch-images/main.go
  pkg/handlers/lifecycle/konnectoragent/handler.go
  pkg/handlers/lifecycle/konnectoragent/variables_test.go
Due: go-generate, golangci-lint, chart-docs

feat: fixing golang lint errors
  pkg/handlers/lifecycle/konnectoragent/handler.go
Due: go-generate, golangci-lint

feat: addressing review comments
  pkg/handlers/lifecycle/konnectoragent/handler.go
Due: go-generate, golangci-lint

fix: Copy ClusterClass and Templates only if they do not already exist
  pkg/controllers/namespacesync/copy.go
  pkg/controllers/namespacesync/copy_test.go
Due: go-generate, golangci-lint

feat: legacy k8s agent preflight check during upgrade
  charts/cluster-api-runtime-extensions-nutanix/templates/webhooks.yaml
  pkg/handlers/lifecycle/konnectoragent/handler.go
  pkg/handlers/lifecycle/konnectoragent/variables_test.go
  pkg/webhook/preflight/doc.go
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/checker_test.go
  pkg/webhook/preflight/nutanix/konnectoragent.go
  pkg/webhook/preflight/nutanix/konnectoragent_test.go
  pkg/webhook/preflight/preflight.go
Due: go-generate, golangci-lint, chart-docs

feat: addressing code reveiw comments
  pkg/handlers/lifecycle/konnectoragent/handler.go
  pkg/handlers/lifecycle/konnectoragent/variables_test.go
Due: go-generate, golangci-lint

feat: precommit fix
  pkg/handlers/lifecycle/konnectoragent/handler.go
Due: go-generate, golangci-lint

feat: addmission check - legacy konnector agent helm charts
  api/v1alpha1/constants.go
  charts/cluster-api-runtime-extensions-nutanix/templates/webhooks.yaml
  pkg/webhook/cluster/konnectoragent_legacy_validator.go
  pkg/webhook/cluster/konnectoragent_legacy_validator_test.go
  pkg/webhook/cluster/validator.go
  pkg/webhook/preflight/doc.go
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/checker_test.go
  pkg/webhook/preflight/nutanix/konnectoragent_test.go
  pkg/webhook/preflight/preflight.go
Due: go-generate, golangci-lint, kube-api-linter, chart-docs

feat: reverting changes from preflight hooks
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/checker_test.go
  pkg/webhook/preflight/preflight.go
Due: go-generate, golangci-lint

feat: fixing unit testing failures
  pkg/handlers/lifecycle/konnectoragent/variables_test.go
  pkg/webhook/cluster/konnectoragent_legacy_validator_test.go
Due: go-generate, golangci-lint

feat: addressing reveiw comments
  charts/cluster-api-runtime-extensions-nutanix/addons/konnector-agent/values-template.yaml
  pkg/handlers/lifecycle/konnectoragent/variables_test.go
Due: go-generate, golangci-lint, chart-docs

feat: addressing review comments
  pkg/handlers/lifecycle/konnectoragent/variables_test.go
  pkg/webhook/cluster/konnectoragent_legacy_validator.go
Due: go-generate, golangci-lint

feat: Apply suggestions from code review
  pkg/webhook/cluster/konnectoragent_legacy_validator.go
Due: go-generate, golangci-lint

feat: Add category mappings support to Konnector Agent Helm chart (#1385)
  charts/cluster-api-runtime-extensions-nutanix/addons/konnector-agent/values-template.yaml
  hack/tools/fetch-images/main.go
  pkg/handlers/lifecycle/konnectoragent/handler.go
  pkg/handlers/lifecycle/konnectoragent/variables_test.go
Due: go-generate, golangci-lint, chart-docs

feat: addressing review comments
  go.mod
  pkg/webhook/cluster/konnectoragent_legacy_validator.go
  pkg/webhook/cluster/konnectoragent_legacy_validator_test.go
Due: go-generate, golangci-lint

feat: addressing review comments
  pkg/webhook/cluster/konnectoragent_legacy_validator.go
Due: go-generate, golangci-lint

feat: Automating legacy konnector agent removal (#1384)
  api/v1alpha1/constants.go
  go.mod
  go.sum
  pkg/handlers/lifecycle/konnectoragent/handler.go
  pkg/webhook/cluster/konnectoragent_legacy_validator.go
  pkg/webhook/cluster/konnectoragent_legacy_validator_test.go
  pkg/webhook/cluster/validator.go
Due: go-generate, golangci-lint, kube-api-linter

feat: updating konnector-agent chart version
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  docs/content/addons/konnector-agent.md
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, hugo-mod-tidy, addons-sync, addons-repo-yaml
