Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, check-coredns-versions, golangci-lint, kube-api-linter, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock

schema-chart:
  name: schema-chart
  entry: make schema-chart
  language: system

go-generate:
  name: go-generate
  entry: make go-generate
  language: system
  pass_filenames: false

check-coredns-versions:
  name: check-coredns-versions
  entry: make coredns.sync
  language: system

golangci-lint:
  name: golangci-lint
  entry: make lint
  language: system
  pass_filenames: false

kube-api-linter:
  name: kube-api-linter
  entry: make lint-kube-api
  language: system
  pass_filenames: false

chart-docs:
  name: chart-docs
  entry: make chart-docs
  language: system
  pass_filenames: false

hugo-mod-tidy:
  name: hugo-mod-tidy
  entry: bash -c "cd docs && hugo mod tidy"
  language: system
  pass_filenames: false

examples-sync:
  name: examples-sync
  entry: make examples.sync
  language: system
  pass_filenames: false

apis-sync:
  name: apis-sync
  entry: make apis.sync
  language: system
  pass_filenames: false

addons-sync:
  name: addons-sync
  entry: make addons.sync
  language: system
  pass_filenames: false

addons-repo-yaml:
  name: addons-repo-yaml
  entry: make template-helm-repository
  language: system
  pass_filenames: false

check-devbox-lock:
  name: check-devbox-lock
  entry: devbox install
  language: system
  pass_filenames: false

feat: [NCN-112929] Wire KubeletConfiguration into API
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_kubeadmclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  api/v1alpha1/nodeconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
Due: go-generate, golangci-lint, kube-api-linter

feat: [NCN-112929] Handle deprecated maxParallelImagePullsPerNode
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_controlplane.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_worker.go
Due: go-generate, golangci-lint

feat: [NCN-112929] Add KubeletConfiguration webhook validation
  pkg/handlers/generic/mutation/handlers.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_controlplane.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_worker.go
  pkg/webhook/cluster/kubeletconfiguration_validator.go
  pkg/webhook/cluster/validator.go
Due: go-generate, golangci-lint

feat: [NCN-112929] Register KubeletConfiguration handlers
  pkg/handlers/generic/mutation/handlers.go
Due: go-generate, golangci-lint

feat: [NCN-112929] Register KubeletConfiguration in v4 handlers
  pkg/handlers/v5/generic/mutation/handlers.go
Due: go-generate, golangci-lint

fix: [NCN-112929] Address code review findings
  pkg/webhook/cluster/kubeletconfiguration_validator.go
  pkg/webhook/cluster/kubeletconfiguration_validator_test.go
Due: go-generate, golangci-lint

test: [NCN-112929] Add KubeletConfiguration unit tests
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_test.go
  pkg/webhook/cluster/kubeletconfiguration_validator_test.go
Due: go-generate, golangci-lint

refactor: [NCN-112929] Use resource.Quantity for containerLogMaxSize
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_kubeadmclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  api/v1alpha1/kubelet_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_test.go
Due: go-generate, golangci-lint, kube-api-linter

fix: [NCN-112929] Restrict maxPods validation bounds to 50-256
  .pre-commit-config.yaml
  .specify/features/NCN-1234/plan.md
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_kubeadmclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  api/v1alpha1/kubelet_types.go
Due: go-generate, golangci-lint, kube-api-linter

refactor: [NCN-112929] Use typed assertions in kubelet config tests
  .specify/features/NCN-1234/plan.md
  .specify/features/NCN-1234/spec.md
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_test.go
Due: go-generate, golangci-lint

refactor: [NCN-112929] Use with instead of if in patch template
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/embedded/kubeletconfigpatch.yaml.tmpl
Due: none

docs: [NCN-112929] Rename spec directory from NCN-1234 to NCN-112929
  .specify/features/NCN-112929/plan.md
  .specify/features/NCN-112929/spec.md
Due: none

fix: [NCN-112929] Fix Quantity schema for ClusterClass
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_kubeadmclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  make/go.mk
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/variables_test.go
  pkg/webhook/cluster/kubeletconfiguration_validator.go
Due: go-generate, golangci-lint, kube-api-linter

refactor: Add limits and maximum to pidPodslimit
  .specify/features/NCN-112929/plan.md
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_kubeadmclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  api/v1alpha1/kubelet_types.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_test.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/variables_test.go
Due: go-generate, golangci-lint, kube-api-linter

docs: add kubeletConfiguration customization guide
  docs/content/customization/kubeadm/kubelet-configuration.md
  docs/content/customization/kubeadm/parallel-image-pulls.md
Due: hugo-mod-tidy

refactor: [NCN-112929] Migrate kubelet tests to CAPI v1beta2
  pkg/webhook/cluster/kubeletconfiguration_validator.go
  pkg/webhook/cluster/kubeletconfiguration_validator_test.go
Due: go-generate, golangci-lint

refactor(kubeletconfiguration): simplify inject and remove merging
  api/v1alpha1/kubelet_types.go
  api/v1alpha1/kubelet_types_test.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_controlplane.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_test.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_worker.go
Due: go-generate, golangci-lint, kube-api-linter

build: ignore .worktrees directory
  .gitignore
Due: none

fixup! refactor: Move configuration to control plane and worker config directly
  .specify/features/NCN-112929/plan.md
  .specify/features/NCN-112929/spec.md
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_kubeadmclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  api/v1alpha1/nodeconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_controlplane.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_controlplane_test.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_suite_test.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_test.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_worker.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_worker_test.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/variables_test.go
  pkg/webhook/cluster/kubeletconfiguration_validator.go
  pkg/webhook/cluster/kubeletconfiguration_validator_test.go
Due: go-generate, golangci-lint, kube-api-linter

revert: Re-add external cloud provider handler to v5
  pkg/handlers/v5/generic/mutation/handlers.go
Due: go-generate, golangci-lint

refactor: Clean up kubelet config and move deprecated handler
  pkg/handlers/generic/mutation/handlers.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/kubelet_config.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/kubelet_config_test.go
  pkg/handlers/v5/generic/mutation/handlers.go
  pkg/handlers/v5/generic/mutation/parallelimagepulls/embedded/kubeletconfigpatch.yaml
  pkg/handlers/v5/generic/mutation/parallelimagepulls/inject.go
  pkg/handlers/v5/generic/mutation/parallelimagepulls/inject_test.go
  pkg/handlers/v5/generic/mutation/parallelimagepulls/variables_test.go
Due: go-generate, golangci-lint

feat: [NCN-112929] Add KubeletConfiguration variable and mutation handler (#1514)
  .gitignore
  .pre-commit-config.yaml
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_kubeadmclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  api/v1alpha1/kubelet_types.go
  api/v1alpha1/kubelet_types_test.go
  api/v1alpha1/nodeconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  docs/content/customization/kubeadm/kubelet-configuration.md
  docs/content/customization/kubeadm/parallel-image-pulls.md
  make/go.mk
  pkg/handlers/generic/mutation/handlers.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/embedded/kubeletconfigpatch.yaml.tmpl
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_controlplane.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_controlplane_test.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_suite_test.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_worker.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_worker_test.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/kubelet_config.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/kubelet_config_test.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/variables_test.go
  pkg/handlers/v5/generic/mutation/handlers.go
  pkg/handlers/v5/generic/mutation/parallelimagepulls/embedded/kubeletconfigpatch.yaml
  pkg/handlers/v5/generic/mutation/parallelimagepulls/inject.go
  pkg/handlers/v5/generic/mutation/parallelimagepulls/inject_test.go
  pkg/handlers/v5/generic/mutation/parallelimagepulls/variables_test.go
  pkg/webhook/cluster/kubeletconfiguration_validator.go
  pkg/webhook/cluster/kubeletconfiguration_validator_test.go
  pkg/webhook/cluster/validator.go
Due: go-generate, golangci-lint, kube-api-linter, hugo-mod-tidy

fix: use matching Kubernetes versions for CCM
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.31.7-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.32.3-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.33.2-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.35.0-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  make/addons.mk
Due: schema-chart, chart-docs, addons-sync

e2e: update test Kubernetes versions
  .github/workflows/checks.yml
  README.md
  make/kind.mk
  test/e2e/config/caren.yaml
  test/e2e/e2e_suite_test.go
Due: go-generate, golangci-lint

fixup! e2e: update test Kubernetes versions
  .github/workflows/checks.yml
  test/e2e/config/caren.yaml
Due: none

fixup! fix: use matching Kubernetes versions for CCM
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.33.2-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.34.0-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.35.0-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

fixup! e2e: update test Kubernetes versions
  .github/workflows/checks.yml
  README.md
  make/kind.mk
  test/e2e/config/caren.yaml
  test/e2e/e2e_suite_test.go
Due: go-generate, golangci-lint

test: update kubernetes versions to include 1.35 (#1533)
  .github/workflows/checks.yml
  README.md
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.31.7-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.32.3-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.33.2-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.34.0-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.35.0-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
  make/kind.mk
  test/e2e/config/caren.yaml
  test/e2e/e2e_suite_test.go
Due: schema-chart, go-generate, golangci-lint, chart-docs, addons-sync, addons-repo-yaml

refactor: remove unused stale CAPI CRD copies from internal/test/config
  internal/test/config/crd/bases/addons.cluster.x-k8s.io_clusterresourcesetbindings.yaml
  internal/test/config/crd/bases/addons.cluster.x-k8s.io_clusterresourcesets.yaml
  internal/test/config/crd/bases/cluster.x-k8s.io_clusterclasses.yaml
  internal/test/config/crd/bases/cluster.x-k8s.io_clusters.yaml
  internal/test/config/crd/bases/cluster.x-k8s.io_machinedeployments.yaml
  internal/test/config/crd/bases/cluster.x-k8s.io_machinehealthchecks.yaml
  internal/test/config/crd/bases/cluster.x-k8s.io_machinepools.yaml
  internal/test/config/crd/bases/cluster.x-k8s.io_machines.yaml
  internal/test/config/crd/bases/cluster.x-k8s.io_machinesets.yaml
  internal/test/config/crd/bases/ipam.cluster.x-k8s.io_ipaddressclaims.yaml
  internal/test/config/crd/bases/ipam.cluster.x-k8s.io_ipaddresses.yaml
  internal/test/config/crd/bases/runtime.cluster.x-k8s.io_extensionconfigs.yaml
Due: none

build: move ExtensionConfig from v1alpha1 to v1beta2
  charts/cluster-api-runtime-extensions-nutanix/templates/extensionconfig.yaml
  internal/test/envtest/environment.go
Due: go-generate, golangci-lint, chart-docs

fix: use isolated scheme in copy_test.go to prevent data race
  pkg/controllers/namespacesync/copy_test.go
Due: go-generate, golangci-lint

feat: add Nutanix Flow CNI provider with Nutanix-only restriction
  api/v1alpha1/addon_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  api/variables/aggregate_types.go
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/nutanix-flow/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/nutanix-flow/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  examples/capi-quick-start/aws-cluster-flow-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-flow-helm-addon.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/nutanix-flow-cni/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/nutanix/flow/helm-addon/kustomization.yaml.tmpl
  hack/examples/patches/flow.yaml
  hack/examples/patches/nutanix-flow.yaml
  hack/examples/sync.sh
  make/addons.mk
  pkg/handlers/lifecycle/cni/nutanixflow/doc.go
  pkg/handlers/lifecycle/cni/nutanixflow/handler.go
  pkg/handlers/lifecycle/cni/nutanixflow/template.go
  pkg/handlers/lifecycle/cni/socket.go
  pkg/handlers/lifecycle/cni/variables_test.go
  pkg/handlers/lifecycle/config/cm.go
  pkg/handlers/lifecycle/handlers.go
  pkg/handlers/lifecycle/registry/syncer/syncer_integration_test.go
  pkg/handlers/lifecycle/registry/syncer/syncer_test.go
  pkg/webhook/addons/registry/webhook_test.go
  pkg/webhook/cluster/cilium_configuration_validator_test.go
  test/e2e/cni_helpers.go
  test/e2e/quick_start_test.go
  test/e2e/self_hosted_test.go
Due: schema-chart, go-generate, golangci-lint, kube-api-linter, chart-docs, examples-sync, addons-sync, addons-repo-yaml

docs: add Flow CNI usage documentation with image pull credentials
  docs/content/addons/cni.md
Due: hugo-mod-tidy

docs: add kubectl example for Flow CNI image pull secret
  docs/content/addons/cni.md
Due: hugo-mod-tidy

feat: add imagePullCredentials support for CNI providers
  api/v1alpha1/addon_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/nutanix-flow/values-template.yaml
  pkg/handlers/lifecycle/cni/nutanixflow/handler.go
  pkg/handlers/lifecycle/cni/nutanixflow/template.go
  pkg/handlers/lifecycle/cni/nutanixflow/template_test.go
  pkg/handlers/lifecycle/cni/variables_test.go
Due: go-generate, golangci-lint, kube-api-linter, chart-docs

fix: copy Flow CNI image pull secret to correct namespaces
  pkg/handlers/lifecycle/cni/nutanixflow/handler.go
Due: go-generate, golangci-lint

fixup! test(e2e): Reference CAAPH fork
  test/e2e/config/caren.yaml
Due: none

fix: Use CAAPH fork to take ownership if necessary
  api/external/sigs.k8s.io/cluster-api-addon-provider-helm/api/v1alpha1/helmchartproxy_types.go
  clusterctl.yaml
  examples/capi-quick-start/nutanix-cluster-flow-helm-addon.yaml
  hack/examples/additional-resources/nutanix/flow-image-pull-secret.yaml
  hack/examples/patches/flow.yaml
  hack/third-party/caaph/go.mod
  hack/third-party/caaph/go.sum
  make/clusterctl.mk
  pkg/handlers/lifecycle/addons/helmaddon.go
  pkg/handlers/lifecycle/cni/nutanixflow/handler.go
  pkg/handlers/utils/secrets.go
Due: go-generate, golangci-lint, kube-api-linter, examples-sync, apis-sync

fixup! test: Fix up skipping Flow tests for now
  api/v1alpha1/addon_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  test/e2e/quick_start_test.go
Due: go-generate, golangci-lint, kube-api-linter

refactor: Add Flow CNI image pull secret support for Nutanix examples
  examples/capi-quick-start/nutanix-cluster-flow-helm-addon.yaml
  hack/examples/additional-resources/nutanix/flow-image-pull-secret.yaml
  hack/examples/overlays/clusters/nutanix/flow/helm-addon/kustomization.yaml.tmpl
  hack/examples/patches/flow.yaml
Due: examples-sync

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  check-coredns-versions: any of: ^api/versions/coredns.go$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  kube-api-linter: any of: ((^api/(.*\.go|go.mod|go.sum))|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/helm-chart-bundler/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$
