Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-configmap

Path conditions:
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-configmap: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+|make/addons.mk$)

fix: minor linting fixups
  hack/addons/fetch-helm-crds.sh
  make/helm.mk
Due: addons-sync, addons-configmap

feat: adds trust manager to chart
  charts/cluster-api-runtime-extensions-nutanix/Chart.lock
  charts/cluster-api-runtime-extensions-nutanix/charts/trust-manager-v0.10.0.tgz
  charts/cluster-api-runtime-extensions-nutanix/requirements.yaml
Due: none

fix: version number for nutanix csi
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/mindthegap-helm-registry/repos.yaml
  make/addons.mk
Due: addons-sync, addons-configmap

feat: uses self hosted helm charts with mindthegap
  charts/cluster-api-runtime-extensions-nutanix/Chart.yaml
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/crds/crd-trust.cert-manager.io_bundles.yaml
  charts/cluster-api-runtime-extensions-nutanix/requirements.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/bundle.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/job-role.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/job-rolebinding.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/job-sa.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/job.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/mindthegap.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  devbox.json
  devbox.lock
  hack/addons/fetch-helm-crds.sh
  hack/addons/kustomize/nfd/kustomization.yaml.tmpl
  hack/addons/mindthegap-helm-registry/repos.yaml
  make/addons.mk
  make/helm.mk
  pkg/handlers/generic/lifecycle/nfd/strategy_helmaddon.go
Due: golangci-lint, addons-sync, addons-configmap

fix: precommit errors
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/crds/crd-trust.cert-manager.io_bundles.yaml
Due: none

fix: adds namespace to ct lint
  .github/workflows/checks.yml
Due: none

feat: Bump sigs.k8s.io/cluster-api to v1.7.2 (#661)
  api/go.mod
  api/go.sum
  cluster-api-runtime-extensions-nutanix.code-workspace
  common/go.mod
  common/go.sum
  go.mod
  go.sum
  hack/flakes/flake.lock
  hack/flakes/flake.nix
  pkg/handlers/generic/lifecycle/clusterautoscaler/template.go
  test/e2e/e2e_suite_test.go
  test/e2e/ownerreference_helpers.go
  test/e2e/quick_start_test.go
Due: golangci-lint

fixup! refactor: Use a Credentials struct consistently
  docs/content/customization/nutanix/prism-central-endpoint.md
  examples/capi-quick-start/nutanix-cluster-calico-crs.yaml
  examples/capi-quick-start/nutanix-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  hack/examples/patches/nutanix/ccm.yaml
  hack/examples/patches/nutanix/csi.yaml
  hack/examples/patches/nutanix/initialize-variables.yaml
Due: hugo-mod-tidy, examples-sync

refactor: Use a Credentials struct consistently (#663)
  api/v1alpha1/addon_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/nutanix_clusterconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  docs/content/customization/nutanix/prism-central-endpoint.md
  examples/capi-quick-start/nutanix-cluster-calico-crs.yaml
  examples/capi-quick-start/nutanix-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  hack/examples/patches/nutanix/ccm.yaml
  hack/examples/patches/nutanix/csi.yaml
  hack/examples/patches/nutanix/initialize-variables.yaml
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler.go
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler_test.go
  pkg/handlers/generic/lifecycle/csi/nutanix-csi/handler.go
  pkg/handlers/nutanix/mutation/controlplaneendpoint/variables_test.go
  pkg/handlers/nutanix/mutation/prismcentralendpoint/inject.go
  pkg/handlers/nutanix/mutation/prismcentralendpoint/inject_test.go
  pkg/handlers/nutanix/mutation/prismcentralendpoint/variables_test.go
Due: golangci-lint, hugo-mod-tidy, examples-sync

ci: Use new dependabot multimodule capabilities
  .github/dependabot.yml
Due: none

fix: remove trust manager
  .github/workflows/checks.yml
  README.md
  charts/cluster-api-runtime-extensions-nutanix/Chart.lock
  charts/cluster-api-runtime-extensions-nutanix/Chart.yaml
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/charts/trust-manager-v0.10.0.tgz
  charts/cluster-api-runtime-extensions-nutanix/crds/crd-trust.cert-manager.io_bundles.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/aws-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/docker-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/bundle.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/job-role.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/job-rolebinding.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/job-sa.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/job.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  charts/ct-config.yaml
  devbox.json
  devbox.lock
  hack/addons/fetch-helm-crds.sh
  hack/examples/overlays/clusterclasses/aws/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/docker/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/nutanix/kustomization.yaml.tmpl
  hack/tools/helm-cm/main.go
  hack/tools/mindthegap-helm-reg/main.go
  make/addons.mk
  make/dev.mk
  make/helm.mk
Due: golangci-lint, examples-sync, addons-sync, addons-configmap

feat: mutation handler for EncryptionConfig
  api/v1alpha1/clusterconfig_types.go
  pkg/handlers/generic/mutation/encryption/encryptionprovider_test.go
  pkg/handlers/generic/mutation/encryption/inject.go
  pkg/handlers/generic/mutation/encryption/inject_test.go
  pkg/handlers/generic/mutation/encryption/tokengenerator.go
Due: golangci-lint

fix: use object type for encryption providers
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
Due: golangci-lint

feat: mutation handler for encryption configuration
  pkg/handlers/generic/mutation/encryption/encryptionprovider_test.go
  pkg/handlers/generic/mutation/encryption/inject.go
  pkg/handlers/generic/mutation/encryption/inject_test.go
Due: golangci-lint

fix: add owner reference for secret
  pkg/handlers/generic/mutation/encryption/inject.go
  pkg/handlers/generic/mutation/encryption/inject_test.go
Due: golangci-lint

fix: use array type for encryption providers
  pkg/handlers/generic/mutation/encryption/encryptionprovider_test.go
  pkg/handlers/generic/mutation/encryption/inject.go
  pkg/handlers/generic/mutation/encryption/inject_test.go
Due: golangci-lint

docs: add encryptionAtRest config in capi-quick-start
  examples/capi-quick-start/aws-cluster-calico-crs.yaml
  examples/capi-quick-start/aws-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/aws-cluster-cilium-crs.yaml
  examples/capi-quick-start/aws-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/docker-cluster-calico-crs.yaml
  examples/capi-quick-start/docker-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/docker-cluster-cilium-crs.yaml
  examples/capi-quick-start/docker-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-calico-crs.yaml
  examples/capi-quick-start/nutanix-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  hack/examples/bases/aws/cluster/kustomization.yaml.tmpl
  hack/examples/bases/docker/cluster/kustomization.yaml.tmpl
  hack/examples/bases/nutanix/cluster/kustomization.yaml.tmpl
  hack/examples/patches/encryption.yaml
Due: examples-sync

fix: rename package to encryptionatrest
  pkg/handlers/generic/mutation/encryption/encryptionprovider_test.go
  pkg/handlers/generic/mutation/encryption/inject.go
  pkg/handlers/generic/mutation/encryption/inject_test.go
  pkg/handlers/generic/mutation/encryption/tokengenerator.go
Due: golangci-lint

docs: API docs for encryptionAtRest
  docs/content/customization/generic/encryption-at-rest.md
Due: hugo-mod-tidy

docs: add detail about encryption keys
  api/v1alpha1/zz_generated.deepcopy.go
  docs/content/customization/generic/encryption-at-rest.md
Due: golangci-lint, hugo-mod-tidy

fixup! ci: Update .github/dependabot.yml
  .github/dependabot.yml
Due: none

fixup! docs: Apply suggestions from code review
  docs/content/customization/generic/encryption-at-rest.md
Due: hugo-mod-tidy

fixup! test(e2e): Fix up ownership reference checks
  test/e2e/ownerreference_helpers.go
  test/e2e/quick_start_test.go
Due: golangci-lint

test: add encryptionAtRest config in capi-quick-start (#659)
  docs/content/customization/generic/encryption-at-rest.md
  examples/capi-quick-start/aws-cluster-calico-crs.yaml
  examples/capi-quick-start/aws-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/aws-cluster-cilium-crs.yaml
  examples/capi-quick-start/aws-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/docker-cluster-calico-crs.yaml
  examples/capi-quick-start/docker-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/docker-cluster-cilium-crs.yaml
  examples/capi-quick-start/docker-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-calico-crs.yaml
  examples/capi-quick-start/nutanix-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  hack/examples/bases/aws/cluster/kustomization.yaml.tmpl
  hack/examples/bases/docker/cluster/kustomization.yaml.tmpl
  hack/examples/bases/nutanix/cluster/kustomization.yaml.tmpl
  hack/examples/patches/encryption.yaml
  test/e2e/ownerreference_helpers.go
  test/e2e/quick_start_test.go
Due: golangci-lint, hugo-mod-tidy, examples-sync

test(e2e): Fix up secret ownership checks
  test/e2e/ownerreference_helpers.go
Due: golangci-lint

test(e2e): Fix up secret ownership checks (#665)
  test/e2e/ownerreference_helpers.go
Due: golangci-lint

test: Add E2E_DRYRUN and E2E_VERBOSE make vars
  make/go.mk
Due: golangci-lint

test: Remove hard-coded text focus and label for e2e tests
  test/e2e/e2e_suite_test.go
Due: golangci-lint

test: Remove hard-coded text focus and label for e2e tests (#667)
  test/e2e/e2e_suite_test.go
Due: golangci-lint

refactor: move unmarshal functions to api/ module
  api/variables/json.go
  common/pkg/capi/clustertopology/variables/json.go
  pkg/handlers/generic/lifecycle/csi/handler_test.go
Due: golangci-lint

ci: Use new dependabot multimodule capabilities (#664)
  .github/dependabot.yml
Due: none

build: Ignore all gitlint rules for dependabot commits
  .gitlint
Due: none

fixup! build: Fix up indentation
  make/go.mk
Due: golangci-lint

test: Add E2E_DRYRUN and E2E_VERBOSE make vars (#666)
  make/go.mk
Due: golangci-lint

test: use all CPUs running ginkgo e2e tests
  make/go.mk
Due: golangci-lint

feat: Pull calico images from quay.io instead of docker hub
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/aws/crs-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/aws/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/docker/crs-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/docker/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/nutanix/crs-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/nutanix/helm-addon-installation.yaml
Due: addons-sync, addons-configmap

fixup! test(e2e): Run all quick start tests in parallel
  test/e2e/framework/self_hosted.go
  test/e2e/quick_start_test.go
Due: golangci-lint

fixup! ci: Upload e2e test artifacts
  .github/workflows/e2e.yml
Due: none
