Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-configmap

Path conditions:
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-configmap: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+|make/addons.mk$)

fix: Fix ownership of ClusterAutoscaler resources
  pkg/handlers/generic/lifecycle/ccm/aws/strategy_crs.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/handler.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/strategy_crs.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/cni/calico/strategy_crs.go
  pkg/handlers/generic/lifecycle/cni/cilium/strategy_crs.go
  pkg/handlers/generic/lifecycle/csi/awsebs/strategy_crs.go
  pkg/handlers/generic/lifecycle/csi/localpath/strategy_crs.go
  pkg/handlers/generic/lifecycle/csi/snapshotcontroller/strategy_crs.go
  pkg/handlers/generic/lifecycle/nfd/strategy_crs.go
  pkg/handlers/utils/utils.go
  test/e2e/ownerreference_helpers.go
  test/e2e/quick_start_test.go
Due: golangci-lint

fix: Fix ownership of ClusterAutoscaler resources (#810)
  pkg/handlers/generic/lifecycle/ccm/aws/strategy_crs.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/handler.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/strategy_crs.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/cni/calico/strategy_crs.go
  pkg/handlers/generic/lifecycle/cni/cilium/strategy_crs.go
  pkg/handlers/generic/lifecycle/csi/awsebs/strategy_crs.go
  pkg/handlers/generic/lifecycle/csi/localpath/strategy_crs.go
  pkg/handlers/generic/lifecycle/csi/snapshotcontroller/strategy_crs.go
  pkg/handlers/generic/lifecycle/nfd/strategy_crs.go
  pkg/handlers/utils/utils.go
  test/e2e/ownerreference_helpers.go
  test/e2e/quick_start_test.go
Due: golangci-lint

release(main): v0.13.0 (#804)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

fix: generated API file
  api/v1alpha1/zz_generated.deepcopy.go
Due: golangci-lint

fix: generated API file (#811)
  api/v1alpha1/zz_generated.deepcopy.go
Due: golangci-lint

fix: category race condition by updating Nutanix CSI to 3.0.0-2458
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/nutanix/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/kustomize/nutanix-storage-csi/kustomization.yaml.tmpl
  hack/addons/mindthegap-helm-registry/repos.yaml
  make/addons.mk
Due: addons-sync, addons-configmap

fixup! fix: category race condition by updating Nutanix CSI to 3.0.0-2458
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/nutanix/manifests/helm-addon-installation.yaml
Due: addons-sync, addons-configmap

fix: category race condition by updating Nutanix CSI to 3.0.0-2458 (#814)
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/nutanix/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/kustomize/nutanix-storage-csi/kustomization.yaml.tmpl
  hack/addons/mindthegap-helm-registry/repos.yaml
  make/addons.mk
Due: addons-sync, addons-configmap

fix: use production repo for Nutanix CSI to 3.0.0-2458
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/kustomize/nutanix-storage-csi/kustomization.yaml.tmpl
  hack/addons/mindthegap-helm-registry/repos.yaml
Due: addons-sync, addons-configmap

fix: use production repo for Nutanix CSI to 3.0.0-2458 (#815)
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/kustomize/nutanix-storage-csi/kustomization.yaml.tmpl
  hack/addons/mindthegap-helm-registry/repos.yaml
Due: addons-sync, addons-configmap

release(main): v0.13.1 (#812)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

build: Upgrade prism-go-client
  .github/dependabot.yml
  go.mod
  go.sum
Due: golangci-lint

fix: Remove unused setting from Nutanix CSI chart
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/nutanix/manifests/helm-addon-installation.yaml
Due: addons-sync, addons-configmap

fix: Remove unused setting from Nutanix CSI chart (#817)
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/nutanix/manifests/helm-addon-installation.yaml
Due: addons-sync, addons-configmap

feat: Extract CAAPH values templates to files
  .pre-commit-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/ccm/aws/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/ccm/nutanix/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/cluster-autoscaler/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/calico/aws/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/calico/docker/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/calico/nutanix/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/aws-ebs/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/local-path/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/nutanix/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/snapshot-controller/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/nfd/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/serviceloadbalancer/metallb/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/nutanix/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cluster-autoscaler/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/aws/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/docker/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/nutanix/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/aws-ebs/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/local-path/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/nutanix/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/snapshot-controller/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/nfd/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/serviceloadbalancer/metallb/helm-addon-installation.yaml
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler_test.go
Due: golangci-lint, addons-sync, addons-configmap

build: update version in metadata files
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: none

test(e2e): Add provider metadata for v0.14.x
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: none

build: update version in metadata files (#813)
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: none

fix: Use correct GA Nutanix CSI version
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/mindthegap-helm-registry/repos.yaml
  make/addons.mk
Due: addons-sync, addons-configmap

fix: Use correct GA Nutanix CSI version (#820)
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/mindthegap-helm-registry/repos.yaml
  make/addons.mk
Due: addons-sync, addons-configmap

release(main): v0.13.2 (#818)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

feat: add CRS strategy support for Nutanix CSI
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/nutanix/manifests/nutanix-storage-csi-configmap.yaml
  examples/capi-quick-start/nutanix-cluster-calico-crs.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-crs.yaml
  hack/addons/kustomize/nutanix-storage-csi/helm-values.yaml
  hack/addons/kustomize/nutanix-storage-csi/kustomization.yaml.tmpl
  hack/addons/update-nutanix-storage-csi.sh
  hack/examples/overlays/clusters/nutanix/calico/crs/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/nutanix/cilium/crs/kustomization.yaml.tmpl
  hack/examples/patches/nutanix/crs-strategy.yaml
  make/addons.mk
  pkg/handlers/generic/lifecycle/csi/nutanix/handler.go
  pkg/handlers/generic/lifecycle/csi/nutanix/strategy_crs.go
Due: golangci-lint, examples-sync, addons-sync, addons-configmap

fix: add cluter domain with final dot to no proxy list
  api/v1alpha1/http_proxy.go
  api/v1alpha1/http_proxy_test.go
Due: golangci-lint

fix: add cluster domain with final dot to no proxy list (#821)
  api/v1alpha1/http_proxy.go
  api/v1alpha1/http_proxy_test.go
Due: golangci-lint

ci: explain why we skip tigera
  hack/tools/sync-helm-values/sync-values.go
Due: golangci-lint

build: fix amd64 binary used in arm64 image
  .goreleaser.yml
  .ko.yaml
Due: none

build: Ensure clean go build environment for goreleaser and ko
  .goreleaser.yml
  make/dev.mk
  make/go.mk
  test/e2e/config/caren.yaml
Due: golangci-lint

build: Ensure clean go build environment for goreleaser and ko (#824)
  .goreleaser.yml
  make/dev.mk
  make/go.mk
  test/e2e/config/caren.yaml
Due: golangci-lint

release(main): v0.13.3
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

release(main): v0.13.3 (#825)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

build: Remove noisy build messages
  make/dev.mk
Due: none

build(deps): Upgrade CAPX version to v1.5.0-beta.1
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/conditions.go
  hack/third-party/capx/go.mod
  hack/third-party/capx/go.sum
Due: golangci-lint, apis-sync

fix: set create secret to false
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/nutanix/values-template.yaml
  hack/addons/kustomize/csi/nutanix/manifests/values-template.yaml
Due: addons-sync, addons-configmap

ci: adds tool to sync
  charts/cluster-api-runtime-extensions-nutanix/addons/ccm/aws/map-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/ccm/aws/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/calico/docker/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/calico/nutanix/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/aws-ebs/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/local-path/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/nutanix/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/snapshot-controller/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/nfd/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/helm-addon-installation.yaml
  hack/addons/kustomize/ccm/aws/manifests/values-template.yaml
  hack/addons/kustomize/cni/calico/manifests/aws/helm-addon-installation.yaml
  hack/addons/kustomize/cni/calico/manifests/aws/values-template.yaml
  hack/addons/kustomize/cni/calico/manifests/docker/values-template.yaml
  hack/addons/kustomize/cni/calico/manifests/nutanix/values-template.yaml
  hack/addons/kustomize/csi/snapshot-controller/manifests/helm-addon-installation.yaml
  hack/addons/kustomize/csi/snapshot-controller/manifests/values-template.yaml
  hack/tools/sync-helm-values/README.md
  hack/tools/sync-helm-values/sync-values.go
  make/addons.mk
Due: golangci-lint, addons-sync, addons-configmap

fix: adds os expansion for NFD version
  charts/cluster-api-runtime-extensions-nutanix/addons/nfd/values-template.yaml
  hack/tools/sync-helm-values/sync-values.go
  pkg/handlers/generic/lifecycle/ccm/aws/handler.go
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler_test.go
  pkg/handlers/generic/lifecycle/csi/awsebs/handler.go
  pkg/handlers/generic/lifecycle/csi/localpath/handler.go
Due: golangci-lint

fix: adds pre-commit rule to ignore template files
  .pre-commit-config.yaml
Due: none

fix: adds arch to lint testing
  .github/workflows/checks.yml
Due: none

fix: explain why tigera is skipped
  hack/tools/sync-helm-values/sync-values.go
Due: golangci-lint

fix: precommit files
  charts/cluster-api-runtime-extensions-nutanix/addons/ccm/aws/map-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/ccm/nutanix/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/cluster-autoscaler/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/calico/aws/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/nutanix/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/nfd/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/serviceloadbalancer/metallb/values-template.yaml
  hack/addons/kustomize/ccm/aws/manifests/map-template.yaml
  hack/addons/kustomize/ccm/nutanix/manifests/values-template.yaml
  hack/addons/kustomize/cluster-autoscaler/manifests/values-template.yaml
  hack/addons/kustomize/cni/calico/manifests/aws/values-template.yaml
  hack/addons/kustomize/csi/aws-ebs/manifests/helm-values.yaml
  hack/addons/kustomize/csi/local-path/manifests/helm-values.yaml
  hack/addons/kustomize/csi/nutanix/manifests/values-template.yaml
  hack/addons/kustomize/csi/snapshot-controller/manifests/helm-values.yaml
  hack/addons/kustomize/nfd/manifests/values-template.yaml
  hack/addons/kustomize/serviceloadbalancer/metallb/values-template.yaml
  hack/tools/sync-helm-values/README.md
Due: addons-sync, addons-configmap

fix: changes pkg to use new configmap
  pkg/handlers/generic/lifecycle/addons/helmaddon.go
  pkg/handlers/generic/lifecycle/ccm/aws/handler.go
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler.go
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler_test.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/cni/calico/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/cni/cilium/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/config/cm.go
  pkg/handlers/generic/lifecycle/csi/awsebs/handler.go
  pkg/handlers/generic/lifecycle/csi/localpath/handler.go
  pkg/handlers/generic/lifecycle/csi/nutanix/handler.go
  pkg/handlers/generic/lifecycle/csi/snapshotcontroller/handler.go
  pkg/handlers/generic/lifecycle/nfd/handler.go
  pkg/handlers/generic/lifecycle/serviceloadbalancer/metallb/handler.go
Due: golangci-lint
