Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, check-coredns-versions, golangci-lint, kube-api-linter, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock

schema-chart:
  name: schema-chart
  entry: make schema-chart
  language: system

go-generate:
  name: go-generate
  entry: make go-generate
  language: system
  pass_filenames: false

check-coredns-versions:
  name: check-coredns-versions
  entry: make coredns.sync
  language: system

golangci-lint:
  name: golangci-lint
  entry: make lint
  language: system
  pass_filenames: false

kube-api-linter:
  name: kube-api-linter
  entry: make lint-kube-api
  language: system
  pass_filenames: false

chart-docs:
  name: chart-docs
  entry: make chart-docs
  language: system
  pass_filenames: false

hugo-mod-tidy:
  name: hugo-mod-tidy
  entry: bash -c "cd docs && hugo mod tidy"
  language: system
  pass_filenames: false

examples-sync:
  name: examples-sync
  entry: make examples.sync
  language: system
  pass_filenames: false

apis-sync:
  name: apis-sync
  entry: make apis.sync
  language: system
  pass_filenames: false

addons-sync:
  name: addons-sync
  entry: make addons.sync
  language: system
  pass_filenames: false

addons-repo-yaml:
  name: addons-repo-yaml
  entry: make template-helm-repository
  language: system
  pass_filenames: false

check-devbox-lock:
  name: check-devbox-lock
  entry: devbox install
  language: system
  pass_filenames: false

refactor: extend the API to support both root and additional volumes
  api/v1alpha1/aws_node_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksworkernodeconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  pkg/handlers/aws/mutation/metapatch_handler.go
  pkg/handlers/aws/mutation/rootvolume/inject_control_plane_test.go
  pkg/handlers/aws/mutation/volumes/inject.go
  pkg/handlers/aws/mutation/volumes/inject_control_plane.go
  pkg/handlers/aws/mutation/volumes/inject_control_plane_test.go
  pkg/handlers/aws/mutation/volumes/inject_suite_test.go
  pkg/handlers/aws/mutation/volumes/inject_worker.go
  pkg/handlers/aws/mutation/volumes/inject_worker_test.go
  pkg/handlers/aws/mutation/volumes/variables_test.go
  pkg/handlers/eks/mutation/metapatch_handler.go
  pkg/handlers/eks/mutation/volumes/inject_suite_test.go
  pkg/handlers/eks/mutation/volumes/inject_worker.go
  pkg/handlers/eks/mutation/volumes/inject_worker_test.go
  pkg/handlers/eks/mutation/volumes/variables_test.go
Due: go-generate, golangci-lint, kube-api-linter

feat: add rootvolume handlers
  pkg/handlers/aws/mutation/metapatch_handler.go
  pkg/handlers/aws/mutation/rootvolume/inject.go
  pkg/handlers/aws/mutation/rootvolume/inject_control_plane.go
  pkg/handlers/aws/mutation/rootvolume/inject_control_plane_test.go
  pkg/handlers/aws/mutation/rootvolume/inject_suite_test.go
  pkg/handlers/aws/mutation/rootvolume/inject_worker.go
  pkg/handlers/aws/mutation/rootvolume/inject_worker_test.go
  pkg/handlers/aws/mutation/rootvolume/variables_test.go
  pkg/handlers/eks/mutation/metapatch_handler.go
  pkg/handlers/eks/mutation/rootvolume/inject_suite_test.go
  pkg/handlers/eks/mutation/rootvolume/inject_worker.go
  pkg/handlers/eks/mutation/rootvolume/inject_worker_test.go
  pkg/handlers/eks/mutation/rootvolume/variables_test.go
Due: go-generate, golangci-lint

docs: add AWS and EKS volumes docs
  docs/content/customization/aws/volumes.md
Due: hugo-mod-tidy

fix: add CEL validation rule to require one of volume configs
  api/v1alpha1/aws_node_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksworkernodeconfigs.yaml
  pkg/handlers/aws/mutation/volumes/variables_test.go
  pkg/handlers/eks/mutation/volumes/variables_test.go
Due: go-generate, golangci-lint, kube-api-linter

Revert "fix: add CEL validation rule to require one of volume configs"
  api/v1alpha1/aws_node_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksworkernodeconfigs.yaml
  pkg/handlers/aws/mutation/volumes/variables_test.go
  pkg/handlers/eks/mutation/volumes/variables_test.go
Due: go-generate, golangci-lint, kube-api-linter

fixup! fix: rollout and wait for Cilium DaemonSet
  pkg/handlers/generic/lifecycle/cni/cilium/handler.go
Due: go-generate, golangci-lint

Add explicit worker labels on worker nodes
  pkg/handlers/generic/mutation/handlers.go
  pkg/handlers/generic/mutation/nodelabels/inject_suite_test.go
  pkg/handlers/generic/mutation/nodelabels/inject_worker.go
  pkg/handlers/generic/mutation/nodelabels/inject_worker_test.go
Due: go-generate, golangci-lint

fixup! refactor: Preallocate annotations slice (nit!)
  pkg/handlers/generic/lifecycle/cni/cilium/handler.go
Due: go-generate, golangci-lint

refactor: Use metallb APIs instead of unstructured
  api/external/go.universe.tf/metallb/api/v1beta1/bfdprofile_types.go
  api/external/go.universe.tf/metallb/api/v1beta1/bgpadvertisement_types.go
  api/external/go.universe.tf/metallb/api/v1beta1/bgppeer_conversion.go
  api/external/go.universe.tf/metallb/api/v1beta1/bgppeer_types.go
  api/external/go.universe.tf/metallb/api/v1beta1/community_types.go
  api/external/go.universe.tf/metallb/api/v1beta1/doc.go
  api/external/go.universe.tf/metallb/api/v1beta1/groupversion_info.go
  api/external/go.universe.tf/metallb/api/v1beta1/ipaddresspool_types.go
  api/external/go.universe.tf/metallb/api/v1beta1/l2advertisement_types.go
  api/external/go.universe.tf/metallb/api/v1beta1/servicebgpstatus_types.go
  api/external/go.universe.tf/metallb/api/v1beta1/servicel2status_types.go
  api/external/go.universe.tf/metallb/api/v1beta1/zz_generated.deepcopy.go
  api/external/go.universe.tf/metallb/api/v1beta2/bgppeer_conversion.go
  api/external/go.universe.tf/metallb/api/v1beta2/bgppeer_types.go
  api/external/go.universe.tf/metallb/api/v1beta2/doc.go
  api/external/go.universe.tf/metallb/api/v1beta2/groupversion_info.go
  api/external/go.universe.tf/metallb/api/v1beta2/zz_generated.deepcopy.go
  cmd/main.go
  hack/third-party/metallb/go.mod
  hack/third-party/metallb/go.sum
  hack/third-party/metallb/provider.go
  make/apis.mk
  pkg/handlers/generic/lifecycle/serviceloadbalancer/metallb/configuration.go
  pkg/handlers/generic/lifecycle/serviceloadbalancer/metallb/handler.go
  test/e2e/serviceloadbalancer_helpers.go
Due: go-generate, golangci-lint, kube-api-linter, apis-sync

feat: add identityRef for AWS and EKS clusters (#1311)
  api/v1alpha1/aws_clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksclusterconfigs.yaml
  api/v1alpha1/eks_clusterconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/aws-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/eks-cluster-class.yaml
  docs/content/customization/aws/controlplaneloadbalancer.md
  docs/content/customization/aws/identity-ref.md
  docs/content/customization/aws/network.md
  docs/content/customization/aws/region.md
  docs/content/customization/eks/_index.md
  docs/content/customization/eks/identity-ref.md
  hack/examples/overlays/clusterclasses/aws/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/eks/kustomization.yaml.tmpl
  pkg/handlers/aws/mutation/identityref/inject.go
  pkg/handlers/aws/mutation/identityref/inject_suite_test.go
  pkg/handlers/aws/mutation/identityref/inject_test.go
  pkg/handlers/aws/mutation/metapatch_handler.go
  pkg/handlers/eks/mutation/identityref/inject.go
  pkg/handlers/eks/mutation/identityref/inject_suite_test.go
  pkg/handlers/eks/mutation/identityref/inject_test.go
  pkg/handlers/eks/mutation/metapatch_handler.go
Due: go-generate, golangci-lint, kube-api-linter, chart-docs, hugo-mod-tidy, examples-sync

fixup! fix: gotemplate Cilium HCP
  pkg/handlers/generic/lifecycle/cni/cilium/template.go
Due: go-generate, golangci-lint

feat: add volume APIs to AWS and EKS Nodes (#1309)
  api/v1alpha1/aws_node_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksworkernodeconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  docs/content/customization/aws/volumes.md
  pkg/handlers/aws/mutation/metapatch_handler.go
  pkg/handlers/aws/mutation/volumes/inject.go
  pkg/handlers/aws/mutation/volumes/inject_control_plane.go
  pkg/handlers/aws/mutation/volumes/inject_control_plane_test.go
  pkg/handlers/aws/mutation/volumes/inject_suite_test.go
  pkg/handlers/aws/mutation/volumes/inject_worker.go
  pkg/handlers/aws/mutation/volumes/inject_worker_test.go
  pkg/handlers/aws/mutation/volumes/variables_test.go
  pkg/handlers/eks/mutation/metapatch_handler.go
  pkg/handlers/eks/mutation/volumes/inject_suite_test.go
  pkg/handlers/eks/mutation/volumes/inject_worker.go
  pkg/handlers/eks/mutation/volumes/inject_worker_test.go
  pkg/handlers/eks/mutation/volumes/variables_test.go
Due: go-generate, golangci-lint, kube-api-linter, hugo-mod-tidy

fix: remove test file
  test-deployment-service.yaml
Due: none

feat: update Cilium to latest version
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/cilium-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

fixup! test: Configure e2e client scheme for metallb types
  pkg/handlers/generic/lifecycle/serviceloadbalancer/metallb/configuration.go
  pkg/handlers/generic/lifecycle/serviceloadbalancer/metallb/handler.go
  test/e2e/e2e_suite_test.go
  test/e2e/resource_helpers.go
Due: go-generate, golangci-lint

fixup! build: Run go mod tidy
  api/go.sum
Due: go-generate, golangci-lint, kube-api-linter

fix: Ciliums kube-proxy replacement rollout and wait (#1307)
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/values-template.yaml
  hack/addons/update-cilium-manifests.sh
  hack/tools/fetch-images/main.go
  pkg/handlers/generic/lifecycle/cni/cilium/handler.go
  pkg/handlers/generic/lifecycle/cni/cilium/handler_integration_test.go
  pkg/handlers/generic/lifecycle/cni/cilium/template.go
  test/e2e/serviceloadbalancer_helpers.go
Due: go-generate, golangci-lint, chart-docs, addons-sync

refactor: move kubeProxy out of KubeadmClusterConfigSpec
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_eksclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_kubeadmclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  api/variables/aggregate_types.go
  pkg/handlers/generic/mutation/kubeproxymode/inject_test.go
Due: go-generate, golangci-lint, kube-api-linter

refactor: new disabled kube-proxy mode
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/variables/getters.go
  common/pkg/capi/utils/annotations.go
  docs/content/customization/generic/kube-proxy-mode.md
  examples/capi-quick-start/aws-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/eks-cluster.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-with-failuredomains-cilium-helm-addon.yaml
  hack/examples/patches/skip-kube-proxy.yaml
  pkg/handlers/generic/lifecycle/cni/cilium/handler.go
  pkg/handlers/generic/lifecycle/cni/cilium/handler_integration_test.go
  pkg/handlers/generic/lifecycle/cni/cilium/template.go
  pkg/handlers/generic/mutation/kubeproxymode/inject.go
  pkg/handlers/generic/mutation/kubeproxymode/inject_test.go
Due: go-generate, golangci-lint, kube-api-linter, hugo-mod-tidy, examples-sync

fixup! refactor: Add review feedback
  pkg/handlers/generic/lifecycle/serviceloadbalancer/metallb/handler.go
Due: go-generate, golangci-lint

feat: update Nutanix CSI to 3.3.8
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

refactor: move bootstrap provider docs
  docs/content/customization/kubeadm/_index.md
  docs/content/customization/kubeadm/audit-policy.md
  docs/content/customization/kubeadm/auto-renewal-of-control-plane-certs.md
  docs/content/customization/kubeadm/containerd-metrics.md
  docs/content/customization/kubeadm/dns.md
  docs/content/customization/kubeadm/encryption-at-rest.md
  docs/content/customization/kubeadm/etcd.md
  docs/content/customization/kubeadm/extra-apiserver-cert-sans.md
  docs/content/customization/kubeadm/kube-proxy-mode.md
  docs/content/customization/kubeadm/kubernetes-image-repository.md
  docs/content/customization/kubeadm/node-registration.md
  docs/content/customization/kubeadm/parallel-image-pulls.md
  pkg/handlers/generic/mutation/generic/doc.go
  pkg/handlers/generic/mutation/kubeadm/doc.go
Due: go-generate, golangci-lint, hugo-mod-tidy

feat: update Cilium to latest version (#1318)
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/cilium-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

feat: enable Cilium source IP preservation
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/values-template.yaml
Due: chart-docs

ci: Upgrade devbox install action and remove custom golangci-lint
  .github/workflows/blackduck.yaml
  .github/workflows/checks.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/devbox-update.yml
  .github/workflows/e2e.yml
  .github/workflows/github-pages.yml
  .github/workflows/govulncheck.yml
  .github/workflows/release-tag.yml
  devbox.json
  devbox.lock
  hack/flakes/flake.nix
Due: check-devbox-lock

fixup! refactor: Fix lint errors, move to simpler switch logic
  pkg/handlers/generic/lifecycle/serviceloadbalancer/metallb/handler.go
Due: go-generate, golangci-lint

fixup! refactor: new disabled kube-proxy mode
  pkg/handlers/generic/lifecycle/cni/cilium/handler_integration_test.go
  pkg/handlers/generic/mutation/kubeproxymode/inject.go
Due: go-generate, golangci-lint

fix: EKS CRD mode enum
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_eksclusterconfigs.yaml
  make/go.mk
Due: go-generate, golangci-lint, kube-api-linter

fix: always use the same tunnel port
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/values-template.yaml
Due: chart-docs

refactor: Use metallb APIs instead of unstructured (#1317)
  api/external/go.universe.tf/metallb/api/v1beta1/bfdprofile_types.go
  api/external/go.universe.tf/metallb/api/v1beta1/bgpadvertisement_types.go
  api/external/go.universe.tf/metallb/api/v1beta1/bgppeer_conversion.go
  api/external/go.universe.tf/metallb/api/v1beta1/bgppeer_types.go
  api/external/go.universe.tf/metallb/api/v1beta1/community_types.go
  api/external/go.universe.tf/metallb/api/v1beta1/doc.go
  api/external/go.universe.tf/metallb/api/v1beta1/groupversion_info.go
  api/external/go.universe.tf/metallb/api/v1beta1/ipaddresspool_types.go
  api/external/go.universe.tf/metallb/api/v1beta1/l2advertisement_types.go
  api/external/go.universe.tf/metallb/api/v1beta1/servicebgpstatus_types.go
  api/external/go.universe.tf/metallb/api/v1beta1/servicel2status_types.go
  api/external/go.universe.tf/metallb/api/v1beta1/zz_generated.deepcopy.go
  api/external/go.universe.tf/metallb/api/v1beta2/bgppeer_conversion.go
  api/external/go.universe.tf/metallb/api/v1beta2/bgppeer_types.go
  api/external/go.universe.tf/metallb/api/v1beta2/doc.go
  api/external/go.universe.tf/metallb/api/v1beta2/groupversion_info.go
  api/external/go.universe.tf/metallb/api/v1beta2/zz_generated.deepcopy.go
  cmd/main.go
  hack/third-party/metallb/go.mod
  hack/third-party/metallb/go.sum
  hack/third-party/metallb/provider.go
  make/apis.mk
  pkg/handlers/generic/lifecycle/serviceloadbalancer/metallb/configuration.go
  pkg/handlers/generic/lifecycle/serviceloadbalancer/metallb/handler.go
  test/e2e/e2e_suite_test.go
  test/e2e/resource_helpers.go
  test/e2e/serviceloadbalancer_helpers.go
Due: go-generate, golangci-lint, kube-api-linter, apis-sync

K8s agent as addon
  api/v1alpha1/addon_types.go
  api/v1alpha1/constants.go
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  api/variables/aggregate_types.go
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/addons/k8s-registration-agent/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/deployment.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/k8s-registration-agent/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  docs/content/addons/k8s-registration-agent.md
  examples/capi-quick-start/nutanix-cluster-calico-crs.yaml
  examples/capi-quick-start/nutanix-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-with-failuredomains-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-with-failuredomains-cilium-helm-addon.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/k8s-registration-agent/kustomization.yaml.tmpl
  hack/examples/bases/nutanix/cluster/kustomization.yaml.tmpl
  hack/examples/patches/nutanix/k8s-registration-agent.yaml
  hack/tools/fetch-images/main.go
  make/addons.mk
  pkg/handlers/generic/lifecycle/config/cm.go
  pkg/handlers/generic/lifecycle/handlers.go
  pkg/handlers/generic/lifecycle/k8sregistrationagent/doc.go
  pkg/handlers/generic/lifecycle/k8sregistrationagent/handler.go
  pkg/handlers/generic/lifecycle/k8sregistrationagent/variables_test.go
Due: schema-chart, go-generate, golangci-lint, kube-api-linter, chart-docs, hugo-mod-tidy, examples-sync, addons-sync, addons-repo-yaml

refactor: add new kube-proxy mode disable option (#1319)
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_kubeadmclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  api/variables/aggregate_types.go
  api/variables/getters.go
  common/pkg/capi/utils/annotations.go
  docs/content/customization/generic/kube-proxy-mode.md
  examples/capi-quick-start/aws-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/eks-cluster.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-with-failuredomains-cilium-helm-addon.yaml
  hack/examples/patches/skip-kube-proxy.yaml
  make/go.mk
  pkg/handlers/generic/lifecycle/cni/cilium/handler.go
  pkg/handlers/generic/lifecycle/cni/cilium/handler_integration_test.go
  pkg/handlers/generic/lifecycle/cni/cilium/template.go
  pkg/handlers/generic/mutation/kubeproxymode/inject.go
  pkg/handlers/generic/mutation/kubeproxymode/inject_test.go
Due: go-generate, golangci-lint, kube-api-linter, hugo-mod-tidy, examples-sync

test: log during Service tests
  test-deployment-service.yaml
Due: none

feat: cilium configuration overrides for EKS provider
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/values-template.yaml
  common/pkg/capi/utils/annotations.go
  pkg/handlers/generic/lifecycle/cni/cilium/template.go
Due: go-generate, golangci-lint, chart-docs

fix: remove custom eks cilium configuration from eks examples
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/values-template.yaml
  examples/capi-quick-start/eks-cluster.yaml
  hack/examples/additional-resources/eks/cilium-configmap.yaml
  hack/examples/overlays/clusters/eks/kustomization.yaml.tmpl
  hack/examples/patches/eks/cilium-with-custom-values.yaml
  hack/examples/patches/eks/initialize-variables.yaml
Due: chart-docs, examples-sync

test: unit test for template function
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/values-template.yaml
  common/pkg/capi/utils/annotations.go
  pkg/handlers/generic/lifecycle/cni/cilium/template_test.go
Due: go-generate, golangci-lint, chart-docs

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  check-coredns-versions: any of: ^api/versions/coredns.go$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  kube-api-linter: any of: ((^api/(.*\.go|go.mod|go.sum))|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/helm-chart-bundler/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$
