Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, check-coredns-versions, golangci-lint, kube-api-linter, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock

schema-chart:
  name: schema-chart
  entry: make schema-chart
  language: system

go-generate:
  name: go-generate
  entry: make go-generate
  language: system
  pass_filenames: false

check-coredns-versions:
  name: check-coredns-versions
  entry: make coredns.sync
  language: system

golangci-lint:
  name: golangci-lint
  entry: make lint
  language: system
  pass_filenames: false

kube-api-linter:
  name: kube-api-linter
  entry: make lint-kube-api
  language: system
  pass_filenames: false

chart-docs:
  name: chart-docs
  entry: make chart-docs
  language: system
  pass_filenames: false

hugo-mod-tidy:
  name: hugo-mod-tidy
  entry: bash -c "cd docs && hugo mod tidy"
  language: system
  pass_filenames: false

examples-sync:
  name: examples-sync
  entry: make examples.sync
  language: system
  pass_filenames: false

apis-sync:
  name: apis-sync
  entry: make apis.sync
  language: system
  pass_filenames: false

addons-sync:
  name: addons-sync
  entry: make addons.sync
  language: system
  pass_filenames: false

addons-repo-yaml:
  name: addons-repo-yaml
  entry: make template-helm-repository
  language: system
  pass_filenames: false

check-devbox-lock:
  name: check-devbox-lock
  entry: devbox install
  language: system
  pass_filenames: false

test: Verify servicelbgc handler behavior
  pkg/handlers/lifecycle/servicelbgc/handler.go
  pkg/handlers/lifecycle/servicelbgc/handler_test.go
Due: go-generate, golangci-lint

fix: Allow CAPA Garbage Collection to find orphaned AWS LBC resources
  charts/cluster-api-runtime-extensions-nutanix/addons/aws-load-balancer-controller/values-template.yaml
Due: chart-docs

build: migrate from pre-commit to prek
  .github/workflows/checks.yml
  .gitlint
  .pre-commit-config.yaml
  devbox.json
  devbox.lock
  make/all.mk
  make/pre-commit.mk
  make/prek.mk
Due: check-devbox-lock

fix: remediate CVEs by upgrading golang.org/x/crypto and x/net (#1644)
  go.mod
  go.sum
Due: go-generate, golangci-lint

fix: Allow CAPA Garbage Collection to find orphaned AWS LBC resources (#1646)
  charts/cluster-api-runtime-extensions-nutanix/addons/aws-load-balancer-controller/values-template.yaml
Due: chart-docs

fix: Fail servicelbgc handler when internal function returns an error (#1645)
  pkg/handlers/lifecycle/servicelbgc/handler.go
  pkg/handlers/lifecycle/servicelbgc/handler_test.go
Due: go-generate, golangci-lint

docs: [NCN-115115] Add spec for automatic kubelet reservations
  .specify/features/NCN-115115/spec.md
Due: none

docs: [NCN-115115] Add plan for automatic kubelet reservations
  .specify/features/NCN-115115/plan.md
Due: none

feat: [NCN-115115] Add automaticReservations kubelet API field
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  api/v1alpha1/kubelet_types.go
  api/v1alpha1/kubelet_types_test.go
  api/v1alpha1/zz_generated.deepcopy.go
Due: go-generate, golangci-lint, kube-api-linter

feat: [NCN-115115] Add boot-time kubelet reservation script
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/automaticreservations.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/automaticreservations_script_test.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/embedded/compute-reservations.sh
Due: go-generate, golangci-lint

feat: [NCN-115115] Inject reservation script via preKubeadmCommand
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/automaticreservations.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_controlplane.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_controlplane_test.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_worker.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_worker_test.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/kubelet_config.go
Due: go-generate, golangci-lint

test: [NCN-115115] Assert no script injected without automaticReservations
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_worker_test.go
Due: go-generate, golangci-lint

feat: [NCN-115115] Reject automaticReservations with explicit reservations
  pkg/webhook/cluster/kubeletconfiguration_validator.go
  pkg/webhook/cluster/kubeletconfiguration_validator_test.go
Due: go-generate, golangci-lint

docs: [NCN-115115] Document automatic kubelet reservations
  docs/content/customization/kubeadm/kubelet-configuration.md
Due: hugo-mod-tidy

docs: [NCN-115115] Attribute capacity-tiered formula to GKE
  docs/content/customization/kubeadm/kubelet-configuration.md
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/automaticreservations.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/embedded/compute-reservations.sh
Due: go-generate, golangci-lint, hugo-mod-tidy

style: [NCN-115115] Reformat reservation script to 2-space indent
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/embedded/compute-reservations.sh
Due: none

test: [NCN-115115] Add e2e test for automatic kubelet reservations
  .specify/features/NCN-115115/plan.md
  go.mod
  test/e2e/kubelet_reservations_helpers.go
  test/e2e/kubelet_reservations_helpers_test.go
  test/e2e/kubelet_reservations_test.go
  test/e2e/quick_start_test.go
  test/framework/bootstrap/kindprovider.go
Due: go-generate, golangci-lint

ci: [NCN-115115] Run automatic kubelet reservations e2e
  .github/workflows/checks.yml
Due: none

ci: [NCN-115115] Fold reservations e2e into quick-start job
  .github/workflows/checks.yml
  test/e2e/kubelet_reservations_test.go
Due: go-generate, golangci-lint

fix: [NCN-115115] Handle multi-document quick-start templates
  test/e2e/kubelet_reservations_helpers.go
  test/e2e/kubelet_reservations_helpers_test.go
Due: go-generate, golangci-lint

fix: [NCN-115115] Isolate provider versions before patching e2e flavor
  test/e2e/kubelet_reservations_helpers.go
  test/e2e/kubelet_reservations_helpers_test.go
  test/e2e/kubelet_reservations_test.go
Due: go-generate, golangci-lint

fix: node feature discovery addon: update node affinity and tolerations
  charts/cluster-api-runtime-extensions-nutanix/addons/nfd/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/nfd/manifests/node-feature-discovery-configmap.yaml
Due: chart-docs, addons-sync

build: migrate from pre-commit to prek (#1647)
  .github/workflows/checks.yml
  .gitlint
  .pre-commit-config.yaml
  devbox.json
  devbox.lock
  make/all.mk
  make/pre-commit.mk
  make/prek.mk
Due: check-devbox-lock

fix: Update Cilium to 1.19.4
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/cilium-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

fix: node feature discovery addon: update node affinity and tolerations (#1651)
  charts/cluster-api-runtime-extensions-nutanix/addons/nfd/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/nfd/manifests/node-feature-discovery-configmap.yaml
Due: chart-docs, addons-sync

fix: Update CoreDNS mapping file (#1606)
  api/versions/coredns.go
  api/versions/coredns_test.go
Due: go-generate, check-coredns-versions, golangci-lint, kube-api-linter

fix: Update Cilium to 1.19.4 (#1652)
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/cilium-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

refactor: [NCN-110043] Address review on Cilium SLB feature
  pkg/handlers/lifecycle/cni/cilium/template.go
  pkg/webhook/cluster/cilium_loadbalancer_validator.go
  pkg/webhook/cluster/cilium_loadbalancer_validator_test.go
  test/e2e/serviceloadbalancer_helpers.go
Due: go-generate, golangci-lint

refactor: [NCN-110043] Split SLB IP variable into start/end range
  docs/content/getting-started/create-cluster/nutanix.md
  examples/capi-quick-start/nutanix-cluster-calico-metallb-crs.yaml
  examples/capi-quick-start/nutanix-cluster-calico-metallb-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-metallb-crs.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-metallb-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-flow-metallb-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-with-failuredomains-cilium-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-with-failuredomains-cilium-metallb-crs.yaml
  examples/capi-quick-start/nutanix-cluster-with-failuredomains-cilium-metallb-helm-addon.yaml
  hack/examples/patches/nutanix/cilium-slb.yaml
  hack/examples/patches/nutanix/metallb.yaml
  test/e2e/quick_start_test.go
Due: go-generate, golangci-lint, hugo-mod-tidy, examples-sync

docs: [NCN-110043] Update README walkthrough to Docker MetalLB variant
  README.md
Due: none

test: [NCN-110043] Add Cilium ServiceLoadBalancer e2e waiter
  test/e2e/serviceloadbalancer_helpers.go
Due: go-generate, golangci-lint

ci: [NCN-115081] Sign and attest release images and Helm chart
  .github/workflows/release-tag.yml
  .specify/features/NCN-115081/plan.md
  .specify/features/NCN-115081/spec.md
  devbox.json
  devbox.lock
Due: check-devbox-lock

ci: [NCN-115081] Scope VERSION env to the release-tag job
  .github/workflows/release-tag.yml
Due: none

ci: [NCN-115081] Hoist VERSION to a workflow-level env var
  .github/workflows/release-tag.yml
Due: none

ci: [NCN-115081] Rely on bash default errexit/pipefail in release steps
  .github/workflows/release-tag.yml
  .specify/features/NCN-115081/plan.md
Due: none

fix: Update CoreDNS mapping file (#1606) [release v0.41.x] (#1653)
  api/versions/coredns.go
  api/versions/coredns_test.go
Due: go-generate, check-coredns-versions, golangci-lint, kube-api-linter

feat: stretched cluster changes
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/ahvmetrozone_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixmachinetemplate_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixmetro_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixmetrosite_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixvirtualhadomain_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/zz_generated.deepcopy.go
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/nutanix_clusterconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  hack/third-party/capx/go.mod
  hack/third-party/capx/go.sum
Due: go-generate, golangci-lint, kube-api-linter, apis-sync

fix: add missing DeepCopyObject for NutanixMetro, NutanixMetroSite and NutanixVirtualHADomain
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/zz_generated.deepcopy.go
Due: go-generate, golangci-lint, kube-api-linter, apis-sync

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  check-coredns-versions: any of: ^api/versions/coredns.go$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  kube-api-linter: any of: ((^api/(.*\.go|go.mod|go.sum))|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/helm-chart-bundler/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$
