Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, golangci-lint, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock, check-coredns-versions

schema-chart:
  name: schema-chart
  entry: make schema-chart
  language: system

go-generate:
  name: go-generate
  entry: make go-generate
  language: system
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  entry: make lint
  language: system
  pass_filenames: false

chart-docs:
  name: chart-docs
  entry: make chart-docs
  language: system
  pass_filenames: false

hugo-mod-tidy:
  name: hugo-mod-tidy
  entry: bash -c "cd docs && hugo mod tidy"
  language: system
  pass_filenames: false

examples-sync:
  name: examples-sync
  entry: make examples.sync
  language: system
  pass_filenames: false

apis-sync:
  name: apis-sync
  entry: make apis.sync
  language: system
  pass_filenames: false

addons-sync:
  name: addons-sync
  entry: make addons.sync
  language: system
  pass_filenames: false

addons-repo-yaml:
  name: addons-repo-yaml
  entry: make template-helm-repository
  language: system
  pass_filenames: false

check-devbox-lock:
  name: check-devbox-lock
  entry: devbox install
  language: system
  pass_filenames: false

check-coredns-versions:
  name: check-coredns-versions
  entry: make coredns.sync
  language: system

chore: CNI dev doc update
  docs/content/addons/cni.md
Due: hugo-mod-tidy

feat: creates redacted TypedLocalObjectReference struct
  api/v1alpha1/addon_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/meta_types.go
  api/v1alpha1/zz_generated.deepcopy.go
Due: go-generate, golangci-lint

refactor: Remove api module dependency from common module
  api/go.mod
  common/go.mod
  common/go.sum
  common/pkg/capi/apis/decoders.go
  common/pkg/capi/apis/schemes.go
  common/pkg/capi/apis/unstructured_fallback.go
  common/pkg/testutils/capitest/request/items.go
  go.mod
  internal/test/request/capa.go
  internal/test/request/capx.go
  pkg/handlers/aws/mutation/ami/inject_control_plane_test.go
  pkg/handlers/aws/mutation/ami/inject_worker_test.go
  pkg/handlers/aws/mutation/cni/calico/inject_test.go
  pkg/handlers/aws/mutation/controlplaneloadbalancer/inject_test.go
  pkg/handlers/aws/mutation/iaminstanceprofile/inject_control_plane_test.go
  pkg/handlers/aws/mutation/iaminstanceprofile/inject_worker_test.go
  pkg/handlers/aws/mutation/instancetype/inject_control_plane_test.go
  pkg/handlers/aws/mutation/instancetype/inject_worker_test.go
  pkg/handlers/aws/mutation/network/inject_test.go
  pkg/handlers/aws/mutation/region/inject_test.go
  pkg/handlers/aws/mutation/securitygroups/inject_control_plane_test.go
  pkg/handlers/aws/mutation/securitygroups/inject_worker_test.go
  pkg/handlers/nutanix/mutation/controlplaneendpoint/inject_test.go
  pkg/handlers/nutanix/mutation/machinedetails/inject_control_plane_test.go
  pkg/handlers/nutanix/mutation/machinedetails/inject_worker_test.go
  pkg/handlers/nutanix/mutation/prismcentralendpoint/inject_test.go
Due: go-generate, golangci-lint

fixup! fix: correctly copy Helm charts in init container
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-repository.yaml
Due: chart-docs

feat: fetch helm chart info from cluster variables
  pkg/handlers/generic/lifecycle/ccm/aws/handler.go
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/handler.go
  pkg/handlers/generic/lifecycle/cni/calico/handler.go
  pkg/handlers/generic/lifecycle/cni/cilium/handler.go
  pkg/handlers/generic/lifecycle/config/cm.go
  pkg/handlers/generic/lifecycle/cosi/handler.go
  pkg/handlers/generic/lifecycle/csi/awsebs/handler.go
  pkg/handlers/generic/lifecycle/csi/localpath/handler.go
  pkg/handlers/generic/lifecycle/csi/nutanix/handler.go
  pkg/handlers/generic/lifecycle/csi/snapshotcontroller/handler.go
  pkg/handlers/generic/lifecycle/nfd/handler.go
  pkg/handlers/generic/lifecycle/serviceloadbalancer/metallb/handler.go
Due: go-generate, golangci-lint

refactor: renames TypedLocalObjectReference struct to ValuesReference
  api/v1alpha1/addon_types.go
  api/v1alpha1/meta_types.go
  api/v1alpha1/zz_generated.deepcopy.go
Due: go-generate, golangci-lint

fix: correctly copy Helm charts in init container (#1018)
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-repository.yaml
Due: chart-docs

refactor: Remove api module dependency from common module (#1019)
  api/go.mod
  common/go.mod
  common/go.sum
  common/pkg/capi/apis/decoders.go
  common/pkg/capi/apis/schemes.go
  common/pkg/capi/apis/unstructured_fallback.go
  common/pkg/testutils/capitest/request/items.go
  go.mod
  internal/test/request/capa.go
  internal/test/request/capx.go
  pkg/handlers/aws/mutation/ami/inject_control_plane_test.go
  pkg/handlers/aws/mutation/ami/inject_worker_test.go
  pkg/handlers/aws/mutation/cni/calico/inject_test.go
  pkg/handlers/aws/mutation/controlplaneloadbalancer/inject_test.go
  pkg/handlers/aws/mutation/iaminstanceprofile/inject_control_plane_test.go
  pkg/handlers/aws/mutation/iaminstanceprofile/inject_worker_test.go
  pkg/handlers/aws/mutation/instancetype/inject_control_plane_test.go
  pkg/handlers/aws/mutation/instancetype/inject_worker_test.go
  pkg/handlers/aws/mutation/network/inject_test.go
  pkg/handlers/aws/mutation/region/inject_test.go
  pkg/handlers/aws/mutation/securitygroups/inject_control_plane_test.go
  pkg/handlers/aws/mutation/securitygroups/inject_worker_test.go
  pkg/handlers/nutanix/mutation/controlplaneendpoint/inject_test.go
  pkg/handlers/nutanix/mutation/machinedetails/inject_control_plane_test.go
  pkg/handlers/nutanix/mutation/machinedetails/inject_worker_test.go
  pkg/handlers/nutanix/mutation/prismcentralendpoint/inject_test.go
Due: go-generate, golangci-lint

docs: updates cni doc with clusterctl 'move' label
  docs/content/addons/cni.md
Due: hugo-mod-tidy

fix(deps): Update Nutanix CCM Version
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/mindthegap-helm-registry/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

fix: use republished COSI controller image
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync

feat: validate configmap for helm chart configuration
  pkg/handlers/generic/lifecycle/config/cm.go
  pkg/webhook/cluster/addons_validator.go
  pkg/webhook/cluster/validator.go
Due: go-generate, golangci-lint

feat: adds new field for helm values input for cilium CNI (#1011)
  api/v1alpha1/addon_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  docs/content/addons/cni.md
Due: go-generate, golangci-lint, hugo-mod-tidy

test: unit test for addon validator webhook
  pkg/handlers/generic/lifecycle/config/cm.go
  pkg/webhook/cluster/addons_validator.go
  pkg/webhook/cluster/addons_validator_webhook_test.go
Due: go-generate, golangci-lint

fix: Use mindthegap v1.17.0 for the helm-repository container
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
Due: schema-chart, chart-docs

fix: Use mindthegap v1.17.0 for the helm-repository container (#1024)
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
Due: schema-chart, chart-docs

fix: Use mindthegap v1.17.0 for the helm-repository container (#1024) (#1027)
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
Due: schema-chart, chart-docs

fix: update CoreDNS mapping file (#998)
  api/versions/coredns.go
  api/versions/coredns_test.go
Due: go-generate, golangci-lint, check-coredns-versions

fix: update CoreDNS mapping file (#1029)
  api/versions/coredns.go
  api/versions/coredns_test.go
Due: go-generate, golangci-lint, check-coredns-versions

release(release/v0.23.x): v0.23.2 (#1028)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

release(main): v0.26.0
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

fix: use flag for webhook port
  cmd/main.go
Due: go-generate, golangci-lint

feat: API for custom helm chart configuration
  api/v1alpha1/addon_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  docs/content/addons/custom-helm-config.md
Due: go-generate, golangci-lint, hugo-mod-tidy

fix: update doc to make custom config immutable
  docs/content/addons/custom-helm-config.md
Due: hugo-mod-tidy

fix: rename the field to addonsMetadata
  api/v1alpha1/addon_types.go
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  docs/content/addons/custom-helm-config.md
Due: go-generate, golangci-lint, hugo-mod-tidy

fix: use republished COSI controller image (#1022)
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync

feat: implementation for user defined cilium configmap
  pkg/handlers/generic/lifecycle/cni/cilium/handler.go
Due: go-generate, golangci-lint

feat: implementation for user defined cilium configmap
  pkg/handlers/generic/lifecycle/cni/cilium/handler.go
  pkg/handlers/generic/lifecycle/cni/variables_test.go
Due: go-generate, golangci-lint

refactor: renames variables for cilium hander
  pkg/handlers/generic/lifecycle/cni/cilium/handler.go
Due: go-generate, golangci-lint

build: update CAPI version to v1.9.3
  api/go.mod
  api/go.sum
  common/go.mod
  common/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: go-generate, golangci-lint

fix: update example Docker ClusterClass
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/docker-cluster-class.yaml
Due: chart-docs

build: update clusterctl version
  devbox.lock
Due: check-devbox-lock

fix: changes to function signature
  pkg/controllers/namespacesync/references.go
Due: go-generate, golangci-lint

test: update metadata file
  test/e2e/data/shared/v1beta1/metadata.yaml
Due: none

feat: removes Secret kind from API definition for addon valuesReference
  api/v1alpha1/addon_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  docs/content/addons/cni.md
Due: go-generate, golangci-lint, hugo-mod-tidy

feat: implementation for user defined configmap for cilium addon in cluster creation (#1033)
  api/v1alpha1/addon_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  docs/content/addons/cni.md
  pkg/handlers/generic/lifecycle/cni/cilium/handler.go
  pkg/handlers/generic/lifecycle/cni/variables_test.go
Due: go-generate, golangci-lint, hugo-mod-tidy

feat: update CAPI to v1.9.3 (#1010)
  api/go.mod
  api/go.sum
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/docker-cluster-class.yaml
  common/go.mod
  common/go.sum
  devbox.lock
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  pkg/controllers/namespacesync/references.go
  test/e2e/data/shared/v1beta1/metadata.yaml
Due: go-generate, golangci-lint, chart-docs, check-devbox-lock

refactor: modified func to use external.Get() method
  pkg/handlers/utils/secrets.go
  pkg/handlers/utils/secrets_test.go
Due: go-generate, golangci-lint

refactor: consistent naming for Cilium addon in its handler logs
  pkg/handlers/generic/lifecycle/cni/cilium/handler.go
Due: go-generate, golangci-lint

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/mindthegap-helm-registry/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$
  check-coredns-versions: any of: ^api/versions/coredns.go$
