Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-configmap

Path conditions:
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-configmap: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+|make/addons.mk$)

ci: adds pre-commit hook
  .pre-commit-config.yaml
Due: none

feat: Extract CAAPH values templates to files
  .pre-commit-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/ccm/aws/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/ccm/nutanix/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/cluster-autoscaler/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/calico/aws/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/calico/docker/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/calico/nutanix/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/aws-ebs/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/local-path/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/nutanix/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/snapshot-controller/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/nfd/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/serviceloadbalancer/metallb/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/nutanix/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cluster-autoscaler/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/aws/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/docker/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/nutanix/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/aws-ebs/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/local-path/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/nutanix/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/snapshot-controller/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/nfd/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/serviceloadbalancer/metallb/helm-addon-installation.yaml
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler_test.go
Due: golangci-lint, addons-sync, addons-configmap

fix: various pre-commit complaints
  .pre-commit-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/ccm/aws/map-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/ccm/aws/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/ccm/nutanix/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/cluster-autoscaler/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/calico/aws/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/calico/docker/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/calico/nutanix/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/aws-ebs/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/local-path/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/nutanix/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/snapshot-controller/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/nfd/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/serviceloadbalancer/metallb/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/aws/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/docker/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/nutanix/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/nutanix/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/serviceloadbalancer/metallb/helm-addon-installation.yaml
  hack/addons/kustomize/ccm/aws/manifests/map-template.yaml
  hack/addons/kustomize/ccm/aws/manifests/values-template.yaml
  hack/addons/kustomize/ccm/nutanix/manifests/values-template.yaml
  hack/addons/kustomize/cluster-autoscaler/manifests/values-template.yaml
  hack/addons/kustomize/cni/calico/manifests/aws/values-template.yaml
  hack/addons/kustomize/cni/calico/manifests/docker/values-template.yaml
  hack/addons/kustomize/cni/calico/manifests/nutanix/values-template.yaml
  hack/addons/kustomize/cni/cilium/manifests/values-template.yaml
  hack/addons/kustomize/csi/aws-ebs/manifests/values-template.yaml
  hack/addons/kustomize/csi/local-path/manifests/values-template.yaml
  hack/addons/kustomize/csi/nutanix/manifests/values-template.yaml
  hack/addons/kustomize/csi/snapshot-controller/manifests/values-template.yaml
  hack/addons/kustomize/nfd/manifests/values-template.yaml
  hack/addons/kustomize/serviceloadbalancer/metallb/values-template.yaml
  hack/tools/sync-helm-values/sync-values.go
  make/addons.mk
Due: golangci-lint, addons-sync, addons-configmap

ci: adds missing helm-values files to generate cm
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/kustomize/ccm/aws/manifests/helm-values.yaml
  hack/addons/kustomize/cluster-autoscaler/manifests/helm-values.yaml
  hack/addons/kustomize/cni/cilium/manifests/helm-values.yaml
  hack/addons/kustomize/csi/aws-ebs/manifests/helm-values.yaml
  hack/addons/kustomize/csi/local-path/manifests/helm-values.yaml
  hack/addons/kustomize/csi/snapshot-controller/manifests/helm-values.yaml
  hack/addons/kustomize/nfd/manifests/helm-values.yaml
  hack/addons/kustomize/nfd/manifests/namespace.yaml
  hack/addons/update-aws-ccm.sh
  hack/addons/update-aws-ebs-csi.sh
  hack/addons/update-calico-manifests.sh
  hack/addons/update-cilium-manifests.sh
  hack/addons/update-cluster-autoscaler.sh
  hack/addons/update-local-path-provisioner-csi.sh
  hack/addons/update-node-feature-discovery-manifests.sh
  hack/addons/update-snapshot-controller.sh
  hack/tools/helm-cm/main.go
  hack/tools/mindthegap-helm-reg/main.go
Due: golangci-lint, addons-sync, addons-configmap

fix: adds arch to chart lint
  .github/workflows/checks.yml
Due: none

fix: adds license
  hack/tools/fetch-images/main.go
  hack/tools/go.mod
Due: golangci-lint

ci: tool to get images
  devbox.lock
  hack/flakes/flake.nix
  hack/tools/fetch-images/main.go
  hack/tools/go.mod
  hack/tools/go.sum
Due: golangci-lint

fix: adds more logic to fetch images script
  hack/tools/fetch-images/main.go
Due: golangci-lint

fix: list-images make target
  .gitignore
  make/addons.mk
Due: addons-sync, addons-configmap

ci: adds tooling to publish images file
  .goreleaser.yml
  make/addons.mk
Due: addons-sync, addons-configmap

build: Remove noisy build messages (#826)
  make/dev.mk
Due: none

fixup! build: Run go mod tidy
  api/go.mod
  api/go.sum
Due: golangci-lint

build: Latest devbox update
  devbox.lock
  hack/flakes/flake.lock
  hack/flakes/flake.nix
Due: none

fix: ClusterAutoscaler addon ownership for move
  pkg/handlers/generic/lifecycle/clusterautoscaler/strategy_crs.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/strategy_helmaddon.go
  pkg/handlers/utils/utils.go
Due: golangci-lint

fix: ClusterAutoscaler addon ownership for move (#830)
  pkg/handlers/generic/lifecycle/clusterautoscaler/strategy_crs.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/strategy_helmaddon.go
  pkg/handlers/utils/utils.go
Due: golangci-lint

ci: fix capx e2e metadata.yaml file
  test/e2e/data/shared/v1beta1-capx/metadata.yaml
Due: none

build(deps): Upgrade CAPX version to v1.5.0-beta.1 (#827)
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/conditions.go
  hack/third-party/capx/go.mod
  hack/third-party/capx/go.sum
  test/e2e/data/shared/v1beta1-capx/metadata.yaml
Due: golangci-lint, apis-sync

build: Latest devbox update (#829)
  devbox.lock
  hack/flakes/flake.lock
  hack/flakes/flake.nix
Due: none

release(main): v0.13.4 (#831)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

ci: Change release-please-action to new org googleapis
  .github/workflows/release-please.yml
  docs/content/contributing/releasing.md
Due: hugo-mod-tidy

ci: Change release-please-action to new org googleapis (#832)
  .github/workflows/release-please.yml
  docs/content/contributing/releasing.md
Due: hugo-mod-tidy

build: Derive GH owner/repo via gh
  make/repo.mk
Due: none

build: Derive GH owner/repo via gh (#833)
  make/repo.mk
Due: none

fix: sync helm values readme
  hack/tools/sync-helm-values/README.md
Due: none

fix: typo in sync helm values readme
  hack/tools/sync-helm-values/README.md
Due: none

build(deps): Upgrade CCM Version to v0.4.0
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/mindthegap-helm-registry/repos.yaml
  make/addons.mk
Due: addons-sync, addons-configmap

build(deps): Upgrade CAPX Version to v1.5.0-beta.2
  hack/third-party/capx/go.mod
  hack/third-party/capx/go.sum
Due: golangci-lint, apis-sync

fix: make license flag required
  hack/tools/sync-helm-values/sync-values.go
Due: golangci-lint

build(workflow): Append GOARCH to "Sideload docker image" ko image
  .github/workflows/checks.yml
Due: none

build(e2e): Remove Kind DNS resolver override
  hack/kind/dns-override.yaml
  test/e2e/e2e_suite_test.go
Due: golangci-lint

build(deps): Upgrade CAPX Version to v1.5.0-beta.2 (#835)
  hack/third-party/capx/go.mod
  hack/third-party/capx/go.sum
Due: golangci-lint, apis-sync

build(e2e): Remove Kind DNS resolver override (#837)
  hack/kind/dns-override.yaml
  test/e2e/e2e_suite_test.go
Due: golangci-lint

build(workflow): Append GOARCH to "Run chart-testing" ko image
  .github/workflows/checks.yml
Due: none

build(deps): Upgrade CCM Version to v0.4.0 (#836)
  .github/workflows/checks.yml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/mindthegap-helm-registry/repos.yaml
  make/addons.mk
Due: addons-sync, addons-configmap

fix: sets uefi boot type
  examples/capi-quick-start/nutanix-cluster-calico-crs.yaml
  examples/capi-quick-start/nutanix-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  hack/examples/patches/nutanix/initialize-variables.yaml
Due: examples-sync

fix: sets uefi boot type (#838)
  examples/capi-quick-start/nutanix-cluster-calico-crs.yaml
  examples/capi-quick-start/nutanix-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  hack/examples/patches/nutanix/initialize-variables.yaml
Due: examples-sync

release(main): v0.13.5 (#834)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

fix: run systemctl daemon-reload before Containerd restart
  pkg/handlers/generic/mutation/containerdapplypatchesandrestart/templates/containerd-restart.sh
Due: none

fixup! fix: run systemctl daemon-reload before Containerd restart
  pkg/handlers/generic/mutation/containerdapplypatchesandrestart/templates/containerd-restart.sh
Due: none
