Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, check-coredns-versions, golangci-lint, kube-api-linter, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock

schema-chart:
  name: schema-chart
  entry: make schema-chart
  language: system

go-generate:
  name: go-generate
  entry: make go-generate
  language: system
  pass_filenames: false

check-coredns-versions:
  name: check-coredns-versions
  entry: make coredns.sync
  language: system

golangci-lint:
  name: golangci-lint
  entry: make lint
  language: system
  pass_filenames: false

kube-api-linter:
  name: kube-api-linter
  entry: make lint-kube-api
  language: system
  pass_filenames: false

chart-docs:
  name: chart-docs
  entry: make chart-docs
  language: system
  pass_filenames: false

hugo-mod-tidy:
  name: hugo-mod-tidy
  entry: bash -c "cd docs && hugo mod tidy"
  language: system
  pass_filenames: false

examples-sync:
  name: examples-sync
  entry: make examples.sync
  language: system
  pass_filenames: false

apis-sync:
  name: apis-sync
  entry: make apis.sync
  language: system
  pass_filenames: false

addons-sync:
  name: addons-sync
  entry: make addons.sync
  language: system
  pass_filenames: false

addons-repo-yaml:
  name: addons-repo-yaml
  entry: make template-helm-repository
  language: system
  pass_filenames: false

check-devbox-lock:
  name: check-devbox-lock
  entry: devbox install
  language: system
  pass_filenames: false

fix: update CoreDNS mapping file (#1447)
  api/versions/coredns.go
  api/versions/coredns_test.go
Due: go-generate, check-coredns-versions, golangci-lint, kube-api-linter

feat: enable multus for Nutanix infra
  pkg/handlers/lifecycle/cni/multus/doc.go
  pkg/handlers/lifecycle/cni/multus/handler.go
Due: go-generate, golangci-lint

feat: Enable multus installation for Nutanix infra (#1445)
  pkg/handlers/lifecycle/cni/multus/doc.go
  pkg/handlers/lifecycle/cni/multus/handler.go
Due: go-generate, golangci-lint

fix: Copy ClusterClass and Templates only if they do not already exist (#1386)
  pkg/controllers/namespacesync/copy.go
  pkg/controllers/namespacesync/copy_test.go
Due: go-generate, golangci-lint

chore: bump cosi to 0.2.2
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  make/addons.mk
Due: chart-docs, addons-sync

fix: update repos.yaml
  hack/addons/helm-chart-bundler/repos.yaml
Due: addons-sync, addons-repo-yaml

fix: update metadata values
  .release-please-manifest.json
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: none

release(main): v0.42.0
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

fix: update metadata values
  metadata.yaml
  test/e2e/config/caren.yaml
Due: none

fix: update e2e metadata
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: none

fix: nit add empty newline
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: none

feat: migrate from V3 to V4 converged client for credentials and Prism Central version
  pkg/webhook/preflight/nutanix/clients.go
  pkg/webhook/preflight/nutanix/credentials.go
  pkg/webhook/preflight/nutanix/credentials_test.go
Due: go-generate, golangci-lint

fix: formatting nit
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: none

fix: update CoreDNS mapping file
  api/versions/coredns.go
  api/versions/coredns_test.go
Due: go-generate, check-coredns-versions, golangci-lint, kube-api-linter

fix(release/v0.41.x): update CoreDNS mapping file (#1452)
  api/versions/coredns.go
  api/versions/coredns_test.go
Due: go-generate, check-coredns-versions, golangci-lint, kube-api-linter

feat: bump cosi to `v0.2.2` (#1449)
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

test: update test data
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: none

fix: update test version
  test/e2e/config/caren.yaml
Due: none

release(main): v0.42.0 (#1451)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: hugo-mod-tidy

refactor: migration nutanix API to v4
  pkg/webhook/preflight/nutanix/cache.go
  pkg/webhook/preflight/nutanix/clients.go
Due: go-generate, golangci-lint

fix: add copyright header and fix import ordering
  pkg/webhook/preflight/nutanix/cache.go
  pkg/webhook/preflight/nutanix/credentials_test.go
Due: go-generate, golangci-lint

chore: update prism-go-client to v0.6.2 and remove local replace directive
  go.mod
  go.sum
Due: go-generate, golangci-lint

refactor(e2e): migrate to converged V4 client and remove redundant code
  pkg/webhook/preflight/nutanix/credentials_test.go
  test/e2e/framework/nutanix/client.go
  test/e2e/framework/nutanix/cluster.go
  test/e2e/framework/nutanix/networking.go
  test/e2e/quick_start_test.go
Due: go-generate, golangci-lint

style: fix formatting for e2e tests and credentials test
  pkg/webhook/preflight/nutanix/credentials_test.go
  test/e2e/framework/nutanix/cluster.go
Due: go-generate, golangci-lint

feat: include credentials in cache key for Prism Central clients
  pkg/webhook/preflight/nutanix/cache.go
Due: go-generate, golangci-lint

refactor: use cluster namespaced name for cache key
  pkg/webhook/preflight/nutanix/cache.go
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/clients.go
  pkg/webhook/preflight/nutanix/credentials_test.go
Due: go-generate, golangci-lint

fix: NCN-111820 configure Cilium devices for multiple subnet auto-detection
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/values-template.yaml
  hack/tools/fetch-images/main.go
  pkg/handlers/lifecycle/cni/cilium/template.go
Due: go-generate, golangci-lint, chart-docs

feat: support automated volume expansion for the registry addon
  pkg/handlers/lifecycle/addons/helmaddon.go
  pkg/handlers/lifecycle/registry/cncfdistribution/handler.go
  pkg/handlers/lifecycle/registry/cncfdistribution/pvc_resizer.go
  pkg/handlers/lifecycle/registry/cncfdistribution/pvc_resizer_test.go
  pkg/handlers/lifecycle/registry/utils/registry_metadata.go
Due: go-generate, golangci-lint

feat: increase default registry PV size to 100Gi
  charts/cluster-api-runtime-extensions-nutanix/addons/registry/cncf-distribution/values-template.yaml
Due: chart-docs

fixup! feat: support automated volume expansion for the registry addon
  pkg/handlers/lifecycle/registry/cncfdistribution/pvc_resizer.go
Due: go-generate, golangci-lint

fix: Copy ClusterClass and Templates only if they do not already exist
  pkg/controllers/namespacesync/copy.go
  pkg/controllers/namespacesync/copy_test.go
Due: go-generate, golangci-lint

fix: Copy ClusterClass and Templates only if they do not already exist [release/v0.41.x] (#1450)
  pkg/controllers/namespacesync/copy.go
  pkg/controllers/namespacesync/copy_test.go
Due: go-generate, golangci-lint

fixup! build(deps): Bump the all-go-mod-patch-and-minor group across 3 directories with 14 updates
  api/go.sum
Due: go-generate, golangci-lint, kube-api-linter

test: log reserved IPs (#1382)
  test/e2e/quick_start_test.go
Due: go-generate, golangci-lint

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  check-coredns-versions: any of: ^api/versions/coredns.go$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  kube-api-linter: any of: ((^api/(.*\.go|go.mod|go.sum))|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/helm-chart-bundler/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$
