Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, check-coredns-versions, golangci-lint, kube-api-linter, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock

schema-chart:
  name: schema-chart
  entry: make schema-chart
  language: system

go-generate:
  name: go-generate
  entry: make go-generate
  language: system
  pass_filenames: false

check-coredns-versions:
  name: check-coredns-versions
  entry: make coredns.sync
  language: system

golangci-lint:
  name: golangci-lint
  entry: make lint
  language: system
  pass_filenames: false

kube-api-linter:
  name: kube-api-linter
  entry: make lint-kube-api
  language: system
  pass_filenames: false

chart-docs:
  name: chart-docs
  entry: make chart-docs
  language: system
  pass_filenames: false

hugo-mod-tidy:
  name: hugo-mod-tidy
  entry: bash -c "cd docs && hugo mod tidy"
  language: system
  pass_filenames: false

examples-sync:
  name: examples-sync
  entry: make examples.sync
  language: system
  pass_filenames: false

apis-sync:
  name: apis-sync
  entry: make apis.sync
  language: system
  pass_filenames: false

addons-sync:
  name: addons-sync
  entry: make addons.sync
  language: system
  pass_filenames: false

addons-repo-yaml:
  name: addons-repo-yaml
  entry: make template-helm-repository
  language: system
  pass_filenames: false

check-devbox-lock:
  name: check-devbox-lock
  entry: devbox install
  language: system
  pass_filenames: false

fix: update kubectl betterwait image (#1474)
  charts/cluster-api-runtime-extensions-nutanix/addons/registry-syncer/values-template.yaml
Due: chart-docs

refactor: Stricter EKS kube-proxy mode in Go API
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_eksclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  make/go.mk
  pkg/handlers/generic/mutation/generic/kubeproxymode/inject_test.go
Due: go-generate, golangci-lint, kube-api-linter

fix(fetch-images): template CCM values for addon image collection (#1524)
  hack/tools/fetch-images/main.go
Due: go-generate, golangci-lint

fixup! build: Run go mod tidy
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  pkg/handlers/lifecycle/utils/konnector_client.go
Due: go-generate, golangci-lint, kube-api-linter

fixup! build: Sync external APIs
  api/external/sigs.k8s.io/cluster-api-addon-provider-helm/api/v1alpha1/helmchartproxy_types.go
Due: go-generate, golangci-lint, kube-api-linter, apis-sync

fixup! build(deps): Bump sigs.k8s.io/cluster-api-addon-provider-helm
  test/e2e/data/shared/v1beta1-caaph/metadata.yaml
Due: none

build: update kube-api-linter and fix golangci-lint version matching
  hack/tools/.custom-gcl.yml
  make/go.mk
Due: go-generate, golangci-lint, kube-api-linter

fix: resolve golangci-lint findings across codebase
  cmd/main.go
  common/pkg/k8s/client/apply.go
  common/pkg/k8s/client/create.go
  internal/test/envtest/environment.go
  pkg/handlers/aws/mutation/metapatch_handler.go
  pkg/handlers/docker/mutation/metapatch_handler.go
  pkg/handlers/eks/mutation/metapatch_handler.go
  pkg/handlers/generic/mutation/generic/imageregistries/credentials/credential_provider_config_files.go
  pkg/handlers/generic/mutation/generic/imageregistries/credentials/credentials_secret.go
  pkg/handlers/generic/mutation/generic/imageregistries/credentials/inject.go
  pkg/handlers/generic/mutation/generic/mirrors/inject.go
  pkg/handlers/generic/mutation/kubeadm/controlplanevirtualip/providers/kubevip.go
  pkg/handlers/lifecycle/registry/utils/registry_metadata.go
  pkg/handlers/nutanix/mutation/controlplanefailuredomains/inject.go
  pkg/handlers/nutanix/mutation/metapatch_handler.go
  pkg/handlers/v4/aws/mutation/metapatch_handler.go
  pkg/handlers/v4/docker/mutation/metapatch_handler.go
  pkg/handlers/v4/nutanix/mutation/metapatch_handler.go
  pkg/webhook/preflight/generic/checker.go
  pkg/webhook/preflight/nutanix/checker.go
  test/e2e/configmap_helpers.go
  test/e2e/framework/self_hosted.go
  test/e2e/serviceloadbalancer_helpers.go
  test/framework/goproxy/goproxy.go
Due: go-generate, golangci-lint

fix: Use apiutils.GVKForObject in namespacesync controller
  pkg/controllers/namespacesync/controller.go
  pkg/controllers/namespacesync/controller_test.go
  pkg/controllers/namespacesync/copy.go
  pkg/controllers/namespacesync/copy_test.go
  pkg/controllers/namespacesync/references.go
Due: go-generate, golangci-lint

test: Use upstream CAPI test builder package (#1518)
  go.mod
  internal/test/builder/bootstrap.go
  internal/test/builder/builders.go
  internal/test/builder/controlplane.go
  internal/test/builder/crds.go
  internal/test/builder/doc.go
  internal/test/builder/infrastructure.go
  internal/test/builder/remediation.go
  internal/test/builder/zz_generated.deepcopy.go
  internal/test/envtest/environment.go
  pkg/controllers/enforceclusterautoscalerlimits/controller_test.go
  pkg/controllers/namespacesync/controller_test.go
  pkg/controllers/namespacesync/copy_test.go
  pkg/controllers/namespacesync/references_test.go
  pkg/handlers/lifecycle/cni/cilium/template_test.go
Due: go-generate, golangci-lint

fix: Use apiutils.GVKForObject in namespacesync controller (#1517)
  go.mod
  internal/test/builder/bootstrap.go
  internal/test/builder/builders.go
  internal/test/builder/controlplane.go
  internal/test/builder/crds.go
  internal/test/builder/doc.go
  internal/test/builder/infrastructure.go
  internal/test/builder/remediation.go
  internal/test/builder/zz_generated.deepcopy.go
  internal/test/envtest/environment.go
  pkg/controllers/enforceclusterautoscalerlimits/controller_test.go
  pkg/controllers/namespacesync/controller.go
  pkg/controllers/namespacesync/controller_test.go
  pkg/controllers/namespacesync/copy.go
  pkg/controllers/namespacesync/copy_test.go
  pkg/controllers/namespacesync/references.go
  pkg/controllers/namespacesync/references_test.go
  pkg/handlers/lifecycle/cni/cilium/template_test.go
Due: go-generate, golangci-lint

ci: Fix reviewdog permissions
  .github/workflows/checks.yml
Due: none

fixup! fix: Fix lint failure
  pkg/handlers/generic/mutation/generic/mirrors/containerd_files.go
Due: go-generate, golangci-lint

refactor: update namespace sync configuration to use label selector
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/templates/deployment.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  cmd/main.go
  pkg/controllers/namespacesync/controller.go
  pkg/controllers/namespacesync/copy.go
  pkg/controllers/namespacesync/flags.go
  pkg/controllers/namespacesync/label.go
  pkg/controllers/namespacesync/label_test.go
  pkg/controllers/namespacesync/references.go
  pkg/controllers/namespacesync/suite_test.go
Due: schema-chart, go-generate, golangci-lint, chart-docs

fixup! revert: Remove redundant context checks
  pkg/controllers/namespacesync/controller.go
  pkg/controllers/namespacesync/references.go
Due: go-generate, golangci-lint

build: update kube-api-linter and resolve golangci-lint findings (#1525)
  .github/workflows/checks.yml
  cmd/main.go
  common/pkg/k8s/client/apply.go
  common/pkg/k8s/client/create.go
  hack/tools/.custom-gcl.yml
  internal/test/envtest/environment.go
  make/go.mk
  pkg/handlers/aws/mutation/metapatch_handler.go
  pkg/handlers/docker/mutation/metapatch_handler.go
  pkg/handlers/eks/mutation/metapatch_handler.go
  pkg/handlers/generic/mutation/generic/imageregistries/credentials/credential_provider_config_files.go
  pkg/handlers/generic/mutation/generic/imageregistries/credentials/credentials_secret.go
  pkg/handlers/generic/mutation/generic/imageregistries/credentials/inject.go
  pkg/handlers/generic/mutation/generic/mirrors/containerd_files.go
  pkg/handlers/generic/mutation/generic/mirrors/inject.go
  pkg/handlers/generic/mutation/kubeadm/controlplanevirtualip/providers/kubevip.go
  pkg/handlers/lifecycle/registry/utils/registry_metadata.go
  pkg/handlers/nutanix/mutation/controlplanefailuredomains/inject.go
  pkg/handlers/nutanix/mutation/metapatch_handler.go
  pkg/handlers/v4/aws/mutation/metapatch_handler.go
  pkg/handlers/v4/docker/mutation/metapatch_handler.go
  pkg/handlers/v4/nutanix/mutation/metapatch_handler.go
  pkg/webhook/preflight/generic/checker.go
  pkg/webhook/preflight/nutanix/checker.go
  test/e2e/configmap_helpers.go
  test/e2e/framework/self_hosted.go
  test/e2e/serviceloadbalancer_helpers.go
  test/framework/goproxy/goproxy.go
Due: go-generate, golangci-lint, kube-api-linter

refactor: update namespace sync configuration to use label selector (#1408)
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/templates/deployment.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  cmd/main.go
  pkg/controllers/namespacesync/controller.go
  pkg/controllers/namespacesync/copy.go
  pkg/controllers/namespacesync/flags.go
  pkg/controllers/namespacesync/label.go
  pkg/controllers/namespacesync/label_test.go
  pkg/controllers/namespacesync/suite_test.go
Due: schema-chart, go-generate, golangci-lint, chart-docs

feat: normalize no_proxy to both CIDR and IP range
  api/go.mod
  api/go.sum
  api/v1alpha1/http_proxy.go
  api/v1alpha1/http_proxy_test.go
  api/v1alpha1/no_proxy_normalize.go
  api/v1alpha1/no_proxy_normalize_test.go
  go.mod
  go.sum
Due: go-generate, golangci-lint, kube-api-linter

fix: bump mutation handlers to v6 for no_proxy normalization
  api/v1alpha1/http_proxy.go
  api/v1alpha1/http_proxy_test.go
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/docker-cluster-class.yaml
  docs/content/getting-started/integrating-with-your-clusterclass/_index.md
  hack/examples/overlays/clusterclasses/aws/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/docker/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/eks/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/nutanix/kustomization.yaml.tmpl
  pkg/handlers/aws/handlers.go
  pkg/handlers/aws/mutation/metapatch_handler.go
  pkg/handlers/docker/handlers.go
  pkg/handlers/docker/mutation/metapatch_handler.go
  pkg/handlers/eks/handlers.go
  pkg/handlers/generic/handlers.go
  pkg/handlers/generic/mutation/generic/httpproxy/systemd_proxy_config.go
  pkg/handlers/generic/mutation/generic/httpproxy/systemd_proxy_config_test.go
  pkg/handlers/generic/mutation/metapatch_handler.go
  pkg/handlers/nutanix/handlers.go
  pkg/handlers/nutanix/mutation/metapatch_handler.go
  pkg/handlers/v4/generic/mutation/auditpolicy/embedded/apiserver-audit-policy.yaml
  pkg/handlers/v4/generic/mutation/auditpolicy/inject.go
  pkg/handlers/v4/generic/mutation/auditpolicy/inject_test.go
  pkg/handlers/v5/aws/mutation/metapatch_handler.go
  pkg/handlers/v5/docker/mutation/metapatch_handler.go
  pkg/handlers/v5/eks/mutation/metapatch_handler.go
  pkg/handlers/v5/generic/mutation/handlers.go
  pkg/handlers/v5/generic/mutation/httpproxy/inject.go
  pkg/handlers/v5/generic/mutation/httpproxy/inject_test.go
  pkg/handlers/v5/generic/mutation/metapatch_handler.go
  pkg/handlers/v5/nutanix/mutation/metapatch_handler.go
Due: go-generate, golangci-lint, kube-api-linter, chart-docs, hugo-mod-tidy, examples-sync

fixup! refactor: Fix up missing clusterv1 alias rename
  api/v1alpha1/http_proxy.go
Due: go-generate, golangci-lint, kube-api-linter

refactor: Stricter EKS kube-proxy mode in Go API (#1323)
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_eksclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  make/go.mk
  pkg/handlers/generic/mutation/generic/kubeproxymode/inject_test.go
Due: go-generate, golangci-lint, kube-api-linter

fix: increase default podPidsLimit to 16,384
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/aws-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/docker-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  hack/examples/patches/cis/kubeadmconfigtemplate/kubelet-configuration.yaml
  hack/examples/patches/cis/kubeadmcontrolplanetemplate/kubelet-configuration.yaml
Due: chart-docs, examples-sync

feat: update Nutanix CIS version to 3.6.0
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

feat: Support additional trust bundle in Nutanix preflight checks
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/checker_test.go
  pkg/webhook/preflight/nutanix/clients.go
  pkg/webhook/preflight/nutanix/credentials.go
  pkg/webhook/preflight/nutanix/credentials_test.go
Due: go-generate, golangci-lint

docs: Explain addons sync in README
  README.md
Due: none

fixup! fix: increase default podPidsLimit to 16,384
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/aws-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/docker-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  hack/examples/patches/cis/kubeadmconfigtemplate/kubelet-configuration.yaml
  hack/examples/patches/cis/kubeadmcontrolplanetemplate/kubelet-configuration.yaml
Due: chart-docs, examples-sync

fix: Improve error message in CIDR validation
  pkg/webhook/preflight/nutanix/cidrvalidation.go
  pkg/webhook/preflight/nutanix/cidrvalidation_test.go
Due: go-generate, golangci-lint

feat: Support additional trust bundle in Nutanix preflight checks (#1527)
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/checker_test.go
  pkg/webhook/preflight/nutanix/clients.go
  pkg/webhook/preflight/nutanix/credentials.go
  pkg/webhook/preflight/nutanix/credentials_test.go
Due: go-generate, golangci-lint

fix: Improve error message in CIDR validation (#1532)
  pkg/webhook/preflight/nutanix/cidrvalidation.go
  pkg/webhook/preflight/nutanix/cidrvalidation_test.go
Due: go-generate, golangci-lint

feat: update Nutanix CIS version to 3.6.0 (#1531)
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

refactor: Consistent calls and imports in nutanix preflight checks
  pkg/webhook/preflight/nutanix/cache.go
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/checker_test.go
  pkg/webhook/preflight/nutanix/clients.go
  pkg/webhook/preflight/nutanix/credentials.go
  pkg/webhook/preflight/nutanix/credentials_test.go
Due: go-generate, golangci-lint

refactor: Consistent calls and imports in nutanix preflight checks (#1528)
  pkg/webhook/preflight/nutanix/cache.go
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/checker_test.go
  pkg/webhook/preflight/nutanix/clients.go
  pkg/webhook/preflight/nutanix/credentials.go
  pkg/webhook/preflight/nutanix/credentials_test.go
Due: go-generate, golangci-lint

feat: normalize no_proxy to both CIDR and IP range (#1495)
  api/go.mod
  api/go.sum
  api/v1alpha1/http_proxy.go
  api/v1alpha1/http_proxy_test.go
  api/v1alpha1/no_proxy_normalize.go
  api/v1alpha1/no_proxy_normalize_test.go
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/docker-cluster-class.yaml
  docs/content/getting-started/integrating-with-your-clusterclass/_index.md
  go.mod
  go.sum
  hack/examples/overlays/clusterclasses/aws/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/docker/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/eks/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/nutanix/kustomization.yaml.tmpl
  pkg/handlers/aws/handlers.go
  pkg/handlers/aws/mutation/metapatch_handler.go
  pkg/handlers/docker/handlers.go
  pkg/handlers/docker/mutation/metapatch_handler.go
  pkg/handlers/eks/handlers.go
  pkg/handlers/generic/handlers.go
  pkg/handlers/generic/mutation/generic/httpproxy/systemd_proxy_config.go
  pkg/handlers/generic/mutation/generic/httpproxy/systemd_proxy_config_test.go
  pkg/handlers/generic/mutation/metapatch_handler.go
  pkg/handlers/nutanix/handlers.go
  pkg/handlers/nutanix/mutation/metapatch_handler.go
  pkg/handlers/v4/generic/mutation/auditpolicy/embedded/apiserver-audit-policy.yaml
  pkg/handlers/v4/generic/mutation/auditpolicy/inject.go
  pkg/handlers/v4/generic/mutation/auditpolicy/inject_test.go
  pkg/handlers/v5/aws/mutation/metapatch_handler.go
  pkg/handlers/v5/docker/mutation/metapatch_handler.go
  pkg/handlers/v5/eks/mutation/metapatch_handler.go
  pkg/handlers/v5/generic/mutation/handlers.go
  pkg/handlers/v5/generic/mutation/httpproxy/inject.go
  pkg/handlers/v5/generic/mutation/httpproxy/inject_test.go
  pkg/handlers/v5/generic/mutation/metapatch_handler.go
  pkg/handlers/v5/nutanix/mutation/metapatch_handler.go
Due: go-generate, golangci-lint, kube-api-linter, chart-docs, hugo-mod-tidy, examples-sync

docs: [NCN-112929] Add KubeletConfiguration spec and plan
  .specify/features/NCN-1234/plan.md
  .specify/features/NCN-1234/spec.md
Due: none

feat: [NCN-112929] Add KubeletConfiguration API type
  api/v1alpha1/kubelet_types.go
  api/v1alpha1/zz_generated.deepcopy.go
Due: go-generate, golangci-lint, kube-api-linter

feat: [NCN-112929] Implement KubeletConfiguration handler
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject.go
Due: go-generate, golangci-lint

feat: [NCN-112929] Add CP and worker handlers with merge
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_controlplane.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_worker.go
Due: go-generate, golangci-lint

feat: [NCN-112929] Add KubeletConfiguration patch template
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/embedded/kubeletconfigpatch.yaml.tmpl
Due: none

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  check-coredns-versions: any of: ^api/versions/coredns.go$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  kube-api-linter: any of: ((^api/(.*\.go|go.mod|go.sum))|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/helm-chart-bundler/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$
