Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, golangci-lint, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock, check-coredns-versions

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/mindthegap-helm-registry/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$
  check-coredns-versions: any of: ^api/versions/coredns.go$

feat: adds cluster's ownerref on cilium helm values source object
  docs/content/addons/cni.md
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler.go
  pkg/handlers/generic/lifecycle/cni/cilium/handler.go
  pkg/handlers/generic/lifecycle/csi/nutanix/handler.go
  pkg/handlers/generic/mutation/imageregistries/credentials/inject.go
  pkg/handlers/utils/secrets.go
  pkg/handlers/utils/secrets_test.go
Due: go-generate, golangci-lint, hugo-mod-tidy

fixup! refactor: modified func to use external.Get() method
  pkg/handlers/utils/secrets.go
  pkg/handlers/utils/secrets_test.go
Due: go-generate, golangci-lint

fixup! feat: adds cluster's ownerref on cilium helm values source object
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler.go
  pkg/handlers/generic/lifecycle/cni/cilium/handler.go
  pkg/handlers/generic/lifecycle/csi/nutanix/handler.go
  pkg/handlers/generic/mutation/imageregistries/credentials/inject.go
  pkg/handlers/utils/secrets.go
  pkg/handlers/utils/secrets_test.go
Due: go-generate, golangci-lint

fixup! build(deps): Bump the all-go-mod-patch-and-minor group across 3 directories with 16 updates
  api/go.sum
Due: go-generate, golangci-lint

feat: adds cluster's ownerref on cilium helm values source object (#1034)
  docs/content/addons/cni.md
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler.go
  pkg/handlers/generic/lifecycle/cni/cilium/handler.go
  pkg/handlers/generic/lifecycle/csi/nutanix/handler.go
  pkg/handlers/generic/mutation/imageregistries/credentials/inject.go
  pkg/handlers/utils/secrets.go
  pkg/handlers/utils/secrets_test.go
Due: go-generate, golangci-lint, hugo-mod-tidy

fixup! release(main): v0.26.0
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: none

release(main): v0.26.0 (#1030)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: hugo-mod-tidy

docs: updates cilium doc with link to its default spec
  docs/content/addons/cni.md
Due: hugo-mod-tidy

fixup! feat: Update API types
  api/external/sigs.k8s.io/cluster-api-addon-provider-helm/api/v1alpha1/helmchartproxy_types.go
  api/external/sigs.k8s.io/cluster-api-addon-provider-helm/api/v1alpha1/helmreleaseproxy_types.go
Due: go-generate, golangci-lint, apis-sync

fixup! test: Fix up CAAPH test metadata for new version
  test/e2e/data/shared/v1beta1-caaph/metadata.yaml
Due: none

fix: Correctly configure non-mirror registry certificates
  pkg/handlers/generic/mutation/mirrors/containerd_files.go
  pkg/handlers/generic/mutation/mirrors/containerd_files_test.go
  pkg/handlers/generic/mutation/mirrors/inject.go
  pkg/handlers/generic/mutation/mirrors/inject_test.go
  pkg/handlers/generic/mutation/mirrors/templates/hosts.toml.gotmpl
Due: go-generate, golangci-lint

fixup! refactor: Fix up godoc for generateContainerdDefaultHostsFile
  pkg/handlers/generic/mutation/mirrors/containerd_files.go
Due: go-generate, golangci-lint

fix: Specify PriorityClass for Node Feature Discovery components
  charts/cluster-api-runtime-extensions-nutanix/addons/nfd/values-template.yaml
Due: chart-docs

fix: Specify PriorityClass for Node Feature Discovery components (#1041)
  charts/cluster-api-runtime-extensions-nutanix/addons/nfd/values-template.yaml
Due: chart-docs

fixup! revert: Keep old mirrors handler
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  hack/examples/overlays/clusterclasses/nutanix/kustomization.yaml.tmpl
  pkg/handlers/deleteinv0280/generic/mutation/handlers.go
  pkg/handlers/deleteinv0280/generic/mutation/mirrors/containerd_files.go
  pkg/handlers/deleteinv0280/generic/mutation/mirrors/containerd_files_test.go
  pkg/handlers/deleteinv0280/generic/mutation/mirrors/inject.go
  pkg/handlers/deleteinv0280/generic/mutation/mirrors/inject_test.go
  pkg/handlers/deleteinv0280/generic/mutation/mirrors/templates/containerd-registry-config-drop-in.toml
  pkg/handlers/deleteinv0280/generic/mutation/mirrors/templates/hosts.toml.gotmpl
  pkg/handlers/deleteinv0280/generic/mutation/mirrors/variables_test.go
  pkg/handlers/deleteinv0280/nutanix/mutation/metapatch_handler.go
  pkg/handlers/nutanix/handlers.go
Due: go-generate, golangci-lint, chart-docs, examples-sync

fix: Remove empty containerd _default/hosts.toml
  pkg/handlers/generic/mutation/mirrors/containerd_files.go
  pkg/handlers/generic/mutation/mirrors/containerd_files_test.go
  pkg/handlers/generic/mutation/mirrors/inject_test.go
Due: go-generate, golangci-lint

fix: Configure priorityClassName for Cilium Hubble
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/values-template.yaml
Due: chart-docs

feat: Update COSI controller Addon
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync

fix: Correctly configure non-mirror registry certificates (#1039)
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  hack/examples/overlays/clusterclasses/nutanix/kustomization.yaml.tmpl
  pkg/handlers/deleteinv0280/generic/mutation/handlers.go
  pkg/handlers/deleteinv0280/generic/mutation/mirrors/containerd_files.go
  pkg/handlers/deleteinv0280/generic/mutation/mirrors/containerd_files_test.go
  pkg/handlers/deleteinv0280/generic/mutation/mirrors/inject.go
  pkg/handlers/deleteinv0280/generic/mutation/mirrors/inject_test.go
  pkg/handlers/deleteinv0280/generic/mutation/mirrors/templates/containerd-registry-config-drop-in.toml
  pkg/handlers/deleteinv0280/generic/mutation/mirrors/templates/hosts.toml.gotmpl
  pkg/handlers/deleteinv0280/generic/mutation/mirrors/variables_test.go
  pkg/handlers/deleteinv0280/nutanix/mutation/metapatch_handler.go
  pkg/handlers/nutanix/handlers.go
Due: go-generate, golangci-lint, chart-docs, examples-sync

fix: Configure priorityClassName for Cilium Hubble (#1045)
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/values-template.yaml
Due: chart-docs

fix: set priority class name for metallb
  charts/cluster-api-runtime-extensions-nutanix/addons/serviceloadbalancer/metallb/values-template.yaml
Due: chart-docs

fixup! revert: Keep old image credentials handler
  pkg/handlers/deleteinv0280/generic/mutation/handlers.go
  pkg/handlers/deleteinv0280/generic/mutation/imageregistries/credentials/credential_provider_config_files.go
  pkg/handlers/deleteinv0280/generic/mutation/imageregistries/credentials/credential_provider_config_files_test.go
  pkg/handlers/deleteinv0280/generic/mutation/imageregistries/credentials/credential_provider_install_files.go
  pkg/handlers/deleteinv0280/generic/mutation/imageregistries/credentials/credential_provider_kubelet_args.go
  pkg/handlers/deleteinv0280/generic/mutation/imageregistries/credentials/credentials_secret.go
  pkg/handlers/deleteinv0280/generic/mutation/imageregistries/credentials/credentials_secret_test.go
  pkg/handlers/deleteinv0280/generic/mutation/imageregistries/credentials/doc.go
  pkg/handlers/deleteinv0280/generic/mutation/imageregistries/credentials/inject.go
  pkg/handlers/deleteinv0280/generic/mutation/imageregistries/credentials/inject_test.go
  pkg/handlers/deleteinv0280/generic/mutation/imageregistries/credentials/templates/dynamic-credential-provider-config.yaml.gotmpl
  pkg/handlers/deleteinv0280/generic/mutation/imageregistries/credentials/templates/install-kubelet-credential-providers.sh.gotmpl
  pkg/handlers/deleteinv0280/generic/mutation/imageregistries/credentials/templates/kubelet-image-credential-provider-config.yaml.gotmpl
  pkg/handlers/deleteinv0280/generic/mutation/imageregistries/credentials/templates/static-credential-provider.json.gotmpl
  pkg/handlers/deleteinv0280/generic/mutation/imageregistries/credentials/variables_test.go
Due: go-generate, golangci-lint

fix: Correctly configure dynamic credential provider
  make/dev.mk
  pkg/handlers/generic/mutation/imageregistries/credentials/credential_provider_config_files.go
  pkg/handlers/generic/mutation/imageregistries/credentials/credential_provider_config_files_test.go
  pkg/handlers/generic/mutation/imageregistries/credentials/templates/dynamic-credential-provider-config.yaml.gotmpl
Due: go-generate, golangci-lint

fix: don't generate empty _default containerd mirror file
  pkg/handlers/generic/mutation/mirrors/containerd_files.go
  pkg/handlers/generic/mutation/mirrors/containerd_files_test.go
  pkg/handlers/generic/mutation/mirrors/inject_test.go
Due: go-generate, golangci-lint

fix: don't generate empty _default containerd mirror file (#1042)
  pkg/handlers/generic/mutation/mirrors/containerd_files.go
  pkg/handlers/generic/mutation/mirrors/containerd_files_test.go
  pkg/handlers/generic/mutation/mirrors/inject_test.go
Due: go-generate, golangci-lint

fix: set priority class name for metallb (#1046)
  charts/cluster-api-runtime-extensions-nutanix/addons/serviceloadbalancer/metallb/values-template.yaml
Due: chart-docs

feat: Update COSI controller Addon (#1043)
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync

fix: Correctly configure dynamic credential provider (#1040)
  make/dev.mk
  pkg/handlers/deleteinv0280/generic/mutation/handlers.go
  pkg/handlers/deleteinv0280/generic/mutation/imageregistries/credentials/credential_provider_config_files.go
  pkg/handlers/deleteinv0280/generic/mutation/imageregistries/credentials/credential_provider_config_files_test.go
  pkg/handlers/deleteinv0280/generic/mutation/imageregistries/credentials/credential_provider_install_files.go
  pkg/handlers/deleteinv0280/generic/mutation/imageregistries/credentials/credential_provider_kubelet_args.go
  pkg/handlers/deleteinv0280/generic/mutation/imageregistries/credentials/credentials_secret.go
  pkg/handlers/deleteinv0280/generic/mutation/imageregistries/credentials/credentials_secret_test.go
  pkg/handlers/deleteinv0280/generic/mutation/imageregistries/credentials/doc.go
  pkg/handlers/deleteinv0280/generic/mutation/imageregistries/credentials/inject.go
  pkg/handlers/deleteinv0280/generic/mutation/imageregistries/credentials/inject_test.go
  pkg/handlers/deleteinv0280/generic/mutation/imageregistries/credentials/templates/dynamic-credential-provider-config.yaml.gotmpl
  pkg/handlers/deleteinv0280/generic/mutation/imageregistries/credentials/templates/install-kubelet-credential-providers.sh.gotmpl
  pkg/handlers/deleteinv0280/generic/mutation/imageregistries/credentials/templates/kubelet-image-credential-provider-config.yaml.gotmpl
  pkg/handlers/deleteinv0280/generic/mutation/imageregistries/credentials/templates/static-credential-provider.json.gotmpl
  pkg/handlers/deleteinv0280/generic/mutation/imageregistries/credentials/variables_test.go
Due: go-generate, golangci-lint

feat: Build with Go 1.24.0
  .github/workflows/checks.yml
  .pre-commit-config.yaml
  api/go.mod
  common/go.mod
  devbox.json
  devbox.lock
  go.mod
  hack/flakes/flake.lock
  hack/flakes/flake.nix
Due: go-generate, golangci-lint, check-devbox-lock

fixup! build: Regenerate CRDs with latest tooling
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
Due: none

fixup! build: Fix up markdown
  docs/content/customization/generic/encryption-at-rest.md
Due: hugo-mod-tidy

feat: Build with Go 1.24.0 (#1047)
  .github/workflows/checks.yml
  .pre-commit-config.yaml
  api/go.mod
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  common/go.mod
  devbox.json
  devbox.lock
  docs/content/customization/generic/encryption-at-rest.md
  go.mod
  hack/flakes/flake.lock
  hack/flakes/flake.nix
Due: go-generate, golangci-lint, hugo-mod-tidy, check-devbox-lock

fixup! release: Update metadata for release
  .golangci.yml
  docs/content/contributing/releasing.md
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: hugo-mod-tidy

release(main): v0.27.0 (#1048)
  .golangci.yml
  .release-please-manifest.json
  CHANGELOG.md
  docs/content/contributing/releasing.md
  docs/hugo.toml
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: hugo-mod-tidy

fix(deps): Update Nutanix CCM Version
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/mindthegap-helm-registry/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

fix(deps): Update Nutanix CCM Version (#1016)
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync

fix: Use new patch handler for AWS and Docker ClusterClasses
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/aws-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/docker-cluster-class.yaml
  hack/examples/overlays/clusterclasses/aws/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/docker/kustomization.yaml.tmpl
  pkg/handlers/aws/handlers.go
  pkg/handlers/deleteinv0280/aws/mutation/metapatch_handler.go
  pkg/handlers/deleteinv0280/docker/mutation/metapatch_handler.go
  pkg/handlers/deleteinv0280/generic/mutation/metapatch_handler.go
  pkg/handlers/docker/handlers.go
  pkg/handlers/generic/handlers.go
Due: go-generate, golangci-lint, chart-docs, examples-sync

fixup! refactor: Address review feedback
  pkg/handlers/deleteinv0280/aws/mutation/metapatch_handler.go
  pkg/handlers/deleteinv0280/docker/mutation/metapatch_handler.go
  pkg/handlers/deleteinv0280/generic/mutation/metapatch_handler.go
Due: go-generate, golangci-lint

build: Updated goreleaser kos.repositories config
  .goreleaser.yml
Due: none
