Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, golangci-lint, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock, check-coredns-versions

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/mindthegap-helm-registry/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$
  check-coredns-versions: any of: ^api/versions/coredns.go$

WIP: use inclusterregistry BCC to set globalImageRegistryMirror
  charts/cluster-api-runtime-extensions-nutanix/templates/role.yaml
  common/pkg/capi/clustertopology/variables/variable.go
  examples/capi-quick-start/docker-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  pkg/handlers/generic/lifecycle/inclusterregistry/bcc.go
  pkg/handlers/generic/lifecycle/inclusterregistry/distribution/handler.go
  pkg/handlers/generic/lifecycle/inclusterregistry/distribution/loader.go
  pkg/handlers/generic/lifecycle/inclusterregistry/doc.go
  pkg/handlers/generic/lifecycle/inclusterregistry/handler.go
  pkg/handlers/generic/lifecycle/inclusterregistry/mindthegap/configuration.go
  pkg/handlers/generic/lifecycle/inclusterregistry/mindthegap/handler.go
  pkg/handlers/generic/lifecycle/inclusterregistry/utils/ip.go
Due: go-generate, golangci-lint, chart-docs, examples-sync

fix: enable Cilium's sessionAffinity for ClusterIP Services
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/values-template.yaml
Due: chart-docs

WIP: add API to load bundles
  api/v1alpha1/addon_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  pkg/handlers/generic/lifecycle/inclusterregistry/distribution/embedded/copier.yaml.gotmpl
  pkg/handlers/generic/lifecycle/inclusterregistry/distribution/embedded/loader.yaml.gotmpl
  pkg/handlers/generic/lifecycle/inclusterregistry/distribution/handler.go
  pkg/handlers/generic/lifecycle/inclusterregistry/distribution/loader.go
  pkg/handlers/generic/lifecycle/inclusterregistry/distribution/loader_test.go
  pkg/handlers/generic/lifecycle/inclusterregistry/handler.go
  pkg/handlers/generic/lifecycle/inclusterregistry/mindthegap/handler.go
Due: go-generate, golangci-lint, examples-sync

WIP: remove mindthegap provider
  api/v1alpha1/addon_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  pkg/handlers/generic/lifecycle/handlers.go
  pkg/handlers/generic/lifecycle/inclusterregistry/doc.go
  pkg/handlers/generic/lifecycle/inclusterregistry/mindthegap/configuration.go
  pkg/handlers/generic/lifecycle/inclusterregistry/mindthegap/doc.go
  pkg/handlers/generic/lifecycle/inclusterregistry/mindthegap/embedded/mindthegap.yaml.gotmpl
  pkg/handlers/generic/lifecycle/inclusterregistry/mindthegap/embedded/seeder.yaml.gotmpl
  pkg/handlers/generic/lifecycle/inclusterregistry/mindthegap/handler.go
Due: go-generate, golangci-lint

fix(deps): update CAPX to v1.6.1
  hack/third-party/capx/go.mod
  hack/third-party/capx/go.sum
Due: go-generate, golangci-lint, apis-sync

build(deps): Update CAPX to v1.6.1 (#1106)
  hack/third-party/capx/go.mod
  hack/third-party/capx/go.sum
Due: go-generate, golangci-lint, apis-sync

fixup! build: Run go mod tidy
  api/go.mod
  api/go.sum
Due: go-generate, golangci-lint

fix: update Cilium to v1.17.3
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/cilium-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync

fix: update kube-vip to v0.8.10
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  hack/examples/files/kube-vip.yaml
  make/addons.mk
Due: chart-docs, examples-sync, addons-sync

WIP: set mirror in a mutation handler
  hack/kind/kind-base-config.yaml
  pkg/handlers/generic/lifecycle/handlers.go
  pkg/handlers/generic/lifecycle/inclusterregistry/bcc.go
  pkg/handlers/generic/lifecycle/inclusterregistry/distribution/loader.go
  pkg/handlers/generic/lifecycle/inclusterregistry/utils/ip.go
  pkg/handlers/generic/mutation/mirrors/inject.go
Due: go-generate, golangci-lint

WIP: add tolerations to destination Pod
  pkg/handlers/generic/lifecycle/inclusterregistry/distribution/embedded/loader.yaml.gotmpl
Due: none

fix: update addon versions (#1107)
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/cilium-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  hack/examples/files/kube-vip.yaml
  make/addons.mk
Due: chart-docs, examples-sync, addons-sync

ci: Update Kubernetes versions for e2e tests
  .github/workflows/checks.yml
  api/versions/coredns.go
  make/kind.mk
Due: go-generate, golangci-lint, check-coredns-versions

fixup! test: Update coredns versions test
  api/versions/coredns_test.go
Due: go-generate, golangci-lint

ci: Update Kubernetes versions for e2e tests (#1111)
  .github/workflows/checks.yml
  api/versions/coredns.go
  api/versions/coredns_test.go
  make/kind.mk
Due: go-generate, golangci-lint, check-coredns-versions

feat: Explicitly disable profiling for CP components
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/aws-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/docker-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  hack/examples/overlays/clusterclasses/aws/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/docker/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/nutanix/kustomization.yaml.tmpl
  hack/examples/patches/disable-kubeadmcontrolplane-profiling.yaml
Due: chart-docs, examples-sync

build: Update all tools
  devbox.lock
  hack/flakes/flake.lock
  hack/flakes/flake.nix
Due: check-devbox-lock

build: Update golangci-lint v2 config and fix issues
  .golangci.yml
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  api/versions/coredns_test.go
  devbox.json
  devbox.lock
  hack/tools/coredns-versions/main.go
  hack/tools/fetch-images/main.go
  internal/test/builder/builders.go
  internal/test/envtest/environment.go
  make/apis.mk
  make/go.mk
  pkg/controllers/namespacesync/copy_test.go
  pkg/handlers/generic/lifecycle/addons/helmaddon.go
  pkg/handlers/generic/lifecycle/csi/utils/scs.go
  pkg/handlers/utils/utils.go
  test/helpers/envtest.go
Due: go-generate, golangci-lint, apis-sync, check-devbox-lock

fixup! ci: Fix up golangci-lint version discovery
  .github/workflows/checks.yml
Due: none

fixup! refactor: Rebase
  hack/tools/fetch-images/main.go
Due: go-generate, golangci-lint

fixup! build: Revert to hugo 0.145.0
  devbox.json
  devbox.lock
Due: check-devbox-lock

release(main): v0.28.2 (#1112)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

ci: include correct kube-vip version when listing images
  make/addons.mk
Due: addons-sync

fixup! refactor: Update for CAPI v1.10.0 changes
  cmd/main.go
  hack/tools/go.mod
  internal/test/envtest/environment.go
  pkg/controllers/namespacesync/references.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/strategy_crs.go
  pkg/handlers/utils/utils.go
  test/e2e/ccm_helpers.go
  test/e2e/clusterautoscaler_helpers.go
  test/e2e/cni_helpers.go
  test/e2e/csi_helpers.go
  test/e2e/framework/nutanix/client.go
  test/e2e/framework/self_hosted.go
  test/e2e/nfd_helpers.go
  test/e2e/ownerreference_helpers.go
  test/e2e/quick_start_test.go
Due: go-generate, golangci-lint

ci: include correct kube-vip version when listing images (#1113)
  make/addons.mk
Due: addons-sync

build: Update all tools and fix up for golangci-lint v2 (#1108)
  .github/workflows/checks.yml
  .golangci.yml
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  api/versions/coredns_test.go
  devbox.json
  devbox.lock
  hack/flakes/flake.lock
  hack/flakes/flake.nix
  hack/tools/coredns-versions/main.go
  hack/tools/fetch-images/main.go
  internal/test/builder/builders.go
  internal/test/envtest/environment.go
  make/apis.mk
  make/go.mk
  pkg/controllers/namespacesync/copy_test.go
  pkg/handlers/generic/lifecycle/addons/helmaddon.go
  pkg/handlers/generic/lifecycle/csi/utils/scs.go
  pkg/handlers/utils/utils.go
  test/helpers/envtest.go
Due: go-generate, golangci-lint, apis-sync, check-devbox-lock

fixup! build: Delete invalid machinePools removal patch
  hack/examples/bases/docker/cluster/kustomization.yaml.tmpl
Due: examples-sync

fixup! refactor: Add dummy class to satisfy updated webhook
  pkg/handlers/generic/lifecycle/servicelbgc/deleter_test.go
  pkg/handlers/generic/mutation/controlplanevirtualip/inject_test.go
  pkg/handlers/generic/mutation/coredns/inject_test.go
  pkg/handlers/v2/generic/mutation/controlplanevirtualip/inject_test.go
  pkg/webhook/cluster/webhook_suite_test.go
  pkg/webhook/cluster/webhook_test.go
Due: go-generate, golangci-lint

fixup! test: Fix up CAPI test metadata
  test/e2e/data/shared/v1beta1/metadata.yaml
Due: none

feat: POC to create vsphere cluster
  api/v1alpha1/addon_types.go
  api/variables/aggregate_types.go
  charts/cluster-api-runtime-extensions-nutanix/addons/ccm/vsphere/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/vsphere-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/vsphere/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/role.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/vsphere-ccm/kustomization.yaml.tmpl
  pkg/handlers/generic/lifecycle/ccm/handler.go
  pkg/handlers/generic/lifecycle/ccm/vsphere/handler.go
  pkg/handlers/generic/lifecycle/config/cm.go
  pkg/handlers/generic/lifecycle/handlers.go
  pkg/handlers/generic/mutation/encryptionatrest/inject.go
  pkg/handlers/vsphere/mutation/controlplanevirtualip/inject.go
  pkg/handlers/vsphere/mutation/metapatch_handler.go
Due: schema-chart, go-generate, golangci-lint, chart-docs, addons-sync

feat: Explicitly disable profiling for CP components (#1109)
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/aws-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/docker-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  hack/examples/overlays/clusterclasses/aws/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/docker/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/nutanix/kustomization.yaml.tmpl
  hack/examples/patches/disable-kubeadmcontrolplane-profiling.yaml
Due: chart-docs, examples-sync

WIP: port-forward and push bundles
  pkg/handlers/generic/lifecycle/inclusterregistry/distribution/embedded/loader.yaml.gotmpl
  pkg/handlers/generic/lifecycle/inclusterregistry/distribution/loader.go
Due: go-generate, golangci-lint

fix: uses consistent spelling
  test/e2e/quick_start_test.go
  test/e2e/self_hosted_test.go
Due: go-generate, golangci-lint

fix: uses consistent spelling (#1115)
  test/e2e/quick_start_test.go
  test/e2e/self_hosted_test.go
Due: go-generate, golangci-lint

test(e2e): Disable Calico tests
  test/e2e/quick_start_test.go
  test/e2e/self_hosted_test.go
Due: go-generate, golangci-lint

test(e2e): Disable Calico tests (#1120)
  test/e2e/quick_start_test.go
  test/e2e/self_hosted_test.go
Due: go-generate, golangci-lint

feat: add registryMirror handler
  pkg/handlers/generic/lifecycle/config/cm.go
  pkg/handlers/generic/lifecycle/handlers.go
  pkg/handlers/generic/lifecycle/registrymirror/distribution/handler.go
  pkg/handlers/generic/lifecycle/registrymirror/doc.go
  pkg/handlers/generic/lifecycle/registrymirror/handler.go
  pkg/handlers/generic/lifecycle/registrymirror/utils/ip.go
  pkg/handlers/generic/lifecycle/registrymirror/utils/ip_test.go
Due: go-generate, golangci-lint

feat: add registryMirror API
  api/v1alpha1/addon_types.go
  api/v1alpha1/constants.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
Due: go-generate, golangci-lint

build: add docker-registry chart and build changes
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/addons/registry-mirror/distribution/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/registry-mirror/distribution/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/distribution-registry-mirror/kustomization.yaml.tmpl
Due: schema-chart, chart-docs, addons-sync

test: add registryMirror in docker examples
  examples/capi-quick-start/docker-cluster-calico-crs.yaml
  examples/capi-quick-start/docker-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/docker-cluster-cilium-crs.yaml
  examples/capi-quick-start/docker-cluster-cilium-helm-addon.yaml
  hack/examples/bases/docker/cluster/kustomization.yaml.tmpl
  hack/examples/patches/docker/registry-mirror.yaml
Due: examples-sync
