Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-configmap

Path conditions:
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-configmap: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+|make/addons.mk$)

refactor: kube-vip commands (#699)
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  hack/examples/bases/nutanix/clusterclass/kustomization.yaml.tmpl
  pkg/handlers/generic/mutation/controlplanevirtualip/inject.go
  pkg/handlers/generic/mutation/controlplanevirtualip/inject_test.go
  pkg/handlers/generic/mutation/controlplanevirtualip/providers/kubevip.go
  pkg/handlers/generic/mutation/controlplanevirtualip/providers/kubevip_test.go
  pkg/handlers/generic/mutation/controlplanevirtualip/providers/providers.go
  pkg/handlers/generic/mutation/controlplanevirtualip/providers/templates/configure-for-kube-vip.sh
  pkg/handlers/generic/mutation/encryptionatrest/inject.go
Due: golangci-lint, examples-sync

fix: credential provider response secret ownership (#709)
  pkg/handlers/generic/mutation/imageregistries/credentials/inject.go
Due: golangci-lint

feat: cluster-api v1.7.3 (#714)
  api/go.mod
  api/go.sum
  api/v1alpha1/zz_generated.deepcopy.go
  common/go.mod
  common/go.sum
  go.mod
  go.sum
  hack/flakes/flake.nix
Due: golangci-lint

build: Fix an incorrect make variable passed to goreleaser (#716)
  make/goreleaser.mk
Due: none

fixup! refactor: Use range index in template
  pkg/handlers/generic/mutation/imageregistries/credentials/credentials_secret.go
  pkg/handlers/generic/mutation/imageregistries/credentials/templates/static-credential-provider.json.gotmpl
Due: golangci-lint

feat: bumps caaph to 0.2.4
  hack/third-party/caaph/go.mod
  hack/third-party/caaph/go.sum
Due: golangci-lint, apis-sync

feat: bumps caaph to 0.2.4 (#718)
  hack/third-party/caaph/go.mod
  hack/third-party/caaph/go.sum
Due: golangci-lint, apis-sync

fix: test
  README.md
Due: none

fix: static credentials Secret generation (#717)
  pkg/handlers/generic/mutation/imageregistries/credentials/credentials_secret.go
  pkg/handlers/generic/mutation/imageregistries/credentials/credentials_secret_test.go
  pkg/handlers/generic/mutation/imageregistries/credentials/inject.go
  pkg/handlers/generic/mutation/imageregistries/credentials/templates/static-credential-provider.json.gotmpl
Due: golangci-lint

fix: use 0.0.29
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/mindthegap-helm-registry/repos.yaml
  make/addons.mk
Due: addons-sync, addons-configmap

fix: issues with mindthegap deplotment (#660)
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/mindthegap.yaml
  devbox.lock
  hack/addons/kustomize/nfd/kustomization.yaml.tmpl
  hack/addons/mindthegap-helm-registry/repos.yaml
  hack/tools/mindthegap-helm-reg/main.go
  make/addons.mk
  make/dev.mk
  pkg/handlers/generic/lifecycle/nfd/strategy_helmaddon.go
Due: golangci-lint, addons-sync, addons-configmap

fix: minor cleanups to use OCI for hcp
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-chart-svc.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  make/addons.mk
  pkg/handlers/generic/lifecycle/nfd/strategy_helmaddon.go
Due: golangci-lint, addons-sync, addons-configmap

fix: changes based on review
  make/dev.mk
  pkg/handlers/generic/lifecycle/csi/nutanix-csi/handler.go
  pkg/handlers/generic/lifecycle/utils/utils.go
Due: golangci-lint

fix: set namespace for secret
  api/v1alpha1/constants.go
  make/dev.mk
  pkg/handlers/generic/lifecycle/utils/utils.go
Due: golangci-lint

fix: precommit issues
  api/v1alpha1/zz_generated.deepcopy.go
  charts/cluster-api-runtime-extensions-nutanix/README.md
Due: golangci-lint

[skip ci] fix: whitespace issue
  make/addons.mk
Due: addons-sync, addons-configmap

fix: minor rebase fixes from main
  hack/addons/mindthegap-helm-registry/repos.yaml
Due: addons-sync, addons-configmap

fix: make commands with namespace
  make/dev.mk
Due: none

fix: adds tls config to localpath
  pkg/handlers/generic/lifecycle/csi/localpath/handler.go
Due: golangci-lint

fix: precommit failures for helm chart svc
  .pre-commit-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-chart-svc.yaml
  hack/addons/kustomize/nfd/kustomization.yaml.tmpl
Due: addons-sync, addons-configmap

fix: addresse more issues with pre-commit
  .pre-commit-config.yaml
  hack/addons/generate-mindthegap-repofile.sh
  make/addons.mk
Due: addons-sync, addons-configmap

fix: adds TLS for mindthegap
  api/v1alpha1/zz_generated.deepcopy.go
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  hack/addons/mindthegap-helm-registry/repos.yaml
  make/addons.mk
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/cni/calico/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/cni/cilium/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/csi/nutanix-csi/handler.go
  pkg/handlers/generic/lifecycle/nfd/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/serviceloadbalancer/metallb/handler.go
  pkg/handlers/generic/lifecycle/utils/utils.go
Due: golangci-lint, addons-sync, addons-configmap

fix: adds local path provisioner
  hack/addons/mindthegap-helm-registry/repos.yaml
Due: addons-sync, addons-configmap

fix: set image version for mindthegap
  .github/workflows/checks.yml
Due: none

feat: hide self contained registry behind a flag
  .goreleaser.yml
  .pre-commit-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/mindthegap.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  make/addons.mk
Due: addons-sync, addons-configmap

fix: sideload docker image
  .github/workflows/checks.yml
Due: none

fix: loads helm image into test
  test/e2e/config/caren.yaml
Due: none

feat: self host helm charts with mindthegap
  .goreleaser.yml
  .pre-commit-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-chart-svc.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  hack/addons/mindthegap-helm-registry/Dockerfile
  make/addons.mk
  make/dev.mk
Due: addons-sync, addons-configmap

feat: adds a mindthegap container
  .goreleaser.yml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/generate-mindthegap-repofile.sh
  hack/addons/mindthegap-helm-registry/Dockerfile
  hack/addons/mindthegap-helm-registry/repos.yaml
  hack/tools/mindthegap-helm-reg/main.go
  make/addons.mk
Due: golangci-lint, addons-sync, addons-configmap

fix: more changes from review
  .github/workflows/checks.yml
  .goreleaser.yml
  .pre-commit-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-repository.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  hack/addons/mindthegap-helm-registry/repos.yaml
  make/addons.mk
  make/dev.mk
  pkg/handlers/generic/lifecycle/utils/utils.go
Due: golangci-lint, addons-sync, addons-configmap

fix: README error from pre-commit
  charts/cluster-api-runtime-extensions-nutanix/README.md
Due: none

fix: Allow Node Feature Discovery garbage collector to run on control-plane nodes
  charts/cluster-api-runtime-extensions-nutanix/templates/nfd/manifests/node-feature-discovery-configmap.yaml
  hack/addons/kustomize/nfd/helm-values.yaml
Due: addons-sync, addons-configmap

fixup! fix: Allow Node Feature Discovery garbage collector to run on control-plane nodes
  charts/cluster-api-runtime-extensions-nutanix/templates/nfd/manifests/helm-addon-installation.yaml
Due: addons-sync, addons-configmap

fix: more code changes from review
  .github/workflows/checks.yml
  api/v1alpha1/constants.go
Due: golangci-lint

fix: adds namespace default as the backup
  pkg/handlers/generic/lifecycle/utils/utils.go
Due: golangci-lint

feat: adds a mindthegap container and deployment (#637)
  .github/workflows/checks.yml
  .goreleaser.yml
  .pre-commit-config.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-repository.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  devbox.lock
  hack/addons/generate-mindthegap-repofile.sh
  hack/addons/mindthegap-helm-registry/Dockerfile
  hack/addons/mindthegap-helm-registry/repos.yaml
  hack/tools/mindthegap-helm-reg/main.go
  make/addons.mk
  make/dev.mk
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/cni/calico/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/cni/cilium/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/csi/localpath/handler.go
  pkg/handlers/generic/lifecycle/csi/nutanix-csi/handler.go
  pkg/handlers/generic/lifecycle/nfd/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/serviceloadbalancer/metallb/handler.go
  pkg/handlers/generic/lifecycle/utils/utils.go
  test/e2e/config/caren.yaml
Due: golangci-lint, addons-sync, addons-configmap

refactor: move utils functions to handlers package
  pkg/handlers/generic/lifecycle/ccm/aws/handler.go
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/strategy_crs.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/cni/calico/strategy_crs.go
  pkg/handlers/generic/lifecycle/cni/calico/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/cni/cilium/strategy_crs.go
  pkg/handlers/generic/lifecycle/cni/cilium/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/csi/aws-ebs/handler.go
  pkg/handlers/generic/lifecycle/csi/localpath/handler.go
  pkg/handlers/generic/lifecycle/csi/nutanix-csi/handler.go
  pkg/handlers/generic/lifecycle/nfd/strategy_crs.go
  pkg/handlers/generic/lifecycle/nfd/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/serviceloadbalancer/metallb/handler.go
  pkg/handlers/utils/scs.go
  pkg/handlers/utils/scs_test.go
  pkg/handlers/utils/secrets.go
  pkg/handlers/utils/secrets_test.go
  pkg/handlers/utils/utils.go
  pkg/handlers/utils/utils_integration_test.go
  pkg/handlers/utils/utils_suite_test.go
  pkg/handlers/utils/utils_test.go
Due: golangci-lint

test: failing test on empty ownerReferences for credential Secrets
  pkg/handlers/generic/mutation/imageregistries/credentials/inject_test.go
Due: golangci-lint

refactor: call API from inside the mutation
  pkg/handlers/generic/mutation/imageregistries/credentials/inject.go
Due: golangci-lint

test: assert ownerReference is the Cluster object
  pkg/handlers/generic/mutation/imageregistries/credentials/inject_test.go
Due: golangci-lint
