Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, golangci-lint, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock, check-coredns-versions

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/mindthegap-helm-registry/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$
  check-coredns-versions: any of: ^api/versions/coredns.go$

feat(ntp): Add API for configuring NTP servers
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
Due: go-generate, golangci-lint

feat(ntp): Add mutation handlers for ntp
  pkg/handlers/generic/mutation/handlers.go
  pkg/handlers/generic/mutation/ntp/inject.go
  pkg/handlers/generic/mutation/ntp/inject_test.go
  pkg/handlers/generic/mutation/ntp/variables_test.go
Due: go-generate, golangci-lint

feat: auto enable registry addon in workload clusters
  api/v1alpha1/constants.go
  api/variables/json.go
  charts/cluster-api-runtime-extensions-nutanix/templates/webhooks.yaml
  cmd/main.go
  docs/content/addons/registry.md
  pkg/feature/feature.go
  pkg/feature/gates.go
  pkg/webhook/addons/defaulter.go
  pkg/webhook/addons/defaulter_test.go
  pkg/webhook/addons/doc.go
  pkg/webhook/addons/registry/autoenabler.go
  pkg/webhook/addons/registry/webhook_suite_test.go
  pkg/webhook/addons/registry/webhook_test.go
Due: go-generate, golangci-lint, chart-docs, hugo-mod-tidy

refactor: get registry metadata in a helper function
  pkg/handlers/generic/lifecycle/registry/cncfdistribution/handler.go
  pkg/handlers/generic/lifecycle/registry/utils/registry_metadata.go
  pkg/handlers/generic/lifecycle/registry/utils/registry_metadata_test.go
Due: go-generate, golangci-lint

fixup! feat(ntp): Add mutation handlers for ntp
  docs/content/customization/generic/ntp.md
Due: hugo-mod-tidy

ci: adds a unit test for the registry preflight check
  pkg/webhook/preflight/generic/registry.go
  pkg/webhook/preflight/generic/registry_test.go
Due: go-generate, golangci-lint

feat: adds a generic checker package with registry checks
  cmd/main.go
  go.mod
  go.sum
  pkg/webhook/preflight/generic/checker.go
  pkg/webhook/preflight/generic/registry.go
Due: go-generate, golangci-lint

fix: unmarshals generic cluster config with a check
  pkg/webhook/preflight/generic/checker.go
  pkg/webhook/preflight/generic/registry.go
  pkg/webhook/preflight/generic/spec.go
Due: go-generate, golangci-lint

feat: Debug log message when preflight check runs
  pkg/webhook/preflight/preflight.go
Due: go-generate, golangci-lint

fix: Use preflight check name as cause type
  pkg/webhook/preflight/preflight.go
  pkg/webhook/preflight/preflight_test.go
Due: go-generate, golangci-lint

feat: Skip preflight on Cluster update
  pkg/webhook/preflight/preflight.go
Due: go-generate, golangci-lint

fix: Move preflight skip annotation constants to api module
  api/v1alpha1/constants.go
  pkg/webhook/preflight/preflight_test.go
  pkg/webhook/preflight/skip/skip.go
  pkg/webhook/preflight/skip/skip_test.go
Due: go-generate, golangci-lint

feat: delete registry syncer HCP
  pkg/handlers/generic/lifecycle/registry/cncfdistribution/handler.go
  pkg/handlers/generic/lifecycle/registry/handler.go
  pkg/handlers/generic/lifecycle/registry/syncer/syncer.go
  pkg/handlers/generic/lifecycle/registry/syncer/syncer_integration_test.go
  pkg/handlers/generic/lifecycle/registry/syncer/syncer_test.go
Due: go-generate, golangci-lint

feat: sync to workload cluster registry
  api/v1alpha1/constants.go
  api/variables/getters.go
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/addons/registry-syncer/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/registry-syncer/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  docs/content/addons/registry.md
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/registry-syncer/kustomization.yaml.tmpl
  pkg/feature/feature.go
  pkg/handlers/generic/lifecycle/config/cm.go
  pkg/handlers/generic/lifecycle/registry/cncfdistribution/handler.go
  pkg/handlers/generic/lifecycle/registry/syncer/applier.go
  pkg/handlers/generic/lifecycle/registry/syncer/applier_integration_test.go
  pkg/handlers/generic/lifecycle/registry/syncer/applier_test.go
  pkg/handlers/generic/lifecycle/registry/syncer/syncer_suite_test.go
  pkg/handlers/generic/lifecycle/registry/utils/registry_metadata.go
  pkg/webhook/addons/registry/autoenabler.go
Due: schema-chart, go-generate, golangci-lint, chart-docs, hugo-mod-tidy, addons-sync

fixup! fix: linter errors
  pkg/handlers/generic/lifecycle/registry/syncer/syncer.go
  pkg/handlers/generic/lifecycle/registry/syncer/syncer_test.go
Due: go-generate, golangci-lint

fix: use url parsing and allows users to not have usernames or passwords
  pkg/webhook/preflight/generic/registry.go
  pkg/webhook/preflight/generic/registry_test.go
  pkg/webhook/preflight/generic/spec.go
Due: go-generate, golangci-lint

fix: add AntiAffinity rules for registry addon
  charts/cluster-api-runtime-extensions-nutanix/addons/registry/cncf-distribution/values-template.yaml
  pkg/handlers/generic/lifecycle/registry/cncfdistribution/handler.go
Due: go-generate, golangci-lint, chart-docs

test: unit test to verify if anti affinity is set
  charts/cluster-api-runtime-extensions-nutanix/addons/registry/cncf-distribution/values-template.yaml
  test/e2e/quick_start_test.go
  test/e2e/registry.go
  test/e2e/self_hosted_test.go
  test/e2e/statefulset_helpers.go
Due: go-generate, golangci-lint, chart-docs

feat: auto enable registry addon in workload clusters (#1175)
  api/v1alpha1/constants.go
  api/variables/json.go
  charts/cluster-api-runtime-extensions-nutanix/templates/webhooks.yaml
  cmd/main.go
  docs/content/addons/registry.md
  pkg/feature/feature.go
  pkg/feature/gates.go
  pkg/webhook/addons/defaulter.go
  pkg/webhook/addons/defaulter_test.go
  pkg/webhook/addons/doc.go
  pkg/webhook/addons/registry/autoenabler.go
  pkg/webhook/addons/registry/webhook_suite_test.go
  pkg/webhook/addons/registry/webhook_test.go
Due: go-generate, golangci-lint, chart-docs, hugo-mod-tidy

build: update AWS API
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/types.go
Due: go-generate, golangci-lint, apis-sync

fix(file): rename request/capa.go and request/capx.go
  internal/test/request/capa.go
  internal/test/request/capx.go
Due: go-generate, golangci-lint

feat(ntp): Configure NTP for clusters (#1185)
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  docs/content/customization/generic/ntp.md
  pkg/handlers/generic/mutation/handlers.go
  pkg/handlers/generic/mutation/ntp/inject.go
  pkg/handlers/generic/mutation/ntp/inject_test.go
  pkg/handlers/generic/mutation/ntp/variables_test.go
Due: go-generate, golangci-lint, hugo-mod-tidy

fix: remove log lines
  pkg/webhook/preflight/generic/checker.go
  pkg/webhook/preflight/generic/registry.go
Due: go-generate, golangci-lint

fix: adds a unit test for the spec check
  pkg/webhook/preflight/generic/spec_test.go
Due: go-generate, golangci-lint

fix: misc fixes to the preflight framework (#1188)
  pkg/webhook/preflight/preflight.go
  pkg/webhook/preflight/preflight_test.go
Due: go-generate, golangci-lint

fix(preflight): improved error reporting for storage container and VM image checks (#1180)
  pkg/webhook/preflight/nutanix/image_test.go
  pkg/webhook/preflight/nutanix/storagecontainer.go
  pkg/webhook/preflight/nutanix/storagecontainer_test.go
Due: go-generate, golangci-lint

fix: refactor registry URL check
  pkg/webhook/preflight/generic/registry.go
  pkg/webhook/preflight/generic/registry_test.go
Due: go-generate, golangci-lint

fix: small linting issues
  pkg/webhook/preflight/generic/registry_test.go
  pkg/webhook/preflight/generic/spec_test.go
Due: go-generate, golangci-lint

fix(file): rename test/request/capa.go and test/request/capx.go (#1193)
  internal/test/request/capa.go
  internal/test/request/capx.go
Due: go-generate, golangci-lint

feat: adds a generic checker package with registry and mirror checks (#1186)
  cmd/main.go
  go.mod
  go.sum
  pkg/webhook/preflight/generic/checker.go
  pkg/webhook/preflight/generic/registry.go
  pkg/webhook/preflight/generic/registry_test.go
  pkg/webhook/preflight/generic/spec.go
  pkg/webhook/preflight/generic/spec_test.go
Due: go-generate, golangci-lint

fix: Move preflight skip annotation constants to api module (#1187)
  api/v1alpha1/constants.go
  pkg/webhook/preflight/preflight_test.go
  pkg/webhook/preflight/skip/skip.go
  pkg/webhook/preflight/skip/skip_test.go
Due: go-generate, golangci-lint

fixup! fix: typo
  docs/content/addons/registry.md
Due: hugo-mod-tidy

fix: Include correct field name in registry preflight check results
  pkg/webhook/preflight/generic/registry.go
  pkg/webhook/preflight/generic/registry_test.go
Due: go-generate, golangci-lint

fixup! test: embed test files
  .pre-commit-config.yaml
  pkg/handlers/generic/lifecycle/registry/syncer/syncer_test.go
  pkg/handlers/generic/lifecycle/registry/syncer/testdata/registry-syncer-template.yaml.tmpl
  pkg/handlers/generic/lifecycle/registry/syncer/testdata/registry-syncer-values.yaml
Due: go-generate, golangci-lint
