Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-configmap

Path conditions:
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-configmap: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+|make/addons.mk$)

test(e2e): Use mesosphere fork v1.7.3-d2iq.1 for CAPI providers
  test/e2e/config/caren.yaml
Due: none

fix: Copy ClusterClasses and Templates without their owner references (#776)
  pkg/controllers/namespacesync/copy.go
Due: golangci-lint

fix: use minimal image when deploying nfd chart
  charts/cluster-api-runtime-extensions-nutanix/templates/nfd/manifests/helm-addon-installation.yaml
Due: addons-sync, addons-configmap

fix: Namespacesync controller should reconcile an updated namespace (#775)
  cmd/main.go
  pkg/controllers/namespacesync/controller.go
  pkg/controllers/namespacesync/controller_test.go
  pkg/controllers/namespacesync/suite_test.go
Due: golangci-lint

feat: Add waiter for object (#777)
  pkg/wait/wait.go
  pkg/wait/wait_test.go
Due: golangci-lint

fix: use minimal image when deploying nfd chart (#774)
  charts/cluster-api-runtime-extensions-nutanix/templates/nfd/manifests/helm-addon-installation.yaml
Due: addons-sync, addons-configmap

fixup! feat: Define ServiceLoadBalancer Configuration API
  api/v1alpha1/addon_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
Due: golangci-lint

fixup! feat: Define ServiceLoadBalancer Configuration API
  docs/content/addons/serviceloadbalancer.md
Due: hugo-mod-tidy

ci: Move govulncheck to nightly and push to main triggers
  .github/workflows/checks.yml
  .github/workflows/govulncheck.yml
Due: none

feat: Define ServiceLoadBalancer Configuration API (#778)
  api/v1alpha1/addon_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  docs/content/addons/serviceloadbalancer.md
Due: golangci-lint, hugo-mod-tidy

feat: Apply MetalLB configuration to remote cluster
  pkg/handlers/generic/lifecycle/serviceloadbalancer/handler.go
  pkg/handlers/generic/lifecycle/serviceloadbalancer/handler_test.go
  pkg/handlers/generic/lifecycle/serviceloadbalancer/metallb/configuration.go
  pkg/handlers/generic/lifecycle/serviceloadbalancer/metallb/handler.go
Due: golangci-lint

test(e2e): Use mesosphere fork v1.7.3-d2iq.1 for CAPI providers (#781)
  test/e2e/config/caren.yaml
Due: none

ci: Move govulncheck to nightly and push to main triggers (#782)
  .github/workflows/checks.yml
  .github/workflows/govulncheck.yml
Due: none

feat: Use HelmAddon as default addon strategy (#771)
  api/v1alpha1/addon_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  examples/capi-quick-start/aws-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/aws-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/docker-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/docker-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  hack/examples/overlays/clusters/aws/calico/helm-addon/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/aws/cilium/helm-addon/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/docker/calico/helm-addon/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/docker/cilium/helm-addon/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/nutanix/calico/helm-addon/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/nutanix/cilium/helm-addon/kustomization.yaml.tmpl
  hack/examples/patches/aws/helm-addon-strategy.yaml
  hack/examples/patches/docker/csi-helm-addon-strategy.yaml
  hack/examples/patches/helm-addon-strategy.yaml
Due: golangci-lint, examples-sync

fixup! feat: Apply MetalLB configuration to remote cluster
  pkg/handlers/generic/lifecycle/serviceloadbalancer/metallb/handler.go
Due: golangci-lint

WIP
  pkg/wait/options.go
  pkg/wait/wait.go
Due: golangci-lint

feat: Update addon versions
  charts/cluster-api-runtime-extensions-nutanix/templates/nfd/manifests/helm-addon-installation.yaml
  hack/addons/kustomize/cluster-autoscaler/kustomization.yaml.tmpl
  hack/addons/update-cluster-autoscaler.sh
  hack/addons/update-kube-vip-manifests.sh
  make/addons.mk
Due: addons-sync, addons-configmap

fixup! feat: Update synced CRS manifests
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/cilium-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/aws-ebs/manifests/aws-ebs-csi-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/nfd/manifests/node-feature-discovery-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/virtual-ip/kube-vip/manifests/kube-vip-configmap.yaml
Due: addons-sync, addons-configmap

fixup! feat: Generate helm repos file
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/mindthegap-helm-registry/repos.yaml
Due: addons-sync, addons-configmap

feat: Apply MetalLB configuration to remote cluster (#783)
  pkg/handlers/generic/lifecycle/serviceloadbalancer/handler.go
  pkg/handlers/generic/lifecycle/serviceloadbalancer/handler_test.go
  pkg/handlers/generic/lifecycle/serviceloadbalancer/metallb/configuration.go
  pkg/handlers/generic/lifecycle/serviceloadbalancer/metallb/handler.go
Due: golangci-lint

ci: Disable nix cache on self-hosted runners
  .github/workflows/e2e.yml
Due: none

fixup! build: Skip hooks for NFD CRS manifests
  charts/cluster-api-runtime-extensions-nutanix/templates/nfd/manifests/node-feature-discovery-configmap.yaml
  hack/addons/kustomize/nfd/kustomization.yaml.tmpl
Due: addons-sync, addons-configmap

feat: Update addon versions (#785)
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/cilium-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/aws-ebs/manifests/aws-ebs-csi-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/nfd/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/nfd/manifests/node-feature-discovery-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/virtual-ip/kube-vip/manifests/kube-vip-configmap.yaml
  hack/addons/kustomize/cluster-autoscaler/kustomization.yaml.tmpl
  hack/addons/kustomize/nfd/kustomization.yaml.tmpl
  hack/addons/mindthegap-helm-registry/repos.yaml
  hack/addons/update-cluster-autoscaler.sh
  hack/addons/update-kube-vip-manifests.sh
  make/addons.mk
Due: addons-sync, addons-configmap

ci: Disable nix cache on self-hosted runners (#786)
  .github/workflows/e2e.yml
Due: none

refactor: Use CAPI conditions check where possible
  pkg/handlers/generic/lifecycle/serviceloadbalancer/metallb/handler.go
Due: golangci-lint

release(main): v0.12.0 (#770)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

refactor: Easier to understand kustomize call in sync script
  hack/examples/sync.sh
Due: examples-sync

build: Prepend header to generated clusterclass and cluster templates
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/aws-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/docker-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  examples/capi-quick-start/aws-cluster-calico-crs.yaml
  examples/capi-quick-start/aws-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/aws-cluster-cilium-crs.yaml
  examples/capi-quick-start/aws-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/docker-cluster-calico-crs.yaml
  examples/capi-quick-start/docker-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/docker-cluster-cilium-crs.yaml
  examples/capi-quick-start/docker-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-calico-crs.yaml
  examples/capi-quick-start/nutanix-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  hack/examples/sync.sh
Due: examples-sync

build: Add utility function to prepend a header to a generated file
  hack/common.sh
Due: none

fix: Only create MetalLB configuration when necessary
  pkg/handlers/generic/lifecycle/serviceloadbalancer/metallb/handler.go
Due: golangci-lint

fix: Only generate valid MetalLB configuration
  pkg/handlers/generic/lifecycle/serviceloadbalancer/metallb/configuration.go
Due: golangci-lint

fix: Only create MetalLB configuration when necessary (#791)
  pkg/handlers/generic/lifecycle/serviceloadbalancer/metallb/configuration.go
  pkg/handlers/generic/lifecycle/serviceloadbalancer/metallb/handler.go
Due: golangci-lint

release(main): v0.12.1 (#792)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

fix: addon API with an empty strategy
  api/v1alpha1/addon_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
Due: golangci-lint

fix: add +kubebuilder:validation:Optional annotation
  api/v1alpha1/addon_types.go
Due: golangci-lint

ci: Run e2e jobs only if unit-test, lint-*, and pre-commit jobs pass
  .github/workflows/checks.yml
Due: none

ci: Enable verbose output for e2e tests
  .github/workflows/e2e.yml
  make/go.mk
Due: golangci-lint

ci: Run e2e jobs only if unit-test, lint-*, and pre-commit jobs pass (#796)
  .github/workflows/checks.yml
Due: none

ci: Enable verbose output for e2e tests (#797)
  .github/workflows/e2e.yml
  make/go.mk
Due: golangci-lint

refactor: Allow other packages to create metallb configuration
  pkg/handlers/generic/lifecycle/serviceloadbalancer/metallb/configuration.go
  pkg/handlers/generic/lifecycle/serviceloadbalancer/metallb/handler.go
Due: golangci-lint
