Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, golangci-lint, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock, check-coredns-versions

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/mindthegap-helm-registry/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$
  check-coredns-versions: any of: ^api/versions/coredns.go$

build: rename caren-helm-reg to better match role
  .github/workflows/checks.yml
  .goreleaser.yml
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  make/dev.mk
  test/e2e/config/caren.yaml
Due: schema-chart, chart-docs

fixup! build: rename caren-helm-reg to better match role
  .github/workflows/checks.yml
  .goreleaser.yml
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  make/dev.mk
  test/e2e/config/caren.yaml
Due: schema-chart, chart-docs

fix: Update mindthegap to fix cert rotation
  hack/addons/helm-chart-bundler/Dockerfile
Due: addons-sync

fix: Update mindthegap to fix cert rotation
  hack/addons/mindthegap-helm-registry/Dockerfile
Due: addons-sync

fix: Update mindthegap to fix cert rotation (#972)
  hack/addons/mindthegap-helm-registry/Dockerfile
Due: addons-sync

fix: Update mindthegap to fix cert rotation (#971)
  hack/addons/helm-chart-bundler/Dockerfile
Due: addons-sync

release(release/v0.14.x): v0.14.10
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

release(release/v0.14.x): v0.14.10 (#974)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

build: rename caren-helm-reg to better match role (#969)
  .github/workflows/checks.yml
  .goreleaser.yml
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  make/dev.mk
  test/e2e/config/caren.yaml
Due: schema-chart, chart-docs

fix: skip imageRegistries with no credentials
  pkg/handlers/generic/mutation/imageregistries/credentials/inject.go
  pkg/handlers/generic/mutation/imageregistries/credentials/inject_test.go
Due: go-generate, golangci-lint

fix: image registries with a CA
  pkg/handlers/generic/mutation/imageregistries/credentials/credential_provider_config_files.go
  pkg/handlers/generic/mutation/imageregistries/credentials/inject.go
Due: go-generate, golangci-lint

test: add failing unit tests for registries with a CA
  pkg/handlers/generic/mutation/imageregistries/credentials/inject_test.go
Due: go-generate, golangci-lint

fix: image registries with no credentials but with a CA (#927)
  pkg/handlers/generic/mutation/imageregistries/credentials/credential_provider_config_files.go
  pkg/handlers/generic/mutation/imageregistries/credentials/inject.go
  pkg/handlers/generic/mutation/imageregistries/credentials/inject_test.go
Due: go-generate, golangci-lint

fixup! release: Update metadata for release
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: none

release(main): v0.23.0 (#973)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: hugo-mod-tidy

fix: set container name to manager to ensure we wait for it
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-repository.yaml
Due: chart-docs

fix: set container name to manager to ensure we wait for it (#975)
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-repository.yaml
Due: chart-docs

release(main): v0.23.1
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

release(main): v0.23.1 (#976)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

fixup! build: Run go mod tidy
  api/go.sum
Due: go-generate, golangci-lint

build: Latest devbox update
  devbox.lock
  hack/flakes/flake.lock
  hack/flakes/flake.nix
Due: check-devbox-lock

build: Latest devbox update (#978)
  devbox.lock
  hack/flakes/flake.lock
  hack/flakes/flake.nix
Due: check-devbox-lock

build: Add CAREN release to cluster class artifacts
  .gitignore
  .goreleaser.yml
  hack/examples/release/add-version-to-clusterclasses.sh
  hack/examples/release/kustomization.yaml.tmpl
  make/goreleaser.mk
Due: examples-sync

build: Add CAREN release to cluster class artifacts (#979)
  .gitignore
  .goreleaser.yml
  hack/examples/release/add-version-to-clusterclasses.sh
  hack/examples/release/kustomization.yaml.tmpl
  make/goreleaser.mk
Due: examples-sync

build: Only consider GA releases of k8s for CoreDNS version map
  hack/tools/coredns-versions/main.go
Due: go-generate, golangci-lint

build: Only consider GA releases of k8s for CoreDNS version map (#981)
  hack/tools/coredns-versions/main.go
Due: go-generate, golangci-lint

feat: Auto renewal of control plane certificates patch
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/controlplane_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  api/v1alpha1/nodeconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/variables/aggregate_types.go
  docs/content/customization/generic/auto-renewal-of-control-plane-certs.md
  docs/content/customization/generic/encryption-at-rest.md
  pkg/handlers/aws/mutation/ami/variables_test.go
  pkg/handlers/aws/mutation/iaminstanceprofile/variables_test.go
  pkg/handlers/aws/mutation/instancetype/variables_test.go
  pkg/handlers/aws/mutation/securitygroups/variables_test.go
  pkg/handlers/docker/mutation/customimage/variables_test.go
  pkg/handlers/docker/workerconfig/variables.go
  pkg/handlers/docker/workerconfig/variables_test.go
  pkg/handlers/generic/mutation/autorenewcerts/inject.go
  pkg/handlers/generic/mutation/autorenewcerts/inject_test.go
  pkg/handlers/generic/mutation/handlers.go
  pkg/handlers/generic/mutation/taints/variables_test.go
  pkg/handlers/nutanix/mutation/machinedetails/variables_test.go
  pkg/handlers/nutanix/workerconfig/variables.go
  pkg/handlers/nutanix/workerconfig/variables_test.go
Due: go-generate, golangci-lint, hugo-mod-tidy

fixup! docs: Fix kubeadmconfigtemplate spec patch
  docs/content/customization/generic/auto-renewal-of-control-plane-certs.md
Due: hugo-mod-tidy

feat: Add CAREN version to ExtensionConfig
  charts/cluster-api-runtime-extensions-nutanix/templates/extensionconfig.yaml
Due: chart-docs

feat: Auto renewal of control plane certificates patch (#924)
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/controlplane_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  api/v1alpha1/nodeconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/variables/aggregate_types.go
  docs/content/customization/generic/auto-renewal-of-control-plane-certs.md
  docs/content/customization/generic/encryption-at-rest.md
  pkg/handlers/aws/mutation/ami/variables_test.go
  pkg/handlers/aws/mutation/iaminstanceprofile/variables_test.go
  pkg/handlers/aws/mutation/instancetype/variables_test.go
  pkg/handlers/aws/mutation/securitygroups/variables_test.go
  pkg/handlers/docker/mutation/customimage/variables_test.go
  pkg/handlers/docker/workerconfig/variables.go
  pkg/handlers/docker/workerconfig/variables_test.go
  pkg/handlers/generic/mutation/autorenewcerts/inject.go
  pkg/handlers/generic/mutation/autorenewcerts/inject_test.go
  pkg/handlers/generic/mutation/handlers.go
  pkg/handlers/generic/mutation/taints/variables_test.go
  pkg/handlers/nutanix/mutation/machinedetails/variables_test.go
  pkg/handlers/nutanix/workerconfig/variables.go
  pkg/handlers/nutanix/workerconfig/variables_test.go
Due: go-generate, golangci-lint, hugo-mod-tidy

docs: Fix title of DNS customization page
  docs/content/customization/generic/dns.md
Due: hugo-mod-tidy

docs: Fix title of DNS customization page (#985)
  docs/content/customization/generic/dns.md
Due: hugo-mod-tidy

feat: Add CAREN version to ExtensionConfig (#982)
  charts/cluster-api-runtime-extensions-nutanix/templates/extensionconfig.yaml
Due: chart-docs

release(main): v0.23.2 (#980)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: hugo-mod-tidy

feat: new virtualIP.configuration API
  api/v1alpha1/common_types.go
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
Due: go-generate, golangci-lint

feat: support virtualIP.configuration API in handler
  charts/cluster-api-runtime-extensions-nutanix/templates/virtual-ip/kube-vip/manifests/kube-vip-configmap.yaml
  docs/content/customization/nutanix/control-plane-endpoint.md
  hack/addons/update-kube-vip-manifests.sh
  pkg/handlers/generic/mutation/controlplanevirtualip/inject_test.go
  pkg/handlers/generic/mutation/controlplanevirtualip/providers/kubevip_test.go
  pkg/handlers/generic/mutation/controlplanevirtualip/providers/providers.go
Due: go-generate, golangci-lint, chart-docs, hugo-mod-tidy, addons-sync

test: e2e self hosted upgrade test
  test/e2e/config/caren.yaml
  test/e2e/framework/self_hosted.go
  test/e2e/self_hosted_upgrade_test.go
Due: go-generate, golangci-lint

refactor: new waiter functionality in helmAddonApplier
  pkg/handlers/generic/lifecycle/addons/helmaddon.go
  pkg/handlers/generic/lifecycle/serviceloadbalancer/metallb/handler.go
Due: go-generate, golangci-lint

fixup! refactor: Fix error message
  pkg/handlers/generic/lifecycle/addons/helmaddon.go
Due: go-generate, golangci-lint
