Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, check-coredns-versions, golangci-lint, kube-api-linter, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  check-coredns-versions: any of: ^api/versions/coredns.go$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  kube-api-linter: any of: ((^api/(.*\.go|go.mod|go.sum))|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/helm-chart-bundler/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$

feat: precommit fix
  docs/content/addons/konnector-agent.md
  examples/capi-quick-start/nutanix-cluster-calico-crs.yaml
  examples/capi-quick-start/nutanix-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-with-failuredomains-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-with-failuredomains-cilium-helm-addon.yaml
  pkg/handlers/lifecycle/konnectoragent/variables_test.go
Due: go-generate, golangci-lint, hugo-mod-tidy, examples-sync

feat: Apply suggestions from code review
  api/v1alpha1/addon_types.go
  docs/content/addons/konnector-agent.md
  hack/addons/kustomize/konnector-agent/kustomization.yaml.tmpl
  pkg/handlers/lifecycle/konnectoragent/doc.go
  pkg/handlers/lifecycle/konnectoragent/handler.go
Due: go-generate, golangci-lint, kube-api-linter, hugo-mod-tidy, addons-sync

feat: pre commit fixes
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  examples/capi-quick-start/nutanix-cluster-calico-crs.yaml
  examples/capi-quick-start/nutanix-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-with-failuredomains-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-with-failuredomains-cilium-helm-addon.yaml
  hack/examples/patches/nutanix/konnector-agent.yaml
  pkg/handlers/lifecycle/konnectoragent/handler.go
Due: go-generate, golangci-lint, examples-sync

feat: Unit test fixes
  docs/content/addons/konnector-agent.md
  pkg/handlers/lifecycle/konnectoragent/variables_test.go
Due: go-generate, golangci-lint, hugo-mod-tidy

feat: updating konnector doc format
  docs/content/addons/konnector-agent.md
  pkg/handlers/lifecycle/konnectoragent/handler.go
Due: go-generate, golangci-lint, hugo-mod-tidy

fix: Replace empty string as Nutanix image name placeholder value
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
Due: chart-docs

feat: updating chart repo url
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  common/pkg/server/server.go
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/konnector-agent/kustomization.yaml.tmpl
Due: go-generate, golangci-lint, chart-docs, addons-sync, addons-repo-yaml

feat: precommit fixes
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  common/pkg/server/server.go
  hack/addons/helm-chart-bundler/repos.yaml
Due: go-generate, golangci-lint, chart-docs, addons-sync, addons-repo-yaml

feat: precommit fix
  common/pkg/server/server.go
Due: go-generate, golangci-lint

feat: updating wait logic
  charts/cluster-api-runtime-extensions-nutanix/addons/konnector-agent/values-template.yaml
  pkg/handlers/lifecycle/konnectoragent/handler.go
Due: go-generate, golangci-lint, chart-docs

fix: remove committed file
  eks.yaml
Due: none

docs: typo
  docs/content/addons/aws-load-balancer-controller.md
Due: hugo-mod-tidy

feat: update all addon versions
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.30.9-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.31.7-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.32.3-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.34.0-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cluster-autoscaler/manifests/cluster-autoscaler-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/tigera-operator-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/aws-ebs/manifests/aws-ebs-csi-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/local-path/manifests/local-path-provisioner-csi-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/snapshot-controller/manifests/snapshot-controller-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/nfd/manifests/node-feature-discovery-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  hack/examples/files/kube-vip.yaml
  make/addons.mk
Due: schema-chart, chart-docs, examples-sync, addons-sync, addons-repo-yaml

feat: update Nutanix CSI to 3.3.8
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

feat: update Nutanix CSI to 3.3.8 (#1320)
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

feat: update all addon versions (#1352)
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.30.9-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.31.7-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.32.3-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.34.0-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cluster-autoscaler/manifests/cluster-autoscaler-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/tigera-operator-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/aws-ebs/manifests/aws-ebs-csi-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/local-path/manifests/local-path-provisioner-csi-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/snapshot-controller/manifests/snapshot-controller-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/nfd/manifests/node-feature-discovery-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  hack/examples/files/kube-vip.yaml
  make/addons.mk
Due: schema-chart, chart-docs, examples-sync, addons-sync, addons-repo-yaml

feat(release/v0.33.0x): update Nutanix CSI to 3.3.8 (#1354)
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

release(release/v0.33.x): v0.34.0
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

fix: CoreDNS mapping
  api/versions/coredns.go
  api/versions/coredns_test.go
Due: go-generate, check-coredns-versions, golangci-lint, kube-api-linter

fix: CoreDNS mapping (#1358)
  api/versions/coredns.go
  api/versions/coredns_test.go
Due: go-generate, check-coredns-versions, golangci-lint, kube-api-linter

release(release/v0.33.x): v0.33.2 (#1357)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

build: include AWS Load Balancer controller in Helm chart
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/addons/aws-load-balancer-controller/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/addons/aws-load-balancer-controller/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/aws-load-balancer-controller/kustomization.yaml.tmpl
  hack/tools/fetch-images/main.go
  make/addons.mk
Due: schema-chart, go-generate, golangci-lint, chart-docs, addons-sync, addons-repo-yaml

docs: add AWS Load Balancer controller docs
  docs/content/addons/aws-load-balancer-controller.md
Due: hugo-mod-tidy

feat: deploy AWS Load Balancer controller
  pkg/handlers/lifecycle/awsloadbalancercontroller/doc.go
  pkg/handlers/lifecycle/awsloadbalancercontroller/handler.go
  pkg/handlers/lifecycle/config/cm.go
  pkg/handlers/lifecycle/handlers.go
Due: go-generate, golangci-lint

fix: support AWS clusters in AWS LB Controller
  charts/cluster-api-runtime-extensions-nutanix/addons/aws-load-balancer-controller/values-template.yaml
  pkg/handlers/lifecycle/awsloadbalancercontroller/handler.go
Due: go-generate, golangci-lint, chart-docs

refactor: move to ingress folder
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/templates/addons/aws-load-balancer-controller/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  pkg/handlers/lifecycle/handlers.go
  pkg/handlers/lifecycle/ingress/awsloadbalancercontroller/doc.go
  pkg/handlers/lifecycle/ingress/awsloadbalancercontroller/handler.go
Due: schema-chart, go-generate, golangci-lint, chart-docs

feat: put AWS LB Controller behind an API
  api/v1alpha1/addon_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  docs/content/addons/aws-load-balancer-controller.md
  eks.yaml
  examples/capi-quick-start/eks-cluster.yaml
  hack/examples/patches/eks/initialize-variables.yaml
  pkg/handlers/lifecycle/awsloadbalancercontroller/handler.go
Due: go-generate, golangci-lint, kube-api-linter, hugo-mod-tidy, examples-sync

fix: update CAPA to v2.10.0-ncn.1
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/bootstrap/eks/api/v1beta2/nodeadmconfig_types.go
  hack/third-party/capa/go.mod
  hack/third-party/capa/go.sum
  make/clusterctl.mk
Due: go-generate, golangci-lint, kube-api-linter, apis-sync

build: handle missing creds Secrets listing CSI images
  hack/tools/fetch-images/main.go
Due: go-generate, golangci-lint

build: validate list-images in pre-commit
  .pre-commit-config.yaml
Due: none

build: handle missing creds Secrets listing CSI images (#1359)
  .pre-commit-config.yaml
  hack/tools/fetch-images/main.go
Due: go-generate, golangci-lint

build(release/v0.33.x/): handle missing creds Secrets listing CSI images (#1361)
  .pre-commit-config.yaml
  hack/tools/fetch-images/main.go
Due: go-generate, golangci-lint
