Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, check-coredns-versions, golangci-lint, kube-api-linter, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  check-coredns-versions: any of: ^api/versions/coredns.go$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  kube-api-linter: any of: ((^api/(.*\.go|go.mod|go.sum))|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/helm-chart-bundler/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$

fixup! fix: Remove kubeProxyReplacement for Cilium CRS
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/cilium-configmap.yaml
  hack/addons/update-cilium-manifests.sh
Due: chart-docs, addons-sync

fixup! fix: Remove skip-kube-proxy from CRS cluster examples
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/cilium-configmap.yaml
  examples/capi-quick-start/aws-cluster-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-crs.yaml
  hack/addons/kustomize/cilium/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/aws/cilium/crs/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/nutanix/cilium/crs/kustomization.yaml.tmpl
Due: chart-docs, examples-sync, addons-sync

feat: enable Cilium kube-proxy replacement for new clusters (#1288)
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/values-template.yaml
  examples/capi-quick-start/aws-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  hack/addons/kustomize/cilium/kustomization.yaml.tmpl
  hack/addons/update-cilium-manifests.sh
  hack/examples/overlays/clusters/aws/cilium/helm-addon/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/nutanix/cilium/helm-addon/kustomization.yaml.tmpl
  hack/examples/patches/skip-kube-proxy.yaml
  hack/tools/fetch-images/main.go
Due: go-generate, golangci-lint, chart-docs, examples-sync, addons-sync

feat: enable Cilium kube-proxy replacement on upgrade
  common/pkg/capi/utils/annotations.go
  pkg/handlers/generic/lifecycle/addons/helmaddon.go
  pkg/handlers/generic/lifecycle/addons/test.go
  pkg/handlers/generic/lifecycle/cni/cilium/handler.go
  pkg/handlers/generic/lifecycle/cni/cilium/handler_integration_test.go
  pkg/handlers/generic/lifecycle/cni/cilium/utils_suite_test.go
  pkg/handlers/generic/mutation/kubeproxymode/inject.go
Due: go-generate, golangci-lint

fix: move k8sServiceHost with kubeProxyReplacement
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/values-template.yaml
Due: chart-docs

refactor: disable kube-proxy in the API
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/eks_clusterconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/values-template.yaml
  common/pkg/capi/utils/annotations.go
  docs/content/customization/generic/kube-proxy-mode.md
  examples/capi-quick-start/aws-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  hack/addons/update-cilium-manifests.sh
  hack/examples/patches/skip-kube-proxy.yaml
  hack/tools/fetch-images/main.go
  pkg/handlers/generic/lifecycle/cni/cilium/handler.go
  pkg/handlers/generic/lifecycle/cni/cilium/handler_integration_test.go
  pkg/handlers/generic/lifecycle/cni/cilium/template.go
  pkg/handlers/generic/mutation/kubeproxymode/inject.go
  pkg/handlers/generic/mutation/kubeproxymode/inject_test.go
Due: go-generate, golangci-lint, kube-api-linter, chart-docs, hugo-mod-tidy, examples-sync, addons-sync

build: use kustomize to generate failuredomain examples
  examples/capi-quick-start/nutanix-cluster-failuredomain-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-failuredomain-cilium-helm-addon.yaml
  hack/examples/additional-resources/nutanix/failure-domains.yaml
  hack/examples/overlays/clusters/nutanix-with-failuredomain/cilium/crs/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/nutanix-with-failuredomain/cilium/helm-addon/kustomization.yaml.tmpl
  hack/examples/patches/nutanix/use-failure-domains.yaml
  hack/examples/sync.sh
Due: examples-sync

build: skip kube-proxy install for Nutanix clusters with failuredomain
  examples/capi-quick-start/nutanix-cluster-failuredomain-cilium-helm-addon.yaml
  hack/examples/overlays/clusters/nutanix-with-failuredomain/cilium/helm-addon/kustomization.yaml.tmpl
Due: examples-sync

fixup! build: use kustomize to generate failuredomain examples
  hack/examples/sync.sh
Due: examples-sync

refactor: rename example files
  examples/capi-quick-start/nutanix-cluster-with-failuredomains-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-with-failuredomains-cilium-helm-addon.yaml
  hack/examples/overlays/clusters/nutanix-with-failuredomains/cilium/crs/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/nutanix-with-failuredomains/cilium/helm-addon/kustomization.yaml.tmpl
  hack/examples/sync.sh
  test/e2e/config/caren.yaml
  test/e2e/quick_start_test.go
Due: go-generate, golangci-lint, examples-sync

fix: linter error
  hack/examples/sync.sh
Due: examples-sync

feat: automatically enable Cilium kube-proxy replacement feature (#1286)
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/values-template.yaml
  common/pkg/capi/utils/annotations.go
  pkg/handlers/generic/lifecycle/addons/helmaddon.go
  pkg/handlers/generic/lifecycle/addons/test.go
  pkg/handlers/generic/lifecycle/cni/cilium/handler.go
  pkg/handlers/generic/lifecycle/cni/cilium/handler_integration_test.go
  pkg/handlers/generic/lifecycle/cni/cilium/utils_suite_test.go
  pkg/handlers/generic/mutation/kubeproxymode/inject.go
Due: go-generate, golangci-lint, chart-docs

feat: enable Cilium source IP preservation
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/values-template.yaml
Due: chart-docs

perf: Enable compression of audit logs, and increase max file size
  pkg/handlers/generic/mutation/auditpolicy/inject.go
  pkg/handlers/generic/mutation/auditpolicy/inject_test.go
Due: go-generate, golangci-lint

fixup! feat: enable Cilium source IP preservation
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/values-template.yaml
Due: chart-docs

perf: Enable compression of audit logs to increase retention, without changing disk space requirements (#1270)
  pkg/handlers/generic/mutation/auditpolicy/inject.go
  pkg/handlers/generic/mutation/auditpolicy/inject_test.go
Due: go-generate, golangci-lint

build: use kustomize to generate failuredomain examples (#1294)
  examples/capi-quick-start/nutanix-cluster-with-failuredomains-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-with-failuredomains-cilium-helm-addon.yaml
  hack/examples/additional-resources/nutanix/failure-domains.yaml
  hack/examples/overlays/clusters/nutanix-with-failuredomains/cilium/crs/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/nutanix-with-failuredomains/cilium/helm-addon/kustomization.yaml.tmpl
  hack/examples/patches/nutanix/use-failure-domains.yaml
  hack/examples/sync.sh
  test/e2e/config/caren.yaml
  test/e2e/quick_start_test.go
Due: go-generate, golangci-lint, examples-sync

feat: EKS ClusterClass and Cluster example
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/eks-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/clusterclass_eks.yaml
  examples/capi-quick-start/eks-cluster.yaml
  hack/examples/bases/eks/cluster/cluster.yaml
  hack/examples/bases/eks/cluster/kustomization.yaml.tmpl
  hack/examples/bases/eks/clusterclass/clusterclass.yaml
  hack/examples/bases/eks/clusterclass/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/eks/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/eks/kustomizeconfig.yaml
  hack/examples/overlays/clusters/eks/kustomization.yaml.tmpl
  hack/examples/patches/eks/ami-lookup.yaml
  hack/examples/patches/eks/config-var.yaml
  hack/examples/patches/eks/csi.yaml
  hack/examples/patches/eks/initialize-variables.yaml
  hack/examples/patches/eks/start-ssm-kubeadmconfigtemplate.yaml
  hack/examples/sync.sh
Due: chart-docs, examples-sync

fixup! refactor: Remove system pools from EKS cluster
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/eks-cluster-class.yaml
  examples/capi-quick-start/eks-cluster.yaml
  hack/examples/bases/eks/cluster/cluster.yaml
  hack/examples/bases/eks/clusterclass/clusterclass.yaml
Due: chart-docs, examples-sync

fixup! refactor: avoid merging topology variables
  examples/capi-quick-start/eks-cluster.yaml
  hack/examples/bases/eks/cluster/cluster.yaml
  hack/examples/patches/eks/initialize-variables.yaml
Due: examples-sync

fixup! feat: EKS ClusterClass and Cluster example
  examples/capi-quick-start/eks-cluster.yaml
  hack/examples/bases/eks/cluster/cluster.yaml
  hack/examples/overlays/clusters/eks/kustomization.yaml.tmpl
  hack/examples/patches/eks/initialize-variables.yaml
Due: examples-sync

fixup! feat: EKS ClusterClass and Cluster example
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/eks-cluster-class.yaml
  hack/examples/overlays/clusterclasses/eks/kustomization.yaml.tmpl
Due: chart-docs, examples-sync

Revert "fixup! feat: EKS ClusterClass and Cluster example"
  examples/capi-quick-start/eks-cluster.yaml
  hack/examples/bases/eks/cluster/cluster.yaml
  hack/examples/overlays/clusters/eks/kustomization.yaml.tmpl
  hack/examples/patches/eks/initialize-variables.yaml
Due: examples-sync

fixup!: refactor: set variables with kustomize patches
  hack/examples/additional-resources/eks/cilium-configmap.yaml
  hack/examples/bases/eks/cluster/cluster.yaml
  hack/examples/bases/eks/cluster/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/eks/kustomization.yaml.tmpl
  hack/examples/patches/eks/ami-lookup.yaml
  hack/examples/patches/eks/cilium-with-custom-values.yaml
  hack/examples/patches/eks/instance-type.yaml
Due: examples-sync

fixup! fix: copyright dates
  charts/cluster-api-runtime-extensions-nutanix/templates/clusterclass_eks.yaml
  hack/examples/bases/eks/cluster/kustomization.yaml.tmpl
  hack/examples/bases/eks/clusterclass/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/eks/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/eks/kustomizeconfig.yaml
  hack/examples/overlays/clusters/eks/kustomization.yaml.tmpl
  hack/examples/patches/eks/config-var.yaml
  hack/examples/patches/eks/csi.yaml
  hack/examples/patches/eks/initialize-variables.yaml
  hack/examples/patches/eks/start-ssm-kubeadmconfigtemplate.yaml
Due: chart-docs, examples-sync

refactor: move kubeadm config out of GenericClusterConfigSpec to a new type
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_kubeadmclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  api/variables/aggregate_types.go
  pkg/handlers/generic/mutation/coredns/variables_test.go
  pkg/handlers/generic/mutation/etcd/variables_test.go
  pkg/handlers/generic/mutation/kubeproxymode/inject_test.go
  pkg/handlers/generic/mutation/kubernetesimagerepository/variables_test.go
Due: go-generate, golangci-lint, kube-api-linter

fix: remove ExtraAPIServerCertSANs from ExtraAPIServerCertSANs
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
Due: go-generate, golangci-lint, kube-api-linter

refactor: move kubeadm config out of GenericNodeSpec
  api/v1alpha1/controlplane_types.go
  api/v1alpha1/nodeconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/variables/aggregate_types.go
  pkg/handlers/generic/mutation/noderegistration/variables_test.go
Due: go-generate, golangci-lint, kube-api-linter

test: add broken EKS variables unit tests
  pkg/handlers/generic/mutation/ntp/variables_test.go
  pkg/handlers/generic/mutation/taints/variables_test.go
  pkg/handlers/generic/mutation/users/variables_test.go
Due: go-generate, golangci-lint

fix: add GenericClusterConfigSpec and GenericNodeSpec in EKS API
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_eksclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksworkernodeconfigs.yaml
  api/v1alpha1/nodeconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
Due: go-generate, golangci-lint, kube-api-linter

fix: register EKSClusterConfig in the scheme
  api/v1alpha1/clusterconfig_types.go
Due: go-generate, golangci-lint, kube-api-linter

fixup! build: Sync APIs
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/awsmachine_types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/awsmanagedclustertemplate_types.go
Due: go-generate, golangci-lint, kube-api-linter, apis-sync

test: template serviceLoadBalancer start and end IPs
  examples/capi-quick-start/nutanix-cluster-calico-crs.yaml
  examples/capi-quick-start/nutanix-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-with-failuredomains-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-with-failuredomains-cilium-helm-addon.yaml
  hack/examples/bases/docker/cluster/kustomization.yaml.tmpl
  hack/examples/bases/nutanix/cluster/kustomization.yaml.tmpl
  hack/examples/patches/docker/metallb.yaml
  hack/examples/patches/nutanix/metallb.yaml
Due: examples-sync

test: ensure LoadBalancer Service IP is reachable
  test/e2e/config/caren.yaml
  test/e2e/quick_start_test.go
  test/e2e/serviceloadbalancer_helpers.go
Due: go-generate, golangci-lint

feat: update mindthegap to v1.24.0
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  hack/addons/helm-chart-bundler/Dockerfile
Due: schema-chart, chart-docs, addons-sync

feat: update mindthegap version to v1.24.0 (#1305)
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  hack/addons/helm-chart-bundler/Dockerfile
Due: schema-chart, chart-docs, addons-sync

fixup! test: ensure LoadBalancer Service IP is reachable
  test/e2e/quick_start_test.go
  test/e2e/serviceloadbalancer_helpers.go
Due: go-generate, golangci-lint

fix: typos
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_kubeadmclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  api/v1alpha1/nodeconfig_types.go
Due: go-generate, golangci-lint, kube-api-linter

refactor: keep only common types in Generic config specs (#1297)
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/controlplane_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_kubeadmclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  api/v1alpha1/nodeconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/variables/aggregate_types.go
  pkg/handlers/generic/mutation/coredns/variables_test.go
  pkg/handlers/generic/mutation/etcd/variables_test.go
  pkg/handlers/generic/mutation/kubeproxymode/inject_test.go
  pkg/handlers/generic/mutation/kubernetesimagerepository/variables_test.go
  pkg/handlers/generic/mutation/noderegistration/variables_test.go
Due: go-generate, golangci-lint, kube-api-linter
