Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, golangci-lint, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock, check-coredns-versions

schema-chart:
  name: schema-chart
  entry: make schema-chart
  language: system

go-generate:
  name: go-generate
  entry: make go-generate
  language: system
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  entry: make lint
  language: system
  pass_filenames: false

chart-docs:
  name: chart-docs
  entry: make chart-docs
  language: system
  pass_filenames: false

hugo-mod-tidy:
  name: hugo-mod-tidy
  entry: bash -c "cd docs && hugo mod tidy"
  language: system
  pass_filenames: false

examples-sync:
  name: examples-sync
  entry: make examples.sync
  language: system
  pass_filenames: false

apis-sync:
  name: apis-sync
  entry: make apis.sync
  language: system
  pass_filenames: false

addons-sync:
  name: addons-sync
  entry: make addons.sync
  language: system
  pass_filenames: false

addons-repo-yaml:
  name: addons-repo-yaml
  entry: make template-helm-repository
  language: system
  pass_filenames: false

check-devbox-lock:
  name: check-devbox-lock
  entry: devbox install
  language: system
  pass_filenames: false

check-coredns-versions:
  name: check-coredns-versions
  entry: make coredns.sync
  language: system

fixup! feat(preflight): Add a check for storage containers
  pkg/webhook/preflight/nutanix/storagecontainer.go
  pkg/webhook/preflight/nutanix/storagecontainer_test.go
Due: go-generate, golangci-lint

fixup! feat(preflight): Add a check for storage containers
  pkg/webhook/preflight/nutanix/storagecontainer.go
Due: go-generate, golangci-lint

Update link to default Cilium values in cni.md
  docs/content/addons/cni.md
Due: hugo-mod-tidy

fixup! docs: Extract long URL
  docs/content/addons/cni.md
  docs/layouts/shortcodes/mdl-disable.html
Due: hugo-mod-tidy

docs: Update link to default Cilium values in cni.md (#1173)
  docs/content/addons/cni.md
  docs/layouts/shortcodes/mdl-disable.html
Due: hugo-mod-tidy

fix(deps): set prism-go-client to v0.5.2
  go.mod
  go.sum
Due: go-generate, golangci-lint

fix: preserve registry addon root CA when moving management cluster
  charts/cluster-api-runtime-extensions-nutanix/templates/certificates.yaml
  common/pkg/capi/utils/utils.go
  pkg/handlers/generic/lifecycle/registry/cncfdistribution/handler.go
  pkg/handlers/generic/lifecycle/registry/utils/tls.go
  pkg/handlers/generic/lifecycle/registry/utils/tls_integration_test.go
  pkg/handlers/utils/secrets.go
Due: go-generate, golangci-lint, chart-docs

test: ensure registry addon CA exists and matches the root CA
  test/e2e/quick_start_test.go
  test/e2e/registry.go
  test/e2e/self_hosted_test.go
Due: go-generate, golangci-lint

fixup! fix: actually use the management cluster
  common/go.mod
  common/pkg/capi/utils/utils.go
  common/pkg/capi/utils/utils_test.go
  pkg/handlers/generic/lifecycle/registry/cncfdistribution/handler.go
  pkg/handlers/generic/lifecycle/registry/utils/tls.go
  pkg/handlers/generic/lifecycle/registry/utils/tls_integration_test.go
  pkg/handlers/utils/secrets.go
Due: go-generate, golangci-lint

fix: preserve registry addon root CA on move (#1155)
  charts/cluster-api-runtime-extensions-nutanix/templates/certificates.yaml
  common/go.mod
  common/pkg/capi/utils/utils.go
  common/pkg/capi/utils/utils_test.go
  pkg/handlers/generic/lifecycle/registry/cncfdistribution/handler.go
  pkg/handlers/generic/lifecycle/registry/utils/tls.go
  pkg/handlers/generic/lifecycle/registry/utils/tls_integration_test.go
  pkg/handlers/utils/secrets.go
  test/e2e/quick_start_test.go
  test/e2e/registry.go
  test/e2e/self_hosted_test.go
Due: go-generate, golangci-lint, chart-docs

feat(preflight): Storage container checks for Nutanix (#1136)
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/checker_test.go
  pkg/webhook/preflight/nutanix/clients.go
  pkg/webhook/preflight/nutanix/clients_test.go
  pkg/webhook/preflight/nutanix/storagecontainer.go
  pkg/webhook/preflight/nutanix/storagecontainer_test.go
Due: go-generate, golangci-lint

docs: Fix up Cilium config link (again) & icons
  docs/content/addons/cni.md
  docs/content/addons/cosi.md
  docs/content/addons/registry.md
Due: hugo-mod-tidy

docs: Fix up Cilium config link (again) & icons (#1176)
  docs/content/addons/cni.md
  docs/content/addons/cosi.md
  docs/content/addons/registry.md
Due: hugo-mod-tidy

fix: Add noderegistration patch to previous handler
  make/dev.mk
  pkg/handlers/v3/generic/mutation/handlers.go
Due: go-generate, golangci-lint

ci: Fail reviewdog checks on any issue
  .github/workflows/checks.yml
Due: none

fixup! refactor: Address review feedback
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  pkg/handlers/generic/mutation/kubeproxymode/inject.go
  pkg/handlers/generic/mutation/kubeproxymode/inject_test.go
Due: go-generate, golangci-lint

fix: Add noderegistration patch to previous handler (#1177)
  make/dev.mk
  pkg/handlers/v3/generic/mutation/handlers.go
Due: go-generate, golangci-lint

feat(preflight): Add VM Image kubernetes version check
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/checker_test.go
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck.go
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck_test.go
Due: go-generate, golangci-lint

fix(preflight): Loosen up the regex for checking vm image name
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck.go
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck_test.go
Due: go-generate, golangci-lint

fix(preflight): remove 'nkp' mentions in examples and tests
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck.go
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck_test.go
Due: go-generate, golangci-lint

feat: update Nutanix CSI to 3.3.4
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync

feat: update Nutanix CSI to 3.3.4 (#1179)
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync

fixup! release: Update metadata for release
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: none

fix(preflight): improved error reporting for storage container checks
  pkg/webhook/preflight/nutanix/storagecontainer.go
  pkg/webhook/preflight/nutanix/storagecontainer_test.go
Due: go-generate, golangci-lint

fix(preflight): remove warnings when no image found
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck.go
Due: go-generate, golangci-lint

release(main): v0.30.0 (#1171)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: hugo-mod-tidy

fix(preflight): change error boolean for checkKubernetesVersion error
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck.go
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck_test.go
Due: go-generate, golangci-lint

fix(preflight): fix unit tests
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck_test.go
Due: go-generate, golangci-lint

fix: Do not treat a missing storageContainer as an internal error
  pkg/webhook/preflight/nutanix/storagecontainer.go
  pkg/webhook/preflight/nutanix/storagecontainer_test.go
Due: go-generate, golangci-lint

fixup! fix(preflight): improved error reporting for storage container checks
  pkg/webhook/preflight/nutanix/storagecontainer.go
Due: go-generate, golangci-lint

fix: Do not run preflight checks if Cluster is paused
  pkg/webhook/preflight/preflight.go
  pkg/webhook/preflight/preflight_test.go
Due: go-generate, golangci-lint

fix: Do not run preflight checks if Cluster is paused (#1181)
  pkg/webhook/preflight/preflight.go
  pkg/webhook/preflight/preflight_test.go
Due: go-generate, golangci-lint

NCN-107137: CAREN configuration support for Nutanix FailureDomain
  api/v1alpha1/controlplane_types.go
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  api/v1alpha1/nodeconfig_types.go
  api/v1alpha1/nutanix_node_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/variables/aggregate_types.go
  pkg/handlers/nutanix/mutation/machinedetails/variables_test.go
  pkg/webhook/preflight/nutanix/checker_test.go
  pkg/webhook/preflight/nutanix/image_test.go
  pkg/webhook/preflight/nutanix/storagecontainer.go
  pkg/webhook/preflight/nutanix/storagecontainer_test.go
Due: go-generate, golangci-lint

fixup! refactor: Address review feedback
  pkg/handlers/generic/mutation/kubeproxymode/embedded/kubeproxyconfig.yaml
  pkg/handlers/generic/mutation/kubeproxymode/inject.go
  pkg/handlers/generic/mutation/kubeproxymode/inject_test.go
Due: go-generate, golangci-lint

feat: Allow configuration of kube-proxy mode on cluster creation (#1163)
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  docs/content/customization/generic/kube-proxy-mode.md
  pkg/handlers/generic/mutation/extraapiservercertsans/inject_test.go
  pkg/handlers/generic/mutation/handlers.go
  pkg/handlers/generic/mutation/kubeproxymode/embedded/kubeproxyconfig.yaml
  pkg/handlers/generic/mutation/kubeproxymode/inject.go
  pkg/handlers/generic/mutation/kubeproxymode/inject_test.go
  pkg/handlers/generic/mutation/kubeproxymode/variables_test.go
Due: go-generate, golangci-lint, hugo-mod-tidy

fixup! fix(preflight): improved error reporting for storage container checks
  pkg/webhook/preflight/nutanix/storagecontainer.go
  pkg/webhook/preflight/nutanix/storagecontainer_test.go
Due: go-generate, golangci-lint

fixup! fix(preflight): improved error reporting for storage container checks
  pkg/webhook/preflight/nutanix/image_test.go
Due: go-generate, golangci-lint

fix: include GenericNodeSpec in aggregate type
  api/variables/aggregate_types.go
Due: go-generate, golangci-lint

fix: add tolerations and nodeAffinity overrides for registry addon
  charts/cluster-api-runtime-extensions-nutanix/addons/registry/cncf-distribution/values-template.yaml
Due: chart-docs

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/mindthegap-helm-registry/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$
  check-coredns-versions: any of: ^api/versions/coredns.go$
