Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-configmap

golangci-lint:
  name: golangci-lint
  entry: make go-generate lint
  language: system
  pass_filenames: false

hugo-mod-tidy:
  name: hugo-mod-tidy
  entry: bash -c "cd docs && hugo mod tidy"
  language: system
  pass_filenames: false

examples-sync:
  name: examples-sync
  entry: make examples.sync
  language: system
  pass_filenames: false

apis-sync:
  name: apis-sync
  entry: make apis.sync
  language: system
  pass_filenames: false

addons-sync:
  name: addons-sync
  entry: make addons.sync
  language: system
  pass_filenames: false

addons-configmap:
  name: addons-configmap
  entry: make generate-helm-configmap
  language: system
  pass_filenames: false

feat: mutation handler for encryption configuration
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  pkg/handlers/generic/mutation/encryption/encryptionprovider_test.go
  pkg/handlers/generic/mutation/encryption/inject.go
  pkg/handlers/generic/mutation/encryption/inject_test.go
  pkg/handlers/generic/mutation/handlers.go
Due: golangci-lint

fix: add owner reference for secret
  pkg/handlers/generic/mutation/encryption/inject.go
  pkg/handlers/generic/mutation/encryption/inject_test.go
  pkg/handlers/generic/mutation/handlers.go
Due: golangci-lint

fix: use array type for encryption providers
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  pkg/handlers/generic/mutation/encryption/encryptionprovider_test.go
  pkg/handlers/generic/mutation/encryption/inject.go
  pkg/handlers/generic/mutation/encryption/inject_test.go
Due: golangci-lint

docs: add encryptionAtRest config in capi-quick-start
  examples/capi-quick-start/aws-cluster-calico-crs.yaml
  examples/capi-quick-start/aws-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/aws-cluster-cilium-crs.yaml
  examples/capi-quick-start/aws-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/docker-cluster-calico-crs.yaml
  examples/capi-quick-start/docker-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/docker-cluster-cilium-crs.yaml
  examples/capi-quick-start/docker-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-calico-crs.yaml
  examples/capi-quick-start/nutanix-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  hack/examples/bases/aws/cluster/kustomization.yaml.tmpl
  hack/examples/bases/docker/cluster/kustomization.yaml.tmpl
  hack/examples/bases/nutanix/cluster/kustomization.yaml.tmpl
  hack/examples/patches/encryption.yaml
Due: examples-sync

docs: API docs for encryptionAtRest
  docs/content/customization/generic/encryption.md
Due: hugo-mod-tidy

fix: cluster-autoscaler Helm values for workload clusters
  charts/cluster-api-runtime-extensions-nutanix/templates/cluster-autoscaler/manifests/helm-addon-installation.yaml
  pkg/handlers/generic/lifecycle/clusterautoscaler/strategy_crs.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/template.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/template_test.go
Due: golangci-lint, addons-sync, addons-configmap

refactor: Write configuration under /etc/caren
  pkg/handlers/generic/mutation/containerdapplypatchesandrestart/apply_patches.go
  pkg/handlers/generic/mutation/containerdapplypatchesandrestart/inject_test.go
  pkg/handlers/generic/mutation/containerdapplypatchesandrestart/restart.go
  pkg/handlers/generic/mutation/containerdmetrics/metrics.go
  pkg/handlers/generic/mutation/imageregistries/credentials/credential_provider_install_files.go
  pkg/handlers/generic/mutation/imageregistries/credentials/inject_test.go
  pkg/handlers/generic/mutation/mirrors/inject_test.go
  pkg/handlers/generic/mutation/mirrors/mirror.go
  pkg/handlers/generic/mutation/mirrors/mirror_test.go
Due: golangci-lint

refactor: Derive path of a patch file in a common package
  pkg/common/containerd.go
  pkg/handlers/generic/mutation/containerdapplypatchesandrestart/apply_patches.go
  pkg/handlers/generic/mutation/containerdapplypatchesandrestart/inject_test.go
  pkg/handlers/generic/mutation/containerdapplypatchesandrestart/restart.go
  pkg/handlers/generic/mutation/containerdmetrics/metrics.go
  pkg/handlers/generic/mutation/imageregistries/credentials/credential_provider_install_files.go
  pkg/handlers/generic/mutation/mirrors/mirror.go
Due: golangci-lint

refactor: Write configuration under /etc/caren (#656)
  pkg/common/containerd.go
  pkg/handlers/generic/mutation/containerdapplypatchesandrestart/apply_patches.go
  pkg/handlers/generic/mutation/containerdapplypatchesandrestart/inject_test.go
  pkg/handlers/generic/mutation/containerdapplypatchesandrestart/restart.go
  pkg/handlers/generic/mutation/containerdmetrics/metrics.go
  pkg/handlers/generic/mutation/imageregistries/credentials/credential_provider_install_files.go
  pkg/handlers/generic/mutation/imageregistries/credentials/inject_test.go
  pkg/handlers/generic/mutation/mirrors/inject_test.go
  pkg/handlers/generic/mutation/mirrors/mirror.go
  pkg/handlers/generic/mutation/mirrors/mirror_test.go
Due: golangci-lint

fix: cluster-autoscaler Helm values for workload clusters (#658)
  charts/cluster-api-runtime-extensions-nutanix/templates/cluster-autoscaler/manifests/helm-addon-installation.yaml
  pkg/handlers/generic/lifecycle/clusterautoscaler/strategy_crs.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/template.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/template_test.go
Due: golangci-lint, addons-sync, addons-configmap

fix: Make Cluster the owner of image registry credential secret (#648)
  pkg/handlers/generic/mutation/imageregistries/credentials/inject.go
  pkg/handlers/generic/mutation/imageregistries/credentials/inject_test.go
Due: golangci-lint

feat: Enable unprivileged ports sysctl in containerd config
  pkg/handlers/generic/mutation/containerdunprivilegedports/files/unprivileged-ports-config.toml
  pkg/handlers/generic/mutation/containerdunprivilegedports/inject.go
  pkg/handlers/generic/mutation/containerdunprivilegedports/inject_test.go
  pkg/handlers/generic/mutation/containerdunprivilegedports/unprivileged_ports.go
  pkg/handlers/generic/mutation/handlers.go
  test/e2e/config/caren.yaml
Due: golangci-lint

fixup! revert: Remove unintentional e2e test config change
  test/e2e/config/caren.yaml
Due: none

fixup! refactor: Use common function for deriving containerd config patch path
  pkg/handlers/generic/mutation/containerdunprivilegedports/unprivileged_ports.go
Due: golangci-lint

feat: Enable unprivileged ports sysctl in containerd config (#645)
  pkg/handlers/generic/mutation/containerdunprivilegedports/files/unprivileged-ports-config.toml
  pkg/handlers/generic/mutation/containerdunprivilegedports/inject.go
  pkg/handlers/generic/mutation/containerdunprivilegedports/inject_test.go
  pkg/handlers/generic/mutation/containerdunprivilegedports/unprivileged_ports.go
  pkg/handlers/generic/mutation/handlers.go
Due: golangci-lint

build: us a shorter namespace caren-system
  .goreleaser.yml
Due: none

docs: update namespace in getting-started docs
  docs/content/getting-started/deployment/via-helm.md
Due: hugo-mod-tidy

feat: Bump sigs.k8s.io/cluster-api to v1.7.2
  api/go.mod
  api/go.sum
  cluster-api-runtime-extensions-nutanix.code-workspace
  common/go.mod
  common/go.sum
  go.mod
  go.sum
  hack/flakes/flake.lock
  hack/flakes/flake.nix
  pkg/handlers/generic/lifecycle/clusterautoscaler/template.go
  test/e2e/e2e_suite_test.go
  test/e2e/ownerreference_helpers.go
  test/e2e/quick_start_test.go
Due: golangci-lint

build: us a shorter namespace caren-system (#662)
  .goreleaser.yml
  docs/content/getting-started/deployment/via-helm.md
Due: hugo-mod-tidy

feat: mutation handler for EncryptionConfig
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  common/pkg/k8s/client/create.go
  pkg/handlers/generic/mutation/encryption/encryptionprovider_test.go
  pkg/handlers/generic/mutation/encryption/inject.go
  pkg/handlers/generic/mutation/encryption/inject_test.go
  pkg/handlers/generic/mutation/encryption/tokengenerator.go
Due: golangci-lint

fix: use concrete type for encryption poriver
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
Due: golangci-lint

feat: API for encryption at-rest
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
Due: golangci-lint

fix: use object type for encryption providers
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
Due: golangci-lint

fix: rename package to encryptionatrest
  pkg/handlers/generic/mutation/encryptionatrest/encryptionprovider_test.go
  pkg/handlers/generic/mutation/encryptionatrest/inject.go
  pkg/handlers/generic/mutation/encryptionatrest/inject_test.go
  pkg/handlers/generic/mutation/encryptionatrest/tokengenerator.go
  pkg/handlers/generic/mutation/handlers.go
Due: golangci-lint

fix: set omitempty json tag
  api/v1alpha1/clusterconfig_types.go
Due: golangci-lint

feat: API for encryption at-rest (#610)
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  common/pkg/k8s/client/create.go
  pkg/handlers/generic/mutation/encryptionatrest/encryptionprovider_test.go
  pkg/handlers/generic/mutation/encryptionatrest/inject.go
  pkg/handlers/generic/mutation/encryptionatrest/inject_test.go
  pkg/handlers/generic/mutation/encryptionatrest/tokengenerator.go
  pkg/handlers/generic/mutation/handlers.go
Due: golangci-lint

refactor: Use a Credentials struct consistently
  api/v1alpha1/addon_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/nutanix_clusterconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler.go
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler_test.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/template.go
  pkg/handlers/generic/lifecycle/csi/nutanix-csi/handler.go
  pkg/handlers/nutanix/mutation/controlplaneendpoint/variables_test.go
  pkg/handlers/nutanix/mutation/prismcentralendpoint/inject.go
  pkg/handlers/nutanix/mutation/prismcentralendpoint/inject_test.go
  pkg/handlers/nutanix/mutation/prismcentralendpoint/variables_test.go
Due: golangci-lint

[skip ci] fix: whitespace issue
  make/addons.mk
Due: addons-sync, addons-configmap

fix: loads helm image into test
  test/e2e/config/caren.yaml
Due: none

feat: adds a mindthegap container
  .goreleaser.yml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/generate-mindthegap-repofile.sh
  hack/addons/mindthegap-helm-registry/Dockerfile
  hack/addons/mindthegap-helm-registry/repos.yaml
  hack/tools/mindthegap-helm-reg/main.go
  make/addons.mk
Due: golangci-lint, addons-sync, addons-configmap

feat: self host helm charts with mindthegap
  .goreleaser.yml
  .pre-commit-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-chart-svc.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  hack/addons/mindthegap-helm-registry/Dockerfile
  make/addons.mk
  make/dev.mk
Due: addons-sync, addons-configmap

fix: addresse more issues with pre-commit
  .pre-commit-config.yaml
  hack/addons/generate-mindthegap-repofile.sh
  make/addons.mk
Due: addons-sync, addons-configmap

fix: minor cleanups to use OCI for hcp
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-chart-svc.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  make/addons.mk
  pkg/handlers/generic/lifecycle/nfd/strategy_helmaddon.go
Due: golangci-lint, addons-sync, addons-configmap

fix: precommit failures for helm chart svc
  .pre-commit-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-chart-svc.yaml
  hack/addons/kustomize/nfd/kustomization.yaml.tmpl
Due: addons-sync, addons-configmap

fix: pre-commit
  charts/cluster-api-runtime-extensions-nutanix/crds/crd-trust.cert-manager.io_bundles.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/bundle.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/job-role.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/job-rolebinding.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/job-sa.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/job.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/mindthegap.yaml
  charts/ct-config.yaml
  hack/addons/mindthegap-helm-registry/repos.yaml
  hack/tools/mindthegap-helm-reg/main.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/template.go
Due: golangci-lint, addons-sync, addons-configmap

fix: remove old copyright and remove helm hook
  charts/cluster-api-runtime-extensions-nutanix/templates/bundle.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/job-role.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/job-rolebinding.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/job-sa.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/job.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/mindthegap.yaml
Due: addons-configmap

fix: updates items with new namespace
  README.md
  charts/cluster-api-runtime-extensions-nutanix/crds/crd-trust.cert-manager.io_bundles.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/aws-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/docker-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/mindthegap.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  hack/addons/fetch-helm-crds.sh
  hack/examples/overlays/clusterclasses/aws/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/docker/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/nutanix/kustomization.yaml.tmpl
  hack/tools/helm-cm/main.go
  make/addons.mk
  make/dev.mk
Due: golangci-lint, examples-sync, addons-sync, addons-configmap

Path conditions:
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-configmap: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+|make/addons.mk$)
