Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, check-coredns-versions, golangci-lint, kube-api-linter, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  check-coredns-versions: any of: ^api/versions/coredns.go$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  kube-api-linter: any of: ((^api/(.*\.go|go.mod|go.sum))|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/helm-chart-bundler/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$

fix: increase CAREN reqs and limits
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
Due: schema-chart, chart-docs

fixup! fix: avoid using Helm for legacy agent webhook
  pkg/webhook/cluster/konnectoragent_legacy_validator.go
  pkg/webhook/cluster/konnectoragent_legacy_validator_test.go
Due: go-generate, golangci-lint

fix: increase CAREN reqs and limits (#1409)
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
Due: schema-chart, chart-docs

fix: Apply suggestions from code review
  pkg/webhook/cluster/konnectoragent_legacy_validator.go
Due: go-generate, golangci-lint

fix: checking empty annotation values
  pkg/webhook/cluster/konnectoragent_legacy_validator.go
Due: go-generate, golangci-lint

fixup! revert: Remove redundant context checks
  pkg/controllers/namespacesync/controller.go
  pkg/controllers/namespacesync/references.go
Due: go-generate, golangci-lint

docs: Upgrade to docsy v0.13.0
  docs/go.mod
  docs/go.sum
Due: go-generate, golangci-lint, hugo-mod-tidy

fix: remvoing nil check
  pkg/webhook/cluster/konnectoragent_legacy_validator.go
Due: go-generate, golangci-lint

fix: avoid using Helm in legacy agent webhook (#1410)
  go.mod
  go.sum
  pkg/webhook/cluster/konnectoragent_legacy_validator.go
  pkg/webhook/cluster/konnectoragent_legacy_validator_test.go
Due: go-generate, golangci-lint

fixup! build: Run go mod tidy
  api/go.sum
Due: go-generate, golangci-lint, kube-api-linter

feat: Use mindthegap 1.25.1
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
Due: schema-chart, chart-docs

release(main): v0.39.2 (#1412)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

feat: Use mindthegap 1.25.1 (#1414)
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
Due: schema-chart, chart-docs

docs: Upgrade to docsy v0.13.0 (#1411)
  docs/go.mod
  docs/go.sum
Due: go-generate, golangci-lint, hugo-mod-tidy

Updates title of konnector-agent.md
  docs/content/addons/konnector-agent.md
Due: hugo-mod-tidy

fix: adding kustomization to remove cluster and subnet field
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  hack/examples/overlays/clusterclasses/nutanix/kustomization.yaml.tmpl
Due: chart-docs, examples-sync

fix: adding kustomization to remove cluster and subnet field (#1416)
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  hack/examples/overlays/clusterclasses/nutanix/kustomization.yaml.tmpl
Due: chart-docs, examples-sync

release(main): v0.40.0
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

fixup! release(main): v0.40.0
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: none

release(main): v0.40.0 (#1417)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: hugo-mod-tidy

fix: Copy ClusterClass and Templates only if they do not already exist
  pkg/controllers/namespacesync/copy.go
  pkg/controllers/namespacesync/copy_test.go
Due: go-generate, golangci-lint

feat: Audit Cluster API resources at the request level
  pkg/handlers/v4/generic/mutation/auditpolicy/embedded/apiserver-audit-policy.yaml
Due: none

feat(preflight): enforce supported Prism Central versions
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/checker_test.go
  pkg/webhook/preflight/nutanix/clients.go
  pkg/webhook/preflight/nutanix/prismcentralversion.go
  pkg/webhook/preflight/nutanix/prismcentralversion_test.go
  pkg/webhook/preflight/nutanix/utils/version.go
  pkg/webhook/preflight/nutanix/utils/version_test.go
Due: go-generate, golangci-lint

fix(preflight): gate Nutanix checks on Prism Central version
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/checker_test.go
  pkg/webhook/preflight/nutanix/clients.go
  pkg/webhook/preflight/nutanix/failuredomain.go
  pkg/webhook/preflight/nutanix/failuredomain_test.go
  pkg/webhook/preflight/nutanix/image.go
  pkg/webhook/preflight/nutanix/image_test.go
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck.go
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck_test.go
  pkg/webhook/preflight/nutanix/prismcentralversion.go
  pkg/webhook/preflight/nutanix/prismcentralversion_test.go
  pkg/webhook/preflight/nutanix/storagecontainer.go
  pkg/webhook/preflight/nutanix/storagecontainer_test.go
Due: go-generate, golangci-lint

Check skip in factory
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/checker_test.go
  pkg/webhook/preflight/nutanix/prismcentralversion.go
Due: go-generate, golangci-lint

Allow other checks to run by setting fake version
  pkg/webhook/preflight/nutanix/prismcentralversion.go
Due: go-generate, golangci-lint

refactor(preflight): move skip check to factory
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/checker_test.go
  pkg/webhook/preflight/nutanix/prismcentralversion.go
Due: go-generate, golangci-lint

fix(preflight): allow dependent checks when version check is skipped
  pkg/webhook/preflight/nutanix/prismcentralversion.go
Due: go-generate, golangci-lint

refactor: fix go lint and gitlint issues
  pkg/webhook/preflight/nutanix/prismcentralversion.go
Due: go-generate, golangci-lint

feat: Build with go 1.25.5
  api/go.mod
  common/go.mod
  go.mod
  hack/tools/go.mod
Due: go-generate, golangci-lint, kube-api-linter

feat(preflight): enforce supported Prism Central versions (#1421)
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/checker_test.go
  pkg/webhook/preflight/nutanix/clients.go
  pkg/webhook/preflight/nutanix/failuredomain.go
  pkg/webhook/preflight/nutanix/failuredomain_test.go
  pkg/webhook/preflight/nutanix/image.go
  pkg/webhook/preflight/nutanix/image_test.go
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck.go
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck_test.go
  pkg/webhook/preflight/nutanix/prismcentralversion.go
  pkg/webhook/preflight/nutanix/prismcentralversion_test.go
  pkg/webhook/preflight/nutanix/storagecontainer.go
  pkg/webhook/preflight/nutanix/storagecontainer_test.go
  pkg/webhook/preflight/nutanix/utils/version.go
  pkg/webhook/preflight/nutanix/utils/version_test.go
Due: go-generate, golangci-lint

feat: Build with go 1.25.5 (#1422)
  api/go.mod
  common/go.mod
  go.mod
  hack/tools/go.mod
Due: go-generate, golangci-lint, kube-api-linter

fix: bumping konnector-agent chart version
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

fix: updating doc
  docs/content/addons/konnector-agent.md
Due: hugo-mod-tidy

fix: bumping konnector-agent chart version (#1424)
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  docs/content/addons/konnector-agent.md
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, hugo-mod-tidy, addons-sync, addons-repo-yaml

fix: update metadata values
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: none

release(main): v0.41.0 (#1423)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: hugo-mod-tidy

fix: CAPX bumpup to v1.8.2
  hack/third-party/capx/go.mod
  hack/third-party/capx/go.sum
Due: go-generate, golangci-lint, apis-sync
