Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, golangci-lint, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock, check-coredns-versions

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/mindthegap-helm-registry/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$
  check-coredns-versions: any of: ^api/versions/coredns.go$

fix: include kube-vip image in generated caren-images.txt
  hack/tools/fetch-images/main.go
  make/addons.mk
Due: go-generate, golangci-lint, addons-sync

test: add failing unit tests for registries with a CA
  pkg/handlers/generic/mutation/imageregistries/credentials/inject_test.go
Due: go-generate, golangci-lint

fix: image registries with a CA
  pkg/handlers/generic/mutation/imageregistries/credentials/credential_provider_config_files.go
  pkg/handlers/generic/mutation/imageregistries/credentials/inject.go
Due: go-generate, golangci-lint

fix: skip imageRegistries with no credentials
  pkg/handlers/generic/mutation/imageregistries/credentials/inject.go
  pkg/handlers/generic/mutation/imageregistries/credentials/inject_test.go
Due: go-generate, golangci-lint

fix: list correct registry.k8s.io/sig-storage/csi-snapshotter image
  hack/tools/fetch-images/main.go
  hack/tools/go.mod
  hack/tools/go.sum
Due: go-generate, golangci-lint

fix: list correct registry.k8s.io/sig-storage/csi-snapshotter image (#943)
  hack/tools/fetch-images/main.go
  hack/tools/go.mod
  hack/tools/go.sum
Due: go-generate, golangci-lint

fix: include kube-vip image in generated caren-images.txt (#940)
  hack/tools/fetch-images/main.go
  make/addons.mk
Due: go-generate, golangci-lint, addons-sync

docs: minor fixes in the releasing.md doc
  docs/content/contributing/releasing.md
Due: hugo-mod-tidy

fixup! release: Update metadata for release
  metadata.yaml
  test/e2e/config/caren.yaml
Due: none

release(main): v0.18.0
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

release(main): v0.18.0 (#944)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
  metadata.yaml
  test/e2e/config/caren.yaml
Due: hugo-mod-tidy

build: pass the Chart version when listing images
  hack/tools/fetch-images/main.go
Due: go-generate, golangci-lint

build: pass the Chart version when listing images (#945)
  hack/tools/fetch-images/main.go
Due: go-generate, golangci-lint

feat: adds previous versions to self hosted helm registry
  hack/addons/generate-mindthegap-repofile.sh
  hack/addons/mindthegap-helm-registry/repos.yaml
  hack/tools/mindthegap-helm-reg/main.go
  make/addons.mk
Due: go-generate, golangci-lint, addons-sync, addons-repo-yaml

fix: shellcheck
  hack/addons/generate-mindthegap-repofile.sh
Due: addons-sync

fix: running template is not necessary
  make/addons.mk
Due: addons-sync

fix: adds GH_TOKEN to supress warning
  .github/workflows/checks.yml
Due: none

ci: adds n-2 flag
  hack/addons/generate-mindthegap-repofile.sh
  hack/addons/mindthegap-helm-registry/repos.yaml
  hack/tools/mindthegap-helm-reg/main.go
  make/addons.mk
Due: go-generate, golangci-lint, addons-sync, addons-repo-yaml

fix: precomit issue
  hack/addons/generate-mindthegap-repofile.sh
Due: addons-sync

feat: copy charts to pvc
  .goreleaser.yml
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-repository.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  hack/addons/mindthegap-helm-registry/Dockerfile
Due: schema-chart, chart-docs, addons-sync

fix: use build version
  .goreleaser.yml
Due: none

fix: use new variable name
  .github/workflows/checks.yml
  .goreleaser.yml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-repository.yaml
  hack/addons/mindthegap-helm-registry/Dockerfile
  make/dev.mk
Due: chart-docs, addons-sync

fix: set right version
  .goreleaser.yml
Due: none

ci: sets timestamp on tar ball name to ensure uniqueness
  .goreleaser.yml
  hack/addons/mindthegap-helm-registry/Dockerfile
  make/goreleaser.mk
Due: addons-sync

fix: correct copy and args
  .goreleaser.yml
  hack/addons/mindthegap-helm-registry/Dockerfile
  make/goreleaser.mk
Due: addons-sync

fix: uses the same image
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-repository.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  hack/addons/mindthegap-helm-registry/Dockerfile
Due: schema-chart, chart-docs, addons-sync

fix: adds version to alpine
  hack/addons/mindthegap-helm-registry/Dockerfile
Due: addons-sync

fix: pre-commit issue
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
Due: chart-docs

fix: use correct command
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-repository.yaml
  hack/addons/mindthegap-helm-registry/Dockerfile
Due: chart-docs, addons-sync

fix: adds command
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-repository.yaml
Due: chart-docs

fix: use better name
  .goreleaser.yml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-repository.yaml
Due: chart-docs

fix: changes name back to helmRepositoryImage
  .github/workflows/checks.yml
  .goreleaser.yml
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-repository.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  make/dev.mk
Due: schema-chart, chart-docs

feat: copy charts to pvc (#947)
  .goreleaser.yml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-repository.yaml
  hack/addons/mindthegap-helm-registry/Dockerfile
Due: chart-docs, addons-sync

release(main): v0.19.0
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: hugo-mod-tidy

release(main): v0.19.0 (#948)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: hugo-mod-tidy

fix: adds previous versions helm charts in this container
  hack/addons/mindthegap-helm-registry/Dockerfile
Due: addons-sync

feat: add API for CoreDNS image configuration
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
Due: go-generate, golangci-lint

feat: add handler for CoreDNS image configuration
  api/v1alpha1/constants.go
  docs/content/customization/generic/dns.md
  pkg/handlers/generic/mutation/coredns/inject.go
  pkg/handlers/generic/mutation/coredns/inject_test.go
  pkg/handlers/generic/mutation/coredns/variables_test.go
  pkg/handlers/generic/mutation/handlers.go
Due: go-generate, golangci-lint, hugo-mod-tidy

fix: clarification in the etcd doc
  docs/content/customization/generic/etcd.md
Due: hugo-mod-tidy

feat: support configuring CoreDNS image (#950)
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/constants.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  docs/content/customization/generic/dns.md
  docs/content/customization/generic/etcd.md
  pkg/handlers/generic/mutation/coredns/inject.go
  pkg/handlers/generic/mutation/coredns/inject_test.go
  pkg/handlers/generic/mutation/coredns/variables_test.go
  pkg/handlers/generic/mutation/handlers.go
Due: go-generate, golangci-lint, hugo-mod-tidy
