Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, check-coredns-versions, golangci-lint, kube-api-linter, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock

schema-chart:
  name: schema-chart
  entry: make schema-chart
  language: system

go-generate:
  name: go-generate
  entry: make go-generate
  language: system
  pass_filenames: false

check-coredns-versions:
  name: check-coredns-versions
  entry: make coredns.sync
  language: system

golangci-lint:
  name: golangci-lint
  entry: make lint
  language: system
  pass_filenames: false

kube-api-linter:
  name: kube-api-linter
  entry: make lint-kube-api
  language: system
  pass_filenames: false

chart-docs:
  name: chart-docs
  entry: make chart-docs
  language: system
  pass_filenames: false

hugo-mod-tidy:
  name: hugo-mod-tidy
  entry: bash -c "cd docs && hugo mod tidy"
  language: system
  pass_filenames: false

examples-sync:
  name: examples-sync
  entry: make examples.sync
  language: system
  pass_filenames: false

apis-sync:
  name: apis-sync
  entry: make apis.sync
  language: system
  pass_filenames: false

addons-sync:
  name: addons-sync
  entry: make addons.sync
  language: system
  pass_filenames: false

addons-repo-yaml:
  name: addons-repo-yaml
  entry: make template-helm-repository
  language: system
  pass_filenames: false

check-devbox-lock:
  name: check-devbox-lock
  entry: devbox install
  language: system
  pass_filenames: false

fixup! refactor: Address review feedback
  api/v1alpha1/addon_types.go
Due: go-generate, golangci-lint, kube-api-linter

fixup! ci: Tidy up devbox run commands
  .github/workflows/checks.yml
Due: none

feat: Support AL2023 for EKS clusters
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/network_types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/bootstrap/eks/api/v1beta2/eksconfig_types.go
  api/go.mod
  api/go.sum
  api/v1alpha1/crds/caren.nutanix.com_eksworkernodeconfigs.yaml
  api/v1alpha1/nodeconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/variables/aggregate_types.go
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/eks-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/aws-ebs/manifests/aws-ebs-csi-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  go.mod
  go.sum
  hack/addons/helm-chart-bundler/repos.yaml
  hack/demos/eks-ebs-snapshot-volumeattach/demo.sh
  hack/demos/eks-ebs-snapshot-volumeattach/eks-test.yaml
  hack/examples/overlays/clusterclasses/eks/kustomization.yaml.tmpl
  hack/third-party/capa/go.mod
  hack/third-party/capa/go.sum
  make/addons.mk
  make/clusterctl.mk
  pkg/handlers/eks/mutation/metapatch_handler.go
  pkg/handlers/eks/mutation/network/inject.go
  pkg/handlers/eks/mutation/nodetype/inject.go
  pkg/handlers/eks/mutation/nodetype/inject_test.go
  pkg/handlers/eks/mutation/nodetype/variables_test.go
Due: go-generate, golangci-lint, kube-api-linter, chart-docs, examples-sync, apis-sync, addons-sync, addons-repo-yaml

perf: Enable compression of audit logs, and increase max file size
  pkg/handlers/generic/mutation/auditpolicy/inject.go
Due: go-generate, golangci-lint

fixup! feat: Sync CAPA APIs
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/awsmachine_types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/awsmanagedclustertemplate_types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/network_types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/tags.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/zz_generated.deepcopy.go
  api/go.mod
  api/go.sum
  api/versions/coredns.go
  api/versions/coredns_test.go
  go.mod
  go.sum
  test/e2e/data/shared/v1beta1-capa/metadata.yaml
Due: go-generate, check-coredns-versions, golangci-lint, kube-api-linter, apis-sync

test(e2e): Test against Kubernetes v1.34.0 via Docker provider
  .github/workflows/checks.yml
  make/kind.mk
  test/e2e/config/caren.yaml
Due: none

docs: Remove redundant CRS enable env var
  docs/content/getting-started/deployment/via-clusterctl.md
  docs/content/getting-started/deployment/via-helm.md
Due: hugo-mod-tidy

ci: Fix reviewdog run for pushes to main
  .github/workflows/checks.yml
Due: none

docs: Remove redundant CRS enable env var (#1274)
  docs/content/getting-started/deployment/via-clusterctl.md
  docs/content/getting-started/deployment/via-helm.md
Due: hugo-mod-tidy

ci: Fix reviewdog run for pushes to main (#1275)
  .github/workflows/checks.yml
Due: none

test(e2e): Test against Kubernetes v1.34.0 via Docker provider (#1273)
  .github/workflows/checks.yml
  make/kind.mk
  test/e2e/config/caren.yaml
Due: none

ci: Upgrade CAPI core minor releases in own dependabot group
  .github/dependabot.yml
Due: none

feat: Pull in EKS APIs
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/bootstrap/eks/api/v1beta2/condition_consts.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/bootstrap/eks/api/v1beta2/conversion.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/bootstrap/eks/api/v1beta2/doc.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/bootstrap/eks/api/v1beta2/eksconfig_types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/bootstrap/eks/api/v1beta2/eksconfigtemplate_types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/bootstrap/eks/api/v1beta2/groupversion_info.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/bootstrap/eks/api/v1beta2/zz_generated.deepcopy.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/controlplane/eks/api/v1beta2/awsmanagedcontrolplane_types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/controlplane/eks/api/v1beta2/awsmanagedcontrolplanetemplate_types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/controlplane/eks/api/v1beta2/conditions_consts.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/controlplane/eks/api/v1beta2/conversion.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/controlplane/eks/api/v1beta2/doc.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/controlplane/eks/api/v1beta2/groupversion_info.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/controlplane/eks/api/v1beta2/types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/controlplane/eks/api/v1beta2/validate.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/controlplane/eks/api/v1beta2/zz_generated.deepcopy.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/iam/api/v1beta1/types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/iam/api/v1beta1/zz_generated.deepcopy.go
  api/go.mod
  api/go.sum
  hack/third-party/capa/go.mod
  make/apis.mk
  make/clusterctl.mk
  make/dev.mk
Due: go-generate, golangci-lint, kube-api-linter, apis-sync

feat: EKS ClusterClass and Cluster example
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/eks-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/clusterclass_eks.yaml
  examples/capi-quick-start/eks-cluster.yaml
  hack/examples/bases/eks/cluster/cluster.yaml
  hack/examples/bases/eks/cluster/kustomization.yaml.tmpl
  hack/examples/bases/eks/clusterclass/clusterclass.yaml
  hack/examples/bases/eks/clusterclass/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/eks/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/eks/kustomizeconfig.yaml
  hack/examples/overlays/clusters/eks/kustomization.yaml.tmpl
  hack/examples/patches/eks/ami-lookup.yaml
  hack/examples/patches/eks/config-var.yaml
  hack/examples/patches/eks/csi.yaml
  hack/examples/patches/eks/initialize-variables.yaml
  hack/examples/patches/eks/start-ssm-kubeadmconfigtemplate.yaml
  hack/examples/sync.sh
Due: chart-docs, examples-sync

fixup! refactor: Remove system pools from EKS cluster
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/eks-cluster-class.yaml
  examples/capi-quick-start/eks-cluster.yaml
  hack/examples/bases/eks/cluster/cluster.yaml
  hack/examples/bases/eks/clusterclass/clusterclass.yaml
Due: chart-docs, examples-sync

fixup! refactor: avoid merging topology variables
  examples/capi-quick-start/eks-cluster.yaml
  hack/examples/bases/eks/cluster/cluster.yaml
  hack/examples/patches/eks/initialize-variables.yaml
Due: examples-sync

chore: temporarily disable AWS CSI affinity
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/aws-ebs/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/aws-ebs/manifests/aws-ebs-csi-configmap.yaml
Due: chart-docs, addons-sync

build: Add aws-iam-authenticator
  devbox.json
  devbox.lock
Due: check-devbox-lock

feat: update AWS CSIto 2.48.0
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/aws-ebs/manifests/aws-ebs-csi-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

chore: use CAPA fork that supports AL2023
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/bootstrap/eks/api/v1beta2/eksconfig_types.go
  hack/third-party/capa/go.mod
  hack/third-party/capa/go.sum
  make/clusterctl.mk
Due: go-generate, golangci-lint, kube-api-linter, apis-sync

ci: Upgrade CAPI core minor releases in own dependabot group (#1276)
  .github/dependabot.yml
Due: none

feat: Support AL2023 for EKS clusters
  api/v1alpha1/crds/caren.nutanix.com_eksworkernodeconfigs.yaml
  api/v1alpha1/nodeconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/variables/aggregate_types.go
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/eks-cluster-class.yaml
  hack/examples/overlays/clusterclasses/eks/kustomization.yaml.tmpl
  pkg/handlers/eks/mutation/metapatch_handler.go
  pkg/handlers/eks/mutation/network/inject.go
  pkg/handlers/eks/mutation/nodetype/inject.go
  pkg/handlers/eks/mutation/nodetype/inject_test.go
  pkg/handlers/eks/mutation/nodetype/variables_test.go
Due: go-generate, golangci-lint, kube-api-linter, chart-docs, examples-sync

feat: update AWS CSI to 2.48.0
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/aws-ebs/manifests/aws-ebs-csi-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

fixup! refactor: Use declared builtin variable name rather than string
  common/pkg/capi/clustertopology/handlers/mutation/meta_test.go
  common/pkg/capi/clustertopology/patches/matchers/match_test.go
  pkg/handlers/aws/mutation/ami/inject_worker_test.go
  pkg/handlers/aws/mutation/iaminstanceprofile/inject_worker_test.go
  pkg/handlers/aws/mutation/instancetype/inject_worker_test.go
  pkg/handlers/aws/mutation/placementgroup/inject_worker_test.go
  pkg/handlers/aws/mutation/securitygroups/inject_worker_test.go
  pkg/handlers/docker/mutation/customimage/inject_control_plane.go
  pkg/handlers/docker/mutation/customimage/inject_control_plane_test.go
  pkg/handlers/docker/mutation/customimage/inject_worker.go
  pkg/handlers/docker/mutation/customimage/inject_worker_test.go
  pkg/handlers/generic/mutation/containerdapplypatchesandrestart/inject_test.go
  pkg/handlers/generic/mutation/containerdmetrics/inject_test.go
  pkg/handlers/generic/mutation/containerdunprivilegedports/inject_test.go
  pkg/handlers/generic/mutation/httpproxy/inject_test.go
  pkg/handlers/generic/mutation/imageregistries/credentials/inject_test.go
  pkg/handlers/generic/mutation/mirrors/inject_test.go
  pkg/handlers/generic/mutation/noderegistration/inject_worker_test.go
  pkg/handlers/generic/mutation/ntp/inject_test.go
  pkg/handlers/generic/mutation/taints/inject_worker_test.go
  pkg/handlers/generic/mutation/users/inject_test.go
  pkg/handlers/nutanix/mutation/machinedetails/inject_worker_test.go
Due: go-generate, golangci-lint

fixup! build: Run go mod tidy
  api/go.sum
Due: go-generate, golangci-lint, kube-api-linter

refactor: Use declared builtin variable name rather than string (#1281)
  common/pkg/capi/clustertopology/handlers/mutation/meta_test.go
  common/pkg/capi/clustertopology/patches/matchers/match_test.go
  pkg/handlers/aws/mutation/ami/inject_worker_test.go
  pkg/handlers/aws/mutation/iaminstanceprofile/inject_worker_test.go
  pkg/handlers/aws/mutation/instancetype/inject_worker_test.go
  pkg/handlers/aws/mutation/placementgroup/inject_worker_test.go
  pkg/handlers/aws/mutation/securitygroups/inject_worker_test.go
  pkg/handlers/docker/mutation/customimage/inject_control_plane.go
  pkg/handlers/docker/mutation/customimage/inject_control_plane_test.go
  pkg/handlers/docker/mutation/customimage/inject_worker.go
  pkg/handlers/docker/mutation/customimage/inject_worker_test.go
  pkg/handlers/generic/mutation/containerdapplypatchesandrestart/inject_test.go
  pkg/handlers/generic/mutation/containerdmetrics/inject_test.go
  pkg/handlers/generic/mutation/containerdunprivilegedports/inject_test.go
  pkg/handlers/generic/mutation/httpproxy/inject_test.go
  pkg/handlers/generic/mutation/imageregistries/credentials/inject_test.go
  pkg/handlers/generic/mutation/mirrors/inject_test.go
  pkg/handlers/generic/mutation/noderegistration/inject_worker_test.go
  pkg/handlers/generic/mutation/ntp/inject_test.go
  pkg/handlers/generic/mutation/taints/inject_worker_test.go
  pkg/handlers/generic/mutation/users/inject_test.go
  pkg/handlers/nutanix/mutation/machinedetails/inject_worker_test.go
Due: go-generate, golangci-lint

feat: update AWS CSI to 2.48.0 (#1280)
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/aws-ebs/manifests/aws-ebs-csi-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

ci: Use DeterminateSystems/nix-installer-action instead of cachix action
  .github/workflows/e2e.yml
Due: none

ci: Use DeterminateSystems/nix-installer-action instead of cachix action (#1284)
  .github/workflows/e2e.yml
Due: none

feat: Pull in EKS APIs (#1253)
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/bootstrap/eks/api/v1beta2/condition_consts.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/bootstrap/eks/api/v1beta2/conversion.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/bootstrap/eks/api/v1beta2/doc.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/bootstrap/eks/api/v1beta2/eksconfig_types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/bootstrap/eks/api/v1beta2/eksconfigtemplate_types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/bootstrap/eks/api/v1beta2/groupversion_info.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/bootstrap/eks/api/v1beta2/zz_generated.deepcopy.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/controlplane/eks/api/v1beta2/awsmanagedcontrolplane_types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/controlplane/eks/api/v1beta2/awsmanagedcontrolplanetemplate_types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/controlplane/eks/api/v1beta2/conditions_consts.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/controlplane/eks/api/v1beta2/conversion.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/controlplane/eks/api/v1beta2/doc.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/controlplane/eks/api/v1beta2/groupversion_info.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/controlplane/eks/api/v1beta2/types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/controlplane/eks/api/v1beta2/validate.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/controlplane/eks/api/v1beta2/zz_generated.deepcopy.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/iam/api/v1beta1/types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/iam/api/v1beta1/zz_generated.deepcopy.go
  api/go.mod
  api/go.sum
  hack/third-party/capa/go.mod
  make/apis.mk
  make/clusterctl.mk
  make/dev.mk
Due: go-generate, golangci-lint, kube-api-linter, apis-sync

fixup! revert: Rollback generic cluster resource changes
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  api/variables/aggregate_types.go
  cmd/main.go
  pkg/handlers/eks/mutation/metapatch_handler.go
  pkg/handlers/eks/mutation/region/inject_test.go
  pkg/handlers/eks/mutation/region/variables_test.go
  pkg/handlers/generic/mutation/coredns/variables_test.go
  pkg/handlers/generic/mutation/etcd/variables_test.go
  pkg/handlers/generic/mutation/httpproxy/variables_test.go
  pkg/handlers/generic/mutation/imageregistries/credentials/variables_test.go
  pkg/handlers/generic/mutation/kubeproxymode/inject_test.go
  pkg/handlers/generic/mutation/kubernetesimagerepository/variables_test.go
  pkg/handlers/generic/mutation/mirrors/variables_test.go
  pkg/handlers/generic/mutation/ntp/variables_test.go
  pkg/handlers/generic/mutation/users/variables_test.go
  pkg/webhook/addons/registry/webhook_test.go
  pkg/webhook/preflight/generic/registry_test.go
Due: go-generate, golangci-lint, kube-api-linter

fixup! fix: Remove control plane affinity from EBS controller
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/aws-ebs/values-template.yaml
Due: chart-docs

fixup! fix: Regenerate API types and addons
  api/v1alpha1/crds/caren.nutanix.com_eksclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/aws-ebs/manifests/aws-ebs-csi-configmap.yaml
  go.mod
  go.sum
  pkg/handlers/generic/mutation/kubernetesimagerepository/variables_test.go
Due: go-generate, golangci-lint, chart-docs, addons-sync

feat: auto enable Cilium kube-proxy replacement
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/cilium-configmap.yaml
  common/pkg/capi/utils/anootations.go
  hack/addons/kustomize/cilium/kustomization.yaml.tmpl
  hack/addons/update-cilium-manifests.sh
  hack/tools/fetch-images/main.go
  pkg/handlers/generic/lifecycle/cni/cilium/handler.go
  pkg/handlers/generic/lifecycle/cni/cilium/template.go
  pkg/handlers/generic/mutation/kubeproxymode/inject.go
Due: go-generate, golangci-lint, chart-docs, addons-sync

build: set skip-kube-proxy annotation in examples
  examples/capi-quick-start/aws-cluster-cilium-crs.yaml
  examples/capi-quick-start/aws-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  hack/examples/overlays/clusters/aws/cilium/crs/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/aws/cilium/helm-addon/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/nutanix/cilium/crs/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/nutanix/cilium/helm-addon/kustomization.yaml.tmpl
  hack/examples/patches/skip-kube-proxy.yaml
Due: examples-sync

fixup! refactor: Use CAAPH templating rather than custom temlating
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/values-template.yaml
  common/pkg/capi/utils/anootations.go
  hack/addons/kustomize/cilium/kustomization.yaml.tmpl
  hack/addons/update-cilium-manifests.sh
  hack/tools/fetch-images/main.go
  pkg/handlers/generic/lifecycle/cni/cilium/handler.go
  pkg/handlers/generic/lifecycle/cni/cilium/template.go
  pkg/handlers/generic/mutation/kubeproxymode/inject.go
Due: go-generate, golangci-lint, chart-docs, addons-sync

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  check-coredns-versions: any of: ^api/versions/coredns.go$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  kube-api-linter: any of: ((^api/(.*\.go|go.mod|go.sum))|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/helm-chart-bundler/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$
