Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-configmap

Path conditions:
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-configmap: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+|make/addons.mk$)

feat: Support creating namespace with metadata on remote cluster
  pkg/handlers/generic/lifecycle/utils/utils.go
Due: golangci-lint

feat: Add the ServiceLoadbalancer Addon, with MetalLB as first provider
  api/v1alpha1/addon_types.go
  api/v1alpha1/constants.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/serviceloadbalancer/metallb/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  hack/addons/kustomize/metallb/kustomization.yaml.tmpl
  make/addons.mk
  pkg/handlers/generic/lifecycle/config/cm.go
  pkg/handlers/generic/lifecycle/handlers.go
  pkg/handlers/generic/lifecycle/serviceloadbalancer/handler.go
  pkg/handlers/generic/lifecycle/serviceloadbalancer/metallb/handler.go
Due: golangci-lint, addons-sync, addons-configmap

fix: Fix error messages returned by HelmChartGetter (#598)
  pkg/handlers/generic/lifecycle/config/cm.go
Due: golangci-lint

build: Ensure provider metadata is up to date when releasing
  .gitignore
  .goreleaser.yml
Due: none

docs: Upgrade hugo to latest
  devbox.json
  devbox.lock
  docs/layouts/_internal/google_analytics_async.html
Due: hugo-mod-tidy

docs: Add how to deploy CAREN
  .markdownlint.json
  docs/content/_index.md
  docs/content/addons/_index.md
  docs/content/contributing/releasing.md
  docs/content/customization/_index.md
  docs/content/getting-started/_index.md
  docs/content/getting-started/deployment/_index.md
  docs/content/getting-started/deployment/via-clusterctl.md
  docs/content/getting-started/deployment/via-helm.md
  docs/content/lifecycle/_index.md
  docs/hugo.toml
Due: hugo-mod-tidy

docs: Add how to deploy CAREN (#599)
  .markdownlint.json
  docs/content/_index.md
  docs/content/addons/_index.md
  docs/content/addons/cluster-autoscaler.md
  docs/content/contributing/_index.md
  docs/content/contributing/e2e_tests.md
  docs/content/contributing/releasing.md
  docs/content/customization/_index.md
  docs/content/customization/nutanix/_index.md
  docs/content/getting-started/_index.md
  docs/content/getting-started/deployment/_index.md
  docs/content/getting-started/deployment/via-clusterctl.md
  docs/content/getting-started/deployment/via-helm.md
  docs/content/lifecycle/_index.md
  docs/hugo.toml
Due: hugo-mod-tidy

docs: Add how to create clusters
  .goreleaser.yml
  cluster-api-runtime-extensions-nutanix.code-workspace
  docs/content/getting-started/create-cluster/_index.md
  docs/content/getting-started/create-cluster/aws.md
  docs/content/getting-started/create-cluster/docker.md
  docs/content/getting-started/create-cluster/nutanix.md
  docs/content/getting-started/deployment/_index.md
  docs/hugo.toml
  docs/layouts/shortcodes/param.html
  release-please-config.json
Due: hugo-mod-tidy

docs: Document the ServiceLoadbalancer Addon
  docs/content/addons/serviceloadbalancer.md
Due: hugo-mod-tidy

docs: Upgrade hugo to latest (#601)
  devbox.json
  devbox.lock
  docs/layouts/_internal/google_analytics_async.html
Due: hugo-mod-tidy

docs: Specify no-edit flag in release process commit signing
  docs/content/contributing/releasing.md
Due: hugo-mod-tidy

docs: Update addons docs
  docs/content/addons/calico-cni.md
  docs/content/addons/cluster-autoscaler.md
  docs/content/addons/cni.md
  docs/content/addons/nfd.md
Due: hugo-mod-tidy

docs: fix helm value path in CNI documentation
  docs/content/addons/cni.md
Due: hugo-mod-tidy

fixup! docs: Add comma
  docs/content/getting-started/deployment/_index.md
Due: hugo-mod-tidy

fixup! refactor: Consistently refer to LoadBalancer rather than Loadbalancer
  api/v1alpha1/addon_types.go
  api/v1alpha1/constants.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/templates/serviceloadbalancer/metallb/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  docs/content/addons/serviceloadbalancer.md
  pkg/handlers/aws/mutation/controlplaneloadbalancer/inject_test.go
  pkg/handlers/generic/lifecycle/handlers.go
  pkg/handlers/generic/lifecycle/serviceloadbalancer/handler.go
Due: golangci-lint, hugo-mod-tidy, addons-configmap

docs: Update addons docs and tweak release doc (#596)
  docs/content/addons/calico-cni.md
  docs/content/addons/cluster-autoscaler.md
  docs/content/addons/cni.md
  docs/content/addons/nfd.md
  docs/content/contributing/releasing.md
Due: hugo-mod-tidy

build: Ensure provider metadata is up to date when releasing (#600)
  .gitignore
  .goreleaser.yml
Due: none

feat: Add the ServiceLoadbalancer Addon, with MetalLB as first provider (#592)
  api/v1alpha1/addon_types.go
  api/v1alpha1/constants.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/serviceloadbalancer/metallb/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  docs/content/addons/serviceloadbalancer.md
  hack/addons/kustomize/metallb/kustomization.yaml.tmpl
  make/addons.mk
  pkg/handlers/aws/mutation/controlplaneloadbalancer/inject_test.go
  pkg/handlers/generic/lifecycle/config/cm.go
  pkg/handlers/generic/lifecycle/handlers.go
  pkg/handlers/generic/lifecycle/serviceloadbalancer/handler.go
  pkg/handlers/generic/lifecycle/serviceloadbalancer/metallb/handler.go
  pkg/handlers/generic/lifecycle/utils/utils.go
Due: golangci-lint, hugo-mod-tidy, addons-sync, addons-configmap

fixup! refactor: Apply review suggestions
  docs/content/getting-started/deployment/_index.md
Due: hugo-mod-tidy

refactor: Apply kubebuilder annotations for required/optional everywhere
  api/v1alpha1/addon_types.go
  api/v1alpha1/aws_clusterconfig_types.go
  api/v1alpha1/aws_node_types.go
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/common_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/docker_node_types.go
  api/v1alpha1/http_proxy.go
  api/v1alpha1/nodeconfig_types.go
  api/v1alpha1/nutanix_clusterconfig_types.go
  api/v1alpha1/nutanix_node_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/nutanix/manifests/helm-addon-installation.yaml
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler.go
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler_test.go
  pkg/handlers/generic/lifecycle/config/cm.go
  pkg/handlers/generic/mutation/imageregistries/credentials/inject_test.go
  pkg/handlers/generic/mutation/imageregistries/credentials/variables_test.go
  pkg/handlers/generic/mutation/mirrors/inject_test.go
  pkg/handlers/generic/mutation/mirrors/mirror_test.go
  pkg/handlers/generic/mutation/mirrors/variables_test.go
  pkg/handlers/nutanix/mutation/controlplaneendpoint/variables_test.go
  pkg/handlers/nutanix/mutation/prismcentralendpoint/inject.go
  pkg/handlers/nutanix/mutation/prismcentralendpoint/inject_test.go
  pkg/handlers/nutanix/mutation/prismcentralendpoint/variables_test.go
Due: golangci-lint, addons-sync, addons-configmap

docs: Add API conventions doc to contributing section
  docs/content/contributing/api_conventions.md
Due: hugo-mod-tidy

docs: Update docsy module
  docs/go.mod
  docs/go.sum
  docs/layouts/_internal/google_analytics_async.html
Due: golangci-lint, hugo-mod-tidy

docs: Add how to create clusters (#602)
  .goreleaser.yml
  cluster-api-runtime-extensions-nutanix.code-workspace
  docs/content/getting-started/create-cluster/_index.md
  docs/content/getting-started/create-cluster/aws.md
  docs/content/getting-started/create-cluster/docker.md
  docs/content/getting-started/create-cluster/nutanix.md
  docs/content/getting-started/deployment/_index.md
  docs/hugo.toml
  docs/layouts/shortcodes/param.html
  release-please-config.json
Due: hugo-mod-tidy

fix: Fix the internal CluserConfig type used for provider-agnostic logic
  pkg/common/clusterconfig/types.go
Due: golangci-lint

fixup! refactor: Consistent ordering of kubebuilder annotations
  api/v1alpha1/addon_types.go
  api/v1alpha1/aws_clusterconfig_types.go
  api/v1alpha1/aws_node_types.go
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/common_types.go
  api/v1alpha1/docker_node_types.go
  api/v1alpha1/nutanix_clusterconfig_types.go
Due: golangci-lint

docs: Update docsy module (#605)
  docs/go.mod
  docs/go.sum
  docs/layouts/_internal/google_analytics_async.html
Due: golangci-lint, hugo-mod-tidy

fixup! refactor: Apply review suggestions
  api/v1alpha1/addon_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  pkg/handlers/generic/lifecycle/utils/scs.go
  pkg/handlers/generic/lifecycle/utils/scs_test.go
Due: golangci-lint

refactor: Apply kubebuilder annotations for required/optional everywhere (#604)
  api/v1alpha1/addon_types.go
  api/v1alpha1/aws_clusterconfig_types.go
  api/v1alpha1/aws_node_types.go
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/common_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/docker_node_types.go
  api/v1alpha1/http_proxy.go
  api/v1alpha1/nodeconfig_types.go
  api/v1alpha1/nutanix_clusterconfig_types.go
  api/v1alpha1/nutanix_node_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/nutanix/manifests/helm-addon-installation.yaml
  docs/content/contributing/api_conventions.md
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler.go
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler_test.go
  pkg/handlers/generic/lifecycle/config/cm.go
  pkg/handlers/generic/lifecycle/utils/scs.go
  pkg/handlers/generic/lifecycle/utils/scs_test.go
  pkg/handlers/generic/mutation/imageregistries/credentials/inject_test.go
  pkg/handlers/generic/mutation/imageregistries/credentials/variables_test.go
  pkg/handlers/generic/mutation/mirrors/inject_test.go
  pkg/handlers/generic/mutation/mirrors/mirror_test.go
  pkg/handlers/generic/mutation/mirrors/variables_test.go
  pkg/handlers/nutanix/mutation/controlplaneendpoint/variables_test.go
  pkg/handlers/nutanix/mutation/prismcentralendpoint/inject.go
  pkg/handlers/nutanix/mutation/prismcentralendpoint/inject_test.go
  pkg/handlers/nutanix/mutation/prismcentralendpoint/variables_test.go
Due: golangci-lint, hugo-mod-tidy, addons-sync, addons-configmap

docs: Cluster Autoscaler is deployed on the management cluster
  docs/content/addons/cluster-autoscaler.md
Due: hugo-mod-tidy

docs: Fix missing placeholder in "create nutanix cluster" doc
  docs/content/getting-started/create-cluster/nutanix.md
Due: hugo-mod-tidy

fix: Correct the CSI handler logic
  pkg/handlers/generic/lifecycle/csi/handler.go
  pkg/handlers/generic/lifecycle/csi/handler_test.go
Due: golangci-lint

feat: Add utility functions for un/marshalling variables
  api/variables/util.go
Due: golangci-lint

fix: Add API validation for CSI providers and storageclasses
  api/v1alpha1/addon_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
Due: golangci-lint

fixup! fix: Correct the CSI handler logic
  api/v1alpha1/addon_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  pkg/handlers/generic/lifecycle/csi/aws-ebs/handler.go
  pkg/handlers/generic/lifecycle/csi/handler.go
  pkg/handlers/generic/lifecycle/csi/handler_test.go
  pkg/handlers/generic/lifecycle/csi/nutanix-csi/handler.go
  pkg/handlers/generic/lifecycle/utils/scs.go
Due: golangci-lint

fixup! fix: Correct the CSI handler logic
  pkg/handlers/generic/lifecycle/csi/handler_test.go
Due: golangci-lint

fixup! fixup! fix: Correct the CSI handler logic
  pkg/handlers/generic/lifecycle/csi/handler.go
Due: golangci-lint

feat: adds GPU types to API
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixnodeconfigs.yaml
  api/v1alpha1/nutanix_node_types.go
  api/v1alpha1/zz_generated.deepcopy.go
Due: golangci-lint

feat: wires up GPUs to mutation handler w/ tests
  pkg/handlers/nutanix/mutation/machinedetails/inject.go
  pkg/handlers/nutanix/mutation/machinedetails/inject_control_plane_test.go
Due: golangci-lint

docs: more details on scaling works with CA
  docs/content/addons/cluster-autoscaler.md
Due: hugo-mod-tidy

refactor: Apply kubebuilder annotation to ServiceLoadBalancer field
  api/v1alpha1/addon_types.go
Due: golangci-lint
