Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, golangci-lint, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock, check-coredns-versions

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/mindthegap-helm-registry/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$
  check-coredns-versions: any of: ^api/versions/coredns.go$

fixup! ci: Use correct custom linter
  .github/workflows/checks.yml
Due: none

fix: Simplify check result message
  pkg/webhook/preflight/nutanix/failuredomain.go
Due: go-generate, golangci-lint

fix: Add missing punctuation to messages
  pkg/webhook/preflight/nutanix/failuredomain.go
Due: go-generate, golangci-lint

fix: Reflect correct action in message
  pkg/webhook/preflight/nutanix/storagecontainer.go
  pkg/webhook/preflight/nutanix/storagecontainer_test.go
Due: go-generate, golangci-lint

fix: Fix incorrect fields
  pkg/webhook/preflight/nutanix/storagecontainer.go
Due: go-generate, golangci-lint

fix: Use correct field when unmarshal error happens
  pkg/webhook/preflight/generic/spec.go
  pkg/webhook/preflight/generic/spec_test.go
  pkg/webhook/preflight/nutanix/specs.go
  pkg/webhook/preflight/nutanix/specs_test.go
Due: go-generate, golangci-lint

fix: Add comment to explain field
  pkg/webhook/preflight/nutanix/credentials.go
Due: go-generate, golangci-lint

fixup! feat: Support context for all Nutanix client calls
  pkg/webhook/preflight/nutanix/clients.go
Due: go-generate, golangci-lint

feat: Reserve time to return preflight results before webhook timeout (#1235)
  pkg/webhook/preflight/doc.go
  pkg/webhook/preflight/preflight.go
Due: go-generate, golangci-lint

fix: More fixes to preflight result messages and fields (#1240)
  pkg/webhook/preflight/generic/spec.go
  pkg/webhook/preflight/generic/spec_test.go
  pkg/webhook/preflight/nutanix/credentials.go
  pkg/webhook/preflight/nutanix/failuredomain.go
  pkg/webhook/preflight/nutanix/specs.go
  pkg/webhook/preflight/nutanix/specs_test.go
  pkg/webhook/preflight/nutanix/storagecontainer.go
  pkg/webhook/preflight/nutanix/storagecontainer_test.go
Due: go-generate, golangci-lint

fix(deps): udpate CAPX to v1.7.0-beta.5
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanix_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixfailuredomain_types.go
  hack/third-party/capx/go.mod
  hack/third-party/capx/go.sum
Due: go-generate, golangci-lint, apis-sync

feat: Support context for all Nutanix client calls (#1234)
  pkg/webhook/preflight/nutanix/clients.go
  pkg/webhook/preflight/nutanix/clients_test.go
  pkg/webhook/preflight/nutanix/credentials_test.go
  pkg/webhook/preflight/nutanix/failuredomain.go
  pkg/webhook/preflight/nutanix/failuredomain_test.go
  pkg/webhook/preflight/nutanix/image.go
  pkg/webhook/preflight/nutanix/image_test.go
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck.go
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck_test.go
  pkg/webhook/preflight/nutanix/storagecontainer.go
  pkg/webhook/preflight/nutanix/storagecontainer_test.go
Due: go-generate, golangci-lint

fix(deps): udpate CAPX to v1.7.0-beta.5 (#1241)
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanix_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixfailuredomain_types.go
  hack/third-party/capx/go.mod
  hack/third-party/capx/go.sum
Due: go-generate, golangci-lint, apis-sync

feat: Support AWS PlacementGroups (#1219)
  api/v1alpha1/aws_node_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  pkg/handlers/aws/mutation/metapatch_handler.go
  pkg/handlers/aws/mutation/placementgroup/inject_control_plane.go
  pkg/handlers/aws/mutation/placementgroup/inject_control_plane_test.go
  pkg/handlers/aws/mutation/placementgroup/inject_suite_test.go
  pkg/handlers/aws/mutation/placementgroup/inject_worker.go
  pkg/handlers/aws/mutation/placementgroup/inject_worker_test.go
  pkg/handlers/aws/mutation/placementgroup/variables_test.go
Due: go-generate, golangci-lint

fixup! release: Update metadata for release
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: none

feat: Add a E2E test creating a Nutanix cluster with failure domains
  examples/capi-quick-start/nutanix-cluster-failuredomain-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-failuredomain-cilium-helm-addon.yaml
  test/e2e/config/caren.yaml
  test/e2e/quick_start_test.go
Due: go-generate, golangci-lint, examples-sync

release(main): v0.33.0 (#1239)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: hugo-mod-tidy

test: Add a E2E test creating a Nutanix cluster with failure domains (#1243)
  examples/capi-quick-start/nutanix-cluster-failuredomain-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-failuredomain-cilium-helm-addon.yaml
  test/e2e/config/caren.yaml
  test/e2e/quick_start_test.go
Due: go-generate, golangci-lint, examples-sync

fix: Correct control plane field in NutanixVMImage preflight check
  pkg/webhook/preflight/nutanix/image.go
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck.go
Due: go-generate, golangci-lint

refactor: Add more debug logs to preflight check framework
  pkg/webhook/preflight/preflight.go
Due: go-generate, golangci-lint

refactor: Remove redundant keys/values from preflight log messages
  pkg/webhook/preflight/preflight.go
Due: go-generate, golangci-lint

fix: More granular error message for NutanixVMImage preflight check
  pkg/webhook/preflight/nutanix/image.go
  pkg/webhook/preflight/nutanix/image_test.go
Due: go-generate, golangci-lint

fixup! fix: More granular error message for NutanixVMImage preflight check
  pkg/webhook/preflight/nutanix/image.go
  pkg/webhook/preflight/nutanix/image_test.go
Due: go-generate, golangci-lint

fix(deps): Update CAPX to v1.7.0
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixcluster_types.go
  hack/third-party/capx/go.mod
  hack/third-party/capx/go.sum
Due: go-generate, golangci-lint, apis-sync

refactor: Add more debug logs, remove redundant keys/values from log messages in preflight framework (#1246)
  pkg/webhook/preflight/preflight.go
Due: go-generate, golangci-lint

fix: Correct control plane field in NutanixVMImage preflight check (#1244)
  pkg/webhook/preflight/nutanix/image.go
  pkg/webhook/preflight/nutanix/imagekubernetesversioncheck.go
Due: go-generate, golangci-lint

fix: More granular error message for NutanixVMImage preflight check (#1245)
  pkg/webhook/preflight/nutanix/image.go
  pkg/webhook/preflight/nutanix/image_test.go
Due: go-generate, golangci-lint

fix(examples): remove legacy FDs from nutanix clusterclass
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  hack/examples/bases/nutanix/clusterclass/kustomization.yaml.tmpl
Due: chart-docs, examples-sync

fix(deps): Update CAPX to v1.7.0 (#1248)
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixcluster_types.go
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  hack/examples/bases/nutanix/clusterclass/kustomization.yaml.tmpl
  hack/third-party/capx/go.mod
  hack/third-party/capx/go.sum
Due: go-generate, golangci-lint, chart-docs, examples-sync, apis-sync

release(main): v0.33.1 (#1247)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

build: Allow arbitrary line length in markdown documents
  .markdownlint.json
Due: none

build: Allow arbitrary line length in markdown documents (#1250)
  .markdownlint.json
Due: none

docs: Add preflight dev doc
  pkg/webhook/preflight/README.md
Due: none

feat: Pull in EKS APIs
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/awsmachine_types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/awsmanagedclustertemplate_types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/network_types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/tags.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/zz_generated.deepcopy.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/bootstrap/eks/api/v1beta2/condition_consts.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/bootstrap/eks/api/v1beta2/conversion.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/bootstrap/eks/api/v1beta2/doc.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/bootstrap/eks/api/v1beta2/eksconfig_types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/bootstrap/eks/api/v1beta2/eksconfigtemplate_types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/bootstrap/eks/api/v1beta2/groupversion_info.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/bootstrap/eks/api/v1beta2/zz_generated.deepcopy.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/controlplane/eks/api/v1beta2/awsmanagedcontrolplane_types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/controlplane/eks/api/v1beta2/awsmanagedcontrolplanetemplate_types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/controlplane/eks/api/v1beta2/conditions_consts.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/controlplane/eks/api/v1beta2/conversion.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/controlplane/eks/api/v1beta2/doc.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/controlplane/eks/api/v1beta2/groupversion_info.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/controlplane/eks/api/v1beta2/types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/controlplane/eks/api/v1beta2/validate.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/controlplane/eks/api/v1beta2/zz_generated.deepcopy.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/iam/api/v1beta1/types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/iam/api/v1beta1/zz_generated.deepcopy.go
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/third-party/capa/go.mod
  hack/third-party/capa/go.sum
  make/apis.mk
  make/clusterctl.mk
  make/dev.mk
Due: go-generate, golangci-lint, apis-sync

fix: Correctly handle variable overrides
  common/go.mod
  common/go.sum
  common/pkg/capi/clustertopology/handlers/mutation/meta.go
  common/pkg/capi/clustertopology/handlers/mutation/meta_test.go
Due: go-generate, golangci-lint

fixup! docs: Fix up license for preflight README
  pkg/webhook/preflight/README.md
Due: none

docs: Add dev doc for preflight checks (#1251)
  pkg/webhook/preflight/README.md
Due: none

fix: Correct placementGroup variable name in API
  api/v1alpha1/aws_node_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
Due: go-generate, golangci-lint
