Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, check-coredns-versions, golangci-lint, kube-api-linter, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock

schema-chart:
  name: schema-chart
  entry: make schema-chart
  language: system

go-generate:
  name: go-generate
  entry: make go-generate
  language: system
  pass_filenames: false

check-coredns-versions:
  name: check-coredns-versions
  entry: make coredns.sync
  language: system

golangci-lint:
  name: golangci-lint
  entry: make lint
  language: system
  pass_filenames: false

kube-api-linter:
  name: kube-api-linter
  entry: make lint-kube-api
  language: system
  pass_filenames: false

chart-docs:
  name: chart-docs
  entry: make chart-docs
  language: system
  pass_filenames: false

hugo-mod-tidy:
  name: hugo-mod-tidy
  entry: bash -c "cd docs && hugo mod tidy"
  language: system
  pass_filenames: false

examples-sync:
  name: examples-sync
  entry: make examples.sync
  language: system
  pass_filenames: false

apis-sync:
  name: apis-sync
  entry: make apis.sync
  language: system
  pass_filenames: false

addons-sync:
  name: addons-sync
  entry: make addons.sync
  language: system
  pass_filenames: false

addons-repo-yaml:
  name: addons-repo-yaml
  entry: make template-helm-repository
  language: system
  pass_filenames: false

check-devbox-lock:
  name: check-devbox-lock
  entry: devbox install
  language: system
  pass_filenames: false

build: Add Cursor IDE rules and spec-driven development config
  .cursor/commands/speckit.analyze.md
  .cursor/commands/speckit.checklist.md
  .cursor/commands/speckit.clarify.md
  .cursor/commands/speckit.constitution.md
  .cursor/commands/speckit.implement.md
  .cursor/commands/speckit.plan.md
  .cursor/commands/speckit.specify.md
  .cursor/commands/speckit.tasks.md
  .cursor/commands/speckit.taskstoissues.md
  .cursor/rules/copyright-header.mdc
  .cursor/rules/fast-track.mdc
  .cursor/rules/feature-specs.mdc
  .cursor/rules/git-conventions.mdc
  .cursor/rules/markdown-quality.mdc
  .cursor/rules/spec-driven-development.mdc
  .cursor/rules/tone-and-interaction.mdc
  .gitignore
  .pre-commit-config.yaml
  .specify/memory/constitution.md
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  .specify/templates/agent-file-template.md
  .specify/templates/checklist-template.md
  .specify/templates/constitution-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
Due: none

build: Add .worktrees/ to gitignore
  .gitignore
Due: none

build: Add handler version safety rule and constitution amendment
  .cursor/rules/handler-version-safety.mdc
  .specify/memory/constitution.md
Due: none

docs: [NCN-1234] Add KubeletConfiguration spec and plan
  .specify/features/NCN-1234/plan.md
  .specify/features/NCN-1234/spec.md
Due: none

feat: [NCN-1234] Add KubeletConfiguration patch template
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/embedded/kubeletconfigpatch.yaml.tmpl
Due: none

feat: [NCN-1234] Add KubeletConfiguration API type
  api/v1alpha1/kubelet_types.go
  api/v1alpha1/zz_generated.deepcopy.go
Due: go-generate, golangci-lint, kube-api-linter

feat: [NCN-1234] Wire KubeletConfiguration into API
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_kubeadmclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  api/v1alpha1/nodeconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
Due: go-generate, golangci-lint, kube-api-linter

feat: [NCN-1234] Handle deprecated maxParallelImagePullsPerNode
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_controlplane.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_worker.go
Due: go-generate, golangci-lint

feat: [NCN-1234] Add KubeletConfiguration webhook validation
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  pkg/handlers/generic/mutation/handlers.go
  pkg/webhook/cluster/kubeletconfiguration_validator.go
  pkg/webhook/cluster/validator.go
Due: go-generate, golangci-lint

feat: [NCN-1234] Register KubeletConfiguration handlers
  pkg/handlers/generic/mutation/handlers.go
Due: go-generate, golangci-lint

feat: [NCN-1234] Add CP and worker handlers with merge
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_controlplane.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_worker.go
Due: go-generate, golangci-lint

feat: [NCN-1234] Implement KubeletConfiguration handler
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject.go
Due: go-generate, golangci-lint

build: [NCN-1234] Regenerate CRDs after handler registration
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
Due: none

feat: [NCN-1234] Register KubeletConfiguration in v4 handlers
  pkg/handlers/v4/generic/mutation/handlers.go
Due: go-generate, golangci-lint

test: [NCN-1234] Add KubeletConfiguration unit tests
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_test.go
  pkg/webhook/cluster/kubeletconfiguration_validator_test.go
Due: go-generate, golangci-lint

refactor: [NCN-1234] Use typed assertions in kubelet config tests
  .specify/features/NCN-1234/plan.md
  .specify/features/NCN-1234/spec.md
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_test.go
Due: go-generate, golangci-lint

refactor: [NCN-1234] Use resource.Quantity for containerLogMaxSize
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_kubeadmclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  api/v1alpha1/kubelet_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_test.go
Due: go-generate, golangci-lint, kube-api-linter

refactor: [NCN-1234] Use with instead of if in patch template
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/embedded/kubeletconfigpatch.yaml.tmpl
Due: none

fix: [NCN-1234] Address code review findings
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  pkg/webhook/cluster/kubeletconfiguration_validator.go
  pkg/webhook/cluster/kubeletconfiguration_validator_test.go
Due: go-generate, golangci-lint

fix: Fix control plane NMT patch (matchers and machinedetails)
  common/pkg/capi/clustertopology/patches/matchers/match.go
  common/pkg/capi/clustertopology/patches/matchers/match_test.go
  pkg/handlers/nutanix/mutation/machinedetails/inject.go
  pkg/handlers/nutanix/mutation/machinedetails/inject_control_plane_test.go
  pkg/handlers/nutanix/mutation/machinedetails/inject_worker_test.go
Due: go-generate, golangci-lint

fix: Update E2E tests and helpers for Nutanix
  test/e2e/addon_helpers.go
  test/e2e/ccm_helpers.go
  test/e2e/clusterautoscaler_helpers.go
  test/e2e/cni_helpers.go
  test/e2e/config/caren.yaml
  test/e2e/coredns_helpers.go
  test/e2e/cosi_helpers.go
  test/e2e/csi_helpers.go
  test/e2e/data/shared/v1beta1-caaph/metadata.yaml
  test/e2e/data/shared/v1beta1-capx/metadata.yaml
  test/e2e/data/shared/v1beta1/metadata.yaml
  test/e2e/framework/self_hosted.go
  test/e2e/helmreleaseproxy_helpers.go
  test/e2e/ingress_helpers.go
  test/e2e/konnectoragent_helpers.go
  test/e2e/nfd_helpers.go
  test/e2e/ownerreference_helpers.go
  test/e2e/quick_start_test.go
  test/e2e/registry.go
  test/e2e/self_hosted_test.go
  test/e2e/serviceloadbalancer_helpers.go
  test/helpers/envtest.go
Due: go-generate, golangci-lint

fix: Update E2E tests and helpers for Nutanix
  pkg/webhook/preflight/README.md
  pkg/webhook/preflight/nutanix/cidrvalidation.go
  pkg/webhook/preflight/nutanix/cidrvalidation_test.go
Due: go-generate, golangci-lint

feat: add support for custom helm url for AddOn
  charts/cluster-api-runtime-extensions-nutanix/templates/_helpers.tpl
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  hack/addons/inject-helm-repo-url-template.sh
  make/addons.mk
  pkg/handlers/lifecycle/addons/helmaddon.go
  pkg/handlers/utils/utils.go
Due: schema-chart, go-generate, golangci-lint, chart-docs, addons-sync

feat: add support for custom helm url for AddOn
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/values.schema.helmAddonsOverrides.json
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  hack/addons/inject-helm-repo-url-template.sh
  make/addons.mk
  make/helm.mk
  pkg/handlers/utils/utils.go
Due: go-generate, golangci-lint, chart-docs, addons-sync

release(main): v0.44.0 (#1499)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: hugo-mod-tidy

fix: using already existing docker clusterClass
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/docker-cluster-class-quick-start.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/docker-cluster-class.yaml
  examples/capi-quick-start/docker-cluster-calico-crs.yaml
  examples/capi-quick-start/docker-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/docker-cluster-cilium-crs.yaml
  examples/capi-quick-start/docker-cluster-cilium-helm-addon.yaml
  hack/examples/bases/docker/cluster/kustomization.yaml.tmpl
  hack/examples/bases/docker/clusterclass/kustomizeconfig.yaml
  test/e2e/config/caren.yaml
Due: chart-docs, examples-sync

fix: Improve log messaging for CIDR preflight check
  pkg/webhook/preflight/nutanix/cidrvalidation.go
Due: go-generate, golangci-lint

refactor: addressing comments
  common/pkg/testutils/capitest/variables.go
Due: go-generate, golangci-lint

fix: Improve log messaging for CIDR preflight check (#1505)
  pkg/webhook/preflight/nutanix/cidrvalidation.go
Due: go-generate, golangci-lint

fix: add timeouts and skip logic so Konnector Agent does not block cluster deletion
  pkg/handlers/lifecycle/konnectoragent/handler.go
  pkg/webhook/cluster/konnectoragent_legacy_validator.go
Due: go-generate, golangci-lint

release(main): v0.44.1 (#1510)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

feat(STIG compliance): set tls-min-version for controllerManager and Scheduler
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/aws-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/docker-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  hack/examples/overlays/clusterclasses/aws/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/docker/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/nutanix/kustomization.yaml.tmpl
  hack/examples/patches/stig/kubeadmcontrolplanetemplate/control-plane-flags.yaml
Due: chart-docs, examples-sync

feat: ad tls-cipher-suites for api-server
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/aws-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/docker-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  hack/examples/patches/stig/kubeadmcontrolplanetemplate/control-plane-flags.yaml
Due: chart-docs, examples-sync

fix: removing webhook validation for konnector agent(upgrade flow)
  api/v1alpha1/constants.go
  pkg/webhook/cluster/konnectoragent_legacy_validator.go
  pkg/webhook/cluster/konnectoragent_legacy_validator_test.go
  pkg/webhook/cluster/validator.go
Due: go-generate, golangci-lint, kube-api-linter

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  check-coredns-versions: any of: ^api/versions/coredns.go$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  kube-api-linter: any of: ((^api/(.*\.go|go.mod|go.sum))|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/helm-chart-bundler/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$
