Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, check-coredns-versions, golangci-lint, kube-api-linter, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  check-coredns-versions: any of: ^api/versions/coredns.go$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  kube-api-linter: any of: ((^api/(.*\.go|go.mod|go.sum))|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/helm-chart-bundler/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$

fix: also set createPESecrets for Nutanix CSI
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/nutanix/values-template.yaml
Due: chart-docs

fix: also set createPESecrets for Nutanix CSI (#1699)
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/nutanix/values-template.yaml
Due: chart-docs

feat: add guardrail to avoid vpc for metro (#1688)
  pkg/webhook/preflight/nutanix/metro.go
  pkg/webhook/preflight/nutanix/metro_test.go
Due: go-generate, golangci-lint

test: Verify preflight check when cluster is both paused and unpaused
  pkg/webhook/preflight/preflight_test.go
Due: go-generate, golangci-lint

fix: create two storeageClass for metro clusters
  pkg/handlers/lifecycle/csi/nutanix/handler.go
  pkg/handlers/lifecycle/csi/nutanix/handler_test.go
Due: go-generate, golangci-lint

feat: add webhook for CSI flag for metro
  pkg/handlers/lifecycle/csi/nutanix/handler.go
  pkg/helpers/metro.go
  pkg/helpers/metro_test.go
  pkg/webhook/cluster/defaulter.go
  pkg/webhook/cluster/metro_storageclass.go
Due: go-generate, golangci-lint

fix: register validating webhook
  pkg/webhook/cluster/validator.go
Due: go-generate, golangci-lint

fix(release-v0.33.x): cluster-api bump to v1.10.10-ncn.4 (#1697)
  go.mod
  go.sum
Due: go-generate, golangci-lint

release(release/v0.33.x): v0.33.5
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

release(release/v0.33.x): v0.33.5 (#1704)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

fix: addressing comments
  pkg/handlers/lifecycle/csi/nutanix/handler.go
  pkg/metro/metro.go
  pkg/metro/metro_test.go
  pkg/webhook/cluster/defaulter.go
  pkg/webhook/cluster/metro_clusters.go
  pkg/webhook/cluster/validator.go
Due: go-generate, golangci-lint

release(release/v0.41.x): v0.41.10
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

fix: add new coredns mapping
  api/versions/coredns.go
Due: go-generate, check-coredns-versions, golangci-lint, kube-api-linter

release(release/v0.41.x): v0.41.10 (#1705)
  .release-please-manifest.json
  CHANGELOG.md
  api/versions/coredns.go
  docs/hugo.toml
Due: go-generate, check-coredns-versions, golangci-lint, kube-api-linter, hugo-mod-tidy

feat: add webhook for CSI flag for metro (#1703)
  pkg/handlers/lifecycle/csi/nutanix/handler.go
  pkg/metro/metro.go
  pkg/metro/metro_test.go
  pkg/webhook/cluster/defaulter.go
  pkg/webhook/cluster/metro_clusters.go
  pkg/webhook/cluster/validator.go
Due: go-generate, golangci-lint

test: Verify preflight check when cluster is both paused and unpaused (#1632)
  pkg/webhook/preflight/preflight_test.go
Due: go-generate, golangci-lint

feat: Upgrade Flow-CNI to 1.1.0
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

fix: coredns mapping
  api/versions/coredns.go
Due: go-generate, check-coredns-versions, golangci-lint, kube-api-linter

fix: coredns mapping (#1707)
  api/versions/coredns.go
Due: go-generate, check-coredns-versions, golangci-lint, kube-api-linter

fix: bump up konnector to 1.4.1
  charts/cluster-api-runtime-extensions-nutanix/addons/konnector-agent/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  docs/content/addons/konnector-agent.md
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/konnector-agent/kustomization.yaml.tmpl
  make/addons.mk
Due: chart-docs, hugo-mod-tidy, addons-sync, addons-repo-yaml

fix: bump up konnector to 1.4.1 (#1706)
  charts/cluster-api-runtime-extensions-nutanix/addons/konnector-agent/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  docs/content/addons/konnector-agent.md
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/konnector-agent/kustomization.yaml.tmpl
  make/addons.mk
Due: chart-docs, hugo-mod-tidy, addons-sync, addons-repo-yaml

feat: [NCN-115862] Upgrade Flow CNI to 1.1.0
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
  test/e2e/addon_helpers.go
  test/e2e/cni_helpers.go
Due: go-generate, golangci-lint, chart-docs, addons-sync, addons-repo-yaml

feat: test credentials
  .github/workflows/e2e.yml
Due: none

feat: lint changes
  test/e2e/addon_diagnostics.go
Due: go-generate, golangci-lint

ci: logs to test the failure
  .github/workflows/checks.yml
  common/pkg/capi/clustertopology/handlers/lifecycle/parallel.go
  common/pkg/capi/clustertopology/handlers/lifecycle/parallel_test.go
  pkg/handlers/lifecycle/addons/helmaddon.go
  pkg/handlers/lifecycle/addons/helmaddon_test.go
  pkg/handlers/lifecycle/cni/nutanixflow/handler.go
  pkg/handlers/utils/secrets.go
  test/e2e/addon_diagnostics.go
  test/e2e/quick_start_test.go
Due: go-generate, golangci-lint

fix: Fail-fast MetalLB apply in ACPI hook
  pkg/handlers/lifecycle/addons/helmaddon.go
  pkg/handlers/lifecycle/addons/helmaddon_test.go
  pkg/handlers/lifecycle/serviceloadbalancer/metallb/configuration_apply.go
  pkg/handlers/lifecycle/serviceloadbalancer/metallb/configuration_apply_test.go
  pkg/handlers/lifecycle/serviceloadbalancer/metallb/handler.go
  test/e2e/addon_diagnostics.go
  test/e2e/quick_start_test.go
Due: go-generate, golangci-lint

fix: Fail-fast MetalLB apply in ACPI hook
  pkg/handlers/lifecycle/addons/helmaddon.go
  pkg/handlers/lifecycle/addons/helmaddon_test.go
  pkg/handlers/lifecycle/serviceloadbalancer/metallb/configuration_apply_test.go
Due: go-generate, golangci-lint

feat: lint changes
  common/pkg/capi/clustertopology/handlers/lifecycle/parallel.go
Due: go-generate, golangci-lint

feat: testing
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/nutanix/values-template.yaml
  docs/content/addons/cni.md
  docs/content/addons/csi.md
  examples/capi-quick-start/nutanix-cluster-flow-helm-addon.yaml
  hack/examples/patches/nutanix-flow.yaml
  pkg/handlers/lifecycle/cni/multus/doc.go
  pkg/handlers/lifecycle/cni/multus/handler.go
  pkg/handlers/lifecycle/cni/multus/handler_test.go
  pkg/handlers/lifecycle/csi/nutanix/handler.go
  pkg/handlers/lifecycle/csi/nutanix/handler_test.go
Due: go-generate, golangci-lint, chart-docs, hugo-mod-tidy, examples-sync

feat: testing
  docs/content/addons/cni.md
  pkg/handlers/lifecycle/cni/nutanixflow/handler.go
  pkg/handlers/lifecycle/cni/nutanixflow/handler_test.go
Due: go-generate, golangci-lint, hugo-mod-tidy

feat: testing
  hack/tools/fetch-images/main.go
Due: go-generate, golangci-lint

feat: add dev-vm pre-PR test runner on dynamic PC VMs
  .pre-commit-config.yaml
  hack/dev-vm/README.md
  hack/dev-vm/caren-pc-test.sh
  hack/dev-vm/caren-test-vm.sh
Due: none

feat: add test for delete failure
  common/pkg/capi/clustertopology/handlers/lifecycle/parallel.go
  common/pkg/capi/clustertopology/handlers/lifecycle/parallel_test.go
  docs/content/addons/konnector-agent.md
  docs/content/lifecycle/service-loadbalancer-gc.md
  pkg/handlers/lifecycle/konnectoragent/handler.go
  pkg/handlers/lifecycle/konnectoragent/handler_delete_test.go
  pkg/handlers/lifecycle/servicelbgc/deleter_test.go
  pkg/handlers/lifecycle/servicelbgc/handler.go
  pkg/handlers/lifecycle/servicelbgc/handler_test.go
  test/e2e/addon_diagnostics.go
  test/e2e/quick_start_test.go
Due: go-generate, golangci-lint, hugo-mod-tidy

feat: flow logs
  test/e2e/addon_diagnostics.go
Due: go-generate, golangci-lint

feat: [NCN-115862] Upgrade Flow CNI to 1.1.0
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  docs/content/addons/cni.md
  examples/capi-quick-start/nutanix-cluster-flow-helm-addon.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  hack/examples/patches/nutanix-flow.yaml
  make/addons.mk
  pkg/handlers/lifecycle/cni/nutanixflow/handler.go
  pkg/handlers/lifecycle/cni/nutanixflow/handler_test.go
  test/e2e/addon_helpers.go
  test/e2e/cni_helpers.go
Due: go-generate, golangci-lint, chart-docs, hugo-mod-tidy, examples-sync, addons-sync, addons-repo-yaml

fix: remove unused flag MPIO for CSI
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/nutanix/values-template.yaml
  hack/tools/fetch-images/main.go
  pkg/handlers/lifecycle/csi/nutanix/handler.go
Due: go-generate, golangci-lint, chart-docs

fix: remove unused flag MPIO for CSI (#1710)
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/nutanix/values-template.yaml
  hack/tools/fetch-images/main.go
  pkg/handlers/lifecycle/csi/nutanix/handler.go
Due: go-generate, golangci-lint, chart-docs

fix: konnetor fix - delete issue
  docs/content/addons/konnector-agent.md
  pkg/handlers/lifecycle/konnectoragent/handler.go
  pkg/handlers/lifecycle/konnectoragent/handler_test.go
  pkg/handlers/lifecycle/konnectoragent/variables_test.go
Due: go-generate, golangci-lint, hugo-mod-tidy

fix: linting
  pkg/handlers/lifecycle/konnectoragent/handler.go
  pkg/handlers/lifecycle/konnectoragent/handler_test.go
Due: go-generate, golangci-lint
