Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, check-coredns-versions, golangci-lint, kube-api-linter, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock

schema-chart:
  name: schema-chart
  entry: make schema-chart
  language: system

go-generate:
  name: go-generate
  entry: make go-generate
  language: system
  pass_filenames: false

check-coredns-versions:
  name: check-coredns-versions
  entry: make coredns.sync
  language: system

golangci-lint:
  name: golangci-lint
  entry: make lint
  language: system
  pass_filenames: false

kube-api-linter:
  name: kube-api-linter
  entry: make lint-kube-api
  language: system
  pass_filenames: false

chart-docs:
  name: chart-docs
  entry: make chart-docs
  language: system
  pass_filenames: false

hugo-mod-tidy:
  name: hugo-mod-tidy
  entry: bash -c "cd docs && hugo mod tidy"
  language: system
  pass_filenames: false

examples-sync:
  name: examples-sync
  entry: make examples.sync
  language: system
  pass_filenames: false

apis-sync:
  name: apis-sync
  entry: make apis.sync
  language: system
  pass_filenames: false

addons-sync:
  name: addons-sync
  entry: make addons.sync
  language: system
  pass_filenames: false

addons-repo-yaml:
  name: addons-repo-yaml
  entry: make template-helm-repository
  language: system
  pass_filenames: false

check-devbox-lock:
  name: check-devbox-lock
  entry: devbox install
  language: system
  pass_filenames: false

build: bump CAPX to v1.10.3
  hack/third-party/capx/go.mod
  hack/third-party/capx/go.sum
Due: go-generate, golangci-lint, apis-sync

fix: per-commit
  examples/capi-quick-start/nutanix-cluster-calico-crs.yaml
  examples/capi-quick-start/nutanix-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-flow-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-with-failuredomains-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-with-failuredomains-cilium-helm-addon.yaml
Due: examples-sync

release(release/v0.33.x): v0.33.4 (#1672)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

feat: add Rtt and witness guardrails
  go.mod
  go.sum
  pkg/webhook/preflight/nutanix/clients.go
  pkg/webhook/preflight/nutanix/metro.go
  pkg/webhook/preflight/nutanix/metro_test.go
Due: go-generate, golangci-lint

fix: deleting metadata
  hack/third-party/capx/clusterctl-overrides/infrastructure-nutanix/v1.10.2/metadata.yaml
Due: apis-sync

feat: add Rtt and witness guardrails (#1673)
  go.mod
  go.sum
  pkg/webhook/preflight/nutanix/clients.go
  pkg/webhook/preflight/nutanix/metro.go
  pkg/webhook/preflight/nutanix/metro_test.go
Due: go-generate, golangci-lint

feat: Enforce all node pools use metro failure domains
  pkg/webhook/preflight/nutanix/metro.go
  pkg/webhook/preflight/nutanix/metro_test.go
Due: go-generate, golangci-lint

feat: Enforce all node pools use metro failure domains (#1675)
  pkg/webhook/preflight/nutanix/metro.go
  pkg/webhook/preflight/nutanix/metro_test.go
Due: go-generate, golangci-lint

fix: addressing review comments
  hack/examples/overlays/clusterclasses/aws/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/docker/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/nutanix/kustomization.yaml.tmpl
  hack/examples/patches/initialize/kubeadmcontrolplanetemplate/api-server.yaml
  hack/examples/patches/initialize/kubeadmcontrolplanetemplate/extraargs.yaml
Due: examples-sync

fix: restore CIS/STIG extraArgs lost in CAPX v1.10 upgrade (#1671)
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  examples/capi-quick-start/nutanix-cluster-calico-crs.yaml
  examples/capi-quick-start/nutanix-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-flow-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-with-failuredomains-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-with-failuredomains-cilium-helm-addon.yaml
  hack/examples/overlays/clusterclasses/aws/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/docker/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/nutanix/kustomization.yaml.tmpl
  hack/examples/patches/cis/kubeadmcontrolplanetemplate/control-plane-flags-nutanix.yaml
  hack/examples/patches/initialize/kubeadmcontrolplanetemplate/api-server.yaml
  hack/examples/patches/initialize/kubeadmcontrolplanetemplate/extraargs.yaml
  hack/examples/patches/stig/kubeadmcontrolplanetemplate/control-plane-flags-nutanix.yaml
  hack/third-party/capx/go.mod
  hack/third-party/capx/go.sum
Due: go-generate, golangci-lint, chart-docs, examples-sync, apis-sync

feat: Preflight check for control plane endpoint
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/checker_test.go
  pkg/webhook/preflight/nutanix/controlplane.go
  pkg/webhook/preflight/nutanix/controlplane_test.go
Due: go-generate, golangci-lint

fixup! feat: Preflight check for control plane endpoint
  pkg/webhook/preflight/nutanix/controlplane.go
Due: go-generate, golangci-lint

fixup! feat: Preflight check for control plane endpoint
  pkg/webhook/preflight/nutanix/controlplane.go
  pkg/webhook/preflight/nutanix/controlplane_test.go
Due: go-generate, golangci-lint

feat: dockerhub nutanix - don't trim org preflix for dockerhub nutanix, always wire credential provider
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/constants.go
  api/v1alpha1/zz_generated.deepcopy.go
  pkg/handlers/generic/mutation/generic/imageregistries/credentials/credentials_secret.go
  pkg/handlers/generic/mutation/generic/imageregistries/credentials/credentials_secret_test.go
  pkg/handlers/generic/mutation/generic/imageregistries/credentials/inject.go
  pkg/handlers/generic/mutation/generic/imageregistries/credentials/inject_test.go
  pkg/handlers/v5/generic/mutation/generic/imageregistries/credentials/credentials_secret.go
Due: go-generate, golangci-lint, kube-api-linter

test: Verify preflight check when cluster is both paused and unpaused
  pkg/webhook/preflight/preflight_test.go
Due: go-generate, golangci-lint

fix: fix build, lint changes
  api/v1alpha1/constants.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  pkg/handlers/generic/mutation/generic/imageregistries/credentials/inject.go
Due: go-generate, golangci-lint, kube-api-linter

feat: don't trim org prefix for dockerhub nutanix creds
  pkg/handlers/generic/mutation/generic/imageregistries/credentials/credentials_secret.go
  pkg/handlers/generic/mutation/generic/imageregistries/credentials/credentials_secret_test.go
  pkg/handlers/v5/generic/mutation/generic/imageregistries/credentials/credentials_secret.go
Due: go-generate, golangci-lint

feat: always wire kubelet credential provider by default
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/constants.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  pkg/handlers/generic/mutation/generic/imageregistries/credentials/inject.go
  pkg/handlers/generic/mutation/generic/imageregistries/credentials/inject_test.go
Due: go-generate, golangci-lint, kube-api-linter

fix: revert conditional wiring boolean
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/constants.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  pkg/handlers/generic/mutation/generic/imageregistries/credentials/inject.go
  pkg/handlers/generic/mutation/generic/imageregistries/credentials/inject_test.go
Due: go-generate, golangci-lint, kube-api-linter

refactor: [NCN-116148] Share HTTPS server for hooks and admission
  .specify/features/NCN-116148/plan.md
  .specify/features/NCN-116148/spec.md
  charts/cluster-api-runtime-extensions-nutanix/templates/admission-service.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/certificates.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/deployment.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/webhooks.yaml
  cmd/main.go
  common/pkg/server/server.go
  common/pkg/server/server_test.go
  hack/update-webhook-configurations.yq
Due: go-generate, golangci-lint, chart-docs

build: Clear govulncheck CVEs in Go, x/text, and regclient
  api/go.mod
  api/go.sum
  common/go.mod
  common/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: go-generate, golangci-lint, kube-api-linter

build: Clear govulncheck CVEs in Go, x/text, and regclient (#1681)
  api/go.mod
  api/go.sum
  common/go.mod
  common/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: go-generate, golangci-lint, kube-api-linter

feat: [NCN-113518] Add enforceNodeAllocatable to kubelet configuration API (#1592)
  .specify/features/NCN-113518/plan.md
  .specify/features/NCN-113518/spec.md
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  api/v1alpha1/kubelet_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  docs/content/customization/kubeadm/kubelet-configuration.md
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/embedded/kubeletconfigpatch.yaml.tmpl
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_controlplane_test.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_worker_test.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/kubelet_config.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/kubelet_config_test.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/variables_test.go
Due: go-generate, golangci-lint, kube-api-linter, hugo-mod-tidy

docs: Improve kubelet configuration documentation
  docs/content/customization/kubeadm/kubelet-configuration.md
Due: hugo-mod-tidy

docs: Add compressible variants to reference table
  docs/content/customization/kubeadm/kubelet-configuration.md
Due: hugo-mod-tidy

refactor: [NCN-116148] Share HTTPS server for hooks and admission (#1680)
  .specify/features/NCN-116148/plan.md
  .specify/features/NCN-116148/spec.md
  charts/cluster-api-runtime-extensions-nutanix/templates/admission-service.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/certificates.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/deployment.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/webhooks.yaml
  cmd/main.go
  common/pkg/server/server.go
  common/pkg/server/server_test.go
  hack/update-webhook-configurations.yq
Due: go-generate, golangci-lint, chart-docs

docs: Improve kubelet configuration documentation (#1593)
  docs/content/customization/kubeadm/kubelet-configuration.md
Due: hugo-mod-tidy

docs: [NCN-115115] Add plan for automatic kubelet reservations
  .specify/features/NCN-115115/plan.md
Due: none

feat: [NCN-115115] Add boot-time kubelet reservation script
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/automaticreservations.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/automaticreservations_script_test.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/embedded/compute-reservations.sh
Due: go-generate, golangci-lint

feat: [NCN-115115] Add automaticReservations kubelet API field
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  api/v1alpha1/kubelet_types.go
  api/v1alpha1/kubelet_types_test.go
  api/v1alpha1/zz_generated.deepcopy.go
Due: go-generate, golangci-lint, kube-api-linter

docs: [NCN-115115] Add spec for automatic kubelet reservations
  .specify/features/NCN-115115/spec.md
Due: none

feat: [NCN-115115] Inject reservation script via preKubeadmCommand
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/automaticreservations.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_controlplane.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_controlplane_test.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_worker.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_worker_test.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/kubelet_config.go
Due: go-generate, golangci-lint

feat: [NCN-115115] Reject automaticReservations with explicit reservations
  pkg/webhook/cluster/kubeletconfiguration_validator.go
  pkg/webhook/cluster/kubeletconfiguration_validator_test.go
Due: go-generate, golangci-lint

test: [NCN-115115] Assert no script injected without automaticReservations
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_worker_test.go
Due: go-generate, golangci-lint

docs: [NCN-115115] Attribute capacity-tiered formula to GKE
  docs/content/customization/kubeadm/kubelet-configuration.md
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/automaticreservations.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/embedded/compute-reservations.sh
Due: go-generate, golangci-lint, hugo-mod-tidy

style: [NCN-115115] Reformat reservation script to 2-space indent
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/embedded/compute-reservations.sh
Due: none

docs: [NCN-115115] Document automatic kubelet reservations
  docs/content/customization/kubeadm/kubelet-configuration.md
Due: hugo-mod-tidy

ci: [NCN-115115] Run automatic kubelet reservations e2e
  .github/workflows/checks.yml
Due: none

ci: [NCN-115115] Fold reservations e2e into quick-start job
  .github/workflows/checks.yml
  test/e2e/kubelet_reservations_test.go
Due: go-generate, golangci-lint

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  check-coredns-versions: any of: ^api/versions/coredns.go$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  kube-api-linter: any of: ((^api/(.*\.go|go.mod|go.sum))|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/helm-chart-bundler/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$
