Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-configmap

golangci-lint:
  name: golangci-lint
  entry: make go-generate lint
  language: system
  pass_filenames: false

hugo-mod-tidy:
  name: hugo-mod-tidy
  entry: bash -c "cd docs && hugo mod tidy"
  language: system
  pass_filenames: false

examples-sync:
  name: examples-sync
  entry: make examples.sync
  language: system
  pass_filenames: false

apis-sync:
  name: apis-sync
  entry: make apis.sync
  language: system
  pass_filenames: false

addons-sync:
  name: addons-sync
  entry: make addons.sync
  language: system
  pass_filenames: false

addons-configmap:
  name: addons-configmap
  entry: make generate-helm-configmap
  language: system
  pass_filenames: false

docs: Update release process for adding release series metadata
  docs/content/contributing/releasing.md
Due: hugo-mod-tidy

fix: delete correct cluster-autoscaler HCP (#859)
  pkg/handlers/generic/lifecycle/clusterautoscaler/strategy_helmaddon.go
Due: golangci-lint

docs: Update release process for adding release series metadata (#861)
  docs/content/contributing/releasing.md
Due: hugo-mod-tidy

fixup! fix: Also handle adding topology and pre-existing clusters
  internal/test/envtest/environment.go
  pkg/webhook/cluster/clusteruuidlabeler.go
  pkg/webhook/cluster/webhook_suite_test.go
  pkg/webhook/cluster/webhook_test.go
Due: golangci-lint

fix: skip UUID annotation webhook for clusters with nil topology (#860)
  internal/test/envtest/environment.go
  pkg/webhook/cluster/clusteruuidlabeler.go
  pkg/webhook/cluster/webhook_suite_test.go
  pkg/webhook/cluster/webhook_test.go
Due: golangci-lint

build: Use new clusterctl-aws name for clusterawsadm
  devbox.json
  hack/flakes/flake.nix
  make/clusterctl.mk
  make/dev.mk
  make/go.mk
Due: golangci-lint

release(main): v0.14.1
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

release(main): v0.14.1 (#862)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

fix: Ensure ClusterAutoscaler can write status CM in workload cluster
  charts/cluster-api-runtime-extensions-nutanix/templates/cluster-autoscaler/manifests/cluster-autoscaler-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cluster-autoscaler/manifests/helm-addon-installation.yaml
  hack/addons/kustomize/cluster-autoscaler/helm-values.yaml
Due: addons-sync, addons-configmap

fix: Ensure ClusterAutoscaler can write status CM in workload cluster (#864)
  charts/cluster-api-runtime-extensions-nutanix/templates/cluster-autoscaler/manifests/cluster-autoscaler-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cluster-autoscaler/manifests/helm-addon-installation.yaml
  hack/addons/kustomize/cluster-autoscaler/helm-values.yaml
Due: addons-sync, addons-configmap

release(main): v0.14.2
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

release(main): v0.14.2 (#866)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

fix: CRS generated CA Deployment has extra quotes
  charts/cluster-api-runtime-extensions-nutanix/templates/cluster-autoscaler/manifests/cluster-autoscaler-configmap.yaml
  hack/addons/update-cluster-autoscaler.sh
Due: addons-sync, addons-configmap

test: validate CA status ConfigMap
  test/e2e/clusterautoscaler_helpers.go
  test/e2e/configmap_helpers.go
Due: golangci-lint

fixup! fix: CRS generated CA Deployment has extra quotes
  charts/cluster-api-runtime-extensions-nutanix/templates/cluster-autoscaler/manifests/cluster-autoscaler-configmap.yaml
  hack/addons/update-cluster-autoscaler.sh
Due: addons-sync, addons-configmap

fix: CRS generated CA Deployment has extra quotes (#867)
  charts/cluster-api-runtime-extensions-nutanix/templates/cluster-autoscaler/manifests/cluster-autoscaler-configmap.yaml
  hack/addons/update-cluster-autoscaler.sh
  test/e2e/clusterautoscaler_helpers.go
  test/e2e/configmap_helpers.go
Due: golangci-lint, addons-sync, addons-configmap

fix: Use same security context & priority class for helm-repository pod
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-repository.yaml
Due: addons-configmap

fix: Use same security context & priority class for helm-repository pod (#871)
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-repository.yaml
Due: addons-configmap

fixup! refactor: Update for new k8s packages
  api/go.mod
  cmd/main.go
  common/go.mod
  go.mod
  go.sum
  pkg/controllers/namespacesync/controller.go
  pkg/controllers/namespacesync/suite_test.go
  pkg/handlers/aws/mutation/network/inject.go
  pkg/handlers/generic/mutation/encryptionatrest/encryptionprovider_test.go
  pkg/handlers/generic/mutation/encryptionatrest/inject.go
  pkg/webhook/cluster/clusteruuidlabeler.go
  pkg/webhook/cluster/defaulter.go
  pkg/webhook/cluster/vaiidator.go
  test/e2e/ownerreference_helpers.go
Due: golangci-lint

fixup! test(e2e): Add CAPI metadata for v1.8
  test/e2e/data/shared/v1beta1/metadata.yaml
Due: none

build: Include debug symbols in release image executable
  .goreleaser.yml
Due: none

build: Include debug symbols in release image executable (#873)
  .goreleaser.yml
Due: none

build: Use new clusterctl-aws name for clusterawsadm (#863)
  devbox.json
  hack/flakes/flake.nix
  make/clusterctl.mk
  make/dev.mk
  make/go.mk
Due: golangci-lint

fixup! fix: Remove anyOf schemas in config variables
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixnodeconfigs.yaml
  make/go.mk
Due: golangci-lint

release(main): v0.14.3 (#872)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

fixup! build: k8s v0.30.4
  api/go.mod
  api/go.sum
  common/go.mod
  common/go.sum
Due: golangci-lint

fix: Properly set additionalTrustBundle for Nutanix CCM
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/nutanix/manifests/helm-addon-installation.yaml
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler_test.go
Due: golangci-lint, addons-sync, addons-configmap

fix: Properly set additionalTrustBundle for Nutanix CCM (#874)
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/nutanix/manifests/helm-addon-installation.yaml
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler_test.go
Due: golangci-lint, addons-sync, addons-configmap

release(main): v0.14.4
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

release(main): v0.14.4 (#875)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

revert: Revert upgrades for CAPI 1.8
  api/go.mod
  api/go.sum
  common/go.mod
  common/go.sum
  go.mod
  go.sum
  pkg/handlers/generic/mutation/encryptionatrest/encryptionprovider_test.go
  pkg/handlers/generic/mutation/encryptionatrest/inject.go
  pkg/webhook/cluster/clusteruuidlabeler.go
  pkg/webhook/cluster/defaulter.go
  pkg/webhook/cluster/vaiidator.go
  test/e2e/data/shared/v1beta1/metadata.yaml
  test/e2e/ownerreference_helpers.go
Due: golangci-lint

revert: Revert upgrades for CAPI 1.8 (#876)
  api/go.mod
  api/go.sum
  common/go.mod
  common/go.sum
  go.mod
  go.sum
  pkg/handlers/generic/mutation/encryptionatrest/encryptionprovider_test.go
  pkg/handlers/generic/mutation/encryptionatrest/inject.go
  pkg/webhook/cluster/clusteruuidlabeler.go
  pkg/webhook/cluster/defaulter.go
  pkg/webhook/cluster/vaiidator.go
  test/e2e/data/shared/v1beta1/metadata.yaml
  test/e2e/ownerreference_helpers.go
Due: golangci-lint

release(main): v0.14.5
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

release(main): v0.14.5 (#877)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

feat: Upgrade to Calico v3.28.1
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/tigera-operator-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/mindthegap-helm-registry/repos.yaml
  make/addons.mk
Due: addons-sync, addons-configmap

feat: Upgrade to Calico v3.28.1 (#878)
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/tigera-operator-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/mindthegap-helm-registry/repos.yaml
  make/addons.mk
Due: addons-sync, addons-configmap

ci: Support release branches for release-please
  .github/workflows/release-please.yml
Due: none

ci: Support release branches for release-please (#880)
  .github/workflows/release-please.yml
Due: none

fix: Filter out control plane endpoint from Nutanix node IPs
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/nutanix/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/mindthegap-helm-registry/repos.yaml
  make/addons.mk
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler.go
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler_test.go
Due: golangci-lint, addons-sync, addons-configmap

Path conditions:
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-configmap: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+|make/addons.mk$)
