Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, golangci-lint, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock, check-coredns-versions

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/mindthegap-helm-registry/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$
  check-coredns-versions: any of: ^api/versions/coredns.go$

fix: Correct placementGroup variable name in API
  api/v1alpha1/aws_node_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
Due: go-generate, golangci-lint

feat: EKS ClusterClass and Cluster example
  api/v1alpha1/crds/caren.nutanix.com_eksworkernodeconfigs.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/eks-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/clusterclass_eks.yaml
  examples/capi-quick-start/eks-cluster.yaml
  hack/examples/bases/eks/cluster/cluster.yaml
  hack/examples/bases/eks/cluster/kustomization.yaml.tmpl
  hack/examples/bases/eks/clusterclass/clusterclass.yaml
  hack/examples/bases/eks/clusterclass/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/eks/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/eks/kustomizeconfig.yaml
  hack/examples/overlays/clusters/eks/kustomization.yaml.tmpl
  hack/examples/patches/eks/ami-lookup.yaml
  hack/examples/patches/eks/config-var.yaml
  hack/examples/patches/eks/csi.yaml
  hack/examples/patches/eks/initialize-variables.yaml
  hack/examples/patches/eks/start-ssm-kubeadmconfigtemplate.yaml
  hack/examples/sync.sh
  make/clusterctl.mk
Due: chart-docs, examples-sync

fixup! refactor: Address review feedback
  common/pkg/capi/clustertopology/handlers/mutation/meta.go
  common/pkg/capi/clustertopology/handlers/mutation/meta_test.go
Due: go-generate, golangci-lint

fix: Correct placementGroup variable name in API (#1256)
  api/v1alpha1/aws_node_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
Due: go-generate, golangci-lint

fixup! refactor: Use declared builtin variable name rather than string
  common/pkg/capi/clustertopology/handlers/mutation/meta.go
  common/pkg/capi/clustertopology/patches/matchers/match_test.go
  pkg/handlers/aws/mutation/ami/inject_worker_test.go
  pkg/handlers/aws/mutation/iaminstanceprofile/inject_worker_test.go
  pkg/handlers/aws/mutation/instancetype/inject_worker_test.go
  pkg/handlers/aws/mutation/placementgroup/inject_worker_test.go
  pkg/handlers/aws/mutation/securitygroups/inject_worker_test.go
  pkg/handlers/docker/mutation/customimage/inject_control_plane.go
  pkg/handlers/docker/mutation/customimage/inject_control_plane_test.go
  pkg/handlers/docker/mutation/customimage/inject_worker.go
  pkg/handlers/docker/mutation/customimage/inject_worker_test.go
  pkg/handlers/eks/mutation/ami/inject_worker_test.go
  pkg/handlers/eks/mutation/iaminstanceprofile/inject_worker_test.go
  pkg/handlers/eks/mutation/instancetype/inject_worker_test.go
  pkg/handlers/eks/mutation/placementgroup/inject_worker_test.go
  pkg/handlers/eks/mutation/securitygroups/inject_worker_test.go
  pkg/handlers/generic/mutation/containerdapplypatchesandrestart/inject_test.go
  pkg/handlers/generic/mutation/containerdmetrics/inject_test.go
  pkg/handlers/generic/mutation/containerdunprivilegedports/inject_test.go
  pkg/handlers/generic/mutation/httpproxy/inject_test.go
  pkg/handlers/generic/mutation/imageregistries/credentials/inject_test.go
  pkg/handlers/generic/mutation/mirrors/inject_test.go
  pkg/handlers/generic/mutation/noderegistration/inject_worker_test.go
  pkg/handlers/generic/mutation/ntp/inject_test.go
  pkg/handlers/generic/mutation/taints/inject_worker_test.go
  pkg/handlers/generic/mutation/users/inject_test.go
  pkg/handlers/nutanix/mutation/machinedetails/inject_worker_test.go
Due: go-generate, golangci-lint

feat: Make the Nutanix top-level node specs required
  api/v1alpha1/controlplane_types.go
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  api/v1alpha1/nodeconfig_types.go
  api/v1alpha1/nutanix_node_types.go
  pkg/handlers/generic/mutation/autorenewcerts/variables_test.go
Due: go-generate, golangci-lint

fixup! test: Add t.Helper() calls in nested tests
  common/pkg/k8s/parser/parser_test.go
  common/pkg/testutils/capitest/variables.go
Due: go-generate, golangci-lint

test: Add t.Helper() calls in nested tests
  common/pkg/k8s/parser/parser_test.go
  common/pkg/testutils/capitest/variables.go
Due: go-generate, golangci-lint

test: Add t.Helper() calls in nested tests (#1258)
  common/pkg/k8s/parser/parser_test.go
  common/pkg/testutils/capitest/variables.go
Due: go-generate, golangci-lint

refactor: move CIS flags to kubelet configuration
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/aws-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/docker-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  hack/examples/bases/aws/cluster/kustomization.yaml.tmpl
  hack/examples/bases/docker/cluster/kustomization.yaml.tmpl
  hack/examples/bases/nutanix/cluster/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/aws/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/docker/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/nutanix/kustomization.yaml.tmpl
  hack/examples/patches/cis-kubeadmconfigtemplate.yaml
  hack/examples/patches/cis-kubeadmcontrolplanetemplate.yaml
  hack/examples/patches/cis/admissionconfiguration.yaml
  hack/examples/patches/cis/kubeadmconfigtemplate/kubelet-configuration.yaml
  hack/examples/patches/cis/kubeadmconfigtemplate/kubelet-file-permissions.yaml
  hack/examples/patches/cis/kubeadmcontrolplanetemplate/control-plane-flags.yaml
  hack/examples/patches/cis/kubeadmcontrolplanetemplate/kubelet-configuration.yaml
  hack/examples/patches/cis/kubeadmcontrolplanetemplate/kubelet-file-permissions.yaml
  hack/examples/patches/initialize/kubeadmconfigtemplate/files.yaml
  hack/examples/patches/initialize/kubeadmconfigtemplate/patches.yaml
  hack/examples/patches/initialize/kubeadmconfigtemplate/postkubeadmcommands.yaml
  hack/examples/patches/initialize/kubeadmcontrolplanetemplate/extravolumes.yaml
  hack/examples/patches/initialize/kubeadmcontrolplanetemplate/files.yaml
  hack/examples/patches/initialize/kubeadmcontrolplanetemplate/patches.yaml
  hack/examples/patches/initialize/kubeadmcontrolplanetemplate/postkubeadmcommands.yaml
  hack/examples/patches/initialize/variables.yaml
Due: chart-docs, examples-sync

refactor: move remaining flags to kubelet configuration
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/aws-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  hack/examples/overlays/clusterclasses/aws/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/nutanix/kustomization.yaml.tmpl
  hack/examples/patches/initialize/kubeadmconfigtemplate/kubelet-configuration.yaml
  hack/examples/patches/initialize/kubeadmcontrolplanetemplate/kubelet-configuration.yaml
Due: chart-docs, examples-sync

build: remove legacy kube-vip manifest
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/templates/virtual-ip/kube-vip/manifests/kube-vip-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
Due: schema-chart, chart-docs, addons-sync

fix: use a core Kubernetes version in registry syncer Pods
  api/versions/versions.go
  pkg/handlers/generic/lifecycle/registry/syncer/syncer.go
  pkg/handlers/generic/lifecycle/registry/syncer/syncer_integration_test.go
  pkg/handlers/generic/lifecycle/registry/syncer/syncer_test.go
Due: go-generate, golangci-lint

fix: hardcode the kubectl tag in registry syncer Pods
  charts/cluster-api-runtime-extensions-nutanix/addons/registry-syncer/values-template.yaml
  pkg/handlers/generic/lifecycle/registry/syncer/syncer.go
  pkg/handlers/generic/lifecycle/registry/syncer/testdata/registry-syncer-template.yaml.tmpl
Due: go-generate, golangci-lint, chart-docs

build: remove legacy kube-vip manifest (#1260)
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/templates/virtual-ip/kube-vip/manifests/kube-vip-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
Due: schema-chart, chart-docs, addons-sync

refactor: move deprecated Kubelet flags to KubeletConfiguration (#1259)
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/aws-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/docker-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  hack/examples/bases/aws/cluster/kustomization.yaml.tmpl
  hack/examples/bases/docker/cluster/kustomization.yaml.tmpl
  hack/examples/bases/nutanix/cluster/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/aws/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/docker/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/nutanix/kustomization.yaml.tmpl
  hack/examples/patches/cis-kubeadmconfigtemplate.yaml
  hack/examples/patches/cis-kubeadmcontrolplanetemplate.yaml
  hack/examples/patches/cis/admissionconfiguration.yaml
  hack/examples/patches/cis/kubeadmconfigtemplate/kubelet-configuration.yaml
  hack/examples/patches/cis/kubeadmconfigtemplate/kubelet-file-permissions.yaml
  hack/examples/patches/cis/kubeadmcontrolplanetemplate/control-plane-flags.yaml
  hack/examples/patches/cis/kubeadmcontrolplanetemplate/kubelet-configuration.yaml
  hack/examples/patches/cis/kubeadmcontrolplanetemplate/kubelet-file-permissions.yaml
  hack/examples/patches/initialize/kubeadmconfigtemplate/files.yaml
  hack/examples/patches/initialize/kubeadmconfigtemplate/kubelet-configuration.yaml
  hack/examples/patches/initialize/kubeadmconfigtemplate/patches.yaml
  hack/examples/patches/initialize/kubeadmconfigtemplate/postkubeadmcommands.yaml
  hack/examples/patches/initialize/kubeadmcontrolplanetemplate/extravolumes.yaml
  hack/examples/patches/initialize/kubeadmcontrolplanetemplate/files.yaml
  hack/examples/patches/initialize/kubeadmcontrolplanetemplate/kubelet-configuration.yaml
  hack/examples/patches/initialize/kubeadmcontrolplanetemplate/patches.yaml
  hack/examples/patches/initialize/kubeadmcontrolplanetemplate/postkubeadmcommands.yaml
  hack/examples/patches/initialize/variables.yaml
Due: chart-docs, examples-sync

feat: Pull in EKS APIs
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/awsmachine_types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/awsmanagedclustertemplate_types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/network_types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/tags.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/zz_generated.deepcopy.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/bootstrap/eks/api/v1beta2/condition_consts.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/bootstrap/eks/api/v1beta2/conversion.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/bootstrap/eks/api/v1beta2/doc.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/bootstrap/eks/api/v1beta2/eksconfig_types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/bootstrap/eks/api/v1beta2/eksconfigtemplate_types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/bootstrap/eks/api/v1beta2/groupversion_info.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/bootstrap/eks/api/v1beta2/zz_generated.deepcopy.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/controlplane/eks/api/v1beta2/awsmanagedcontrolplane_types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/controlplane/eks/api/v1beta2/awsmanagedcontrolplanetemplate_types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/controlplane/eks/api/v1beta2/conditions_consts.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/controlplane/eks/api/v1beta2/conversion.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/controlplane/eks/api/v1beta2/doc.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/controlplane/eks/api/v1beta2/groupversion_info.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/controlplane/eks/api/v1beta2/types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/controlplane/eks/api/v1beta2/validate.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/controlplane/eks/api/v1beta2/zz_generated.deepcopy.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/iam/api/v1beta1/types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/iam/api/v1beta1/zz_generated.deepcopy.go
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/third-party/capa/go.mod
  hack/third-party/capa/go.sum
  make/apis.mk
  make/clusterctl.mk
  make/dev.mk
Due: go-generate, golangci-lint, apis-sync

fix: Correctly handle variable overrides
  common/go.mod
  common/go.sum
  common/pkg/capi/clustertopology/handlers/mutation/meta.go
  common/pkg/capi/clustertopology/handlers/mutation/meta_test.go
Due: go-generate, golangci-lint

fix: hardcode the kubectl tag in registry syncer Pods (#1262)
  charts/cluster-api-runtime-extensions-nutanix/addons/registry-syncer/values-template.yaml
  pkg/handlers/generic/lifecycle/registry/syncer/syncer.go
  pkg/handlers/generic/lifecycle/registry/syncer/testdata/registry-syncer-template.yaml.tmpl
Due: go-generate, golangci-lint, chart-docs

fixup! refactor: Move merge function to common module
  api/go.mod
  api/go.sum
  common/pkg/capi/clustertopology/handlers/mutation/meta.go
  common/pkg/capi/clustertopology/handlers/mutation/meta_test.go
  common/pkg/capi/clustertopology/variables/merge.go
  common/pkg/capi/clustertopology/variables/merge_test.go
Due: go-generate, golangci-lint

fixup! refactor: Handle overrides in failure domain validation
  pkg/webhook/cluster/nutanix_validator.go
  pkg/webhook/cluster/nutanix_validator_test.go
Due: go-generate, golangci-lint

fixup! ci: Use correct custom linter
  .github/workflows/checks.yml
Due: none

build: Add kube-api-linter
  .github/workflows/checks.yml
  .gitignore
  .golangci-kal.yml
  .pre-commit-config.yaml
  devbox.json
  devbox.lock
  hack/tools/.custom-gcl.yml
  make/go.mk
Due: go-generate, golangci-lint, check-devbox-lock

fixup! build: Integrate with vscode
  .golangci-kal.yml
  .golangci.yml
  .pre-commit-config.yaml
  api/v1alpha1/addon_types.go
  api/v1alpha1/nutanix_clusterconfig_types.go
  docs/content/contributing/linting.md
  hack/tools/.custom-gcl.yml
  make/go.mk
  pkg/handlers/generic/mutation/externalcloudprovider/inject.go
Due: go-generate, golangci-lint, hugo-mod-tidy

fixup! fix: Remove control plane affinity from EBS controller
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/aws-ebs/values-template.yaml
Due: chart-docs

fixup! fix: Regenerate API types and addons
  api/v1alpha1/crds/caren.nutanix.com_eksworkernodeconfigs.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/aws-ebs/manifests/aws-ebs-csi-configmap.yaml
Due: chart-docs, addons-sync

feat: EKS ClusterClass and Cluster example
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/eks-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/clusterclass_eks.yaml
  examples/capi-quick-start/eks-cluster.yaml
  hack/examples/bases/eks/cluster/cluster.yaml
  hack/examples/bases/eks/cluster/kustomization.yaml.tmpl
  hack/examples/bases/eks/clusterclass/clusterclass.yaml
  hack/examples/bases/eks/clusterclass/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/eks/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/eks/kustomizeconfig.yaml
  hack/examples/overlays/clusters/eks/kustomization.yaml.tmpl
  hack/examples/patches/eks/ami-lookup.yaml
  hack/examples/patches/eks/config-var.yaml
  hack/examples/patches/eks/csi.yaml
  hack/examples/patches/eks/initialize-variables.yaml
  hack/examples/patches/eks/start-ssm-kubeadmconfigtemplate.yaml
  hack/examples/sync.sh
  make/clusterctl.mk
Due: chart-docs, examples-sync

fixup! refactor: Remove system pools from EKS cluster
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/eks-cluster-class.yaml
  examples/capi-quick-start/eks-cluster.yaml
  hack/examples/bases/eks/cluster/cluster.yaml
  hack/examples/bases/eks/clusterclass/clusterclass.yaml
Due: chart-docs, examples-sync

fixup! build: Add aws-iam-authenticator
  devbox.json
  devbox.lock
Due: check-devbox-lock

fixup! test: Add volumeattachment demo
  hack/demos/eks-ebs-snapshot-volumeattach/demo.sh
  hack/demos/eks-ebs-snapshot-volumeattach/eks-test.yaml
Due: none
