Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, check-coredns-versions, golangci-lint, kube-api-linter, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  check-coredns-versions: any of: ^api/versions/coredns.go$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  kube-api-linter: any of: ((^api/(.*\.go|go.mod|go.sum))|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/helm-chart-bundler/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$

feat: support automated volume expansion for the registry addon
  pkg/handlers/lifecycle/addons/helmaddon.go
  pkg/handlers/lifecycle/registry/cncfdistribution/handler.go
  pkg/handlers/lifecycle/registry/cncfdistribution/pvc_resizer.go
  pkg/handlers/lifecycle/registry/cncfdistribution/pvc_resizer_test.go
  pkg/handlers/lifecycle/registry/utils/registry_metadata.go
Due: go-generate, golangci-lint

feat: increase default registry PV size to 100Gi
  charts/cluster-api-runtime-extensions-nutanix/addons/registry/cncf-distribution/values-template.yaml
Due: chart-docs

fixup! feat: support automated volume expansion for the registry addon
  pkg/handlers/lifecycle/registry/cncfdistribution/pvc_resizer.go
Due: go-generate, golangci-lint

fixup! feat: support automated volume expansion for the registry addon
  pkg/handlers/lifecycle/addons/helmaddon.go
Due: go-generate, golangci-lint

feat: support registry addon PersistentVolume expansion (#1454)
  charts/cluster-api-runtime-extensions-nutanix/addons/registry/cncf-distribution/values-template.yaml
  pkg/handlers/lifecycle/addons/helmaddon.go
  pkg/handlers/lifecycle/registry/cncfdistribution/handler.go
  pkg/handlers/lifecycle/registry/cncfdistribution/pvc_resizer.go
  pkg/handlers/lifecycle/registry/cncfdistribution/pvc_resizer_test.go
  pkg/handlers/lifecycle/registry/utils/registry_metadata.go
Due: go-generate, golangci-lint, chart-docs

fix: Skip preflight when only spec change is paused field
  pkg/webhook/preflight/preflight.go
  pkg/webhook/preflight/preflight_test.go
Due: go-generate, golangci-lint

fixup! fix: Skip preflight when only spec change is paused field
  pkg/webhook/preflight/preflight.go
Due: go-generate, golangci-lint

fix: Skip preflight when only spec change is paused field (#1485)
  pkg/webhook/preflight/preflight.go
  pkg/webhook/preflight/preflight_test.go
Due: go-generate, golangci-lint

feat: added extraArgs for apiServer, controllerManager, and scheduler
  pkg/handlers/generic/mutation/kubeadm/auditpolicy/inject.go
  pkg/handlers/generic/mutation/kubeadm/auditpolicy/inject_test.go
  pkg/handlers/generic/mutation/kubeadm/controllermanager/inject.go
  pkg/handlers/generic/mutation/kubeadm/controllermanager/inject_test.go
  pkg/handlers/generic/mutation/kubeadm/scheduler/inject.go
  pkg/handlers/generic/mutation/kubeadm/scheduler/inject_test.go
Due: go-generate, golangci-lint

fix: lint-helm
  .github/workflows/checks.yml
Due: none

feat: add Pod/Service CIDR overlap detection
  pkg/webhook/preflight/nutanix/cidrvalidation.go
  pkg/webhook/preflight/nutanix/cidrvalidation_test.go
Due: go-generate, golangci-lint

feat: add CIDR size validation preflight check
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/checker_test.go
  pkg/webhook/preflight/nutanix/cidrvalidation.go
  pkg/webhook/preflight/nutanix/cidrvalidation_test.go
Due: go-generate, golangci-lint

feat: add node subnet overlap detection via Prism Central
  pkg/webhook/preflight/nutanix/cidrvalidation.go
  pkg/webhook/preflight/nutanix/cidrvalidation_test.go
Due: go-generate, golangci-lint

fix: lint-helm
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/aws-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/docker-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/eks-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  hack/examples/overlays/clusterclasses/aws/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/docker/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/eks/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/nutanix/kustomization.yaml.tmpl
Due: chart-docs, examples-sync

feat: Require every NTP server to be a unique IP or DNS name
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  pkg/handlers/generic/mutation/generic/ntp/variables_test.go
Due: go-generate, golangci-lint, kube-api-linter

fixup! feat: Require every NTP server to be a unique IP or DNS name
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  pkg/handlers/generic/mutation/generic/ntp/variables_test.go
Due: go-generate, golangci-lint, kube-api-linter

fix: changing self-hosted runners for CI jobs
  .github/actionlint.yaml
  .github/workflows/checks.yml
  .github/workflows/e2e.yml
Due: none

fix: changing self-hosted runners for CI jobs (#1494)
  .github/actionlint.yaml
  .github/workflows/checks.yml
  .github/workflows/e2e.yml
Due: none

feat: Require every NTP server to be a unique IP or DNS name (#1492)
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  pkg/handlers/generic/mutation/generic/ntp/variables_test.go
Due: go-generate, golangci-lint, kube-api-linter

fixup! retain subnet information for both ControlPlane and Worker Field.
  pkg/webhook/preflight/nutanix/cidrvalidation.go
  pkg/webhook/preflight/nutanix/cidrvalidation_test.go
Due: go-generate, golangci-lint

fixup! Use full string for comparison, instead of substing
  pkg/webhook/preflight/nutanix/cidrvalidation.go
  pkg/webhook/preflight/nutanix/cidrvalidation_test.go
Due: go-generate, golangci-lint

fixup! Remove nClient check failure
  pkg/webhook/preflight/nutanix/cidrvalidation.go
  pkg/webhook/preflight/nutanix/cidrvalidation_test.go
Due: go-generate, golangci-lint

fixup! Rename refactoring functions for readability
  pkg/webhook/preflight/nutanix/cidrvalidation.go
Due: go-generate, golangci-lint

fixup! Handle external IPAM subnets with warning instead of error
  pkg/webhook/preflight/nutanix/cidrvalidation.go
  pkg/webhook/preflight/nutanix/cidrvalidation_test.go
Due: go-generate, golangci-lint

fixup! Handle ambiguous subnet names by filtering by PE cluster
  pkg/webhook/preflight/nutanix/cidrvalidation.go
  pkg/webhook/preflight/nutanix/cidrvalidation_test.go
Due: go-generate, golangci-lint

fixup! Add test cases for empty/nil Pod and Service CIDRs
  pkg/webhook/preflight/nutanix/cidrvalidation_test.go
Due: go-generate, golangci-lint

fixup! Add doc comments to CIDR validation structs and functions
  pkg/webhook/preflight/nutanix/cidrvalidation.go
Due: go-generate, golangci-lint

fixup! Rename nodeSubnetSource to nutanixSubnet and collectNodeSubnetSources to collectNutanixSubnets
  pkg/webhook/preflight/nutanix/cidrvalidation.go
  pkg/webhook/preflight/nutanix/cidrvalidation_test.go
Due: go-generate, golangci-lint

fixup! Set default resolveNodeSubnetsFunc in constructor
  pkg/webhook/preflight/nutanix/cidrvalidation.go
Due: go-generate, golangci-lint

fixup! Fix indentation in cidrvalidation_test.go
  pkg/webhook/preflight/nutanix/cidrvalidation_test.go
Due: go-generate, golangci-lint

feat: Preflight checks for validating pod and service CIDRs (#1493)
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/checker_test.go
  pkg/webhook/preflight/nutanix/cidrvalidation.go
  pkg/webhook/preflight/nutanix/cidrvalidation_test.go
Due: go-generate, golangci-lint

release(main): v0.44.0
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

fixup! release: Update metadata for release
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: none
