Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-configmap

Path conditions:
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-configmap: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+|make/addons.mk$)

build: Make CAREN mindthegap reg multiarch (#730)
  .github/workflows/checks.yml
  .github/workflows/e2e.yml
  .github/workflows/release-tag.yml
  .goreleaser.yml
  hack/addons/mindthegap-helm-registry/Dockerfile
Due: addons-sync, addons-configmap

test(e2e): Use mesosphere fork with CRSBinding fix
  test/e2e/config/caren.yaml
Due: none

feat: Support CRS for local-path provisioner and add CSI e2e
  api/v1alpha1/zz_generated.deepcopy.go
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/local-path/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/local-path/manifests/local-path-provisioner-csi-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/deployment.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  examples/capi-quick-start/docker-cluster-calico-crs.yaml
  examples/capi-quick-start/docker-cluster-cilium-crs.yaml
  hack/addons/kustomize/local-path-provisioner-csi/helm-values.yaml
  hack/addons/kustomize/local-path-provisioner-csi/kustomization.yaml.tmpl
  hack/addons/update-local-path-provisioner-csi.sh
  hack/examples/overlays/clusters/docker/calico/crs/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/docker/calico/helm-addon/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/docker/cilium/crs/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/docker/cilium/helm-addon/kustomization.yaml.tmpl
  hack/examples/patches/docker/csi-crs-strategy.yaml
  hack/examples/patches/docker/csi-helm-addon-strategy.yaml
  hack/examples/patches/docker/csi.yaml
  make/addons.mk
  pkg/handlers/generic/lifecycle/csi/aws-ebs/handler.go
  pkg/handlers/generic/lifecycle/csi/localpath/handler.go
  pkg/handlers/generic/lifecycle/csi/localpath/strategy_crs.go
  pkg/handlers/generic/lifecycle/csi/localpath/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/csi/nutanix-csi/handler.go
  pkg/handlers/generic/lifecycle/csi/utils/scs.go
  pkg/handlers/generic/lifecycle/handlers.go
  pkg/handlers/generic/mutation/imageregistries/credentials/credential_provider_config_files.go
  test/e2e/addon_helpers.go
  test/e2e/csi_helpers.go
  test/e2e/e2e_suite_test.go
Due: golangci-lint, examples-sync, addons-sync, addons-configmap

build: Add make target to update helm chart values JSON schema
  make/helm.mk
Due: none

build: Check helm values JSON schema during pre-commit
  .pre-commit-config.yaml
Due: none

fix: Update helm values JSON schema
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
Due: none

build: Use nix based build for helm plugins
  devbox.json
  devbox.lock
  hack/flakes/flake.nix
  make/helm.mk
Due: none

Add helm values schema plugin (#728)
  .pre-commit-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  devbox.json
  devbox.lock
  hack/flakes/flake.nix
  make/helm.mk
Due: none

test(e2e): Use mesosphere fork with CRSBinding fix (#736)
  test/e2e/config/caren.yaml
Due: none

fix: RBAC role for namespace-sync controller to watch,list namespaces
  charts/cluster-api-runtime-extensions-nutanix/templates/role.yaml
  pkg/controllers/namespacesync/doc.go
Due: golangci-lint, addons-configmap

fix: Add namespace get/list/watch perms for namespacesync controller
  charts/cluster-api-runtime-extensions-nutanix/templates/role.yaml
  pkg/controllers/namespacesync/doc.go
Due: golangci-lint, addons-configmap

feat: Add dynamic addon handler application via controller
  cmd/main.go
  common/pkg/capi/clustertopology/handlers/lifecycle/interfaces.go
  pkg/controllers/addons/controller.go
  pkg/controllers/addons/doc.go
  pkg/controllers/addons/flags.go
  pkg/handlers/generic/lifecycle/ccm/doc.go
  pkg/handlers/generic/lifecycle/ccm/handler.go
  pkg/handlers/generic/lifecycle/csi/handler.go
Due: golangci-lint

fix: RBAC role for namespace-sync controller to watch,list namespaces (#738)
  charts/cluster-api-runtime-extensions-nutanix/templates/role.yaml
  pkg/controllers/namespacesync/doc.go
Due: golangci-lint, addons-configmap

fix: adds a docker buildx step before release-snapshot
  make/goreleaser.mk
Due: none

WIP
  .github/workflows/e2e.yml
Due: none

fix: adds comment explaining target
  make/goreleaser.mk
Due: none

fix: Create dockerx builder for release make target
  make/goreleaser.mk
Due: none

fix: image registries not handling CA certificates (#729)
  api/v1alpha1/constants.go
  api/v1alpha1/zz_generated.deepcopy.go
  docs/content/customization/generic/image-registries.md
  pkg/handlers/generic/mutation/imageregistries/constants.go
  pkg/handlers/generic/mutation/imageregistries/credentials/credential_provider_config_files.go
  pkg/handlers/generic/mutation/imageregistries/credentials/inject.go
  pkg/handlers/generic/mutation/imageregistries/credentials/inject_test.go
  pkg/handlers/generic/mutation/mirrors/constants.go
  pkg/handlers/generic/mutation/mirrors/containerd_files.go
  pkg/handlers/generic/mutation/mirrors/containerd_files_test.go
  pkg/handlers/generic/mutation/mirrors/inject.go
  pkg/handlers/generic/mutation/mirrors/inject_test.go
  pkg/handlers/generic/mutation/mirrors/mirror.go
  pkg/handlers/generic/mutation/mirrors/mirror_test.go
  pkg/handlers/generic/mutation/mirrors/templates/hosts.toml.gotmpl
  pkg/handlers/utils/secrets.go
Due: golangci-lint, hugo-mod-tidy

fix: specify builder
  .github/workflows/checks.yml
  .github/workflows/e2e.yml
  .github/workflows/release-tag.yml
  .goreleaser.yml
  make/goreleaser.mk
Due: none

fix: adds a docker buildx step before release-snapshot (#741)
  .github/workflows/checks.yml
  .github/workflows/e2e.yml
  .github/workflows/release-tag.yml
  .goreleaser.yml
  make/goreleaser.mk
Due: none

test: Verify that empty namespace label key will not return a match
  pkg/controllers/namespacesync/controller.go
  pkg/controllers/namespacesync/label.go
  pkg/controllers/namespacesync/label_test.go
Due: golangci-lint

fix: List no resources when source namespace is empty string
  pkg/controllers/namespacesync/controller.go
  pkg/controllers/namespacesync/controller_test.go
  pkg/controllers/namespacesync/label.go
  pkg/controllers/namespacesync/label_test.go
Due: golangci-lint

build: Tidy up goreleaser config
  .github/workflows/checks.yml
  .goreleaser.yml
  hack/addons/mindthegap-helm-registry/Dockerfile
  make/dev.mk
  make/go.mk
  make/goreleaser.mk
  test/e2e/config/caren.yaml
Due: golangci-lint, addons-sync, addons-configmap

release(main): v0.10.0 (#685)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

build: Tidy up goreleaser config (#745)
  .github/workflows/checks.yml
  .goreleaser.yml
  hack/addons/mindthegap-helm-registry/Dockerfile
  make/dev.mk
  make/go.mk
  make/goreleaser.mk
  test/e2e/config/caren.yaml
Due: golangci-lint, addons-sync, addons-configmap

feat: Support CRS for local-path provisioner and add CSI e2e
  .github/workflows/checks.yml
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/local-path/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/local-path/manifests/local-path-provisioner-csi-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/deployment.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  examples/capi-quick-start/docker-cluster-calico-crs.yaml
  examples/capi-quick-start/docker-cluster-cilium-crs.yaml
  hack/addons/kustomize/local-path-provisioner-csi/helm-values.yaml
  hack/addons/kustomize/local-path-provisioner-csi/kustomization.yaml.tmpl
  hack/addons/update-local-path-provisioner-csi.sh
  hack/examples/overlays/clusters/docker/calico/crs/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/docker/calico/helm-addon/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/docker/cilium/crs/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/docker/cilium/helm-addon/kustomization.yaml.tmpl
  hack/examples/patches/docker/csi-crs-strategy.yaml
  hack/examples/patches/docker/csi-helm-addon-strategy.yaml
  hack/examples/patches/docker/csi.yaml
  make/addons.mk
  pkg/handlers/generic/lifecycle/csi/aws-ebs/handler.go
  pkg/handlers/generic/lifecycle/csi/localpath/handler.go
  pkg/handlers/generic/lifecycle/csi/localpath/strategy_crs.go
  pkg/handlers/generic/lifecycle/csi/localpath/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/csi/nutanix-csi/handler.go
  pkg/handlers/generic/lifecycle/csi/utils/scs.go
  pkg/handlers/generic/lifecycle/handlers.go
  test/e2e/addon_helpers.go
  test/e2e/csi_helpers.go
  test/e2e/e2e_suite_test.go
Due: golangci-lint, examples-sync, addons-sync, addons-configmap

ci: Fix up image loading for lint-test-helm
  .github/workflows/checks.yml
Due: none

ci: Fix up image loading for lint-test-helm (#746)
  .github/workflows/checks.yml
Due: none

feat: Use flag to configure namespacesync target namespace label key
  api/v1alpha1/constants.go
  cmd/main.go
  pkg/controllers/namespacesync/flags.go
Due: golangci-lint

feat: Enable namespacesync using a flag
  cmd/main.go
  pkg/controllers/namespacesync/flags.go
Due: golangci-lint

feat: Configure namespace sync in helm chart
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/templates/deployment.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
Due: addons-configmap

refactor: Remove namespace sync default source namespace
  pkg/controllers/namespacesync/flags.go
Due: golangci-lint

refactor: Formatting
  cmd/main.go
Due: golangci-lint

feat: Support CRS for local-path provisioner and add CSI e2e (#737)
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/local-path/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/local-path/manifests/local-path-provisioner-csi-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/deployment.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  examples/capi-quick-start/docker-cluster-calico-crs.yaml
  examples/capi-quick-start/docker-cluster-cilium-crs.yaml
  hack/addons/kustomize/local-path-provisioner-csi/helm-values.yaml
  hack/addons/kustomize/local-path-provisioner-csi/kustomization.yaml.tmpl
  hack/addons/update-local-path-provisioner-csi.sh
  hack/examples/overlays/clusters/docker/calico/crs/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/docker/calico/helm-addon/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/docker/cilium/crs/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/docker/cilium/helm-addon/kustomization.yaml.tmpl
  hack/examples/patches/docker/csi-crs-strategy.yaml
  hack/examples/patches/docker/csi-helm-addon-strategy.yaml
  hack/examples/patches/docker/csi.yaml
  make/addons.mk
  pkg/handlers/generic/lifecycle/csi/aws-ebs/handler.go
  pkg/handlers/generic/lifecycle/csi/localpath/handler.go
  pkg/handlers/generic/lifecycle/csi/localpath/strategy_crs.go
  pkg/handlers/generic/lifecycle/csi/localpath/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/csi/nutanix-csi/handler.go
  pkg/handlers/generic/lifecycle/csi/utils/scs.go
  pkg/handlers/generic/lifecycle/handlers.go
  test/e2e/addon_helpers.go
  test/e2e/csi_helpers.go
  test/e2e/e2e_suite_test.go
Due: golangci-lint, examples-sync, addons-sync, addons-configmap

feat: Support HelmAddon strategy for AWS EBS
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/aws-ebs/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/deployment.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  examples/capi-quick-start/aws-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/aws-cluster-cilium-helm-addon.yaml
  hack/addons/kustomize/aws-ebs-csi/storage-class.yaml
  hack/addons/mindthegap-helm-registry/repos.yaml
  hack/examples/overlays/clusters/aws/calico/crs/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/aws/calico/helm-addon/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/aws/cilium/crs/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/aws/cilium/helm-addon/kustomization.yaml.tmpl
  hack/examples/patches/aws/csi-crs-strategy.yaml
  hack/examples/patches/aws/csi-helm-addon-strategy.yaml
  hack/examples/patches/aws/csi.yaml
  hack/tools/helm-cm/main.go
  make/addons.mk
  pkg/handlers/generic/lifecycle/config/cm.go
  pkg/handlers/generic/lifecycle/csi/aws-ebs/handler.go
  pkg/handlers/generic/lifecycle/csi/awsebs/handler.go
  pkg/handlers/generic/lifecycle/csi/awsebs/strategy_crs.go
  pkg/handlers/generic/lifecycle/csi/awsebs/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/handlers.go
  test/e2e/csi_helpers.go
Due: golangci-lint, examples-sync, addons-sync, addons-configmap

fix: Namespace Sync controller should list no resources when source namespace is empty string (#725)
  pkg/controllers/namespacesync/controller.go
  pkg/controllers/namespacesync/controller_test.go
  pkg/controllers/namespacesync/label.go
  pkg/controllers/namespacesync/label_test.go
Due: golangci-lint

feat: Support HelmAddon strategy for AWS EBS (#732)
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/aws-ebs/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/deployment.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  examples/capi-quick-start/aws-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/aws-cluster-cilium-helm-addon.yaml
  hack/addons/kustomize/aws-ebs-csi/storage-class.yaml
  hack/addons/mindthegap-helm-registry/repos.yaml
  hack/examples/overlays/clusters/aws/calico/crs/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/aws/calico/helm-addon/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/aws/cilium/crs/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/aws/cilium/helm-addon/kustomization.yaml.tmpl
  hack/examples/patches/aws/csi-crs-strategy.yaml
  hack/examples/patches/aws/csi-helm-addon-strategy.yaml
  hack/examples/patches/aws/csi.yaml
  hack/tools/helm-cm/main.go
  make/addons.mk
  pkg/handlers/generic/lifecycle/config/cm.go
  pkg/handlers/generic/lifecycle/csi/aws-ebs/handler.go
  pkg/handlers/generic/lifecycle/csi/awsebs/handler.go
  pkg/handlers/generic/lifecycle/csi/awsebs/strategy_crs.go
  pkg/handlers/generic/lifecycle/csi/awsebs/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/handlers.go
  test/e2e/csi_helpers.go
Due: golangci-lint, examples-sync, addons-sync, addons-configmap

refactor: Tidy up Nutanix CSI with consistent apply strategy
  charts/cluster-api-runtime-extensions-nutanix/templates/deployment.yaml
  hack/addons/kustomize/nutanix-snapshot-csi/kustomization.yaml.tmpl
  hack/addons/kustomize/nutanix-storage-csi/kustomization.yaml.tmpl
  pkg/handlers/generic/lifecycle/csi/awsebs/handler.go
  pkg/handlers/generic/lifecycle/csi/localpath/handler.go
  pkg/handlers/generic/lifecycle/csi/nutanix-csi/handler.go
  pkg/handlers/generic/lifecycle/csi/nutanix/handler.go
  pkg/handlers/generic/lifecycle/csi/nutanix/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/handlers.go
  test/e2e/csi_helpers.go
Due: golangci-lint, addons-sync, addons-configmap

fix: revert namespace back to the ntnx-system
  hack/addons/kustomize/nutanix-snapshot-csi/kustomization.yaml.tmpl
  hack/addons/kustomize/nutanix-storage-csi/kustomization.yaml.tmpl
  pkg/handlers/generic/lifecycle/csi/nutanix/handler.go
Due: golangci-lint, addons-sync, addons-configmap
