Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, check-coredns-versions, golangci-lint, kube-api-linter, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock

schema-chart:
  name: schema-chart
  entry: make schema-chart
  language: system

go-generate:
  name: go-generate
  entry: make go-generate
  language: system
  pass_filenames: false

check-coredns-versions:
  name: check-coredns-versions
  entry: make coredns.sync
  language: system

golangci-lint:
  name: golangci-lint
  entry: make lint
  language: system
  pass_filenames: false

kube-api-linter:
  name: kube-api-linter
  entry: make lint-kube-api
  language: system
  pass_filenames: false

chart-docs:
  name: chart-docs
  entry: make chart-docs
  language: system
  pass_filenames: false

hugo-mod-tidy:
  name: hugo-mod-tidy
  entry: bash -c "cd docs && hugo mod tidy"
  language: system
  pass_filenames: false

examples-sync:
  name: examples-sync
  entry: make examples.sync
  language: system
  pass_filenames: false

apis-sync:
  name: apis-sync
  entry: make apis.sync
  language: system
  pass_filenames: false

addons-sync:
  name: addons-sync
  entry: make addons.sync
  language: system
  pass_filenames: false

addons-repo-yaml:
  name: addons-repo-yaml
  entry: make template-helm-repository
  language: system
  pass_filenames: false

check-devbox-lock:
  name: check-devbox-lock
  entry: devbox install
  language: system
  pass_filenames: false

fix: [NCN-115115] Isolate provider versions before patching e2e flavor
  test/e2e/kubelet_reservations_helpers.go
  test/e2e/kubelet_reservations_helpers_test.go
  test/e2e/kubelet_reservations_test.go
Due: go-generate, golangci-lint

fix: [NCN-115115] Handle multi-document quick-start templates
  test/e2e/kubelet_reservations_helpers.go
  test/e2e/kubelet_reservations_helpers_test.go
Due: go-generate, golangci-lint

test: [NCN-115115] Add e2e test for automatic kubelet reservations
  .specify/features/NCN-115115/plan.md
  go.mod
  test/e2e/kubelet_reservations_helpers.go
  test/e2e/kubelet_reservations_helpers_test.go
  test/e2e/kubelet_reservations_test.go
  test/e2e/quick_start_test.go
  test/framework/bootstrap/kindprovider.go
Due: go-generate, golangci-lint

feat: [NCN-115115] Add opt-in automatic kubelet resource reservations (#1650)
  .specify/features/NCN-115115/plan.md
  .specify/features/NCN-115115/spec.md
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  api/v1alpha1/kubelet_types.go
  api/v1alpha1/kubelet_types_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  docs/content/customization/kubeadm/kubelet-configuration.md
  go.mod
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/automaticreservations.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/automaticreservations_script_test.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/embedded/compute-reservations.sh
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_controlplane.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_controlplane_test.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_worker.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_worker_test.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/kubelet_config.go
  pkg/webhook/cluster/kubeletconfiguration_validator.go
  pkg/webhook/cluster/kubeletconfiguration_validator_test.go
  test/e2e/kubelet_reservations_helpers.go
  test/e2e/kubelet_reservations_helpers_test.go
  test/e2e/kubelet_reservations_test.go
  test/e2e/quick_start_test.go
  test/framework/bootstrap/kindprovider.go
Due: go-generate, golangci-lint, kube-api-linter, hugo-mod-tidy

release(main): v0.50.0
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

fixup! release: Update metadata for release
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/caren/metadata.yaml
Due: none

release(main): v0.50.0 (#1685)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/caren/metadata.yaml
Due: hugo-mod-tidy

refactor: bump handler versions
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/aws-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/docker-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/eks-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  docs/content/getting-started/integrating-with-your-clusterclass/_index.md
  hack/examples/overlays/clusterclasses/aws/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/docker/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/eks/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/nutanix/kustomization.yaml.tmpl
  hack/tools/clusterclass-v1beta2/main.go
  pkg/handlers/aws/handlers.go
  pkg/handlers/aws/mutation/metapatch_handler.go
  pkg/handlers/docker/handlers.go
  pkg/handlers/docker/mutation/metapatch_handler.go
  pkg/handlers/eks/handlers.go
  pkg/handlers/eks/mutation/metapatch_handler.go
  pkg/handlers/generic/handlers.go
  pkg/handlers/generic/mutation/metapatch_handler.go
  pkg/handlers/nutanix/handlers.go
  pkg/handlers/nutanix/mutation/metapatch_handler.go
  pkg/handlers/v6/aws/mutation/metapatch_handler.go
  pkg/handlers/v6/docker/mutation/metapatch_handler.go
  pkg/handlers/v6/eks/mutation/handlers.go
  pkg/handlers/v6/eks/mutation/metapatch_handler.go
  pkg/handlers/v6/generic/mutation/handlers.go
  pkg/handlers/v6/generic/mutation/metapatch_handler.go
  pkg/handlers/v6/nutanix/mutation/metapatch_handler.go
Due: go-generate, golangci-lint, chart-docs, hugo-mod-tidy, examples-sync

refactor: copy imageregistries handler to v6
  pkg/handlers/v6/generic/mutation/generic/imageregistries/credentials/credential_provider_config_files.go
  pkg/handlers/v6/generic/mutation/generic/imageregistries/credentials/credential_provider_config_files_test.go
  pkg/handlers/v6/generic/mutation/generic/imageregistries/credentials/credential_provider_install_files.go
  pkg/handlers/v6/generic/mutation/generic/imageregistries/credentials/credential_provider_kubelet_args.go
  pkg/handlers/v6/generic/mutation/generic/imageregistries/credentials/credentialprovider/doc.go
  pkg/handlers/v6/generic/mutation/generic/imageregistries/credentials/credentialprovider/matcher.go
  pkg/handlers/v6/generic/mutation/generic/imageregistries/credentials/credentialprovider/urls.go
  pkg/handlers/v6/generic/mutation/generic/imageregistries/credentials/credentialprovider/urls_test.go
  pkg/handlers/v6/generic/mutation/generic/imageregistries/credentials/credentials_secret.go
  pkg/handlers/v6/generic/mutation/generic/imageregistries/credentials/credentials_secret_test.go
  pkg/handlers/v6/generic/mutation/generic/imageregistries/credentials/doc.go
  pkg/handlers/v6/generic/mutation/generic/imageregistries/credentials/inject.go
  pkg/handlers/v6/generic/mutation/generic/imageregistries/credentials/inject_test.go
  pkg/handlers/v6/generic/mutation/generic/imageregistries/credentials/templates/dynamic-credential-provider-config.yaml.gotmpl
  pkg/handlers/v6/generic/mutation/generic/imageregistries/credentials/templates/install-kubelet-credential-providers.sh.gotmpl
  pkg/handlers/v6/generic/mutation/generic/imageregistries/credentials/templates/kubelet-image-credential-provider-config.yaml.gotmpl
  pkg/handlers/v6/generic/mutation/generic/imageregistries/credentials/templates/static-credential-provider.json.gotmpl
  pkg/handlers/v6/generic/mutation/generic/imageregistries/credentials/variables_test.go
  pkg/handlers/v6/generic/mutation/handlers.go
Due: go-generate, golangci-lint

fixup! refactor: copy imageregistries handler to v6
  pkg/handlers/nutanix/mutation/metapatch_handler.go
  pkg/handlers/v6/generic/mutation/generic/imageregistries/credentials/inject_test.go
  pkg/handlers/v6/nutanix/mutation/metapatch_handler.go
Due: go-generate, golangci-lint

feat: Preflight check for control plane endpoint (#1615)
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/checker_test.go
  pkg/webhook/preflight/nutanix/controlplane.go
  pkg/webhook/preflight/nutanix/controlplane_test.go
Due: go-generate, golangci-lint

feat: add guardrail to avoid vpc for metro
  pkg/webhook/preflight/nutanix/metro.go
  pkg/webhook/preflight/nutanix/metro_test.go
Due: go-generate, golangci-lint

feat: add a dev-VM pre-PR gate
  .gitignore
  .pre-commit-config.yaml
  hack/dev-vm/README.md
  hack/dev-vm/caren-pc-test.sh
  hack/dev-vm/caren-test-vm.sh
Due: none

fix: satisfy the markdown hooks in the dev-VM README
  hack/dev-vm/README.md
Due: none

fix: make the helm suite actually work, and run every CI job by default
  hack/dev-vm/README.md
  hack/dev-vm/caren-pc-test.sh
  hack/dev-vm/caren-test-vm.sh
Due: none

fix: kubeletconfiguration webhook for md override
  pkg/webhook/cluster/kubeletconfiguration_validator.go
  pkg/webhook/cluster/kubeletconfiguration_validator_test.go
Due: go-generate, golangci-lint

refactor: gocyclo validate function
  pkg/webhook/cluster/kubeletconfiguration_validator.go
Due: go-generate, golangci-lint

feat: [NCN-115862] Upgrade Flow CNI to 1.1.0
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
  test/e2e/addon_helpers.go
  test/e2e/cni_helpers.go
Due: go-generate, golangci-lint, chart-docs, addons-sync, addons-repo-yaml

fix: always configure credential provider for dockerhub, unless no-op
  pkg/handlers/generic/mutation/generic/imageregistries/credentials/inject.go
Due: go-generate, golangci-lint

feat: don't trim org prefix for dockerhub nutanix creds
  pkg/handlers/generic/mutation/generic/imageregistries/credentials/credentials_secret.go
  pkg/handlers/generic/mutation/generic/imageregistries/credentials/credentials_secret_test.go
  pkg/handlers/v6/generic/mutation/generic/imageregistries/credentials/credentials_secret.go
Due: go-generate, golangci-lint

fix: don't touch v6 handler, reuse stdlib path function
  pkg/handlers/generic/mutation/generic/imageregistries/credentials/credentials_secret.go
  pkg/handlers/v6/generic/mutation/generic/imageregistries/credentials/credentials_secret.go
Due: go-generate, golangci-lint

chore: add unit test
  pkg/handlers/generic/mutation/generic/imageregistries/credentials/inject_test.go
Due: go-generate, golangci-lint

fix: kubeletconfiguration webhook for md overrides (#1689)
  pkg/webhook/cluster/kubeletconfiguration_validator.go
  pkg/webhook/cluster/kubeletconfiguration_validator_test.go
Due: go-generate, golangci-lint

feat: Dockerhub Integration - Don't trim org prefix for Dockerhub Nutanix registry (#1678)
  pkg/handlers/generic/mutation/generic/imageregistries/credentials/credentials_secret.go
  pkg/handlers/generic/mutation/generic/imageregistries/credentials/credentials_secret_test.go
Due: go-generate, golangci-lint

fix: add unit test, hasDockerRegistry checks both URLs
  api/v1alpha1/constants.go
  pkg/handlers/generic/mutation/generic/imageregistries/credentials/inject.go
  pkg/handlers/generic/mutation/generic/imageregistries/credentials/inject_test.go
Due: go-generate, golangci-lint, kube-api-linter

fix: check full contents of config files in unit tests
  pkg/handlers/generic/mutation/generic/imageregistries/credentials/inject_test.go
Due: go-generate, golangci-lint

feat: Dockerhub Integration - always wire kubelet credential provider by default (#1679)
  api/v1alpha1/constants.go
  pkg/handlers/generic/mutation/generic/imageregistries/credentials/inject.go
  pkg/handlers/generic/mutation/generic/imageregistries/credentials/inject_test.go
Due: go-generate, golangci-lint, kube-api-linter

ci: gate self-hosted e2e behind approval + label for external PRs
  .github/workflows/checks.yml
Due: none

ci: run self-hosted e2e via pull_request_target with an approval gate
  .github/workflows/checks.yml
  .github/workflows/e2e-nutanix.yaml
  .github/workflows/e2e.yml
Due: none

fix(chore): cluster-api bump to v1.10.10-ncn.4
  go.mod
  go.sum
Due: go-generate, golangci-lint

fix(chore): cluster-api bump to v1.10.10-ncn.4 (#1695)
  go.mod
  go.sum
Due: go-generate, golangci-lint

release(release/v0.41.x): v0.41.9
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

release(release/v0.41.x): v0.41.9 (#1696)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

feat: cluster-api bump to v1.10.10-ncn.4
  go.mod
  go.sum
Due: go-generate, golangci-lint

fix: adds missing handlers
  pkg/handlers/v4/generic/mutation/handlers.go
  pkg/handlers/v4/nutanix/mutation/metapatch_handler.go
Due: go-generate, golangci-lint

fix: adds missing handlers (#1700)
  pkg/handlers/v4/generic/mutation/handlers.go
  pkg/handlers/v4/nutanix/mutation/metapatch_handler.go
Due: go-generate, golangci-lint

fix: add LB IPs to CCM ignore list
  pkg/handlers/lifecycle/ccm/nutanix/handler.go
  pkg/handlers/lifecycle/ccm/nutanix/handler_test.go
Due: go-generate, golangci-lint

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  check-coredns-versions: any of: ^api/versions/coredns.go$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  kube-api-linter: any of: ((^api/(.*\.go|go.mod|go.sum))|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/helm-chart-bundler/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$
