Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-configmap

Path conditions:
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-configmap: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+|make/addons.mk$)

fix: set ownerRef on imageRegistry and globalMirror secrets
  pkg/handlers/generic/mutation/imageregistries/credentials/inject.go
Due: golangci-lint

test: ownerReference on static-credential-provider-response Secret
  pkg/handlers/generic/mutation/imageregistries/credentials/inject_test.go
Due: golangci-lint

refactor: avoid abbreviations in function name
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler.go
  pkg/handlers/generic/lifecycle/csi/nutanix-csi/handler.go
  pkg/handlers/generic/mutation/imageregistries/credentials/inject.go
  pkg/handlers/utils/secrets.go
  pkg/handlers/utils/secrets_test.go
Due: golangci-lint

fix: set ownerReference on imageRegistry and globalMirror Secrets (#720)
  pkg/handlers/generic/lifecycle/ccm/aws/handler.go
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/strategy_crs.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/cni/calico/strategy_crs.go
  pkg/handlers/generic/lifecycle/cni/calico/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/cni/cilium/strategy_crs.go
  pkg/handlers/generic/lifecycle/cni/cilium/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/csi/aws-ebs/handler.go
  pkg/handlers/generic/lifecycle/csi/localpath/handler.go
  pkg/handlers/generic/lifecycle/csi/nutanix-csi/handler.go
  pkg/handlers/generic/lifecycle/nfd/strategy_crs.go
  pkg/handlers/generic/lifecycle/nfd/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/serviceloadbalancer/metallb/handler.go
  pkg/handlers/generic/mutation/imageregistries/credentials/inject.go
  pkg/handlers/generic/mutation/imageregistries/credentials/inject_test.go
  pkg/handlers/utils/scs.go
  pkg/handlers/utils/scs_test.go
  pkg/handlers/utils/secrets.go
  pkg/handlers/utils/secrets_test.go
  pkg/handlers/utils/utils.go
  pkg/handlers/utils/utils_integration_test.go
  pkg/handlers/utils/utils_suite_test.go
  pkg/handlers/utils/utils_test.go
Due: golangci-lint

fix: Allow Nutanix CSI snapshot controller & webhook to run on CP nodes
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/nutanix/manifests/helm-addon-installation.yaml
Due: addons-sync, addons-configmap

fix: Allow Nutanix CSI snapshot controller & webhook to run on CP nodes (#723)
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/nutanix/manifests/helm-addon-installation.yaml
Due: addons-sync, addons-configmap

fix: CredentialProviderConfig matchImages for registries with port
  pkg/handlers/generic/mutation/imageregistries/credentials/credential_provider_config_files.go
  pkg/handlers/generic/mutation/imageregistries/credentials/credential_provider_config_files_test.go
  pkg/handlers/generic/mutation/imageregistries/credentials/templates/kubelet-image-credential-provider-config.yaml.gotmpl
Due: golangci-lint

build: Add 'chart-docs' make target
  .pre-commit-config.yaml
  make/helm.mk
Due: none

fix: minor cleanups to use OCI for hcp
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-chart-svc.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  pkg/handlers/generic/lifecycle/nfd/strategy_helmaddon.go
Due: golangci-lint, addons-configmap

fix: precommit failures for helm chart svc
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-chart-svc.yaml
  hack/addons/kustomize/nfd/kustomization.yaml.tmpl
Due: addons-sync, addons-configmap

feat: self host helm charts with mindthegap
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-chart-svc.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
Due: addons-configmap

feat: hide self contained registry behind a flag
  charts/cluster-api-runtime-extensions-nutanix/templates/mindthegap.yaml
Due: addons-configmap

feat: adds a mindthegap container
  hack/tools/mindthegap-helm-reg/main.go
Due: golangci-lint

fix: issues with mindthegap deplotment (#660)
  charts/cluster-api-runtime-extensions-nutanix/templates/mindthegap.yaml
  hack/addons/kustomize/nfd/kustomization.yaml.tmpl
  make/dev.mk
  pkg/handlers/generic/lifecycle/nfd/strategy_helmaddon.go
Due: golangci-lint, addons-sync, addons-configmap

fix: adds TLS for mindthegap
  pkg/handlers/utils/utils.go
Due: golangci-lint

fix: removes retry
  common/pkg/capi/clustertopology/handlers/lifecycle/interfaces.go
  pkg/handlers/generic/lifecycle/ccm/handler.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/handler.go
  pkg/handlers/generic/lifecycle/cni/calico/handler.go
  pkg/handlers/generic/lifecycle/cni/cilium/handler.go
  pkg/handlers/generic/lifecycle/csi/handler.go
  pkg/handlers/generic/lifecycle/nfd/handler.go
  pkg/handlers/generic/lifecycle/serviceloadbalancer/handler.go
Due: golangci-lint

feat: implements BeforeClusterUpgrade hook
  common/pkg/capi/clustertopology/handlers/lifecycle/interfaces.go
  pkg/handlers/generic/lifecycle/ccm/handler.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/handler.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/strategy_crs.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/cni/calico/handler.go
  pkg/handlers/generic/lifecycle/cni/calico/strategy_crs.go
  pkg/handlers/generic/lifecycle/cni/calico/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/cni/cilium/handler.go
  pkg/handlers/generic/lifecycle/cni/cilium/strategy_crs.go
  pkg/handlers/generic/lifecycle/cni/cilium/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/csi/aws-ebs/handler.go
  pkg/handlers/generic/lifecycle/csi/handler.go
  pkg/handlers/generic/lifecycle/csi/nutanix-csi/handler.go
  pkg/handlers/generic/lifecycle/nfd/handler.go
  pkg/handlers/generic/lifecycle/nfd/strategy_crs.go
  pkg/handlers/generic/lifecycle/nfd/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/serviceloadbalancer/handler.go
Due: golangci-lint

fix: linting issues
  pkg/handlers/generic/lifecycle/ccm/handler.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/handler.go
  pkg/handlers/generic/lifecycle/cni/calico/handler.go
  pkg/handlers/generic/lifecycle/cni/cilium/handler.go
  pkg/handlers/generic/lifecycle/csi/handler.go
  pkg/handlers/generic/lifecycle/nfd/handler.go
  pkg/handlers/generic/lifecycle/serviceloadbalancer/handler.go
Due: golangci-lint

feat: self host helm charts with mindthegap
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-chart-svc.yaml
Due: addons-configmap

fix: updates clusterclass examples
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/aws-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
Due: none

fix: issues with mindthegap deplotment (#660)
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-chart-svc.yaml
  hack/tools/mindthegap-helm-reg/main.go
  pkg/handlers/generic/lifecycle/nfd/strategy_helmaddon.go
Due: golangci-lint, addons-configmap

fix: changes name of retry
  common/pkg/capi/clustertopology/handlers/lifecycle/interfaces.go
  pkg/handlers/generic/lifecycle/ccm/handler.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/handler.go
  pkg/handlers/generic/lifecycle/cni/calico/handler.go
  pkg/handlers/generic/lifecycle/cni/cilium/handler.go
  pkg/handlers/generic/lifecycle/csi/handler.go
  pkg/handlers/generic/lifecycle/nfd/handler.go
  pkg/handlers/generic/lifecycle/serviceloadbalancer/handler.go
Due: golangci-lint

fix: adds changes to server to reuse the same handlers
  common/pkg/server/server.go
Due: golangci-lint

fix: adds unique names for each type of ext hook
  common/pkg/server/server.go
Due: golangci-lint

fix: issues with mindthegap deplotment (#660)
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-chart-svc.yaml
  pkg/handlers/generic/lifecycle/nfd/strategy_helmaddon.go
Due: golangci-lint, addons-configmap

fix: minor cleanups to use OCI for hcp
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-chart-svc.yaml
  pkg/handlers/generic/lifecycle/nfd/strategy_helmaddon.go
Due: golangci-lint, addons-configmap

fix: update cluster class names in examples
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/aws-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/docker-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  common/pkg/server/server.go
  hack/examples/overlays/clusterclasses/aws/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/docker/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/nutanix/kustomization.yaml.tmpl
Due: golangci-lint, examples-sync

fix: CredentialProviderConfig matchImages to support registries with port (#724)
  pkg/handlers/generic/mutation/imageregistries/credentials/credential_provider_config_files.go
  pkg/handlers/generic/mutation/imageregistries/credentials/credential_provider_config_files_test.go
  pkg/handlers/generic/mutation/imageregistries/credentials/templates/kubelet-image-credential-provider-config.yaml.gotmpl
Due: golangci-lint

fix: rebase fixes from main
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/templates/mindthegap.yaml
  make/dev.mk
  pkg/handlers/generic/lifecycle/clusterautoscaler/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/cni/calico/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/cni/cilium/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/csi/aws-ebs/handler.go
  pkg/handlers/generic/lifecycle/csi/handler_test.go
  pkg/handlers/generic/lifecycle/csi/localpath/handler.go
  pkg/handlers/generic/lifecycle/csi/nutanix-csi/handler.go
  pkg/handlers/generic/lifecycle/nfd/strategy_helmaddon.go
  pkg/handlers/generic/mutation/imageregistries/credentials/inject_test.go
  pkg/handlers/utils/utils.go
Due: golangci-lint, addons-configmap

feat: implements BeforeClusterUpgrade hook (#682)
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/aws-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/docker-cluster-class.yaml
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  common/pkg/server/server.go
  hack/examples/overlays/clusterclasses/aws/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/docker/kustomization.yaml.tmpl
  hack/examples/overlays/clusterclasses/nutanix/kustomization.yaml.tmpl
  pkg/handlers/generic/lifecycle/ccm/handler.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/handler.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/strategy_crs.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/cni/calico/handler.go
  pkg/handlers/generic/lifecycle/cni/calico/strategy_crs.go
  pkg/handlers/generic/lifecycle/cni/calico/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/cni/cilium/handler.go
  pkg/handlers/generic/lifecycle/cni/cilium/strategy_crs.go
  pkg/handlers/generic/lifecycle/cni/cilium/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/csi/aws-ebs/handler.go
  pkg/handlers/generic/lifecycle/csi/handler.go
  pkg/handlers/generic/lifecycle/csi/handler_test.go
  pkg/handlers/generic/lifecycle/csi/localpath/handler.go
  pkg/handlers/generic/lifecycle/csi/nutanix-csi/handler.go
  pkg/handlers/generic/lifecycle/nfd/handler.go
  pkg/handlers/generic/lifecycle/nfd/strategy_crs.go
  pkg/handlers/generic/lifecycle/nfd/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/serviceloadbalancer/handler.go
  pkg/handlers/generic/mutation/imageregistries/credentials/inject_test.go
Due: golangci-lint, examples-sync

refactor: rename files
  pkg/handlers/generic/mutation/mirrors/containerd_files.go
  pkg/handlers/generic/mutation/mirrors/containerd_files_test.go
Due: golangci-lint

build: Add 'chart-docs' make target (#727)
  .pre-commit-config.yaml
  make/helm.mk
Due: none

build: Make CAREN mindthegap reg multiarch
  .github/workflows/checks.yml
  .github/workflows/e2e.yml
  .github/workflows/release-tag.yml
  .goreleaser.yml
  hack/addons/mindthegap-helm-registry/Dockerfile
Due: addons-sync, addons-configmap

fix: Allow Node Feature Discovery garbage collector to run on control-plane nodes (#722)
  charts/cluster-api-runtime-extensions-nutanix/templates/nfd/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/nfd/manifests/node-feature-discovery-configmap.yaml
  hack/addons/kustomize/nfd/helm-values.yaml
Due: addons-sync, addons-configmap

fixup! simplify file name formatting
  pkg/handlers/generic/mutation/mirrors/containerd_files.go
  pkg/handlers/generic/mutation/mirrors/containerd_files_test.go
  pkg/handlers/generic/mutation/mirrors/inject_test.go
Due: golangci-lint

fix: handle CA certificate for image registries
  api/v1alpha1/constants.go
  api/v1alpha1/zz_generated.deepcopy.go
  docs/content/customization/generic/image-registries.md
  pkg/handlers/generic/mutation/imageregistries/constants.go
  pkg/handlers/generic/mutation/imageregistries/credentials/credential_provider_config_files.go
  pkg/handlers/generic/mutation/imageregistries/credentials/inject.go
  pkg/handlers/generic/mutation/imageregistries/credentials/inject_test.go
  pkg/handlers/generic/mutation/mirrors/constants.go
  pkg/handlers/generic/mutation/mirrors/containerd_files.go
  pkg/handlers/generic/mutation/mirrors/containerd_files_test.go
  pkg/handlers/generic/mutation/mirrors/inject.go
  pkg/handlers/generic/mutation/mirrors/inject_test.go
  pkg/handlers/generic/mutation/mirrors/templates/hosts.toml.gotmpl
  pkg/handlers/utils/secrets.go
Due: golangci-lint, hugo-mod-tidy
