Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-configmap

golangci-lint:
  name: golangci-lint
  entry: make go-generate lint
  language: system
  pass_filenames: false

hugo-mod-tidy:
  name: hugo-mod-tidy
  entry: bash -c "cd docs && hugo mod tidy"
  language: system
  pass_filenames: false

examples-sync:
  name: examples-sync
  entry: make examples.sync
  language: system
  pass_filenames: false

apis-sync:
  name: apis-sync
  entry: make apis.sync
  language: system
  pass_filenames: false

addons-sync:
  name: addons-sync
  entry: make addons.sync
  language: system
  pass_filenames: false

addons-configmap:
  name: addons-configmap
  entry: make generate-helm-configmap
  language: system
  pass_filenames: false

fix: Upgrade dynamic-credential-provider to v0.5.3
  pkg/handlers/generic/mutation/imageregistries/credentials/credential_provider_config_files_test.go
  pkg/handlers/generic/mutation/imageregistries/credentials/credential_provider_install_files.go
  pkg/handlers/generic/mutation/imageregistries/credentials/templates/dynamic-credential-provider-config.yaml.gotmpl
Due: golangci-lint

build: Update all tools
  .pre-commit-config.yaml
  devbox.lock
  hack/flakes/flake.lock
  hack/flakes/flake.nix
Due: none

build: Ignore all gitlint rules for dependabot commits (#675)
  .gitlint
Due: none

build: Update all tools (#678)
  .pre-commit-config.yaml
  devbox.lock
  hack/flakes/flake.lock
  hack/flakes/flake.nix
Due: none

feat: Pull calico images from quay.io instead of docker hub (#676)
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/aws/crs-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/aws/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/docker/crs-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/docker/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/nutanix/crs-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/nutanix/helm-addon-installation.yaml
Due: addons-sync, addons-configmap

build: Use k8s v1.29.4 as default Kubernetes version (#640)
  README.md
  devbox.json
  docs/content/getting-started/create-cluster/aws.md
  docs/content/getting-started/create-cluster/docker.md
  docs/content/getting-started/create-cluster/nutanix.md
  docs/hugo.toml
  make/all.mk
  make/docs.mk
  make/go.mk
  test/e2e/config/caren.yaml
Due: golangci-lint, hugo-mod-tidy

test: Add check for coredns deployment
  test/e2e/coredns_helpers.go
  test/e2e/quick_start_test.go
  test/e2e/self_hosted_test.go
Due: golangci-lint

fix: Upgrade dynamic-credential-provider to v0.5.3 (#677)
  pkg/handlers/generic/mutation/imageregistries/credentials/credential_provider_config_files_test.go
  pkg/handlers/generic/mutation/imageregistries/credentials/credential_provider_install_files.go
  pkg/handlers/generic/mutation/imageregistries/credentials/templates/dynamic-credential-provider-config.yaml.gotmpl
Due: golangci-lint

build: Correct dry-run output
  make/go.mk
Due: golangci-lint

test(e2e): Use upstream CRS helpers
  test/e2e/clusterautoscaler_helpers.go
  test/e2e/clusterresourceset_helpers.go
  test/e2e/cni_helpers.go
  test/e2e/nfd_helpers.go
Due: golangci-lint

test(e2e): Use upstream CRS helpers (#680)
  test/e2e/clusterautoscaler_helpers.go
  test/e2e/clusterresourceset_helpers.go
  test/e2e/cni_helpers.go
  test/e2e/nfd_helpers.go
Due: golangci-lint

build: Correct dry-run output (#679)
  make/go.mk
Due: golangci-lint

feat: update cluster autoscaler to v1.30.0
  charts/cluster-api-runtime-extensions-nutanix/templates/cluster-autoscaler/manifests/cluster-autoscaler-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  make/addons.mk
Due: addons-sync, addons-configmap

feat: update cluster autoscaler to v1.30.0 (#681)
  charts/cluster-api-runtime-extensions-nutanix/templates/cluster-autoscaler/manifests/cluster-autoscaler-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  make/addons.mk
Due: addons-sync, addons-configmap

build: Use k8s v1.29.4 as default Kubernetes version (#646)
  README.md
  devbox.json
  docs/content/getting-started/create-cluster/aws.md
  docs/content/getting-started/create-cluster/docker.md
  docs/content/getting-started/create-cluster/nutanix.md
  docs/hugo.toml
  make/all.mk
  make/docs.mk
  make/go.mk
  test/e2e/config/caren.yaml
  test/e2e/coredns_helpers.go
  test/e2e/quick_start_test.go
  test/e2e/self_hosted_test.go
Due: golangci-lint, hugo-mod-tidy

release(main): v0.9.0 (#597)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

docs: Add released version to helm and clusterctl install
  docs/content/getting-started/deployment/via-clusterctl.md
  docs/content/getting-started/deployment/via-helm.md
Due: hugo-mod-tidy

docs: Add released version to helm and clusterctl install (#683)
  docs/content/getting-started/deployment/via-clusterctl.md
  docs/content/getting-started/deployment/via-helm.md
Due: hugo-mod-tidy

refactor: Delete unused code
  api/v1alpha1/zz_generated.deepcopy.go
  api/variables/enums.go
  api/variables/eums_test.go
  api/variables/json.go
Due: golangci-lint

revert: Temporary lint config fix until next golangci-lint release
  .golangci.yml
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/nodeconfig_types.go
  test/e2e/e2e_suite_test.go
Due: golangci-lint

Revert "build: Temporary lint config fix until next golangci-lint release (#629)" (#686)
  .golangci.yml
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/nodeconfig_types.go
  test/e2e/e2e_suite_test.go
Due: golangci-lint

refactor: Delete unused code (#687)
  api/v1alpha1/zz_generated.deepcopy.go
  api/variables/enums.go
  api/variables/eums_test.go
  api/variables/json.go
Due: golangci-lint

feat: Upgrade to Cilium v1.15.5
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/cilium-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/kustomize/cilium/helm-values.yaml
  make/addons.mk
Due: addons-sync, addons-configmap

feat: Added FailureDomains as mutation in caren
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/nutanix_clusterconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  docs/content/customization/nutanix/failure-domains.md
  pkg/handlers/nutanix/mutation/failuredomains/inject.go
  pkg/handlers/nutanix/mutation/failuredomains/inject_test.go
  pkg/handlers/nutanix/mutation/failuredomains/variables_test.go
  pkg/handlers/nutanix/mutation/metapatch_handler.go
Due: golangci-lint, hugo-mod-tidy

feat: Upgrade to Cilium v1.15.5 (#689)
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/cilium-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/kustomize/cilium/helm-values.yaml
  make/addons.mk
Due: addons-sync, addons-configmap

feat: Upgrade to Calico v3.28.0
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/tigera-operator-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  make/addons.mk
Due: addons-sync, addons-configmap

fixup! fix: Do not render hooks when creating Calico CRS configmap
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/tigera-operator-configmap.yaml
  hack/addons/kustomize/tigera-operator/kustomization.yaml.tmpl
Due: addons-sync, addons-configmap

feat: Upgrade to Calico v3.28.0 (#688)
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/tigera-operator-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/kustomize/tigera-operator/kustomization.yaml.tmpl
  make/addons.mk
Due: addons-sync, addons-configmap

fixup! build: Run go mod tidy
  api/go.mod
  api/go.sum
Due: golangci-lint

feat: bumps caaph
  api/external/sigs.k8s.io/cluster-api-addon-provider-helm/api/v1alpha1/condition_consts.go
  api/external/sigs.k8s.io/cluster-api-addon-provider-helm/api/v1alpha1/helmchartproxy_types.go
  api/external/sigs.k8s.io/cluster-api-addon-provider-helm/api/v1alpha1/helmreleaseproxy_types.go
  api/external/sigs.k8s.io/cluster-api-addon-provider-helm/api/v1alpha1/zz_generated.deepcopy.go
  hack/third-party/caaph/go.mod
  hack/third-party/caaph/go.sum
Due: golangci-lint, apis-sync

refactor: Reduce log verbosity for skipped handlers
  pkg/handlers/generic/lifecycle/ccm/handler.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/handler.go
  pkg/handlers/generic/lifecycle/cni/calico/handler.go
  pkg/handlers/generic/lifecycle/cni/calico/strategy_crs.go
  pkg/handlers/generic/lifecycle/cni/cilium/handler.go
  pkg/handlers/generic/lifecycle/csi/handler.go
  pkg/handlers/generic/lifecycle/nfd/handler.go
  pkg/handlers/generic/lifecycle/serviceloadbalancer/handler.go
Due: golangci-lint

feat: bumps caaph to v0.2.3 (#691)
  api/external/sigs.k8s.io/cluster-api-addon-provider-helm/api/v1alpha1/condition_consts.go
  api/external/sigs.k8s.io/cluster-api-addon-provider-helm/api/v1alpha1/helmchartproxy_types.go
  api/external/sigs.k8s.io/cluster-api-addon-provider-helm/api/v1alpha1/helmreleaseproxy_types.go
  api/external/sigs.k8s.io/cluster-api-addon-provider-helm/api/v1alpha1/zz_generated.deepcopy.go
  hack/third-party/caaph/go.mod
  hack/third-party/caaph/go.sum
Due: golangci-lint, apis-sync

feat: Add local-path-provisioner CSI
  api/v1alpha1/addon_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  examples/capi-quick-start/docker-cluster-calico-crs.yaml
  examples/capi-quick-start/docker-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/docker-cluster-cilium-crs.yaml
  examples/capi-quick-start/docker-cluster-cilium-helm-addon.yaml
  hack/addons/kustomize/local-path-provisioner-csi/kustomization.yaml.tmpl
  hack/examples/bases/docker/cluster/kustomization.yaml.tmpl
  hack/examples/patches/docker/csi.yaml
  make/addons.mk
  pkg/handlers/generic/lifecycle/config/cm.go
  pkg/handlers/generic/lifecycle/csi/handler.go
  pkg/handlers/generic/lifecycle/csi/localpath/handler.go
  pkg/handlers/generic/lifecycle/handlers.go
Due: golangci-lint, examples-sync, addons-sync, addons-configmap

fix: Remove resource name stutter in aws-quick-start ClusterClass
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/aws-cluster-class.yaml
Due: none

fix: Remove resource name stutter in docker-quick-start ClusterClass
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/docker-cluster-class.yaml
Due: none

fix: Remove resource name stutter in docker-quick-start ClusterClass
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
Due: none

feat: Add local-path-provisioner CSI (#693)
  api/v1alpha1/addon_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  examples/capi-quick-start/docker-cluster-calico-crs.yaml
  examples/capi-quick-start/docker-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/docker-cluster-cilium-crs.yaml
  examples/capi-quick-start/docker-cluster-cilium-helm-addon.yaml
  hack/addons/kustomize/local-path-provisioner-csi/kustomization.yaml.tmpl
  hack/examples/bases/docker/cluster/kustomization.yaml.tmpl
  hack/examples/patches/docker/csi.yaml
  make/addons.mk
  pkg/handlers/generic/lifecycle/config/cm.go
  pkg/handlers/generic/lifecycle/csi/handler.go
  pkg/handlers/generic/lifecycle/csi/localpath/handler.go
  pkg/handlers/generic/lifecycle/handlers.go
Due: golangci-lint, examples-sync, addons-sync, addons-configmap

fix: Post-process clusterconfig CRDs for supported CSI providers
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  make/addons.mk
  make/go.mk
Due: golangci-lint, addons-sync, addons-configmap

fixup! docs: Explain CSI provider make variables
  make/addons.mk
Due: addons-sync, addons-configmap

refactor: Reduce log verbosity for skipped handlers (#692)
  pkg/handlers/generic/lifecycle/ccm/handler.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/handler.go
  pkg/handlers/generic/lifecycle/cni/calico/handler.go
  pkg/handlers/generic/lifecycle/cni/calico/strategy_crs.go
  pkg/handlers/generic/lifecycle/cni/cilium/handler.go
  pkg/handlers/generic/lifecycle/nfd/handler.go
  pkg/handlers/generic/lifecycle/serviceloadbalancer/handler.go
Due: golangci-lint

Path conditions:
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-configmap: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+|make/addons.mk$)
