Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-configmap

Path conditions:
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-configmap: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+|make/addons.mk$)

docs: Add file extension to containerd-metrics doc
  docs/content/customization/generic/containerd-metrics.md
Due: hugo-mod-tidy

fix: set defaults for AWS CP and Worker instanceType
  api/v1alpha1/aws_node_types.go
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/node_types.go
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/aws-cluster-class.yaml
  hack/examples/overlays/clusterclasses/aws/kustomization.yaml.tmpl
  pkg/handlers/aws/clusterconfig/variables.go
  pkg/handlers/aws/mutation/ami/variables_test.go
  pkg/handlers/aws/mutation/controlplaneloadbalancer/variables_test.go
  pkg/handlers/aws/mutation/iaminstanceprofile/variables_test.go
  pkg/handlers/aws/mutation/instancetype/variables_test.go
  pkg/handlers/aws/mutation/network/variables_test.go
  pkg/handlers/aws/mutation/region/variables_test.go
  pkg/handlers/aws/mutation/securitygroups/variables_test.go
  pkg/handlers/aws/workerconfig/variables.go
  pkg/handlers/aws/workerconfig/variables_test.go
Due: golangci-lint, examples-sync

fix: updated go mod to 1.22.2
  hack/third-party/capx/go.mod
Due: golangci-lint, apis-sync

fix: marshal instance type using generic function
  api/v1alpha1/aws_node_types.go
Due: golangci-lint

feat: use CAREN to set default cert SANS
  api/v1alpha1/clusterconfig_types.go
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/docker-cluster-class.yaml
  hack/examples/bases/docker/clusterclass/kustomization.yaml.tmpl
  pkg/handlers/generic/mutation/extraapiservercertsans/inject.go
  pkg/handlers/generic/mutation/handlers.go
Due: golangci-lint, examples-sync

docs: add pull request template for the repository (#502)
  .github/pull_request_template.md
  .pre-commit-config.yaml
Due: none

docs: Add file extension to containerd-metrics doc (#503)
  docs/content/customization/generic/containerd-metrics.md
Due: hugo-mod-tidy

fix: adds client to test
  pkg/handlers/generic/mutation/extraapiservercertsans/inject_test.go
Due: golangci-lint

fix: unit tests for extrasans
  pkg/handlers/generic/mutation/extraapiservercertsans/inject.go
  pkg/handlers/generic/mutation/extraapiservercertsans/inject_test.go
  pkg/handlers/generic/mutation/handlers.go
Due: golangci-lint

fix: remove spec
  pkg/handlers/generic/mutation/extraapiservercertsans/inject.go
  pkg/handlers/generic/mutation/extraapiservercertsans/inject_test.go
Due: golangci-lint

feat: set docker default API server cert SANs
  pkg/handlers/docker/mutation/dockerapiservercertsans/inject.go
  pkg/handlers/docker/mutation/metapatch_handler.go
  pkg/handlers/generic/mutation/extraapiservercertsans/inject.go
Due: golangci-lint

fixup! feat: Sync up CAPA APIs
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/types.go
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/zz_generated.deepcopy.go
Due: golangci-lint, apis-sync

fixup! build: Run go mod tidy
  common/go.mod
  common/go.sum
Due: golangci-lint

fixup! feat: Sync up CAPX APIs
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixcluster_types.go
  hack/third-party/capx/go.mod
Due: golangci-lint, apis-sync

fix: set defaults for AWS CP and Worker instanceType (#504)
  api/v1alpha1/aws_node_types.go
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/node_types.go
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/aws-cluster-class.yaml
  hack/examples/overlays/clusterclasses/aws/kustomization.yaml.tmpl
  pkg/handlers/aws/clusterconfig/variables.go
  pkg/handlers/aws/mutation/ami/variables_test.go
  pkg/handlers/aws/mutation/controlplaneloadbalancer/variables_test.go
  pkg/handlers/aws/mutation/iaminstanceprofile/variables_test.go
  pkg/handlers/aws/mutation/instancetype/variables_test.go
  pkg/handlers/aws/mutation/network/variables_test.go
  pkg/handlers/aws/mutation/region/variables_test.go
  pkg/handlers/aws/mutation/securitygroups/variables_test.go
  pkg/handlers/aws/workerconfig/variables.go
  pkg/handlers/aws/workerconfig/variables_test.go
Due: golangci-lint, examples-sync

build: set dockerhub credentials for Nutanix examples (#501)
  examples/capi-quick-start/nutanix-cluster-calico-crs.yaml
  examples/capi-quick-start/nutanix-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  hack/examples/additional-resources/dockerhub-secret.yaml
  hack/examples/bases/nutanix/cluster/kustomization.yaml.tmpl
  hack/examples/patches/dockerhub-image-registry.yaml
Due: examples-sync

feat: set default instance profile for AWS CP and worker nodes
  api/v1alpha1/aws_node_types.go
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/aws-cluster-class.yaml
  hack/examples/overlays/clusterclasses/aws/kustomization.yaml.tmpl
Due: golangci-lint, examples-sync

feat: set default instance profile for AWS CP and worker nodes (#506)
  api/v1alpha1/aws_node_types.go
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/aws-cluster-class.yaml
  hack/examples/overlays/clusterclasses/aws/kustomization.yaml.tmpl
Due: golangci-lint, examples-sync

build: Add metadata for latest v0.7.0 release
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: none

build: Specify go1.22.2 as toolchain to fix govulncheck issues
  api/go.mod
  common/go.mod
  go.mod
Due: golangci-lint

fix: Update examples for CAPX v1.4.0-alpha.2
  hack/examples/bases/nutanix/cluster/kustomization.yaml.tmpl
  hack/examples/bases/nutanix/clusterclass/kustomization.yaml.tmpl
Due: examples-sync

fix: updated the capx version used (#513)
  hack/examples/bases/nutanix/cluster/kustomization.yaml.tmpl
  hack/examples/bases/nutanix/clusterclass/kustomization.yaml.tmpl
Due: examples-sync

refactor: Consistently import CAPI v1beta1 package as clusterv1 alias
  .golangci.yml
  cmd/main.go
  common/pkg/capi/apis/schemes.go
  common/pkg/capi/clustertopology/handlers/helpers.go
  common/pkg/testutils/capitest/patches.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/cni/calico/strategy_crs.go
  pkg/handlers/generic/lifecycle/cni/calico/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/cni/cilium/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/cni/cluster.go
  pkg/handlers/generic/lifecycle/nfd/strategy_helmaddon.go
  pkg/handlers/generic/mutation/httpproxy/inject.go
  pkg/handlers/generic/mutation/httpproxy/inject_test.go
  pkg/handlers/nutanix/mutation/controlplaneendpoint/inject.go
  test/e2e/addon_helpers.go
  test/e2e/clusterresourceset_helpers.go
  test/e2e/cni_helpers.go
  test/e2e/nfd_helpers.go
Due: golangci-lint

build: Specify go1.22.2 as toolchain to fix govulncheck issues (#517)
  api/go.mod
  common/go.mod
  go.mod
Due: golangci-lint

build: Add metadata for latest v0.7.0 release (#515)
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: none

refactor: Consistently import CAPI v1beta1 package as clusterv1 alias (#518)
  .golangci.yml
  cmd/main.go
  common/pkg/capi/apis/schemes.go
  common/pkg/capi/clustertopology/handlers/helpers.go
  common/pkg/testutils/capitest/patches.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/cni/calico/strategy_crs.go
  pkg/handlers/generic/lifecycle/cni/calico/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/cni/cilium/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/cni/cluster.go
  pkg/handlers/generic/lifecycle/nfd/strategy_helmaddon.go
  pkg/handlers/generic/mutation/httpproxy/inject.go
  pkg/handlers/generic/mutation/httpproxy/inject_test.go
  pkg/handlers/nutanix/mutation/controlplaneendpoint/inject.go
  test/e2e/addon_helpers.go
  test/e2e/clusterresourceset_helpers.go
  test/e2e/cni_helpers.go
  test/e2e/nfd_helpers.go
Due: golangci-lint

build: Fix image tags in release manifests
  .goreleaser.yml
Due: none

build: Fix image tags in release manifests (#516)
  .goreleaser.yml
Due: none

fix: double import linter
  pkg/handlers/generic/mutation/extraapiservercertsans/inject.go
Due: golangci-lint

test(e2e): Use same versions of providers from module dependencies
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caaph/metadata.yaml
  test/e2e/e2e_suite_test.go
Due: golangci-lint

test(e2e): Use same versions of providers from module dependencies (#521)
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caaph/metadata.yaml
  test/e2e/e2e_suite_test.go
Due: golangci-lint

ci: Add permissions to add PR review comments for reviewdog actions
  .github/workflows/checks.yml
Due: none

fix: remove default certSANs
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/docker-cluster-class.yaml
  hack/examples/bases/docker/clusterclass/kustomization.yaml.tmpl
Due: examples-sync

fix: remove apiServer from docker cluster class
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/docker-cluster-class.yaml
  hack/examples/bases/docker/clusterclass/kustomization.yaml.tmpl
Due: examples-sync

fix: adds API types
  api/v1alpha1/clusterconfig_types.go
Due: golangci-lint

feat: use cluster object to get default sans
  pkg/handlers/generic/mutation/extraapiservercertsans/inject.go
  pkg/handlers/generic/mutation/extraapiservercertsans/inject_test.go
Due: golangci-lint

refactor: various cleanups from code review
  common/pkg/capi/utils/utils.go
  pkg/handlers/generic/mutation/extraapiservercertsans/inject.go
Due: golangci-lint

ci: Add permissions to add PR review comments for reviewdog actions (#520)
  .github/workflows/checks.yml
Due: none
