Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, check-coredns-versions, golangci-lint, kube-api-linter, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock

schema-chart:
  name: schema-chart
  entry: make schema-chart
  language: system

go-generate:
  name: go-generate
  entry: make go-generate
  language: system
  pass_filenames: false

check-coredns-versions:
  name: check-coredns-versions
  entry: make coredns.sync
  language: system

golangci-lint:
  name: golangci-lint
  entry: make lint
  language: system
  pass_filenames: false

kube-api-linter:
  name: kube-api-linter
  entry: make lint-kube-api
  language: system
  pass_filenames: false

chart-docs:
  name: chart-docs
  entry: make chart-docs
  language: system
  pass_filenames: false

hugo-mod-tidy:
  name: hugo-mod-tidy
  entry: bash -c "cd docs && hugo mod tidy"
  language: system
  pass_filenames: false

examples-sync:
  name: examples-sync
  entry: make examples.sync
  language: system
  pass_filenames: false

apis-sync:
  name: apis-sync
  entry: make apis.sync
  language: system
  pass_filenames: false

addons-sync:
  name: addons-sync
  entry: make addons.sync
  language: system
  pass_filenames: false

addons-repo-yaml:
  name: addons-repo-yaml
  entry: make template-helm-repository
  language: system
  pass_filenames: false

check-devbox-lock:
  name: check-devbox-lock
  entry: devbox install
  language: system
  pass_filenames: false

fixup! build(deps): Bump sigs.k8s.io/cluster-api-addon-provider-helm
  api/external/sigs.k8s.io/cluster-api-addon-provider-helm/api/v1alpha1/zz_generated.deepcopy.go
Due: go-generate, golangci-lint, kube-api-linter, apis-sync

feat: [NCN-114349] Label addon namespaces with privileged PSA (#1625)
  .specify/features/NCN-114349/plan.md
  .specify/features/NCN-114349/spec.md
  docs/content/addons/konnector-agent.md
  docs/content/addons/nfd.md
  pkg/handlers/lifecycle/csi/nutanix/handler.go
  pkg/handlers/lifecycle/konnectoragent/handler.go
  pkg/handlers/lifecycle/nfd/handler.go
  pkg/handlers/utils/utils.go
  pkg/handlers/utils/utils_integration_test.go
Due: go-generate, golangci-lint, hugo-mod-tidy

feat: [NCN-113518] Add enforceNodeAllocatable field
  .specify/features/NCN-113518/plan.md
  .specify/features/NCN-113518/spec.md
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  api/v1alpha1/kubelet_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  docs/content/customization/kubeadm/kubelet-configuration.md
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/embedded/kubeletconfigpatch.yaml.tmpl
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_controlplane_test.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/inject_worker_test.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/kubelet_config.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/kubelet_config_test.go
Due: go-generate, golangci-lint, kube-api-linter, hugo-mod-tidy

docs: [NCN-113518] Clarify enforceNodeAllocatable behavior
  docs/content/customization/kubeadm/kubelet-configuration.md
Due: hugo-mod-tidy

docs: [NCN-113518] Clarify reservation behavior in spec
  .specify/features/NCN-113518/spec.md
Due: none

feat: [NCN-113518] Add compressible enforcement variants
  .specify/features/NCN-113518/plan.md
  .specify/features/NCN-113518/spec.md
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  api/v1alpha1/kubelet_types.go
  docs/content/customization/kubeadm/kubelet-configuration.md
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/kubelet_config.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/kubelet_config_test.go
  pkg/handlers/generic/mutation/kubeadm/kubeletconfiguration/variables_test.go
Due: go-generate, golangci-lint, kube-api-linter, hugo-mod-tidy

docs: [NCN-113518] Align spec and plan with implementation
  .specify/features/NCN-113518/plan.md
  .specify/features/NCN-113518/spec.md
Due: none

docs: Improve kubelet configuration documentation
  docs/content/customization/kubeadm/kubelet-configuration.md
Due: hugo-mod-tidy

docs: Add compressible variants to reference table
  docs/content/customization/kubeadm/kubelet-configuration.md
Due: hugo-mod-tidy

fix: Surface Cluster topology patch decode failures
  common/pkg/capi/clustertopology/patches/generator.go
  common/pkg/capi/clustertopology/patches/generator_test.go
Due: go-generate, golangci-lint

fixup! build(deps): Bump the all-go-mod-patch-and-minor group across 4 directories with 12 updates
  api/go.sum
Due: go-generate, golangci-lint, kube-api-linter

fix: error includes gvk of the unstructured object
  common/pkg/capi/clustertopology/patches/generator.go
  common/pkg/capi/clustertopology/patches/generator_test.go
Due: go-generate, golangci-lint

fix: Surface Cluster topology patch decode failures (#1627)
  common/pkg/capi/clustertopology/patches/generator.go
  common/pkg/capi/clustertopology/patches/generator_test.go
Due: go-generate, golangci-lint

fixup! build(deps): Bump the all-go-mod-patch-and-minor group across 4 directories with 13 updates
  api/go.sum
Due: go-generate, golangci-lint, kube-api-linter

build(deps): Bump golang.org/x/net to v0.55.0 to fix GO-2026-5026
  api/go.mod
  api/go.sum
  common/go.mod
  common/go.sum
  go.mod
  go.sum
Due: go-generate, golangci-lint, kube-api-linter

fixup! ci: Upload e2e test artifacts
  .github/workflows/e2e.yml
Due: none

fixup! ci: Upload e2e test artifacts
  .github/workflows/checks.yml
  .github/workflows/e2e.yml
Due: none

ci: Upload e2e test artifacts
  .github/workflows/e2e.yml
Due: none

Revert "fixup! ci: Upload e2e test artifacts"
  .github/workflows/checks.yml
  .github/workflows/e2e.yml
Due: none

ci: Add --ignore-scripts and isolate docs build workflow
  .github/workflows/github-pages.yml
Due: none

refactor: pass oldCluster to preflight checker
  pkg/webhook/preflight/README.md
  pkg/webhook/preflight/generic/checker.go
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/checker_test.go
  pkg/webhook/preflight/preflight.go
  pkg/webhook/preflight/preflight_test.go
Due: go-generate, golangci-lint

build: add a extra SAN in Kind cluster
  hack/kind/kind-base-config.yaml
Due: none

fix: Summarize preflight failures in result message
  pkg/webhook/preflight/preflight.go
  pkg/webhook/preflight/preflight_test.go
Due: go-generate, golangci-lint

fix: Summarize preflight failures in result message (#1633)
  pkg/webhook/preflight/preflight.go
  pkg/webhook/preflight/preflight_test.go
Due: go-generate, golangci-lint

ci: Add --ignore-scripts and isolate docs build workflow (#1629)
  .github/workflows/github-pages.yml
Due: none

feat: update Nutanix CSI version to 3.7.1
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

feat: update Nutanix CSI version to 3.7.1 (#1635)
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

release(main): v0.49.0
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

fixup! release: Update metadata for release
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/caren/metadata.yaml
Due: none

release(main): v0.49.0 (#1636)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/caren/metadata.yaml
Due: hugo-mod-tidy

build: add a extra SAN in Kind cluster (#1631)
  hack/kind/kind-base-config.yaml
Due: none

build: Bump Go toolchain to go1.26.4 to address stdlib CVEs
  api/go.mod
  common/go.mod
  go.mod
  hack/tools/go.mod
  hack/tools/go.sum
Due: go-generate, golangci-lint, kube-api-linter

fixup! refactor: pass oldCluster to preflight checker
  pkg/webhook/preflight/generic/checker.go
  pkg/webhook/preflight/nutanix/checker.go
Due: go-generate, golangci-lint

fixup! refactor: pass oldCluster to preflight checker
  pkg/webhook/preflight/README.md
Due: none

refactor: pass oldCluster to preflight checker (#1630)
  pkg/webhook/preflight/README.md
  pkg/webhook/preflight/generic/checker.go
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/checker_test.go
  pkg/webhook/preflight/preflight.go
  pkg/webhook/preflight/preflight_test.go
Due: go-generate, golangci-lint

build: Bump Go toolchain to go1.26.4 to address stdlib CVEs (#1637)
  api/go.mod
  common/go.mod
  go.mod
  hack/tools/go.mod
  hack/tools/go.sum
Due: go-generate, golangci-lint, kube-api-linter

fix: return metalLB config apply conflict errors
  pkg/handlers/lifecycle/serviceloadbalancer/metallb/handler.go
Due: go-generate, golangci-lint

fix: return metalLB config apply conflict errors (#1643)
  pkg/handlers/lifecycle/serviceloadbalancer/metallb/handler.go
Due: go-generate, golangci-lint

fix: remediate CVEs by upgrading golang.org/x/crypto
  go.mod
  go.sum
Due: go-generate, golangci-lint

fix: Fail servicelbgc handler when internal function returns an error
  pkg/handlers/lifecycle/servicelbgc/handler.go
  pkg/handlers/lifecycle/servicelbgc/handler_test.go
Due: go-generate, golangci-lint

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  check-coredns-versions: any of: ^api/versions/coredns.go$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  kube-api-linter: any of: ((^api/(.*\.go|go.mod|go.sum))|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/helm-chart-bundler/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$
