Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, check-coredns-versions, golangci-lint, kube-api-linter, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock

schema-chart:
  name: schema-chart
  entry: make schema-chart
  language: system

go-generate:
  name: go-generate
  entry: make go-generate
  language: system
  pass_filenames: false

check-coredns-versions:
  name: check-coredns-versions
  entry: make coredns.sync
  language: system

golangci-lint:
  name: golangci-lint
  entry: make lint
  language: system
  pass_filenames: false

kube-api-linter:
  name: kube-api-linter
  entry: make lint-kube-api
  language: system
  pass_filenames: false

chart-docs:
  name: chart-docs
  entry: make chart-docs
  language: system
  pass_filenames: false

hugo-mod-tidy:
  name: hugo-mod-tidy
  entry: bash -c "cd docs && hugo mod tidy"
  language: system
  pass_filenames: false

examples-sync:
  name: examples-sync
  entry: make examples.sync
  language: system
  pass_filenames: false

apis-sync:
  name: apis-sync
  entry: make apis.sync
  language: system
  pass_filenames: false

addons-sync:
  name: addons-sync
  entry: make addons.sync
  language: system
  pass_filenames: false

addons-repo-yaml:
  name: addons-repo-yaml
  entry: make template-helm-repository
  language: system
  pass_filenames: false

check-devbox-lock:
  name: check-devbox-lock
  entry: devbox install
  language: system
  pass_filenames: false

feat: [NCN-101538] Add PodSecurityAdmission API types
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_kubeadmclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/pod_security_admission_types.go
  api/v1alpha1/zz_generated.deepcopy.go
Due: go-generate, golangci-lint, kube-api-linter

feat: [NCN-101538] Add PodSecurityAdmission mutation handler
  pkg/handlers/generic/mutation/handlers.go
  pkg/handlers/generic/mutation/kubeadm/podsecurityadmission/inject.go
  pkg/handlers/generic/mutation/kubeadm/podsecurityadmission/inject_test.go
Due: go-generate, golangci-lint

docs: [NCN-101538] Add Pod Security Admission documentation
  docs/content/customization/kubeadm/pod-security-admission.md
Due: hugo-mod-tidy

build: Add Cursor IDE rules and Specify config (#1497)
  .cursor/commands/speckit.analyze.md
  .cursor/commands/speckit.checklist.md
  .cursor/commands/speckit.clarify.md
  .cursor/commands/speckit.constitution.md
  .cursor/commands/speckit.implement.md
  .cursor/commands/speckit.plan.md
  .cursor/commands/speckit.specify.md
  .cursor/commands/speckit.tasks.md
  .cursor/commands/speckit.taskstoissues.md
  .cursor/rules/copyright-header.mdc
  .cursor/rules/fast-track.mdc
  .cursor/rules/feature-specs.mdc
  .cursor/rules/git-conventions.mdc
  .cursor/rules/handler-documentation.mdc
  .cursor/rules/handler-version-safety.mdc
  .cursor/rules/markdown-quality.mdc
  .cursor/rules/spec-driven-development.mdc
  .cursor/rules/tone-and-interaction.mdc
  .gitignore
  .pre-commit-config.yaml
  .specify/init-options.json
  .specify/integration.json
  .specify/integrations/cursor-agent.manifest.json
  .specify/integrations/cursor-agent/scripts/update-context.ps1
  .specify/integrations/cursor-agent/scripts/update-context.sh
  .specify/integrations/speckit.manifest.json
  .specify/memory/constitution.md
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  .specify/templates/agent-file-template.md
  .specify/templates/checklist-template.md
  .specify/templates/constitution-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
Due: none

build: update Go toolchain to 1.26.2 to fix CVEs
  api/go.mod
  common/go.mod
  docs/go.mod
  go.mod
  hack/tools/go.mod
Due: go-generate, golangci-lint, kube-api-linter, hugo-mod-tidy

fix: properly handle v1beta1 types in webhooks
  charts/cluster-api-runtime-extensions-nutanix/templates/webhooks.yaml
  cmd/main.go
  pkg/webhook/addons/doc.go
  pkg/webhook/addons/registry/webhook_suite_test.go
  pkg/webhook/cluster/doc.go
  pkg/webhook/cluster/webhook_suite_test.go
  pkg/webhook/preflight/doc.go
Due: go-generate, golangci-lint, chart-docs

fix(caren): fix unit tests
  pkg/handlers/lifecycle/konnectoragent/variables_test.go
Due: go-generate, golangci-lint

fix(caren): fix e2e tests
  test/e2e/helmreleaseproxy_helpers.go
Due: go-generate, golangci-lint

fix(caren): fix failing e2e tests
  pkg/handlers/lifecycle/konnectoragent/variables_test.go
Due: go-generate, golangci-lint

fix(caren): EnableKubeconfigUpload false for Cilium/Calico
  examples/capi-quick-start/nutanix-cluster-calico-crs.yaml
  examples/capi-quick-start/nutanix-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-with-failuredomains-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-with-failuredomains-cilium-helm-addon.yaml
Due: examples-sync

fix(caren): add generated files
  examples/capi-quick-start/nutanix-cluster-calico-crs.yaml
  examples/capi-quick-start/nutanix-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-with-failuredomains-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-with-failuredomains-cilium-helm-addon.yaml
Due: examples-sync

fix(caren): fix e2e tests failure
  charts/cluster-api-runtime-extensions-nutanix/addons/konnector-agent/values-template.yaml
  hack/tools/fetch-images/main.go
  pkg/handlers/lifecycle/konnectoragent/handler.go
  pkg/handlers/lifecycle/konnectoragent/variables_test.go
Due: go-generate, golangci-lint, chart-docs

fix(caren): image version changes
  charts/cluster-api-runtime-extensions-nutanix/addons/konnector-agent/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/konnector-agent/kustomization.yaml.tmpl
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

fix(caren): fix versions and url
  charts/cluster-api-runtime-extensions-nutanix/addons/konnector-agent/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/konnector-agent/kustomization.yaml.tmpl
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

fix(caren): fix url
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
Due: chart-docs

fix(caren): fix precommit failure
  charts/cluster-api-runtime-extensions-nutanix/addons/konnector-agent/values-template.yaml
  hack/tools/fetch-images/main.go
Due: go-generate, golangci-lint, chart-docs

fix(caren): set prismCredentialsSecretName
  charts/cluster-api-runtime-extensions-nutanix/addons/konnector-agent/values-template.yaml
  hack/tools/fetch-images/main.go
Due: go-generate, golangci-lint, chart-docs

fix(caren): fix failing tests
  api/v1alpha1/addon_types.go
  charts/cluster-api-runtime-extensions-nutanix/addons/konnector-agent/values-template.yaml
  hack/tools/fetch-images/main.go
  pkg/handlers/lifecycle/konnectoragent/handler.go
  pkg/handlers/lifecycle/konnectoragent/variables_test.go
Due: go-generate, golangci-lint, kube-api-linter, chart-docs

fix(caren): fix tests
  api/v1alpha1/addon_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_kubeadmclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  pkg/handlers/lifecycle/konnectoragent/handler.go
Due: go-generate, golangci-lint, kube-api-linter

Revert "fix(caren): fix tests"
  api/v1alpha1/addon_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_kubeadmclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  pkg/handlers/lifecycle/konnectoragent/handler.go
Due: go-generate, golangci-lint, kube-api-linter

fix(caren): pass prismCredentialsSecretName
  pkg/handlers/lifecycle/konnectoragent/handler.go
Due: go-generate, golangci-lint

fix(caren): addede req crd
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
Due: none

fix(caren): fix
  pkg/handlers/lifecycle/konnectoragent/handler.go
Due: go-generate, golangci-lint

fix(caren); remove prismCredentialsSecretName API
  api/v1alpha1/addon_types.go
  hack/tools/fetch-images/main.go
  pkg/handlers/lifecycle/konnectoragent/handler.go
  pkg/handlers/lifecycle/konnectoragent/variables_test.go
Due: go-generate, golangci-lint, kube-api-linter

fix(caren): add crds
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
Due: none

feat: bump up Konnector to 1.4.0-rc.1 (#1571)
  charts/cluster-api-runtime-extensions-nutanix/addons/konnector-agent/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/konnector-agent/kustomization.yaml.tmpl
  hack/tools/fetch-images/main.go
  make/addons.mk
  pkg/handlers/lifecycle/konnectoragent/handler.go
  pkg/handlers/lifecycle/konnectoragent/variables_test.go
Due: go-generate, golangci-lint, chart-docs, addons-sync, addons-repo-yaml

fix: add recent released verson in e2e config
  test/e2e/config/caren.yaml
Due: none

release(main): v0.46.0
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

fix: updating required placeholder data
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/caren/metadata.yaml
Due: none

release(main): v0.46.0 (#1578)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/caren/metadata.yaml
Due: hugo-mod-tidy

fixup! fix: properly handle v1beta1 types in webhooks
  charts/cluster-api-runtime-extensions-nutanix/templates/webhooks.yaml
  cmd/main.go
  pkg/webhook/addons/doc.go
  pkg/webhook/cluster/doc.go
  pkg/webhook/cluster/webhook_suite_test.go
  pkg/webhook/preflight/doc.go
Due: go-generate, golangci-lint, chart-docs

build: update Go toolchain to 1.26.2 to fix CVEs (#1574)
  api/go.mod
  common/go.mod
  docs/go.mod
  go.mod
  hack/tools/go.mod
Due: go-generate, golangci-lint, kube-api-linter, hugo-mod-tidy

fixup! fix: properly handle v1beta1 types in webhooks
  charts/cluster-api-runtime-extensions-nutanix/templates/webhooks.yaml
  hack/update-webhook-configurations.yq
Due: chart-docs

change url to mesosphere
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/konnector-agent/kustomization.yaml.tmpl
Due: chart-docs, addons-sync, addons-repo-yaml

fix(caren): fixed the url
  hack/addons/helm-chart-bundler/repos.yaml
Due: addons-sync, addons-repo-yaml

replace 1.4.0-rc.1 to 1.4.0
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  make/addons.mk
Due: chart-docs, addons-sync

fix(caren): fix precommit
  hack/addons/helm-chart-bundler/repos.yaml
Due: addons-sync, addons-repo-yaml

fix: properly handle v1beta1 types in webhooks (#1575)
  charts/cluster-api-runtime-extensions-nutanix/templates/webhooks.yaml
  cmd/main.go
  hack/update-webhook-configurations.yq
  pkg/webhook/addons/doc.go
  pkg/webhook/addons/registry/webhook_suite_test.go
  pkg/webhook/cluster/doc.go
  pkg/webhook/cluster/webhook_suite_test.go
  pkg/webhook/preflight/doc.go
Due: go-generate, golangci-lint, chart-docs

fixup! build: Update all modules to CAPI 1.12.5, including CAPI test
  api/go.mod
  api/go.sum
  common/go.mod
  common/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  make/go.mk
Due: go-generate, golangci-lint, kube-api-linter

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  check-coredns-versions: any of: ^api/versions/coredns.go$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  kube-api-linter: any of: ((^api/(.*\.go|go.mod|go.sum))|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/helm-chart-bundler/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$
