Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-configmap

Path conditions:
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-configmap: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+|make/addons.mk$)

build: adds a helper makefile target to generate .envrc.local
  make/dev.mk
Due: none

fix: better error message
  pkg/handlers/generic/lifecycle/utils/scs.go
Due: golangci-lint

fix: apply suggestion from review
  pkg/handlers/generic/lifecycle/utils/scs.go
Due: golangci-lint

refactor: create storage classes directly instead of using CRS (#539)
  pkg/handlers/generic/lifecycle/csi/aws-ebs/handler.go
  pkg/handlers/generic/lifecycle/csi/nutanix-csi/handler.go
  pkg/handlers/generic/lifecycle/utils/scs.go
Due: golangci-lint

build: create .envrc.e2e file from caren e2e config
  .envrc
  make/dev.mk
Due: none

refactor: Move API to caren.nutanix.com group (#534)
  PROJECT
  api/v1alpha1/doc.go
  api/v1alpha1/groupversion_info.go
  docs/content/lifecycle/service-loadbalancer-gc.md
  pkg/handlers/generic/lifecycle/ccm/doc.go
  pkg/handlers/generic/lifecycle/csi/doc.go
Due: golangci-lint, hugo-mod-tidy

build: Generate CRD YAML
  api/v1alpha1/crds/caren.nutanix.com_clusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nodeconfigs.yaml
  devbox.json
  devbox.lock
  hack/flakes/flake.nix
  make/go.mk
Due: golangci-lint

build: add .envrc.e2e to the .gitignore file
  .gitignore
Due: none

feat: Add additionalCategories field to Nutanix machine details patch
  api/v1alpha1/nutanix_node_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  docs/content/customization/nutanix/machine-details.md
  pkg/handlers/nutanix/mutation/machinedetails/inject.go
  pkg/handlers/nutanix/mutation/machinedetails/inject_control_plane_test.go
  pkg/handlers/nutanix/mutation/machinedetails/variables_test.go
Due: golangci-lint, hugo-mod-tidy

feat: Add additionalCategories field to Nutanix machine details patch (#525)
  api/v1alpha1/nutanix_node_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  docs/content/customization/nutanix/machine-details.md
  pkg/handlers/nutanix/mutation/machinedetails/inject.go
  pkg/handlers/nutanix/mutation/machinedetails/inject_control_plane_test.go
  pkg/handlers/nutanix/mutation/machinedetails/variables_test.go
Due: golangci-lint, hugo-mod-tidy

feat: support setting Nutanix project on machines
  api/v1alpha1/nutanix_node_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  docs/content/customization/nutanix/machine-details.md
  pkg/handlers/nutanix/mutation/machinedetails/inject.go
  pkg/handlers/nutanix/mutation/machinedetails/inject_control_plane_test.go
  pkg/handlers/nutanix/mutation/machinedetails/variables_test.go
Due: golangci-lint, hugo-mod-tidy

refactor: nutanix variables test
  pkg/handlers/nutanix/mutation/machinedetails/variables_test.go
Due: golangci-lint

build: Add Kubernetes v1.30.0 option for bootstrap and Docker provider
  make/kind.mk
Due: none

docs: separate optional Nutanix fields in public docs
  docs/content/customization/nutanix/machine-details.md
Due: hugo-mod-tidy

build: Add Kubernetes v1.30.0 option for bootstrap and Docker provider (#541)
  make/kind.mk
Due: none

build: Export variable schema to YAML files
  .pre-commit-config.yaml
  docs/static/schemas/variables/awsclusterconfig.yaml
  docs/static/schemas/variables/awsworkerconfig.yaml
  docs/static/schemas/variables/dockerclusterconfig.yaml
  docs/static/schemas/variables/dockerworkerconfig.yaml
  docs/static/schemas/variables/genericclusterconfig.yaml
  docs/static/schemas/variables/nutanixclusterconfig.yaml
  docs/static/schemas/variables/nutanixworkerconfig.yaml
  hack/export-variable-schema/main.go
  make/go.mk
Due: golangci-lint, hugo-mod-tidy

fixup! build: Run go mod tidy
  common/go.mod
  common/go.sum
  go.mod
  go.sum
Due: golangci-lint

fixup! build: Run go mod tidy
  api/go.mod
  common/go.mod
  common/go.sum
  go.mod
  go.sum
Due: golangci-lint

feat: support setting Nutanix project on machines (#535)
  api/v1alpha1/nutanix_node_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  docs/content/customization/nutanix/machine-details.md
  pkg/handlers/nutanix/mutation/machinedetails/inject.go
  pkg/handlers/nutanix/mutation/machinedetails/inject_control_plane_test.go
  pkg/handlers/nutanix/mutation/machinedetails/variables_test.go
Due: golangci-lint, hugo-mod-tidy

fixup! build: Apply review suggesion
  make/dev.mk
Due: none

build: create .envrc.e2e file from caren e2e config (#540)
  .envrc
  .gitignore
  make/dev.mk
Due: none

build: Only allow patch updated to k8s libs
  .github/dependabot.yml
Due: none

build: Only allow patch updates to k8s libs (#551)
  .github/dependabot.yml
Due: none

build: Minor golangci-lint config updates for recent versions
  .golangci.yml
Due: none

build: Generate CRD YAML (#536)
  api/v1alpha1/crds/caren.nutanix.com_clusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nodeconfigs.yaml
  devbox.json
  devbox.lock
  hack/flakes/flake.nix
  make/go.mk
Due: golangci-lint

build: Minor golangci-lint config updates for recent versions (#552)
  .golangci.yml
Due: none

build: generated CRDs yamls
  api/v1alpha1/crds/caren.nutanix.com_clusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nodeconfigs.yaml
Due: none

docs: Remove additionalCategories from required fields
  docs/content/customization/nutanix/machine-details.md
Due: hugo-mod-tidy

build: generated CRDs yamls (#553)
  api/v1alpha1/crds/caren.nutanix.com_clusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nodeconfigs.yaml
Due: none

feat: Upgrade to CAPI v1.7.0
  api/go.mod
  api/go.sum
  common/go.mod
  common/go.sum
  go.mod
  go.sum
Due: golangci-lint

fixup! refactor: Better error handling for missing variables/variable paths
  api/v1alpha1/nutanix_node_types.go
  common/pkg/capi/clustertopology/patches/matchers/match.go
  common/pkg/capi/clustertopology/variables/variable.go
  common/pkg/capi/clustertopology/variables/variables_test.go
  pkg/handlers/aws/mutation/ami/inject.go
  pkg/handlers/aws/mutation/cni/calico/inject.go
  pkg/handlers/aws/mutation/controlplaneloadbalancer/inject.go
  pkg/handlers/aws/mutation/iaminstanceprofile/inject_control_plane.go
  pkg/handlers/aws/mutation/iaminstanceprofile/inject_worker.go
  pkg/handlers/aws/mutation/instancetype/inject_control_plane.go
  pkg/handlers/aws/mutation/instancetype/inject_worker.go
  pkg/handlers/aws/mutation/network/inject.go
  pkg/handlers/aws/mutation/region/inject.go
  pkg/handlers/aws/mutation/securitygroups/inject.go
  pkg/handlers/docker/mutation/customimage/inject_control_plane.go
  pkg/handlers/docker/mutation/customimage/inject_worker.go
  pkg/handlers/generic/lifecycle/ccm/handler.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/handler.go
  pkg/handlers/generic/lifecycle/cni/calico/handler.go
  pkg/handlers/generic/lifecycle/cni/cilium/handler.go
  pkg/handlers/generic/lifecycle/csi/handler.go
  pkg/handlers/generic/lifecycle/nfd/handler.go
  pkg/handlers/generic/mutation/etcd/inject.go
  pkg/handlers/generic/mutation/extraapiservercertsans/inject.go
  pkg/handlers/generic/mutation/httpproxy/inject.go
  pkg/handlers/generic/mutation/imageregistries/credentials/inject.go
  pkg/handlers/generic/mutation/kubernetesimagerepository/inject.go
  pkg/handlers/generic/mutation/mirrors/inject.go
  pkg/handlers/generic/mutation/users/inject.go
  pkg/handlers/nutanix/mutation/controlplaneendpoint/inject.go
  pkg/handlers/nutanix/mutation/machinedetails/inject.go
  pkg/handlers/nutanix/mutation/prismcentralendpoint/inject.go
  test/e2e/quick_start_test.go
Due: golangci-lint

fixup! test(e2e): Add metadata for CAPI v1.7.0 API compatibilty
  test/e2e/data/shared/v1beta1/metadata.yaml
Due: none

fixup! fix: Update docker default CC from upstream changes
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/docker-cluster-class.yaml
Due: none

fixup! build: clusterctl v1.7.0
  devbox.json
  devbox.lock
  hack/flakes/flake.nix
Due: none

fixup! refactor: Add more kubebuilder annotations
  api/v1alpha1/addon_types.go
  api/v1alpha1/aws_clusterconfig_types.go
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/common_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixnodeconfigs.yaml
  api/v1alpha1/docker_node_types.go
  api/v1alpha1/nodeconfig_types.go
  api/v1alpha1/nutanix_clusterconfig_types.go
  api/v1alpha1/nutanix_node_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  pkg/handlers/docker/mutation/customimage/inject_control_plane.go
  pkg/handlers/docker/mutation/customimage/inject_worker.go
  pkg/handlers/docker/mutation/customimage/variables_test.go
  pkg/handlers/generic/clusterconfig/variables_test.go
  pkg/handlers/generic/mutation/extraapiservercertsans/inject.go
  pkg/handlers/generic/mutation/extraapiservercertsans/inject_test.go
  pkg/handlers/generic/mutation/extraapiservercertsans/variables_test.go
  pkg/handlers/generic/mutation/imageregistries/credentials/inject.go
  pkg/handlers/generic/mutation/imageregistries/credentials/inject_test.go
  pkg/handlers/generic/mutation/kubernetesimagerepository/inject.go
  pkg/handlers/generic/mutation/kubernetesimagerepository/inject_test.go
  pkg/handlers/generic/mutation/kubernetesimagerepository/variables_test.go
  pkg/handlers/generic/mutation/users/inject.go
  pkg/handlers/nutanix/mutation/controlplaneendpoint/inject_test.go
  pkg/handlers/nutanix/mutation/controlplaneendpoint/variables_test.go
  pkg/handlers/nutanix/mutation/prismcentralendpoint/inject_test.go
  pkg/handlers/nutanix/mutation/prismcentralendpoint/variables_test.go
Due: golangci-lint

fix: Remove generic cluster config variable
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  pkg/handlers/generic/clusterconfig/variables.go
  pkg/handlers/generic/clusterconfig/variables_test.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/variables_test.go
  pkg/handlers/generic/lifecycle/cni/variables_test.go
  pkg/handlers/generic/lifecycle/nfd/variables_test.go
  pkg/handlers/generic/mutation/etcd/variables_test.go
  pkg/handlers/generic/mutation/extraapiservercertsans/inject_test.go
  pkg/handlers/generic/mutation/extraapiservercertsans/variables_test.go
  pkg/handlers/generic/mutation/httpproxy/variables_test.go
  pkg/handlers/generic/mutation/imageregistries/credentials/variables_test.go
  pkg/handlers/generic/mutation/kubernetesimagerepository/variables_test.go
  pkg/handlers/generic/mutation/mirrors/variables_test.go
  pkg/handlers/generic/mutation/users/variables_test.go
Due: golangci-lint

refactor: Separate defaults for worker and CP AWS nodes
  api/go.mod
  api/go.sum
  api/v1alpha1/aws_node_types.go
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_awsworkernodeconfigs.yaml
  api/v1alpha1/docker_clusterconfig_types.go
  api/v1alpha1/nodeconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  pkg/handlers/aws/mutation/ami/variables_test.go
  pkg/handlers/aws/mutation/iaminstanceprofile/inject_control_plane.go
  pkg/handlers/aws/mutation/iaminstanceprofile/inject_worker.go
  pkg/handlers/aws/mutation/iaminstanceprofile/variables_test.go
  pkg/handlers/aws/mutation/instancetype/inject_control_plane.go
  pkg/handlers/aws/mutation/instancetype/inject_worker.go
  pkg/handlers/aws/mutation/instancetype/variables_test.go
  pkg/handlers/aws/mutation/securitygroups/inject.go
  pkg/handlers/aws/mutation/securitygroups/inject_control_plane_test.go
  pkg/handlers/aws/mutation/securitygroups/inject_worker_test.go
  pkg/handlers/aws/mutation/securitygroups/variables_test.go
  pkg/handlers/aws/workerconfig/variables.go
  pkg/handlers/aws/workerconfig/variables_test.go
Due: golangci-lint

revert: Accidentally reverted changes from separate PR
  api/v1alpha1/nutanix_node_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  hack/flakes/flake.lock
Due: golangci-lint
