Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-configmap

Path conditions:
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-configmap: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+|make/addons.mk$)

feat: Add GenericClusterConfig and add docs on usage with own CC
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/main.go
  common/pkg/k8s/client/apply.go
  docs/content/getting-started/create-cluster/_index.md
  docs/content/getting-started/integrating-with-your-clusterclass/_index.md
  pkg/handlers/generic/clusterconfig/variables.go
  pkg/handlers/generic/handlers.go
  pkg/handlers/generic/lifecycle/handlers.go
  pkg/handlers/generic/mutation/metapatch_handler.go
Due: golangci-lint, hugo-mod-tidy

fixup! build: Run go mod tidy
  api/go.sum
  go.mod
  go.sum
Due: golangci-lint

fixup! build: Run go mod tidy
  common/go.mod
  common/go.sum
  go.mod
  go.sum
Due: golangci-lint

feat: Add GenericClusterConfig and add docs on usage with own CC (#606)
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/main.go
  common/pkg/k8s/client/apply.go
  docs/content/getting-started/create-cluster/_index.md
  docs/content/getting-started/integrating-with-your-clusterclass/_index.md
  pkg/handlers/generic/clusterconfig/variables.go
  pkg/handlers/generic/handlers.go
  pkg/handlers/generic/lifecycle/handlers.go
  pkg/handlers/generic/mutation/metapatch_handler.go
Due: golangci-lint, hugo-mod-tidy

test(e2e): Consistent core/bootstrap/control-plane provider versions
  test/e2e/e2e_suite_test.go
  test/e2e/framework/provider_utils.go
  test/e2e/framework/self_hosted.go
Due: golangci-lint

test(e2e): Consistent core/bootstrap/control-plane provider versions (#639)
  test/e2e/e2e_suite_test.go
  test/e2e/framework/provider_utils.go
  test/e2e/framework/self_hosted.go
Due: golangci-lint

test: Add more context to panic in envtest helper
  test/helpers/envtest.go
Due: golangci-lint

refactor: Use colon to separate context from wrapped error
  common/pkg/capi/clustertopology/handlers/mutation/meta.go
  hack/tools/helm-cm/main.go
  pkg/handlers/generic/lifecycle/ccm/aws/handler.go
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler.go
  pkg/handlers/generic/lifecycle/utils/scs.go
  pkg/handlers/generic/lifecycle/utils/utils.go
  pkg/handlers/generic/mutation/controlplanevirtualip/providers/kubevip.go
Due: golangci-lint

feat: API for encryption at-rest
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
Due: golangci-lint

fix: use concrete type for encryption poriver
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
Due: golangci-lint

ci: free up disk space before running tests
  .github/workflows/e2e.yml
Due: none

feat: mutation handler for EncryptionConfig
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  common/pkg/k8s/client/create.go
  pkg/handlers/generic/mutation/encryption/encryptionprovider_test.go
  pkg/handlers/generic/mutation/encryption/inject.go
  pkg/handlers/generic/mutation/encryption/inject_test.go
  pkg/handlers/generic/mutation/encryption/tokengenerator.go
Due: golangci-lint

ci: free up disk space before running tests (#643)
  .github/workflows/e2e.yml
Due: none

fix: Add DS_Store in the gitignore list
  .gitignore
Due: none

test: Add more context to panic in envtest helper (#641)
  test/helpers/envtest.go
Due: golangci-lint

fix: Add DS_Store in the gitignore list (#638)
  .gitignore
Due: none

fix: Always apply containerd patches
  pkg/handlers/generic/mutation/containerdapplypatchesandrestart/apply_patches.go
  pkg/handlers/generic/mutation/containerdapplypatchesandrestart/inject.go
  pkg/handlers/generic/mutation/containerdapplypatchesandrestart/inject_test.go
  pkg/handlers/generic/mutation/containerdapplypatchesandrestart/restart.go
  pkg/handlers/generic/mutation/containerdapplypatchesandrestart/templates/containerd-apply-patches.sh.gotmpl
  pkg/handlers/generic/mutation/containerdapplypatchesandrestart/templates/containerd-restart.sh
  pkg/handlers/generic/mutation/handlers.go
  pkg/handlers/generic/mutation/mirrors/inject.go
  pkg/handlers/generic/mutation/mirrors/inject_test.go
  pkg/handlers/generic/mutation/mirrors/mirror.go
  pkg/handlers/generic/mutation/mirrors/mirror_test.go
Due: golangci-lint

feat: Enable unprivileged ports sysctl in containerd config
  pkg/handlers/generic/mutation/containerdunprivilegedports/files/unprivileged-ports-config.toml
  pkg/handlers/generic/mutation/containerdunprivilegedports/inject.go
  pkg/handlers/generic/mutation/containerdunprivilegedports/inject_test.go
  pkg/handlers/generic/mutation/containerdunprivilegedports/unprivileged_ports.go
  pkg/handlers/generic/mutation/handlers.go
  test/e2e/config/caren.yaml
Due: golangci-lint

build: Use k8s v1.29.4 as default Kubernetes version
  README.md
  devbox.json
  docs/content/getting-started/create-cluster/aws.md
  docs/content/getting-started/create-cluster/docker.md
  docs/content/getting-started/create-cluster/nutanix.md
  docs/hugo.toml
  make/all.mk
  make/docs.mk
  make/go.mk
  test/e2e/config/caren.yaml
Due: golangci-lint, hugo-mod-tidy

refactor: Remove unused test helper function
  common/pkg/testutils/capitest/patches.go
Due: golangci-lint

refactor: Use colon to separate context from wrapped error (#642)
  common/pkg/capi/clustertopology/handlers/mutation/meta.go
  hack/tools/helm-cm/main.go
  pkg/handlers/generic/lifecycle/ccm/aws/handler.go
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler.go
  pkg/handlers/generic/lifecycle/utils/scs.go
  pkg/handlers/generic/lifecycle/utils/utils.go
  pkg/handlers/generic/mutation/controlplanevirtualip/providers/kubevip.go
Due: golangci-lint

fix: log mutation failure errors
  common/pkg/capi/clustertopology/patches/generator.go
Due: golangci-lint

fix: log mutation failure errors (#649)
  common/pkg/capi/clustertopology/patches/generator.go
Due: golangci-lint

refactor: Remove unused test helper function (#647)
  common/pkg/testutils/capitest/patches.go
Due: golangci-lint

build: Make module-relative "go list -m" compatible with GOWORK
  make/apis.mk
  make/clusterctl.mk
  make/go.mk
  test/helpers/envtest.go
Due: golangci-lint, apis-sync

test: Add even more context to panic in envtest helper
  test/helpers/envtest.go
Due: golangci-lint

fixup! build: Make module-relative "go list -m" compatible with GOWORK
  test/helpers/envtest.go
Due: golangci-lint

test: Match cluster namespace to cluster name
  pkg/handlers/generic/mutation/controlplanevirtualip/inject_test.go
  pkg/handlers/generic/mutation/extraapiservercertsans/inject_test.go
Due: golangci-lint

test: Add even more context to panic in envtest helper (#650)
  test/helpers/envtest.go
Due: golangci-lint

build: Make module-relative "go list -m" compatible with GOWORK (#651)
  make/apis.mk
  make/clusterctl.mk
  make/go.mk
  test/helpers/envtest.go
Due: golangci-lint, apis-sync

test: Match cluster namespace to cluster name (#652)
  pkg/handlers/generic/mutation/controlplanevirtualip/inject_test.go
  pkg/handlers/generic/mutation/extraapiservercertsans/inject_test.go
Due: golangci-lint

fixup! refactor: Update comments and add more comments to apply patches script
  pkg/handlers/generic/mutation/containerdapplypatchesandrestart/inject_test.go
  pkg/handlers/generic/mutation/containerdapplypatchesandrestart/templates/containerd-apply-patches.sh.gotmpl
  pkg/handlers/generic/mutation/handlers.go
Due: golangci-lint

fix: Make Cluster the owner of image registry credential Secret
  pkg/handlers/generic/mutation/imageregistries/credentials/inject.go
  pkg/handlers/generic/mutation/imageregistries/credentials/inject_test.go
Due: golangci-lint

fix: Always apply containerd patches (#644)
  pkg/handlers/generic/mutation/containerdapplypatchesandrestart/apply_patches.go
  pkg/handlers/generic/mutation/containerdapplypatchesandrestart/inject.go
  pkg/handlers/generic/mutation/containerdapplypatchesandrestart/inject_test.go
  pkg/handlers/generic/mutation/containerdapplypatchesandrestart/restart.go
  pkg/handlers/generic/mutation/containerdapplypatchesandrestart/templates/containerd-apply-patches.sh.gotmpl
  pkg/handlers/generic/mutation/containerdapplypatchesandrestart/templates/containerd-restart.sh
  pkg/handlers/generic/mutation/containerdrestart/inject_test.go
  pkg/handlers/generic/mutation/handlers.go
  pkg/handlers/generic/mutation/mirrors/inject.go
  pkg/handlers/generic/mutation/mirrors/inject_test.go
  pkg/handlers/generic/mutation/mirrors/mirror.go
  pkg/handlers/generic/mutation/mirrors/mirror_test.go
  pkg/handlers/generic/mutation/mirrors/templates/containerd-apply-patches.sh.gotmpl
Due: golangci-lint

fix: use object type for encryption providers
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_genericclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
Due: golangci-lint
