Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, check-coredns-versions, golangci-lint, kube-api-linter, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  check-coredns-versions: any of: ^api/versions/coredns.go$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  kube-api-linter: any of: ((^api/(.*\.go|go.mod|go.sum))|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/helm-chart-bundler/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$

fix: add Ingress to aggregate type
  api/variables/aggregate_types.go
Due: go-generate, golangci-lint, kube-api-linter

fix: shorten resource names
  charts/cluster-api-runtime-extensions-nutanix/addons/aws-load-balancer-controller/values-template.yaml
Due: chart-docs

release(release/v0.33.x): v0.33.3
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

release(release/v0.33.x): v0.33.3 (#1362)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

test: add WaitForIngressToBeReadyInWorkloadCluster
  test/e2e/addon_helpers.go
  test/e2e/ingress_helpers.go
Due: go-generate, golangci-lint

feat: upgrading konnector agent version
  charts/cluster-api-runtime-extensions-nutanix/addons/konnector-agent/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  docs/content/addons/konnector-agent.md
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, hugo-mod-tidy, addons-sync, addons-repo-yaml

fix: update CAPA to v2.10.0-ncn.1 (#1360)
  api/external/sigs.k8s.io/cluster-api-provider-aws/v2/bootstrap/eks/api/v1beta2/nodeadmconfig_types.go
  hack/third-party/capa/go.mod
  hack/third-party/capa/go.sum
  make/clusterctl.mk
Due: go-generate, golangci-lint, kube-api-linter, apis-sync

feat: deploy AWS Load Balancer controller in EKS clusters (#1341)
  api/v1alpha1/addon_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_eksclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  api/variables/aggregate_types.go
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/addons/aws-load-balancer-controller/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/addons/aws-load-balancer-controller/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  docs/content/addons/aws-load-balancer-controller.md
  examples/capi-quick-start/eks-cluster.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/aws-load-balancer-controller/kustomization.yaml.tmpl
  hack/examples/patches/eks/initialize-variables.yaml
  hack/tools/fetch-images/main.go
  make/addons.mk
  pkg/handlers/lifecycle/config/cm.go
  pkg/handlers/lifecycle/handlers.go
  pkg/handlers/lifecycle/ingress/awsloadbalancercontroller/doc.go
  pkg/handlers/lifecycle/ingress/awsloadbalancercontroller/handler.go
  test/e2e/addon_helpers.go
  test/e2e/ingress_helpers.go
Due: schema-chart, go-generate, golangci-lint, kube-api-linter, chart-docs, hugo-mod-tidy, examples-sync, addons-sync, addons-repo-yaml

feat: formatting
  api/v1alpha1/addon_types.go
  api/variables/aggregate_types.go
  pkg/handlers/lifecycle/config/cm.go
  pkg/handlers/lifecycle/handlers.go
Due: go-generate, golangci-lint, kube-api-linter

feat: pre-commit fix
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
Due: chart-docs

feat: pre-commit
  charts/cluster-api-runtime-extensions-nutanix/addons/konnector-agent/values-template.yaml
Due: chart-docs

build: fix list-images for AWS LB controller
  hack/tools/fetch-images/main.go
Due: go-generate, golangci-lint

build: fix list-images for AWS LB controller (#1364)
  hack/tools/fetch-images/main.go
Due: go-generate, golangci-lint

feat: Update api/v1alpha1/addon_types.go
  api/v1alpha1/addon_types.go
Due: go-generate, golangci-lint, kube-api-linter

feat: removing addon strategy
  api/v1alpha1/addon_types.go
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  examples/capi-quick-start/nutanix-cluster-calico-crs.yaml
  examples/capi-quick-start/nutanix-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-with-failuredomains-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-with-failuredomains-cilium-helm-addon.yaml
  hack/examples/patches/nutanix/konnector-agent.yaml
  pkg/handlers/lifecycle/konnectoragent/handler.go
  pkg/handlers/lifecycle/konnectoragent/variables_test.go
Due: go-generate, golangci-lint, kube-api-linter, examples-sync

feat: updating fetch imges file for konnector agent
  hack/tools/fetch-images/main.go
Due: go-generate, golangci-lint

test: unit test for placement group discovery
  pkg/handlers/aws/mutation/placementgroupnfd/inject_controlplane.go
  pkg/handlers/aws/mutation/placementgroupnfd/inject_controlplane_test.go
  pkg/handlers/aws/mutation/placementgroupnfd/inject_suite_test.go
  pkg/handlers/aws/mutation/placementgroupnfd/inject_worker_test.go
Due: go-generate, golangci-lint

fix: run placement group discovery
  pkg/handlers/aws/mutation/placementgroupnfd/embedded/placementgroup_discovery.sh
  pkg/handlers/aws/mutation/placementgroupnfd/inject_controlplane.go
  pkg/handlers/aws/mutation/placementgroupnfd/inject_worker.go
  pkg/handlers/eks/mutation/placementgroupnfd/inject_worker.go
Due: go-generate, golangci-lint

feat: NFD local feature discovery for aws placement groups
  pkg/handlers/aws/mutation/metapatch_handler.go
  pkg/handlers/aws/mutation/placementgroupnfd/embedded/placementgroup_discovery.sh
  pkg/handlers/aws/mutation/placementgroupnfd/inject_controlplane.go
  pkg/handlers/aws/mutation/placementgroupnfd/inject_worker.go
  pkg/handlers/aws/mutation/placementgroupnfd/nfd.go
  pkg/handlers/eks/mutation/metapatch_handler.go
  pkg/handlers/eks/mutation/placementgroupnfd/inject_worker.go
Due: go-generate, golangci-lint

docs: documentation for placement groups
  docs/content/customization/aws/placement-group-nfd.md
  docs/content/customization/aws/placement-group.md
  docs/content/customization/eks/placement-group-nfd.md
  docs/content/customization/eks/placement-group.md
  pkg/handlers/eks/mutation/placementgroupnfd/inject_worker_test.go
Due: go-generate, golangci-lint, hugo-mod-tidy

test: unit test for prenodeadmcommands for placementgroup
  pkg/handlers/aws/mutation/placementgroupnfd/embedded/placementgroup_discovery.sh
  pkg/handlers/aws/mutation/placementgroupnfd/inject_controlplane.go
  pkg/handlers/aws/mutation/placementgroupnfd/inject_controlplane_test.go
  pkg/handlers/aws/mutation/placementgroupnfd/inject_worker.go
  pkg/handlers/aws/mutation/placementgroupnfd/nfd.go
  pkg/handlers/eks/mutation/placementgroupnfd/inject_suite_test.go
  pkg/handlers/eks/mutation/placementgroupnfd/inject_worker.go
  pkg/handlers/eks/mutation/placementgroupnfd/inject_worker_test.go
Due: go-generate, golangci-lint

refactor: quickstart test file to make adding new cases easier
  test/e2e/quick_start_test.go
Due: go-generate, golangci-lint

refactor: rename EKS example file to match others
  examples/capi-quick-start/eks-cluster-cilium-helm-addon.yaml
  hack/examples/sync.sh
Due: examples-sync

test: add EKS test
  test/e2e/config/caren.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/ownerreference_helpers.go
  test/e2e/quick_start_test.go
Due: go-generate, golangci-lint

fix: fix typo in documentation
  docs/content/customization/aws/placement-group-nfd.md
Due: hugo-mod-tidy

feat: updating helm uninstallation timeouts
  pkg/handlers/lifecycle/konnectoragent/handler.go
Due: go-generate, golangci-lint

fix: skip syncing eks controlplane's infrastructure templates
  pkg/controllers/namespacesync/references.go
Due: go-generate, golangci-lint

test: unit test to verify copy of managed clusterclass templates
  pkg/controllers/namespacesync/controller_test.go
Due: go-generate, golangci-lint

fix: nil check for all references
  pkg/controllers/namespacesync/references.go
  pkg/controllers/namespacesync/references_test.go
Due: go-generate, golangci-lint

feat: NFD local feature discovery for aws placement groups (#1363)
  docs/content/customization/aws/placement-group-nfd.md
  docs/content/customization/aws/placement-group.md
  docs/content/customization/eks/placement-group-nfd.md
  docs/content/customization/eks/placement-group.md
  pkg/handlers/aws/mutation/metapatch_handler.go
  pkg/handlers/aws/mutation/placementgroupnfd/embedded/placementgroup_discovery.sh
  pkg/handlers/aws/mutation/placementgroupnfd/inject_controlplane.go
  pkg/handlers/aws/mutation/placementgroupnfd/inject_controlplane_test.go
  pkg/handlers/aws/mutation/placementgroupnfd/inject_suite_test.go
  pkg/handlers/aws/mutation/placementgroupnfd/inject_worker.go
  pkg/handlers/aws/mutation/placementgroupnfd/inject_worker_test.go
  pkg/handlers/aws/mutation/placementgroupnfd/nfd.go
  pkg/handlers/eks/mutation/metapatch_handler.go
  pkg/handlers/eks/mutation/placementgroupnfd/inject_suite_test.go
  pkg/handlers/eks/mutation/placementgroupnfd/inject_worker.go
  pkg/handlers/eks/mutation/placementgroupnfd/inject_worker_test.go
Due: go-generate, golangci-lint, hugo-mod-tidy

fix: skip syncing controlplane's infrastructure templates for EKS Clusterclass (#1366)
  pkg/controllers/namespacesync/controller_test.go
  pkg/controllers/namespacesync/references.go
  pkg/controllers/namespacesync/references_test.go
Due: go-generate, golangci-lint

fixup! release: Update metadata for release
  test/e2e/config/caren.yaml
Due: none

fixup! release: Update metadata for release
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: hugo-mod-tidy

feat: updating timout configs
  common/pkg/server/server.go
  pkg/handlers/lifecycle/konnectoragent/handler.go
Due: go-generate, golangci-lint

feat: removing intToInt32Ptr from server.go
  common/pkg/server/server.go
Due: go-generate, golangci-lint

feat: fixing timeout issues during helm uninstallation
  pkg/handlers/lifecycle/konnectoragent/handler.go
Due: go-generate, golangci-lint

feat: pre-commit changes
  pkg/handlers/lifecycle/konnectoragent/handler.go
Due: go-generate, golangci-lint

release(main): v0.36.0 (#1368)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: hugo-mod-tidy

feat: add Multus CNI integration with socket-based readiness
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/multus/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/multus/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  hack/addons/helm-chart-bundler/Dockerfile
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/multus/kustomization.yaml.tmpl
  pkg/handlers/lifecycle/cni/multus/deployer.go
  pkg/handlers/lifecycle/cni/multus/doc.go
  pkg/handlers/lifecycle/cni/multus/handler.go
  pkg/handlers/lifecycle/cni/multus/template.go
  pkg/handlers/lifecycle/cni/socket.go
  pkg/handlers/lifecycle/config/cm.go
  pkg/handlers/lifecycle/handlers.go
Due: schema-chart, go-generate, golangci-lint, chart-docs, addons-sync, addons-repo-yaml

feat: Build with go 1.25.3 to fix CVEs
  api/go.mod
  common/go.mod
  devbox.lock
  go.mod
  hack/tools/go.mod
Due: go-generate, golangci-lint, kube-api-linter, check-devbox-lock
