Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-configmap

golangci-lint:
  name: golangci-lint
  entry: make go-generate lint
  language: system
  pass_filenames: false

hugo-mod-tidy:
  name: hugo-mod-tidy
  entry: bash -c "cd docs && hugo mod tidy"
  language: system
  pass_filenames: false

examples-sync:
  name: examples-sync
  entry: make examples.sync
  language: system
  pass_filenames: false

apis-sync:
  name: apis-sync
  entry: make apis.sync
  language: system
  pass_filenames: false

addons-sync:
  name: addons-sync
  entry: make addons.sync
  language: system
  pass_filenames: false

addons-configmap:
  name: addons-configmap
  entry: make generate-helm-configmap
  language: system
  pass_filenames: false

fix: autoscaler helm values
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/cilium-configmap.yaml
Due: addons-sync, addons-configmap

fix: new values for nutanix ccm
  charts/cluster-api-runtime-extensions-nutanix/addons/ccm/nutanix/values-template.yaml
  hack/addons/kustomize/ccm/nutanix/manifests/values-template.yaml
Due: addons-sync, addons-configmap

fix: suggestions from review
  charts/cluster-api-runtime-extensions-nutanix/addons/cluster-autoscaler/values-template.yaml
  hack/addons/kustomize/cluster-autoscaler/manifests/values-template.yaml
  hack/addons/update-cluster-autoscaler.sh
Due: addons-sync, addons-configmap

release(release/v0.14.x): v0.14.7
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

test: Bump Kubernetes versions for tests
  .github/workflows/checks.yml
  .github/workflows/e2e.yml
  README.md
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.31.0-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/cilium-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  hack/addons/kustomize/cilium/kustomization.yaml.tmpl
  make/addons.mk
  make/docs.mk
  make/go.mk
  make/kind.mk
  test/e2e/config/caren.yaml
Due: golangci-lint, addons-sync, addons-configmap

fix: fixes up tests for templating
  charts/cluster-api-runtime-extensions-nutanix/addons/ccm/nutanix/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/kustomize/ccm/nutanix/manifests/values-template.yaml
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler_test.go
Due: golangci-lint, addons-sync, addons-configmap

release(release/v0.14.x): v0.14.7 (#892)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

ci: Fix up release please trigger for release branches
  .github/workflows/release-please.yml
Due: none

ci: Fix up release please trigger for release branches (#894)
  .github/workflows/release-please.yml
Due: none

feat: Update all addon versions
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.27.9-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.28.9-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.29.6-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.30.2-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/cilium-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/aws-ebs/manifests/aws-ebs-csi-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/nfd/manifests/node-feature-discovery-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/virtual-ip/kube-vip/manifests/kube-vip-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  hack/addons/mindthegap-helm-registry/repos.yaml
  hack/addons/update-aws-ccm.sh
  make/addons.mk
Due: addons-sync, addons-configmap

feat: Update all addon versions (#879)
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.27.9-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.28.9-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.29.6-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.30.2-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/cilium-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/aws-ebs/manifests/aws-ebs-csi-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/nfd/manifests/node-feature-discovery-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/virtual-ip/kube-vip/manifests/kube-vip-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  hack/addons/mindthegap-helm-registry/repos.yaml
  hack/addons/update-aws-ccm.sh
  make/addons.mk
Due: addons-sync, addons-configmap

refactor: Remove explicit minimal image tag for NFD
  charts/cluster-api-runtime-extensions-nutanix/templates/nfd/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/nfd/manifests/node-feature-discovery-configmap.yaml
  hack/addons/kustomize/nfd/kustomization.yaml.tmpl
Due: addons-sync, addons-configmap

fixup! build: Run go mod tidy
  api/go.sum
Due: golangci-lint

fixup! build: Run go mod tidy
  hack/third-party/caaph/go.mod
Due: golangci-lint, apis-sync

test: Bump Kubernetes versions for tests (#893)
  .github/workflows/checks.yml
  .github/workflows/e2e.yml
  README.md
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.27.9-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.28.9-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.29.6-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.30.2-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.31.0-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/cilium-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/aws-ebs/manifests/aws-ebs-csi-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/nfd/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/nfd/manifests/node-feature-discovery-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/virtual-ip/kube-vip/manifests/kube-vip-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  hack/addons/kustomize/cilium/kustomization.yaml.tmpl
  hack/addons/kustomize/nfd/kustomization.yaml.tmpl
  hack/addons/mindthegap-helm-registry/repos.yaml
  hack/addons/update-aws-ccm.sh
  make/addons.mk
  make/docs.mk
  make/go.mk
  make/kind.mk
  test/e2e/config/caren.yaml
Due: golangci-lint, addons-sync, addons-configmap

fix: Remove deprecated toleration for node-role.kubernetes.io/master
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.27.9-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.28.9-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.29.6-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.30.2-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.31.0-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/aws-ebs/manifests/aws-ebs-csi-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/aws-ebs/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/local-path/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/local-path/manifests/local-path-provisioner-csi-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/nutanix/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/snapshot-controller/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/nfd/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/nfd/manifests/node-feature-discovery-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  hack/addons/kustomize/aws-ccm/helm-values.yaml
  hack/addons/kustomize/aws-ebs-csi/helm-values.yaml
  hack/addons/kustomize/local-path-provisioner-csi/helm-values.yaml
  hack/addons/kustomize/nfd/helm-values.yaml
  pkg/handlers/generic/lifecycle/ccm/aws/handler_test.go
Due: golangci-lint, addons-sync, addons-configmap

feat: Enable Hubble Relay in Cilium deployment via CAAPH
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/helm-addon-installation.yaml
Due: addons-sync, addons-configmap

fix: Remove deprecated toleration for node-role.kubernetes.io/master (#895)
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.27.9-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.28.9-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.29.6-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.30.2-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.31.0-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/aws-ebs/manifests/aws-ebs-csi-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/aws-ebs/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/local-path/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/local-path/manifests/local-path-provisioner-csi-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/nutanix/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/snapshot-controller/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/nfd/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/nfd/manifests/node-feature-discovery-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  hack/addons/kustomize/aws-ccm/helm-values.yaml
  hack/addons/kustomize/aws-ebs-csi/helm-values.yaml
  hack/addons/kustomize/local-path-provisioner-csi/helm-values.yaml
  hack/addons/kustomize/nfd/helm-values.yaml
  pkg/handlers/generic/lifecycle/ccm/aws/handler_test.go
Due: golangci-lint, addons-sync, addons-configmap

fixup! fix: Correctly enable Hubble relay
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/helm-addon-installation.yaml
Due: addons-sync, addons-configmap

fixup! Pass chart validation, and disable hubble relay for ClusterResourceSet
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/helm-addon-installation.yaml
  hack/addons/kustomize/cilium/helm-values.yaml
Due: addons-sync, addons-configmap

fixup! fix: Don't use image digest for hubble relay
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/helm-addon-installation.yaml
Due: addons-sync, addons-configmap

fixup! test(e2e): Add e2e test for hubble relay
  pkg/handlers/generic/lifecycle/ccm/aws/handler.go
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler.go
  pkg/handlers/generic/lifecycle/cni/cilium/handler.go
  pkg/handlers/generic/lifecycle/csi/awsebs/handler.go
  pkg/handlers/generic/lifecycle/csi/localpath/handler.go
  pkg/handlers/generic/lifecycle/csi/snapshotcontroller/handler.go
  test/e2e/clusterautoscaler_helpers.go
  test/e2e/cni_helpers.go
  test/e2e/framework/self_hosted.go
Due: golangci-lint

feat: Enable Hubble Relay in Cilium deployment via CAAPH (#899)
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/helm-addon-installation.yaml
  hack/addons/kustomize/cilium/helm-values.yaml
  pkg/handlers/generic/lifecycle/ccm/aws/handler.go
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler.go
  pkg/handlers/generic/lifecycle/cni/cilium/handler.go
  pkg/handlers/generic/lifecycle/csi/awsebs/handler.go
  pkg/handlers/generic/lifecycle/csi/localpath/handler.go
  pkg/handlers/generic/lifecycle/csi/snapshotcontroller/handler.go
  test/e2e/clusterautoscaler_helpers.go
  test/e2e/cni_helpers.go
  test/e2e/framework/self_hosted.go
Due: golangci-lint, addons-sync, addons-configmap

feat: Extract CAAPH values templates to files
  .pre-commit-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/ccm/aws/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/ccm/nutanix/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/cluster-autoscaler/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/calico/aws/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/calico/docker/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/calico/nutanix/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/aws-ebs/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/local-path/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/nutanix/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/snapshot-controller/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/nfd/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/serviceloadbalancer/metallb/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/nutanix/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cluster-autoscaler/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/aws/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/docker/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/nutanix/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/aws-ebs/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/local-path/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/nutanix/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/snapshot-controller/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/nfd/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/serviceloadbalancer/metallb/helm-addon-installation.yaml
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler_test.go
Due: golangci-lint, addons-sync, addons-configmap

build: Use addon values from helm chart for CRS generation
  charts/cluster-api-runtime-extensions-nutanix/addons/ccm/aws/map-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/ccm/aws/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/cluster-autoscaler/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/snapshot-controller/manifests/snapshot-controller-configmap.yaml
  devbox.json
  devbox.lock
  hack/addons/kustomize/aws-ccm/kustomization.yaml.tmpl
  hack/addons/kustomize/aws-ebs-csi/kustomization.yaml.tmpl
  hack/addons/kustomize/cilium/helm-values.yaml
  hack/addons/kustomize/cilium/kustomization.yaml.tmpl
  hack/addons/kustomize/cluster-autoscaler/helm-values.yaml
  hack/addons/kustomize/local-path-provisioner-csi/kustomization.yaml.tmpl
  hack/addons/kustomize/nfd/kustomization.yaml.tmpl
  hack/addons/kustomize/snapshot-controller/kustomization.yaml.tmpl
  hack/addons/kustomize/tigera-operator/helm-values.yaml
  hack/addons/kustomize/tigera-operator/kustomization.yaml.tmpl
  hack/addons/update-aws-ccm.sh
  hack/addons/update-aws-ebs-csi.sh
  hack/addons/update-cilium-manifests.sh
  hack/addons/update-cluster-autoscaler.sh
  hack/addons/update-local-path-provisioner-csi.sh
  hack/addons/update-node-feature-discovery-manifests.sh
  hack/addons/update-snapshot-controller.sh
Due: addons-sync, addons-configmap

fix: Fix up templating for AWS CCM
  charts/cluster-api-runtime-extensions-nutanix/addons/ccm/aws/image-selection.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/ccm/aws/map-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/ccm/aws/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/helm-addon-installation.yaml
Due: addons-sync, addons-configmap

fixup! build: Remove node affinity for deprecated master for NFD
  charts/cluster-api-runtime-extensions-nutanix/addons/nfd/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/nfd/manifests/node-feature-discovery-configmap.yaml
Due: addons-sync, addons-configmap

fixup! build: Remove unused helm values files
  hack/addons/kustomize/aws-ccm/helm-values.yaml
  hack/addons/kustomize/aws-ebs-csi/helm-values.yaml
  hack/addons/kustomize/local-path-provisioner-csi/helm-values.yaml
  hack/addons/kustomize/nfd/helm-values.yaml
Due: addons-sync, addons-configmap

fixup! refactor: Update inaccurate comment in test
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler_test.go
Due: golangci-lint

fixup! docs: Added comments as requested
  hack/addons/kustomize/cilium/kustomization.yaml.tmpl
  hack/addons/update-cluster-autoscaler.sh
Due: addons-sync, addons-configmap

ci: adds tooling to publish images file
  .goreleaser.yml
  make/addons.mk
Due: addons-sync, addons-configmap

fix: list-images make target
  .gitignore
  make/addons.mk
Due: addons-sync, addons-configmap

fix: based off new branch
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/nutanix/values-template.yaml
  hack/flakes/flake.nix
  hack/tools/fetch-images/main.go
Due: golangci-lint

fix: adds more logic to fetch images script
  hack/tools/fetch-images/main.go
Due: golangci-lint

ci: tool to get images
  hack/flakes/flake.nix
  hack/tools/fetch-images/main.go
  hack/tools/go.mod
  hack/tools/go.sum
Due: golangci-lint

fix: fetch images tool with values
  .goreleaser.yml
  hack/tools/fetch-images/main.go
  hack/tools/go.mod
  hack/tools/go.sum
Due: golangci-lint

fix: adds license
  hack/tools/fetch-images/main.go
  hack/tools/go.mod
Due: golangci-lint

fix: precommit issues
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/nutanix/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/nfd/manifests/node-feature-discovery-configmap.yaml
Due: addons-sync, addons-configmap

fix: adds caren-images to git ignore
  .gitignore
Due: none

Path conditions:
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-configmap: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+|make/addons.mk$)
