Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, golangci-lint, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock, check-coredns-versions

schema-chart:
  name: schema-chart
  entry: make schema-chart
  language: system

go-generate:
  name: go-generate
  entry: make go-generate
  language: system
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  entry: make lint
  language: system
  pass_filenames: false

chart-docs:
  name: chart-docs
  entry: make chart-docs
  language: system
  pass_filenames: false

hugo-mod-tidy:
  name: hugo-mod-tidy
  entry: bash -c "cd docs && hugo mod tidy"
  language: system
  pass_filenames: false

examples-sync:
  name: examples-sync
  entry: make examples.sync
  language: system
  pass_filenames: false

apis-sync:
  name: apis-sync
  entry: make apis.sync
  language: system
  pass_filenames: false

addons-sync:
  name: addons-sync
  entry: make addons.sync
  language: system
  pass_filenames: false

addons-repo-yaml:
  name: addons-repo-yaml
  entry: make template-helm-repository
  language: system
  pass_filenames: false

check-devbox-lock:
  name: check-devbox-lock
  entry: devbox install
  language: system
  pass_filenames: false

check-coredns-versions:
  name: check-coredns-versions
  entry: make coredns.sync
  language: system

fixup! test: enable COSI controller in example files
  hack/examples/patches/docker/cosi.yaml
  hack/examples/patches/nutanix/cosi.yaml
Due: examples-sync

feat: COSI controller Addon (#1008)
  api/v1alpha1/addon_types.go
  api/v1alpha1/constants.go
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  api/variables/aggregate_types.go
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/addons/cosi/controller/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cosi/controller/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/deployment.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.schema.json
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  docs/content/addons/cosi.md
  examples/capi-quick-start/docker-cluster-calico-crs.yaml
  examples/capi-quick-start/docker-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/docker-cluster-cilium-crs.yaml
  examples/capi-quick-start/docker-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-calico-crs.yaml
  examples/capi-quick-start/nutanix-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/cosi-controller/kustomization.yaml.tmpl
  hack/examples/bases/docker/cluster/kustomization.yaml.tmpl
  hack/examples/bases/nutanix/cluster/kustomization.yaml.tmpl
  hack/examples/patches/docker/cosi.yaml
  hack/examples/patches/nutanix/cosi.yaml
  hack/tools/fetch-images/main.go
  make/addons.mk
  pkg/handlers/generic/lifecycle/config/cm.go
  pkg/handlers/generic/lifecycle/cosi/doc.go
  pkg/handlers/generic/lifecycle/cosi/handler.go
  pkg/handlers/generic/lifecycle/cosi/variables_test.go
  pkg/handlers/generic/lifecycle/handlers.go
Due: schema-chart, go-generate, golangci-lint, chart-docs, hugo-mod-tidy, examples-sync, addons-sync

feat(api): Add external API structs for COSI objectstorage
  api/external/sigs.k8s.io/container-object-storage-interface/client/apis/objectstorage/v1alpha1/doc.go
  api/external/sigs.k8s.io/container-object-storage-interface/client/apis/objectstorage/v1alpha1/events.go
  api/external/sigs.k8s.io/container-object-storage-interface/client/apis/objectstorage/v1alpha1/register.go
  api/external/sigs.k8s.io/container-object-storage-interface/client/apis/objectstorage/v1alpha1/types.go
  api/external/sigs.k8s.io/container-object-storage-interface/client/apis/objectstorage/v1alpha1/zz_generated.deepcopy.go
  hack/third-party/cosi/go.mod
  hack/third-party/cosi/go.sum
  hack/third-party/cosi/provider.go
  make/apis.mk
Due: go-generate, golangci-lint, apis-sync

feat(api): Add COSI addon APIs for Nutanix
  api/v1alpha1/addon_types.go
Due: go-generate, golangci-lint

build: update CAPI version to v1.9.3
  api/go.mod
  api/go.sum
  common/go.mod
  common/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: go-generate, golangci-lint

fix: changes to function signature
  pkg/controllers/namespacesync/references.go
Due: go-generate, golangci-lint

fix: update example Docker ClusterClass
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/docker-cluster-class.yaml
Due: chart-docs

build: update clusterctl version
  devbox.lock
Due: check-devbox-lock

test: update metadata file
  test/e2e/data/shared/v1beta1/metadata.yaml
Due: none

fixup! build: Run go mod tidy
  api/go.sum
Due: go-generate, golangci-lint

fixup! refactor: Updated external.Get signature
  pkg/controllers/namespacesync/references.go
Due: go-generate, golangci-lint

fixup! build: Update default Docker CC
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/docker-cluster-class.yaml
Due: chart-docs

fixup! build: CAPI 1.9.3 in hack/tools
  hack/tools/go.mod
  hack/tools/go.sum
Due: go-generate, golangci-lint

fixup! build: Update dependabot to manage hack/tools
  .github/dependabot.yml
Due: none

fixup! build: Update to clusterctl v1.9.3
  devbox.lock
Due: check-devbox-lock

fixup! test: Update CAPI metadata
  test/e2e/data/shared/v1beta1/metadata.yaml
Due: none

feat: adds new field for helm values input for cilium CNI
  api/v1alpha1/addon_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
Due: go-generate, golangci-lint

feat: updates valuesRef data type to TypedLocalObjectReference
  api/v1alpha1/addon_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
Due: go-generate, golangci-lint

fix: update COSI controller image to fix CVEs
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync

feat: updates valuesRef data type to TypedLocalObjectReference
  api/v1alpha1/addon_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
Due: go-generate, golangci-lint

fix(deps): Update Nutanix CCM Version
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync

feat: API for custom helm chart configuration
  api/v1alpha1/addon_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  docs/content/addons/custom-helm-config.md
Due: go-generate, golangci-lint, hugo-mod-tidy

fix: update COSI controller image to fix CVEs (#1012)
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync

fix: update AWS CCM to latest versions
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  make/addons.mk
Due: schema-chart, chart-docs, addons-sync

fix: 1.27
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.27.10-configmap.yaml
Due: chart-docs, addons-sync

fix: 1.28
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.28.10-configmap.yaml
Due: chart-docs, addons-sync

fix: 1.29
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.29.7-configmap.yaml
Due: chart-docs, addons-sync

fix: 1.30
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.30.6-configmap.yaml
Due: chart-docs, addons-sync

fix: 1.31
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.31.4-configmap.yaml
Due: chart-docs, addons-sync

fix(deps): Update Nutanix CCM Version (#1016)
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  make/addons.mk
Due: chart-docs, addons-sync

fixup! test: wait for COSI controller to be ready
  test/e2e/cosi_helpers.go
Due: go-generate, golangci-lint

test: wait for COSI controller to be ready
  test/e2e/addon_helpers.go
  test/e2e/cosi_helpers.go
Due: go-generate, golangci-lint

fix: update AWS CCM to latest versions (#1013)
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.27.10-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.28.10-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.29.7-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.30.6-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.31.4-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  make/addons.mk
Due: schema-chart, chart-docs, addons-sync

fixup! release: Update metadata for release
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: none

fix: update doc to make custom config immutable
  docs/content/addons/custom-helm-config.md
Due: hugo-mod-tidy

release(main): v0.25.0 (#999)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: hugo-mod-tidy

refactor: makes addon values struct more generic and extensible
  .pre-commit-config.yaml
  api/v1alpha1/addon_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  docs/content/addons/cni.md
Due: go-generate, golangci-lint, hugo-mod-tidy

test: wait for COSI controller to be ready (#1014)
  test/e2e/addon_helpers.go
  test/e2e/cosi_helpers.go
Due: go-generate, golangci-lint

fix: correctly copy Helm charts in init container
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-repository.yaml
Due: chart-docs

chore: removes pre-commit config changes
  .pre-commit-config.yaml
Due: none

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/mindthegap-helm-registry/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$
  check-coredns-versions: any of: ^api/versions/coredns.go$
