Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-configmap

golangci-lint:
  name: golangci-lint
  entry: make go-generate lint
  language: system
  pass_filenames: false

hugo-mod-tidy:
  name: hugo-mod-tidy
  entry: bash -c "cd docs && hugo mod tidy"
  language: system
  pass_filenames: false

examples-sync:
  name: examples-sync
  entry: make examples.sync
  language: system
  pass_filenames: false

apis-sync:
  name: apis-sync
  entry: make apis.sync
  language: system
  pass_filenames: false

addons-sync:
  name: addons-sync
  entry: make addons.sync
  language: system
  pass_filenames: false

addons-configmap:
  name: addons-configmap
  entry: make generate-helm-configmap
  language: system
  pass_filenames: false

fix: Do not return error if serviceLoadBalancer field is not set
  pkg/handlers/generic/lifecycle/serviceloadbalancer/handler.go
Due: golangci-lint

docs: add docs to configure GPUs
  docs/content/customization/nutanix/machine-details.md
Due: hugo-mod-tidy

fix: applies suggestion from review
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixnodeconfigs.yaml
  api/v1alpha1/nutanix_node_types.go
Due: golangci-lint

fix: use a consistent MachineDeployment class name
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  examples/capi-quick-start/nutanix-cluster-calico-crs.yaml
  examples/capi-quick-start/nutanix-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  hack/examples/bases/nutanix/cluster/kustomization.yaml.tmpl
  hack/examples/bases/nutanix/clusterclass/kustomization.yaml.tmpl
Due: examples-sync

fix: use type
  api/v1alpha1/nutanix_node_types.go
Due: golangci-lint

fix: remove validation from GPU type
  api/v1alpha1/nutanix_node_types.go
Due: golangci-lint

fix: use a consistent MachineDeployment class name (#612)
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  examples/capi-quick-start/nutanix-cluster-calico-crs.yaml
  examples/capi-quick-start/nutanix-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-crs.yaml
  examples/capi-quick-start/nutanix-cluster-cilium-helm-addon.yaml
  hack/examples/bases/nutanix/cluster/kustomization.yaml.tmpl
  hack/examples/bases/nutanix/clusterclass/kustomization.yaml.tmpl
Due: examples-sync

fix: use type
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixnodeconfigs.yaml
  api/v1alpha1/nutanix_node_types.go
Due: golangci-lint

fix: Do not return error if serviceLoadBalancer field is not set (#611)
  api/v1alpha1/addon_types.go
  pkg/handlers/generic/lifecycle/serviceloadbalancer/handler.go
Due: golangci-lint

fixup! fix: Correct the CSI handler logic
  common/pkg/capi/clustertopology/variables/json.go
  pkg/handlers/generic/lifecycle/csi/handler_test.go
Due: golangci-lint

refactor: Remove unused api/variables package
  api/variables/enums.go
  api/variables/eums_test.go
  api/variables/json.go
Due: golangci-lint

refactor: rename docker-quick-start to just docker
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/docker-cluster-class.yaml
  examples/capi-quick-start/docker-cluster-calico-crs.yaml
  examples/capi-quick-start/docker-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/docker-cluster-cilium-crs.yaml
  examples/capi-quick-start/docker-cluster-cilium-helm-addon.yaml
  hack/examples/bases/docker/cluster/kustomization.yaml.tmpl
  hack/examples/bases/docker/clusterclass/kustomization.yaml.tmpl
  test/e2e/config/caren.yaml
Due: examples-sync

fix: use types directly
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixnodeconfigs.yaml
  api/v1alpha1/nutanix_node_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  pkg/handlers/nutanix/mutation/machinedetails/inject.go
  pkg/handlers/nutanix/mutation/machinedetails/inject_control_plane_test.go
Due: golangci-lint

build: fix aws-sdk-go deps
  common/go.mod
  common/go.sum
  go.mod
  go.sum
Due: golangci-lint

docs: Cluster Autoscaler is deployed on the management cluster (#608)
  docs/content/addons/cluster-autoscaler.md
Due: hugo-mod-tidy

feat: adds GPU mutation (#591)
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixnodeconfigs.yaml
  api/v1alpha1/nutanix_node_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  docs/content/customization/nutanix/machine-details.md
  pkg/handlers/nutanix/mutation/machinedetails/inject.go
  pkg/handlers/nutanix/mutation/machinedetails/inject_control_plane_test.go
Due: golangci-lint, hugo-mod-tidy

build: fix github.com/onsi/gomega deps
  common/go.mod
  common/go.sum
Due: golangci-lint

docs: Fix missing placeholder in "create nutanix cluster" doc (#609)
  docs/content/getting-started/create-cluster/nutanix.md
Due: hugo-mod-tidy

build: fix github.com/nutanix-cloud-native/prism-go-client deps
  common/go.mod
  common/go.sum
Due: golangci-lint

fixup! refactor: Remove unused api/variables package
  api/go.mod
Due: golangci-lint

refactor: Remove unused api/variables package (#623)
  api/go.mod
  api/variables/enums.go
  api/variables/eums_test.go
  api/variables/json.go
Due: golangci-lint

build: Latest devbox update
  devbox.lock
  hack/flakes/flake.lock
  hack/flakes/flake.nix
Due: none

fixup! fix: Correct the CSI handler logic
  api/v1alpha1/addon_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  pkg/handlers/generic/lifecycle/csi/handler.go
  pkg/handlers/generic/lifecycle/csi/handler_test.go
Due: golangci-lint

build: Latest devbox update (#625)
  devbox.lock
  hack/flakes/flake.lock
  hack/flakes/flake.nix
Due: none

refactor: move label helper functions to utils package
  common/pkg/capi/utils/labels.go
  pkg/handlers/generic/mutation/imageregistries/credentials/credentials_secret.go
Due: golangci-lint

refactor: add license header
  common/pkg/capi/utils/labels.go
Due: golangci-lint

refactor: move label helper functions to utils package (#626)
  common/pkg/capi/utils/labels.go
  pkg/handlers/generic/mutation/imageregistries/credentials/credentials_secret.go
Due: golangci-lint

fixup! fix: Correct the CSI handler logic
  pkg/handlers/generic/lifecycle/csi/handler.go
Due: golangci-lint

fix: force ownership option for serverside apply
  common/pkg/k8s/client/apply.go
Due: golangci-lint

fix: use provided options for serverside apply (#627)
  common/pkg/k8s/client/apply.go
Due: golangci-lint

build: Use go1.22.3 toolchain to mitigate vulnerabilties
  api/go.mod
  common/go.mod
  go.mod
Due: golangci-lint

build: Temporary lint config fix until next golangci-lint release
  .golangci.yml
  test/e2e/e2e_suite_test.go
Due: golangci-lint

fix: Correct the CSI handler logic (#603)
  api/v1alpha1/addon_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  common/pkg/capi/clustertopology/variables/json.go
  pkg/handlers/generic/lifecycle/csi/aws-ebs/handler.go
  pkg/handlers/generic/lifecycle/csi/handler.go
  pkg/handlers/generic/lifecycle/csi/handler_test.go
  pkg/handlers/generic/lifecycle/csi/nutanix-csi/handler.go
  pkg/handlers/generic/lifecycle/utils/scs.go
Due: golangci-lint

build: Use go1.22.3 toolchain to mitigate vulnerabilties (#628)
  api/go.mod
  common/go.mod
  go.mod
Due: golangci-lint

fix: Fix the internal CluserConfig type used for provider-agnostic logic (#607)
  pkg/common/clusterconfig/types.go
Due: golangci-lint

build: Temporary lint config fix until next golangci-lint release (#629)
  .golangci.yml
  test/e2e/e2e_suite_test.go
Due: golangci-lint

ci: Add blackduck scanning workflow
  .github/workflows/synopsys.yaml
Due: none

Path conditions:
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-configmap: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+|make/addons.mk$)
