Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-configmap

golangci-lint:
  name: golangci-lint
  entry: make go-generate lint
  language: system
  pass_filenames: false

hugo-mod-tidy:
  name: hugo-mod-tidy
  entry: bash -c "cd docs && hugo mod tidy"
  language: system
  pass_filenames: false

examples-sync:
  name: examples-sync
  entry: make examples.sync
  language: system
  pass_filenames: false

apis-sync:
  name: apis-sync
  entry: make apis.sync
  language: system
  pass_filenames: false

addons-sync:
  name: addons-sync
  entry: make addons.sync
  language: system
  pass_filenames: false

addons-configmap:
  name: addons-configmap
  entry: make generate-helm-configmap
  language: system
  pass_filenames: false

fix: Filter out control plane endpoint from Nutanix node IPs
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/nutanix/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/mindthegap-helm-registry/repos.yaml
  make/addons.mk
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler.go
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler_test.go
Due: golangci-lint, addons-sync, addons-configmap

fix: Filter out control plane endpoint from Nutanix node IPs (#881)
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/nutanix/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/mindthegap-helm-registry/repos.yaml
  make/addons.mk
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler.go
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler_test.go
Due: golangci-lint, addons-sync, addons-configmap

fix: [BACKPORT v0.14] Filter out control plane endpoint from Nutanix node IPs (#882)
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/nutanix/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/mindthegap-helm-registry/repos.yaml
  make/addons.mk
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler.go
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler_test.go
Due: golangci-lint, addons-sync, addons-configmap

release(release/v0.14.x): v0.14.6
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

release(release/v0.14.x): v0.14.6 (#883)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

ci: Always bump patch on release branch
  .github/workflows/release-please.yml
  release-please-config.json
Due: none

fixup! refactor: Update for new k8s packages
  api/go.sum
  go.mod
  go.sum
  pkg/handlers/generic/mutation/encryptionatrest/encryptionprovider_test.go
  pkg/handlers/generic/mutation/encryptionatrest/inject.go
  pkg/webhook/cluster/clusteruuidlabeler.go
  pkg/webhook/cluster/defaulter.go
  pkg/webhook/cluster/vaiidator.go
  test/e2e/ownerreference_helpers.go
Due: golangci-lint

fixup! test(e2e): Add CAPI metadata for v1.8
  test/e2e/data/shared/v1beta1/metadata.yaml
Due: none

fixup! build: k8s v0.30.4
  api/go.mod
  api/go.sum
  common/go.mod
  common/go.sum
Due: golangci-lint

build: Update patch only for local release branch dev builds
  .goreleaser.yml
Due: none

feat: Build with go 1.23
  .goreleaser.yml
  api/go.mod
  api/v1alpha1/nutanix_clusterconfig_types.go
  common/go.mod
  devbox.json
  devbox.lock
  go.mod
  hack/flakes/flake.lock
  hack/flakes/flake.nix
  hack/third-party/capx/go.mod
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler.go
  pkg/handlers/nutanix/mutation/prismcentralendpoint/inject.go
Due: golangci-lint, apis-sync

feat: Upgrade to Calico v3.28.1
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/tigera-operator-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/mindthegap-helm-registry/repos.yaml
  make/addons.mk
Due: addons-sync, addons-configmap

release(main): v0.15.0
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

fixup! release: Update metadata for release
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: none

release(main): v0.15.0 (#887)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: hugo-mod-tidy

build: Update patch only for local release branch dev builds (#888)
  .goreleaser.yml
Due: none

feat: Build with go 1.23 (#889)
  .goreleaser.yml
  api/go.mod
  api/v1alpha1/nutanix_clusterconfig_types.go
  common/go.mod
  devbox.json
  devbox.lock
  go.mod
  hack/flakes/flake.lock
  hack/flakes/flake.nix
  hack/third-party/capx/go.mod
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler.go
  pkg/handlers/nutanix/mutation/prismcentralendpoint/inject.go
Due: golangci-lint, apis-sync

ci: Always bump patch on release branch (#886)
  .github/workflows/release-please.yml
  release-please-config.json
Due: none

feat: Upgrade to Calico v3.28.1 (#890)
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/tigera-operator-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/mindthegap-helm-registry/repos.yaml
  make/addons.mk
Due: addons-sync, addons-configmap

feat: Extract CAAPH values templates to files
  .pre-commit-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/ccm/aws/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/ccm/nutanix/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/cluster-autoscaler/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/calico/aws/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/calico/docker/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/calico/nutanix/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/aws-ebs/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/local-path/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/nutanix/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/snapshot-controller/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/nfd/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/serviceloadbalancer/metallb/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/nutanix/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/aws/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/docker/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/nutanix/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/aws-ebs/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/local-path/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/nutanix/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/snapshot-controller/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/nfd/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/serviceloadbalancer/metallb/helm-addon-installation.yaml
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler_test.go
Due: golangci-lint, addons-sync, addons-configmap

ci: adds missing helm-values files to generate cm
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/kustomize/ccm/aws/manifests/helm-values.yaml
  hack/addons/kustomize/cluster-autoscaler/manifests/helm-values.yaml
  hack/addons/kustomize/cni/cilium/manifests/helm-values.yaml
  hack/addons/kustomize/csi/aws-ebs/manifests/helm-values.yaml
  hack/addons/kustomize/csi/local-path/manifests/helm-values.yaml
  hack/addons/kustomize/csi/snapshot-controller/manifests/helm-values.yaml
  hack/addons/kustomize/nfd/manifests/helm-values.yaml
  hack/addons/kustomize/nfd/manifests/namespace.yaml
  hack/addons/update-aws-ccm.sh
  hack/addons/update-aws-ebs-csi.sh
  hack/addons/update-calico-manifests.sh
  hack/addons/update-cilium-manifests.sh
  hack/addons/update-cluster-autoscaler.sh
  hack/addons/update-local-path-provisioner-csi.sh
  hack/addons/update-node-feature-discovery-manifests.sh
  hack/addons/update-snapshot-controller.sh
  hack/tools/helm-cm/main.go
  hack/tools/mindthegap-helm-reg/main.go
Due: golangci-lint, addons-sync, addons-configmap

fix: changes pkg to use new configmap
  pkg/handlers/generic/lifecycle/addons/helmaddon.go
  pkg/handlers/generic/lifecycle/ccm/aws/handler.go
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler.go
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler_test.go
  pkg/handlers/generic/lifecycle/clusterautoscaler/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/cni/calico/strategy_helmaddon.go
  pkg/handlers/generic/lifecycle/cni/cilium/handler.go
  pkg/handlers/generic/lifecycle/config/cm.go
  pkg/handlers/generic/lifecycle/csi/awsebs/handler.go
  pkg/handlers/generic/lifecycle/csi/localpath/handler.go
  pkg/handlers/generic/lifecycle/csi/nutanix/handler.go
  pkg/handlers/generic/lifecycle/csi/snapshotcontroller/handler.go
  pkg/handlers/generic/lifecycle/nfd/handler.go
  pkg/handlers/generic/lifecycle/serviceloadbalancer/metallb/handler.go
Due: golangci-lint

ci: adds tool to sync
  charts/cluster-api-runtime-extensions-nutanix/addons/ccm/aws/map-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/ccm/aws/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/calico/docker/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/calico/nutanix/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/aws-ebs/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/local-path/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/nutanix/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/snapshot-controller/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/nfd/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/helm-addon-installation.yaml
  hack/addons/kustomize/ccm/aws/manifests/values-template.yaml
  hack/addons/kustomize/cni/calico/manifests/aws/helm-addon-installation.yaml
  hack/addons/kustomize/cni/calico/manifests/aws/values-template.yaml
  hack/addons/kustomize/cni/calico/manifests/docker/values-template.yaml
  hack/addons/kustomize/cni/calico/manifests/nutanix/values-template.yaml
  hack/addons/kustomize/csi/snapshot-controller/manifests/helm-addon-installation.yaml
  hack/addons/kustomize/csi/snapshot-controller/manifests/values-template.yaml
  hack/tools/sync-helm-values/README.md
  hack/tools/sync-helm-values/sync-values.go
  make/addons.mk
Due: golangci-lint, addons-sync, addons-configmap

fix: adds os expansion for NFD version
  charts/cluster-api-runtime-extensions-nutanix/addons/nfd/values-template.yaml
  hack/tools/sync-helm-values/sync-values.go
  pkg/handlers/generic/lifecycle/ccm/aws/handler.go
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler_test.go
  pkg/handlers/generic/lifecycle/csi/awsebs/handler.go
  pkg/handlers/generic/lifecycle/csi/localpath/handler.go
Due: golangci-lint

fix: typo in sync helm values readme
  hack/tools/sync-helm-values/README.md
Due: none

fix: adds pre-commit rule to ignore template files
  .pre-commit-config.yaml
Due: none

fix: rebase issues
  .pre-commit-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/cluster-autoscaler/values-template.yaml
  hack/addons/kustomize/cluster-autoscaler/manifests/helm-values.yaml
Due: addons-sync, addons-configmap

fix: sync helm values readme
  hack/tools/sync-helm-values/README.md
Due: none

ci: adds pre-commit hook
  .pre-commit-config.yaml
Due: none

fix: set create secret to false
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/nutanix/values-template.yaml
  hack/addons/kustomize/csi/nutanix/manifests/values-template.yaml
Due: addons-sync, addons-configmap

fix: runs sync values
  charts/cluster-api-runtime-extensions-nutanix/templates/cluster-autoscaler/manifests/helm-addon-installation.yaml
  hack/addons/kustomize/cluster-autoscaler/manifests/values-template.yaml
  hack/addons/update-cluster-autoscaler.sh
Due: addons-sync, addons-configmap

fix: explain why tigera is skipped
  hack/tools/sync-helm-values/sync-values.go
Due: golangci-lint

fix: precommit files
  charts/cluster-api-runtime-extensions-nutanix/addons/ccm/aws/map-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/ccm/nutanix/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/cluster-autoscaler/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/calico/aws/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/nutanix/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/nfd/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/serviceloadbalancer/metallb/values-template.yaml
  hack/addons/kustomize/ccm/aws/manifests/map-template.yaml
  hack/addons/kustomize/ccm/nutanix/manifests/values-template.yaml
  hack/addons/kustomize/cluster-autoscaler/manifests/values-template.yaml
  hack/addons/kustomize/cni/calico/manifests/aws/values-template.yaml
  hack/addons/kustomize/csi/aws-ebs/manifests/helm-values.yaml
  hack/addons/kustomize/csi/local-path/manifests/helm-values.yaml
  hack/addons/kustomize/csi/nutanix/manifests/values-template.yaml
  hack/addons/kustomize/csi/snapshot-controller/manifests/helm-values.yaml
  hack/addons/kustomize/nfd/manifests/values-template.yaml
  hack/addons/kustomize/serviceloadbalancer/metallb/values-template.yaml
  hack/tools/sync-helm-values/README.md
Due: addons-sync, addons-configmap

fix: make license flag required
  hack/tools/sync-helm-values/sync-values.go
Due: golangci-lint

fix: various pre-commit complaints
  .pre-commit-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/ccm/aws/map-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/ccm/aws/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/ccm/nutanix/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/cluster-autoscaler/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/calico/aws/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/calico/docker/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/calico/nutanix/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/aws-ebs/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/local-path/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/nutanix/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/snapshot-controller/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/nfd/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/serviceloadbalancer/metallb/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/aws/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/docker/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/nutanix/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/nutanix/manifests/helm-addon-installation.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/serviceloadbalancer/metallb/helm-addon-installation.yaml
  hack/addons/kustomize/ccm/aws/manifests/map-template.yaml
  hack/addons/kustomize/ccm/aws/manifests/values-template.yaml
  hack/addons/kustomize/ccm/nutanix/manifests/values-template.yaml
  hack/addons/kustomize/cluster-autoscaler/manifests/values-template.yaml
  hack/addons/kustomize/cni/calico/manifests/aws/values-template.yaml
  hack/addons/kustomize/cni/calico/manifests/docker/values-template.yaml
  hack/addons/kustomize/cni/calico/manifests/nutanix/values-template.yaml
  hack/addons/kustomize/cni/cilium/manifests/values-template.yaml
  hack/addons/kustomize/csi/aws-ebs/manifests/values-template.yaml
  hack/addons/kustomize/csi/local-path/manifests/values-template.yaml
  hack/addons/kustomize/csi/nutanix/manifests/values-template.yaml
  hack/addons/kustomize/csi/snapshot-controller/manifests/values-template.yaml
  hack/addons/kustomize/nfd/manifests/values-template.yaml
  hack/addons/kustomize/serviceloadbalancer/metallb/values-template.yaml
  hack/tools/sync-helm-values/sync-values.go
  make/addons.mk
Due: golangci-lint, addons-sync, addons-configmap

fix: minor pre-commit issues
  .pre-commit-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/addons/cluster-autoscaler/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/cilium-configmap.yaml
  hack/addons/kustomize/cluster-autoscaler/manifests/helm-values.yaml
Due: addons-sync, addons-configmap

fix: reduce need for different files to make hcp and crs
  hack/addons/kustomize/cni/cilium/manifests/helm-values.yaml
  hack/addons/kustomize/cni/cilium/manifests/kustomization.yaml.tmpl
  hack/addons/kustomize/csi/aws-ebs/manifests/helm-values.yaml
  hack/addons/kustomize/csi/aws-ebs/manifests/kustomization.yaml.tmpl
  hack/addons/kustomize/csi/local-path/manifests/helm-values.yaml
  hack/addons/kustomize/csi/local-path/manifests/kustomization.yaml.tmpl
  hack/addons/kustomize/csi/snapshot-controller/manifests/helm-values.yaml
  hack/addons/kustomize/csi/snapshot-controller/manifests/kustomization.yaml.tmpl
  hack/addons/kustomize/nfd/manifests/helm-values.yaml
  hack/addons/kustomize/nfd/manifests/kustomization.yaml.tmpl
Due: addons-sync, addons-configmap

fix: adds values for cilium
  charts/cluster-api-runtime-extensions-nutanix/addons/cni/cilium/values-template.yaml
  hack/addons/kustomize/cni/cilium/manifests/values-template.yaml
Due: addons-sync, addons-configmap

fix: pre-commit check yaml
  .pre-commit-config.yaml
Due: none

Path conditions:
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-configmap: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+|make/addons.mk$)
