Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, check-coredns-versions, golangci-lint, kube-api-linter, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock

schema-chart:
  name: schema-chart
  entry: make schema-chart
  language: system

go-generate:
  name: go-generate
  entry: make go-generate
  language: system
  pass_filenames: false

check-coredns-versions:
  name: check-coredns-versions
  entry: make coredns.sync
  language: system

golangci-lint:
  name: golangci-lint
  entry: make lint
  language: system
  pass_filenames: false

kube-api-linter:
  name: kube-api-linter
  entry: make lint-kube-api
  language: system
  pass_filenames: false

chart-docs:
  name: chart-docs
  entry: make chart-docs
  language: system
  pass_filenames: false

hugo-mod-tidy:
  name: hugo-mod-tidy
  entry: bash -c "cd docs && hugo mod tidy"
  language: system
  pass_filenames: false

examples-sync:
  name: examples-sync
  entry: make examples.sync
  language: system
  pass_filenames: false

apis-sync:
  name: apis-sync
  entry: make apis.sync
  language: system
  pass_filenames: false

addons-sync:
  name: addons-sync
  entry: make addons.sync
  language: system
  pass_filenames: false

addons-repo-yaml:
  name: addons-repo-yaml
  entry: make template-helm-repository
  language: system
  pass_filenames: false

check-devbox-lock:
  name: check-devbox-lock
  entry: devbox install
  language: system
  pass_filenames: false

fixup! refactor: More constants
  common/pkg/capi/clustertopology/patches/selectors/selectors.go
  common/pkg/testutils/capitest/request/items.go
  common/pkg/testutils/capitest/request/items_v1beta1.go
Due: go-generate, golangci-lint

fixup! build: Fix up ko configuration
  .goreleaser.yml
Due: none

fix: Projects support for konnector
  charts/cluster-api-runtime-extensions-nutanix/addons/konnector-agent/values-template.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  docs/content/addons/konnector-agent.md
  hack/addons/helm-chart-bundler/repos.yaml
  hack/tools/fetch-images/main.go
  make/addons.mk
  pkg/handlers/lifecycle/konnectoragent/handler.go
  pkg/handlers/lifecycle/konnectoragent/variables_test.go
Due: go-generate, golangci-lint, chart-docs, hugo-mod-tidy, addons-sync, addons-repo-yaml

fix: remove quay
  charts/cluster-api-runtime-extensions-nutanix/addons/konnector-agent/values-template.yaml
Due: chart-docs

Added comments
  pkg/webhook/preflight/nutanix/filesnfsv4.go
Due: go-generate, golangci-lint

fix: ensure Flow CNI namespaces exist without image pull credentials
  pkg/handlers/lifecycle/cni/nutanixflow/handler.go
  pkg/handlers/lifecycle/cni/nutanixflow/handler_test.go
Due: go-generate, golangci-lint

fix: template syncer image based on Kubernetes version
  charts/cluster-api-runtime-extensions-nutanix/addons/registry-syncer/values-template.yaml
  pkg/handlers/lifecycle/registry/syncer/syncer.go
  pkg/handlers/lifecycle/registry/syncer/syncer_test.go
  pkg/handlers/lifecycle/registry/syncer/testdata/registry-syncer-template.yaml.tmpl
Due: go-generate, golangci-lint, chart-docs

fixup! fix: template syncer image based on Kubernetes version
  pkg/handlers/lifecycle/registry/syncer/syncer_integration_test.go
Due: go-generate, golangci-lint

fix: template syncer image based on Kubernetes version (#1723)
  charts/cluster-api-runtime-extensions-nutanix/addons/registry-syncer/values-template.yaml
  pkg/handlers/lifecycle/registry/syncer/syncer.go
  pkg/handlers/lifecycle/registry/syncer/syncer_integration_test.go
  pkg/handlers/lifecycle/registry/syncer/syncer_test.go
  pkg/handlers/lifecycle/registry/syncer/testdata/registry-syncer-template.yaml.tmpl
Due: go-generate, golangci-lint, chart-docs

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  check-coredns-versions: any of: ^api/versions/coredns.go$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  kube-api-linter: any of: ((^api/(.*\.go|go.mod|go.sum))|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/helm-chart-bundler/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$
