Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, go-generate, check-coredns-versions, golangci-lint, kube-api-linter, chart-docs, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-repo-yaml, check-devbox-lock

Path conditions:
  schema-chart: any of: ^charts/cluster-api-runtime-extensions-nutanix/values.yaml$
  go-generate: any of: (.*\.go|go.mod|go.sum|go.mk)$
  check-coredns-versions: any of: ^api/versions/coredns.go$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  kube-api-linter: any of: ((^api/(.*\.go|go.mod|go.sum))|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-repo-yaml: any of: hack/addons/helm-chart-bundler/repos.yaml
  check-devbox-lock: any of: ^devbox.(yaml|lock)$

fix:precommit fix
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/zz_generated.deepcopy.go
Due: go-generate, golangci-lint, kube-api-linter, apis-sync

fix: add separate deepcopy file for Metro/VHA types to survive apis-sync
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/zz_generated.deepcopy.metro.go
Due: go-generate, golangci-lint, kube-api-linter, apis-sync

feat: stretched cluster changes - bumpup capx
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/ahvmetrozone_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/conditions.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixmachinetemplate_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixmetro_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixmetrosite_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixvirtualhadomain_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/zz_generated.deepcopy.go
  go.mod
  go.sum
  hack/third-party/capx/go.mod
  hack/third-party/capx/go.sum
Due: go-generate, golangci-lint, kube-api-linter, apis-sync

fix: adding preflight checks
  pkg/webhook/preflight/nutanix/failuredomain.go
  pkg/webhook/preflight/nutanix/storagecontainer.go
Due: go-generate, golangci-lint

fix: adding v1.10 in metadata
  test/e2e/data/shared/capx/metadata.yaml
Due: none

fix: bumping capx to latest version 1.10.2
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/conditions.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixmetro_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixmetrosite_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixvirtualhadomain_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/zz_generated.deepcopy.go
  hack/third-party/capx/go.mod
  hack/third-party/capx/go.sum
Due: go-generate, golangci-lint, kube-api-linter, apis-sync

fix: precommit fix
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  examples/capi-quick-start/aws-cluster-calico-crs.yaml
  examples/capi-quick-start/aws-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/aws-cluster-cilium-crs.yaml
  examples/capi-quick-start/aws-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/docker-cluster-calico-crs.yaml
  examples/capi-quick-start/docker-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/docker-cluster-cilium-crs.yaml
  examples/capi-quick-start/docker-cluster-cilium-helm-addon.yaml
Due: chart-docs, examples-sync

fix: pre-commit errors
  hack/examples/overlays/clusterclasses/nutanix/kustomization.yaml.tmpl
  hack/examples/patches/cis/admissionconfiguration-nutanix.yaml
  hack/examples/patches/cis/kubeadmcontrolplanetemplate/control-plane-flags-nutanix.yaml
  hack/examples/patches/stig/kubeadmcontrolplanetemplate/control-plane-flags-nutanix.yaml
Due: examples-sync

fix: update generated examples after CAPX v1.10.2 bump
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  examples/capi-quick-start/aws-cluster-calico-crs.yaml
  examples/capi-quick-start/aws-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/aws-cluster-cilium-crs.yaml
  examples/capi-quick-start/aws-cluster-cilium-helm-addon.yaml
  examples/capi-quick-start/docker-cluster-calico-crs.yaml
  examples/capi-quick-start/docker-cluster-calico-helm-addon.yaml
  examples/capi-quick-start/docker-cluster-cilium-crs.yaml
  examples/capi-quick-start/docker-cluster-cilium-helm-addon.yaml
Due: chart-docs, examples-sync

fix: add clusterctl override for CAPX v1.10 metadata
  make/clusterctl.mk
Due: none

feat: stretched cluster changes (#1661)
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/ahvmetrozone_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/conditions.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixmachinetemplate_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixmetro_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixmetrosite_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixvirtualhadomain_types.go
  api/external/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/zz_generated.deepcopy.go
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  go.mod
  go.sum
  hack/examples/overlays/clusterclasses/nutanix/kustomization.yaml.tmpl
  hack/examples/patches/cis/admissionconfiguration-nutanix.yaml
  hack/examples/patches/cis/kubeadmcontrolplanetemplate/control-plane-flags-nutanix.yaml
  hack/examples/patches/stig/kubeadmcontrolplanetemplate/control-plane-flags-nutanix.yaml
  hack/third-party/capx/go.mod
  hack/third-party/capx/go.sum
  make/clusterctl.mk
  pkg/webhook/preflight/nutanix/failuredomain.go
  pkg/webhook/preflight/nutanix/storagecontainer.go
  test/e2e/data/shared/capx/metadata.yaml
Due: go-generate, golangci-lint, kube-api-linter, chart-docs, examples-sync, apis-sync

chore: bump prism-go-client to v0.6.5 to fix pagination bug
  go.mod
  go.sum
Due: go-generate, golangci-lint

fix: Adding mpio flag for metro clusters - csi
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/nutanix/values-template.yaml
  pkg/handlers/lifecycle/csi/nutanix/handler.go
Due: go-generate, golangci-lint, chart-docs

fix: precommit fix
  hack/tools/fetch-images/main.go
Due: go-generate, golangci-lint

fix: Adding mpio flag for metro clusters - csi (#1665)
  charts/cluster-api-runtime-extensions-nutanix/addons/csi/nutanix/values-template.yaml
  hack/tools/fetch-images/main.go
  pkg/handlers/lifecycle/csi/nutanix/handler.go
Due: go-generate, golangci-lint, chart-docs

revert: remove clusterctl CAPX metadata override setup
  make/clusterctl.mk
Due: none

revert: remove clusterctl CAPX metadata override setup (#1666)
  make/clusterctl.mk
Due: none

feat: preflight checks for metro
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/checker_test.go
  pkg/webhook/preflight/nutanix/metro.go
  pkg/webhook/preflight/nutanix/metro_test.go
Due: go-generate, golangci-lint

fix: bump ccm and make files
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/nutanix-ccm/kustomization.yaml.tmpl
  make/addons.mk
Due: chart-docs, addons-sync, addons-repo-yaml

fix: list-images for chart
  hack/tools/fetch-images/main.go
Due: go-generate, golangci-lint

fix: accumulating all errors for fds
  pkg/webhook/preflight/nutanix/metro.go
  pkg/webhook/preflight/nutanix/metro_test.go
Due: go-generate, golangci-lint

fix: match runners from main branch
  .github/workflows/backport.yml
  .github/workflows/blackduck.yaml
  .github/workflows/checks.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependabot-automation.yml
  .github/workflows/devbox-update.yml
  .github/workflows/e2e.yml
  .github/workflows/github-pages.yml
  .github/workflows/govulncheck.yml
  .github/workflows/release-please.yml
  .github/workflows/release-tag.yml
Due: none

fix: helm chart lint for oci repo
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/nutanix-ccm/kustomization.yaml.tmpl
  hack/tools/mindthegap-helm-reg/main.go
Due: go-generate, golangci-lint, chart-docs, addons-sync, addons-repo-yaml

fix: title lint issue
  .gitlint
Due: none

fix: only change runners and actions version to match main
  .github/workflows/checks.yml
  .github/workflows/e2e.yml
  .github/workflows/github-pages.yml
Due: none

fix: e2e on self-hosted runners
  .github/workflows/e2e.yml
Due: none

build(chore): bump CCM to v0.5.7and fix e2es
  .github/workflows/checks.yml
  .github/workflows/e2e.yml
  api/versions/coredns.go
  api/versions/coredns_test.go
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/nutanix-ccm/kustomization.yaml.tmpl
  hack/tools/fetch-images/main.go
  hack/tools/mindthegap-helm-reg/main.go
  make/addons.mk
Due: go-generate, check-coredns-versions, golangci-lint, kube-api-linter, chart-docs, addons-sync, addons-repo-yaml

build(chore): bump prism-go-client to v0.6.5 and ccm to v0.6.3 (#1664)
  .github/workflows/backport.yml
  .github/workflows/blackduck.yaml
  .github/workflows/checks.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependabot-automation.yml
  .github/workflows/devbox-update.yml
  .github/workflows/e2e.yml
  .github/workflows/github-pages.yml
  .github/workflows/govulncheck.yml
  .github/workflows/release-please.yml
  .github/workflows/release-tag.yml
  .gitlint
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  go.mod
  go.sum
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/nutanix-ccm/kustomization.yaml.tmpl
  hack/tools/fetch-images/main.go
  hack/tools/mindthegap-helm-reg/main.go
  make/addons.mk
Due: go-generate, golangci-lint, chart-docs, addons-sync, addons-repo-yaml

release(release/v0.41.x): v0.41.8
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

fix: update e2e runners to self-hosted-nutanix-docker-medium
  .github/workflows/checks.yml
  .github/workflows/e2e.yml
  api/versions/coredns.go
  api/versions/coredns_test.go
Due: go-generate, check-coredns-versions, golangci-lint, kube-api-linter

release(release/v0.41.x): v0.41.8 (#1669)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

fix: bump up k8s patch versions so that lookup finds the image
  .github/workflows/checks.yml
  make/kind.mk
Due: none

fix: restore CIS/STIG extraArgs lost in CAPX v1.10 upgrade
  charts/cluster-api-runtime-extensions-nutanix/defaultclusterclasses/nutanix-cluster-class.yaml
  hack/examples/overlays/clusterclasses/nutanix/kustomization.yaml.tmpl
  hack/examples/patches/cis/kubeadmcontrolplanetemplate/control-plane-flags-nutanix.yaml
  hack/examples/patches/initialize/kubeadmcontrolplanetemplate/extraargs-nutanix.yaml
  hack/examples/patches/stig/kubeadmcontrolplanetemplate/control-plane-flags-nutanix.yaml
Due: chart-docs, examples-sync

fix: lint error
  clusterctl.yaml
Due: none

fix: add CAPX v1.10 metadata override for clusterctl
  hack/third-party/capx/clusterctl-overrides/infrastructure-nutanix/v1.10.2/metadata.yaml
Due: apis-sync

feat: wire SA for CCM and CAREN
  .specify/features/NCN-114902/plan.md
  .specify/features/NCN-114902/spec.md
  api/go.mod
  api/go.sum
  charts/cluster-api-runtime-extensions-nutanix/addons/ccm/nutanix/values-template.yaml
  docs/content/getting-started/create-cluster/nutanix.md
  docs/content/getting-started/deployment/via-clusterctl.md
  docs/content/getting-started/deployment/via-helm.md
  go.mod
  go.sum
  hack/examples/overlays/clusters/nutanix-auth/api-key/calico/crs/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/nutanix-auth/api-key/calico/helm-addon/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/nutanix-auth/api-key/cilium/crs/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/nutanix-auth/api-key/cilium/helm-addon/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/nutanix-auth/api-key/flow/helm-addon/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/nutanix-auth/api-key/with-failuredomains/cilium/crs/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/nutanix-auth/api-key/with-failuredomains/cilium/helm-addon/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/nutanix-auth/basic-auth/calico/crs/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/nutanix-auth/basic-auth/calico/helm-addon/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/nutanix-auth/basic-auth/cilium/crs/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/nutanix-auth/basic-auth/cilium/helm-addon/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/nutanix-auth/basic-auth/flow/helm-addon/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/nutanix-auth/basic-auth/with-failuredomains/cilium/crs/kustomization.yaml.tmpl
  hack/examples/overlays/clusters/nutanix-auth/basic-auth/with-failuredomains/cilium/helm-addon/kustomization.yaml.tmpl
  hack/examples/patches/nutanix-auth/api-key/pc-credentials-secret.yaml
  hack/examples/patches/nutanix-auth/basic-auth/pc-credentials-secret.yaml
  hack/examples/sync.sh
  make/clusterctl.mk
  pkg/handlers/lifecycle/konnectoragent/handler.go
  pkg/handlers/lifecycle/konnectoragent/variables_test.go
  pkg/webhook/preflight/nutanix/clients.go
  pkg/webhook/preflight/nutanix/credentials.go
  pkg/webhook/preflight/nutanix/credentials_test.go
  test/e2e/config/caren.yaml
Due: go-generate, golangci-lint, kube-api-linter, chart-docs, hugo-mod-tidy, examples-sync

fix: reverting clsuterctl yaml change
  clusterctl.yaml
Due: none

feat: preflight checks for metro (#1667)
  pkg/webhook/preflight/nutanix/checker.go
  pkg/webhook/preflight/nutanix/checker_test.go
  pkg/webhook/preflight/nutanix/metro.go
  pkg/webhook/preflight/nutanix/metro_test.go
Due: go-generate, golangci-lint

build(chore): bump ccm to v0.5.7 and update runners (#1668)
  .github/workflows/checks.yml
  .github/workflows/e2e.yml
  api/versions/coredns.go
  api/versions/coredns_test.go
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  hack/addons/helm-chart-bundler/repos.yaml
  hack/addons/kustomize/nutanix-ccm/kustomization.yaml.tmpl
  hack/tools/fetch-images/main.go
  hack/tools/mindthegap-helm-reg/main.go
  make/addons.mk
  make/kind.mk
Due: go-generate, check-coredns-versions, golangci-lint, kube-api-linter, chart-docs, addons-sync, addons-repo-yaml

release(release/v0.33.x): v0.33.4
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy
