Repository nutanix-cloud-native/cluster-api-runtime-extensions-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, hugo-mod-tidy, examples-sync, apis-sync, addons-sync, addons-configmap

Path conditions:
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  hugo-mod-tidy: any of: ^docs/
  examples-sync: any of: ^(hack/)?examples/
  apis-sync: any of: ^(hack/third-party/|api/external/|make/apis.mk$)
  addons-sync: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+/manifests/|make/addons.mk$)
  addons-configmap: any of: ^(hack/addons/|charts/cluster-api-runtime-extensions-nutanix/templates/.+|make/addons.mk$)

feat: Add feature-gates plumbing
  cmd/main.go
  pkg/features/feature_gates.go
Due: golangci-lint

feat: Update addon versions (#917)
  charts/cluster-api-runtime-extensions-nutanix/README.md
  charts/cluster-api-runtime-extensions-nutanix/templates/ccm/aws/manifests/aws-ccm-v1.30.3-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cluster-autoscaler/manifests/cluster-autoscaler-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/calico/manifests/tigera-operator-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/cilium-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/aws-ebs/manifests/aws-ebs-csi-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/csi/snapshot-controller/manifests/snapshot-controller-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-config.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/virtual-ip/kube-vip/manifests/kube-vip-configmap.yaml
  charts/cluster-api-runtime-extensions-nutanix/values.yaml
  hack/addons/mindthegap-helm-registry/repos.yaml
  make/addons.mk
Due: addons-sync, addons-configmap

fix: autogenerated file to satisfy linter
  api/v1alpha1/zz_generated.deepcopy.go
Due: golangci-lint

build: Fix up metadata missed in v0.16.0 release process
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: none

build: Fix up metadata missed in v0.16.0 release process (#920)
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: none

build: Consistently format even generated files
  .pre-commit-config.yaml
  make/go.mk
  make/make.mk
Due: golangci-lint

feat: Auto renewal of control plane certificates patch
  api/v1alpha1/clusterconfig_types.go
  api/v1alpha1/controlplane_types.go
  api/v1alpha1/crds/caren.nutanix.com_awsclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_dockerworkernodeconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixclusterconfigs.yaml
  api/v1alpha1/crds/caren.nutanix.com_nutanixworkernodeconfigs.yaml
  api/v1alpha1/nodeconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/variables/aggregate_types.go
  docs/content/customization/generic/auto-renewal-of-control-plane-certs.md
  docs/content/customization/generic/encryption-at-rest.md
  pkg/handlers/aws/mutation/ami/variables_test.go
  pkg/handlers/aws/mutation/iaminstanceprofile/variables_test.go
  pkg/handlers/aws/mutation/instancetype/variables_test.go
  pkg/handlers/aws/mutation/securitygroups/variables_test.go
  pkg/handlers/docker/mutation/customimage/variables_test.go
  pkg/handlers/docker/workerconfig/variables.go
  pkg/handlers/docker/workerconfig/variables_test.go
  pkg/handlers/generic/mutation/autorenewcerts/inject.go
  pkg/handlers/generic/mutation/autorenewcerts/inject_test.go
  pkg/handlers/generic/mutation/handlers.go
  pkg/handlers/generic/mutation/taints/variables_test.go
  pkg/handlers/nutanix/mutation/machinedetails/variables_test.go
  pkg/handlers/nutanix/workerconfig/variables.go
  pkg/handlers/nutanix/workerconfig/variables_test.go
Due: golangci-lint, hugo-mod-tidy

build: Consistently format even generated files (#923)
  .pre-commit-config.yaml
  make/go.mk
  make/make.mk
Due: golangci-lint

docs: Update release documentation
  docs/content/contributing/releasing.md
Due: hugo-mod-tidy

release(main): v0.17.0 (#922)
  .release-please-manifest.json
  CHANGELOG.md
  docs/content/contributing/releasing.md
  docs/hugo.toml
  metadata.yaml
  test/e2e/config/caren.yaml
  test/e2e/data/shared/v1beta1-caren/metadata.yaml
Due: hugo-mod-tidy

feat: Enable Hubble Relay in Cilium deployment via CAAPH (#899)
  charts/cluster-api-runtime-extensions-nutanix/templates/cni/cilium/manifests/helm-addon-installation.yaml
  hack/addons/kustomize/cilium/helm-values.yaml
  pkg/handlers/generic/lifecycle/ccm/aws/handler.go
  pkg/handlers/generic/lifecycle/ccm/nutanix/handler.go
  pkg/handlers/generic/lifecycle/cni/cilium/handler.go
  pkg/handlers/generic/lifecycle/csi/awsebs/handler.go
  pkg/handlers/generic/lifecycle/csi/localpath/handler.go
  pkg/handlers/generic/lifecycle/csi/snapshotcontroller/handler.go
  test/e2e/clusterautoscaler_helpers.go
  test/e2e/cni_helpers.go
  test/e2e/framework/self_hosted.go
Due: golangci-lint, addons-sync, addons-configmap

ci: images tool (#822)
  .gitignore
  .goreleaser.yml
  hack/tools/fetch-images/main.go
  hack/tools/go.mod
  hack/tools/go.sum
  make/addons.mk
Due: golangci-lint, addons-sync, addons-configmap

feat: Add feature-gates plumbing (#919)
  cmd/main.go
  pkg/features/feature_gates.go
Due: golangci-lint

fix: Shorten readiness probe period to try to prevent races
  charts/cluster-api-runtime-extensions-nutanix/templates/deployment.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-repository.yaml
Due: addons-configmap

test(e2e): Add v1.30.5 test for Nutanix
  .github/workflows/checks.yml
  .github/workflows/e2e.yml
  README.md
  make/kind.mk
  test/e2e/config/caren.yaml
  test/e2e/e2e_suite_test.go
Due: golangci-lint

fix: Rename webhook container to manager
  charts/cluster-api-runtime-extensions-nutanix/templates/deployment.yaml
Due: addons-configmap

fix(job): explicitly set job name
  .github/workflows/checks.yml
Due: none

fix: Shorten readiness probe period to try to prevent races (#930)
  charts/cluster-api-runtime-extensions-nutanix/templates/deployment.yaml
  charts/cluster-api-runtime-extensions-nutanix/templates/helm-repository.yaml
Due: addons-configmap

fix: Rename webhook container to manager (#932)
  charts/cluster-api-runtime-extensions-nutanix/templates/deployment.yaml
Due: addons-configmap

test(e2e): Add v1.30.5 test for Nutanix (#931)
  .github/workflows/checks.yml
  .github/workflows/e2e.yml
  README.md
  make/kind.mk
  test/e2e/config/caren.yaml
  test/e2e/e2e_suite_test.go
Due: golangci-lint

build: Enable building binary only on macos
  make/goreleaser.mk
Due: none

build(deps): Update clusterctl binary to v1.8.3
  devbox.lock
Due: none

build: Enable building binary only on macos (#918)
  make/goreleaser.mk
Due: none

test(e2e): Use released rocky image
  .github/workflows/e2e.yml
  test/e2e/config/caren.yaml
Due: none

test(e2e): Use released rocky image (#935)
  .github/workflows/e2e.yml
  test/e2e/config/caren.yaml
Due: none

fix: Introduce startup probe to CAREN pod to reduce races
  charts/cluster-api-runtime-extensions-nutanix/templates/deployment.yaml
Due: addons-configmap

build(deps): Update clusterctl binary to v1.8.3 (#929)
  devbox.lock
Due: none

fix: [release/v0.14.x] Rename webhook container to manager (#933)
  charts/cluster-api-runtime-extensions-nutanix/templates/deployment.yaml
Due: addons-configmap

fix: [release/v0.14.x] Introduce startup probe to CAREN pod to reduce races (#934)
  charts/cluster-api-runtime-extensions-nutanix/templates/deployment.yaml
Due: addons-configmap

release(release/v0.14.x): v0.14.9
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

release(release/v0.14.x): v0.14.9 (#936)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

fix: set kube-apiserver BindPort to controlPlaneEndpoint port
  pkg/handlers/generic/mutation/controlplanevirtualip/inject.go
  pkg/handlers/generic/mutation/controlplanevirtualip/inject_test.go
Due: golangci-lint

feat(api): Add kubernetes version to coredns version mapping
  api/versions/coredns.go
  hack/tools/coredns-versions/main.go
  hack/tools/go.mod
  make/apis.mk
Due: golangci-lint, apis-sync

build(gen): Add coredns.sync to pre-commit
  .pre-commit-config.yaml
Due: none

fix(tools): Ensure GetCoreDNSVersion handles canonical semver
  api/go.mod
  api/go.sum
  api/versions/coredns.go
  hack/tools/coredns-versions/main.go
Due: golangci-lint

fixup! docs: Fix kubeadmconfigtemplate spec patch
  docs/content/customization/generic/auto-renewal-of-control-plane-certs.md
Due: hugo-mod-tidy

fix(api): Use blang/semver instead of golang/x/mod/sermver
  api/go.mod
  api/go.sum
  api/versions/coredns.go
  api/versions/coredns_test.go
  hack/tools/coredns-versions/main.go
  hack/tools/go.mod
  hack/tools/go.sum
Due: golangci-lint

feat(api): Add kubernetes version to coredns version mapping (#939)
  .pre-commit-config.yaml
  api/go.mod
  api/versions/coredns.go
  api/versions/coredns_test.go
  hack/tools/coredns-versions/main.go
  hack/tools/go.mod
  hack/tools/go.sum
  make/apis.mk
Due: golangci-lint, apis-sync

fix: use minimal image for NFD
  charts/cluster-api-runtime-extensions-nutanix/templates/nfd/manifests/node-feature-discovery-configmap.yaml
  hack/addons/kustomize/nfd/kustomization.yaml.tmpl
Due: addons-sync, addons-configmap
